@import '../../variable.scss';
.CreateUserProfile{
.infoCard{
  mat-card-header{
    padding: 16px 16px 0px 16px;
  }

  .proImg{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    img{
      border-radius: 50%;
    }
  }
  .uploadBlock{
    background: #F2F2F2;
    padding: 16px;
    border-radius: 35px;
    height: 20vh;
    mat-icon{
      height: 19px !important;
      width: 19px !important;
      font-size: 19px !important;
      display: flex !important;
    }
    .noteMsg{
    position: absolute;
    bottom: 2%;
    font-size: 12px;
    left: 20%;
    font-weight: 600;
    }
    .lebelText{
      text-align: right;
      padding-top: 1.5% !important;
    }
  }

}

    .default-primary-color{
        color: $color-primary-default
    }

    .borderInput{
        ::ng-deep .mat-form-field-infix{border-top: 0px !important;}
        ::ng-deep .mat-form-field-wrapper{padding-bottom: 0px;}
        }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: rgba(0,0,0,.12); }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{border-width: 1px !important;}
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{border-width: 1px !important;}
        /deep/.mat-select-arrow-wrapper{
          display: flex;
          align-items: center;
          justify-content: center;
        }
        /deep/.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline{
          background:#fff;
        }

        ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
          color: red!important;
          opacity: 0.8!important;
        }
    
    /deep/.mat-form-field-subscript-wrapper{
      position: absolute;
      top: 8px;
    }
}