<div class="container-fluid CreateUserProfile padding">
  <div class="grid">
    <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
      <div class="row width100 verticalCenter">
          <div class="col-md-6">
              <h4 class="no-margin">Add User</h4>
            </div>
            <div class="col-md-6 no-padding">
                <p class="no-margin font-13 width100 flex verticalEndCenter">
                    <span class="pointer" [routerLink]="RoleID == 7 ? '/adminDashboard' : '/dashboard'" routerDirection="backward">Home</span> <mat-icon>chevron_right</mat-icon>
                   <span class="secondaryMenu">Add User</span> 
                </p>
              </div>
      </div>
    </div>

        <div class="col-md-12 border-radius padding-vertical">
            <mat-card  class="no-padding">
            <div class="row no-margin height100">
              <div class="col-md-8 no-padding">
                  <mat-card class="no-shadow infoCard no-padding">
                      <mat-card-header>
                        <mat-card-subtitle class="themePrimaryColor">ADD USER</mat-card-subtitle>
                       </mat-card-header>
                       <form [formGroup]="createUser" class="width100" #form="ngForm">
                      <mat-card-content>
                         
                       <div class="col-md-8 offset-md-2">
                       <div class="col margin-bottom">
                         <div class="margin-auto proImg">
                           <img src="/assets/img/CMS/user_profile.png" class="height100 width100">
                         </div>
                       </div>
                       <div class="col">
                        <div class="row" *ngIf="RoleID == 7">
                          <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                              Master Vendor Code<span style="color: red;">*</span>:
                          </div>
                          <div class="col-md-8 colInput">
                              <mat-form-field appearance="outline" class="borderInput font-13">
                              <!-- <mat-select placeholder="Select Master Vendor Code" formControlName="mas_vendore" (selectionChange)="isFormvalid();getVendorsByMaster($event)">
                                <mat-option *ngFor="let data of master_vendors" [value]="data.MasterVendorCode">{{data.MasterVendorCode}}</mat-option>
                            </mat-select> -->

                            <input autocomplete="off" (change)="isFormvalid()" matInput placeholder="" formControlName="mas_vendore"  onDrag="return false" onDrop="return false" >
                              </mat-form-field>
                              <mat-error *ngIf="createUser.get('mas_vendore').hasError('required') && (createUser.get('mas_vendore').touched)" class="matError font-13">Master Vendor is required</mat-error>
                            </div>
                          </div>  
                          <div class="row" *ngIf="RoleID == 7">
                            <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                Vendor Code <span style="color: red;">*</span>:
                            </div>
                            <div class="col-md-8 colInput">
                                <mat-form-field appearance="outline" class="borderInput font-13">
                                <!-- <mat-select placeholder="Select Role" formControlName="Vendore_Code" (selectionChange)="isFormvalid()">
                                  <mat-option *ngFor="let data of vendors" [value]="data.VendorCode">{{data.VendorCode}}</mat-option>
                              </mat-select> -->
                            
                            <input autocomplete="off" (change)="isFormvalid()" matInput placeholder="" formControlName="Vendore_Code"  onDrag="return false" onDrop="return false" >
                                </mat-form-field>
                                <mat-error *ngIf="createUser.get('Vendore_Code').hasError('required') && (createUser.get('Vendore_Code').touched)" class="matError font-13">Vendor Code is required</mat-error>
                              </div>
                            </div>  
                        <div class="row">
                          <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                              User Name <span style="color: red;">*</span>:
                          </div>
                          <div class="col-md-8 colInput">
                              <mat-form-field appearance="outline" class="borderInput font-13">
                                  <input autocomplete="off"  (change)="isFormvalid()" matInput placeholder="" formControlName="user_name"  onDrag="return false" onDrop="return false" >
                                  <!-- <mat-error *ngIf=" createUser.get('first_name').hasError('required')">First name is required</mat-error> -->
                              </mat-form-field>
                              <mat-error *ngIf="createUser.get('user_name').hasError('required') && (createUser.get('user_name').touched)" class="matError font-13" style="color: red;">User Name is required</mat-error>
                            </div>
                          </div>

                         <div class="row">
                                  <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                      First Name <span style="color: red;">*</span>:
                                  </div>
                                  <div class="col-md-8 colInput">
                                      <mat-form-field appearance="outline" class="borderInput font-13">
                                          <input autocomplete="off" appInputListener (change)="isFormvalid()" (keypress)="AcceptlettersOnly($event)" matInput placeholder="" formControlName="first_name" onDrag="return false" onDrop="return false" >
                                          <!-- <mat-error *ngIf=" createUser.get('first_name').hasError('required')">First name is required</mat-error> -->
                                      </mat-form-field>
                                      <mat-error *ngIf="createUser.get('first_name').hasError('required') && (createUser.get('first_name').touched)" class="matError font-13" style="color: red;">First Name is required</mat-error>
                                    </div>
                                  </div>
                              <div class="row">
                                  <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                      Last Name <span style="color: red;">*</span>:
                                  </div>
                                  <div class="col-md-8 colInput">
                                      <mat-form-field appearance="outline" class="borderInput font-13">
                                          <input appInputListener autocomplete="off" (change)="isFormvalid()" (keypress)="AcceptlettersOnly($event)" matInput placeholder="" formControlName="last_name" onDrag="return false" onDrop="return false" >
                                          <!-- <mat-error *ngIf=" createUser.get('last_name').hasError('required')">Last name is required</mat-error> -->
                                      </mat-form-field>
                                      <mat-error *ngIf="createUser.get('last_name').hasError('required') && (createUser.get('last_name').touched)" class="matError font-13" style="color: red;">Last Name is required</mat-error>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                        Work Email <span style="color: red;">*</span>:
                                    </div>
                                    <div class="col-md-8 colInput">
                                        <mat-form-field appearance="outline" class="borderInput font-13">
                                            <input autocomplete="off" (change)="isFormvalid()" (input)="emailValidate()" matInput formControlName="work_email" placeholder="Ex:username@gmail.com"  onDrag="return false" onDrop="return false" >
                                            <!-- <mat-error *ngIf=" createUser.get('work_email').hasError('required')">Work Email is required</mat-error> -->
                                        </mat-form-field>
                                        <mat-error *ngIf="createUser.get('work_email').hasError('required') && (createUser.get('work_email').touched)" class="matError font-13" style="color: red;">Email Id is required</mat-error>
                                        <mat-error *ngIf="createUser.get('work_email').hasError('pattern')&& (createUser.get('work_email').touched)" class="matError font-13">Enter correct email ID</mat-error>
                                        <!-- <mat-error *ngIf="createUser.get('work_email').hasError('email')">Enter correct email ID</mat-error> -->
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                        Cell Phone <span style="color: red;">*</span>:
                                      </div>
                                      <div class="col-md-8 colInput">
                                          <mat-form-field appearance="outline" class="borderInput font-13">
                                            <input appInputListener autocomplete="off" (change)="isFormvalid()" (keypress)="numberOnly($event)" matInput autocomplete="off"  type="text" maxlength="10" placeholder="" formControlName="work_phone"  onDrag="return false" onDrop="return false" >                                           
                                          </mat-form-field>
                                             <mat-error *ngIf="createUser.get('work_phone').hasError('required')&&(createUser.get('work_phone').touched)" class="matError font-13">Phone is required</mat-error>
                                             <mat-error *ngIf="createUser.get('work_phone').hasError('pattern')&&(createUser.get('work_phone').touched)" class="matError font-13">Mobile Number Accept only Numbers & Should be 10 Digits</mat-error>
                                        </div>
                                      </div>
                                <div class="row" *ngIf="RoleID != 7">
                                    <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                        Role <span style="color: red;">*</span>:
                                    </div>
                                    <div class="col-md-8 colInput">
                                        <!-- <mat-form-field appearance="outline" class="borderInput font-13">
                                        <mat-select placeholder="Select Role" formControlName="designation" (selectionChange)="isFormvalid()">
                                          <mat-option *ngFor="let data of supplier_roles" [value]="data.RoleId">{{data.RoleName}}</mat-option>
                                      </mat-select>                                          
                                        </mat-form-field>
                                        <mat-error *ngIf="createUser.get('designation').hasError('required') && (createUser.get('designation').touched)" class="matError font-13">Role is required</mat-error> -->
                                     
                                      <ng-multiselect-dropdown [placeholder]="'Select Role'" [data]="supplier_roles" (onDeSelect)="onItemDeSelect($event)"
                                        (onDeSelectAll)="onDeSelectAll($event)" [(ngModel)]="selectedItems1" [ngModelOptions]="{standalone: true}"
                                        [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                    </ng-multiselect-dropdown> 
                                    <span *ngIf="isDDLTouched" class="font-13" style="color: red;">Role is required</span>  
                                     
                                      </div>
                                    </div> 
                                    
                                    <div class="row" *ngIf="RoleID == 7">
                                      <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                          Role <span style="color: red;">*</span>:
                                      </div>
                                      <div class="col-md-8 colInput">
                                          <!-- <mat-form-field appearance="outline" class="borderInput font-13"> -->
                                            <ng-multiselect-dropdown [placeholder]="'Select Role'" [data]="Roles" (onDeSelect)="onItemDeSelect($event)"
                                            (onDeSelectAll)="onDeSelectAll($event)" [(ngModel)]="selectedItems1" [ngModelOptions]="{standalone: true}"
                                            [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                        </ng-multiselect-dropdown> 
                                        <span *ngIf="isDDLTouched" class="font-13" style="color: red;">Role is required</span>                                        
                                          <!-- </mat-form-field> -->
                                          <!-- <mat-error *ngIf="createUser.get('designation').hasError('required') && (createUser.get('designation').touched)" class="matError font-13">Role is required</mat-error> -->
                                        </div>
                                      </div>
                                      
                                      <div class="row">
                                        <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                          Primary Role <span style="color: red;">*</span>:
                                        </div>
                                        <div class="col-md-8 colInput">
                                       <mat-form-field appearance="outline" class="borderInput font-13">
                                        <mat-select placeholder="Select Role" formControlName="designation" (selectionChange)="isFormvalid()">
                                          <mat-option *ngFor="let data of primary_roles" [value]="data.RoleId">{{data.RoleName}}</mat-option>
                                      </mat-select>                                          
                                        </mat-form-field>
                                        <mat-error *ngIf="createUser.get('designation').hasError('required') && (createUser.get('designation').touched)" class="matError font-13">Primary Role is required</mat-error>
                                      </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                            Allow otp:
                                          </div>
                                          <div class="col-md-8 colInput">
                                        
                                          <mat-checkbox [checked]="otpFlag" (change)="changeOTPFlag($event.checked)"></mat-checkbox>
                                        
                                        </div>
                                          </div>
                                                                         </div>
                         <div class="col text-center">
                           <h2 class="margin-vertical themePrimaryColor">OR</h2>
                         </div>
                       </div>
                       <div class="col-md-10 offset-md-1">
                          <div class="row uploadBlock">
                            <div class="noteMsg">
                               <p class="no-margin">1. Phone number entry can contain only number upto 10 digits. </p> 
                               <p class="no-margin"> 2. Name entry can contain only alphabets.</p>
                               <p class="no-margin"> 3. Email entry can contain only @email.com</p>
                             </div>
                              <div class="col-md-2 colInputHeader  font-14 no-padding lebelText">
                                Upload File <span style="color: red;"></span>:
                              </div>
          
                              <div class="col-md-4 colInput no-padding-right">
                                  <mat-form-field appearance="outline" class="borderInput font-13">
                                      <input matInput placeholder="" formControlName="upload_excel">
                                      <mat-error *ngIf="createUser.get('upload_excel').hasError('required')">File is required</mat-error>
                                  </mat-form-field>
                                </div>
          
                              <div class="col-md-3  no-padding-right vertcalAligment">
                                <label for="file-input1" #fileLabel class="no-margin text-center" color="theme-gray-button" style="cursor: pointer;" matTooltip="This File Accepts Only .XLSX Format" matTooltipPosition="above">
                                    Upload File
                                <input id="file-input1" #fileInput (click)="fileInput.value = null" (change)="detectFiles($event)" type="file" style="display:none;"/>
                                  </label>
                                </div>
                                <!-- <div *ngIf="isDisabled" class="col-md-3  no-padding-right vertcalAligment">
                                  <label for="file-input1" #fileLabel class="no-margin text-center" color="theme-gray-button" style="cursor: pointer;" matTooltip="This File Accepts Only .XLSX Format" matTooltipPosition="above">
                                      Upload File
                                  <input id="file-input1" #fileInput (click)="fileInput.value = null" (change)="detectFiles($event)" type="file" style="display:none;"/>
                                    </label>
                                  </div> -->
                                  <div class="col-md-3 no-padding-right">
                                    <div class="vertcalAligment">
                                      <button (click)="DownloadTemplate()" color="theme-green-button" class="verticalMiddleCenter">
                                        <mat-icon  class="flex margin-right-10 disInlineBlock" svgIcon="excelIcon"></mat-icon>
                                        Download</button>
                                     </div>
                                  </div>
                              </div>
          
                       </div>
                     
                      </mat-card-content>
                      <mat-card-footer class="padding verticalMiddleCenter no-margin text-center">
                          <div class="col">
                             <div class="primaryFormBtn disInlineBlock">
                              <button (click)="submit()" color="theme-red-button" type="submit">Submit</button> 
                            </div>
                            </div>
                       </mat-card-footer>
                      </form>
                     </mat-card>
              </div>
              <div class="col-md-4 no-padding">
                  <div class="height100">
                    <img src="/assets/img/CMS/adduserimage.png" class="height100 width100">
                   </div>
              </div>
            </div>
            </mat-card>
        </div>
    </div>
 </div>
