
<div class="container-fluid padding">
  <div class="grid">
  <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
      <div class="row width100 verticalCenter">
          <div class="col-md-6">
              <h4 class="no-margin">Tier 2/3</h4>
            </div>
            <div class="col-md-6 no-padding">
                <p class="no-margin font-13 width100 flex verticalEndCenter">
                    <span class="pointer" style="cursor: pointer;" [routerLink]="'/dashboard'" routerDirection="backward">Home</span> <mat-icon>chevron_right</mat-icon>
                    <span class="secondaryMenu" [routerLink]="'/selfAssessment'" routerDirection="backward" routerDirection="backward">Self Assessment</span> <mat-icon>chevron_right</mat-icon>
                    <span class="secondaryMenu">Tier 2/3</span>
                </p>
              </div>
      </div>
    </div>
    <mat-card class="no-padding">
        <div class="col-md-12 transactionPanel padding leftformBlock QualityBlocks">
          <div class="col-md-12">
            <div class="row no-margin borderBottom">
              <div class="col-md-5 no-padding-left">
                  <div class="col subHdr text-transform-capitalize padding no-padding-left"> <h3 class="no-margin">Supplier Tier 2/3 Information</h3> </div>
              </div>
              <div class="col-md-3 verticalEndCenter no-padding-right">
                  <mat-form-field appearance="outline" class="borderInput font-13">
                      <input placeholder="Search by vendor name" (keyup)="applyFilter($event.target.value)" matInput>
                  </mat-form-field>
              </div>
              <div class="col-md-2 verticalEndCenter no-padding-right">
                  <div class="verticalMiddleCenter width100">
                      <button color="theme-red-button"  (click)="openSupplierModal(addSupplierTier,'','Submit')">Add Supplier</button> 
                    </div>
              </div>
              <div class="col-md-2 verticalEndCenter no-padding-right">
                <div class="verticalMiddleCenter width100">
                    <button (click)="getqualityTierData(year,null,{pageIndex:0})" color="theme-red-button" >Fetch {{ year == 'Current' ? "Current" : "Previous" }} Year's Data</button> 
                    <!-- <button *ngIf="fetchYear=='Current'" (click)="getqualityTierData('FY 2020',null,{pageIndex:0})" color="theme-red-button" >Fetch Current Year's Data</button>  -->
                  </div>
            </div>
            </div>
          </div>   
        <mat-card class="no-padding no-shadow CMCard">
              <mat-card-content class="no-margin height100">
              <div class="col-md-12 height100">
                  <div class="example-container tbl_New_Layout height100">
                      <div class="table-container">
                    <table mat-table  class="lessons-table" [dataSource]="QualityTierDataSource">
                  <ng-container matColumnDef="ID">
                        <th mat-header-cell *matHeaderCellDef class="text-center">ID</th>
                        <td mat-cell *matCellDef="let element" class="text-center">
                          {{ element.ID || "N/A" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="VendorName">
                          <th mat-header-cell *matHeaderCellDef>Vendor Name</th>
                          <td mat-cell *matCellDef="let element" >
                            {{ element.VendorName || "N/A" }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="VendorSize">
                          <th mat-header-cell *matHeaderCellDef>Vendor Size</th>
                          <td mat-cell *matCellDef="let element" text-center>
                            {{ element.VendorSize || "N/A" }}
                            </td>
                          </ng-container>
                          <ng-container matColumnDef="VendorTier">
                              <th mat-header-cell *matHeaderCellDef>Vendor Tier</th>
                              <td mat-cell *matCellDef="let element" text-center>
                                {{ element.VendorTier || "N/A" }}
                                </td>
                              </ng-container>
                              <ng-container matColumnDef="Address">
                                <th mat-header-cell *matHeaderCellDef>Address</th>
                                <td mat-cell *matCellDef="let element" text-center>
                                  {{ element.FullAddress || "N/A" }}
                                  </td>
                                </ng-container>
                                <ng-container matColumnDef="action">
                                  <th mat-header-cell *matHeaderCellDef class="text-center">Action</th>
                                  <td mat-cell *matCellDef="let element" class="text-center">
                                    <mat-icon  class="editIcon" svgIcon="edit" matTooltip="Edit" (click)="openSupplierModal(addSupplierTier,element,'Update')"></mat-icon>
                                </td>
                                  </ng-container>
                      <tr mat-header-row  *matHeaderRowDef="supplierTierdisplayedColumns;sticky: true"></tr>
                      <tr mat-row *matRowDef="let row; columns: supplierTierdisplayedColumns"></tr>
                    </table>
                    <!-- <div *ngIf="QualityTierDataSource.data._value.length == 0">No records found</div> -->
                    </div>
                    <mat-paginator  [length]="pageSize"  [pageSize]="5"  [pageIndex]="pageNo"
                    (page)="getqualityTierData('FY 2020',null,$event)">
                  </mat-paginator>
                </div>
              </div>
                </mat-card-content>
            </mat-card> 


        </div>
      </mat-card>
  </div>
</div>

<ng-template #addSupplierTier let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">Tier 2/3 Supplier Info</h3>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="qualityTierForm" #TierForm="ngForm">
    <div class="row">
      <div class="col-md-4 no-padding-right">
          <div class="row">
              <div class="col-md-6 colInputHeader verticalEndCenter font-13 required-field no-padding-right">
                  Vendor Name:
              </div>
              <div class="col-md-6 colInput">
                  <mat-form-field appearance="outline" class="borderInput font-13">
                      <input autocomplete="off" matInput (keypress)="lettersOnly($event)" formControlName="vendor_name">
                      <mat-error *ngIf="qualityTierForm.get('vendor_name').touched && qualityTierForm.get('vendor_name').hasError('required')">Vendor name is required</mat-error>
                   </mat-form-field>
                  
              </div>
          </div>
        </div>
      <div class="col-md-4 no-padding-right">
          <div class="row">
              <div class="col-md-6 colInputHeader verticalEndCenter font-13  no-padding-right">
                  Vendor Tier:
              </div>
              <div class="col-md-6 colInput">
                <mat-form-field appearance="outline" class="borderInput font-13">
                  <mat-select formControlName="Vendor_Tier">
                    <mat-option value="Tier 2">Tier 2</mat-option>
                    <mat-option value="Tier 3">Tier 3</mat-option>
                    <!-- <mat-option *ngFor="let data of Type_of_Supplies" [value]="data.SupplierTier2n3MasterID">{{data.CategoryValue}}</mat-option> -->
                </mat-select>
                 </mat-form-field>
              </div>
          </div>
         </div>
      <div class="col-md-4">
          <div class="row">
              <div class="col-md-6 colInputHeader verticalEndCenter font-13 required-field no-padding-right">
                  Vendor Size: :
              </div>
              <div class="col-md-6 colInput">
                <mat-form-field appearance="outline" class="borderInput font-13">
                  <mat-select formControlName="vendor_size">
                    <mat-option *ngFor="let data of Vendor_size" [value]="data">{{data}}</mat-option>
                </mat-select>
                <mat-error *ngIf="qualityTierForm.get('vendor_size').touched && qualityTierForm.get('vendor_size').errors?.required">Vendor size is required</mat-error> 
                 </mat-form-field>
                
              </div>
          </div>
        </div>
    </div>
    <hr>
    <div class="row">
      <h4 class="width100 margin-horizontal"><b>Address Details:</b></h4>
      <div class="col-md-4 no-padding-right">
          <div class="row">
              <div class="col-md-6 colInputHeader verticalEndCenter font-13  no-padding-right">
                  Address:
              </div>
              <div class="col-md-6 colInput">
                <mat-form-field appearance="outline" class="borderInput font-13">
                <textarea maxlength="200" formControlName="Address" matInput rows="1"></textarea>
              </mat-form-field>
              <div style="font-size: 10px">
              Eg: M&M,Samta Nagar Rd,Kandivali East
            </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 colInputHeader verticalEndCenter font-13 required-field no-padding-right">
                  City:
              </div>
              <div class="col-md-6 colInput">
                <mat-form-field appearance="outline" class="borderInput font-13">
                  <mat-select formControlName="City"> 
                    <mat-option *ngFor="let data of city" [value]="data.City">{{data.City}}</mat-option>
                    <!-- <mat-option>ISO/TS</mat-option>
                    <mat-option>ISO/TS</mat-option> -->
                </mat-select>
                <mat-error *ngIf="qualityTierForm.get('City').touched && qualityTierForm.get('City').errors?.required">City is required</mat-error> 
                 </mat-form-field>
                
              </div>
          </div>
          </div>
          <div class="col-md-4 no-padding-right">
              <div class="row">
                  <div class="col-md-6 colInputHeader verticalEndCenter font-13 required-field no-padding-right">
                      Country:
                  </div>
                  <div class="col-md-6 colInput">
                    <mat-form-field appearance="outline" class="borderInput font-13">
                      <mat-select (selectionChange)="getState($event)" formControlName="Country">
                        <mat-option *ngFor="let data of country" [value]="data.Country">{{data.Country}}</mat-option>
                        <!-- <mat-option>ISO/TS</mat-option>
                        <mat-option>ISO/TS</mat-option> -->
                    </mat-select>
                    <mat-error *ngIf="qualityTierForm.get('Country').touched && qualityTierForm.get('Country').errors?.required">Country is required</mat-error> 
                     </mat-form-field>
                    
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6 colInputHeader verticalEndCenter font-13 required-field no-padding-right">
                      Postal/Zip Code:
                  </div>
                  <div class="col-md-6 colInput">
                      <mat-form-field appearance="outline" class="borderInput font-13">
                          <input autocomplete="off" matInput maxlength="6" minlength="6" onPaste="return false" (keypress)="numberOnly($event)" type="tel" formControlName="Zip_Code">
                          <mat-error *ngIf="qualityTierForm.get('Zip_Code').touched && qualityTierForm.get('Zip_Code').hasError('required')">Zip_Code is required</mat-error> 
                          <mat-error *ngIf="qualityTierForm.get('Zip_Code').hasError('minlength')">Zip code should be 6 digit</mat-error> 
                        </mat-form-field>
             
                  </div>
              </div>
              </div>
              <div class="col-md-4">
                  <div class="row">
                      <div class="col-md-6 colInputHeader verticalEndCenter font-13 required-field no-padding-right">
                          State:
                      </div>
                      <div class="col-md-6 colInput">
                        <mat-form-field appearance="outline" class="borderInput font-13">
                          <mat-select (selectionChange)="getCity($event)" formControlName="State">
                            <mat-option *ngFor="let data of state" [value]="data.State">{{data.State}}</mat-option>
                            <!-- <mat-option>ISO/TS</mat-option>
                            <mat-option>ISO/TS</mat-option> -->
                        </mat-select>
                        <mat-error *ngIf="qualityTierForm.get('State').touched && qualityTierForm.get('State').errors?.required">State is required</mat-error> 
                         </mat-form-field>
                       
                      </div>
                  </div>
                  <!-- <div class="row">
                      <div class="col-md-6 colInputHeader verticalEndCenter font-13"></div>
                      <div class="col-md-6 colInput">
                          <div class="">
                              <button class="" color="theme-red-button">Verify Address</button> 
                            </div>
                      </div>
                  </div> -->
                  </div>
    </div>
    <hr>
    <!-- <div class="row">
        <h4 class="width100 margin-horizontal"><b>Contact details of owner/ key person of Tier II/ Tier II vendor:</b></h4>
        <div class="col-md-4 no-padding-right">
            <div class="row">
                <div class="col-md-6 colInputHeader verticalEndCenter font-13 required-field no-padding-right">
                    Name:
                </div>
                <div class="col-md-6 colInput">
                    <mat-form-field appearance="outline" class="borderInput font-13">
                        <input matInput formControlName="Name">
                        <mat-error *ngIf="qualityTierForm.get('Name').touched && qualityTierForm.get('Name').hasError('required')">Name is required</mat-error> 
                     </mat-form-field>
                   
                </div>
            </div>
         
            </div>
            <div class="col-md-4 no-padding-right">
                <div class="row">
                    <div class="col-md-6 colInputHeader verticalEndCenter font-13 required-field no-padding-right">
                        Cell Number:
                    </div>
                    <div class="col-md-6 colInput">
                        <mat-form-field appearance="outline" class="borderInput font-13" >
                            <input autocomplete="off" matInput maxlength="10" minlength="10" onPaste="return false" (keypress)="numberOnly($event)" type="tel" formControlName="Cell_Number">
                            <mat-error *ngIf="qualityTierForm.get('Cell_Number').touched && qualityTierForm.get('Cell_Number').hasError('required')">Cell Number is required</mat-error> 
                            <mat-error *ngIf="qualityTierForm.get('Cell_Number').hasError('minlength')">Cell Number should be 10 digit</mat-error> 
                         </mat-form-field>
                    </div>
                </div>
               </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6 colInputHeader verticalEndCenter font-13 required-field no-padding-right">
                            Email ID:
                        </div>
                        <div class="col-md-6 colInput">
                            <mat-form-field appearance="outline" class="borderInput font-13">
                                <input autocomplete="off" matInput formControlName="Email_ID">
                                <mat-error *ngIf="qualityTierForm.get('Email_ID').touched && qualityTierForm.get('Email_ID').hasError('required')">Email ID is required</mat-error> 
                            
                             </mat-form-field>
                             <mat-error *ngIf="qualityTierForm.get('Email_ID').hasError('pattern')&& (qualityTierForm.get('Email_ID').touched)" class="matError font-13">Email id should accept "@email.com" format</mat-error>
                             </div>
                    </div>
        </div>
      </div> -->
    </form>
  </div>
  <div class="modal-footer">
    <div class="col text-center">
        <div class="primaryFormBtn disInlineBlock margin-right-10">
            <button (click)="addqualityTierData()" color="theme-red-button">{{btn_name}} Data</button> 
          </div>
        </div>
     
       
  </div>
</ng-template>