@import '../../../variable.scss';
$newsUpdatesBG: #BFBFBF;
$ticketStatusBG:#5F5F5F;
.triangle-class{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  top: -2%;
  right: 3%;
}
.modal-content{
  top:20px !important;
}
.notificationModal{
  .modal-body{
        .modalConatiner{
            // padding: 40px;
            p{
                color: $color-foreground-tertiary;
            }
            h3{
              color: #525252;
            }
            .highlight{
              background-color: white;
            }
            .nothighlight{
              background-color: lightblue;
              cursor:  pointer !important;
            }
           
        }
    }

    .full-width{
        width:100%;
    }
    .pointer {cursor: pointer;}
    .borderInput mat-icon{
      font-size: 18px;
      height: 18px;
      width: 18px;
      display: flex;
      opacity: 0.4;
    }

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix input {
        /* padding: 1em 0 1em 0; */
      padding: 0px 0px 0px 15px;
    }


    // ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    //     /* padding: 1em 0 1em 0; */
    //     padding:0.5em 0 1.0em 0;
    // }

     
      ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
        border-radius: 50px !important;
        box-sizing: border-box;
        color:white;
        box-shadow: 0px 0px 0px grey;
      }
      ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
        border-radius: 50px !important;
        box-shadow: 0 4px 8px rgba(0,30,84,.12), 0 1px 3px rgba(0,30,84,.08);
        //color:white;
      }

      .borderInput{
        ::ng-deep .mat-form-field-infix{border-top: 0px !important;}
        ::ng-deep .mat-form-field-wrapper{padding-bottom: 0px;}
        }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: rgba(0,0,0,.12); }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{border-width: 1px !important;}
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{border-width: 1px !important;}
        /deep/.mat-form-field-appearance-outline .mat-form-field-infix { padding: 1.5em 0 1.5em 0; }
        /deep/.mat-select-arrow-wrapper{
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .close{
          position: absolute;
          right: 0%;
          top: 0%;
          cursor: pointer;
        }
        .subContent{
          color: #8e8383;
        }
       
       
}

.liquidityContainer{
  height: 50vh;
  overflow-y: auto;
  .notificationCard{
    // box-shadow: 0 1px 3px rgba(0,16,44,.08), 0 2px 4px rgba(0,16,44,.12);
     border-bottom: 1px solid #eee;
     border-radius: 0px;
     box-shadow: none !important;
     padding: 16px !important;
     mat-card-content{
       /deep/.iconBlock{
         display: flex;
         align-items: baseline;
         justify-content: center;
         flex: 0 0 5% !important;
        max-width: 5% !important;
        padding-top: 5px;
         .mat-icon{
           height: 15px;
           width: 15px;
           font-size: 15px;
           font-weight: 600;
         }
       }
     }
    // .borderBottom{border-bottom: 1px solid #F4F4F4;}
     .mainContent{color:#000;}
     .subContent{color: #ACACAC;}

   }
   .nothighlight{
    background-color: #eae5e5 !important;
    cursor:  pointer !important;
    .mainContent{
    font-weight: 600 !important;  
    }
    .subContent{
      font-weight: 600 !important; 
      color: gray !important;
    }
    .mat-icon{
      color: #e33045;
      font-weight: 600; 
    }
  }
}
.modal-header{
  .subHdr{
    font-size: 13px;
    color: #000;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: flex-start; */
    text-align: right;
    position: absolute;
    right: 7%;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    top: 5%;
  }
}
