<div class="triangle-class"></div>
<div class="modal-header">
  <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">Notifications <span class="subHdr">( Unread : {{UnReadCount}} )</span></h3>
  <button type="button" class="close pointerCursor" aria-label="Close" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="modal-body liquidityContainer no-padding">
  <div class="col-md-12 no-padding" *ngIf="notificationData.length > 0">
  <mat-card class="no-padding  notificationCard borderBottom" *ngFor="let notifications of notificationData;let i=index" (click)="viewedNotification(notifications,'clicked'+notifications.NotificationId)" [ngClass]="{'highlight': notifications.IsRead == true, 'nothighlight': notifications.IsRead != true}">
    <mat-card-content class="">
    <div class="row">
      <div class="col-md-1 iconBlock">
          <mat-icon>adjust</mat-icon>
      </div>
      <div class="col-md-11 no-padding-left">
          <p class="margin-bottom-5 font-15 fontW-500 mainContent">{{notifications.NotificationText}}</p>
          <p class="font-12 fontW-500 no-margin subContent">{{notifications.CreatedDate | date:'dd/MM/yyyy'}}</p>
        </div>
      </div>
   
    </mat-card-content>
  </mat-card>
  <div class="col-md-12 no-padding" style="text-align: center;">
  
      <p (click)="getNotification('get')" class="pointer">See more</p>
  
    
  
    
    </div>
  <!-- <mat-paginator [length]="pageSize" [pageSize]="10" [pageIndex]="pageNo"
  (page)="pageEvent = getNotification($event)">
</mat-paginator> -->
   
  </div>
   </div>

