<div class="modal-header">
  <h3 class="modal-title themePrimaryColor fontW-600" *ngIf="pageName !='Login'">Message board</h3>
  <h3 class="modal-title themePrimaryColor fontW-600" *ngIf="pageName =='Login'">News and Events</h3>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="modal-body whatsNewModal">
  <div class="col-md-12 no-padding">
      <div class="img-div">
          <img  src="{{passedData.ImagePath}}" class="width100 height100" *ngIf="pageName !='Login'"/>
          <img  src="{{passedData._Get_Img_Video[0].ImagePath}}" class="width100 height100" *ngIf="pageName =='Login'"/>
        </div>
        <div class="col no-padding">
        <p class="fontW-700 margin-top margin-bottom-10 font-15" [innerHtml]="passedData.ContentName | safePipe"></p>
        <p class="font-13 subContent" [innerHtml]="passedData.SubContentName | safePipe" ></p>
        </div>
    </div>
    <div *ngIf="pageName !='Login' && passedData.documentPath[1]">
        <div *ngFor="let doc of passedData.documentPath; let i = index">
            <p *ngIf="i != 0">
              <span *ngIf="doc.DocumentName">Attachment {{ i }}: <a target="_blank" [href]="doc.ImagePath">{{ doc.DocumentName }}</a></span>
              <span *ngIf="!doc.DocumentName">Attachment {{ i }}: <a target="_blank" [href]="doc.ImagePath">View Attachment</a></span>
            </p>
          </div>
      </div>
    <div *ngIf="pageName == 'Login'">
        <div *ngFor="let doc of passedData._Get_Img_Video; let i = index">
            <p *ngIf="i != 0"> 
              <span *ngIf="doc.DocumentName">Attachment {{ i }}: <a target="_blank" [href]="doc.ImagePath">{{ doc.DocumentName }}</a></span>
              <span *ngIf="!doc.DocumentName">Attachment {{ i }}: <a target="_blank" [href]="doc.ImagePath">View Attachment</a></span>
            </p>
          </div>
      </div>
</div>
<!-- <div class="modal-footer text-center">
   <div class="primaryBtn verticalEndCenter">
        <button class="" color="theme-red-button"  *ngIf="pageName !='Login' && passedData.documentPath[1]" (click)="viewContent(passedData.documentPath[1].ImagePath)">View</button> 
        <button class="" color="theme-red-button"  *ngIf="pageName =='Login'" (click)="viewContent(passedData._Get_Img_Video[1].ImagePath)">View</button> 
      </div>
</div> -->
<!-- <div class="container-fluid whatsNewModal padding scroll-div" style="display:none;">
  <div class="modal-header">
    <h3 class="modal-title themePrimaryColor fontW-600">What's New</h3>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <mat-icon>close</mat-icon>
    </button>
   </div>
  <div class="modal-body">
    <div class="col-md-12 no-padding">
      <div class="col no-padding imgContiner">
          <img  src="{{passedData.ImagePath}}" class="width100 height100"/>
      </div>
      <div class="col">
        <p class="fontW-700 margin-top margin-bottom-10 font-15">{{passedData.ContentName}}</p>
        <p class="font-13 subContent">{{passedData.SubContentName}}</p>
      <a class="font-13 subContent IdeaNumberDraft1 IdeaNumberDraft" (click)="viewContent(passedData.Link)">View</a>
      </div>
    </div>
   
  </div>
</div> -->