@import '../../../variable.scss';
$newsUpdatesBG: #BFBFBF;
$ticketStatusBG:#5F5F5F;
.whatsNewModal{
    height: 70vh;
    overflow-y: auto;
 .img-div{ height: 300px;border: 1px solid #eee;}
 .subContent{color: #999999;}

}