.SupplierCodeofConduct{
    .internalConatiner{
        border: 1px solid #eee;
        .bulletPoints{
            height: 13px;
            width: 13px;
            // font-size: 15px;
            opacity: 0.7;
        }
        .pdfBlock{
            border: 1px solid #eee;
            height: 45vh;
            overflow-y: auto;
        }
        .linkBlock{
            border:  1px solid #eee;
            font-size: 11px;
            color: black;
        }
        .btncenter{
            margin: 0 43%;
        }
        .height70{
            height: 70%;
        }
        .btnBlock{
            display: inline-block;
            // border: 1px solid #eee;
            height: 5vh;
            text-align: center;
            cursor: pointer;
            border-radius: 3px;
        }
        .documentIcon{
            height: 16px;
            width: 16px;
        }
    }
    .borderInput{
        ::ng-deep .mat-form-field-infix{border-top: 0px !important;}
        ::ng-deep .mat-form-field-wrapper{padding-bottom: 0px;}
        }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: rgba(0,0,0,.12); }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{border-width: 1px !important;}
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{border-width: 1px !important;}
        /deep/.mat-select-arrow-wrapper{
          display: flex;
          align-items: center;
          justify-content: center;
        }  
        .border{
            border: 1px solid #eee
        }
        .lightGary{
            color: #a09898;
        }
}
.coc_title{
    text-align: center;
    font-size: 1.4em;
}
ul{
    list-style: circle;
    color: #e33045;
    li{
        font-size: 1em;
        padding: 4px;
    }
}
.height70{
    height: 70%;
}
.link{
    cursor: pointer;
}
.IdeaNumberDraft1{ color: royalblue !important }
.IdeaNumberDraft1:hover{cursor: pointer !important; text-decoration: underline; color: royalblue !important}
