<div class="container-fluid SupplierCodeofConduct padding">
    <div class="grid" >
      <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
            <div class="row width100 verticalCenter">
            <div class="col-md-6">
            <h4 class="no-margin">Supplier Code of Conduct</h4>
            </div>
            <div class="col-md-6 no-padding">
            <p class="no-margin font-13 width100 flex verticalEndCenter">
              <span class="pointer"  [routerLink]="RoleID == '7' ? '/adminDashboard' : '/dashboard'" routerDirection="backward">Home</span><mat-icon>chevron_right</mat-icon>
            <span class="secondaryMenu">Supplier Code of Conduct</span> 
            </p>
            </div>
            </div>
            </div>
        <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
            <mat-card class="no-padding mainOuterCardContainer">
                    <div class="col-md-12 padding height100" >
              <!-- <div class="col-md-12 padding height100" > -->
                <div class="internalConatiner padding border-radius-3 height100">
                <h3 class="text-center fontW-600 "> M&M SUPPLIER CODE OF CONDUCT </h3>
                <!-- <p class="text-center"> (to be acknowledged by Supplier Owner/CEO/Authorized personnel)</p> -->
                <!-- <div class="row margin-bottom">
                  <div class="col-md-6">
                      <div class="row">
                          <div class="col-md-5 colInputHeader verticalEndCenter font-13 required-field"> Name:</div>
                          <div class="col-md-7 colInput">
                            <mat-form-field appearance="outline" class="borderInput font-13">
                                <input matInput [(ngModel)]="supplierName" readonly>
                            </mat-form-field> 
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="row">
                          <div class="col-md-5 colInputHeader verticalEndCenter font-13 required-field"> Designation:</div>
                          <div class="col-md-7 colInput">
                            <mat-form-field appearance="outline" class="borderInput font-13">
                                <input matInput [(ngModel)]="designation" readonly>
                            </mat-form-field> 
                          </div>
                      </div>
                  </div>
                </div> -->
                <!-- <div class="row height70">
                  <div class="col-md-12">
                    <div class="pdfBlock border-radius-3">
                    
                      <iframe [src]="pdfSrc1" style="width:600px; height:500px;" frameborder="0"></iframe>
                        <pdf-viewer [src]="pdfSrc" [render-text]="true" style="display: block;"></pdf-viewer>
                        <embed [src]="pdfSrc" style="display: block;">
                          <div>
                         
                            <div class="col no-padding">
                              <h3 class="themePrimaryColor"><mat-icon class="margin-right-10 bulletPoints" svgIcon="checkIcon"></mat-icon>Background</h3>
                              <p class="font-13">
                                  Over the last seven decades of its existence, Mahindra & Mahindra Limited ('M&M') has earnedan impeccable reputation as an industrial house of very high level of ethical practices and goodgovernance. M&M's high standards of integrity, impartiality, equity and objectivity are thehallmark of its dealings with its Suppliers and all stakeholders.
                              </p>
                            </div>
                            <div class="col no-padding">
                              <h3 class="themePrimaryColor"><mat-icon class="margin-right-10 bulletPoints" svgIcon="checkIcon"></mat-icon>Objective</h3>
                              <p class="font-13">
                                  M&M values its reputation for conducting business in a legally compliant and ethical manner. Consistent with this commitment, M&M wants to do business with those who share its values and culture of fair and ethical business practices. M&M has developed this Supplier Code of Conduct (hereinafter referred to as the “Code”) to guide its Suppliers as to how to engage in ethical, responsible, and legal business practices in their operations around the world. This Code is applicable to all ‘Suppliers’ i.e. domestic and international. Suppliers here refer to suppliers, service providers, vendors, traders, agents, consultants, contractors, joint venture partners, third parties including their employees, agents and other representatives, who have a business relationship with and provide, sell, seek to sell, any kind of goods or services to M&M.
                              </p>
                           
                            </div>
                            <div class="col no-padding">
                              <div class="history-tl-container">
                                <ul class="tl no-margin">
                                  <li class="tl-item" ng-repeat="item in retailer_history">
                                    <div class="item-title">ETHICAL CONDUCT: </div>
                                    <div class="item-detail">Suppliers shall conduct their business activities and deal on behalf of their company with professionalism, honesty and integrity, as well as with high moral and ethical standards. Such conduct shall be fair and transparent and perceived to be as such by third parties.</div>
                                  </li>
                                  <li class="tl-item" ng-repeat="item in retailer_history">
                                     <div class="item-title">REGULATORY COMPLIANCE REQUIREMENT: </div>
                                    <div class="item-detail">Suppliers shall, while conducting their business comply with all applicable laws and regulations, both in letter and in spirit, in all the territories in which they operate</div>
                                  </li>
                                  <li class="tl-item" ng-repeat="item in retailer_history">
                                     <div class="item-title">ACCOUNTING AND REPORTING: </div>
                                    <div class="item-detail">Suppliers shall ensure that their accounting and financial records meet the highest standards of accuracy and completeness. All financial transactions shall be reported in accordance with generally accepted accounting practices, and the accounting records shall show the nature of all transactions in a correct and non-misleading manner.</div>
                                  </li>
                                  <li class="tl-item" ng-repeat="item in retailer_history">
                                    <div class="item-title">BRIBERY, CORRUPTION AND MONEY LAUNDERING: </div>
                                   <div class="item-detail">Suppliers shall always follow all the applicable international and local anti-bribery and anti-corruption laws. The Supplier shall not accept, facilitate or support money laundering.</div>
                                 </li>
                                 <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title">TAX LAWS COMPLIANCE: </div>
                                 <div class="item-detail">Suppliers shall comply with the tax laws and regulations of country in which it operates. Where tax laws do not give clear guidance, prudence and transparency shall be the guiding principle.</div>
                               </li>
      
                               <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title">MARKETING AND SALES: </div>
                                 <div class="item-detail">Suppliers shall not make false statements or provide misleading information regarding its products or their performance, including the safety and environmental attributes of the products.</div>
                               </li>
                               <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title">FAIR COMPETETION PRACTICES: </div>
                                 <div class="item-detail">Suppliers shall compete fairly, ethically and within the framework of all applicable competition and anti-trust laws. They shall not exchange M&M related confidential and sensitive information with competitors, peers or customers in any way that will improperly influence the market place or outcome of a bidding or negotiation process.</div>
                               </li>
                               <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title">POLITICAL INVOLVEMENT: </div>
                                 <div class="item-detail">Suppliers shall ensure that they do not give an impression of representing or being the spokesperson of M&M while getting associated with any political party or political activities in their personal capacity.</div>
                               </li>
                               <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title">CONFLICTS OF INTEREST: </div>
                                 <div class="item-detail">The duty of all personnel of Suppliers towards M&M demands that he or she avoids and discloses actual and potential conflicts of interest. A conflict of interest exists where the interests or benefits of one person or entity conflict or appear to conflict with the interests or benefits of M&M. Suppliers shall, as soon as they have knowledge, voluntarily disclose all situations relating to actual or potential conflict of interest, whether arising from their equity investments in any competitor of M&M or any of the supplier owners’ having any immediate family members working in M&M.</div>
                               </li>
                               <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title">PROTECTING M&M’s ASSETS AND MACHINERY: </div>
                                 <div class="item-detail">Suppliers shall not misuse the assets of M&M but shall employ them only for the purpose of conducting the business for which they are duly authorized by M&M. These include tangible assets such as equipment and machinery, systems, facilities, materials and resources as well as intangible assets such as Intellectual Property Rights, Processes, Know how & Technology, proprietary information, , etc. Suppliers are responsible for safeguarding, securing, and protecting M&M’s assets and information technology from theft, destruction, misappropriation, wastage and abuse.</div>
                               </li>
                               <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title">THIRD PARTY REPRESENTATION: </div>
                                 <div class="item-detail">Suppliers and their group companies including their third parties shall not be authorized to represent M&M or to use M&M’s logos, products, processes, designs, inventions, patents, copyrights, trademarks, symbols or any other intellectual properties now or hereafter owned or controlled by M&M without the express written consent of M&M.</div>
                               </li>
                               <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title">CONFIDENTIALITY: </div>
                                 <div class="item-detail">The Supplier shall maintain physical and electronic security for all confidential information. Supplier’s employees should use extreme care in protecting confidential or proprietary information of any kind. Face to face discussions should be conducted in a secure location. If confidential information to be discussed or exchanged between M&M and the Supplier, or the Supplier and a Third Party, the parties shall first ensure that a Confidentiality or Non-Disclosure Agreement has been signed and is being complied with.</div>
                               </li>
                               <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title">PROTECTING ENVIRONMENT: </div>
                                 <div class="item-detail">Suppliers shall comply with all applicable environmental/pollution control laws and regulations wherever they are based or operate.</div>
                               </li>
                               <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title">PROVIDING SAFE AND HEALTHY ENVIRONMENT: </div>
                                 <div class="item-detail">The Supplier shall strive to provide a safe and healthy working environment and comply with all applicable laws regarding working conditions, including worker health and safety, sanitation, fire safety, risk protection and electrical, mechanical and structural safety. The Supplier should have strict procedures that prevents the use of illegal drugs or alcohol in the factory and that prevent impaired employees from working. The Supplier must inform any reportable accident(s) to M&M immediately with corrective action to be taken to avoid such accident(s) in future. They must have well-established safety procedures, preventative maintenance and protective equipment in compliance with the law. The Supplier must have a Business Continuity Plan and to minimize business impacts in the event of major disruption like flood, fire, earthquake, strikes or any riots etc. The Supplier must have a written Emergency Response Plan to minimize harm to the employees, local community and environment in the event of a disaster.</div>
                               </li>
                               <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title">HUMAN RIGHTS, RESPECT AND DIGNITY: </div>
                                 <div class="item-detail">The Supplier shall support and respect the protection of internationally proclaimed human rights and make sure his company is not complicit in human rights abuses. Suppliers are expected to keep their workplaces free of harassment, harsh treatment, violence, intimidation, corporal punishment, mental or physical coercion, verbal abuse and discrimination.</div>
                               </li>
                               <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title">NO CHILD OR FORCED LABOUR: </div>
                                 <div class="item-detail">The Supplier shall not hire any person less than 18 years of age. Also, Supplier must not use involuntary labour of any kind, including prison labour, debt bondage or forced labour. Additional standards include the following:</div>
                                 <div class="item-detail">a) Suppliers shall comply with all applicable child labour laws, including those related to hiring, wages, hours worked, overtime and working condition. Vocational or developmental programs for young people require an exception to the age requirements.</div>
                                 <div class="item-detail">b)Suppliers shall maintain official documentation that verifies a worker’s date of birth, employment and training history. M&M reserves the right to review this information whenever required</div>
                               </li>
                               <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title">EQUAL-OPPORTUNITIES EMPLOYER: </div>
                                 <div class="item-detail">The Supplier shall provide equal opportunities to all its employees and all qualified applicants for employment, without regard to their race, caste, religion, color, ancestry, marital status, sex, age, nationality and disability. Employees of the Supplier shall be treated with dignity and in accordance with maintaining a work environment free of sexual harassment, whether physical, verbal or psychological.</div>
                               </li>
                               <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title">WAGES AND HOURS OF WORK: </div>
                                 <div class="item-detail">The Supplier shall provide equal opportunities to all its employees and all qualified applicants for employment, without regard to their race, caste, religion, color, ancestry, marital status, sex, age, nationality and disability. Employees of the Supplier shall be treated with dignity and in accordance with maintaining a work environment free of sexual harassment, whether physical, verbal or psychological.</div>
                               </li>
                               <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title">EQUAL-OPPORTUNITIES EMPLOYER: </div>
                                 <div class="item-detail">Suppliers shall follow all applicable laws regarding working hours, wages and overtime pay. Workers shall be paid at least the minimum legal wage.</div>
                               </li>
                               <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title">GIFTS AND DONATIONS: </div>
                                 <div class="item-detail">Suppliers shall not (directly or indirectly) offer any gift, entertainment, trip, discount, service or other benefit to any official of M&M which would or reasonably appear to be capable of influencing such person’s decision. This includes giving or receiving anything of value, including money, gifts or unlawful incentives to improperly influence negotiations.</div>
                               </li>
                               <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title">CORPORATE CITIZENSHIP: </div>
                                 <div class="item-detail">The Suppliers’ senior management personnel shall be committed to be a good corporate citizen, not only in compliance with all relevant laws and regulations, but also by actively assisting in the improvement of the quality of life of the people in the communities in which it operates, with the objective of making them self-reliant. Such social responsibility would comprise: initiating and supporting initiatives in the field of community health and family welfare, vocational training, education and literacy, providing employment to physically challenged people and encouraging the application of modern scientific and managerial techniques and expertise.</div>
                               </li>
                               <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title">COMPLIANCE WITH THE CODE: </div>
                                 <div class="item-detail">Suppliers are required to adhere to this Code. They shall promptly inform M&M when any situation develops that causes them to operate in violation of this Code. While Suppliers are expected to self-monitor and demonstrate their compliance with this Code, Suppliers shall allow M&M to audit or inspect Suppliers’ facilities to confirm their compliance when requested by M&M with reasonable notice. M&M reserves the right to take appropriate action including immediate removal of any Supplier who behaves in a manner that is unlawful or inconsistent with this Code.</div>
                               </li>
                               <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title">CODE ADHERENCE RESPONSIBILITY: </div>
                                 <div class="item-detail">Chief Executive Officers, Proprietors, Partners, Officers and Employees of all M&M Suppliers are responsible to ensure adherence to this Code.</div>
                               </li>
                               <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title">REPORTING VIOLATIONS / QUESTIONABLE BEHAVIOUR: </div>
                                 <div class="item-detail">Suppliers who wish to report questionable behavior or a possible violation of this Code, may do so by making a protected and confidential disclosure through the reporting channels mentioned in M&M’s Whistleblower Policy available on its website or by sending an e-mail to <a [href]="mailText">whistleblower.mahindra@ethicshelpline.in</a></div>
                               </li>
                              
                                </ul>
                              
                              </div>
                            </div>
                            <div class="col no-padding">
                                <h3><mat-icon class="margin-right-10 bulletPoints" svgIcon="checkIcon"></mat-icon>M&M reserves the right to revise the Code as and when required along with any other provisions.</h3>
                              </div>
                              <div class="col no-padding">
                                  <h3><mat-icon class="margin-right-10 bulletPoints" svgIcon="checkIcon"></mat-icon>For any clarification on the Code, kindly contact the office of the Chief Purchase Officer.</h3>
                                </div>
                                <div class="col padding-top">
                                  <div class="row">
                                    <div class="col-md-6">
                                      <p class="font-13">Date: 6th March 2018</p>
                                    </div>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-3">
                                      <div>
                                        <p class="no-margin font-13">Hemant Sikka</p>
                                        <p class="font-13">President - Chief Purchase Officer</p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                          
                          </div>
                      </div>
                  </div>
                </div> -->
                <!-- <div class="row">
                  <div class="col-md-12">
                    <p class="font-12 fontW-600 flex margin-vertical-10">
                       <mat-checkbox class="margin-right-10" [checked]="condition"  (change)="changeCondition($event.checked)"></mat-checkbox><span style="color: red;">*</span>I understand the code of conduct and accept to adhere to the same in all of my transactions and dealings, financial or otherwise</p>
                  </div>
                </div> -->
                
                  <div class="linkBlock border-radius-3 margin-top IdeaNumberDraft IdeaNumberDraft1">
                    <ul style="color: black;">
                      <li (click)="openDocument('1')">
                        ABAC-Policy
                        </li>
                      <li (click)="openDocument('2')">
                        Conflict Mineral Policy_Final
                        </li>
                        <li (click)="openDocument('3')">
                          SGSCMP Policy_2016
                          </li>
                        <li (click)="openDocument('4')">
                          F-00-1474_005-COMPREHENSIVE MANDATORY REQUIREMENTS OF ELV AND HAZARDOUS MATERIAL CONTENTS IN M&M VEHICLES
                          </li>
                        </ul>
                    
                </div>
                <div class="row no-margin margin-top">
                  <div class="col-md-5 border padding border-radius-3">
                   <div class="row">
                      <div class="col-md-1 verticalEndCenter padding-right-5"></div>
                         <!-- <mat-radio-button value="DS" [checked]="modeOFConduct == 'DS'" *ngIf="showSurvey != '1' || modeOFConduct == 'DS'" (click)="changeMode('DS')"></mat-radio-button></div> -->
                     <div class="col-md-8 flex no-padding-left">
                      <mat-icon svgIcon="pdfIcon" class="margin-right-10 height100"></mat-icon>
                      <div class="disInlineBlock">
                       <h4 class="fontW-600 margin-bottom-5">Supplier Code Of Conduct</h4>
                       <p class="fontW-500 no-margin font-12 lightGary"></p>
                      </div>
                      </div>
                     <div class="col-md-3 verticalCenter"> 

                       <div class="btnBlock margin-right-5" matTooltip="Downlaod" (click)="downloadDS()">
                          <!-- <mat-icon svgIcon="downloadIcon" class="documentIcon"> -->
                            <button color="theme-red-button">Download</button>
                            <!-- <a id='dwnldLnk' download='test.pdf' style="display:none;" ></a> 
    
                      <a href="#" onclick="downloadPDF()">download</a> -->
                          <!-- </mat-icon> -->
                        </div>
                       <!-- <div class="btnBlock" matTooltip="Uplaod" *ngIf="showSurvey !='1' " > 
                        
                         <button (click)="fileInput.click()" >
                          <mat-icon svgIcon="uploadIcon" class="documentIcon"></mat-icon>
                            
                            <input #fileInput type="file" (change)="detectFiles($event)" style="display:none;" />
                          </button>
                        </div> -->
                      
                     </div>
                   </div> 
                   <div class="row">
                    <div class="col-md-7"></div>
                    <!-- <div class="col-md-5" style="font-size: 13px;" *ngIf="showSurvey != '1'">{{fileNameDS}}</div>-->
                    <div class="col-md-5 link IdeaNumberDraft1" style="font-size: 13px;" *ngIf="showSurvey == '1' " (click)="openDoc()">View attachment</div>
                  </div>
                  </div>
                  <div class="col-md-2 verticalMiddleCenter">
                    <!-- <p class="no-margin themePrimaryColor fontW-600">OR</p> -->
                  </div>
                  <div class="col-md-5 border padding border-radius-3">
                      <div class="row">
                         <div class="col-md-1 verticalEndCenter padding-right-5"> </div>
                           <!-- <mat-radio-button value="SD" [checked]="modeOFConduct == 'SD'" *ngIf="showSurvey != '1' || modeOFConduct == 'SD'" (click)="changeMode('SD')"></mat-radio-button></div> -->
                        <div class="col-md-8 flex no-padding-left">
                         <!-- <mat-icon svgIcon="pdfIcon" class="margin-right-10 height100"></mat-icon> -->
                         <div class="disInlineBlock">
                          <h4 class="fontW-600 margin-bottom-5"> Declaration of Compliance to M&M Supplier Code</h4>
                          <!-- <p class="fontW-500 no-margin font-12 lightGary">(Scan Documents)</p> -->
                         </div>
                         </div>
                        <div class="col-md-3 verticalCenter">
                          <!-- <div class="btnBlock margin-right-5" matTooltip="Downlaod" (click)="downloadSD()"> <mat-icon svgIcon="downloadIcon" class="documentIcon"></mat-icon></div> -->
                          <div class="btnBlock" matTooltip="Uplaod" *ngIf="showSurvey != '1'"> 
                           
                            <button (click)="fileInput.click()" color="theme-red-button">
                              <!-- <mat-icon svgIcon="uploadIcon" class="documentIcon"></mat-icon> -->
                                Upload
                                <input #fileInput type="file" (change)="detectFiles($event)" style="display:none;" />
                              </button>
                          </div>
                        </div>
                      </div> 
                      <div class="row">
                        <div class="col-md-7"></div>
                        <div class="col-md-5 link IdeaNumberDraft1" style="font-size: 13px;" *ngIf="showSurvey != '1'" (click)="openFile()">{{fileName}}</div>
                        <!-- <div class="col-md-5 link IdeaNumberDraft1" style="font-size: 13px;" *ngIf="showSurvey == '1'" (click)="openDoc()">View attachment</div> -->
                      </div>
                     </div>
                </div>
                <div>
                  <div class="pdfBlock border-radius-3 margin-top">
                    <p class="coc_title"><u>SOP for ‘Declaration of Compliance to M&M Supplier Code’</u></p>
                    <ul>
                      <li>
                        Download the ‘Supplier Code of Conduct’ policy available on LHS
                        </li>
                      <li>
                        Copy -paste the draft of ‘Declaration of Compliance to M&M Supplier Code’ from page 8 to your Company letter Head
                        </li>
                      <li>
                        Sign the letter digitally or on hardcopy ( Authorized person only)
                        </li>
                      <li>
                        Upload the signed document here on RHS
                        </li>
                      <li>
                        Check for correctness of document & ‘Submit’
                        </li>
                      <li>
                        For any technical issues pl. contact: MSETUHELPDESK <a href = "mailto: MSETUHELPDESK@mahindra.com">MSETUHELPDESK@mahindra.com</a> 
                        </li>
                      <li>
                        For any clarifications on the ‘Code of Conduct’ clauses , pl. get in touch with your SSU contacts.
                        </li>
                    </ul>

                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 padding">
                      <div  class="primaryBtn disInlineBlock btncenter">
                          <button class="" color="theme-red-button" *ngIf="showSurvey != '1'" [disabled]="fileName == '' " (click)="submitDocument(1)">Submit</button>
                      </div>
                      <!-- <div  class="primaryBtn disInlineBlock margin-right-10">
                          <button class="" color="theme-darkgray-button" [disabled]="fileNameSD == '' && fileNameDS ==''" (click)="submitDocument(0)">Disagree</button>
                      </div> -->
                     </div>
                </div>
              </div>
            </div>
          
            <!-- <div *ngIf="showSurvey == '1'">You have submitted the survey.</div> -->
            </mat-card>
        </div>
   </div>
  
</div>
