<div class="container-fluid SRMMAssessment padding">
  <div class="grid">
    <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
          <div class="row width100 verticalCenter">
          <div class="col-md-6">
          <h4 class="no-margin">Supplier Risk Dashboard (Admin)</h4>
          </div>
          <div class="col-md-6 no-padding">
          <p class="no-margin font-13 width100 flex verticalEndCenter">
            <span class="pointer" routerLink="/dashboard" routerDirection="backward">Home</span><mat-icon>chevron_right</mat-icon>
          <span class="secondaryMenu">Supplier Risk Dashboard (Admin)</span> 
          </p>
          </div>
          </div>
          </div>

      <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
          <mat-card class="no-padding mainOuterCardContainer">
              <div class="col-md-12 padding height100">
                <div class="row no-margin">
                  <div class="col-md-4">
                      <div class="row">
                          <div class="col-md-5 colInputHeader verticalEndCenter font-13">Select Financial Year:</div>
                          <div class="col-md-7 colInput">
                              <mat-form-field appearance="outline" class="borderInput font-13">
                                <mat-select [formControl]="FinancialYear">
                                    <mat-option *ngFor="let year of FY" [value]="year">{{ year }}</mat-option>
                                </mat-select>
                               </mat-form-field>
                          </div>
                      </div>
                      <div class="row" *ngIf="FinancialYear.value">
                        <div class="col-md-5 colInputHeader verticalEndCenter font-13">Mode:</div>
                        <div class="col-md-7 colInput">
                            <mat-form-field appearance="outline" class="borderInput font-13">
                              <mat-select [formControl]="mode">
                                  <mat-option *ngFor="let mode of modes" [value]="mode.name">{{ mode.name }}</mat-option>
                              </mat-select>
                             </mat-form-field>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-4" *ngIf="FinancialYear.value">
                    <div class="row">
                        <div class="col-md-5 colInputHeader verticalEndCenter font-13">Assessment Type:</div>
                        <div class="col-md-7 colInput">
                            <mat-form-field appearance="outline" class="borderInput font-13">
                                <mat-select [formControl]="assessmentType">
                                  <mat-option *ngFor="let type of assessmentTypes" [value]="type.name">{{ type.name }}</mat-option>
                                </mat-select>
                             </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 colInputHeader verticalEndCenter font-13">Commodity:</div>
                        <div class="col-md-7 colInput">
                            <mat-form-field appearance="outline" class="borderInput font-13">
                                <mat-select [formControl]="commodity">
                                    <mat-option *ngFor="let commodity of commodities" [value]="commodity">{{ commodity }}</mat-option>
                                </mat-select>
                             </mat-form-field>
                        </div>
                        </div>
                  </div>
                  <div class="col-md-4" *ngIf="FinancialYear.value">
                    <div class="row">
                        <div class="col-md-5 colInputHeader verticalEndCenter font-13">Status:</div>
                        <div class="col-md-7 colInput">
                            <mat-form-field appearance="outline" class="borderInput font-13">
                                <mat-select [formControl]="status">
                                  <mat-option *ngFor="let status of statuses" [value]="status.name">{{ status.name }}</mat-option>
                                </mat-select>
                             </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 colInput btnConatiner">
                           <div class="disInlineBlock  firstBtnBlock">
                               <button class="" color="theme-red-button" (click)="openModal(updateAssessor,'')">Update Assessor</button>
                           </div> 
                           <div class="disInlineBlock secondBsecondtnBlock ">
                               <button class="verticalMiddleCenter" color="theme-green-button" (click)="exportToExcel()">
                                   <mat-icon  class="flex margin-right-10 disInlineBlock excelCustIcon" svgIcon="excelIcon"></mat-icon>
                                   Export To Excel
                                 </button> 
                           </div> 
                       </div>
                     </div>
                  </div>
                </div>
                <div class="row no-margin" *ngIf="FinancialYear.value">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-5 colInputHeader verticalEndCenter font-13">Search By:</div>
                            <div class="col-md-7 colInput">
                                <mat-form-field appearance="outline" class="borderInput font-13">
                                  <mat-select [formControl]="searchBy">
                                      <mat-option value="Supplier Code">Supplier Code</mat-option>
                                      <mat-option value="Supplier Name">Supplier Name</mat-option>
                                      <!-- <mat-option value="Commodity">Commodity</mat-option> -->
                                  </mat-select>
                                 </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-7 colInputHeader verticalEndCenter font-13 no-padding">
                                <mat-form-field appearance="outline" class="borderInput font-13">
                                    <input [formControl]="searchByValue" matInput placeholder="" >
                                </mat-form-field>
                            </div>
                            <div class="col-md-5 colInput vertcalAligment">
                                <button class="" (click)="search()" color="theme-red-button">Search</button>
                             </div>
                        </div>
                    </div>
                </div>
               <div class="row no-margin tblConatiner" *ngIf="FinancialYear.value">
                        <div class="example-container tbl_New_Layout height100">
                          <div class="table-container">
                            <table mat-table  class="lessons-table" [dataSource]="DataSource">
                               <ng-container matColumnDef="supplierCode">
                              <th mat-header-cell *matHeaderCellDef class="tblColFlex6">Supplier Code</th>
                              <td mat-cell *matCellDef="let element" >
                                {{ element.supplierCode || "N/A" }}
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="supplierName">
                                <th mat-header-cell *matHeaderCellDef class="tblColFlex17">Supplier Name</th>
                                <td mat-cell *matCellDef="let element" >
                                  {{ element.supplierName || "N/A" }}
                                  </td>
                              </ng-container>
                             <ng-container matColumnDef="Email">
                                    <th mat-header-cell *matHeaderCellDef class="tblColFlex10">Email</th>
                                    <td mat-cell *matCellDef="let element" >
                                      {{ element.Email || "N/A" }}
                                      </td>
                                  </ng-container>
                                  <ng-container matColumnDef="Rating">
                                    <th mat-header-cell *matHeaderCellDef class="tblColFlex5">Rating</th>
                                    <td mat-cell *matCellDef="let element" >
                                      {{ element.Rating || "N/A" }}
                                      </td>
                                  </ng-container>
  
                                  <ng-container matColumnDef="assessmentOn">
                                      <th mat-header-cell *matHeaderCellDef class="tblColFlex7">Assessment On</th>
                                      <td mat-cell *matCellDef="let element" >
                                        {{ element.assessmentOn || "N/A" }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Assessor">
                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex10">Assessor</th>
                                        <td mat-cell *matCellDef="let element" >
                                            {{ element.Assessor || "N/A" }}
                                          </td>
                                      </ng-container>
                                      <ng-container matColumnDef="AuditSubmitted">
                                          <th mat-header-cell *matHeaderCellDef class="tblColFlex11">Audit Submitted by Supplier</th>
                                          <td mat-cell *matCellDef="let element" >
                                            {{ element.AuditSubmitted || "N/A" }}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="AuditCompleted">
                                            <th mat-header-cell *matHeaderCellDef class="tblColFlex12"> Audit completed by Assessor</th>
                                            <td mat-cell *matCellDef="let element" class="text-center">
                                                {{ element.AuditCompleted || "N/A" }}
                                              </td>
                                          </ng-container>
                                          <ng-container matColumnDef="Commodity">
                                              <th mat-header-cell *matHeaderCellDef class="tblColFlex10"> Commodity</th>
                                              <td mat-cell *matCellDef="let element;let i=index">
                                                {{ element.Commodity || "N/A" }}
                                                <!-- <mat-select [value]="element.Commodity"  [formControl]="c" (selectionChange)="changeC(i,c)">
                                                    <mat-option *ngFor="let commodity of commodities" [value]="commodity">{{ commodity }}</mat-option>
                                                </mat-select> -->
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="AssessmentType">
                                                <th mat-header-cell *matHeaderCellDef class="tblColFlex9"> Assessment Type	</th>
                                                <td mat-cell *matCellDef="let element" >
                                                    {{ element.AssessmentType || "N/A" }}
                                                  </td>
                                              </ng-container>
                                              <ng-container matColumnDef="Status">
                                                <th mat-header-cell *matHeaderCellDef class="tblColFlex6"> Status</th>
                                                <td mat-cell *matCellDef="let element">
                                                    {{ element.Status || "N/A" }}
                                                  </td>
                                              </ng-container>
                                              <ng-container matColumnDef="Mode">
                                                <th mat-header-cell *matHeaderCellDef class="tblColFlex6">Mode	</th>
                                                <td mat-cell *matCellDef="let element">
                                                    {{ element.Mode || "N/A" }}
                                                  </td>
                                              </ng-container>
                                              <ng-container matColumnDef="ViewResponse">
                                                <th mat-header-cell *matHeaderCellDef class="tblColFlex8">View Response</th>
                                                <td mat-cell *matCellDef="let element" class="text-center">
                                                  <mat-icon (click)="navigate(element)" class="flex  disInlineBlock" svgIcon="viewIcon" matTooltip="View Response"></mat-icon>
                                                  </td>
                                              </ng-container>
                                              <ng-container matColumnDef="Action">
                                                <th mat-header-cell *matHeaderCellDef class="tblColFlex6">Action</th>
                                                <td mat-cell *matCellDef="let element" class="text-center">
                                                    <!-- <div>
                                                    <div class="actionBtnBlock"><mat-icon  class="flex  disInlineBlock" svgIcon="trash" matTooltip="Update"></mat-icon></div>
                                                    <div class="actionBtnBlock"><mat-icon  class="flex  disInlineBlock" svgIcon="trash" matTooltip="Delete"></mat-icon></div>
                                                </div> -->
                                                <!-- style="display:none;" -->
                                                <div>
                                                     <mat-icon  class="flex  disInlineBlock" svgIcon="edit" matTooltip="Update" (click)="openModal(updateCommodity,element)"></mat-icon>
                                                </div>
                                                </td>
                                              </ng-container>
                                      <tr mat-header-row  *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                                      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                           </table>
                      </div>
                        <mat-paginator  [length]="pageSize"  [pageSize]="10"  [pageIndex]="pageNo"
                        (page)="pageEvent = getPageChangeData($event,1)">
                      </mat-paginator>
                    </div>
                      </div>
                </div>
             
            </mat-card>
      </div>

  </div>
</div>



 <!---Modal Structure start-->
 <ng-template #updateAssessor >
    <div class="modal-header">
      <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">Update Assessor</h3>
      <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="modal-body">
     <div class="row no-margin">
        <div class="col-md-12">
            <div class="row">
              <div class="col-md-5 colInputHeader verticalEndCenter font-14 required-field">
                Supplier Code:
                </div>
                <div class="col-md-7 colInput">
                  <mat-form-field appearance="outline" class="borderInput font-13">
                    <input matInput  placeholder="Model Code" [(ngModel)]="supplierCode1">
                  </mat-form-field> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 colInputHeader verticalEndCenter font-14 required-field">
                    
                      </div>
                      <div class="col-md-7 colInput">
                        <div class="">
                            <button class=""  color="theme-red-button" (click)="getassessorDetails(supplierCode1)">Get Current Assessor</button>
                        </div>
                          </div>
                      </div>
                <div class="row">
                    <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                        Current Assessor:
                      </div>
                      <div class="col-md-7 colInput">
                        <mat-form-field appearance="outline" class="borderInput font-13">
                          <input matInput  placeholder="Model Code" [(ngModel)]="currentAssessor">
                        </mat-form-field> 
                          </div>
                      </div>
                 <div class="row">
                        <div class="col-md-5 colInputHeader verticalEndCenter font-14 required-field">
                            New Assessor token ID:
                          </div>
                          <div class="col-md-7 colInput">
                            <mat-form-field appearance="outline" class="borderInput font-13">
                              <mat-select [(ngModel)]="newAssessor">
                                <mat-option *ngFor="let user of newAssessorList" [value]="user.UserName">{{user.UserName}}</mat-option>
                              </mat-select>
                             </mat-form-field>
                            </div>
                          </div>
                           
               
          </div>
          
    </div>
    </div>
    <div class="modal-footer">
        <div class="col text-center">
           <div class=" disInlineBlock">
            <!-- <button class=""  color="theme-red-button" (click)="updateAssessorCall()">Get Current Assessor</button> -->
                <button class=""  color="theme-red-button" (click)="updateAssessorCall()">Update Assessor</button>
            </div>
        </div>
       </div>
  </ng-template>
  <ng-template #editContent>
      <div class="modal-header">
        <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">Update Part Supplier Details</h3>
        <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="modal-body">
        <div class="row no-margin">
           <div class="col-md-6">
               <div class="row">
                 <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                   Model Code:
                   </div>
                   <div class="col-md-7 colInput">
                     <mat-form-field appearance="outline" class="borderInput font-13">
                       <input matInput value="AAW3GPEH7TU05WJFNP" disabled>
                     </mat-form-field> 
                       </div>
                   </div>
                  
                         <div class="row">
                             <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                               Part Description:
                               </div>
                               <div class="col-md-7 colInput">
                                 <mat-form-field appearance="outline" class="borderInput font-13">
                                   <input matInput value="FUEL TANK" disabled>
                                 </mat-form-field>  
                                   </div>
                               </div>
                               <div class="row">
                                 <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                                 Plant Code:
                                   </div>
                                   <div class="col-md-7 colInput">
                                     <mat-form-field appearance="outline" class="borderInput font-13">
                                       <input matInput  value="A003">
                                     </mat-form-field> 
                                       </div>
                                   </div>

                                   <div class="row">
                                    <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                                      IsActive:
                                      </div>
                                      <div class="col-md-7 colInput">
                                        <mat-checkbox></mat-checkbox>
                                          </div>
                                      </div>
                                  
                  
             </div>
             <div class="col-md-6">
                
               <div class="row">
                 <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                 Part Number:
                   </div>
                   <div class="col-md-7 colInput">
                     <mat-form-field appearance="outline" class="borderInput font-13">
                       <input matInput  value="1001AAA03780N" disabled>
                     </mat-form-field> 
                       </div>
                   </div>
          <div class="row">
                     <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                     Aggregate
                       </div>
                       <div class="col-md-7 colInput">
                         <mat-form-field appearance="outline" class="borderInput font-13">
                           <input matInput  value="FUEL TANK" disabled>
                         </mat-form-field> 
                           </div>
                       </div>
                       <div class="row">
                         <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                          Supplier Code:
                           </div>
                           <div class="col-md-7 colInput no-padding-right">
                             <mat-form-field appearance="outline" class="borderInput font-13">
                               <input matInput  value="MSETU">
                             </mat-form-field> 
                               </div>
                              
                           </div>
               </div>
       </div>
       </div>
       <div class="modal-footer">
           <div class="col text-center">
              <div class="disInlineBlock">
                   <button class=""  color="theme-red-button">Update</button>
               </div>
           </div>
          </div>
    </ng-template>
    <ng-template #updateCommodity >
      <div class="modal-header">
        <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">Update Commodity</h3>
        <button type="button" class="close" aria-label="Close" (click)="closeModal(false)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="modal-body">
       <div class="row no-margin">
          <div class="col-md-12">
              <div class="row">
                <div class="col-md-5 colInputHeader verticalEndCenter font-14 required-field">
                  Supplier Code:
                  </div>
                  <div class="col-md-7 colInput">
                    <mat-form-field appearance="outline" class="borderInput font-13">
                      <input matInput  placeholder="Model Code" [(ngModel)]="SupplierC" disabled readonly>
                    </mat-form-field> 
                      </div>
                  </div>
                  
                  <div class="row">
                      <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                          Current Commodity:
                        </div>
                        <div class="col-md-7 colInput">
                          <mat-form-field appearance="outline" class="borderInput font-13">
                            <input matInput  placeholder="Current Commodity" [(ngModel)]="currentCom" disabled readonly>
                          </mat-form-field> 
                            </div>
                        </div>
                   <div class="row">
                          <div class="col-md-5 colInputHeader verticalEndCenter font-14 required-field">
                              Update Commodity:
                            </div>
                            <div class="col-md-7 colInput">
                              <mat-form-field appearance="outline" class="borderInput font-13">
                                <mat-select [(ngModel)]="newCom">
                                  <mat-option *ngFor="let commodity of commodities" [value]="commodity">{{commodity}}</mat-option>
                                </mat-select>
                               </mat-form-field>
                                  </div>
                            </div>
                             
                 
            </div>
            
      </div>
      </div>
      <div class="modal-footer">
          <div class="col text-center">
             <div class=" disInlineBlock">
              <!-- <button class=""  color="theme-red-button" (click)="updateAssessorCall()">Get Current Assessor</button> -->
                  <button class=""  color="theme-red-button" (click)="updateCommidity1()">Update Commodity</button>
              </div>
          </div>
         </div>
    </ng-template>
    <!---Modal Structure stop-->