<div class="notification-modal">
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="IncidentNumber text-center">
    Incident Reported Successfully<br />
    Incident Number: {{ incidentNumber }}
    <br>
    <button color="theme-green-button" (click)="dismiss()">
      Okay
    </button>
  </div>
  <div></div>
</div>
