.notification-modal{
    button{
        margin: 10px 10px 0px 0px;
        color: #fff;
    }

    .IncidentNumber{
        padding: 5%;
        background: #e6ffef;
        color: #3dda34;
        font-size: 1.8em;
        font-weight: 550;

        button{
            background-color: #4caf48;
            border: 1px solid #4caf48;
            width: 40%;
            padding: 5px;
            font-size: 0.6em;
            border-radius: 11px;
        }
    }
}