@import '../../variable.scss';
.CMSSurvey{
    /deep/ {
    .mat-tab-group.customVerticalTab {
        flex-direction: row;
    
    .mat-tab-header {
      border-bottom: none;
    }
    .mat-tab-header-pagination {
        display: none !important;
    }
    .mat-tab-labels {
        flex-direction: column;
    }
    .mat-ink-bar {
        height: 100%;
        left: 98% !important;
    }
    .mat-tab-body-wrapper {
        flex: 1 1 auto;
    }
  }
  .mat-ink-bar{
    display: none !important;
  }
  .mat-tab-label-active{
    border-right: 2px solid $color-primary-default !important;
    opacity: 1 !important;
    background: #f7f6f6;
    mat-tab-label-content{
    color: $color-foreground-default !important;
    font-weight: 600 !important;
    
    }
}
.mat-tab-body-wrapper{

}

  }
  .draggableHdr{
    background: #888888;
    color: $color-white-default;
    padding: 10px;
  }
 .questionList{
  background: #EFEFEF;
  padding: 10px;
 }
 .custWidthButton{
   display: inline-flex;
  mat-icon{
    height: 20px !important;
    width: 20px !important;
    cursor: pointer;
  }
  .custWidth{
    width: 100%;
    button{
      padding: 5px !important;
    }
  }
 }
  
 

 
  .borderInput{
    ::ng-deep .mat-form-field-infix{border-top: 0px !important;}
    ::ng-deep .mat-form-field-wrapper{padding-bottom: 0px;}
    }
    /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: rgba(0,0,0,.12); }
    /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{border-width: 1px !important;}
    /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{border-width: 1px !important;}
    /deep/.mat-select-arrow-wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .outerBlock{
      height: calc(100% - 51px);
      .innerConatiner{
        height: calc(100% - 39px);
        overflow-y: auto;
      }
    }
    /deep/.actionBtnBlock {
      width: 25%;
      display: inline-block;
      .mat-icon {
        height: 20px !important;
        width: 20px !important;
        cursor: pointer;
      }
    }
    .actionBtnBlockForSurvey {
      width: 21%;
      display: inline-block;
      .mat-icon {
        height: 20px !important;
        width: 20px !important;
        cursor: pointer;
      }
    }
  }