<div class="container-fluid CMSSurvey padding">
    <div class="grid">
        <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
            <div class="row width100 verticalCenter">
                <div class="col-md-6">
                    <h4 class="no-margin">Survey Management </h4>
                  </div>
                  <div class="col-md-6 no-padding">
                      <p class="no-margin font-13 width100 flex verticalEndCenter">
                          <span class="pointer" style="cursor: pointer;" [routerLink]="roleId == '7' ? '/adminDashboard' : '/dashboard'" routerDirection="backward">Home</span> <mat-icon>chevron_right</mat-icon>
                          <span class="pointer secondaryMenu" routerDirection="backward">Survey Management</span> 
                         <!-- <span class="secondaryMenu">Imcr/Cre Dashboard</span>  -->
                      </p>
                    </div>
            </div>
          </div>
          <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
            <!-- <button class="" color="theme-gray-button" (click)="createSurveyModal()">Create Survey</button>  -->
            <mat-card class="no-padding mainOuterCardContainer">
                    <mat-tab-group  flex="1" class="customVerticalTab height100" (selectedTabChange)="getSurveys(($event.index)+1)">
                        <mat-tab label="My Survey" (selectedTabChange)="getSurveys(1)" attr-value="1">
                            <mat-card class="no-shadow no-padding height100">
                                    <mat-card-content class="height100">
                                            <div class="col-md-12 height100">
                                             <div class="row height100">
                                                    <div class="col-md-12 verticalEndCenter no-padding padding-bottom">
                                                        <div class="col-md-2 no-padding-left">
                                                            <h3 class="themePrimaryColor">My Survey</h3>
                                                        </div>
                                                        <div class="col-md-2 btnBlockConatiner no-padding-right">
                                                            <button color="theme-green-button"  (click)="downloadCocSurvey()" class="verticalMiddleCenter">Download COC Survey</button> 
                                                        </div>
                                                        <div class="col-md-2 btnBlockConatiner no-padding-right">
                                                            <button color="theme-green-button"  (click)="downloadExtCocSurvey()" class="verticalMiddleCenter">Download Ext COC Survey</button> 
                                                        </div>
                                                        <div class="col-md-2 btnBlockConatiner no-padding-right">
                                                            <button color="theme-red-button"  (click)="downloadTcsSurvey()" class="verticalMiddleCenter">Download TCS Survey</button> 
                                                        </div>
                                                        <div class="col-md-2 btnBlockConatiner no-padding-right">
                                                            <button color="theme-red-button"  (click)="download(1)" class="verticalMiddleCenter">Download My Survey</button> 
                                                        </div>
                                                        <div class="col-md-2 btnBlockConatiner no-padding-right">
                                                            <button color="theme-green-button"  (click)="createSurveyModal()" class="verticalMiddleCenter">Create Survey</button> 
                                                            </div>
                                                    </div>
                                                    <div class="col-md-12 no-padding outerBlock">
                                                            <div class="col-md-12">
                                                                    <div class="row draggableHdr">
                                                                        <div class="col-md-1 custWidthIcon">
                                                                          <div><p class="font-13 no-margin">No.</p></div>
                                                                        </div>
                                                                        <div class="col-md-2">
                                                                                <div><p class="font-13 no-margin">Assign To</p></div>
                                                                            </div>
                                                                        <div class="col-md-3">
                                                                            <div><p class="font-13 no-margin">Survey Name</p></div>
                                                                        </div>
                                                                        <div class="col-md-2">
                                                                                <div><p class="font-13 no-margin">From Date</p></div>
                                                                            </div>
                                                                        <div class="col-md-2">
                                                                                <div><p class="font-13 no-margin">To Date</p></div>
                                                                            </div>
                                                                      <div class="col-md-2 no-padding custWidthButton">
                                                                            <div><p class="font-13 no-margin">Action</p></div>
                                                                        </div>
                                                                      </div>
                                                                </div>
                                                                <div class="grid innerConatiner">
                                                                        <div class="col-md-12 no-padding">
                                                                            <div *ngFor="let survey of surveys; let itt = index" class="row questionList verticalCenter border-radius-3 margin-vertical-10" >
                                                                                <div class="col-md-1 custWidthIcon">
                                                                                    <div>
                                                                                    <p class="no-margin">{{ itt + 1 }}.</p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-2 no-padding">
                                                                                    <div class="height100 verticalCenter">
                                                                                        <div class="font-13 padding-horizontal contentBlock"> 
                                                                                            {{ survey.RoleName }}
                                                                                        </div>
                                                                                    </div>
                                                                                    </div>
                                                                                    <div class="col-md-3 no-padding">
                                                                                        <div class="height100 verticalCenter">
                                                                                            <div class="font-13 padding-horizontal contentBlock"> 
                                                                                                {{ survey.SurveyTitle }}
                                                                                            </div>
                                                                                        </div>
                                                                                        </div>
                                                                                        <div class="col-md-2 no-padding">
                                                                                            <div class="height100 verticalCenter">
                                                                                                <div class="font-13 padding-horizontal contentBlock"> 
                                                                                                    {{ moment(survey.fromdate).format('DD/MM/YYYY') }}
                                                                                                </div>
                                                                                            </div>
                                                                                            </div>
                                                                                            <div class="col-md-2 no-padding">
                                                                                                <div class="height100 verticalCenter">
                                                                                                    <div class="font-13 padding-horizontal contentBlock"> 
                                                                                                        {{ moment(survey.Todate).format('DD/MM/YYYY') }}
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                <div class="col-md-2 no-padding custWidthButton">
                                                                                        <div class="actionBtnBlock" *ngIf="survey.IsPublishSurvey == true" (click)="viewQuestionList(survey.SurveyId)"><mat-icon  class="flex  disInlineBlock" svgIcon="viewQuestion" matTooltip="View Questions"></mat-icon></div>
                                                                                        <div class="actionBtnBlock" *ngIf="survey.IsPublishSurvey == true" (click)="viewResponses(survey)"><mat-icon  class="flex  disInlineBlock" svgIcon="viewResponce" matTooltip="View Responses" ></mat-icon></div>
                                                                                        <div class="actionBtnBlock" *ngIf="survey.IsPublishSurvey != true" (click)="addQuestionsModal(survey.SurveyId)"><mat-icon  class="flex  disInlineBlock" svgIcon="addQuestion" matTooltip="Add Questions" ></mat-icon></div>
                                                                                        <div class="actionBtnBlock" (click)="editSurvey(survey, 1)"><mat-icon  class="flex  disInlineBlock" svgIcon="edit" matTooltip="Edit"></mat-icon></div>
                                                                                        <div class="actionBtnBlockForSurvey" (click)="openSurveyModal(survey.SurveyId)"><mat-icon  class="flex  disInlineBlock"  matTooltip="View" style="color: #E33045;">remove_red_eye</mat-icon></div>
                                                                                        <div class="actionBtnBlock" (click)="deleteSurvey(survey.SurveyId)"><mat-icon  class="flex  disInlineBlock" svgIcon="trash" matTooltip="Delete" ></mat-icon></div>
                                                                                        <!-- <div class="col no-padding">
                                                                                            <div *ngIf="survey.IsPublishSurvey == true" class="disInlineBlock margin-right-10 custWidth">
                                                                                                <div class="row">
                                                                                                    <div class="col">
                                                                                                        <button class="" color="theme-gray-button" (click)="viewQuestionList(survey.SurveyId)">View Questions</button> 
                                                                                                    </div>
                                                                                                    <div class="col">
                                                                                                        <button class="" color="theme-pink-button" (click)="viewResponses(survey)">View Responses</button> 
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div *ngIf="survey.IsPublishSurvey != true" class="row">
                                                                                                <div class="col disInlineBlock custWidth">
                                                                                                    <button class="" color="theme-pink-button" (click)="addQuestionsModal(survey.SurveyId)">Add Questions</button> 
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="row">
                                                                                                <div class="col">
                                                                                                    <button class="" color="theme-pink-button" (click)="editSurvey(survey, 1)">Edit</button> 
                                                                                                </div>
                                                                                                <div class="col">
                                                                                                    <button class="" color="theme-gray-button" (click)="deleteSurvey(survey.SurveyId)">Delete</button> 
                                                                                                </div>
                                                                                            </div>
                                                                                        </div> -->
                                                                                </div>
                                                                            </div>
                                                                                      
                                                                        </div>
                                                                    </div>
                                                                 
                                                             
                                                        </div>
                                                                </div>
                                                 </div>
                                                 
                                                 <mat-paginator
                                                    [length]="pageSize"
                                                    [pageSize]="10"
                                                    [pageIndex]="pageNo"
                                                    (page)="getNextPage($event)"
                                                >
                                                </mat-paginator>
                                    </mat-card-content>
                            </mat-card>
                           
                                </mat-tab>
                        <mat-tab label="SSI Survey" (selectedTabChange)="getSurveys(2)" attr-value="2">
                                <mat-card class="no-shadow no-padding height100" >
                                        <mat-card-content class="height100">
                                                <div class="col-md-12 height100">
                                                 <div class="row height100">
                                                        <div class="col-md-12 verticalEndCenter no-padding padding-bottom">
                                                                <div class="col-md-10 no-padding-left">
                                                                  <h3 class="themePrimaryColor">SSI Survey</h3>
                                                                </div>
                                                                 <!-- <div class="col-md-2 btnBlockConatiner no-padding-right">
                                                                            <button color="theme-green-button"  (click)="createSurveyModal()" class="verticalMiddleCenter">Create Survey</button> 
                                                                          </div> -->
                                                                          <div class="col-md-2 btnBlockConatiner no-padding-right">
                                                                            <button color="theme-red-button"  (click)="download(2)" class="verticalMiddleCenter">Download SSI Survey</button> 
                                                                        </div>
                                                                      </div>
                                                        <div class="col-md-12 no-padding outerBlock">
                                                                <div class="col-md-12">
                                                                        <div class="row draggableHdr">
                                                                            <div class="col-md-1 custWidthIcon">
                                                                              <div><p class="font-13 no-margin">No.</p></div>
                                                                            </div>
                                                                            <div class="col-md-2">
                                                                                    <div><p class="font-13 no-margin">Assign To</p></div>
                                                                                </div>
                                                                            <div class="col-md-3">
                                                                                <div><p class="font-13 no-margin">Survey Name</p></div>
                                                                            </div>
                                                                            <div class="col-md-2">
                                                                                    <div><p class="font-13 no-margin">From Date</p></div>
                                                                                </div>
                                                                            <div class="col-md-2">
                                                                                    <div><p class="font-13 no-margin">To Date</p></div>
                                                                                </div>
                                                                          <div class="col-md-2 no-padding custWidthButton">
                                                                                <div><p class="font-13 no-margin">Action</p></div>
                                                                            </div>
                                                                          </div>
                                                                    </div>
                                                                    <div class="grid innerConatiner">
                                                                            <div class="col-md-12 no-padding">
                                                                            
                                                                                <div *ngFor="let survey of surveys; let itt = index" class="row questionList verticalCenter border-radius-3 margin-vertical-10" >
                                                                                    <div class="col-md-1 custWidthIcon">
                                                                                        <div>
                                                                                        <p class="no-margin">{{ itt + 1 }}.</p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-2 no-padding">
                                                                                        <div class="height100 verticalCenter">
                                                                                            <div class="font-13 padding-horizontal contentBlock"> 
                                                                                                {{ survey.RoleName }}
                                                                                            </div>
                                                                                        </div>
                                                                                        </div>
                                                                                        <div class="col-md-3 no-padding">
                                                                                            <div class="height100 verticalCenter">
                                                                                                <div class="font-13 padding-horizontal contentBlock"> 
                                                                                                    {{ survey.SurveyTitle }}
                                                                                                </div>
                                                                                            </div>
                                                                                            </div>
                                                                                            <div class="col-md-2 no-padding">
                                                                                                <div class="height100 verticalCenter">
                                                                                                    <div class="font-13 padding-horizontal contentBlock"> 
                                                                                                        {{ moment(survey.fromdate).format('DD/MM/YYYY') }}
                                                                                                    </div>
                                                                                                </div>
                                                                                                </div>
                                                                                                <div class="col-md-2 no-padding">
                                                                                                    <div class="height100 verticalCenter">
                                                                                                        <div class="font-13 padding-horizontal contentBlock"> 
                                                                                                            {{ moment(survey.Todate).format('DD/MM/YYYY') }}
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    </div>
                                                                                                    <div class="col-md-2 no-padding custWidthButton">
                                                                                                        <div class="actionBtnBlockForSurvey" (click)="openSurveyModal(survey.SurveyId)"><mat-icon  class="flex  disInlineBlock"  matTooltip="View" style="color: #E33045;">remove_red_eye</mat-icon></div>
                                                                                                        <div class="actionBtnBlock" *ngIf="survey.IsPublishSurvey == true" (click)="viewQuestionList(survey.SurveyId)"><mat-icon  class="flex  disInlineBlock" svgIcon="viewQuestion" matTooltip="View Questions"></mat-icon></div>
                                                                                                        <div class="actionBtnBlock" *ngIf="survey.IsPublishSurvey == true" (click)="viewResponses(survey)"><mat-icon  class="flex  disInlineBlock" svgIcon="viewResponce" matTooltip="View Responses" ></mat-icon></div>
                                                                                                        <div class="actionBtnBlock" *ngIf="survey.IsPublishSurvey != true" (click)="addQuestionsModal(survey.SurveyId)"><mat-icon  class="flex  disInlineBlock" svgIcon="addQuestion" matTooltip="Add Questions" ></mat-icon></div>
                                                                                                        <div class="actionBtnBlock" (click)="editSurvey(survey, 2)"><mat-icon  class="flex  disInlineBlock" svgIcon="edit" matTooltip="Edit"></mat-icon></div>
                                                                                                        <div class="actionBtnBlock" (click)="deleteSurvey(survey.SurveyId)"><mat-icon  class="flex  disInlineBlock" svgIcon="trash" matTooltip="Delete" ></mat-icon></div>
                                                                                                    </div>
                                                                                </div>
                                                                                          
                                                                            </div>
                                                                            </div>
                                                                     
                                                                 
                                                            </div>
                                                                    </div>
                                                     </div>
                                                     
                                                     <mat-paginator
                                                     [length]="pageSize"
                                                     [pageSize]="10"
                                                     [pageIndex]="pageNo"
                                                     (page)="getNextPage($event)"
                                                 >
                                                 </mat-paginator>
                                        </mat-card-content>
                                </mat-card>
                            </mat-tab>
                        <mat-tab label="Survey History" (selectedTabChange)="getSurveys(0)" attr-value="0">
                            <mat-card class="no-shadow no-padding height100">
                                <mat-card-content class="height100">
                                        <div class="col-md-12 height100">
                                         <div class="row height100">
                                                <div class="col-md-12 verticalEndCenter no-padding padding-bottom">
                                                        <div class="col-md-10 no-padding-left">
                                                          <h3 class="themePrimaryColor">Survey History</h3>
                                                        </div>
                                                        <div class="col-md-2 btnBlockConatiner no-padding-right">
                                                            <button color="theme-red-button"  (click)="download(0)" class="verticalMiddleCenter">Download History</button> 
                                                        </div>
                                                              </div>
                                                <div class="col-md-12 no-padding outerBlock">
                                                        <div class="col-md-12">
                                                                <div class="row draggableHdr">
                                                                    <div class="col-md-1 custWidthIcon">
                                                                      <div><p class="font-13 no-margin">No.</p></div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                            <div><p class="font-13 no-margin">Assign To</p></div>
                                                                        </div>
                                                                    <div class="col-md-3">
                                                                        <div><p class="font-13 no-margin">Survey Name</p></div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                            <div><p class="font-13 no-margin">From Date</p></div>
                                                                        </div>
                                                                    <div class="col-md-2">
                                                                            <div><p class="font-13 no-margin">To Date</p></div>
                                                                        </div>
                                                                  <div class="col-md-2 no-padding custWidthButton">
                                                                        <div><p class="font-13 no-margin">Action</p></div>
                                                                    </div>
                                                                  </div>
                                                            </div>
                                                            <div class="grid innerConatiner">
                                                                    <div class="col-md-12 no-padding">
                                                                        <div *ngFor="let survey of surveys; let itt = index" class="row questionList verticalCenter border-radius-3 margin-vertical-10" >
                                                                            <div class="col-md-1 custWidthIcon">
                                                                                <div>
                                                                                <p class="no-margin">{{ itt + 1 }}.</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-2 no-padding">
                                                                                <div class="height100 verticalCenter">
                                                                                    <div class="font-13 padding-horizontal contentBlock"> 
                                                                                        {{ survey.RoleName }}
                                                                                    </div>
                                                                                </div>
                                                                                </div>
                                                                                <div class="col-md-3 no-padding">
                                                                                    <div class="height100 verticalCenter">
                                                                                        <div class="font-13 padding-horizontal contentBlock"> 
                                                                                            {{ survey.SurveyTitle }}
                                                                                        </div>
                                                                                    </div>
                                                                                    </div>
                                                                                    <div class="col-md-2 no-padding">
                                                                                        <div class="height100 verticalCenter">
                                                                                            <div class="font-13 padding-horizontal contentBlock"> 
                                                                                                {{ moment(survey.fromdate).format('DD/MM/YYYY') }}
                                                                                            </div>
                                                                                        </div>
                                                                                        </div>
                                                                                        <div class="col-md-2 no-padding">
                                                                                            <div class="height100 verticalCenter">
                                                                                                <div class="font-13 padding-horizontal contentBlock"> 
                                                                                                    {{ moment(survey.Todate).format('DD/MM/YYYY') }}
                                                                                                </div>
                                                                                            </div>
                                                                                            </div>
                                                                            <div class="col-md-2 no-padding custWidthButton">
                                                                                <div class="actionBtnBlockForSurvey" *ngIf="survey.IsPublishSurvey == true" (click)="viewQuestionList(survey.SurveyId)"><mat-icon  class="flex  disInlineBlock" svgIcon="viewQuestion" matTooltip="View Questions"></mat-icon></div>
                                                                                <div class="actionBtnBlockForSurvey" *ngIf="survey.IsPublishSurvey == true" (click)="viewResponses(survey)"><mat-icon  class="flex  disInlineBlock" svgIcon="viewResponce" matTooltip="View Responses" ></mat-icon></div>
                                                                                <div class="actionBtnBlockForSurvey" *ngIf="survey.IsPublishSurvey != true" (click)="addQuestionsModal(survey.SurveyId)"><mat-icon  class="flex  disInlineBlock" svgIcon="addQuestion" matTooltip="Add Questions" ></mat-icon></div>
                                                                                <div class="actionBtnBlockForSurvey" (click)="editSurvey(survey, 1)"><mat-icon  class="flex  disInlineBlock" svgIcon="edit" matTooltip="Edit"></mat-icon></div>
                                                                                <div class="actionBtnBlockForSurvey" (click)="openSurveyModal(survey.SurveyId)"><mat-icon  class="flex  disInlineBlock"  matTooltip="View" style="color: #E33045;">remove_red_eye</mat-icon></div>
                                                                                <div class="actionBtnBlockForSurvey" (click)="deleteSurvey(survey.SurveyId)"><mat-icon  class="flex  disInlineBlock" svgIcon="trash" matTooltip="Delete" ></mat-icon></div>
                                                                               
                                                                            </div>
                                                                        </div>
                                                                                  
                                                                    </div>
                                                                    </div>
                                                             
                                                         
                                                    </div>
                                                            </div>
                                             </div>
                                             <mat-paginator
                                             [length]="pageSize"
                                             [pageSize]="10"
                                             [pageIndex]="pageNo || 1"
                                             (page)="getNextPage($event)"
                                         >
                                         </mat-paginator>
                                </mat-card-content>
                        </mat-card>
                            </mat-tab>
                      </mat-tab-group>
                      </mat-card>
                      </div>






        </div>
        </div>
        