<div class="container-fluid height100 mySurveyPage padding no-padding-bottom">
    <div class="grid">
        <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
            <div class="row width100 verticalCenter">
            <div class="col-md-6">
            <h4 class="no-margin">My Surveys</h4>
            </div>
            <div class="col-md-6 no-padding">
            <p class="no-margin font-13 width100 flex verticalEndCenter">
              <span class="pointer" routerLink="/dashboard" routerDirection="backward">Home</span><mat-icon>chevron_right</mat-icon>
            <span class="secondaryMenu">My Surveys</span> 
            </p>
            </div>
            </div>
            </div>
      <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
          <mat-card class="no-padding mainOuterCardContainer">
              <h3 class="themePrimaryColor padding no-margin">MY SURVEYS</h3>
              <div class="col-md-12 innerContiner">
                  <div class="row height100 custPanel">
                      <div class="col-md-3 margin-bottom" *ngFor="let survey of surveys">
                        <mat-card class="no-padding surveyCard" (click)="openSurveyModal(survey.SurveyId)">
                          <div class="imgBlock">
                            <div class="height100 verticalMiddleCenter">
                              <img src="/assets/img/Survey_Respond_Image.png"> 
                            </div>
                          </div>
                          <div class="contentBlock">
                            <div class="col">
                              <div class="borderBottom">
                                  <p class="padding-vertical no-margin font-13 ">{{ survey.SurveyTitle }}</p>
                                  <!-- <p class="padding-vertical no-margin font-13 ">CSI Survey-Auto Sector Supplier Payment</p> -->
                             </div>
                            </div>
                            <div class="spacer"></div>
                          <div class="col">
                            <div class="themePrimaryColor text-center packageDayBlock margin-bottom-5">
                            <p class="no-margin">{{ survey.ExpireInDays }}<span class="font-15 fontW-600 margin-left-5">Days</span></p>
                          </div>
                            </div>
                            <div class="col surveyText text-center">
                                <p class="no-margin font-14">Survey Expires(In Days)</p>
                            </div>
                            <div class="spacer"></div>
                            <div class="col">
                                <button class=""   color="theme-red-outline-button">Respond To This Survey</button>
                            </div>
                          </div>
                        </mat-card>
                      </div>
                      <!-- <div class="col-md-3">
                          <mat-card class="no-padding surveyCard">
                            <div class="imgBlock">
                              <div class="height100 verticalMiddleCenter">
                                <img src="/assets/img/Survey_Respond_Image.png"> 
                              </div>
                            </div>
                            <div class="contentBlock">
                              <div class="col">
                                <div class="borderBottom">
                                    <p class="padding-vertical no-margin font-13 ">CSI Survey-Auto Sector Supplier Payment</p>
                               </div>
                              </div>
                              <div class="spacer"></div>
                            <div class="col">
                              <div class="themePrimaryColor text-center packageDayBlock margin-bottom-5">
                              <p class="no-margin">20<span class="font-15">Days</span></p>
                            </div>
                              </div>
                              <div class="col surveyText text-center">
                                  <p class="no-margin font-14">Survey Expires(In Days)</p>
                              </div>
                              <div class="spacer"></div>
                              <div class="col">
                                  <button class="" (click)="openSurveyModal()" color="theme-red-outline-button">Respond To This Survey</button>
                              </div>
                            </div>
                          </mat-card>
                        </div>
                        <div class="col-md-3">
                            <mat-card class="no-padding surveyCard">
                              <div class="imgBlock">
                                <div class="height100 verticalMiddleCenter">
                                  <img src="/assets/img/Survey_Respond_Image.png"> 
                                </div>
                              </div>
                              <div class="contentBlock">
                                <div class="col">
                                  <div class="borderBottom">
                                      <p class="padding-vertical no-margin font-13 ">CSI Survey-Auto Sector Supplier Payment</p>
                                 </div>
                                </div>
                                <div class="spacer"></div>
                              <div class="col">
                                <div class="themePrimaryColor text-center packageDayBlock margin-bottom-5">
                                <p class="no-margin">20<span class="font-15">Days</span></p>
                              </div>
                                </div>
                                <div class="col surveyText text-center">
                                    <p class="no-margin font-14">Survey Expires(In Days)</p>
                                </div>
                                <div class="spacer"></div>
                                <div class="col">
                                    <button class="" (click)="openSurveyModal()" color="theme-red-outline-button">Respond To This Survey</button>
                                </div>
                              </div>
                            </mat-card>
                          </div>
                          <div class="col-md-3">
                              <mat-card class="no-padding surveyCard">
                                <div class="imgBlock">
                                  <div class="height100 verticalMiddleCenter">
                                    <img src="/assets/img/Survey_Respond_Image.png"> 
                                  </div>
                                </div>
                                <div class="contentBlock">
                                  <div class="col">
                                    <div class="borderBottom">
                                        <p class="padding-vertical no-margin font-13 ">CSI Survey-Auto Sector Supplier Payment</p>
                                   </div>
                                  </div>
                                  <div class="spacer"></div>
                                <div class="col">
                                  <div class="themePrimaryColor text-center packageDayBlock margin-bottom-5">
                                  <p class="no-margin">20<span class="font-15">Days</span></p>
                                </div>
                                  </div>
                                  <div class="col surveyText text-center">
                                      <p class="no-margin font-14">Survey Expires(In Days)</p>
                                  </div>
                                  <div class="spacer"></div>
                                  <div class="col">
                                      <button class="" (click)="openSurveyModal()" color="theme-red-outline-button">Respond To This Survey</button>
                                  </div>
                                </div>
                              </mat-card>
                            </div> -->
                    </div>
              </div>
        
          </mat-card>
        
      </div> 
    </div>
    </div>