@import '../../variable.scss';
.mySurveyPage{
    .innerContiner{
        height: calc(100% - 51px); 
        .custPanel{
            overflow-y: scroll;
        }
    }
    .surveyCard{
        height: auto;
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0,16,44,.08), 0 2px 4px rgba(0,16,44,.12);
        border: 1px solid #eee;
        cursor: pointer;
        padding: 16px 0px !important;
        .imgBlock{
            height: 50%;
            width: 100% !important;
            background: #fff;
        }
        .contentBlock{
            height: 50%;
            background: #FBFBFB;
            .borderBottom{
                border-bottom: 1px solid #E6E6E6;
                p{
                    color: #525252;
                }
            }
            .packageDayBlock{
                background-color: #FFF6D1;
                border-radius: 20px;
                font-size: 30px;
            }
            .surveyText{
                color: #A7A7A7;
            }
        }
    }
    .surveyCard:hover{
        // box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        // transform: scale(1.02,1.02);
        box-shadow: 0 10px 20px 0 rgba(0,13,36,.16), 0 2px 8px 0 rgba(0,13,36,.08);
    }
}