@import '../../variable.scss';
.createNotePage{
  .readonly-wrapper {
        cursor: not-allowed;
    }

    .readonly-wrapper .readonly-block {
        pointer-events: none;
    }
    .searchSelect{
      font-size: 1.5em;
      padding: 0.3em; 
    }
    .borderInput{
        ::ng-deep .mat-form-field-infix{border-top: 0px !important;}
        ::ng-deep .mat-form-field-wrapper{padding-bottom: 0px;}
        }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: rgba(0,0,0,.12); }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{border-width: 1px !important;}
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{border-width: 1px !important;}
        /deep/.mat-select-arrow-wrapper{
          display: flex;
          align-items: center;
          justify-content: center;
        }
        /deep/{
          mat-horizontal-stepper{
            height: 100%;
             .mat-horizontal-content-container{
               height: calc(100% - 72px);
               padding: 0px;
               .mat-horizontal-stepper-content{
                 height: 100%;
                 form{
                   height: 100%;
                   mat-card{
                     height: 100%;
                     mat-card-content{
                       height: 60%;
                       overflow-y: auto;
                       margin-bottom: 0px;
                     }
                     mat-card-footer{
                       height: 15%;
                     }
                   }
                 }
               }
             }
           }
           .mat-horizontal-stepper-content[aria-expanded=false] {
             height: 0 !important;
          }
         }    
  /deep/.mat-form-field-subscript-wrapper{
    position: absolute;
    top: 8px;
  }
  ::ng-deep .mat-step-header .mat-step-icon{
    background-color: $color-white-default;
    color: $color-foreground-tertiary;
    border: 1px solid $color-foreground-tertiary;
  }
  ::ng-deep .mat-step-header .mat-step-label-selected {
    color:#e33045 !important;
    border-bottom: 1px solid #e33045;
  }
  ::ng-deep .mat-step-header .mat-step-icon-selected {
      background: #e33045;
      color: #fff;
      border: 1px solid #e33045;
  }
  ::ng-deep .mat-step-header .mat-step-label-selected:after {
    content: '';
    position: absolute;
    bottom: 21px;
    right: 0;
    left: 15%;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 4px #e33045;
    border-left: solid 4px transparent;
    border-right: solid 4px transparent;
  }
  
  .rotateBackButton{
    transform: rotate(180deg);
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
     margin: 0;
  }
  
  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: red!important;
    opacity: 0.8!important;
  }
 /deep/ .mat-stepper-horizontal-line{
    flex: inherit !important;
    min-width: 200px !important;
  }
}