<div class="container-fluid createNotePage padding mySuggestionPage">
  <div class="grid">
      <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
          <div class="row width100 verticalCenter">
          <div class="col-md-6">
          <h4 class="no-margin">Create Debit Note</h4>
          </div>
          <div class="col-md-6 no-padding">
          <p class="no-margin font-13 width100 flex verticalEndCenter">
            <span class="pointer" routerLink="/adminDashboard" routerDirection="backward">Home</span><mat-icon>chevron_right</mat-icon>
          <span class="secondaryMenu">Create Debit Note</span> 
          </p>
          </div>
          </div>
          </div>
      <div class="col-md-12 border-radius border-radius padding-top no-padding-left no-padding-right">
          <mat-card class="no-padding border-radius mainOuterCardContainer">
              <mat-horizontal-stepper [linear]="isLinear" #stepper class="height100">
                  <mat-step>
                    <form [formGroup]="debitNoteForm" #newform="ngForm" *ngIf="debitNoteForm">
                      <ng-template matStepLabel>Debit Note Details</ng-template>
                      <mat-card class="no-padding no-shadow height100 firstBlockCard">
                          <mat-card-content>
                              <div class="row no-margin">
                                  <div class="col-md-6">
                                      <div class="row">
                                          <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                              Supplier Code<span style="color: red;">*</span>:
                                          </div>
                                          <div class="col-md-7 colInput">
                                              <mat-form-field appearance="outline" class="borderInput font-13">
                                                <!-- (selectionChange)="getVcodeWiseName($event)" -->
                                                <input matInput formControlName="supplier_code" onPaste="return false" (change)="getSupplierName()" type="text">
                                                  <!-- <mat-select formControlName="supplier_code" (selectionChange)="getVcodeWiseName($event)">
                                                      <mat-option *ngFor="let vendor of vendor_details" [value]="vendor.VendorCode">{{vendor.VendorCode}}</mat-option>
                                                  </mat-select> -->
                                                
                                               </mat-form-field>
                                               <mat-error *ngIf="debitNoteForm.get('supplier_code').touched && debitNoteForm.get('supplier_code').hasError('required')">Supplier Code is required</mat-error>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                              Commodity<span style="color: red;">*</span>:
                                          </div>
                                          <div class="col-md-7 colInput">
                                              <mat-form-field appearance="outline" class="borderInput font-13">
                                                  <mat-select formControlName="commodity">
                                                      <mat-option *ngFor="let vendor of commodity_details" [value]="vendor.commodity">{{vendor.commodity}}</mat-option>
                                                  </mat-select>
                                               </mat-form-field>
                                               <mat-error *ngIf="debitNoteForm.get('commodity').touched && debitNoteForm.get('commodity').hasError('required')">Commodity is required</mat-error>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                              Debit Amount<span style="color: red;">*</span>:
                                          </div>
                                          <div class="col-md-7 colInput">
                                              <mat-form-field appearance="outline" class="borderInput font-13">
                                                  <input matInput formControlName="debit_amount" onPaste="return false" (keypress)="numberOnly($event)" type="number" step='0.01'>
                                               </mat-form-field>
                                               <mat-error *ngIf="debitNoteForm.get('debit_amount').touched && debitNoteForm.get('debit_amount').hasError('required')">Debit Amount is required</mat-error>
                                          </div>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                                Supplier Name<span style="color: red;">*</span>:
                                            </div>
                                            <div class="col-md-7 colInput">
                                                <mat-form-field appearance="outline" class="borderInput font-13 readonly-wrapper">
                                                    <!-- -->
                                                    <input matInput readonly formControlName="supplier_name">
                                                    <!-- <mat-select class="readonly-block" readOnly (selectionChange)="getVNameWiseVCode($event)" formControlName="supplier_name">
                                                        <mat-option *ngFor="let vendor of vendor_details" [value]="vendor.VendorCodeName">{{vendor.VendorCodeName}}</mat-option>
                                                    </mat-select> -->
                                                 </mat-form-field>
                                                 <mat-error *ngIf="debitNoteForm.get('supplier_name').touched && debitNoteForm.get('supplier_name').hasError('required')">Supplier Name is required</mat-error>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                                Comments<span style="color: red;">*</span>:
                                            </div>
                                            <div class="col-md-7 colInput">
                                                <mat-form-field appearance="outline" class="borderInput font-13">
                                                    <textarea formControlName="comments" maxlength="200" matInput rows="3"></textarea>
                                                 </mat-form-field>
                                                 <mat-error *ngIf="debitNoteForm.get('comments').touched && debitNoteForm.get('comments').hasError('required')">Comments is required</mat-error>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                                Attach Document<span style="color: red;">*</span>:
                                            </div>
                                            <div class="col-md-4 colInput no-padding-right">
                                                <mat-form-field appearance="outline" class="borderInput font-13 ">
                                                  <input matInput placeholder="" readonly formControlName="attachment" (click)="openFile()">
                                                </mat-form-field> 
                                                <mat-error *ngIf="debitNoteForm.get('attachment').touched && debitNoteForm.get('attachment').hasError('required')">Please upload file</mat-error>
                                                  </div>
                                                  <div class="col-md-3 verticalCenter">
                                                    <label for="file-input" class="no-margin text-center" color="theme-gray-button">
                                                        Upload File
                                                    <input id="file-input"  type="file"  (change)="detectFiles($event)" accept=".pdf, .xlsx, .xls, .pptx, .ppt, .png, .jpg, .jpeg" style="display: none;"/>
                                               </label>     
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                          </mat-card-content>
                          <mat-card-footer class="padding verticalMiddleCenter no-margin">
                              <!-- <div class="col">
                                  <div class="primaryFormBtn">
                                      <button (click)="Reset(debitNoteForm)" color="theme-red-button">Reset</button>
                                  </div>
                                  <div class="primaryFormBtn">
                                    <button (click)="validateForm(debitNoteForm,stepper)" color="theme-red-button">Continue</button>
                                </div>
                              </div> -->

                            <div class="row width100" >
                              <div class="col-md-4 offset-2" >
                                  <div style="width: 100%" class="primaryFormBtn disInlineBlock">
                                      <button (click)="Reset(debitNoteForm)" color="theme-gray-button">Reset</button> 
                                    </div>
                                </div>
                             <div class="col-md-4 ">
                                 <div style="width: 100%" class="primaryFormBtn disInlineBlock">
                                       <button (click)="validateForm(debitNoteForm,stepper)" color="theme-red-button">Continue</button> 
                                     </div>
                                 </div>
                            </div>
                          </mat-card-footer>
                      </mat-card>
                     </form>
                  </mat-step>
                  <mat-step [completed]="isMatStepComplete">
                    <form [formGroup]="approveDetailsForm" #newapproverform="ngForm" *ngIf="approveDetailsForm && (allApprovers.listInternalUser.length > 0)">
                      <!-- <ng-template matStepLabel>Approver Details</ng-template> -->

                      <ng-template matStepLabel>
                        <div #current (click)="validateForm(debitNoteForm,stepper)">
                       <span>Approver Details</span>
                   </div>
                   </ng-template>
                      <mat-card class="no-padding no-shadow height100 firstBlockCard">
                          <mat-card-content>
                              <div class="row no-margin">
                                  <div class="col-md-6">
                                      <div class="row">
                                          <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                            QA DH<span style="color: red;">*</span>:
                                          </div>
                                          <div class="col-md-7 colInput">
                                            <!-- <mat-form-field appearance="outline" class="borderInput font-13">
                                                <input type="text" formControlName="QA_DH" [matAutocomplete]="auto" matInput >
                                                <mat-autocomplete #auto="matAutocomplete">
                                                <mat-option *ngFor="let street of filteredStreets | async" [value]="street">
                                                     {{street}}
                                                </mat-option>
                                         </mat-autocomplete>
                                         <mat-error *ngIf="approveDetailsForm.get('QA_DH').hasError('required')">QA DH is required</mat-error>
                                               </mat-form-field> -->

                                               <mat-form-field appearance="outline" class="borderInput font-13">
                                                <mat-select formControlName="QA_DH" #selectBox>
                                                    <!-- <ngx-mat-select-search [formControl]="searchBox" name="search"></ngx-mat-select-search> -->
                                                    <!-- <input matInput class="searchSelect" [formControl]="searchBox"> -->
                                                    <mat-option *ngFor="let data of getCustomMasters(1)" [value]="data.ApproverUserName">{{data.ApproverName}} ({{data.ApproverUserName}})</mat-option>
                                                </mat-select>
                                             </mat-form-field>
                                             <mat-error *ngIf="approveDetailsForm.get('QA_DH').touched && approveDetailsForm.get('QA_DH').hasError('required')">QA DH is required</mat-error>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                            CDMM - DH:
                                          </div>
                                          <div class="col-md-7 colInput">
                                              <mat-form-field appearance="outline" class="borderInput font-13">
                                                  <mat-select formControlName="CDDMM_DH">
                                                    <mat-option *ngFor="let data of allApprovers.listInternalUser" [value]="data.UserName">{{data.Name}} ({{data.UserName}})</mat-option>
                                                  </mat-select>
                                                  <mat-error *ngIf="approveDetailsForm.get('CDDMM_DH').touched && approveDetailsForm.get('CDDMM_DH').hasError('required')">CDMM - DH is required</mat-error>
                                               </mat-form-field>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                            CDMM - GM<span style="color: red;">*</span>:
                                          </div>
                                          <div class="col-md-7 colInput">
                                            <mat-form-field appearance="outline" class="borderInput font-13">
                                                <mat-select formControlName="CDMM_GM">
                                                    <mat-option *ngFor="let data of getCustomMasters(5)" [value]="data.ApproverUserName">{{data.ApproverName}} ({{data.ApproverUserName}})</mat-option>
                                                </mat-select>
                                             </mat-form-field>
                                             <mat-error *ngIf="approveDetailsForm.get('CDMM_GM').touched && approveDetailsForm.get('CDMM_GM').hasError('required')">CDMM - GM is required</mat-error>
                                          </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                            VP QA<span style="color: red;">*</span>:
                                        </div>
                                        <div class="col-md-7 colInput">
                                            <mat-form-field appearance="outline" class="borderInput font-13">
                                                <mat-select formControlName="VP_QA">
                                                    <mat-option *ngFor="let data of getCustomMasters(3)" [value]="data.ApproverUserName">{{data.ApproverName}} ({{data.ApproverUserName}})</mat-option>
                                                </mat-select>
                                             </mat-form-field>
                                             <mat-error *ngIf="approveDetailsForm.get('VP_QA').touched && approveDetailsForm.get('VP_QA').hasError('required')">VP QA is required</mat-error>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                            Accounts:
                                        </div>
                                        <div class="col-md-7 colInput">
                                            <mat-form-field appearance="outline" class="borderInput font-13">
                                                <mat-select formControlName="Accounts">
                                                    <mat-option *ngFor="let data of allApprovers.listInternalUser" [value]="data.UserName">{{data.Name}} ({{data.UserName}})</mat-option>
                                                </mat-select>
                                             </mat-form-field>
                                             <mat-error *ngIf="approveDetailsForm.get('Accounts').touched && approveDetailsForm.get('Accounts').hasError('required')">Accounts is required</mat-error>
                                        </div>
                                    </div>
                                     
                                      
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                                QA Manager:
                                            </div>
                                            <div class="col-md-7 colInput">
                                                <mat-form-field appearance="outline" class="borderInput font-13">
                                                    <mat-select formControlName="QA_manager">
                                                        <mat-option *ngFor="let data of allApprovers.listInternalUser" [value]="data.UserName">{{data.Name}} ({{data.UserName}})</mat-option>
                                                    </mat-select>
                                                 </mat-form-field>
                                                 <mat-error *ngIf="approveDetailsForm.get('QA_manager').touched && approveDetailsForm.get('QA_manager').hasError('required')">QA Manager is required</mat-error>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                                CDMM - Manager:
                                            </div>
                                            <div class="col-md-7 colInput">
                                                <mat-form-field appearance="outline" class="borderInput font-13">
                                                    <mat-select formControlName="CDMM_manager">
                                                        <mat-option *ngFor="let data of allApprovers.listInternalUser" [value]="data.UserName">{{data.Name}} ({{data.UserName}})</mat-option>
                                                    </mat-select>
                                                 </mat-form-field>
                                                 <mat-error *ngIf="approveDetailsForm.get('CDMM_manager').touched && approveDetailsForm.get('CDMM_manager').hasError('required')">CDMM - Manager is required</mat-error>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                                VP SCPC<span style="color: red;">*</span>:
                                            </div>
                                            <div class="col-md-7 colInput">
                                                <mat-form-field appearance="outline" class="borderInput font-13">
                                                    <mat-select formControlName="VP_SCPC">
                                                        <mat-option *ngFor="let data of getCustomMasters(4)" [value]="data.ApproverUserName">{{data.ApproverName}} ({{data.ApproverUserName}})</mat-option>
                                                    </mat-select>
                                                 </mat-form-field>
                                                 <mat-error *ngIf="approveDetailsForm.get('VP_SCPC').touched && approveDetailsForm.get('VP_SCPC').hasError('required')">VP SCPC is required</mat-error>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                                VP CDMM<span style="color: red;">*</span>:
                                            </div>
                                            <div class="col-md-7 colInput">
                                                <mat-form-field appearance="outline" class="borderInput font-13">
                                                    <mat-select formControlName="VP_CDMM">
                                                        <mat-option *ngFor="let data of getCustomMasters(2)" [value]="data.ApproverUserName">{{data.ApproverName}} ({{data.ApproverUserName}})</mat-option>
                                                    </mat-select>
                                                 </mat-form-field>
                                                 <mat-error *ngIf="approveDetailsForm.get('VP_CDMM').touched && approveDetailsForm.get('VP_CDMM').hasError('required')">VP CDMM is required</mat-error>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                                GM SCPC:
                                            </div>
                                            <div class="col-md-7 colInput">
                                                <mat-form-field appearance="outline" class="borderInput font-13">
                                                    <mat-select formControlName="GM_SCPC">
                                                        <mat-option *ngFor="let data of allApprovers.listInternalUser" [value]="data.UserName">{{data.Name}} ({{data.UserName}})</mat-option>
                                                    </mat-select>
                                                 </mat-form-field>
                                                 <mat-error *ngIf="approveDetailsForm.get('GM_SCPC').touched && approveDetailsForm.get('GM_SCPC').hasError('required')">GM SCPC is required</mat-error>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                                Account Approver<span style="color: red;">*</span>:
                                            </div>
                                            <div class="col-md-7 colInput">
                                                <mat-form-field appearance="outline" class="borderInput font-13">
                                                    <mat-select formControlName="Account_approver">
                                                        <mat-option *ngFor="let data of getCustomMasters(6)" [value]="data.ApproverUserName">{{data.ApproverName}} ({{data.ApproverUserName}})</mat-option>
                                                    </mat-select>
                                                 </mat-form-field>
                                                 <mat-error *ngIf="approveDetailsForm.get('Account_approver').touched && approveDetailsForm.get('Account_approver').hasError('required')">Account Approver is required</mat-error>
                                            </div>
                                        </div>
                                       </div>
                                    </div>
                          </mat-card-content>
                          <mat-card-footer class="padding verticalMiddleCenter no-margin">
                              <div class="col">
                                  <div class="disInlineBlock" style="width:10%">
                                      <div class="backBtn">
                                          <button color="theme-text-button" matStepperPrevious class="no-shadow"
                                              class="verticalMiddleCenter no-shadow">
                                              <mat-icon class="disInlineBlock margin-right-5 rotateBackButton"
                                                  svgIcon="arrowIcon"></mat-icon> Back
                                          </button>
                                      </div>
                                  </div>
                                  <!-- <div class="disInlineBlock" style="width:90%">
                                    <div class="primaryFormBtn">
                                        <button color="theme-red-button"
                                        (click)="Reset(approveDetailsForm)"
                                        >Reset</button>
                                    </div>
                                      <div class="primaryFormBtn">
                                          <button class="" color="theme-red-button"
                                          (click)="submitCreateDebitNote()"
                                          >Submit</button>
                                      </div>
                                  </div> -->

                                  <div class="row width100">
                                    <div class="col-md-4 offset-2" >
                                        <div class="primaryFormBtn disInlineBlock" style="width: 100%">
                                            <button  (click)="Reset(approveDetailsForm)" color="theme-gray-button">Reset</button> 
                                          </div>
                                      </div>
                                   <div class="col-md-4 ">
                                       <div class="primaryFormBtn disInlineBlock" style="width: 100%">
                                             <button (click)="submitCreateDebitNote()" color="theme-red-button">Submit</button> 
                                           </div>
                                       </div>
                                  </div>
                              </div>
                          </mat-card-footer>
                      </mat-card>
                    </form>
                  </mat-step>
                </mat-horizontal-stepper>
          </mat-card>
      </div>
  </div>
</div>