<div class="container-fluid CMSSurvey padding">
  <div class="grid">
    <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
      <div class="row width100 verticalCenter">
        <div class="col-md-6">
          <h4 class="no-margin">User Details</h4>
        </div>
        <div class="col-md-6 no-padding">
          <p class="no-margin font-13 width100 flex verticalEndCenter">
            <span
              class="pointer"
              style="cursor: pointer;"
              [routerLink]="'/adminDashboard'"
              routerDirection="backward"
              >Home</span
            >
            <mat-icon>chevron_right</mat-icon>
            <span class="pointer secondaryMenu" routerDirection="backward"
              >User Details</span
            >
            <!-- <span class="secondaryMenu">Imcr/Cre Dashboard</span>  -->
          </p>
        </div>
      </div>
    </div>
    <div
      class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
      <mat-card class="mainOuterCardContainer">
          

        <div class="col-md-12 padding height100">
          <div class="row padding-bottom">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                        Vendor Code:
                      </div>
                      <div class="col-md-8 colInput">
                          <mat-form-field appearance="outline" class="borderInput font-13">
                            <!-- (selectionChange)="getUpdateEmpDetails(filterPageNo,$event.value,'',1)" -->
                            <mat-select [formControl]="DDLValue" placeholder="Select" (selectionChange)="getData(1)">
                              <mat-option value="" >Select</mat-option>
                              <mat-option value="{{data.VendorCode}}" *ngFor="let data of Vendor_Code_DDL">{{data.VendorCode}}</mat-option>
                            </mat-select>
                              </mat-form-field>
                          </div>
                      </div>
            </div>
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                   Role:
                  </div>
                  <div class="col-md-8 colInput">
                      <mat-form-field appearance="outline" class="borderInput font-13">
                        <mat-select [formControl]="reqRoleId" placeholder="Select" (selectionChange)="getData(1)">
                          <mat-option value="">Select</mat-option>
                          <mat-option value="{{data.RoleId}}" *ngFor="let data of roleDetails_DDL">{{data.RoleName}}</mat-option>
                        </mat-select>
                          </mat-form-field>
                      </div>
                  </div>
            </div>
            <div class="col-md-3 verticalEndCenter">
              <div class="vertcalAligment width50">
             <button color="theme-gray-button" (click)="reset()"
               class="verticalMiddleCenter">Reset</button>
          </div>
              </div>
            <div class="col-md-3 verticalEndCenter">
                <div class="vertcalAligment width50">
               <button color="theme-green-button" (click)="exportAsExcelFile(updatedEmployeeTable,'UpdatedEmployeeList')"
                 class="verticalMiddleCenter"><mat-icon  class="flex margin-right-10 disInlineBlock exportExcel" svgIcon="excelIcon"></mat-icon>Export To Excel</button>
            </div>
                </div>
               </div>
        
              <div class="row outerblock">
                  <div class="col height100">
                    <div class="example-container  tbl_New_Layout height100">
                          <div class="table-container">
                            <table mat-table  #updatedEmployeeTable class="lessons-table" [dataSource]="updatedEmpDetails">
                            
                              <ng-container matColumnDef="SrNo">
                                <th mat-header-cell *matHeaderCellDef>Sr No</th>
                                <td mat-cell *matCellDef="let element">
                                  {{ element.SrNo || 'N/A' }}
                                </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                              </ng-container>
                            
                              <ng-container matColumnDef="VendorCode">
                                <th mat-header-cell *matHeaderCellDef>Vendor Code</th>
                                <td mat-cell *matCellDef="let element">
                                  {{ element.VendorCode || 'N/A' }}
                                </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                              </ng-container>
                                          
                              <ng-container matColumnDef="SupplierName">
                                <th mat-header-cell *matHeaderCellDef>Supplier Name</th>
                                <td mat-cell *matCellDef="let element">
                                  {{ element.SupplierName || 'N/A' }}
                                </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                              </ng-container>

                              <ng-container matColumnDef="FirstName">
                                <th mat-header-cell *matHeaderCellDef>First Name</th>
                                <td mat-cell *matCellDef="let element">
                                  {{ element.FirstName || 'N/A' }}
                                </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                              </ng-container>

                              <ng-container matColumnDef="LastName">
                                <th mat-header-cell *matHeaderCellDef>Last Name</th>
                                <td mat-cell *matCellDef="let element">
                                  {{ element.LastName || 'N/A' }}
                                </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                              </ng-container>

                              <ng-container matColumnDef="WorkPhone">
                                <th mat-header-cell *matHeaderCellDef>Work Phone</th>
                                <td mat-cell *matCellDef="let element">
                                  {{ element.WorkPhone || 'N/A' }}
                                </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                              </ng-container>

                              <ng-container matColumnDef="CellPhone">
                                <th mat-header-cell *matHeaderCellDef>Cell Phone</th>
                                <td mat-cell *matCellDef="let element">
                                  {{ element.CellPhone || 'N/A' }}
                                </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                              </ng-container>

                              <ng-container matColumnDef="WorkEmail">
                                <th mat-header-cell *matHeaderCellDef>Work Email</th>
                                <td mat-cell *matCellDef="let element">
                                  {{ element.WorkEmail || 'N/A' }}
                                </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                              </ng-container>
                                          
                              <ng-container matColumnDef="USERNAME">
                                <th mat-header-cell *matHeaderCellDef>Username</th>
                                <td mat-cell *matCellDef="let element">
                                  {{ element.USERNAME || 'N/A' }}
                                </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                              </ng-container>
                                          
                              <ng-container matColumnDef="SuppliersToPlants">
                                <th mat-header-cell *matHeaderCellDef>Suppliers To Plants</th>
                                <td mat-cell *matCellDef="let element">
                                  {{ element.SuppliersToPlants || 'N/A' }}
                                </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                              </ng-container>
                                          
                              <ng-container matColumnDef="SuppliersToSectors">
                                <th mat-header-cell *matHeaderCellDef>Suppliers To Sectors</th>
                                <td mat-cell *matCellDef="let element">
                                  {{ element.SuppliersToSectors || 'N/A' }}
                                </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                              </ng-container>
                                          
                              <ng-container matColumnDef="CordysUserID">
                                <th mat-header-cell *matHeaderCellDef>Cordys User ID</th>
                                <td mat-cell *matCellDef="let element">
                                  {{ element.CordysUserID || 'N/A' }}
                                </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                              </ng-container>
                                          
                              <ng-container matColumnDef="SRMUSERID">
                                <th mat-header-cell *matHeaderCellDef>SRMUSERID</th>
                                <td mat-cell *matCellDef="let element">
                                  {{ element.SRMUSERID || 'N/A' }}
                                </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                              </ng-container>
                                          
                              <ng-container matColumnDef="ROLES">
                                <th mat-header-cell *matHeaderCellDef>Roles</th>
                                <td mat-cell *matCellDef="let element">
                                  {{ element.ROLES || 'N/A' }}
                                </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                              </ng-container>
                                          
                              <ng-container matColumnDef="PRIMARYROLE">
                                <th mat-header-cell *matHeaderCellDef>Primary Role</th>
                                <td mat-cell *matCellDef="let element">
                                  {{ element.PRIMARYROLE || 'N/A' }}
                                </td>
                                <td mat-footer-cell *matFooterCellDef> </td>
                              </ng-container>
                                          
                                <tr mat-header-row  *matHeaderRowDef="displayedColumns3;sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns3"></tr>
                                <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns2"></tr> -->
                              </table>
                              </div>
                              <div *ngIf="updatedEmpDetails">
                                <div *ngIf="updatedEmpDetails.length === 0">No records found</div>
                              </div>
                            
                              <mat-paginator [length]="empDetailsCount" [pageSize]="10" [pageIndex]="pageNo" (page)="getData($event.pageIndex + 1)">
                              </mat-paginator>
                            
                          </div>
                    </div>
              </div>
          </div>





        </mat-card>
      </div>
    </div>
  </div>