.myPolicyGuidelinesPage{
    .nav-breadcrumbs{
        background: #ffffff0a;
        color: #fff;
        padding: 8px;
        border-radius: 5px;
        border: 1px #ffffff30 solid;
        .navigation{
            opacity: 0.8;
        }
    }
    .innerContiner{
        height: calc(100% - 51px); 
        .custPanel{
            overflow-y: scroll;
        }
    }
    .content-block{
         .header{
            color: #e33045;
        }

        .custom-card{
            // box-shadow: 0px 0px 5px 1px #b3b3b39e;
            box-shadow: 0 1px 3px rgba(0,16,44,.08), 0 2px 4px rgba(0,16,44,.12);
            border-radius: 5px;
            padding: 15px;
            border: 1px solid #eee;
            cursor: pointer;

            .img_container{
                padding: 10px 0 10px 0;
                text-align: center;
                min-height: 150px;
            }

            .guidlines-text{
                text-align: center;
                background-color: #fff6d1;
                color: #e33045;
                border-radius: 25px;
                padding: 11px;
                font-size: 14px;
                cursor: pointer;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                mat-icon{
                    width: 18px;
                }
            }
        }
        .custom-card:hover{
            // box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            // transform: scale(1.02,1.02);
            box-shadow: 0 10px 20px 0 rgba(0,13,36,.16), 0 2px 8px 0 rgba(0,13,36,.08);
        }
    }

}
