<div class="container-fluid height100 myPolicyGuidelinesPage padding no-padding-bottom">
  <div class="grid">
    <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
      <div class="row width100 verticalCenter">
          <div class="col-md-6">
              <h4 class="no-margin">My Policy Guidelines</h4>
            </div>
            <div class="col-md-6 no-padding">
                <p class="no-margin font-13 width100 flex verticalEndCenter">
                    <span class="pointer" style="cursor: pointer;" [routerLink]="roleId == '7' ? '/adminDashboard' : '/dashboard'" routerDirection="backward">Home</span> <mat-icon>chevron_right</mat-icon>
                    <span class="pointer secondaryMenu" routerDirection="backward">My Policy Guidelines</span> 
                   <!-- <span class="secondaryMenu">Imcr/Cre Dashboard</span>  -->
                </p>
              </div>
      </div>
    </div>   
    <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
        <mat-card class="no-padding mainOuterCardContainer content-block">
            <h3 class="themePrimaryColor padding no-margin">MY POLICY GUIDELINES</h3>
            <div class="col-md-12 innerContiner">
                <div class="row height100 custPanel">
                    <div class="col-md-3 margin-bottom" *ngFor="let doc of guideLines">
                        <div class="custom-card" (click)="myPolicyGuideLinesLinks(doc)">
                          <div class="img_container">
                            <img src="../assets/img/policy_guidelines/My_Policy_Guidelines_Icon1.png">
                            </div>
                            <div class="guidlines-text" (click)="myPolicyGuideLinesLinks(doc)">
                              {{ doc.Doc_Name }} &nbsp; <mat-icon svgIcon="arrowRightRed"></mat-icon>
                            </div>
                          </div>
                        </div>
                        <!-- <div class="col-md-3">
                          <div class="custom-card" (click)="conductSurvey('supplierCodeConduct')">
                            <div class="img_container">
                              <img src="../assets/img/policy_guidelines/My_Policy_Guidelines_Icon1.png">
                              </div>
                              <div class="guidlines-text" (click)="conductSurvey('supplierCodeConduct')">
                                Supplier Code of Conduct Survey &nbsp; <mat-icon svgIcon="arrowRightRed"></mat-icon>
                              </div>
                            </div>
                          </div> -->

                          <!-- <div class="col-md-3">
                            <div class="custom-card">
                              <div class="img_container">
                                <img src="../assets/img/policy_guidelines/My_Policy_Guidelines_Icon1.png">
                                </div>
                                <div class="guidlines-text" (click)="conductSurvey('selfAssessment')">
                                  Self Assessment &nbsp; <mat-icon svgIcon="arrowRightRed"></mat-icon>
                                </div>
                              </div>
                            </div> -->
                </div>
                 </div>
             </mat-card>
       
          </div> 
  </div>
  </div>
  <div class="content-block height100" style="display:none;">
      
        <h3 class="header margin-bottom">MY POLICY GUIDELINES</h3>

        <div class="grid padding-top">
          <div class=row>

            <div class="col-md-3" *ngFor="let doc of guideLines">
              <div class="custom-card">
                <div class="img_container">
                  <img src="../assets/img/policy_guidelines/My_Policy_Guidelines_Icon1.png">
                  </div>
                  <div class="guidlines-text" (click)="myPolicyGuideLinesLinks(doc)">
                    {{ doc.Doc_Name }}- &nbsp; <mat-icon svgIcon="arrowRightRed"></mat-icon>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="custom-card">
                  <div class="img_container">
                    <img src="../assets/img/policy_guidelines/My_Policy_Guidelines_Icon1.png">
                    </div>
                    <div class="guidlines-text">
                      Supplier Code of Conduct Survey &nbsp; <mat-icon svgIcon="arrowRightRed"></mat-icon>
                    </div>
                  </div>
                </div>
             <!-- <div class="col-md-3">
              <div class="custom-card">
                <div class="img_container">
                  <img src="../assets/img/policy_guidelines/My_Policy_Guidelines_Icon1.png">
                  </div>
                  <div class="guidlines-text" (click)="supplierCodeOfConduct()">
                    Supplier Code Of Conduct &nbsp; <mat-icon svgIcon="arrowRightRed"></mat-icon>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="custom-card">
                  <div class="img_container">
                    <img src="assets/img/policy_guidelines/My_Policy_Guidelines_Icon2.png">
                    </div>
                    <div class="guidlines-text" (click)="viewNotificationOnPlasticUsage()">
                      Notification On Plastic Usage &nbsp; <mat-icon svgIcon="arrowRightRed"></mat-icon>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="custom-card">
                    <div class="img_container">
                      <img src="assets/img/policy_guidelines/My_Policy_Guidelines_Icon3.png">
                      </div>
                      <div class="guidlines-text" (click)="viewPlasticWasteManagement()">
                        Plastic Waste Management &nbsp; <mat-icon svgIcon="arrowRightRed"></mat-icon>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="custom-card">
                      <div class="img_container">
                        <img src="assets/img/policy_guidelines/My_Policy_Guidelines_Icon4.png">
                        </div>
                        <div class="guidlines-text" (click)="termsAndCondition()">
                          Po/Sa Terms And Conditions &nbsp; <mat-icon svgIcon="arrowRightRed"></mat-icon>
                        </div>
                      </div>
                    </div> 
                  </div>
        </div>
    </div>
</div> 


<app-cmsdocument #common></app-cmsdocument> -->
