<div class="container-fluid CMSSurvey padding">
  <div class="grid">
      <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
          <div class="row width100 verticalCenter">
              <div class="col-md-6">
                  <h4 class="no-margin">Assessor Confirmation</h4>
                </div>
                <div class="col-md-6 no-padding">
                    <p class="no-margin font-13 width100 flex verticalEndCenter">
                        <span class="pointer" style="cursor: pointer;" [routerLink]="roleId == '7' ? '/adminDashboard' : '/dashboard'" routerDirection="backward">Home</span> <mat-icon>chevron_right</mat-icon>
                        <span class="pointer secondaryMenu" routerDirection="backward">Survey Management</span> 
                       <!-- <span class="secondaryMenu">Imcr/Cre Dashboard</span>  -->
                    </p>
                  </div>
          </div>
        </div>
        <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
          <!-- <button class="" color="theme-gray-button" (click)="createSurveyModal()">Create Survey</button>  -->
          <mat-card class="mainOuterCardContainer">

            <div class="row no-margin mainconatiner">
              <div class="example-container tbl_New_Layout height100">
                <div class="row">
                  <div class="col-md-3">
                    <div class="row">
                      <div class="col-md-4 colInputHeader verticalCenter font-13">
                        Filter:
                      </div>
                      <div class="col-md-8 colInput no-padding-left">
                        <mat-form-field appearance="outline" style="cursor: pointer;" class="borderInput font-13">
                          <mat-select placeholder="Select Year" [(ngModel)]="yearDDL"
                            (selectionChange)="getData(yearDDL)"
                            matTooltip="Please select a year to show the dashboard" matTooltipPosition="above">
                            <mat-option *ngFor="let data of all_year_data" [value]="data">{{data}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="row">
                      <div class="col-md-4 colInputHeader verticalCenter font-13">
                        Status:
                      </div>
                      <div class="col-md-8 colInput no-padding-left">
                        <mat-form-field appearance="outline" style="cursor: pointer;" class="borderInput font-13">
                          <mat-select placeholder="Select Status" [(ngModel)]="status"
                            (selectionChange)="getData(yearDDL,status)"
                            matTooltip="Please select a year to show the dashboard" matTooltipPosition="above">
                            <mat-option *ngFor="let status of all_status" [value]="status">{{status}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>


                <!-- TABLE START -->
                <div class="table-container" class="">
                  <table mat-table [dataSource]="DataSource">
                    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
                      <!-- Header -->
                      <th class="center" mat-header-cell *matHeaderCellDef>{{ capitalize(column) }}</th>

                      <!-- Data -->
                      <td mat-cell *matCellDef="let element" class="center">
                        <ng-container *ngIf="column == 'Action' || column == 'ViewDashboard'; then action; else data"></ng-container>

                        <!-- Test Data -->
                        <ng-template #data>
                          {{ element[column] || "N/A" }}
                        </ng-template>
                        
                        <!-- Action Buttons -->
                        <ng-template #action>
                          <ng-container *ngIf="column == 'Action' then button; else eye"></ng-container>

                          <ng-template #button>
                              <button *ngIf="element.Status == 'Pending with Assessor'" class="responseButton" color="theme-red-button" (click)="respond(element)">Respond</button>
                          </ng-template>

                          <ng-template #eye>
                            <mat-icon class="themePrimaryColor" (click)="viewDashboard(element)">remove_red_eye</mat-icon>
                          </ng-template>
                        </ng-template>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                  </table>
                </div>
                <!-- TABLE END -->
                <!-- <mat-paginator [length]="10" [pageSize]="5" [pageIndex]="pageNo"
                  (page)="getData()">
                </mat-paginator> -->
              </div>
            </div>

            </mat-card>
          </div>
    </div>
</div>