/deep/.mat-form-field-infix{
    padding: 0.5em 0 1em 0 !important;
}
/deep/.mat-form-field-wrapper{
    padding-bottom: 0 !important;
}
mat-card{
    overflow-y: scroll;
}
.responseButton{
    border-radius: 3px;
    padding: 3px;
}
.full-table{
    padding: 30px !important
}
.center{
    text-align: center;
}