<div class='notificationOnPlasticUsage'>
  <mat-icon aria-hidden="false" aria-label="Example close icon" class="close-modal" (click)="closeModal()">close</mat-icon>
  <div class="padding-bottom heading fontW-500 font-20">Notification on Plastic Usage​</div>

  <div class=" padding-bottom fontW-500">Dear Suppliers,</div>
  
  <div class="padding-bottom font-13 content-font-opacity">Attached in ‘Click here’ is the notification no. Plastic-2018/C.R.No.24/TC-4 dated 23rd March 2018, released by Environment Depart of Government of Maharashtra. This notification describes the regulation for manufacture, usage, sale, storage, transport of products made from Plastic and Polystyrene (Thermocol) etc. which generates non-biodegradable waste. This notification is in force from the date of its publication in the Maharashtra Government Gazette. </div>

  <div class="padding-bottom font-13 content-font-opacity">This notification primarily focuses on reducing environment and health hazard due to non-biodegradable plastic garbage waste, however as per clause 3 -iv, it is stated that the plastic cover/ plastic to wrap the material at manufacturing stage or is an integral part of manufacturing, guidelines to recycle or reuse such plastic should be printed prominently on the cover or material.</div>

  <div class="padding-bottom font-13 content-font-opacity">In view of this notification all plastic bags, sheet wrapping, VCI sheet wrapping, bubble sheet, pouches, protective caps or any other type of plastic material used for packaging of parts should carry recycling or reusing symbol as below throughout the length. The thickness of such plastic sheets or bags should not be less than 50 microns and stretch wrapping sheet should not be less than 23 microns. </div>
  
  <div class="padding-bottom">
    <img src="assets/img/policy_guidelines/PlasticNotification.jpg">
  </div>

  <div class="fontW-600 padding-bottom details">
    PET/ PETE : Polyethylene Terephthalate <br>

      HDPE : High Density Polyethylene<br>

      V : Vinyl (PVC)<br>

      LDPE : Low Density Polyethylene <br>

      PP : Polypropylene<br>

      PS : Polystyrene  <br>

      Other : Other Resins and multi-materials lime ABS (Acrylonitrile Butadiene Styrene), PPO (Polyphenylene Oxide), PC (Polycarbonate) , Polybutylene Terephthalate.<br>


      Suppliers are requested to follow this notification on priority.<br>
  </div>

  <div class="font-20">
    Mahindra & Mahindra Ltd.
    </div>
</div>