:root{

    .plasticWasteManagement{
        padding: 20px;
    
        .heading{
            color: #e33045;
        }
    
        .content-font-opacity{
            opacity: 0.6;
        }
    
        .close-modal{
            float: right;
            opacity: 0.5;
        }
    
        .tag_links{
            box-sizing: border-box;
            border-radius: 25px;
            border: 1px #e53c50 solid;
            color: #e53c50;
            padding: 5px 15px;
            text-align: center;
            mat-icon{
                width: 18px;
            }
        }
    
    }
    
    .notificationOnPlasticUsage{
        padding: 20px;
    
        .heading{
            color: #e33045;
        }
    
        .content-font-opacity{
            opacity: 0.6;
        }
    
        .close-modal{
            float: right;
            opacity: 0.5;
        }
    
        .details{
            opacity: 0.8;
        }
    }
}