<div class="modal-header">
    <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">{{ modalTitle }}</h3>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body liquidityContainer no-padding">
    <div class="col-md-12 no-padding">
      <div class="col">
          <div class="row tblHdr">
              <div class="col-md-3 block borderRight padding-left-10">
                <p class="no-margin">Question</p>
              </div>
              <div class="col-md-5 block borderRight padding-left-10">
                  <p class="no-margin">Supplier Response</p>
              </div>
              <div class="col-md-4 text-center block">
                  <p class="no-margin">Others</p>
              </div>
            </div>
      </div>
      <div class="col customScroll">
          <div class="row internalContainer" *ngFor="let res of LiquidityData">
              <div class="col-md-3 verticalCenter padding-vertical-10">
                  <p class="no-margin">{{res.ID}}.  {{res.Question}}</p>
                </div>
                <div class="col-md-5 no-padding padding-vertical-10">
                  <div style="padding-left:10px;">
                    {{res.User_Response}}
                      <!-- <mat-radio-group disabled [(ngModel)]="res.User_Response" aria-label="Select an option" class="radioConatiner">
                          <mat-radio-button *ngFor="let data of res.Options" [value]="data" class="font-13 margin-right">{{data}}
                          </mat-radio-button>
                        </mat-radio-group> -->
                  </div>
                 <div style="padding-left: 10px;">Remark: <span class="themePrimaryColor fontW-500">{{res.Remarks}}</span></div>
                </div>
                <div class="col-md-3 padding-vertical-10">
                  <div class="row">
                    <div class="col-md-4 text-center">
                      <div>
                        <p class="no-margin themePrimaryColor fontW-600 margin-bottom-5">{{res.Rating}}</p>
                        <p class="no-margin">Rating</p>
                      </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div>
                            <p class="no-margin themePrimaryColor fontW-600 margin-bottom-5">{{res.Weightage}}</p>
                            <p class="no-margin">Weightage</p>
                          </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div>
                            <p class="no-margin themePrimaryColor fontW-600 margin-bottom-5">{{res.IsThreshold?'True':'-'}}</p>
                            <p class="no-margin">Is Threshold</p>
                          </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-1 verticalCenter padding-left-10 padding-vertical-10" >
                  <p class="IdeaNumberDraft" *ngIf="res.AttachmentFilePath" (click)="openDoc(res.AttachmentFilePath)">view File</p>
                </div>
          </div>
      </div>
     
    </div>
     </div>
 
