<div class="container-fluid capabilitybuilding padding">
  <div class="grid">
    <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
      <div class="row width100 verticalCenter">
        <div class="col-md-6">
          <h4 class="no-margin">Capability Scoreboard</h4>
        </div>
        <div class="col-md-6 no-padding">
          <p class="no-margin font-13 width100 flex verticalEndCenter">
            <span class="pointer" (click)="navigate()" routerDirection="backward">Home</span>
            <mat-icon>chevron_right</mat-icon>
            <span class="secondaryMenu">Capability Scoreboard
            </span>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
      <mat-card class="no-padding mainOuterCardContainer">
        <mat-card-content class="height100">
          <div class="col-md-12 height100 no-padding">
            <!-- <div *ngIf="showForm" class="col-md-6 offset-3">
                <form [formGroup]="form">
                  <p class="required-field">Participant Name:<br><span style="font-size: 0.8em">(If you have already started the module in the past, use your same exact participant name entered during last time.) </span></p>
                  <mat-form-field appearance="outline" class="borderInput font-13">
                    <input matInput formControlName="name">
                  </mat-form-field>
                  <p class="required-field">Designation:</p>
                  <mat-form-field appearance="outline" class="borderInput font-13">
                      <input matInput formControlName="designation">
                    </mat-form-field>
                  <p class="required-field">Location:</p>
                  <mat-form-field appearance="outline" class="borderInput font-13">
                      <input matInput formControlName="location">
                    </mat-form-field>
                    <button (click)="submit()" color="theme-red-button">Submit</button>
                  </form>
              </div> -->
              <div class="table-container" >
                <table mat-table #table class="lessons-table width100" [dataSource]="DataSource">
                <ng-container matColumnDef="ModuleName">
                  <th mat-header-cell *matHeaderCellDef>Supplier Name</th>
                  <td mat-cell *matCellDef="let element" >
                    {{ element.SupplierName || "N/A" }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="ParticipantName">
                  <th mat-header-cell *matHeaderCellDef>Participant Name</th>
                  <td mat-cell *matCellDef="let element" >
                    {{ element.ParticipantName || "N/A" }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="Stakeholder">
                  <th mat-header-cell *matHeaderCellDef>Supplier Code</th>
                  <td mat-cell *matCellDef="let element" >
                    {{ element.SupplierCode || "N/A" }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="EmailId">
                    <th mat-header-cell *matHeaderCellDef>Designation</th>
                    <td mat-cell *matCellDef="let element" >
                      {{ element.Designation || "N/A" }}
                      </td>
                  </ng-container>
                  <ng-container matColumnDef="Location">
                    <th mat-header-cell *matHeaderCellDef>Location</th>
                    <td mat-cell *matCellDef="let element" >
                      {{ element.Location || "N/A" }}
                      </td>
                  </ng-container>
                  <ng-container matColumnDef="m1">
                    <th mat-header-cell *matHeaderCellDef>Module 1</th>
                    <td mat-cell *matCellDef="let element" >
                      {{ element.Mod1 || "N/A" }}
                      </td>
                  </ng-container>
                  <ng-container matColumnDef="m2">
                    <th mat-header-cell *matHeaderCellDef>Module 2</th>
                    <td mat-cell *matCellDef="let element" >
                      {{ element.Mod2 || "N/A" }}
                      </td>
                  </ng-container>
                  <ng-container matColumnDef="m3">
                    <th mat-header-cell *matHeaderCellDef>Module 3</th>
                    <td mat-cell *matCellDef="let element" >
                      {{ element.Mod3 || "N/A" }}
                      </td>
                  </ng-container>
                  <ng-container matColumnDef="m4">
                    <th mat-header-cell *matHeaderCellDef>Module 4</th>
                    <td mat-cell *matCellDef="let element" >
                      {{ element.Mod4 || "N/A" }}
                      </td>
                  </ng-container>
                  <ng-container matColumnDef="m5">
                    <th mat-header-cell *matHeaderCellDef>Module 5</th>
                    <td mat-cell *matCellDef="let element" >
                      {{ element.Mod5 || "N/A" }}
                      </td>
                  </ng-container>
                  <ng-container matColumnDef="m6">
                    <th mat-header-cell *matHeaderCellDef>Module 6</th>
                    <td mat-cell *matCellDef="let element" >
                      {{ element.Mod6 || "N/A" }}
                      </td>
                  </ng-container>
                  <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef>Total Score</th>
                    <td mat-cell *matCellDef="let element" >
                      {{ sum(element) }}
                      </td>
                  </ng-container>
                <ng-container matColumnDef="Mobile">
                        <th mat-header-cell *matHeaderCellDef>Result</th>
                        <td mat-cell *matCellDef="let element" >
                          <span *ngIf="element.CertificateGen">Qualified</span>
                          <span *ngIf="!element.CertificateGen">InProgress</span>
                          </td>
                 </ng-container>
                 <ng-container matColumnDef="at">
                  <th mat-header-cell *matHeaderCellDef>No Of attempts</th>
                  <td mat-cell *matCellDef="let element" >
                    {{ element.NoOfAttempts || "N/A" }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef>Created Date</th>
                  <td mat-cell *matCellDef="let element" >
                    {{ element.CreatedDate  | date:'dd/MM/yyyy' || "N/A" }}
                    </td>
                </ng-container>
                    <ng-container matColumnDef="fname">
                      <th mat-header-cell *matHeaderCellDef>Action</th>
                      <td mat-cell *matCellDef="let element" >
                       <div class="row">
                         <!-- <div class="actionBtnBlock"  style="margin-left: 5%;">
                          <mat-icon  matTooltip="View" class="themePrimaryColor" (click)="viewDetails(element,content)">remove_red_eye</mat-icon>
                         </div> -->
                         <div class="actionBtnBlock" style="margin-left: 10%;">
                          <mat-icon  matTooltip="Download" style="color:#E33045; " (click)="downloadReport(element)"  class="pull-right downloadIcon" >file_download</mat-icon>
                         </div>
                       </div>
                        </td>
                  </ng-container>
                
                 
                  <!-- <ng-container matColumnDef="action" >
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element" >
                    <div class="row">
                      <div class="actionBtnBlock col-md-2"><mat-icon  class="flex  disInlineBlock" svgIcon="edit" (click)="open(addContent, element)" matTooltip="Edit"></mat-icon></div>
                      <div class="actionBtnBlock col-md-2"><mat-icon  class="flex  disInlineBlock" svgIcon="trash" (click)="delete(element)" matTooltip="Delete"></mat-icon></div>
                    </div>
                      </td>
                  </ng-container> -->
                  <tr mat-header-row  *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>             
                <mat-paginator [length]="pageSize" [pageSize]="10" [pageIndex]="pageNo" (page)="getSupplierData($event)"
                >
                </mat-paginator>
            </div>
          </div>
        
        </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>
<ng-template #content let-t="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title" >Module wise Score Board</h3>
  
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <mat-icon>close</mat-icon>
    </button>
  </div> 
  <div class="modal-body">
    <div class="col-md-12 padding height100">
 
    <div class="row outerblock">
      <div class="col height100">
        <div class="example-container  tbl_New_Layout height100">
              <div class="table-container">
                <table mat-table   class="lessons-table" [dataSource]="moduleScoreData">
                
                  <ng-container matColumnDef="m1">
                      <th mat-header-cell *matHeaderCellDef>Module 1</th>
                      <td mat-cell *matCellDef="let element">
                       {{element.mod1}}
                       </td>
                        <td mat-footer-cell *matFooterCellDef>  </td>
                    </ng-container>
                    <ng-container matColumnDef="m2">
                      <th mat-header-cell *matHeaderCellDef>Module 2</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.mod2 }}                      </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="m3">
                      <th mat-header-cell *matHeaderCellDef>Module 3</th>
                      <td mat-cell *matCellDef="let element">
                       {{element.mod3}}
                       </td>
                        <td mat-footer-cell *matFooterCellDef>  </td>
                    </ng-container>
                    <ng-container matColumnDef="m4">
                      <th mat-header-cell *matHeaderCellDef>Module 4</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.mod4 }}                      </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="m5">
                      <th mat-header-cell *matHeaderCellDef>Module 5</th>
                      <td mat-cell *matCellDef="let element">
                       {{element.mod5}}
                       </td>
                        <td mat-footer-cell *matFooterCellDef>  </td>
                    </ng-container>
                    <ng-container matColumnDef="m6">
                      <th mat-header-cell *matHeaderCellDef>Module 6</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.mod6 }}                      </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container> 
                    <ng-container matColumnDef="avg">
                      <th mat-header-cell *matHeaderCellDef>Average score</th>
                      <td mat-cell *matCellDef="let element">
                        {{ (element.mod1 + element.mod2 +element.mod3 +element.mod4+element.mod5+element.mod6) /6 }}                      </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>                 
                  
                              
                    <tr mat-header-row  *matHeaderRowDef="displayedColumns3;sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns3"></tr>
                    <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns2"></tr> -->
                  </table>
                 
                  </div>
                
              </div>
        </div>
  </div>
</div>
  
  </div>
 
</ng-template>