<div class="container-fluid topFiveTransactionPage padding">
  <div class="grid">
    <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
      <div class="row width100 verticalCenter">
        <div class="col-md-6">
          <h4 class="no-margin">Top Five Transaction</h4>
        </div>
        <div class="col-md-6 no-padding">
          <p class="no-margin font-13 width100 flex verticalEndCenter">
            <span class="pointer" routerLink="/adminDashboard" routerDirection="backward">Home</span>
            <mat-icon>chevron_right</mat-icon>
            <span class="pointer" routerLink="/analytics/usage-dashboard" routerDirection="backward">Usage Analytics</span>
            <mat-icon>chevron_right</mat-icon>
            <span class="secondaryMenu">Top Five Transaction</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
      <mat-card class="no-padding mainOuterCardContainer filterViewCard">
        <mat-card-content class="height100">
          <div class="col-md-12 padding height100">
            <!-- FILTER & EXCEL START -->
            <div class="row no-margin filterSection">
              <div class="container-fluid">
                <div class="row no-margin filterSection">
                  
                  <!-- <div class="col-md-1 margin-bottom verticalEndCenter no-padding-left no-padding-right">
                  <p class="no-margin">
                    Filter
                  </p>
                </div> -->

                  <!-- SEARCH FILTER -->
                  <div class="col-md-3 margin-bottom custWidth" style="margin-left: -25px;">
                    <mat-form-field appearance="outline" class="borderInput" font-13>
                      <mat-select [formControl]="filter" (selectionChange)="getData()" placeholder="Select">
                        <mat-option value="T">All </mat-option>
                        <mat-option value="MT">MSetu Transaction</mat-option>
                        <mat-option value="ST">SRM Transaction </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>&nbsp;
                  <!-- FILTER -->
                  <div class="col-md-3 margin-bottom custWidth">
                    <!-- <mat-form-field appearance="outline" class="borderInput" font-13>
                      <mat-icon svgIcon="search" matSuffix class="margin-right-10"></mat-icon>
                      <input [formControl]="searchValue" matInput placeholder="Search" />
                    </mat-form-field> -->
                  </div>&nbsp;
                  <!-- BUTTON -->
                  <div class="col-md-5 margin-bottom custWidth verticalEndCenter no-padding-right">
                    <div class="primaryFormBtn vertcalAligment">
                      <button class="verticalMiddleCenter" color="theme-green-button" (click)="exportExcel()">
                        <mat-icon class="flex margin-right-10 disInlineBlock excelCustIcon" svgIcon="excelIcon">
                        </mat-icon>Export To Excel
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- FILTER & EXCEL END -->
            <div class="row no-margin mainconatiner">
              <div class="example-container tbl_New_Layout height100">
                <!-- TABLE START -->
                <div class="table-container">
                  <table mat-table class="lessons-table" [dataSource]="DataSource">
                    <ng-container matColumnDef="srNo">
                      <th mat-header-cell *matHeaderCellDef>Sr. No.</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.srNo || "N/A" }}
                      </td>
                    </ng-container>
                    <!-- REPORT NAME -->
                    <ng-container matColumnDef="transactionName">
                      <th mat-header-cell *matHeaderCellDef>Transaction Name</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.transactionName || "N/A" }}
                      </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef class="text-center">Action</th>
                      <td mat-cell *matCellDef="let element" class="text-center"> 
                        <mat-icon *ngIf="element.Status == null" style="cursor: pointer;" class="default-primary-color" (click)="viewReportsdataModal(element)"  matTooltip="View Details">remove_red_eye</mat-icon>  
                        </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <!-- MODULE -->
                    <!-- <ng-container matColumnDef="module">
                      <th mat-header-cell *matHeaderCellDef>Module</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.module || "N/A" }}
                      </td>
                    </ng-container> -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                  </table>
                </div>
                <!-- TABLE END -->
                <mat-paginator [length]="pageSize" [pageSize]="5" [pageIndex]="pageNo"
                  (page)="getData()">
                </mat-paginator>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>