<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="border-right" id="sidebar-wrapper">
    <h5 id="rot">Mahindra Annual Supplier Meet, {{supplier_location|titlecase}} 2020</h5>
    <!-- Main Logo -->
    <div class="main-logo">
      <a (click)="gotoRoute('Supplier-meet-home')"><img src="../../../assets/SupplierImages/SuppPub.png"></a>
    </div>
    <div class="list-group list-group-flush p-custom position-relative">
      <div class="d-inline position-absolute right_0">
        <!-- Sydney -->
        <a (click)="gotoRoute('sydney')"
          class="list-group-item list-group-item-action bg-transparent d-inline sidetabs mb-1 active-link">
          <img src="../../../assets/SupplierImages/LocationIcon.svg"><span class="pl-3">{{supplier_location|titlecase}}</span></a><br>
          <!-- Conference -->
        <a (click)="gotoRoute('conference')"
          class="list-group-item list-group-item-action bg-transparent d-inline sidetabs mb-1">
          <img src="../../../assets/SupplierImages/conferenceIcon.svg"><span class="pl-3">Conference</span></a><br>
          <!-- Registration -->
        <a (click)="gotoRoute('registration')"
          class="list-group-item list-group-item-action bg-transparent d-inline sidetabs mb-1">
          <img src="../../../assets/SupplierImages/registrationicon.svg"><span class="pl-3">Registration</span></a><br>
          <!-- Contact -->
        <a (click)="gotoRoute('contact')"
          class="list-group-item list-group-item-action bg-transparent d-inline sidetabs mb-1">
          <img src="../../../assets/SupplierImages/contacticon.svg"><span class="pl-3">Contact</span></a><br>
      </div>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="topnav-img">
      <img src="{{cs.supplier_headr_img}}" class="imgHeader">
      <!-- <img [src]="supplier_headr_img"> -->
      <div class="togglebtn">
        <button class="btn btn-primary" id="menu-toggle">Side Menu</button>
      </div>
      <div class="waves">
        <img src="../../../assets/SupplierImages/Innerpagewave.png" class="waveImg">
      </div>
    </div>
    <!-- Data Toggle -->
    <div class="content-div">
      <nav class="navbar navbar-expand-lg border-bottom fixed_nav p-0 back_white">
        <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav d-md-flex justify-content-between w-100">
            <li class="nav-item active">
              <a class="nav-link pr-2 pt-0 pl-2 pb-2 cursor" (click)="getSydneyData(1,1)" [ngClass]="flag==1 ? 'active-link':''"
              >About {{supplier_location|titlecase}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  pr-2 pt-0 pl-2 pb-2 cursor" (click)="getSydneyData(1,2)" [ngClass]="flag==2 ? 'active-link':''"
             >{{supplier_location|titlecase}} Night Life</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  pr-2 pt-0 pl-2 pb-2 cursor"  (click)="getSydneyData(1,3)" [ngClass]="flag==3 ? 'active-link':''">Place to
                Eat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link pr-2 pt-0 pl-2 pb-2 cursor" (click)="getSydneyData(1,4)" [ngClass]="flag==4 ? 'active-link':''">Places to
                Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link pr-2 pt-0 pl-2 pb-2 cursor" (click)="getSydneyData(1,5)" [ngClass]="flag==5 ? 'active-link':''">Places to
                Visit</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link pr-2 pt-0 pl-2 pb-2 cursor" (click)="getTipsStatyData(6)" routerLink="tipsDuringStay" [ngClass]="flag==6 ? 'active-link':''">Tips
                During Stay</a>
            </li>
            <li class="nav-item">
              <a class="nav-link pr-2 pt-0 pl-2 pb-2 cursor" (click)="getDoDontsData(7)" routerLink="dosandDonts" [ngClass]="flag==7 ? 'active-link':''">Do's and
                Don'ts</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="sydneyMargin">
        <router-outlet></router-outlet>
      </div>
    </div><!-- /#page-content-wrapper -->
  </div>
</div>