<div class="container-fluid msetuPage no-padding height100">
<div class="grid"> 
<div class="col-md-12 no-padding">
 <div class="grid infoContent">
          <div class="col-md-12 padding">
            <div class="col no-padding">
                <p class="font-12">
                    The Mahindra Supplier Engagement and Transactional Universe (in Short MSETU) is a supplier communication Portal with single interface that makes doing business with Mahindra simple and convenient. Incidentally, SETU, which is a Hindi Word meaning BRIDGE and connotes communication, relationship and cooperation, captures the spirit of Mahindra’s close engagement and collaboration with its supplier partners.  
                </p>
                <p class="font-12">
                    Suppliers and M&M users will have a secure access to all the relevant communication resources through this new website . The portal built on Microsoft SharePoint platform, is password protected having single sign on facility, which means with one login, supplier can get access to the existing SRM, Vendor On Board System (existing Cordys) and other self-service tools to manage their transactions like Scheduling, ASN, eSQA, Payment, RFQs, Performance feedback, POs, online supplier database updation etc. It allows instant access to information from across processes (which will get built in subsequent phases).
                </p>
                <p class="font-12">
                    In future, it will also include Project Management and ePPAP process as well. All our suppliers can view the relevant supply information from Auto and Farm Sector.
                </p>
                <p class="font-12">
                    In addition to above mentioned functional features and supplier specific business transaction related information, many general capabilities like Message Board containing news and announcements, Issue list Management, Universal Work list, Chat facilities, Folder Management, Training module, Video broadcast facility, Surveys and Supplier Help Desk etc. are incorporated in the website to adequately keep you abreast of the key events and support you in efficient engagement with M&M.
                    Subsequently, this portal will be expanded to remaining sectors like MTWL, MTBD, Swaraj, Construction Equipment and MREVA and overseas suppliers
                 </p>
                 <p class="font-12">
                    This unique portal will become the future communication highway connecting the M&M group companies and its Supplier Eco System and will encompass in its scope more than 2000 Supplier Codes, 1500+ internal users. It will provide an enabling infrastructure for business process innovation and define the collaboration framework in pursuit of excellence in operation and value creation.  
                </p>
            </div>
            </div>
        </div> 
   
</div>
</div>
</div>