<div class="container-fluid CMSSurvey padding">
  <div class="grid">
    <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
      <div class="row width100 verticalCenter">
        <div class="col-md-6">
          <h4 class="no-margin">Email</h4>
        </div>
        <div class="col-md-6 no-padding">
          <p class="no-margin font-13 width100 flex verticalEndCenter">
            <span
              class="pointer"
              style="cursor: pointer;"
              [routerLink]="roleId == '7' ? '/adminDashboard' : '/dashboard'"
              routerDirection="backward"
              >Home</span
            >
            <mat-icon>chevron_right</mat-icon>
            <span class="pointer secondaryMenu" routerDirection="backward"
              >Mass Mailer</span
            >
            <!-- <span class="secondaryMenu">Imcr/Cre Dashboard</span>  -->
          </p>
        </div>
      </div>
    </div>
    <div
      class="col-md-12 border-radius padding-top no-padding-left no-padding-right"
    >
      <!-- <button class="" color="theme-gray-button" (click)="createSurveyModal()">Create Survey</button>  -->
      <mat-card class="mainOuterCardContainer">
        <form>
          <div class="row">
            <div class="col-md-3">
              <label
                for="excelTo"
                class="no-margin text-center"
                color="theme-green-button"
                matTooltip="Kindly Upload File of type excel"
              >
                Upload Sending List
                <input
                  #fileInput
                  id="excelTo"
                  accept=".xlsx"
                  (click)="fileInput.value = null"
                  (change)="uploadSendingExcel($event)"
                  type="file"
                  style="display: none;"
                />
              </label>
              <!-- <button color="theme-green-button" (click)="uploadSendingExcel()" class="verticalMiddleCenter">Upload Sending List</button>  -->
            </div>
            <div class="col-md-3">
              <button
                color="theme-gray-button"
                (click)="downloadExcelTemplate()"
                class="verticalMiddleCenter"
              >
              <!-- <a href="../assets/mailerTemplate" target="_blank" -->
                <a>Download Template</a>
              </button>
              <!-- <a href=""> -->
            </div>
            <div class="col-md-3">
              <!-- <a href="../assets/mailerTemplate" target="_blank" -->
                <span>File to be uploaded: {{ toBeSentExcel ? toBeSentExcel.name : 'Not Selected' }}</span>
              <!-- <a href=""> -->
            </div>
            <div class="col-md-3">
              <button
                color="theme-gray-button"
                (click)="openModal(content)"
                class="verticalMiddleCenter"
              >
              <!-- <a href="../assets/mailerTemplate" target="_blank" -->
                <a>View E-mail logs</a>
              </button>
              <!-- <a href=""> -->
            </div>
          </div>
          <div class="row">
            <div class="note">Note: 1. Phone number entry can contain only number upto 10 digits. 2. Name entry can contain only alphabets. 3. Email entry can contain only @email.com</div>
            </div>

          <!-- <mat-form-field appearance="outline" class="borderInput">
                <input matInput placeholder="Send To"/>
              </mat-form-field> -->
          <mat-form-field appearance="outline" class="borderInput">
            <input matInput placeholder="Subject" [formControl]="subject" />
          </mat-form-field>
          <div>
            <div class="row">
              <div class="col-md-2 verticalCenter">
                <label
                  for="file-input1"
                  class="no-margin text-center"
                  color="theme-green-button"
                  matTooltip="Kindly Upload File of type doc, excel, pdf"
                >
                  Upload File
                  <input
                    #fileInput
                    multiple="true"
                    id="file-input1"
                    accept=".xlsx, .doc, .docx, .pdf, .jpg, .jpeg, .png, .csv"
                    (click)="fileInput.value = null"
                    (change)="addAttachments($event)"
                    type="file"
                    style="display: none;"
                  />
                </label>
              </div>
              <div class="col-md-2" *ngFor="let file of files; let itt = index">
                <div class="mat-card color-card">
                  <div class="row">
                    <div class="col-md-10">
                      <div class="text-truncate">{{ file.name }} &nbsp;</div>
                    </div>
                    <div class="col-md-2">
                      <span class="removeFile" (click)="removeFile(itt)"
                        >x</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- <mat-form-field appearance="outline" class="borderInput">
            <textarea
              [formControl]="message"
              matInput
              (change)="mesageOutput($event)"
              rows="10"
              placeholder="Type Your Message Here"
            ></textarea>
            </mat-form-field> -->
            <ckeditor [formControl]="message" [config]="config" [readonly]="false" (paste)="onPaste($event)"
                              (drop)="onDrop($event)"></ckeditor>
          <span>@name in message will be replaced with names in the 'name' Column of the Excel </span>
        </form>
        <!-- <div class="width100">
          Message Output:
          <div class="relativePosition height150">
            <div class ="outputMessage" [innerHtml]="outputMessage | safePipe"></div>
          </div>
        </div> -->
          <button color="theme-green-button" (click)="submit()" class="verticalMiddleCenter">Submit</button> 
      </mat-card>
    </div>
  </div>
</div>
<ng-template #content let-t="close" let-d="dismiss">
  <div class="modal-header">
    <div class="row width100">
      <div class="col-md-5">
        <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">E-mail Logs</h3>
      </div>
      <div class="col-md-3">
       
          <mat-select class="dropDown"   placeholder="Select category" [(ngModel)]="logType" (selectionChange)="changeType()">
            <mat-option value="MassMail">Mass Mailer</mat-option>
            <mat-option value="COP">COP</mat-option>
           </mat-select>
     
      </div>
      <div class="col-md-3"> <button type="button"   class="verticalMiddleCenter" color="theme-green-button"  (click)="downloadExcel()">
        <!-- <mat-icon  class="flex margin-right-10  excelCustIcon" svgIcon="excelWhiteIcon"></mat-icon> -->
        Export To Excel
       
      </button>
    </div>
    <div class="col-md-1">
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    </div>
    <!-- <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">Mass Mail Log</h3>
    <button type="button" style="    width: 20%;margin-left: 50%;"  class="verticalMiddleCenter" color="theme-green-button"  (click)="downloadExcel()">
   
      <mat-icon  class="flex margin-right-10  excelCustIcon" svgIcon="excelWhiteIcon"></mat-icon>
      Export To Excel
     
    </button>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <mat-icon>close</mat-icon>
    </button> -->
  </div> 
  <div class="modal-body">
    <div class="col-md-12 padding height100">
    <div class="row outerblock">
      <div class="col height100">
        <div class="example-container  tbl_New_Layout height100">
              <div class="table-container">
                <table mat-table  #logTable class="lessons-table" [dataSource]="logDataSource" *ngIf="logType =='MassMail'">
                 
                  <ng-container matColumnDef="SearchField">
                    <th mat-header-cell *matHeaderCellDef>Mail Subject</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.MailerSubject}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef> </td>
                  </ng-container>
                  <ng-container matColumnDef="Link">
                      <th mat-header-cell *matHeaderCellDef>Mailer To</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.MailerTo || "N/A" }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef>  </td>
                    </ng-container>
                    <ng-container matColumnDef="cc">
                      <th mat-header-cell *matHeaderCellDef>cc</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.MailerCC || "N/A" }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef>  </td>
                    </ng-container>
                    <ng-container matColumnDef="body">
                      <th mat-header-cell *matHeaderCellDef>Mail Body</th>
                      <td mat-cell *matCellDef="let element" >
                        <!-- {{ element.MailerBody || "N/A" }} -->
                        <span  [innerHtml]="element.MailerBody | safePipe"></span>
                        </td>
                        <td mat-footer-cell *matFooterCellDef>  </td>
                    </ng-container>
                    <ng-container matColumnDef="createdby">
                      <th mat-header-cell *matHeaderCellDef>Created By</th>
                      <td mat-cell *matCellDef="let element" >
                        {{ element.CreatedBy || "N/A" }}
                       
                        </td>
                        <td mat-footer-cell *matFooterCellDef>  </td>
                    </ng-container>
                    <ng-container matColumnDef="Description">
                      <th mat-header-cell *matHeaderCellDef>Created Date</th>
                      <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.CreatedDate =='1900-01-01T00:00:00'">N/A</span>
                        <span *ngIf="element.CreatedDate !='1900-01-01T00:00:00'">{{ element.CreatedDate | date: 'dd/MM/yyyy' || "N/A" }}</span>

                        </td>
                        <td mat-footer-cell *matFooterCellDef>  </td>
                    </ng-container>
                    <ng-container matColumnDef="attachment">
                      <th mat-header-cell *matHeaderCellDef>Attachment</th>
                      <td mat-cell (click)="openDoc(element.Attachments)" *matCellDef="let element" class="text-center  IdeaNumberDraft1 IdeaNumberDraft">
                        {{ element.Attachments || "N/A" }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef>  </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef>Status</th>
                      <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.IsMailSent">Email Sent</span>
                        <span *ngIf="!element.IsMailSent">Pending</span>
                        </td>
                        <td mat-footer-cell *matFooterCellDef>  </td>
                    </ng-container>
                  
                              
                    <tr mat-header-row  *matHeaderRowDef="emailLogDisplayedColumns;sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: emailLogDisplayedColumns"></tr>
                    <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns2"></tr> -->
                  </table>
                  <table mat-table  #COPlogTable class="lessons-table" [dataSource]="logDataSource" *ngIf="logType =='COP'">
                 
                    <ng-container matColumnDef="SearchField">
                      <th mat-header-cell *matHeaderCellDef>Mail To</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.MailerTo}}
                      </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="Link">
                        <th mat-header-cell *matHeaderCellDef>Supplier Code</th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.SupplierCode || "N/A" }}
                          </td>
                          <td mat-footer-cell *matFooterCellDef>  </td>
                      </ng-container>
                      <ng-container matColumnDef="Description">
                        <th mat-header-cell *matHeaderCellDef>Created Date</th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.CreatedDate | date: 'dd/MM/yyyy'|| "N/A" }}
                          </td>
                          <td mat-footer-cell *matFooterCellDef>  </td>
                      </ng-container>
                      <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>Status</th>
                        <td mat-cell *matCellDef="let element">
                          <span *ngIf="element.IsMailSent">Email Sent</span>
                          <span *ngIf="!element.IsMailSent">Pending</span>
                          </td>
                          <td mat-footer-cell *matFooterCellDef>  </td>
                      </ng-container>
                    
                                
                      <tr mat-header-row  *matHeaderRowDef="logDisplayedColumns;sticky: true"></tr>
                      <tr mat-row *matRowDef="let row; columns: logDisplayedColumns"></tr>
                      <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns2"></tr> -->
                    </table>
                  </div>
                  <!-- <div *ngIf="updatedEmpDetails">
                    <div *ngIf="updatedEmpDetails.length === 0">No records found</div>
                  </div> -->
                 
                  <mat-paginator [length]="pageSize" [pageSize]="10" [pageIndex]="pageNo" (page)="getPageChangeData($event)">
                  </mat-paginator>
                
              </div>
        </div>
  </div>
</div>
  
  </div>

</ng-template>