<div class="modal-header">
  <h3 class="modal-title themePrimaryColor fontW-600" >COP part Details
  </h3>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="modal-body whatsNewModal">
  <div class="col-md-12 no-padding">
     
    </div>
    <!-- <div class="col-md-12">
      <div class="row no-margin borderBottom">
        <div class="col-md-10 no-padding-left">
            <div class="col subHdr text-transform-capitalize padding no-padding-left"> <h3 class="no-margin">CM Plant Approver Mapping</h3> </div>
        </div>
        <div class="col-md-2 verticalEndCenter no-padding-right">
            <div class="verticalMiddleCenter width100">
                <button class="" color="theme-red-button"  (click)="openModal(addContent)">Add New Item</button> 
              </div>
        </div>
      </div>
    </div>    -->
  <mat-card class="no-padding no-shadow CMCard">
         <mat-card-content class="no-margin height100">
        <div class="col-md-12 height100">
            <div class="example-container tbl_New_Layout height100">
                <div class="table-container">
              <table mat-table  class="lessons-table" [dataSource]="COPPartList">
             <!-- <ng-container matColumnDef="srNo">
                  <th mat-header-cell *matHeaderCellDef>Sr. No.</th>
                  <td mat-cell *matCellDef="let element;let i = index" class="text-center">
                    {{ i+1 }}
                  </td>
                </ng-container> -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>Select</th>
                       <td mat-cell *matCellDef="let element;let i = index" class="text-center">
                        <mat-checkbox #check [checked]="element.checked" (change)="selectData($event, element.PartNumber)" ></mat-checkbox>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="partNumber">
                    <th mat-header-cell *matHeaderCellDef>Part Number</th>
                    <td mat-cell *matCellDef="let element" text-center>
                      {{ element.PartNumber || "N/A" }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="partDesc">
                        <th mat-header-cell *matHeaderCellDef>Part Description</th>
                        <td mat-cell *matCellDef="let element" text-center>
                          {{ element.PartDescription || "N/A" }}
                          </td>
                        </ng-container>
                      
                 <tr mat-header-row  *matHeaderRowDef="COPdisplayedColumns;sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: COPdisplayedColumns"></tr>
              </table>
              </div>
              <!-- <mat-paginator  [length]="pageSize"  [pageSize]="10"  [pageIndex]="pageNo"
              (page)="pageEvent = getPageChangeData($event)">
            </mat-paginator> -->
          </div>
        </div>
           </mat-card-content>
      </mat-card> 
  
</div>
<div class="modal-footer text-center">
   <div class="verticalEndCenter">
        <button style="width: 185px; margin-right: 10px;" color="theme-red-button"   (click)="sendEmail()">Send Email</button> 
        <button style="width: 185px; margin-right: 10px;" color="theme-red-button"   (click)="closeModal()">Cancel</button> 
      </div>
</div>