<div class="container-fluid aboutPage no-padding height100">
    <div class="grid height100">
<div class="col-md-12 no-padding height100">
    <!-- headerPosition="below" -->
    <mat-card  class="no-padding bottomTabBlock height100">
        <mat-tab-group   class="height100 bottomTabs" (selectedTabChange)="onTabChange($event)">
          <mat-tab label="Core Purpose & Values" > 
          <div class="col-md-12 no-padding">
            <div class="padding col tabGrayHdr verticalCenter">
              <h2 class="no-margin">Core Purpose & Values</h2>
            </div>
          </div> 
          <div class="grid infoContent">
            <div class="col-md-12 padding">
              <div class="col no-padding">
                  <h3 class="themePrimaryColor">Our Core Purpose</h3>
                  <p class="font-13">We will challenge conventional thinking and innovatively use all our resources to drive positive change in the lives of our stakeholders and communities across the world, to enable them to Rise   </p>
              </div>
              <!-- <div class="spacer"></div> -->
              <div class="col no-padding">
                  <h3 class="themePrimaryColor"> Core Values</h3>
                  <p class="font-13">
                      Our core values are influenced by our past, tempered by our present and are designed to shape our future. They are an amalgam of what we have been, what we are and what we want to be.
                  </p>
                </div>
                <div class="col no-padding">
                <p class="font-13">These values are the compass that will guide our actions, both personal and corporate. They are:</p>
                </div>
                <div class="col no-padding">
                  <div class="history-tl-container">
                    <ul class="tl">
                      <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title">Good corporate citizenship :&nbsp; </div>
                        <div class="item-detail">As in the past, we will continue to seek long term success that is in alignment with our country's needs. We will do this without compromising on ethical business standards.</div>
                      </li>
                      <li class="tl-item" ng-repeat="item in retailer_history">
                         <div class="item-title">Professionalism :&nbsp; </div>
                        <div class="item-detail"> We have always sought the best people and given them the freedom and the opportunity to grow. We will continue to do so. We will support innovation and well-reasoned risk-taking, but will demand performance.</div>
                      </li>
                      <li class="tl-item" ng-repeat="item in retailer_history">
                         <div class="item-title">Customer first :&nbsp; </div>
                        <div class="item-detail"> We exist and prosper only because of our customers. We will respond to their changing needs and expectations speedily, courteously and effectively.</div>
                      </li>
                      <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title">Quality focus :&nbsp; </div>
                       <div class="item-detail"> Quality is the key to delivering value for money to our customers. We will make quality a driving value in our work, in our products and in our interactions with others. We will do it "first time right".</div>
                     </li>
                     <li class="tl-item" ng-repeat="item in retailer_history">
                      <div class="item-title">Dignity of the individual :&nbsp; </div>
                     <div class="item-detail"> We value individual dignity, uphold the right to express disagreement and respect the time and efforts of others. Through our actions, we nurture fairness, trust and transparency</div>
                   </li>
                  
                    </ul>
                  
                  </div>
                </div>
                <div class="col">
                  <div class="col-md-4">
                    <mat-card class="videoBlockCard">
                      <mat-card-content>
                        <div class="row">
                          <div class="col-md-2">
                            <div>
                              <img src="assets/img/login/symbol.svg" class="height100 width100">
                            </div>
                          </div>
                          <div class="col-md-8 verticalCenter">
                             <p class="no-margin videoName">Anand Mahindra Core Values.mp4</p>
                          </div>
                          <div class="col-md-2 verticalEndCenter">
                            <div class="downloadBtn">
                            <a href="assets/video/Anand Mahindra Core Values.mp4"  download="Anand Mahindra Core Values.mp4">
                              <img src="assets/img/login/direction.svg" class="height100 width100">
                            </a>
                          </div>
                          </div>
                        </div>
                      </mat-card-content>
                    </mat-card>
                  </div>
                </div>
            </div>
          </div> 
          </mat-tab>
          <mat-tab label="Mahindra Rise" >
           </mat-tab>
          <mat-tab label="Corporate Profile">
            <div class="col-md-12 no-padding">
              <div class="padding col tabGrayHdr verticalCenter">
                <h2 class="no-margin">Our Business</h2>
              </div>
            </div> 
            <div class="grid infoContent">
              <div class="col-md-12 padding">
                <div class="row">
                  <div class="col-md-4">
                      <div class="col no-padding">
                      <div class="history-tl-container">
                          <ul class="tl no-margin">
                            <li class="tl-item" ng-repeat="item in retailer_history">
                              <div class="item-title"><a target="_blank" href="http://www.mahindra.com/What-We-Do/Aerospace">Aerospace <mat-icon svgIcon="arrowIcon"></mat-icon></a> </div>
                             </li>
                            <li class="tl-item" ng-repeat="item in retailer_history">
                              <div class="item-title"><a target="_blank" href="http://www.mahindra.com/What-We-Do/Aftermarket">Aftermarket <mat-icon svgIcon="arrowIcon"></mat-icon></a></div>
                            </li>
                            <li class="tl-item" ng-repeat="item in retailer_history">
                              <div class="item-title"><a target="_blank" href="https://www.mahindra.com/our-businesses">AgriBusiness <mat-icon svgIcon="arrowIcon"></mat-icon></a></div>
                            </li>
                            <li class="tl-item" ng-repeat="item in retailer_history">
                              <div class="item-title"><a target="_blank" href="https://www.mahindra.com/our-businesses">Automotive <mat-icon svgIcon="arrowIcon"></mat-icon></a></div>
                           </li>
                           <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="item-title"><a target="_blank" href="https://www.mahindra.com/our-businesses">Components <mat-icon svgIcon="arrowIcon"></mat-icon></a></div>
                          </li>
                          <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="item-title"><a target="_blank" href="https://www.mahindra.com/our-businesses">Construction Equipment <mat-icon svgIcon="arrowIcon"></mat-icon></a></div>
                          </li>
                          </ul>
                        
                        </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="col no-padding">
                      <div class="history-tl-container">
                          <ul class="tl no-margin">
                              <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title"><a target="_blank" href="https://www.mahindra.com/our-businesses">Consulting Services <mat-icon svgIcon="arrowIcon"></mat-icon></a></div>
                                </li>
                                <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title"><a target="_blank" href="https://www.mahindra.com/our-businesses">Defence <mat-icon svgIcon="arrowIcon"></mat-icon></a></div>
                                </li>
                                <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title"><a target="_blank" href="https://www.mahindra.com/our-businesses">Energy <mat-icon svgIcon="arrowIcon"></mat-icon></a></div>
                                </li>
                                <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title"><a target="_blank" href="https://www.mahindra.com/our-businesses">Farm Equipment <mat-icon svgIcon="arrowIcon"></mat-icon></a></div>
                                </li>
                                <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title"><a target="_blank" href="https://www.mahindra.com/our-businesses">Financial Services <mat-icon svgIcon="arrowIcon"></mat-icon></a></div>
                                </li>
                                <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title"><a target="_blank" href="https://www.mahindra.com/our-businesses">Industrial Equipment <mat-icon svgIcon="arrowIcon"></mat-icon></a></div>
                                </li>
                               
                            </ul>
                            </div>
                            </div>
                  </div>
                  <div class="col-md-4">
                      <div class="col no-padding">
                      <div class="history-tl-container">
                          <ul class="tl no-margin">
                              <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title"><a target="_blank" href="https://www.mahindra.com/our-businesses">Information Technology <mat-icon svgIcon="arrowIcon"></mat-icon></a></div>
                                </li>
                                <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title"><a target="_blank" href="https://www.mahindra.com/our-businesses">Leisure & Hospitality <mat-icon svgIcon="arrowIcon"></mat-icon></a></div>
                                </li>
                                <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title"><a target="_blank" href="https://www.mahindra.com/our-businesses">Logistics <mat-icon svgIcon="arrowIcon"></mat-icon></a></div>
                                </li>
                                <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title"><a target="_blank" href="https://www.mahindra.com/our-businesses">Real Estate <mat-icon svgIcon="arrowIcon"></mat-icon></a></div>
                                </li>
                                <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title"><a target="_blank" href="https://www.mahindra.com/our-businesses">Retail <mat-icon svgIcon="arrowIcon"></mat-icon></a></div>
                                </li>
                                <li class="tl-item" ng-repeat="item in retailer_history">
                                  <div class="item-title"><a target="_blank" href="https://www.mahindra.com/our-businesses">Two Wheelers <mat-icon svgIcon="arrowIcon"></mat-icon></a></div>
                                </li>
                               
                            </ul>
                            </div>
                            </div>
                  </div>
                </div>
            
                  
              </div>
            </div> 
            <div class="col-md-12 no-padding">
                <div class="padding col tabGrayHdr verticalCenter">
                  <h2 class="no-margin">Mahindra World</h2>
                </div>
              </div> 
              <div class="grid infoContent">
                <div class="spacer"></div>
                <a href="https://www.mahindra.com/" target="_blank" class="padding font-14">Please Visit Mahindra World Website <mat-icon svgIcon="arrowIcon"></mat-icon></a>
                </div>
          </mat-tab>
          <mat-tab label="CSR"> 
              <div class="col-md-12 no-padding">
                  <div class="padding col tabGrayHdr verticalCenter">
                    <h2 class="no-margin">Nanhi Kali </h2>
                  </div>
                </div> 
                <div class="grid infoContent">
                  <div class="col-md-12 padding">
                    <div class="col no-padding">
                        <h3 class="themePrimaryColor"><mat-icon class="margin-right-10 bulletPoints" svgIcon="checkIcon"></mat-icon>For the girl child</h3>
                        <p class="font-13 margin-bottom-5">
                            Project Nanhi Kali was initiated in 1996 by the  <a href="https://www.kcmet.org/index.aspx" target="_blank">K. C. Mahindra Education Trust (KCMET)</a> with the aim of providing primary education to underprivileged girl children in India.
                            Anand Mahindra, the current chairman of Mahindra & Mahindra Ltd., founded Project Nanhi Kali. with a strong belief that educated women would not only contribute to the economy but also issues of population and social evils like the dowry system and child marriage would reduce as more women are educated.
                            Studies conducted in developing countries have shown that this is true. Today, even the World Bank has acknowledged that there is no investment more effective for achieving the millennium development goals than educating girls."According to the World Bank, some of the benefits associated with girls' education include reduction of child and maternal mortality, improvement of child nutrition and health, lower fertility rates and improvement in economic production".
                            Apart from the objective of impacting the nation's development through education of the  girl child , Anand Mahindra also wanted to   encourage Indians to ’give back’ in a focused manner. Hence Project Nanhi Kali was designed as a sponsorship support programme which allows individuals to participate and support the education of a girl child in India
                          </p>
                    </div>
                    <div class="col no-padding">
                        <h3 class="themePrimaryColor"><mat-icon class="margin-right-10 bulletPoints" svgIcon="checkIcon"></mat-icon>Partners In The Cause</h3>
                        <p class="font-13 margin-bottom-5">
                            Since 2005, Project Nanhi Kali is jointly managed by the K. C. Mahindra Education Trust and Naandi Foundation. . The project provides academic, material and social support that allows a girl child to access quality education, attend school with dignity and reduces the chances of her dropping out. Project Nanhi Kali is working with 21 NGO implementation partners at the grassroot level to ensure that the Nanhi Kalis receive academic, material support and social support. The K.C. Mahindra Education Trust regularly monitors the NGOs by giving technical inputs wherever required to ensure that quality education is being imparted to all the Nanhi Kalis.
                        </p>
                      </div>
                      <div class="col no-padding">
                          <h3 class="themePrimaryColor"><mat-icon class="margin-right-10 bulletPoints" svgIcon="checkIcon"></mat-icon>How Can You Help?</h3>
                          <p class="font-13 margin-bottom-5">
                              Project Nanhi Kali is a participatory project where you can sponsor the education of an underprivileged girl child. You can sponsor a Nanhi Kali from primary school studying in class 1-5 at just Rs. 2400 a year, while for Rs. 3600 you can sponsor a Nanhi Kali from secondary school studying in class 6-10. Thereafter, in the first year you will receive the photograph, profile and progress report of the Nanhi Kali you support, so you are updated on how she is faring in both academics as well as extracurricular activities.
                          </p>
                        </div>
                        <div class="col no-padding">
                            <h3 class="no-margin"><mat-icon class="margin-right-10 bulletPoints" svgIcon="checkIcon"></mat-icon>Donate here : <a href="http://www.nanhikali.org/" target="_blank">http://www.nanhikali.org/</a></h3>
                          </div>
                     </div>
                </div>  
          </mat-tab>
          <mat-tab label="Code of Conduct"> 
              <div class="col-md-12 no-padding">
                  <div class="padding col tabGrayHdr verticalCenter">
                    <h2 class="no-margin">M & M Supplier Code Of Conduct</h2>
                  </div>
                </div> 
                <div class="grid infoContent">
                  <div class="col-md-12 padding">
                    <div class="col no-padding">
                        <h3 class="themePrimaryColor"><mat-icon class="margin-right-10 bulletPoints" svgIcon="checkIcon"></mat-icon>Background</h3>
                        <p class="font-13">
                            Over the last seven decades of its existence, Mahindra & Mahindra Limited (‘M&M’) has earned an impeccable reputation as an industrial house of very high level of ethical practices and good governance. M&M's high standards of integrity, impartiality, equity and objectivity are the hallmark of its dealings with its Suppliers and all stakeholders.  
                        </p>
                    </div>
                    <div class="col no-padding">
                        <h3 class="themePrimaryColor"><mat-icon class="margin-right-10 bulletPoints" svgIcon="checkIcon"></mat-icon>Objective</h3>
                        <p class="font-13">
                            M&M values its reputation for conducting business in a legally compliant and ethical manner. Consistent with this commitment, M&M wants to do business with those who share its values and culture of fair and ethical business practices. M&M has developed this Supplier Code of Conduct (hereinafter referred to as the “Code”) to guide its Suppliers as to how to engage in ethical, responsible, and legal business practices in their operations around the world. This Code is applicable to all ‘Suppliers’ i.e. domestic and international. Suppliers here refer to suppliers, service providers, vendors, traders, agents, consultants, contractors, joint venture partners, third parties including their employees, agents and other representatives, who have a business relationship with and provide, sell, seek to sell, any kind of goods or services to M&M.
                        </p>
                     
                      </div>
                      <div class="col no-padding">
                        <div class="history-tl-container">
                          <ul class="tl no-margin">
                            <li class="tl-item" ng-repeat="item in retailer_history">
                              <div class="item-title">ETHICAL CONDUCT: </div>
                              <div class="item-detail">Suppliers shall conduct their business activities and deal on behalf of their company with professionalism, honesty and integrity, as well as with high moral and ethical standards. Such conduct shall be fair and transparent and perceived to be as such by third parties.</div>
                            </li>
                            <li class="tl-item" ng-repeat="item in retailer_history">
                               <div class="item-title">REGULATORY COMPLIANCE REQUIREMENT: </div>
                              <div class="item-detail">Suppliers shall, while conducting their business comply with all applicable laws and regulations, both in letter and in spirit, in all the territories in which they operate</div>
                            </li>
                            <li class="tl-item" ng-repeat="item in retailer_history">
                               <div class="item-title">ACCOUNTING AND REPORTING: </div>
                              <div class="item-detail">Suppliers shall ensure that their accounting and financial records meet the highest standards of accuracy and completeness. All financial transactions shall be reported in accordance with generally accepted accounting practices, and the accounting records shall show the nature of all transactions in a correct and non-misleading manner.</div>
                            </li>
                            <li class="tl-item" ng-repeat="item in retailer_history">
                              <div class="item-title">BRIBERY, CORRUPTION AND MONEY LAUNDERING: </div>
                             <div class="item-detail">Suppliers shall always follow all the applicable international and local anti-bribery and anti-corruption laws. The Supplier shall not accept, facilitate or support money laundering.</div>
                           </li>
                           <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="item-title">TAX LAWS COMPLIANCE: </div>
                           <div class="item-detail">Suppliers shall comply with the tax laws and regulations of country in which it operates. Where tax laws do not give clear guidance, prudence and transparency shall be the guiding principle.</div>
                         </li>

                         <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="item-title">MARKETING AND SALES: </div>
                           <div class="item-detail">Suppliers shall not make false statements or provide misleading information regarding its products or their performance, including the safety and environmental attributes of the products.</div>
                         </li>
                         <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="item-title">FAIR COMPETETION PRACTICES: </div>
                           <div class="item-detail">Suppliers shall compete fairly, ethically and within the framework of all applicable competition and anti-trust laws. They shall not exchange M&M related confidential and sensitive information with competitors, peers or customers in any way that will improperly influence the market place or outcome of a bidding or negotiation process.</div>
                         </li>
                         <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="item-title">POLITICAL INVOLVEMENT: </div>
                           <div class="item-detail">Suppliers shall ensure that they do not give an impression of representing or being the spokesperson of M&M while getting associated with any political party or political activities in their personal capacity.</div>
                         </li>
                         <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="item-title">CONFLICTS OF INTEREST: </div>
                           <div class="item-detail">The duty of all personnel of Suppliers towards M&M demands that he or she avoids and discloses actual and potential conflicts of interest. A conflict of interest exists where the interests or benefits of one person or entity conflict or appear to conflict with the interests or benefits of M&M. Suppliers shall, as soon as they have knowledge, voluntarily disclose all situations relating to actual or potential conflict of interest, whether arising from their equity investments in any competitor of M&M or any of the supplier owners’ having any immediate family members working in M&M.</div>
                         </li>
                         <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="item-title">PROTECTING M&M’s ASSETS AND MACHINERY: </div>
                           <div class="item-detail">Suppliers shall not misuse the assets of M&M but shall employ them only for the purpose of conducting the business for which they are duly authorized by M&M. These include tangible assets such as equipment and machinery, systems, facilities, materials and resources as well as intangible assets such as Intellectual Property Rights, Processes, Know how & Technology, proprietary information, , etc. Suppliers are responsible for safeguarding, securing, and protecting M&M’s assets and information technology from theft, destruction, misappropriation, wastage and abuse.</div>
                         </li>
                         <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="item-title">THIRD PARTY REPRESENTATION: </div>
                           <div class="item-detail">Suppliers and their group companies including their third parties shall not be authorized to represent M&M or to use M&M’s logos, products, processes, designs, inventions, patents, copyrights, trademarks, symbols or any other intellectual properties now or hereafter owned or controlled by M&M without the express written consent of M&M.</div>
                         </li>
                         <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="item-title">CONFIDENTIALITY: </div>
                           <div class="item-detail">The Supplier shall maintain physical and electronic security for all confidential information. Supplier’s employees should use extreme care in protecting confidential or proprietary information of any kind. Face to face discussions should be conducted in a secure location. If confidential information to be discussed or exchanged between M&M and the Supplier, or the Supplier and a Third Party, the parties shall first ensure that a Confidentiality or Non-Disclosure Agreement has been signed and is being complied with.</div>
                         </li>
                         <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="item-title">PROTECTING ENVIRONMENT: </div>
                           <div class="item-detail">Suppliers shall comply with all applicable environmental/pollution control laws and regulations wherever they are based or operate.</div>
                         </li>
                         <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="item-title">PROVIDING SAFE AND HEALTHY ENVIRONMENT: </div>
                           <div class="item-detail">The Supplier shall strive to provide a safe and healthy working environment and comply with all applicable laws regarding working conditions, including worker health and safety, sanitation, fire safety, risk protection and electrical, mechanical and structural safety. The Supplier should have strict procedures that prevents the use of illegal drugs or alcohol in the factory and that prevent impaired employees from working. The Supplier must inform any reportable accident(s) to M&M immediately with corrective action to be taken to avoid such accident(s) in future. They must have well-established safety procedures, preventative maintenance and protective equipment in compliance with the law. The Supplier must have a Business Continuity Plan and to minimize business impacts in the event of major disruption like flood, fire, earthquake, strikes or any riots etc. The Supplier must have a written Emergency Response Plan to minimize harm to the employees, local community and environment in the event of a disaster.</div>
                         </li>
                         <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="item-title">HUMAN RIGHTS, RESPECT AND DIGNITY: </div>
                           <div class="item-detail">The Supplier shall support and respect the protection of internationally proclaimed human rights and make sure his company is not complicit in human rights abuses. Suppliers are expected to keep their workplaces free of harassment, harsh treatment, violence, intimidation, corporal punishment, mental or physical coercion, verbal abuse and discrimination.</div>
                         </li>
                         <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="item-title">NO CHILD OR FORCED LABOUR: </div>
                           <div class="item-detail">The Supplier shall not hire any person less than 18 years of age. Also, Supplier must not use involuntary labour of any kind, including prison labour, debt bondage or forced labour. Additional standards include the following:</div>
                           <div class="item-detail">a) Suppliers shall comply with all applicable child labour laws, including those related to hiring, wages, hours worked, overtime and working condition. Vocational or developmental programs for young people require an exception to the age requirements.</div>
                           <div class="item-detail">b)Suppliers shall maintain official documentation that verifies a worker’s date of birth, employment and training history. M&M reserves the right to review this information whenever required</div>
                         </li>
                         <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="item-title">EQUAL-OPPORTUNITIES EMPLOYER: </div>
                           <div class="item-detail">The Supplier shall provide equal opportunities to all its employees and all qualified applicants for employment, without regard to their race, caste, religion, color, ancestry, marital status, sex, age, nationality and disability. Employees of the Supplier shall be treated with dignity and in accordance with maintaining a work environment free of sexual harassment, whether physical, verbal or psychological.</div>
                         </li>
                         <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="item-title">WAGES AND HOURS OF WORK: </div>
                           <div class="item-detail">The Supplier shall provide equal opportunities to all its employees and all qualified applicants for employment, without regard to their race, caste, religion, color, ancestry, marital status, sex, age, nationality and disability. Employees of the Supplier shall be treated with dignity and in accordance with maintaining a work environment free of sexual harassment, whether physical, verbal or psychological.</div>
                         </li>
                         <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="item-title">EQUAL-OPPORTUNITIES EMPLOYER: </div>
                           <div class="item-detail">Suppliers shall follow all applicable laws regarding working hours, wages and overtime pay. Workers shall be paid at least the minimum legal wage.</div>
                         </li>
                         <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="item-title">GIFTS AND DONATIONS: </div>
                           <div class="item-detail">Suppliers shall not (directly or indirectly) offer any gift, entertainment, trip, discount, service or other benefit to any official of M&M which would or reasonably appear to be capable of influencing such person’s decision. This includes giving or receiving anything of value, including money, gifts or unlawful incentives to improperly influence negotiations.</div>
                         </li>
                         <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="item-title">CORPORATE CITIZENSHIP: </div>
                           <div class="item-detail">The Suppliers’ senior management personnel shall be committed to be a good corporate citizen, not only in compliance with all relevant laws and regulations, but also by actively assisting in the improvement of the quality of life of the people in the communities in which it operates, with the objective of making them self-reliant. Such social responsibility would comprise: initiating and supporting initiatives in the field of community health and family welfare, vocational training, education and literacy, providing employment to physically challenged people and encouraging the application of modern scientific and managerial techniques and expertise.</div>
                         </li>
                         <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="item-title">COMPLIANCE WITH THE CODE: </div>
                           <div class="item-detail">Suppliers are required to adhere to this Code. They shall promptly inform M&M when any situation develops that causes them to operate in violation of this Code. While Suppliers are expected to self-monitor and demonstrate their compliance with this Code, Suppliers shall allow M&M to audit or inspect Suppliers’ facilities to confirm their compliance when requested by M&M with reasonable notice. M&M reserves the right to take appropriate action including immediate removal of any Supplier who behaves in a manner that is unlawful or inconsistent with this Code.</div>
                         </li>
                         <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="item-title">CODE ADHERENCE RESPONSIBILITY: </div>
                           <div class="item-detail">Chief Executive Officers, Proprietors, Partners, Officers and Employees of all M&M Suppliers are responsible to ensure adherence to this Code.</div>
                         </li>
                         <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="item-title">REPORTING VIOLATIONS / QUESTIONABLE BEHAVIOUR: </div>
                           <div class="item-detail">Suppliers who wish to report questionable behavior or a possible violation of this Code, may do so by making a protected and confidential disclosure through the reporting channels mentioned in M&M’s Whistleblower Policy available on its website or by sending an e-mail to <a [href]="mailText">whistleblower.mahindra@ethicshelpline.in</a></div>
                         </li>
                        
                          </ul>
                        
                        </div>
                      </div>
                      <div class="col no-padding">
                          <h3><mat-icon class="margin-right-10 bulletPoints" svgIcon="checkIcon"></mat-icon>M&M reserves the right to revise the Code as and when required along with any other provisions.</h3>
                        </div>
                        <div class="col no-padding">
                            <h3><mat-icon class="margin-right-10 bulletPoints" svgIcon="checkIcon"></mat-icon>For any clarification on the Code, kindly contact the office of the Chief Purchase Officer.</h3>
                          </div>
                          <div class="col padding-top">
                            <div class="row">
                              <div class="col-md-6">
                                <p class="font-13">Date: 6th March 2018</p>
                              </div>
                              <div class="col-md-3"></div>
                              <div class="col-md-3">
                                <div>
                                  <p class="no-margin font-13">Hemant Sikka</p>
                                  <p class="font-13">President - Chief Purchase Officer</p>
                                </div>
                              </div>
                            </div>
                          </div>
                  </div>
                </div> 
          </mat-tab>
          <mat-tab label="Sustainable Green SCM Policy" class="custWidth" style="width: 18% !important;">
              <div class="col-md-12 no-padding">
                  <div class="padding col tabGrayHdr verticalCenter">
                    <h2 class="no-margin">Sustainable Green Supply Chain Management Policy</h2>
                  </div>
                </div> 
                <div class="grid infoContent">
                  <div class="col-md-12 padding">
                    <div class="col no-padding">
                        <p class="font-13">
                            Mahindra & Mahindra Limited is committed to follow responsible business practices by contributing to environmental protection and enhancing people performance while ensuring business growth for its supply chain
                        </p>
                    </div>
                    <div class="spacer"></div>
                    <div class="col no-padding">
                        <h3 class="themePrimaryColor"> <mat-icon class="margin-right-10 bulletPoints" svgIcon="checkIcon"></mat-icon>Objective</h3>
                        <p class="font-13">
                            To enhance sustainability performance and minimize Environmental, Social & Financial risks within M&M’s supply chain, procurement and services
                        </p>
                     
                      </div>
                      <div class="col no-padding">
                          <h2> Policy</h2>
                          <div class="spacer"></div>
                          <h3 class="themePrimaryColor"><mat-icon class="margin-right-10 bulletPoints" svgIcon="checkIcon"></mat-icon> Green Supply Chain</h3>
                          <p class="font-13">
                              M&M shall engage with the supply chain partners including vendors, suppliers and logistics and service providers to: 
                          </p>
                          <p class="font-13"><mat-icon class="margin-right-10 commonBulletPoints">adjust</mat-icon>Strengthen compliance of all relevant statutory provisions and conform to M&M’s Code of Conduct</p>
                          <p class="font-13"><mat-icon class="margin-right-10 commonBulletPoints">adjust</mat-icon>Identify and address business and ESG (Environmental, Social and Governance) risks</p>
                          <p class="font-14"><mat-icon class="margin-right-10 commonBulletPoints">adjust</mat-icon>Promote sustainability awareness and business capability building</p>
                          <p class="font-13"><mat-icon class="margin-right-10 commonBulletPoints">adjust</mat-icon>Develop management systems related to Sustainability, Quality, Environment, Safety and Energy</p>
                          <p class="font-13"><mat-icon class="margin-right-10 commonBulletPoints">adjust</mat-icon>Monitor, evaluate sustainability performance and identify improvement opportunities</p>
                          <p class="font-13"><mat-icon class="margin-right-10 commonBulletPoints">adjust</mat-icon>Reduce environmental footprint by means of energy conservation, water conservation waste conservation</p>
                          <p class="font-13"><mat-icon class="margin-right-10 commonBulletPoints">adjust</mat-icon>Encourage logistic optimization and waste reduction using 3R (Reduce, Reuse and Recycle)</p>
                          <p class="font-13"><mat-icon class="margin-right-10 commonBulletPoints">adjust</mat-icon>Move towards zero wood usage in part packaging</p>
                          <p class="font-13"><mat-icon class="margin-right-10 commonBulletPoints">adjust</mat-icon>Promote a safe and healthy workplace for the employees</p>
                          <p class="font-13"><mat-icon class="margin-right-10 commonBulletPoints">adjust</mat-icon>Enhance bio-diversity within the facilities</p>
                          <p class="font-13"><mat-icon class="margin-right-10 commonBulletPoints">adjust</mat-icon>Ensure eco-friendly product manufacturing in accordance with the RoHS (Restriction of Hazardous Substances) directive</p>
                          <p class="font-13"><mat-icon class="margin-right-10 commonBulletPoints">adjust</mat-icon>Promote vendor parks & supplier within plant vicinity </p>
                          <p class="font-13"><mat-icon class="margin-right-10 commonBulletPoints">adjust</mat-icon>Promote sustainability awareness and assessment at supply chain through IT Enabled processes. </p>
                          <p class="font-13"><mat-icon class="margin-right-10 commonBulletPoints">adjust</mat-icon>Enhance sustainability within their own supply chain</p>
                          <p class="font-13"><mat-icon class="margin-right-10 commonBulletPoints">adjust</mat-icon>Encourage suppliers to develop and publish their own sustainability report</p>
                          <p class="font-13"><mat-icon class="margin-right-10 commonBulletPoints">adjust</mat-icon>Facilitate reward and recognition</p>
                          <div class="spacer"></div>
                          <h3 class="themePrimaryColor"><mat-icon class="margin-right-10 commonBulletPoints" svgIcon="checkIcon"></mat-icon> Procurement</h3>
                          <p class="font-13"><mat-icon class="margin-right-10 commonBulletPoints">adjust</mat-icon>  Comply with all relevant statutory provisions pertaining to procurement</p>
                          <p class="font-13"><mat-icon class="margin-right-10 commonBulletPoints">adjust</mat-icon>  Establish sustainable performance indicators for equipment, products and services.</p>
                          <p class="font-13"><mat-icon class="margin-right-10 commonBulletPoints">adjust</mat-icon> Open door framework for all the existing and potential suppliers by maintaining highest level of ethical standards and transparency dealing</p>
                          <p class="font-13"><mat-icon class="margin-right-10 commonBulletPoints">adjust</mat-icon> Minimize the environmental, social, and costs impact associated with life cycle of the goods and services.</p>
                          <p class="font-13"><mat-icon class="margin-right-10 commonBulletPoints">adjust</mat-icon>  Procurement of recycled/ part-recycled products to optimize resources consumption</p>
                          <p class="font-13"><mat-icon class="margin-right-10 commonBulletPoints">adjust</mat-icon> Procure energy efficient equipment by defining specification in tender and contracts</p>
                          <p class="font-13"><mat-icon class="margin-right-10 commonBulletPoints">adjust</mat-icon> Co-create innovation to maximize value for both supplier and user</p>
                       </div>
                       <div class="col no-padding">
                         <div class="row">
                           <div class="col-md-12">
                             <p class="font-13">We shall promote sustainable practices with all our stakeholders</p>
                           </div>
                           <div class="col-md-4">
                             <div class="text-center">
                               <p class="no-margin font-13">Vijay Kalra</p>
                               <p class="no-margin font-13">Chief of Manufacturing MVML and AD</p>
                               <p class="no-margin font-13">M&M Sustainability</p>
                             </div>
                           </div>
                           <div class="col-md-4">
                              <div class="text-center">
                                  <p class="no-margin font-13"> Date: 8th March 2016 </p>
                                   </div>
                           </div>
                           <div class="col-md-4">
                              <div class="text-center">
                                  <p class="no-margin font-13">Hemant Sikka</p>
                                  <p class="no-margin font-13">EVP & Chief Purchase Officer - AFS</p>
                                </div>
                           </div>
                         </div>
                         </div>
                  </div>
                </div> 
          </mat-tab>
          <mat-tab label="Conflict Mineral Policy"> 
              <div class="col-md-12 no-padding">
                  <div class="padding col tabGrayHdr verticalCenter">
                    <h2 class="no-margin">Conflict Mineral Policy</h2>
                  </div>
                </div> 
                <div class="grid infoContent">
                  <div class="col-md-12 padding">
                    <div class="col">
                      <div class="row">
                        <div class="col-md-6">
                            <table class="table table-bordered customTbl">
                              <thead>
                              <tr>
                                <th colspan="2">Name of the Document</th>
                                <th>Conflict Mineral Policy</th>
                              </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td colspan="2">State whether Policy/ Code/Manual / Guidelines</td>
                                  <td> Policy</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Group Level / Sector level ( Specify which sector)</td>
                                    <td> Mahindra and Mahindra Ltd.</td>
                                  </tr>
                                  <tr>
                                      <td colspan="2">Issuing Authority </td>
                                      <td> 
                                        <div>Mr Nitin Tikle</div>
                                        <div>Head - Strategic Sourcing Unit</div> 
                                          </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Owner of the Document</td>
                                        <td> 
                                          <div>Mr Suhas Hulyalkar</div>
                                          <div>GM – Strategic Sourcing Unit</div> 
                                            </td>
                                      </tr>
                                      <tr>
                                          <td colspan="2">Effective date of the document</td>
                                          <td>  08.05.18</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">Release date</td>
                                            <td>  08.05.18</td>
                                          </tr>
                                          <tr>
                                              <td colspan="2">Date of last review</td>
                                              <td> NA</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">Next review date</td>
                                                <td> 08.05.21</td>
                                              </tr>
                                              <tr>
                                                  <td colspan="2">Next review date</td>
                                                  <td> 08.05.21</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">Version History</td>
                                                    <td> 00</td>
                                                  </tr>
                                                  <tr>
                                                      <td>Version History</td>
                                                      <td>Prepared By </td>
                                                      <td>Changes and reason for the Change</td>
                                                    </tr>
                                                    <tr>
                                                        <td>00</td>
                                                        <td>M&M Sustainability and Strategic Sourcing Unit</td>
                                                        <td> NA</td>
                                                      </tr>

                                                
                              </tbody>
                              </table>
                        </div>
                      </div>
                    </div>
                    <div class="col no-padding">
                        <h3 class="themePrimaryColor"><mat-icon class="margin-right-10 bulletPoints" svgIcon="checkIcon"></mat-icon>Background</h3>
                        <p class="font-13">
                            It is observed that some of the valuable natural resources such as tin, tungsten, tantalum and gold (3TG) extracted from the Democratic Republic of Congo or its surrounding countries by appalling activities like massacre and abduction of civilians by armed forces, looting and enrolling of child soldiers. Revenue generated from selling of these natural resources used to perpetuate the fights. Procuring of such minerals from these distressed regions is equivalent to funding for these inhumane activities. 
                        </p>
                     <p class="font-13">
                        Mahindra & Mahindra Ltd. owns responsibility of materials with full deliberation and take care to avoid the procurement or usage of such Mineral in our products and services. 
                     </p>
                     <p class="font-13"><b>The term “conflict minerals” is defined as columbite-tantalite, also known as coltan (from which tantalum is derived); cassiterite (tin); gold; wolframite (tungsten); or their derivatives; or any other mineral or its derivatives determined by the Secretary of State to be financing conflict in the Democratic Republic of the Congo or an adjoining country.</b></p>
                      </div>
                     <div class="col no-padding">
                          <h3 class="themePrimaryColor"><mat-icon class="margin-right-10 bulletPoints" svgIcon="checkIcon"></mat-icon>Objective</h3>
                          <p class="font-13">
                              Objective of the conflict mineral policy are  
                          </p>
                          <p class="font-13"><mat-icon class="margin-right-10 commonBulletPoints">adjust</mat-icon>Avoid the procurement or usage of such minerals which are unlawful or which are obtained through unethical or otherwise unacceptable means</p>
                          <p class="font-13"><mat-icon class="margin-right-10 commonBulletPoints">adjust</mat-icon>The company never allows any violation of human rights conducted in any part of the world for sourcing any raw materials for the manufacturing of our products</p>
                          <p class="font-13"><mat-icon class="margin-right-10 commonBulletPoints">adjust</mat-icon> Make sure that minerals used in our products are responsibly sourced following standards set by the Organization for Economic Co-operation and Development and other internationally recognized human rights instruments.</p>
                          <p class="font-13"><mat-icon class="margin-right-10 commonBulletPoints">adjust</mat-icon> Deploy responsible procurement practices to our entire supply chain including different tiers</p>
                          <p class="font-13"><mat-icon class="margin-right-10 commonBulletPoints">adjust</mat-icon> It is also expected for Suppliers will have their due diligence within their own supply chain</p> <div class="spacer"></div>
                         </div>

                         <div class="col no-padding">
                            <h3 class="themePrimaryColor"><mat-icon class="margin-right-10 bulletPoints" svgIcon="checkIcon"></mat-icon>Policy: M&M Shall</h3>
                            <p class="font-13"><mat-icon class="margin-right-10 commonBulletPoints">adjust</mat-icon>Not source or use any Conflict Minerals (3TG) from DRC or its surrounding countries. </p>
                            <p class="font-13"><mat-icon class="margin-right-10 commonBulletPoints">adjust</mat-icon>Ensure and review compliance to conflict mineral policy</p>
                          </div>
                          <div class="col no-padding">
                              <h3 class="themePrimaryColor"><mat-icon class="margin-right-10 bulletPoints" svgIcon="checkIcon"></mat-icon>Policy Adherence Responsibility</h3>
                              <p class="font-13"><mat-icon class="margin-right-10 commonBulletPoints">adjust</mat-icon>Adherence to policy is responsibility of every person under purchasing domain.</p>
                          
                            </div>
                           <div class="col no-padding">
                              <h3 class="themePrimaryColor"><mat-icon class="margin-right-10 bulletPoints" svgIcon="checkIcon"></mat-icon>General</h3>
                              <p class="font-13"><mat-icon class="margin-right-10 commonBulletPoints">adjust</mat-icon>If any Supplier or Employee comes across a case of infringement of these guidelines, he/she should bring it the notice of business heads/ CEO /Sr VP / VP./ Procurement head in writing and respective shall take immediate and corrective measures. </p>
                              <p class="font-13">Communications can be send on email ID : <a href="msetuhelpdesk@mahindra.com" target="_blank">msetuhelpdesk@mahindra.com</a></p>
                              <p class="font-13"><mat-icon class="margin-right-10 commonBulletPoints">adjust</mat-icon>business heads/ CEO /Sr VP / VP./ Procurement head shall ensure due confidentiality to such incidents</p>
                           </div>
                       <div class="col no-padding">
                         <div class="row">
                            <div class="col-md-4">
                           
                           </div>
                           <div class="col-md-4">
                           
                           </div>
                           <div class="col-md-4">
                              <div class="text-center">
                                  <p class="no-margin font-13">Mr Nitin Tikle</p>
                                  <p class="no-margin font-13">Head - Strategic Sourcing Unit</p>
                                </div>
                           </div>
                         </div>
                         </div>
                  </div>
                </div>   
          </mat-tab>
         </mat-tab-group>
      </mat-card>
      
 </div>
 </div>
 </div>