@import '../../variable.scss';

.aboutPage{
    .customTbl{
        font-size: 13px;
    }
   /deep/.mat-tab-body-wrapper{
        height: 100% !important;
        mat-tab-body{
            height: 100% !important;
       }
    }
    .bottomTabBlock{
        /deep/.mat-tab-group.mat-primary .mat-ink-bar{
            background-color: $color-primary-dark !important;    
        }
        mat-tab-group{
            /deep/ mat-tab-header {
                background: $color-primary-default ;
                border-top:0px !important;

                /deep/.mat-tab-label {
                width: 14%;
                border-right: 0px !important;
                padding: 10px !important;
                height: 50px;
                color: $color-white-default;
                opacity: 1 !important;
            }
            /deep/.mat-tab-label:nth-of-type(4) {
                width: 10% !important;
              }
              /deep/.mat-tab-label:nth-of-type(6) {
                width: 18% !important;
              }
            /deep/.mat-tab-label-active {
                color: $color-white-default !important;
                background: $color-primary-dark !important;
            }
        }
        .custWidth{width: 16% !important;}
        .tabGrayHdr{
            background: #E3E3E3;
            height: 50px;
            h2{color:#000;}
        }
        .infoContent{
            .col{
                p{
                    color:$color-foreground-tertiary;
                    line-height: 2;
                    margin-bottom: 10px;

                }
                .history-tl-container{
                //   font-family: "Roboto",sans-serif;
                  width:100%;
                  display:block;
                  position:relative;
                }
                .history-tl-container ul.tl{
                    margin:20px 0;
                    padding:0;
                    display:inline-block;
                    width:100%;
                
                }
                .history-tl-container ul.tl li{
                    list-style: none;
                    margin:auto;
                    margin-left:20px;
                    min-height:45px;
                    /*background: rgba(255,255,0,0.1);*/
                    border-left:1px dashed #d2cecf;
                    padding:0 0 20px 30px;
                    position:relative;
                }
                .history-tl-container ul.tl li:last-child{ border-left:0;}
                .history-tl-container ul.tl li::before{
                    position: absolute;
                    left: -8px;
                    top: 5px;
                    content: " ";
                    border: 5px solid #efe9e9;
                    border-radius: 500%;
                    background: #E33045;
                    height: 16px;
                    width: 16px;
                    -webkit-transition: all 500ms ease-in-out;
                    transition: all 500ms ease-in-out;
                
                }
                .history-tl-container ul.tl li:hover::before{
                    transition: all 1000ms ease-in-out;
                }
                ul.tl li .item-title{
                    display: inline-block;
                    font-size: 13px;
                    a {
                        color: #333030 !important;
                      
                       
                    }
                    mat-icon{
                        height: 17px;
                        width: 17px;
                        // font-size: 17px;
                        opacity: 0.7;
                        margin: 0px 10px;
                        position: absolute;
                        top: 0px;
                    }
                }
                ul.tl li .item-detail{
                    color: #888282;
                    font-size:12px;
                    display: inline-block;
                }
                ul.tl li .timestamp{
                    color: #8D8D8D;
                    position: absolute;
                    width:100px;
                    left: -50%;
                    text-align: right;
                    font-size: 12px;
                }
            }
            a {
                color: $color-primary-default !important;
                font-weight: 600 !important;
                text-decoration: underline !important;
                mat-icon{
                    height: 17px;
                    width: 17px;
                    font-size: 17px;
                    opacity: 0.7;
                    margin: 0px 10px;
                }
            }
        }
        
    }
    }
   
    /deep/mat-tab-group mat-tab-header .mat-tab-list .mat-tab-labels .mat-tab-label-active::before{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 100px 100px 0 100px;
        border-color: #007bff transparent transparent transparent;
    }
    .bulletPoints{
        height: 13px;
        width: 13px;
        // font-size: 15px;
        opacity: 0.7;
    }
    .commonBulletPoints{
        height: 13px;
        width: 13px;
         font-size: 15px;
        opacity: 0.7;
    }
    .CSRTab{

    }
    .videoBlockCard{
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        .videoName{
            color: #1b1718 !important;
        }
        .downloadBtn{
            height: 20px;
            width: 20px;
            cursor: pointer;
        }
    }
   
}