<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="border-right" id="sidebar-wrapper">
    <h5 id="rot">Mahindra Annual Supplier Meet, {{supplier_location|titlecase}} 2020</h5>
    <!-- Main Logo -->
    <div class="main-logo">
      <!-- <a (click)="gotoRoute('Supplier-meet-home')"><img src="../../assets/SupplierImages/SuppPub.png"></a> -->
      <a (click)="navigateTo()"><img src="../../assets/SupplierImages/SuppPub.png"></a>
    </div>
    <div class="list-group list-group-flush p-custom position-relative">
      <div class="d-inline position-absolute right_0">
        <!-- Sydney -->
        <a   routerLinkActive="active-link" (click)="gotoRoute('sydney')" class="list-group-item list-group-item-action bg-transparent d-inline sidetabs mb-1">
          <img src="../../assets/SupplierImages/LocationIcon.svg"><span class="pl-3">{{supplier_location|titlecase}}</span></a><br>
          <!-- Conference -->
        <a  routerLinkActive="active-link"  (click)="gotoRoute('conference')" class="list-group-item list-group-item-action bg-transparent d-inline sidetabs mb-1 active-link">
          <img src="../../assets/SupplierImages/conferenceIcon.svg"><span class="pl-3">Conference</span></a><br>
          <!-- Registration -->
        <a  routerLinkActive="active-link" (click)="gotoRoute('registration')" class="list-group-item list-group-item-action bg-transparent d-inline sidetabs mb-1">
          <img src="../../assets/SupplierImages/registrationicon.svg"><span class="pl-3">Registration</span></a><br>
          <!-- Contact -->
        <a routerLink="contact" (click)="gotoRoute('contact')" class="list-group-item list-group-item-action bg-transparent d-inline sidetabs mb-1">
          <img src="../../assets/SupplierImages/contacticon.svg"><span class="pl-3">Contact</span></a><br>
      </div>
    </div>
  </div>
  <!-- /#sidebar-wrapper routerLink="sydney" -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="topnav-img">
      <img src="{{cs.supplier_headr_img}}" class="imgHeader">
      <div class="togglebtn">
        <button class="btn btn-primary" id="menu-toggle">Side Menu</button>
      </div>
      <!-- Inner Wave Image -->
      <div class="waves">
        <img src=".../../../../assets/SupplierImages/Innerpagewave.png" class="waveImg">
      </div>
      <!-- <div>
        <mat-icon (click)="navigateTo()">adjust</mat-icon>
      </div> -->
    </div>

    <div class="content-div">
      <nav class="navbar navbar-expand-lg border-bottom fixed_nav p-0 back_white">
        <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav d-md-flex justify-content-between w-50">
            <li class="nav-item active" >
              <a (click)="navigate('Itninerary')"  class="nav-link pr-2 pt-0 pl-2 pb-2" [ngClass]="flag=='Itninerary' ? 'active-link':''">Itinerary</a>
            </li>
    
            <li class="nav-item" >
              <a class="nav-link pr-2 pt-0 pl-2 pb-2" (click)="navigate('hotel')" [ngClass]="flag=='hotel' ? 'active-link':''">Hotel</a>
            </li>
    
            <li class="nav-item" >
              <a class="nav-link pr-2 pt-0 pl-2 pb-2" (click)="navigate('How To Reach')" [ngClass]="flag=='How To Reach' ? 'active-link':''">How
                To Reach</a>
            </li>
          </ul>
        </div>
      </nav>
      <div *ngIf="isHowToReach" class="conferenceMargin">
        <div class="container-fluid">
          <div class='row'>
            <div class='col-md-7 col-sm-12 col-xs-12 vert_line position-relative'>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-2 col-sm-12 p-0 text_resp">
                    <img src="../../../assets/SupplierImages/hotel.svg">
                  </div>
                  <div class="col-md-10 col-sm-12 p-0">
                    <div [innerHtml]="howToReachData.HowToReach | safePipe"></div>
                    <!-- <span class="contentpara">{{howToReachData.HowToReach}}</span><br> -->
                    <!-- <span class="contentpara"> We recommend you to take a taxi from the airport.</span> -->
                  </div>
                </div>
              </div>
    
            </div>
            <div class="col-sm-12 col-md-5 col-xs-12">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-2 col-sm-12 p-0 text_resp">
                    <img src="../../../assets/SupplierImages/location.svg" class="locImg">
                  </div>
                  <div class="col-md-10 col-sm-12 p-0 text-center">
                    <span class="contentpara">Address:</span><br>
                    <div [innerHtml]="howToReachData.Address | safePipe"></div>
                    <!-- <span class="contentpara">{{howToReachData.Address}}</span> -->
                  </div>
                </div>
              </div>
            </div>
          </div> <hr>
          <div class="contentpanel">
          <div class="w-100 mt-4">
            <img [src]="howToReachData.ImagePath" alt="Pineapple" class="w-100 img-fluid max_height">
          </div>
        </div>
          <!-- <div class="w-100 mt-4">
            <img [src]="howToReachData.ImagePath" alt="Pineapple" class="w-100 img-fluid max_height">
          </div> -->
        </div>
      </div>
    <!-- HOTEL    START   -->
     <div *ngIf="isHotel" class="conferenceMargin">
      <div class="container-fluid" >
        <div class="col-md-12" *ngFor="let data of Itinerary;let i=index">
          <div class="row" *ngIf="evenOdd(i)">
            <div class="col-md-6" >
              <div class="">
                <img [src]="data.SMDocPath" class="height100 width100">
              </div>
            </div>
            <div class="col-md-6">
              <div class="contentBlock">
                <h1>{{data.SMContentTitle}}</h1>
                <div [innerHtml]="data.SMContentDescription | safePipe"></div>

                <!-- <p class="font-14">
                  {{data.SMContentDescription}}
                 </p> -->
              </div>
            </div>
          </div>
          <div class="row" *ngIf="!evenOdd(i)">
            <div class="col-md-6">
              <div class="contentBlock">
                <h1>{{data.SMContentTitle}}</h1>
                <div [innerHtml]="data.SMContentDescription | safePipe"></div>
                <!-- <p class="font-14">
                  {{data.SMContentDescription}} </p> -->
              </div>
            </div>
            <div class="col-md-6 verticalEndCenter">
              <div class="">
                <img [src]="data.SMDocPath" class="height100 width100">
              </div>
            </div>
          </div>
        </div>
        </div>    
    </div>


      <!-- <div *ngIf="isItenary" class="container-fluid">
        <div class='row'>
          <div class="col-sm-12 col-md-5 col-xs-12">
            <div class="container-fluid">
            
            </div>
          </div>
       
    
        <div class="mt-4" *ngFor="let data of Itinerary">
          <img [src]="data.SMDocPath" alt="government" class=" imagedivs5">
        </div>
    </div> 
      </div> -->

         <!-- Itinerary Start-->
         <div *ngIf="isItenary" class="container-fluid" class="conferenceMargin">
          <div class="row pt-3 pl-1" *ngFor="let data of Itinerary">
            <div class="col-12 ">
              <div class="contentpanel">
              <div class=" w-100 mt-0" style="margin-left: 10px;">
                <img  *ngIf="getExt(data.SMDocPath) == 'jpg' || getExt(data.SMDocPath) == 'jpeg' || getExt(data.SMDocPath) == 'png'" [src]="data.SMDocPath" alt="government" class=" w-100 img-fluid max_height">
                <button style="width: 20%" color="theme-red-button" (click)="viewFile(data.SMDocPath)" *ngIf="getExt(data.SMDocPath) != 'jpg' && getExt(data.SMDocPath) != 'jpeg' && getExt(data.SMDocPath) != 'png'" >View Itinerary</button>
              </div>
              </div> 
              <!-- <div class=" w-100 mt-0" style="margin-left: 10px;">
                <img [src]="data.SMDocPath" alt="government" class=" w-100 img-fluid max_height">
              </div>
              <div class=" w-100 mt-0" style="margin-left: 10px;">
                <img [src]="data.SMDocPath" alt="government" class=" w-100 img-fluid max_height">
              </div>  -->
            </div>
          </div>
        </div>
        <!-- Itinerary End -->

      <!-- Itinerary Start-->
      <!-- <div class="container-fluid" *ngIf="isItenary" >
        <div class="row pt-3 pl-1">
          <div class="col-12 ">
            <div class="mt-4" *ngFor="let data of Itinerary">
              <img [src]="data.SMDocPath" alt="government" class=" imagedivs5">
            </div>    
          </div>
        </div>
      </div> -->
      <!-- Itinerary End -->

      
    </div>
</div>
</div>