<div class="container-fluid CMSSurvey padding">
  <div class="grid">
    <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
      <div class="row width100 verticalCenter">
        <div class="col-md-6">
          <h4 class="no-margin">SPM</h4>
        </div>
        <div class="col-md-6 no-padding">
          <p class="no-margin font-13 width100 flex verticalEndCenter">
            <span
              class="pointer"
              style="cursor: pointer;"
              [routerLink]="'/adminDashboard'"
              routerDirection="backward"
              >Home</span
            >
            <mat-icon>chevron_right</mat-icon>
            <span class="pointer secondaryMenu" routerDirection="backward"
              >SPM</span
            >
            <!-- <span class="secondaryMenu">Imcr/Cre Dashboard</span>  -->
          </p>
        </div>
      </div>
    </div>
    <div
      class="col-md-12 border-radius padding-top no-padding-left no-padding-right"
    >
      <!-- <button class="" color="theme-gray-button" (click)="createSurveyModal()">Create Survey</button>  -->
      <mat-card class="mainOuterCardContainer">

        <mat-tab-group  class="height100 bottomTabs" >
            <mat-tab label="Performace Rating" >
              Performance Rating Excel
              <div class="row">
                <div class="col-md-3">
                    <label for="file-input1" class="no-margin text-center" color="theme-red-button">
                          Upload Files
                        <input id="file-input1" multiple="true" type="file" (change)="uploadExcel($event, 'Performance')" accept=".xlsx" style="display: none;"/>
                    </label>
                  </div>
                  <!-- <div class="col-md-3">
                    <label class="no-margin text-center" (click)="sendExcel()" color="theme-green-button">
                          Send File
                          <input id="file-input" multiple="true" type="file" (change)="uploadExcel($event, 'Performance')" style="display: none;"/>
                      </label>
                    </div> -->
                  <div class="col-md-3">
                    <label class="no-margin text-center" (click)="downloadTemplate()" color="theme-green-button">
                          Download Template
                          <!-- <input id="file-input" multiple="true" type="file" (change)="uploadExcel($event, 'Performance')" style="display: none;"/> -->
                      </label>
                    </div>
                </div>
              <div class="row">
                <div class="col-md-12">
                  <span>NOTE: 1. Use valid vendor code. 2. Use Month in 'Month yyyy' format. 3.Use sector as AD or FD.</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  PDF To be Uploaded
                </div>
                    <div class="col-md-3">
                      <label for="file-input" class="no-margin text-center" color="theme-gray-button">
                                Select Files
                            <input id="file-input" multiple="true" type="file" (change)="detectFiles($event)" style="display: none;"/>
                      </label>
                    </div>
                </div>
              <div class="row" *ngIf="Files.length > 0">
                    <div class="col-md-3">
                        Uploaded Files: 
                    </div>
                    <div class="col-md-3">
                         {{ uploadedFileCount }}/{{ Files.length }}
                    </div>
                    <div class="col-md-3">
                      <button color="theme-red-button" (click)="uploadPdfs()" class="verticalMiddleCenter">{{ uploadedFileCount > 0 ? 'Continue' : 'Start'}}  Uploading</button> 
                    </div>
                    <div class="col-md-3">
                      <button color="theme-gray-button" (click)="deleteAll()" class="verticalMiddleCenter">Delete All</button> 
                    </div>
                </div>
                <div class="col-md-12 text-center" *ngIf="uploading">
                  Uploading...
                </div>
                <div class="col-md-12 text-center">
                  <div class="row" *ngIf="errors.length > 0">
                    <div class="col-md-12">
                        <div class="row">
                            Kindly check the following files before uploading<br>
                          </div>
                      </div>
                    <div class="col-md-12">
                        <div class="row" *ngFor="let error of errors">
                            <p>{{ error.file.name }}...</p>
                          </div>
                      </div>
                    </div>
                  </div>
            </mat-tab>
            <mat-tab label="Risk Meter"> 
                Upload Excel For Risk Meter

                <div class="row">
                  <div class="col-md-3">
                      <label for="file-input1" class="no-margin text-center" color="theme-red-button">
                            Upload Files
                          <input id="file-input1" multiple="true" type="file" (change)="uploadExcel($event, 'Risk')" accept=".xlsx" style="display: none;"/>
                      </label>
                    </div>
                    <!-- <div class="col-md-3">
                      <label class="no-margin text-center" (click)="sendExcel()" color="theme-green-button">
                            Send File
                            <input id="file-input" multiple="true" type="file" (change)="uploadExcel($event, 'Performance')" style="display: none;"/>
                        </label>
                      </div> -->
                    <div class="col-md-3">
                      <label class="no-margin text-center" (click)="downloadTemplate()" color="theme-green-button">
                            Download Template
                            <!-- <input id="file-input" multiple="true" type="file" (change)="uploadExcel($event, 'Performance')" style="display: none;"/> -->
                        </label>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <span>NOTE: 1. Use valid vendor code. 2. Use Month in 'Month yyyy' format. 3.Use sector as AD or FD.</span>
                    </div>
                  </div>
              </mat-tab>
              <mat-tab label="SBCB Score"> 
                Upload Excel For SBCB Score

                <div class="row">
                  <div class="col-md-3">
                      <label for="file-input1" class="no-margin text-center" color="theme-red-button">
                            Upload Files
                          <input id="file-input1" multiple="true" type="file" (change)="uploadExcel($event, 'SBCS')" accept=".xlsx" style="display: none;"/>
                      </label>
                    </div>
                    <!-- <div class="col-md-3">
                      <label class="no-margin text-center" (click)="sendExcel()" color="theme-green-button">
                            Send File
                            <input id="file-input" multiple="true" type="file" (change)="uploadExcel($event, 'Performance')" style="display: none;"/>
                        </label>
                      </div> -->
                    <div class="col-md-3">
                      <label class="no-margin text-center" (click)="downloadTemplate('sbcs')" color="theme-green-button">
                            Download Template
                            <!-- <input id="file-input" multiple="true" type="file" (change)="uploadExcel($event, 'Performance')" style="display: none;"/> -->
                        </label>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <span>NOTE: 1. Use valid vendor code. 2. Use Month in 'Month yyyy' format. 3.Use sector as AD or FD.</span>
                    </div>
                  </div>
              </mat-tab>

            </mat-tab-group>

        </mat-card>
      </div>
    </div>
  </div>