/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */
  
 .imagedivs{
  z-index: -1;
  width: 390px;
  height: 250px;
  margin: 25px 15px 0px 25px;
  float: left;
  position: relative;
  border: 4px solid #E2E2E2;
}
.imagedivs2{
  z-index: -1;
  width: 390px;
  height: 250px;
  margin: 25px 15px 0px 30px;
  float: right;
  position: relative;
  border: 4px solid #E2E2E2;
}

.img-trnsfm{
  
  width:390px;
  height:250px;
  position: absolute;
    transform: translate(-8%, -11%);
}
.content-heading{
  font-size: 30px;
}
.contentpara{
  font-size: 14px;
  /* // color: #BCBCBC; */
}

@media (min-width: 1024px) {
}
@media (max-width:768px){
}
@media (max-width:576px){
  .imagedivs2{
    width: 320px;
    
  }
  .imagedivs{
    width: 320px;
    
  }
  .img-trnsfm{
    
    width:320px;
  }
}
@media (max-width:375px){
  .imagedivs{
    width: 240px;
    height: 200px;
  }
  .imagedivs2{
    width: 240px;
    height: 200px;
  }
  .img-trnsfm {
    width: 240px;
    height: 200px;
    transform: translate(-12%, -14%);
}
}