<mat-card-content class="no-margin padding">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <label
          for="excelTo"
          class="no-margin text-center"
          color="theme-green-button"
          matTooltip="Kindly Upload File of type excel"
        >
          Bulk Upload
          <input
            #fileInput
            id="excelTo"
            accept=".xlsx"
            (click)="fileInput.value = null"
            (change)="uploadSendingExcel($event)"
            type="file"
            style="display: none;"
          />
        </label>
        </div>
        <div class="col-md-3" *ngIf="sending_array.length != 0">
        <button (click)="bulkUpload()" color="theme-green-button">Send Uploaded File</button>
        </div>
        <div class="col-md-3" *ngIf="sending_array.length == 0">
        <button (click)="downloadTemplate()" color="theme-red-button">Download Template</button>
        </div>
        <div class="col-md-3">
        <button (click)="manageUser(addContent,0)" color="theme-red-button">Create New</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row no-margin">
        <div class="example-container tbl_New_Layout">
          <div class="table-container">
            <table mat-table class="lessons-table" [dataSource]="dataSource">
              <ng-container matColumnDef="ManageUserID">
                <th mat-header-cell *matHeaderCellDef class="tblColFlex10">
                  Sr No.
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.ManageUserID || "N/A" }}
                </td>
              </ng-container>
              <ng-container matColumnDef="VendorCode">
                <th mat-header-cell *matHeaderCellDef class="tblColFlex10">
                  Vendor Code
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.VendorCode || "N/A" }}
                </td>
              </ng-container>
              <ng-container matColumnDef="Vendor">
                <th mat-header-cell *matHeaderCellDef class="tblColFlex15">
                  Organization Name
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.Vendor || "N/A" }}
                </td>
              </ng-container>
  
              <ng-container matColumnDef="Salutation">
                <th mat-header-cell *matHeaderCellDef class="tblColFlex20">
                  Salutation
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.Salutation || "N/A" }}
                </td>
              </ng-container>
              <ng-container matColumnDef="ParticipantName">
                <th mat-header-cell *matHeaderCellDef class="tblColFlex10">
                  Participant Name
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.ParticipantName || "N/A" }}
                </td>
              </ng-container>
              <ng-container matColumnDef="EmailID">
                <th mat-header-cell *matHeaderCellDef class="tblColFlex10">
                  Email ID
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.EmailID || "N/A" }}
                </td>
              </ng-container>
              <ng-container matColumnDef="PhoneNo">
                <th mat-header-cell *matHeaderCellDef class="tblColFlex10">
                  Phone No
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.PhoneNo || "N/A" }}
                </td>
              </ng-container>
              <ng-container matColumnDef="Hotel">
                <th mat-header-cell *matHeaderCellDef class="tblColFlex10">
                  Hotel
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.Hotel || "N/A" }}
                </td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="tblColFlex6">
                  Action
                </th>
                <td mat-cell *matCellDef="let element">
                  <div>
                    <div class="actionBtnBlock">
                      <mat-icon
                        class="flex disInlineBlock"
                        svgIcon="edit"
                        matTooltip="Edit"
                        (click)="manageUser(addContent, element)"
                      ></mat-icon>
                    </div>
                    <div class="actionBtnBlock">
                      <mat-icon
                        class="flex disInlineBlock"
                        svgIcon="trash"
                        matTooltip="Delete"
                        (click)="delete(element.ManageUserID)"
                      ></mat-icon>
                    </div>
                  </div>
                </td>
              </ng-container>
              <tr
                mat-header-row
                *matHeaderRowDef="displayedColumns; sticky: true"
              ></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
          <!-- <mat-paginator
            [length]="pageSize"
            [pageSize]="10"
            [pageIndex]="pageNo"
            (page)="pageEvent = getPageChangeData($event, 1)"
          >
          </mat-paginator> -->
        </div>
      </div>
    </div>
  </div>

</mat-card-content>

<ng-template #addContent >
  <div class="modal-header">
    <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">
      Manage User
      </h3>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body">
   <div class="row no-margin">
        <div class="col-md-12">
          <form [formGroup]="manageUserForm">
            <input formControlName="ManageUserID" type="hidden">
            <div class="row">
                <div class="col-md-3 colInputHeader font-14">
                  VendorCode:
                  </div>
                  <div class="col-md-9 colInput">
                    <mat-form-field appearance="outline" class="borderInput font-13" >
                      <input matInput formControlName="VendorCode">
                      </mat-form-field>  
                    </div>
              </div>
            <div class="row">
                <div class="col-md-3 colInputHeader font-14">
                  Organization Name:
                  </div>
                  <div class="col-md-9 colInput">
                    <mat-form-field appearance="outline" class="borderInput font-13" >
                      <input matInput formControlName="Vendor">
                      </mat-form-field>  
                    </div>
              </div>
            <div class="row">
                <div class="col-md-3 colInputHeader font-14">
                  Salutation:
                  </div>
                  <div class="col-md-9 colInput">
                    <mat-form-field appearance="outline" class="borderInput font-13" >
                      <input matInput formControlName="Salutation">
                      </mat-form-field>  
                    </div>
              </div>
            <div class="row">
                <div class="col-md-3 colInputHeader font-14">
                  Name:
                  </div>
                  <div class="col-md-9 colInput">
                    <mat-form-field appearance="outline" class="borderInput font-13" >
                      <input matInput formControlName="Name">
                      </mat-form-field>  
                    </div>
              </div>
            <div class="row">
                <div class="col-md-3 colInputHeader font-14">
                  Email:
                  </div>
                  <div class="col-md-9 colInput">
                    <mat-form-field appearance="outline" class="borderInput font-13" >
                      <input matInput formControlName="Email">
                      </mat-form-field>  
                    </div>
              </div>
            <div class="row">
                <div class="col-md-3 colInputHeader font-14">
                  PhoneNumber:
                  </div>
                  <div class="col-md-9 colInput">
                    <mat-form-field appearance="outline" class="borderInput font-13" >
                      <input matInput formControlName="PhoneNumber">
                      </mat-form-field>  
                    </div>
              </div>
            <div class="row">
                <div class="col-md-3 colInputHeader font-14">
                  Hotel:
                  </div>
                  <div class="col-md-9 colInput">
                    <mat-form-field appearance="outline" class="borderInput font-13" >
                      <input matInput formControlName="Hotel">
                      </mat-form-field>  
                    </div>
              </div>
</form>
          </div>
  </div>
  </div>
  <div class="modal-footer">
      <div class="col text-center">
          <div class="primaryFormBtn disInlineBlock">
              <button (click)="submit()" color="theme-red-button">Submit</button>
          </div>
      </div>
     </div>
</ng-template>
<!---Modal Structure stop-->
