<div class="modal-header">
  <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">Contact & Support</h3>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="modal-body no-padding contactModalPanel verticalCenter">
<div class="col-md-12 padding">
  <div class="row">
    <div class="col-md-6">
      <div class="infoContiner">
      <div class="col margin-bottom">
        <div class="infoInput">
          <a [href]="mailText">
          <div class="infoIcon"><mat-icon> email</mat-icon></div>
          <p class="no-margin">MSETUHelpdesk@mahindra.com</p>
        </a>
        </div>
      </div>

      <div class="col">
          <div class="infoInput">
            <div class="infoIcon"><mat-icon> phone</mat-icon></div>
            <p class="no-margin">Toll Free no: 18002094455</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
        <div class="img-div">
            <img  src="/assets/img/contact-us-Image.png" class="height100 width100"/>
          </div>
    </div>
  </div>
</div>
</div>

<div class="container-fluid contactModal padding scroll-div" style="display:none;">
  <div class="modal-header">
    <h4 class="modal-title">Contact & Support</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <!-- <div class="col-md-12 "> -->
      <div class="row no-margin-left no-margin-right">
        <div class="col-md-7 ">
          <mat-list role="list" >
            <mat-list-item role="listitem" class="email-list-class margin-btmclass font-14"><i class="material-icons padding-rgt-class">email</i>MSETUHelpdesk@mahindra.com</mat-list-item>
            <mat-list-item role="listitem" class="email-list-class font-14"><i class="material-icons padding-rgt-class">call</i>Toll Free no: 18002094455</mat-list-item>
          </mat-list>
          
          <!-- <div class="col">
            <div class="toll-div">
              MSETUHelpdesk@mahindra.com
            </div>
            <div>
              <i class="material-icons">email</i>
            </div>
          </div>
          <div class="col ">
            <div class="toll-div">
              Toll Free no: 18002094455
            </div>
            <div>
              <i class="material-icons">call</i>
            </div>
          </div> -->
        </div>
        <div class="col-md-5 no-padding ">
          <div class="img-div">
            <img  src="/assets/img/contact-us-Image.png" />
          </div>
        </div>
      </div>
    <!-- </div> -->

  </div>
</div>
