@import '../../../variable.scss';

.contactModalPanel{
    .infoContiner{
    height: 160px;
    display: table-cell;
    vertical-align: middle;
    width: 100vw;
    }
    .infoInput{
        border: 1px solid #eee;
        padding: 8px;
        text-align: center;
        border-radius: 20px;
        .infoIcon{
            border: 1px solid;
            width: 42px;
            height: 42px;
            position: absolute;
            left: 13px;
            top: 0px;
            border-radius: 50%;
            background: gray;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .img-div{
        height: 160px;
        width: 100%;
        position: relative;
        right: -16px;
    }
}
