<div class="container-fluid ssuDashboard padding">
  <div class="grid">
    <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
      <div class="row width100 verticalCenter">
      <div class="col-md-6">
      <h4 class="no-margin">SSU Dashbaord</h4>
      </div>
      <div class="col-md-6 no-padding">
      <p class="no-margin font-13 width100 flex verticalEndCenter">
        <span class="pointer"  [routerLink]="roleId == '7' ? '/adminDashboard' : '/dashboard'" routerDirection="backward">Home</span><mat-icon>chevron_right</mat-icon>
      <span class="secondaryMenu">SSU Dashbaord</span> 
      </p>
      </div>
      </div>
      </div>

      <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
          <mat-card class="no-padding mainOuterCardContainer">
              <div class="col-md-12 padding height100">
                <div class="row no-margin">
                    <div class="col-md-4 padding-bottom">
                        <div class="row">
                            <div class="col-md-8 colInputHeader verticalEndCenter font-13">
                              <mat-form-field appearance="outline" class="borderInput font-13">
                                <mat-select [(ngModel)]="year">
                                    <mat-option value="FY 2019">FY 2019</mat-option>
                                    <mat-option value="FY 2020">FY 2020</mat-option>
                                    <mat-option value="FY 2021">FY 2021</mat-option>
                                </mat-select>
                            </mat-form-field>
                            </div>
                            <div class="col-md-4 colInput vertcalAligment">
                                <div>
                                    <button (click)="getReport()" color="theme-red-button">Show</button>
                                </div> 
                            </div>
                        </div>
                     </div>
                </div>
               <div class="row no-margin tblConatiner">
                        <div class="example-container tbl_New_Layout height100">
                          <div class="table-container" style="padding-top: 35px;">
                            <!-- <table mat-table   [dataSource]="DataSource">
                               <ng-container matColumnDef="FYYear">
                              <th mat-header-cell *matHeaderCellDef class="tblColFlex6">{{YearHeader}}</th>
                              <td mat-cell *matCellDef="let element" >
                                {{ element.FYYear || "N/A" }}
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="totalSuppliers">
                                <th mat-header-cell *matHeaderCellDef class="tblColFlex17">Total Suppliers</th>
                                <td mat-cell *matCellDef="let element" >
                                  {{ element.PlanTotalSuppliers || "N/A" }}
                                  </td>
                              </ng-container>
                             <ng-container matColumnDef="newAssessments">
                                    <th mat-header-cell *matHeaderCellDef class="tblColFlex10">New Assessments</th>
                                    <td mat-cell *matCellDef="let element" >
                                      {{ element.PlanNewAssessments || "N/A" }}
                                      </td>
                                  </ng-container>
                                  <ng-container matColumnDef="Reassessment">
                                    <th mat-header-cell *matHeaderCellDef class="tblColFlex5">Reassessment</th>
                                    <td mat-cell *matCellDef="let element" >
                                      {{ element.PlanReassessment || "N/A" }}
                                      </td>
                                  </ng-container>
  
                                  <ng-container matColumnDef="selfAssessment">
                                      <th mat-header-cell *matHeaderCellDef class="tblColFlex7">Online Self Assessment</th>
                                      <td mat-cell *matCellDef="let element" >
                                        {{ element.PlanSelfAssessment || "N/A" }}
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row  *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                                      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                           </table> -->

                           <table *ngIf="!cs.isUndefinedORNull(DataSource)" class="lessons-table" border="2">
                            <tr>
                                
                                <th>{{YearHeader}}</th>
                                <th><span>Total Suppliers</span></th>
                                <th><span>New Assessments</span></th>
                                <th><span>Reassessment</span></th>
                                <th><span>Online Self Assessment</span></th>
                            </tr>
                            <tr>
                                <td>
                                    <span>Plan</span>
                                </td>
                                <td>
                                 {{DataSource.PlanTotalSuppliers}}   <!-- <asp:Label ID="lblPlanTotalSuppliers" runat="server" Text=""></asp:Label> -->
                                </td>
                                <td>
                                  {{DataSource.PlanNewAssessments}} <!-- <asp:Label ID="lblPlanNewAssessments" runat="server" Text=""></asp:Label> -->
                                </td>
                                <td>
                                  {{DataSource.PlanReassessment}} <!-- <asp:Label ID="lblPlanReassessment" runat="server" Text=""></asp:Label> -->
                                </td>
                                <td>
                                  {{DataSource.PlanSelfAssessment}} <!-- <asp:Label ID="lblPlanSelfAssessment" runat="server" Text=""></asp:Label> -->
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Actual</span>
                                </td>
                                <td>
                                  {{DataSource.ActualTotalSuppliers}}  <!-- <asp:Label ID="lblActualTotalSuppliers" runat="server" Text=""></asp:Label> -->
                                </td>
                                <td>
                                  {{DataSource.ActualNewAssessments}}  <!-- <asp:Label ID="lblActualNewAssessments" runat="server" Text=""></asp:Label> -->
                                </td>
                                <td>
                                  {{DataSource.ActualReassessment}}  <!-- <asp:Label ID="lblActualReassessment" runat="server" Text=""></asp:Label> -->
                                </td>
                                <td>
                                  {{DataSource.ActualSelfAssessment}}  <!-- <asp:Label ID="lblActualSelfAssessment" runat="server" Text=""></asp:Label> -->
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Balance</span>
                                </td>
                                <td>
                                  {{DataSource.BalanceTotalSuppliers}}  <!-- <asp:Label ID="lblBalanceTotalSuppliers" runat="server" Text=""></asp:Label> -->
                                </td>
                                <td>
                                  {{DataSource.BalanceNewAssessments}}  <!-- <asp:Label ID="lblBalanceNewAssessments" runat="server" Text=""></asp:Label> -->
                                </td>
                                <td>
                                  {{DataSource.BalanceReassessment}}  <!-- <asp:Label ID="lblBalanceReassessment" runat="server" Text=""></asp:Label> -->
                                </td>
                                <td>
                                  {{DataSource.BalanceSelfAssessment}}  <!-- <asp:Label ID="lblBalanceSelfAssessment" runat="server" Text=""></asp:Label> -->
                                </td>
                            </tr>
                        </table>
                           <!-- <div *ngIf="cs.isUndefinedORNull(DataSource)">No records found</div> -->
                           <!-- De-Risking action status of Previous Year and Red Suppliers<br/>
                           A. M&M Action<br/>
                           No Record Found<br/>
                           B.Supplier Action -->
                           <!-- No Record Found -->

                           <div class="errorBlock height100 verticalMiddleCenter" *ngIf="cs.isUndefinedORNull(DataSource)">
                            <div class="internalBlock">
                            <div class="imgBlock"><img src="/assets/img/errorBlock/noRecord.svg" class="height100 width100"></div>
                            <div class="margin-vertical infoBlock text-center"><p class="no-margin">No Data Found</p></div>
                            </div>
                            </div>
                      </div>
                        <!-- <mat-paginator  [length]="pageSize"  [pageSize]="5"  [pageIndex]="pageNo"
                        (page)="pageEvent = getPageChangeData($event,1)">
                      </mat-paginator> -->
                    </div>
                      </div>


                    

                </div>
             
            </mat-card>
      </div>

  </div>
</div>



 <!---Modal Structure start-->
 <ng-template #updateAssessor >
    <div class="modal-header">
      <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">Update Assessor</h3>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="modal-body">
     <div class="row no-margin">
        <div class="col-md-12">
            <div class="row">
              <div class="col-md-5 colInputHeader verticalEndCenter font-14 required-field">
                Supplier Code:
                </div>
                <div class="col-md-7 colInput">
                  <mat-form-field appearance="outline" class="borderInput font-13">
                    <input matInput  placeholder="Model Code">
                  </mat-form-field> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 colInputHeader verticalEndCenter font-14 required-field">
                    
                      </div>
                      <div class="col-md-7 colInput">
                        <div class="">
                            <button class=""  color="theme-red-button">Get Current Assessor</button>
                        </div>
                          </div>
                      </div>
                <div class="row">
                    <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                        Current Assessor:
                      </div>
                      <div class="col-md-7 colInput">
                        <mat-form-field appearance="outline" class="borderInput font-13">
                          <input matInput  placeholder="Model Code">
                        </mat-form-field> 
                          </div>
                      </div>
                 <div class="row">
                        <div class="col-md-5 colInputHeader verticalEndCenter font-14 required-field">
                            New Assessor token ID:
                          </div>
                          <div class="col-md-7 colInput">
                            <mat-form-field appearance="outline" class="borderInput font-13">
                              <input matInput  placeholder="Model Code">
                            </mat-form-field> 
                              </div>
                          </div>
                               
               
          </div>
          
    </div>
    </div>
    <div class="modal-footer">
        <div class="col text-center">
           <div class=" disInlineBlock">
                <button class=""  color="theme-red-button">Update Assessor</button>
            </div>
        </div>
       </div>
  </ng-template>
  <ng-template #editContent>
      <div class="modal-header">
        <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">Update Part Supplier Details</h3>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="modal-body">
        <div class="row no-margin">
           <div class="col-md-6">
               <div class="row">
                 <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                   Model Code:
                   </div>
                   <div class="col-md-7 colInput">
                     <mat-form-field appearance="outline" class="borderInput font-13">
                       <input matInput value="AAW3GPEH7TU05WJFNP" disabled>
                     </mat-form-field> 
                       </div>
                   </div>
                  
                         <div class="row">
                             <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                               Part Description:
                               </div>
                               <div class="col-md-7 colInput">
                                 <mat-form-field appearance="outline" class="borderInput font-13">
                                   <input matInput value="FUEL TANK" disabled>
                                 </mat-form-field>  
                                   </div>
                               </div>
                               <div class="row">
                                 <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                                 Plant Code:
                                   </div>
                                   <div class="col-md-7 colInput">
                                     <mat-form-field appearance="outline" class="borderInput font-13">
                                       <input matInput  value="A003">
                                     </mat-form-field> 
                                       </div>
                                   </div>

                                   <div class="row">
                                    <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                                      IsActive:
                                      </div>
                                      <div class="col-md-7 colInput">
                                        <mat-checkbox></mat-checkbox>
                                          </div>
                                      </div>
                                  
                  
             </div>
             <div class="col-md-6">
                
               <div class="row">
                 <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                 Part Number:
                   </div>
                   <div class="col-md-7 colInput">
                     <mat-form-field appearance="outline" class="borderInput font-13">
                       <input matInput  value="1001AAA03780N" disabled>
                     </mat-form-field> 
                       </div>
                   </div>
          <div class="row">
                     <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                     Aggregate
                       </div>
                       <div class="col-md-7 colInput">
                         <mat-form-field appearance="outline" class="borderInput font-13">
                           <input matInput  value="FUEL TANK" disabled>
                         </mat-form-field> 
                           </div>
                       </div>
                       <div class="row">
                         <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                          Supplier Code:
                           </div>
                           <div class="col-md-7 colInput no-padding-right">
                             <mat-form-field appearance="outline" class="borderInput font-13">
                               <input matInput  value="MSETU">
                             </mat-form-field> 
                               </div>
                              
                           </div>
               </div>
       </div>
       </div>
       <div class="modal-footer">
           <div class="col text-center">
              <div class="disInlineBlock">
                   <button class=""  color="theme-red-button">Update</button>
               </div>
           </div>
          </div>
    </ng-template>
    <!---Modal Structure stop-->