.BSCSurvey{
  /deep/{
  .mat-tab-body-wrapper{
    height: 100%;
    mat-tab-body{
      height: 100%;
    }
  }
}
  .internalContainer{
    mat-card-content{
      height: 85%;
      overflow-y: auto;
      .example-container{
        height: calc(100% - 76px);
        .table-container{
          height: 80%;
        }
      }
    }
    mat-card-footer{
      height: 15%;
    }
  }
  .secondTabContainer{
    mat-card-content{
      height: 100%;
      overflow-y: auto;
      .example-container{
        height: calc(100% - 76px);
        .table-container{
          min-height:0px;
           max-height: 80%;
        }
      }
    }
  }
  .required-field::after {
    content: "*";
    color: red;
    font-size:x-large;
}
    .borderInput{
        ::ng-deep .mat-form-field-infix{border-top: 0px !important;}
        ::ng-deep .mat-form-field-wrapper{padding-bottom: 0px;}
        }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: rgba(0,0,0,.12); }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{border-width: 1px !important;}
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{border-width: 1px !important;}
        /deep/.mat-select-arrow-wrapper{
          display: flex;
          align-items: center;
          justify-content: center;
        }
}

.readonly-wrapper {
  cursor: not-allowed;
  .readonly-block {
    pointer-events: none;
  }
}