<div class="container-fluid BSCSurvey padding">
    <div class="grid">
        <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
            <div class="row width100 verticalCenter">
            <div class="col-md-6">
            <h4 class="no-margin">BSC</h4>
            </div>
            <div class="col-md-6 no-padding">
            <p class="no-margin font-13 width100 flex verticalEndCenter">
              <span class="pointer" [routerLink]="roleId == '7' ? '/adminDashboard' : '/dashboard'" routerDirection="backward">Home</span><mat-icon>chevron_right</mat-icon>
              <span class="pointer" [routerLink]="roleId == '7' ? '/adminDashboard' : '/dashboard'" routerDirection="backward">Sustainability</span><mat-icon>chevron_right</mat-icon>
            <span class="secondaryMenu">BSC</span> 
            </p>
            </div>
            </div>
            </div>
       <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
          <mat-card class="no-padding mainOuterCardContainer">
              <mat-tab-group  class="customTab height100" (selectedTabChange)="tabChange()">
                <mat-tab label="BSC RESPONSE" class="tab-body" *ngIf="roleId != '7' && !checkIfRoleExist(roleId, '32')">
                 <div class="col-md-12 no-padding height100">
                    <mat-card class="no-shadow no-padding height100 internalContainer">
                        <mat-card-content class="no-margin">
                          <div class="row no-margin padding-top">
                          <div class="col-md-4 margin-bottom">
                              <div class="row">
                                  <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                   Select Date: 
                                    </div>
                                    <div class="col-md-8 colInput">
                                        <mat-form-field appearance="outline" class="borderInput font-13">
                                            <input matInput [matDatepicker]="picker2" [formControl]="surveyDate">
                                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                            <mat-datepicker #picker2></mat-datepicker>
                                          </mat-form-field>
                                        </div>
                                    </div>
                                  
                          </div>
                        </div>
                          <div class="example-container tbl_New_Layout" *ngIf="dataSource.length != 0">
                                <div class="table-container">
                              <table mat-table  class="lessons-table" [dataSource]="dataSource">
                             <ng-container matColumnDef="srNo">
                                  <th mat-header-cell *matHeaderCellDef class="tblColFlex4 text-center">Sr. No.</th>
                                  <td mat-cell *matCellDef="let element" class="text-center">
                                    {{ element.srNo || "N/A" }}
                                  </td>
                                </ng-container>
                                <ng-container matColumnDef="Question">
                                    <th mat-header-cell *matHeaderCellDef>Question</th>
                                    <td mat-cell *matCellDef="let element" >
                                      {{ element.Question || "N/A" }}
                                      </td>
                                  </ng-container>
                                  <ng-container matColumnDef="unitMeasurement">
                                    <th mat-header-cell *matHeaderCellDef>Unit of Measurement</th>
                                    <td mat-cell *matCellDef="let element" text-center>
                                      {{ element.unitMeasurement || "N/A" }}
                                      </td>
                                    </ng-container>
                                  <ng-container matColumnDef="Data">
                                    <th mat-header-cell *matHeaderCellDef class="required-field">Data</th>
                                    <td mat-cell *matCellDef="let element; let itt = index">
                                        <mat-form-field appearance="outline" class="borderInput font-13">
                                            <input matInput type="number" step="0.01" [readonly]="isReadOnly(this.dynamicForm.controls[itt].controls.SrNo.value)" [formControl]="this.dynamicForm.controls[itt].controls.Answer">
                                        </mat-form-field> 
                                      </td>
                                    </ng-container>
                                  <ng-container matColumnDef="tokenImprovement">
                                      <th mat-header-cell *matHeaderCellDef >Measures Taken for Improvement</th>
                                      <td mat-cell *matCellDef="let element; let itt = index">
                                          <mat-form-field appearance="outline" class="borderInput font-13">
                                              <input matInput placeholder="" [formControl]="this.dynamicForm.controls[itt].controls.Measures">
                                            </mat-form-field> 
                                        </td>
                                    </ng-container>
                                  <ng-container matColumnDef="Remarks">
                                      <th mat-header-cell *matHeaderCellDef>Remarks</th>  
                                      <td mat-cell *matCellDef="let element; let itt = index">
                                          <mat-form-field appearance="outline" class="borderInput font-13">
                                              <input matInput placeholder="" [formControl]="this.dynamicForm.controls[itt].controls.Remarks">
                                            </mat-form-field> 
                                        </td>
                                    </ng-container>
                                           
                                <tr mat-header-row  *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                              </table>
                              </div>
                              <!-- <mat-paginator  [length]="pageSize"  [pageSize]="5"  [pageIndex]="pageNo"
                              (page)="pageEvent = getPageChangeData($event)">
                            </mat-paginator> -->
                          </div>
                          </mat-card-content>
                          <mat-card-footer class="padding verticalMiddleCenter no-margin text-center">
                              <div class="col">
                               <div class="primaryFormBtn disInlineBlock margin-right-10">
                                  <button class="" (click)="saveAsDraft()" color="theme-gray-button">Save As Draft</button> 
                                </div>
                                <div class="primaryFormBtn disInlineBlock margin-right-10">
                                      <button class="" color="theme-red-button" matTooltip="Add your response for each question" (click)="submit()">Submit</button> 
                                    </div>
                                    <div class="primaryFormBtn disInlineBlock">
                                      <button class="" color="theme-gray-button" (click)="resetBSC()">Reset</button> 
                                    </div>
                                </div>
                           </mat-card-footer>
                          </mat-card>
                  
                 </div>
                </mat-tab>
                <mat-tab label="BSC REPORT" class="tab-body">
                      <div class="col-md-12 no-padding height100">
                        <mat-card class="no-shadow no-padding height100 secondTabContainer">
                         <mat-card-content class="no-margin">
                          <div class="row no-margin padding-top">
                            <div class="col-md-3 margin-bottom">
                                <div class="row">
                                    <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                      Sector: 
                                      </div>
                                      <div class="col-md-8 colInput">
                                        <mat-form-field appearance="outline" class="borderInput font-13">
                                          <mat-select [formControl]="sector" placeholder="Select" (selectionChange)="getSuppliers($event.value)">
                                              <mat-option *ngFor="let sector of sectors" [value]="sector.sector">{{sector.sector}} </mat-option>
                                            </mat-select>
                                          </mat-form-field>
                                          </div>
                                      </div>
                            </div>
                            <div class="col-md-3 margin-bottom">
                              <div class="row">
                                  <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                    Name Of Supplier: 
                                    </div>
                                    <div class="col-md-8 colInput">
                                      <div *ngIf="roleId != '7' && !checkIfRoleExist(roleId, '32')">
                                        <!-- <div *ngFor="let supplier of suppliers"> -->
                                          <mat-form-field appearance="outline" class="borderInput font-13" >
                                            <input matInput value="{{ username }}" readonly="true">
                                                  <!-- <mat-select [formControl]="supplier" disabled="true" [value]="vendorCode">
                                                      <mat-option *ngFor="let supplier of suppliers" value="{{ supplier.SupplierName }}">{{ supplier.SupplierName }} </mat-option>
                                                  </mat-select> -->
                                              </mat-form-field>
                                          <!-- </div> -->
                                      </div>

                                      <mat-form-field *ngIf="roleId == '7' || checkIfRoleExist(roleId, '32')" appearance="outline" class="borderInput font-13">
                                        <mat-select [formControl]="supplier">
                                            <mat-option *ngFor="let supplier of suppliers" [value]="supplier.SupplierCode">{{ supplier.SupplierName }} </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                        </div>
                                    </div>
                          </div>
                          <div class="col-md-2 vertcalAligment">
                            <button color="theme-red-button" (click)="showReport()" class="verticalMiddleCenter">Show Report</button> 
                          </div>  
                          <div class="col-md-2 vertcalAligment">
                            <button color="theme-gray-button" (click)="resetBSCReport()" class="verticalMiddleCenter">Reset</button> 
                          </div> 
                        <div class="col-md-2 vertcalAligment">
                            <button color="theme-green-button" (click)="download(BSCReportTable)" class="verticalMiddleCenter">Download</button> 
                          </div> 
                          </div>

                            <!-- <div *ngIf="noSurveyAvailable">
                              <h3 class="text-center">No Reports Available</h3>
                            </div> -->
                            <div class="example-container tbl_New_Layout">
                                <div class="table-container">
                              <table #BSCReportTable mat-table style="height: 400px;" *ngIf="dataReport.length > 0" class="lessons-table" [dataSource]="dataReport">
                                <ng-container matColumnDef="Parameter">
                                      <th mat-header-cell *matHeaderCellDef class="tblColFlex9">Parameter</th>
                                      <td mat-cell *matCellDef="let element" class="text-center">
                                        {{ element.Parameter || "N/A" }}
                                      </td>
                                    </ng-container>
                                    <ng-container matColumnDef="unit_of_measurements">
                                      <th mat-header-cell *matHeaderCellDef class="tblColFlex9">Unit of Measurement</th>
                                      <td mat-cell *matCellDef="let element" text-center>
                                        {{ element.unit_of_measurements || "N/A" }}
                                        </td>
                                      </ng-container>
                                    <ng-container matColumnDef="2018_2019">
                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex6">2019-2020</th>
                                        <td mat-cell *matCellDef="let element" class="text-center">
                                          {{ element['20182019'] || "0"}}
                                          </td>
                                      </ng-container>
                                      <ng-container matColumnDef="targets_2019_2020">
                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex8">Targets 2020-2021</th>
                                        <td mat-cell *matCellDef="let element; let itt = index">
                                            {{ element.targets_2019_2020 }}
                                          </td>
                                        </ng-container>
                                      <ng-container matColumnDef="Apr">
                                          <th mat-header-cell *matHeaderCellDef class="tblColFlex5">Apr</th>
                                          <td mat-cell *matCellDef="let element; let itt = index">
                                              {{element.Apr || "0" }}
                                            </td>
                                        </ng-container>
                                      <ng-container matColumnDef="May">
                                          <th mat-header-cell *matHeaderCellDef  class="tblColFlex5">May</th>
                                          <td mat-cell *matCellDef="let element; let itt = index">
                                              {{element.May || "0" }}
                                            </td>
                                        </ng-container>
                                      <ng-container matColumnDef="Jun">
                                          <th mat-header-cell *matHeaderCellDef  class="tblColFlex5">Jun</th>
                                          <td mat-cell *matCellDef="let element; let itt = index">
                                            {{element.Jun || "0" }}
                                            </td>
                                        </ng-container>
                                      <ng-container matColumnDef="Jul">
                                          <th mat-header-cell *matHeaderCellDef  class="tblColFlex5">Jul</th>
                                          <td mat-cell *matCellDef="let element; let itt = index">
                                            {{element.Jul || "0" }}
                                            </td>
                                        </ng-container>
                                      <ng-container matColumnDef="Aug">
                                          <th mat-header-cell *matHeaderCellDef  class="tblColFlex5">Aug</th>
                                          <td mat-cell *matCellDef="let element; let itt = index">
                                            {{element.Aug || "0" }}
                                            </td>
                                        </ng-container>
                                      <ng-container matColumnDef="Sept">
                                          <th mat-header-cell *matHeaderCellDef  class="tblColFlex5">Sept</th>
                                          <td mat-cell *matCellDef="let element; let itt = index">
                                            {{element.Sept || "0" }}  
                                          </td>
                                        </ng-container>
                                      <ng-container matColumnDef="Oct">
                                          <th mat-header-cell *matHeaderCellDef  class="tblColFlex5">Oct</th>
                                          <td mat-cell *matCellDef="let element; let itt = index">
                                              {{element.Oct || "0" }}
                                            </td>
                                        </ng-container>
                                      <ng-container matColumnDef="Nov">
                                          <th mat-header-cell *matHeaderCellDef  class="tblColFlex5">Nov</th>
                                          <td mat-cell *matCellDef="let element; let itt = index">
                                            {{element.Nov || "0" }} 
                                            </td>
                                        </ng-container>
                                      <ng-container matColumnDef="Dec">
                                          <th mat-header-cell *matHeaderCellDef  class="tblColFlex5">Dec</th>
                                          <td mat-cell *matCellDef="let element; let itt = index">
                                            {{element.Dec || "0" }}  
                                            </td>
                                        </ng-container>
                                      <ng-container matColumnDef="Jan">
                                          <th mat-header-cell *matHeaderCellDef  class="tblColFlex5">Jan</th>
                                          <td mat-cell *matCellDef="let element; let itt = index">
                                            {{element.Jan || "0" }}  
                                            </td>
                                        </ng-container>
                                      <ng-container matColumnDef="Feb">
                                          <th mat-header-cell *matHeaderCellDef  class="tblColFlex5">Feb</th>
                                          <td mat-cell *matCellDef="let element; let itt = index">
                                            {{element.Feb || "0" }}  
                                            </td>
                                        </ng-container>
                                      <ng-container matColumnDef="Mar">
                                          <th mat-header-cell *matHeaderCellDef  class="tblColFlex5">Mar</th>
                                          <td mat-cell *matCellDef="let element; let itt = index">
                                            {{element.Mar || "0" }}  
                                            </td>
                                        </ng-container>
                                      <ng-container matColumnDef="cumulative">
                                          <th mat-header-cell *matHeaderCellDef class="tblColFlex6">Cumulative</th>
                                          <td mat-cell *matCellDef="let element; let itt = index">
                                            {{element.cumulative || "0" }}  
                                            </td>
                                        </ng-container>
                                      <ng-container matColumnDef="BSC_score">
                                          <th mat-header-cell *matHeaderCellDef class="tblColFlex6">BSC Score</th>
                                          <td mat-cell *matCellDef="let element; let itt = index">
                                            {{element.BSC_score == 'true' ? '1' : element.BSC_score == 'false' ? '0' : element.BSC_score }}  
                                            </td>
                                        </ng-container>
                                      <ng-container matColumnDef="measurement_taken_for_improvement">
                                          <th mat-header-cell *matHeaderCellDef class="tblColFlex15">Measures taken for Improvement</th>
                                          <td mat-cell *matCellDef="let element; let itt = index">
                                            {{element.measurement_taken_for_improvement || "N/A" }}  
                                          </td>
                                        </ng-container>
                                        <ng-container matColumnDef="Remarks">
                                          <th mat-header-cell *matHeaderCellDef class="tblColFlex5">Remarks</th>
                                          <td mat-cell *matCellDef="let element; let itt = index">
                                            {{element.Remarks || "N/A" }}  
                                          </td>
                                        </ng-container>
                                      <!-- <ng-container matColumnDef="Remarks">
                                          <th mat-header-cell *matHeaderCellDef>Remarks</th>
                                          <td mat-cell *matCellDef="let element; let itt = index">
                                              <mat-form-field appearance="outline" class="borderInput font-13">
                                                  <input matInput placeholder="" [formControl]="this.dynamicForm.controls[itt].controls.remarks">
                                                </mat-form-field> 
                                            </td>
                                        </ng-container> -->
                                           
                                <tr mat-header-row  *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
                              </table>
                              </div>
                              <!-- <mat-paginator  [length]="pageSize"  [pageSize]="5"  [pageIndex]="pageNo"
                              (page)="pageEvent = getPageChangeData($event)">
                            </mat-paginator> -->
                          </div>
                          </mat-card-content>
                          <!-- <mat-card-footer class="padding verticalMiddleCenter no-margin text-center">
                              <div class="col">
                               <div class="primaryFormBtn disInlineBlock margin-right-10">
                                  <button class="" (click)="saveAsDraft()" color="theme-gray-button">Save As Draft</button> 
                                </div>
                                <div class="primaryFormBtn disInlineBlock">
                                      <button class="" color="theme-red-button" (click)="submit()">Submit</button> 
                                    </div>
                                </div>
                           </mat-card-footer> -->
                          </mat-card>
                  
                 </div>
                  </mat-tab>
                  <mat-tab label="BSC Dashboard" class="tab-body" *ngIf="roleId == '7' || checkIfRoleExist(roleId, '32')">
                      
                    <div class="row no-margin padding-top">

                          <div class="col-md-1 margin-bottom">
                            Type of Report
                          </div>
                          <div class="col-md-2 margin-bottom">
                            <mat-form-field appearance="outline" class="borderInput font-13">
                              
                              <mat-select [formControl]="type" required>
                                <mat-option value="2">Suppliers Yet to Respond</mat-option>
                                <mat-option value="1">Suppliers Responded</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-4 margin-bottom">
                                  Sector
                                </div>
                                <div class="col-md-8 margin-bottom">
                                  <mat-form-field appearance="outline" class="borderInput font-13">
                                    <mat-select [formControl]="sector" placeholder="Select" (selectionChange)="getSuppliers($event.value)">
                                      <mat-option *ngFor="let sector of sectors" [value]="sector.sector">{{sector.sector}} </mat-option>
                                    </mat-select>
                                    
                                  </mat-form-field>
                                </div>
                              </div>
                            </div>

                          <div class="col-md-2">
                            <div class="row">
                              <div class="col-md-4 margin-bottom">
                                Hub
                              </div>
                              <div class="col-md-8 margin-bottom">
                                <mat-form-field appearance="outline" class="borderInput font-13">
                                  <mat-select [formControl]="hub">
                                    <mat-option *ngFor="let hub of hubs" [value]="hub.Hub">{{ hub.Hub }} </mat-option>
                                    </mat-select>
                                  </mat-form-field>  
                                </div>
                              </div>
                            </div>
                            <div class="col-md-1 margin-bottom">
                                Supplier Name
                              </div>
                              <div class="col-md-1 margin-bottom">
                                <mat-form-field appearance="outline" class="borderInput font-13">
                                  <mat-select [formControl]="supplier">
                                    <mat-option *ngFor="let supplier of suppliers" [value]="supplier.SupplierCode">{{ supplier.SupplierName }} </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                              </div>
                          <div class="col-md-2 vertcalAligment">
                              <button (click)="getDashboardReport()" color="theme-red-button" class="verticalMiddleCenter">Show Report</button> 
                            </div> 
                          <div class="col-md-1 vertcalAligment">
                              <button (click)="resetDashboardReport()" color="theme-gray-button" class="verticalMiddleCenter">Reset</button> 
                            </div> 
                        </div>
                        <div class="row" *ngIf="totalCount != 0">
                          <div class="col-md-12">
                            Total Count: {{ totalCount }}
                          </div>
                        </div>
                        <div class="row">
                          <table #BSCDashboardTable class='width100' mat-table *ngIf="DashboardDataSource.length > 0" [dataSource]="DashboardDataSource">
                            <ng-container matColumnDef="SupplierName">
                                  <th mat-header-cell *matHeaderCellDef  class="text-center">Supplier Name</th>
                                  <td mat-cell *matCellDef="let element" class="text-center">
                                      {{ element.SupplierName || "N/A" }}
                                    </td>
                              </ng-container>
   
                            <ng-container matColumnDef="SupplierCode">
                                  <th mat-header-cell *matHeaderCellDef  class="text-center">Supplier Code</th>
                                  <td mat-cell *matCellDef="let element" class="text-center">
                                      {{ element.SupplierCode || "N/A" }}
                                    </td>
                              </ng-container>
   
                            <ng-container matColumnDef="Hub">
                                  <th mat-header-cell *matHeaderCellDef  class="text-center">Hub</th>
                                  <td mat-cell *matCellDef="let element" class="text-center">
                                      {{ element.Hub || "N/A" }}
                                    </td>
                              </ng-container>
   
                            <ng-container matColumnDef="Sector">
                                  <th mat-header-cell *matHeaderCellDef  class="text-center">Sector</th>
                                  <td mat-cell *matCellDef="let element" class="text-center">
                                      {{ element.Sector || "N/A" }}
                                    </td>
                              </ng-container>
   
                              <tr mat-header-row  *matHeaderRowDef="dashboardTable; sticky: true"></tr>
                              <tr mat-row *matRowDef="let row; columns: dashboardTable"></tr>
                            </table>
                          </div>
                    </mat-tab>
                </mat-tab-group>
                </mat-card>
       </div>
       </div>
       </div>
       