<div class="container-fluid SRMMMISYOYAnalysis padding">
  <div class="grid">
    
    <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
      <div class="row width100 verticalCenter">
      <div class="col-md-6">
      <h4 class="no-margin">SRMM MIS YOY Analysis</h4>
      </div>
      <div class="col-md-6 no-padding">
      <p class="no-margin font-13 width100 flex verticalEndCenter">
        <span class="pointer" routerLink="/adminDashboard" routerDirection="backward">Home</span><mat-icon>chevron_right</mat-icon>
      <span class="secondaryMenu">SRMM MIS YOY Analysis</span> 
      </p>
      </div>
      </div>
      </div>

      <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
          <mat-card class="no-padding mainOuterCardContainer">
              <div class="col-md-12 padding height100">
                <div class="row no-margin">
                  <div class="col-md-4 padding-bottom">
                      <div class="row">
                          <div class="col-md-5 colInputHeader verticalEndCenter font-13">Search By:</div>
                          <div class="col-md-7 colInput">
                              <mat-form-field appearance="outline" class="borderInput font-13">
                                <mat-select [formControl]='searchBy'>
                                    <mat-option value="supplierCode">Supplier Code</mat-option>
                                    <mat-option value="supplierName">Supplier Name</mat-option>
                                </mat-select>
                               </mat-form-field>
                          </div>
                      </div>
                   </div>
                  <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-7 colInputHeader verticalEndCenter font-13">
                          <mat-form-field appearance="outline" class="borderInput font-13">
                            <input appInputListener [formControl]='searchByValue' matInput placeholder="">
                         </mat-form-field>
                        </div>
                        <div class="col-md-5 colInput">
                          
                        </div>
                    </div>
                   
                  </div>
                  <div class="col-md-4 no-padding-right">
                    <div class="row">
                        <div class="col-md-12 colInput btnConatiner">
                           <div class="disInlineBlock  firstBtnBlock">
                               <button class="" color="theme-red-button" (click)="filter()">Search</button>
                           </div> 
                           <div class="disInlineBlock secondBsecondtnBlock ">
                               <button class="verticalMiddleCenter" color="theme-green-button" (click)="exportToExcel()">
                                   <mat-icon  class="flex margin-right-10 disInlineBlock excelCustIcon" svgIcon="excelIcon"></mat-icon>
                                   Export To Excel
                                 </button> 
                           </div> 
                       </div>
                     </div>
                  </div>
                </div>
               <div class="row no-margin tblConatiner">
                        <div class="example-container tbl_New_Layout height100">
                          <div class="table-container">
                            <table mat-table  class="lessons-table" [dataSource]="DataSource" #table>
                               <ng-container matColumnDef="supplierCode">
                              <th mat-header-cell *matHeaderCellDef class="tblColFlex6">Supplier Code</th>
                              <td mat-cell *matCellDef="let element" >
                                {{ element.supplierCode || "N/A" }}
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="supplierName">
                                <th mat-header-cell *matHeaderCellDef class="tblColFlex17">Supplier Name</th>
                                <td mat-cell *matCellDef="let element" >
                                  {{ element.supplierName || "N/A" }}
                                  </td>
                              </ng-container>
                             <ng-container matColumnDef="FYScore1">
                                    <th mat-header-cell *matHeaderCellDef class="tblColFlex10">FY 2021 Score</th>
                                    <td mat-cell *matCellDef="let element" >
                                      {{ element.FYScore1 || "0" }}
                                      </td>
                                  </ng-container>
                                  <ng-container matColumnDef="FYScore2">
                                    <th mat-header-cell *matHeaderCellDef class="tblColFlex5">FY 2020 Score</th>
                                    <td mat-cell *matCellDef="let element" >
                                      {{ element.FYScore2 || "0" }}
                                      </td>
                                  </ng-container>
  
                                  <ng-container matColumnDef="FYScore3">
                                      <th mat-header-cell *matHeaderCellDef class="tblColFlex7">FY 2019 Score</th>
                                      <td mat-cell *matCellDef="let element" >
                                        {{ element.FYScore3 || "0" }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="FYScore4">
                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex10">FY 2018 Score</th>
                                        <td mat-cell *matCellDef="let element" >
                                            {{ element.FYScore4 || "0" }}
                                          </td>
                                      </ng-container>
                                      <ng-container matColumnDef="FYScore5">
                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex6"> FY 2017 Score</th>
                                        <td mat-cell *matCellDef="let element">
                                            {{ element.FYScore5 || "0" }}
                                          </td>
                                      </ng-container>
                                     <tr mat-header-row  *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                                      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                           </table>
                      </div>
                        <!-- <mat-paginator  [length]="pageSize"  [pageSize]="5"  [pageIndex]="pageNo"
                        (page)="pageEvent = getPageChangeData($event,1)">
                      </mat-paginator> -->
                    </div>
                      </div>
                </div>
             
            </mat-card>
      </div>

  </div>
</div>



 <!---Modal Structure start-->
 <ng-template #updateAssessor >
    <div class="modal-header">
      <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">Update Assessor</h3>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="modal-body">
     <div class="row no-margin">
        <div class="col-md-12">
            <div class="row">
              <div class="col-md-5 colInputHeader verticalEndCenter font-14 required-field">
                Supplier Code:
                </div>
                <div class="col-md-7 colInput">
                  <mat-form-field appearance="outline" class="borderInput font-13">
                    <input matInput  placeholder="Model Code">
                  </mat-form-field> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 colInputHeader verticalEndCenter font-14 required-field">
                    
                      </div>
                      <div class="col-md-7 colInput">
                        <div class="">
                            <button class=""  color="theme-red-button">Get Current Assessor</button>
                        </div>
                          </div>
                      </div>
                <div class="row">
                    <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                        Current Assessor:
                      </div>
                      <div class="col-md-7 colInput">
                        <mat-form-field appearance="outline" class="borderInput font-13">
                          <input matInput  placeholder="Model Code">
                        </mat-form-field> 
                          </div>
                      </div>
                 <div class="row">
                        <div class="col-md-5 colInputHeader verticalEndCenter font-14 required-field">
                            New Assessor token ID:
                          </div>
                          <div class="col-md-7 colInput">
                            <mat-form-field appearance="outline" class="borderInput font-13">
                              <input matInput  placeholder="Model Code">
                            </mat-form-field> 
                              </div>
                          </div>
                               
               
          </div>
          
    </div>
    </div>
    <div class="modal-footer">
        <div class="col text-center">
           <div class=" disInlineBlock">
                <button class=""  color="theme-red-button">Update Assessor</button>
            </div>
        </div>
       </div>
  </ng-template>
  <ng-template #editContent>
      <div class="modal-header">
        <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">Update Part Supplier Details</h3>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="modal-body">
        <div class="row no-margin">
           <div class="col-md-6">
               <div class="row">
                 <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                   Model Code:
                   </div>
                   <div class="col-md-7 colInput">
                     <mat-form-field appearance="outline" class="borderInput font-13">
                       <input matInput value="AAW3GPEH7TU05WJFNP" disabled>
                     </mat-form-field> 
                       </div>
                   </div>
                  
                         <div class="row">
                             <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                               Part Description:
                               </div>
                               <div class="col-md-7 colInput">
                                 <mat-form-field appearance="outline" class="borderInput font-13">
                                   <input matInput value="FUEL TANK" disabled>
                                 </mat-form-field>  
                                   </div>
                               </div>
                               <div class="row">
                                 <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                                 Plant Code:
                                   </div>
                                   <div class="col-md-7 colInput">
                                     <mat-form-field appearance="outline" class="borderInput font-13">
                                       <input matInput  value="A003">
                                     </mat-form-field> 
                                       </div>
                                   </div>

                                   <div class="row">
                                    <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                                      IsActive:
                                      </div>
                                      <div class="col-md-7 colInput">
                                        <mat-checkbox></mat-checkbox>
                                          </div>
                                      </div>
                                  
                  
             </div>
             <div class="col-md-6">
                
               <div class="row">
                 <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                 Part Number:
                   </div>
                   <div class="col-md-7 colInput">
                     <mat-form-field appearance="outline" class="borderInput font-13">
                       <input matInput  value="1001AAA03780N" disabled>
                     </mat-form-field> 
                       </div>
                   </div>
          <div class="row">
                     <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                     Aggregate
                       </div>
                       <div class="col-md-7 colInput">
                         <mat-form-field appearance="outline" class="borderInput font-13">
                           <input matInput  value="FUEL TANK" disabled>
                         </mat-form-field> 
                           </div>
                       </div>
                       <div class="row">
                         <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                          Supplier Code:
                           </div>
                           <div class="col-md-7 colInput no-padding-right">
                             <mat-form-field appearance="outline" class="borderInput font-13">
                               <input matInput  value="MSETU">
                             </mat-form-field> 
                               </div>
                              
                           </div>
               </div>
       </div>
       </div>
       <div class="modal-footer">
           <div class="col text-center">
              <div class="disInlineBlock">
                   <button class=""  color="theme-red-button">Update</button>
               </div>
           </div>
          </div>
    </ng-template>
    <!---Modal Structure stop-->