.SRMMMISYOYAnalysis{
  .borderInput{
      ::ng-deep .mat-form-field-infix{border-top: 0px !important;}
      ::ng-deep .mat-form-field-wrapper{padding-bottom: 0px;}
      }
      /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: rgba(0,0,0,.12); }
      /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{border-width: 1px !important;}
      /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{border-width: 1px !important;}
      /deep/.mat-select-arrow-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .btnConatiner{
        .firstBtnBlock{
          margin-right: 4%;
       
        }
       .firstBtnBlock,.secondBsecondtnBlock{
          width: 48%;
        }
      }
      .tblConatiner{
        height: calc(100% - 86px);
        .example-container.tbl_New_Layout .table-container{
          height: 89%;
        }
      }
      .mat-icon {
        // height: 18px !important;
        // width: 17px !important;
        // cursor: pointer;
    }
    /deep/.actionBtnBlock{
      width: 50%;
       display: inline-block;
      height: 4vh;
      text-align: center;
      .mat-icon {
        height: 18px !important;
        width: 17px !important;
        cursor: pointer;
    }
    }
    .positiveCell{background-color: #1FB620;}
    .warningCell{background-color: #FEFF01;}
    .negativeCell{background-color: #FF1D35;}
}