<main [@routeTransition]="getAnimation()" >
        <!-- <div id="particles-js"></div> -->
        <!-- <main [@routeTransition]="getAnimation()"> -->
        <router-outlet></router-outlet>
         <!-- /#page-content-wrapper -->
  </main>
    
