<div class="modal-header">
  <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">Change Management</h3>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="modal-body liquidityContainer customScroll no-padding">
 
    <div class="col-md-12 transactionPanel customScroll padding leftformBlock QualityBlocks">
      <div class="col subHdr text-transform-capitalize padding borderBottom"> <h3 class="no-margin">Change Management Details</h3> </div>
    <mat-card class="no-padding no-shadow changeManagementCard">
    
        <mat-card-content class="no-margin" *ngIf="CMRData">
          
            <div class="col no-padding">
                <div class="row no-margin">
                  <div class="col-md-6 no-padding-left">
                    <div class="col margin-bottom-10">
                        <p class="no-margin font-13 required-field">Supplier Code:</p>
                        <mat-form-field appearance="outline" class="borderInput font-13">
                          <input matInput placeholder="" [(ngModel)]="CMRData.SupplierCode" disabled>
                           </mat-form-field>
                    </div>
                    <div class="col margin-bottom-10">
                        <p class="no-margin font-13 required-field">Supplier Name:</p>
                          <mat-form-field appearance="outline" class="borderInput font-13">
                                <input matInput  disabled [(ngModel)]="CMRData.SupplierName">
                              
                            </mat-form-field> 
                    </div>
                    <div class="col margin-bottom-10">
                        <p class="no-margin font-13 required-field">Supplier Location:</p>
                        <mat-form-field appearance="outline" class="borderInput font-13">
                              <input matInput placeholder="" disabled [(ngModel)]="CMRData.Location">
                             
                          </mat-form-field> 
                    </div>
                    <div class="col margin-bottom-10">
                        <p class="no-margin font-13 required-field">Is there any change this month?</p>
                        <mat-radio-group aria-label="Select an option" disabled>
                            <mat-radio-button value="Yes" class="col-md-6" [checked]="CMRData.Changes_this_Month === 'Yes'">Yes</mat-radio-button>
                            <mat-radio-button value="No" class="col-md-6"  [checked]="CMRData.Changes_this_Month === 'No'">No</mat-radio-button>
                          </mat-radio-group>
                        
                    </div>
                    <div class="col margin-bottom-10" *ngIf="CMRData.Changes_this_Month === 'Yes'">
                      <p class="no-margin font-13">If Yes,Change related to :</p>
                        <mat-form-field appearance="outline" class="borderInput font-13" disabled>
                           <mat-select [value]="CMRData.ChangesRelatedTo" placeholder="Select" >
                              <mat-option [value]="CMRData.ChangesRelatedTo">{{CMRData.ChangesRelatedTo}} </mat-option> 
                            </mat-select>
                           </mat-form-field>
                    </div>
                    <div class="col margin-bottom-10">
                        <p class="no-margin font-13">Details of change :</p>
                    <mat-form-field appearance="outline" class="borderInput">
                        <textarea matInput rows="9" placeholder="" [(ngModel)]="CMRData.ChangeDetails" disabled></textarea>
                      </mat-form-field> 
                    </div>
                    <div class="col margin-bottom-10">
                        <p class="no-margin font-13">Change affected to (Part No,Name & Vehicle Model):</p>
                        <mat-form-field appearance="outline" class="borderInput">
                            <textarea matInput  rows="9" [(ngModel)]="CMRData.ChangeAffected_to" disabled ></textarea>
                          </mat-form-field> 
                    </div>
                   
    
                  </div>
                  <div class="col-md-6 no-padding-right">
                      <div class="col margin-bottom-10">
                          <p class="no-margin font-13">Is PPAP required for above change?</p>
                          <mat-radio-group aria-label="Select an option" disabled>
                              <mat-radio-button value="Yes"  class="col-md-6" [checked]="CMRData.PPAP_Require === 'Yes'">Yes</mat-radio-button>
                              <mat-radio-button value="No" class="col-md-6" [checked]="CMRData.PPAP_Require === 'No'">No</mat-radio-button>
                            </mat-radio-group>
                      </div>
                      <div class="col margin-bottom-10">
                          <p class="no-margin font-13">If yes, have you done PPAP:</p>
                          <mat-radio-group aria-label="Select an option" disabled>
                              <mat-radio-button value="Yes" class="col-md-6" [checked]="CMRData.PPAP_Done === 'Yes'">Yes</mat-radio-button>
                              <mat-radio-button value="No" class="col-md-6" [checked]="CMRData.PPAP_Done === 'No'">No</mat-radio-button>
                            </mat-radio-group>
                      </div>
                      <div class="col margin-bottom-10">
                          <p class="no-margin font-13">Above changes communicated to whom in M & M (Name & Dept)?</p>
                          <mat-form-field appearance="outline" class="borderInput">
                              <textarea matInput  rows="5" [(ngModel)]="CMRData.Communication" disabled></textarea>
                            </mat-form-field> 
                      </div>
                      <div class="col margin-bottom-10">
                          <p class="no-margin font-13">Is this change affecting field performance of part supplied?</p>
                          <mat-radio-group aria-label="Select an option" disabled>
                              <mat-radio-button value="Yes" class="col-md-6" [checked]="CMRData.Change_Affect_performance === 'Yes'">Yes</mat-radio-button>
                              <mat-radio-button value="No" class="col-md-6" [checked]="CMRData.Change_Affect_performance === 'No'">No</mat-radio-button>
                            </mat-radio-group>
                      </div>
                      <div class="col margin-bottom-10">
                          <p class="no-margin font-13">Change affecting which plant?</p>
                          <mat-checkbox *ngFor="let plants of PlantNames;let i= index" [checked]="CMRData.Plants.split(',').includes(plants.id) ? true : false" value="plants.id" style="margin: 0 10px;" disabled>
                            {{plants.value}}
                            </mat-checkbox> 
                            <!-- <mat-checkbox *ngFor="let plants of PlantNames;let i= index"  value="plants.id" style="margin: 0 10px;"  [checked]="isCommonElt(plants.id)">
                              {{plants.value}}
                              </mat-checkbox>   -->
                      </div>
                      <div class="col margin-bottom-10">
                          <p class="no-margin font-13">Date of Change Implementation:</p>
                          <mat-form-field appearance="outline" class="borderInput font-13"> 
                              <input matInput [(ngModel)]="CMRData.Implementation_Date" disabled  [matDatepicker]="changeDatepicker" placeholder="DD/MM/YYYY">
                              <mat-datepicker-toggle matSuffix [for]="changeDatepicker"></mat-datepicker-toggle>
                              <mat-datepicker #changeDatepicker></mat-datepicker>
                            </mat-form-field>
                      </div>
                      <div class="col margin-bottom-10">
                          <p class="no-margin font-13 required-field">Your Name:</p>
                          <mat-form-field appearance="outline" class="borderInput font-13">
                                <input matInput placeholder="" [(ngModel)]="CMRData.Name" disabled>
                                <!-- <mat-error *ngIf="ChangeManagementForm.get('name').hasError('required')" class="matError">
                                    Name is required.
                                  </mat-error> -->
                            </mat-form-field> 
                      </div>
                      <div class="col margin-bottom-10">
                          <p class="no-margin font-13 required-field">Mobile No:</p>
                          <mat-form-field appearance="outline" class="borderInput font-13">
                                <input   matInput placeholder=""  [(ngModel)]="CMRData.MobileNo" disabled>
                               
                            </mat-form-field> 
                      </div>
                      <div class="col margin-bottom-10">
                          <p class="no-margin font-13 required-field">Email ID:</p>
                          <mat-form-field appearance="outline" class="borderInput font-13">
                                <input matInput placeholder="" [(ngModel)]="CMRData.EmailId" disabled>
                          </mat-form-field>
                      </div>
                      <div class="col margin-bottom-10">
                          <p class="no-margin font-13">Attachments:</p>
                         <div class="row">
                            <div class="col-md-9 colInput">
                                <mat-form-field appearance="outline" class="borderInput font-13" (click)="openAttachment()">
                                    <input matInput readonly disabled  disabled [value]="CMRData.FileName || ''">
                                    <a [href]="this.CMRData.FileData || ''" [download]="CMRData.FileName+CMRData.FileExtension"></a>
                                </mat-form-field> 
                              </div>
                              <div class="col-md-3 no-padding-left" style="display: none;">
                                  <label for="file-input" class="no-margin text-center vertcalAligment" color="theme-gray-button">
                                      Upload
                                  <input id="file-input"  type="file" accept=".png, .jpg, .jpeg" style="display: none;" />
                             </label>
                              </div>
                         </div>
                      </div>
                      <div class="col margin-bottom-10" *ngIf="RoleID== 7 || changeManagementRole == 11">
                        <p class="no-margin font-13 required-field">Remark</p>
                        <mat-form-field appearance="outline" class="borderInput font-13">
                              <input matInput [(ngModel)]="remarks" [disabled]="CMRData.Flag =='2' || CMRData.Flag == '1'">
                        </mat-form-field> 
                    </div>
                  </div>
                </div>
            </div>
            <!-- Flag -->
          </mat-card-content>
          <mat-card-footer *ngIf="CMRData" class="padding verticalMiddleCenter no-margin text-center">
            <div class="col" *ngIf="CMRData.Flag == ''">
              <div class="primaryFormBtn disInlineBlock margin-right-10">
                <button class="" color="theme-gray-button" (click)="changeStatus(1)" [disabled]="remarks ==''">Approve</button> 
                               </div>
                               <div class="primaryFormBtn disInlineBlock">
                                <button class="" color="theme-red-button" [disabled]="remarks ==''" (click)="changeStatus(2)">Reject</button> 
                                   </div>
               </div>

               <div class="col" >
                <div class="primaryFormBtn disInlineBlock margin-right-10" *ngIf="CMRData.Flag =='1'">
                  <button class="" color="theme-gray-button" disabled>Approved</button> 
                      </div>
                  <div class="primaryFormBtn disInlineBlock" *ngIf="CMRData.Flag =='2'">
                              <button class="" color="theme-red-button" disabled>Rejected</button> 
                          </div>
                 </div>

  <!-- <div class="col" >
                <div class="primaryFormBtn disInlineBlock margin-right-10" *ngIf="flag =='True' && CMRData.Flag =='1'">
                  <button class="" color="theme-gray-button" disabled>Aproved</button> 
                                 </div>
                                 <div class="primaryFormBtn disInlineBlock" *ngIf="flag =='True' && CMRData.Flag =='2'">
                                  <button class="" color="theme-red-button" disabled>Rejected</button> 
                            </div>
                 </div> -->
           </mat-card-footer>
    </mat-card> 
    
    
    </div>  
    <!-- </div>    -->
   
</div>
