<!-- <ng-template #stakeholdercontent let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">{{banner_name}}</h3>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <mat-icon #closeModalonclick>close</mat-icon>
      </button>
  </div> -->
  <div >
      <form [formGroup]="bulk_Upload_form" #form="ngForm">
          <div class="row no-margin">

              <div class="spacer col-md-12"></div>
                  <div class="col-md-8 offset-md-2 uploadBlock" style="background-color: white;border-radius:3px;">
                      <div class="col-md-10 offset-md-1">
                        <div class="row">
                          <div class="spacer col-md-12"></div>
                        </div>
                          <div class="row ">
                              <div class="col-md-2 colInputHeader verticalEndCenter font-14 no-padding">
                                  Bulk Upload:
                              </div>
          
                              <div class="col-md-4 colInput no-padding-right">
                                  <mat-form-field appearance="outline" class="borderInput font-13 ">
                                      <input matInput placeholder="" formControlName="Bulk_Upload">
                                  </mat-form-field>
                                </div>
          
                              <div class="col-md-3 verticalCenter no-padding-left no-padding-right">
                                  <label matTooltip="File format should be .xlsx" matTooltipPosition="above" for="file-input" class="no-margin text-center vertcalAligment"
                                  color="theme-gray-button">
                                  Upload File
                                  <input id="file-input" type="file" #fileInput (click)="fileInput.value = null" 
                                  (change)="detectFiles($event,form)"
                                  accept=".xlsx" style="display: none;" />
                              </label>
                                </div>
                                    <div class="col-md-3 no-padding-right verticalCenter">
                                      <div class="vertcalAligment">
                                        <button (click)="DownloadSampleTemplate('ExternalVendorDetails')" color="theme-green-button" class="verticalMiddleCenter">
                                          <mat-icon  class="flex margin-right-10 disInlineBlock" svgIcon="excelIcon"></mat-icon>
                                          Download</button>
                                       </div>
                                    </div>
                              </div>
                      </div>
                     
                    </div>
          </div>

      </form>
  </div>
  <div class="spacer col-md-12"></div>
  <div>
      <div class="col text-center">
          <!-- <div class="primaryFormBtn disInlineBlock margin-right-10">
              <button (click)="InsertRoleData(form)" color="theme-red-button">Save & Add More</button>
          </div> -->
          <div class="primaryFormBtn disInlineBlock ">
              <button class="" (click)="InsertStakeholderData(form)" color="theme-red-button">Upload</button>
          </div>
      </div>
  </div>
<!-- </ng-template> -->
