    <div class="container-fluid ExcellenceAwardPage padding">
      <div class="grid">
          <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
          <div class="row width100 verticalCenter">
              <div class="col-md-6">
                  <h4 class="no-margin">My Excellence Awards</h4>
                </div>
                <div class="col-md-6 no-padding">
                    <p class="no-margin font-13 width100 flex verticalEndCenter">
                        <span class="pointer" (click)="navigate()" routerDirection="backward">Home</span> <mat-icon>chevron_right</mat-icon>
                       <span class="secondaryMenu">My Excellence Awards</span> 
                    </p>
                  </div>
          </div>
        </div>
         <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
            <mat-card class="no-padding mainOuterCardContainer" >
                <mat-tab-group style="height: 100%;" #divElement class="customTab largeTab">
                  <mat-tab label="MAHINDRA SUPPLIER EXCELLENCE AWARD"  class="tab-body">
                    <div class="row no-margin height100">
                        <div class="col-md-8 padding leftBlock">
                            <div class="col">
                            <div class="row">
                              <div class="col-md-6">
                                <p class="font-14 infoContent">To recognize the efforts by our supplier fraternity and reinforce the culture of meritocracy, We
                                    introduced the "Panchratna Yojna" in Farm Division in 2008. In our endeavor to adapt best practices
                                    across sectors, we introduced the same in Automotive Division from 2011.
                                    "Panchratna Yojna"was rechristened as "Mahindra Supplier Excellence Awards" in
                                    2015. In 2017, it was introduced in Trucks & Bus Division also.</p>
                              </div>
                              <div class="col-md-6">
                                <div>
                                  <img src="/assets/img/award/AwardImage.png">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                              <p class="font-14 infoContent">To recognize the efforts by our supplier fraternity and reinforce the culture of meritocracy, We
                                  introduced the "Panchratna Yojna" in Farm Division in 2008. In our endeavor to adapt best practices
                                  across sectors, we introduced the same in Automotive Division from 2011.
                                  "Panchratna Yojna"was rechristened as "Mahindra Supplier Excellence Awards" in
                                  2015. In 2017, it was introduced in Trucks & Bus Division also.</p>
                            </div>
                            <div class="col">
                                <p class="font-14 infoContent">To recognize the efforts by our supplier fraternity and reinforce the culture of meritocracy, We
                                    introduced the "Panchratna Yojna" in Farm Division in 2008. In our endeavor to adapt best practices
                                    across sectors, we introduced the same in Automotive Division from 2011.
                                    "Panchratna Yojna"was rechristened as "Mahindra Supplier Excellence Awards" in
                                    2015. In 2017, it was introduced in Trucks & Bus Division also.</p>
                              </div>
                          </div>
                          <div class="col-md-4 no-padding rightBlock">
                              <div class="awardGalleryBlock height100">
                                  <div class="col padding-10 hdrBlock verticalCenter">
                                    <h3 class="no-margin themePrimaryColor">Award Gallery</h3>
                                  </div>
                                  <div class="col awardImgBlock">
                                  <div class="row height100">
                                    <div class="col-md-6 no-padding height25 imgBlock" gallery="anotherLightbox" 
                                    *ngFor="let item of previewImages;index as i" 
                                    (click)="openImages(item)" [lightbox]="0">
                                      <div class="imgContainer">
                                        <img [src]="item.ImagePath"  class="height100 width100">
                                      </div>
                                      <div class="infoContainer">
                                          <p class="no-margin verticalMiddleCenter font-13">{{item.Event_Year}} {{item.Event_Location}}</p> 
                                          </div>
                                      <div class="opacityContainer"></div>
                                      <div class="redOpacityContainer">
                                        <p class="no-margin verticalMiddleCenter height100">{{item.Event_Year}} {{item.Event_Location}}</p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                </div>
                          </div>
                    </div>
                </mat-tab>
                  <mat-tab label="AWARD CATEGORIES" class="tab-body">
                      <div class="row no-margin height100">
                      <div class="col-md-8 padding leftBlock">
                         <div class="col">
                           <div class="row">
                              <div class="col-md-1 no-padding text-center">
                                  <div><img src="/assets/img/award/medal.svg"></div>
                                </div> 
                                <div class="col-md-11">
                                    <h5 class="fontW-600">FIVE STEEMED AWARDS</h5>
                                    <p class="font-13">Quality, Cost Management, Product Development, Supply Chain management and the most Eminent
                                      being the 'Business Partner Of The Year' Award for overall excellence performance, outstanding contribution
                                      and consistent support.
                                    </p>
                                </div> 
                           </div>
                           <div class="spacer"></div>
                           <div class="row">
                              <div class="col-md-1 no-padding text-center">
                                  <div><img src="/assets/img/award/winner.svg"></div>
                                </div> 
                                <div class="col-md-11">
                                    <h5 class="fontW-600">ANNUAL COMMODITY AWARDS</h5>
                                    <p class="font-13">Suppliers who have outperformed in their respective commodities.</p>
                                </div> 
                           </div>
                           <div class="spacer"></div>
                           <div class="row">
                              <div class="col-md-1 no-padding text-center">
                                  <div><img src="/assets/img/award/badge.svg"></div>
                                </div> 
                                <div class="col-md-11">
                                    <h5 class="fontW-600">SUSTAINABILITY AWARD</h5>
                                    <p class="font-13">Support the Green Initiative by making Sustainability an integral part of our core values and vision.</p>
                                </div> 
                           </div>
                           <div class="spacer"></div>
                           <div class="row">
                              <div class="col-md-1 no-padding text-center">
                                  <div><img src="/assets/img/award/flags.svg"></div>
                                </div> 
                                <div class="col-md-11">
                                    <h5 class="fontW-600">ACCEPTING NO LIMITS</h5>
                                    <p class="font-13">Special appreciation, given to a supplier who has gone out the way in extending.</p>
                                </div> 
                           </div>
                           <div class="spacer"></div>
                           <div class="row">
                              <div class="col-md-1 no-padding text-center">
                                  <div><img src="/assets/img/award/medal (1).svg"></div>
                                </div> 
                                <div class="col-md-11">
                                    <h5 class="fontW-600">INNOVATION AWARD</h5>
                                    <p class="font-13">Add a Wordpress Blog to your website and write</p>
                                </div> 
                           </div>
                           <div class="spacer"></div>
                           <div class="row">
                              <div class="col-md-1 no-padding text-center">
                                  <div><img src="/assets/img/award/medal (2).svg"></div>
                                </div> 
                                <div class="col-md-11">
                                    <h5 class="fontW-600">SPARE PART DIVSION(SPD) AWARDS</h5>
                                    <p class="font-13">Add a Wordpress Blog to your website and write</p>
                                </div> 
                           </div>
                            <div class="spacer"></div>
                           <div class="row">
                              <div class="col-md-1 no-padding text-center">
                                  <div><img src="/assets/img/award/shield.svg"></div>
                                </div> 
                                <div class="col-md-11">
                                    <h5 class="fontW-600">MAHINDRA LEADERSHIP UNIVERSITY-HR EXCELLENECE AWARD</h5>
                                    <p class="font-13">Add a Wordpress Blog to your website and write</p>
                                </div> 
                           </div>
                           
                        </div>
                        </div>
                        <div class="col-md-4 no-padding rightBlock">
                            <div class="awardGalleryBlock height100">
                                <div class="col padding-10 hdrBlock verticalCenter">
                                  <h3 class="no-margin themePrimaryColor">Award Gallery</h3>
                                </div>
                                <div class="col awardImgBlock">
                                  <div class="row height100">
                                    <div class="col-md-6 no-padding height25 imgBlock" *ngFor="let item of previewImages ;index as i" (click)="openImages(item)" [lightbox]="0" gallery="anotherLightbox">
                                      <div class="imgContainer">
                                        <img (click)="openModal()" [src]="item.ImagePath" class="height100 width100">
                                      </div>
                                      <div class="infoContainer">
                                      <p class="no-margin verticalMiddleCenter">{{item.Event_Year}} {{item.Event_Location}}</p> 
                                      </div>
                                      <div class="opacityContainer"></div>
                                      <div class="redOpacityContainer">
                                        <p class="no-margin verticalMiddleCenter height100">{{item.Event_Year}} {{item.Event_Location}}</p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                      </div>
                    </mat-tab>
                  
                </mat-tab-group>
               
              </mat-card>
         </div>
        </div>
        </div>