@import '../../variable.scss';

.ExcellenceAwardPage{

  .leftBlock{
    flex: 0 0 70% !important;
    max-width: 70% !important;
  }
  .rightBlock{
    flex: 0 0 30% !important;
    max-width: 30% !important;
  }

  .infoContent{
    line-height: 2;
    font-style: italic;
    color:$color-foreground-default;
  }
  .awardGalleryBlock{
  
    .hdrBlock{
      height: 8%;
    }
    .awardImgBlock{
      height: 92%;
      .imgContainer{
        border: 1px solid #fff;
        height: 80%;
      }
      .infoContainer{
        height: 20%;
        background: #f9f7f7;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
      }
      .opacityContainer{
        position: absolute;
        height: 100%;
        width: 100%;
        background: #000;
        z-index: 1;
        opacity: 0.5;
        top: 0;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
      }
      .redOpacityContainer{
        position: absolute;
        height: 100%;
        width: 100%;
        background: #D2142B;
        z-index: 1;
        opacity: 0.8;
        top: 0;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        color: #fff;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        display: none;
      }
     .imgBlock:hover .redOpacityContainer{
     display: block !important;
     }
    }
  }
  /deep/{
    .mat-tab-body-wrapper{
      height: 100%;
    }
    .mat-tab-label{
      opacity: 1 !important;
      font-size: 13px !important;
    }
  }
  
 }
 