
<div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
  <mat-card class="no-padding mainOuterCardContainer">
    <div class="col-md-12 padding height100 scroll">
      <div class="row padding-bottom">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                    Vendor Code:
                  </div>
                  <div class="col-md-8 colInput">
                      <mat-form-field appearance="outline" class="borderInput font-13">
                        <!-- (selectionChange)="getUpdateEmpDetails(filterPageNo,$event.value,'',1)" -->
                        <mat-select [(ngModel)]="DDLValue" placeholder="Select" (selectionChange)="getUpdateEmpDetails(1,$event.value,reqRoleId,1)">
                          <mat-option value="" >Select</mat-option>
                          <mat-option [value]="data.VendorCode" *ngFor="let data of Vendor_Code_DDL">{{data.VendorCode}}</mat-option>
                          <!-- <mat-option value="2">M124</mat-option> -->
                        </mat-select>
                          </mat-form-field>
                      </div>
                  </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-3 colInputHeader verticalEndCenter font-13">
              Role:
              </div>
              <div class="col-md-8 colInput">
                  <mat-form-field appearance="outline" class="borderInput font-13">
                    <mat-select [(ngModel)]="reqRoleId" placeholder="Select" (selectionChange)="getUpdateEmpDetails(filterPageNo,DDLValue,$event.value,1)">
                      <mat-option value="" >Select</mat-option>
                      <mat-option [value]="data.RoleId" *ngFor="let data of roleDetails_DDL">{{data.RoleName}}</mat-option>
                    </mat-select>
                      </mat-form-field>
                  </div>
              </div>
        </div>

        <div class="col-md-3">
          <div class="vertcalAligment">
          <div class="row">
            <div class="col-md-4 colInputHeader verticalEndCenter font-13">
              Filter:
              </div>
              <div class="col-md-8 colInput">
                <mat-form-field appearance="outline" class="borderInput font-13">
                    <input placeholder="eg: Username Or Email" (change)="getUpdateEmpDetails(1,$event.value,reqRoleId,1)" matInput [(ngModel)]="filterText">
                  </mat-form-field>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-1">
          <div class="vertcalAligment">
            <button color="theme-gray-button" (click)="resetgetUpdateEmpDetails()"
              class="verticalMiddleCenter">Reset</button>
            </div>
        </div>
        <div class="col-md-2">
            <div class="vertcalAligment">
          <button color="theme-green-button" (click)="exportAsExcelFile(updatedEmployeeTable,'UpdatedEmployeeList')"
            class="verticalMiddleCenter"><mat-icon  class="flex margin-right-10 disInlineBlock exportExcel" svgIcon="excelIcon"></mat-icon>Export To Excel</button>
        </div>
            </div>
          </div>

      <div class="row outerblock">
          <div class="col height100">
            <div class="example-container  tbl_New_Layout height100">
                  <div class="table-container">
                    <table mat-table  #updatedEmployeeTable class="lessons-table" [dataSource]="updatedEmpDetails">
                    
                      <ng-container matColumnDef="EmployeeName">
                        <th mat-header-cell *matHeaderCellDef>Employee Name</th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.FirstName }}&nbsp; {{element.LastName}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                      </ng-container>
                      <ng-container matColumnDef="VendorCode">
                          <th mat-header-cell *matHeaderCellDef>Vendor Code</th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.VendorCode || "N/A" }}
                            </td>
                            <td mat-footer-cell *matFooterCellDef>  </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="Role">  
                          <th mat-header-cell *matHeaderCellDef>Role Name</th>
                          <td mat-cell *matCellDef="let element" text-center>
                            {{ element.RoleName || "N/A" }}
                            </td>
                            <td mat-footer-cell *matFooterCellDef>  </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="UserName">  
                          <th mat-header-cell *matHeaderCellDef>Username</th>
                          <td mat-cell *matCellDef="let element" text-center>
                            {{ element.UserName || "N/A" }}
                            </td>
                            <td mat-footer-cell *matFooterCellDef>  </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="Email">  
                          <th mat-header-cell *matHeaderCellDef>Email</th>
                          <td mat-cell *matCellDef="let element" text-center>
                            {{ element.Email || "N/A" }}
                            </td>
                            <td mat-footer-cell *matFooterCellDef>  </td>
                        </ng-container>
                        <ng-container matColumnDef="primarRole">  
                          <th mat-header-cell *matHeaderCellDef>Primary Role Name</th>
                          <td mat-cell *matCellDef="let element" text-center>
                            {{ element.PrimaryRoleName || "N/A" }}
                            </td>
                            <td mat-footer-cell *matFooterCellDef>  </td>
                        </ng-container>
                        <ng-container matColumnDef="commodity">  
                          <th mat-header-cell *matHeaderCellDef>Commodity</th>
                          <td mat-cell *matCellDef="let element" text-center>
                            {{ element.Commodity || "N/A" }}
                            </td>
                            <td mat-footer-cell *matFooterCellDef>  </td>
                        </ng-container>
                        <ng-container matColumnDef="location">  
                          <th mat-header-cell *matHeaderCellDef>Location</th>
                          <td mat-cell *matCellDef="let element" text-center>
                            {{ element.OfficeLocation || "N/A" }}
                            </td>
                            <td mat-footer-cell *matFooterCellDef>  </td>
                        </ng-container>
                        <ng-container matColumnDef="modifiedBy">  
                          <th mat-header-cell *matHeaderCellDef>ModifiedBy</th>
                          <td mat-cell *matCellDef="let element" text-center>
                            {{ element.ModifiedBy || "N/A" }}
                            </td>
                            <td mat-footer-cell *matFooterCellDef>  </td>
                        </ng-container>
                        <ng-container matColumnDef="modifiedDate">  
                          <th mat-header-cell *matHeaderCellDef>ModifiedDate</th>
                          <td mat-cell *matCellDef="let element" text-center>
                            {{ element.ModifiedDate| date:'dd-MM-yyyy'|| "N/A" }}
                            </td>
                            <td mat-footer-cell *matFooterCellDef>  </td>
                        </ng-container>
                                  
                        <tr mat-header-row  *matHeaderRowDef="displayedColumns3;sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns3"></tr>
                        <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns2"></tr> -->
                      </table>
                      </div>
                      <div *ngIf="updatedEmpDetails">
                        <div *ngIf="updatedEmpDetails.length === 0">No records found</div>
                      </div>
                    
                      <mat-paginator [length]="empDetailsCount" [pageSize]="10" [pageIndex]="pageNo" (page)="getPageChangeData($event,3)">
                      </mat-paginator>
                    
                  </div>
            </div>
      </div>
    </div>
  </mat-card>
</div>