<div class="container-fluid">
  <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
    <mat-card class="no-padding mainOuterCardContainer">

      <div class="col-md-12">
        <div class="row no-margin">
          <div class="col-md-9 margin-bottom verticalCenter no-padding-left">
            <h3 class="no-margin themePrimaryColor">
              Supplier List
            </h3>
          </div>
          <div class="col-md-3 margin-bottom no-padding-right" >
            <div class=" vertcalAligment btnBlocks pull-right">
                <button class="verticalMiddleCenter" color="theme-green-button" (click)="download()">
                   Download</button> 
                  </div>
            </div>
      
        </div>
      </div>

      <div class="table-container">
        <table mat-table #table class="lessons-table width100" [dataSource]="DataSource">
        <ng-container matColumnDef="ModuleName">
          <th mat-header-cell *matHeaderCellDef>VendorCode</th>
          <td mat-cell *matCellDef="let element" >
            {{ element.VendorCode || "N/A" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Stakeholder">
          <th mat-header-cell *matHeaderCellDef>MsetuUserId</th>
          <td mat-cell *matCellDef="let element" >
            {{ element.MsetuUserId || "N/A" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="EmailId">
            <th mat-header-cell *matHeaderCellDef>SupplierName</th>
            <td mat-cell *matCellDef="let element" >
              {{ element.SupplierName || "N/A" }}
              </td>
          </ng-container>
        <ng-container matColumnDef="Mobile">
                <th mat-header-cell *matHeaderCellDef>Designation</th>
                <td mat-cell *matCellDef="let element" >
                  {{ element.Designation || "N/A" }}
                  </td>
            </ng-container>
            <ng-container matColumnDef="fname">
              <th mat-header-cell *matHeaderCellDef>First Name</th>
              <td mat-cell *matCellDef="let element" >
                {{ element.FirstName || "N/A" }}
                </td>
          </ng-container>
          <ng-container matColumnDef="Lname">
            <th mat-header-cell *matHeaderCellDef>Last Name</th>
            <td mat-cell *matCellDef="let element" >
              {{ element.LastName || "N/A" }}
              </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Work Email</th>
          <td mat-cell *matCellDef="let element" >
            {{ element.WorkEmail || "N/A" }}
            </td>
                </ng-container>
                <ng-container matColumnDef="number">
                  <th mat-header-cell *matHeaderCellDef>Contact No.</th>
                  <td mat-cell *matCellDef="let element" >
                    {{ element.ContactNumber || "N/A" }}
                    </td>
              </ng-container>
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Supplier Type</th>
                <td mat-cell *matCellDef="let element" >
                  {{ element.SupplierType || "N/A" }}
                  </td>
            </ng-container>
            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef>Plant code</th>
              <td mat-cell *matCellDef="let element" >
                {{ element.PlantCode || "N/A" }}
                </td>
          </ng-container>
          <ng-container matColumnDef="sector">
            <th mat-header-cell *matHeaderCellDef>Suppliers to sectors</th>
            <td mat-cell *matCellDef="let element" >
              {{ element.SuppliersToSectors || "N/A" }}
              </td>
          </ng-container>
          <ng-container matColumnDef="commidity">
            <th mat-header-cell *matHeaderCellDef>commidity</th>
            <td mat-cell *matCellDef="let element" >
              {{ element.Commodity || "N/A" }}
              </td>
          </ng-container>
          <!-- <ng-container matColumnDef="action" >
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element" >
            <div class="row">
              <div class="actionBtnBlock col-md-2"><mat-icon  class="flex  disInlineBlock" svgIcon="edit" (click)="open(addContent, element)" matTooltip="Edit"></mat-icon></div>
              <div class="actionBtnBlock col-md-2"><mat-icon  class="flex  disInlineBlock" svgIcon="trash" (click)="delete(element)" matTooltip="Delete"></mat-icon></div>
            </div>
              </td>
          </ng-container> -->
          <tr mat-header-row  *matHeaderRowDef="displayedColumns;sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>

    </mat-card>
  </div>
</div>
