<div class="container-fluid  viewQuestionModal no-padding">
    <div class="modal-header">
        <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">View Questions</h3>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="modal-body liquidityContainer no-padding">
          <div class="col-md-12 padding">
               <div class="row">
                        <div class="col-md-12">
                                <div class="col-md-12">
                                        <div class="row draggableHdr">
                                            <div class="col-md-1 custWidthIcon">
                                              <div><p class="font-13 no-margin">No.</p></div>
                                            </div>
                                            <div class="col-md-10">
                                                    <div><p class="font-13 no-margin">Questions</p></div>
                                                </div>
                                                <div class="col-md-1">
                                                        <!-- <div><p class="font-13 no-margin">Action</p></div> -->
                                                    </div>
                                           
                                          </div>
                                    </div>
                                    <div class="grid">
                                            <div class="col-md-12 no-padding">
                                                <div *ngFor="let question of questions, let itt = index" class="row questionList  verticalCenter border-radius-3 margin-vertical-10" >
                                                    <div class="col-md-1 custWidthIcon">
                                                      <div>
                                                      <p class="no-margin">{{ itt + 1 }}.</p>
                                                       </div>
                                                    </div>
                                                    <div class="col-md-10 no-padding">
                                                      <div class="height100 verticalCenter">
                                                          <div class="font-13 padding-horizontal contentBlock"> 
                                                              {{ question.Question }}
                                                          </div>
                                                      </div>
                                                     </div>
                                                     <div class="col-md-1 no-padding custWidthButton">
                                                            <div>
                                                                <!-- <mat-icon svgIcon="edit" class="margin-right-10"></mat-icon>
                                                                <mat-icon svgIcon="delete"></mat-icon> -->
                                                            </div>
                                                        </div>
                                                   </div>
                                             </div>
                                             <mat-paginator  [length]="pageSize"  [pageSize]="10"  [pageIndex]="pageNo"
                                                  (page)="getPageChangeData($event)">
                                               </mat-paginator>
                                            </div>
                                     
                                 
                            </div>
                                    </div>
          </div>
           </div>
      <div class="modal-footer text-center">
        <div class="col">
            <!-- <div class="primaryFormBtn disInlineBlock">
                                    <button class="" color="theme-red-button">Save</button> 
                                  </div> -->
              </div>
      </div>
    </div>
       