<div class="EmployeeApproval padding">
  <div class="text-center default-primary-color">
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <mat-icon>close</mat-icon>
    </button>
    <h3 class="font-20">Employee Details</h3></div>
  <div class="grid">
    <div class="row padding">

        <div class="col-md-6 padding">
          First Name: {{dataSource.FirstName}}
        </div>
        
        <div class="col-md-6 padding">
          Last Name: {{dataSource.LastName}}
        </div>
        
        <div class="col-md-6 padding">
          Supplier Code: {{dataSource.VendorCode}}
        </div>
        
        <div class="col-md-6 padding">
          Role: {{dataSource.RoleName}}
        </div>
        
        <div class="col-md-6 padding">
          Suppliers To Plants: {{dataSource.SuppliersToPlants}}
        </div>
        
        <div class="col-md-6 padding">
          Suppliers To Sectors: {{dataSource.SuppliersToSectors}}
        </div>
        
        <div class="col-md-6 padding">
          Supplier Name: {{dataSource.SupplierName}}
        </div>
        
        <div class="col-md-6 padding">
          Office Location: {{dataSource.OfficeLocation}}
        </div>
        <div class="col-md-6 padding">
          Manager: {{dataSource.Manager}}
        </div>
        <div class="col-md-6 padding">
          Commodity: {{dataSource.Commodity}}
        </div>
        <hr>

        <div class="col-md-6 padding">
          <button color="theme-red-button" (click)="openDialog(dataSource, 'R')"
            class="verticalMiddleCenter">Reject</button>
        </div>
        
        <div class="col-md-6 padding">
          <button color="theme-green-button" (click)="openDialog(dataSource, 'A')"
            class="verticalMiddleCenter">Approve</button>
        </div>



      </div>
    </div>
  </div>