<div class="container-fluid debitNoteDashboard padding">
    <div class="grid">
      <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
            <div class="row width100 verticalCenter">
            <div class="col-md-6">
            <h4 class="no-margin">Debit Note Dashboard <span *ngIf="RoleID == '7'"> (Admin)</span></h4>
            </div>
            <div class="col-md-6 no-padding">
            <p class="no-margin font-13 width100 flex verticalEndCenter">
              <span class="pointer" routerLink="/adminDashboard" routerDirection="backward">Home</span><mat-icon>chevron_right</mat-icon>
            <span class="secondaryMenu">Debit Note Dashboard  <span *ngIf="RoleID == '7'"> (Admin)</span> </span> 
            </p>
            </div>
            </div>
            </div>

        <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
            <mat-card class="no-padding mainOuterCardContainer">
              <form [formGroup]="filterForm">
                <div class="col-md-12 padding">
                  <div class="row no-margin">
                    <div class="col-md-4">
                      <div class="row">
                        <div
                          class="col-md-5 colInputHeader verticalEndCenter font-13"
                        >
                          Debit Note Number:
                        </div>
                        <div class="col-md-7 colInput">
                          <mat-form-field
                            appearance="outline"
                            class="borderInput font-13"
                          >
                            <input matInput formControlName="debitNoteNumber" />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div
                          class="col-md-5 colInputHeader verticalEndCenter font-13"
                        >
                          SAP Debit Note No.:
                        </div>
                        <div class="col-md-7 colInput">
                          <mat-form-field
                            appearance="outline"
                            class="borderInput font-13"
                          >
                            <input formControlName="sapDebitNoteNo" matInput />
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div
                          class="col-md-5 colInputHeader verticalEndCenter font-13"
                        >
                          Status:
                        </div>
                        <div class="col-md-7 colInput">
                          <mat-form-field
                            appearance="outline"
                            class="borderInput font-13"
                          >
                            <mat-select formControlName="status">
                              <mat-option
                                [value]="status.statusName"
                                *ngFor="let status of masterOptions._GetStatusMaster"
                                >{{ status.statusName }}</mat-option
                              >
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="row">
                        <div
                          class="col-md-5 colInputHeader verticalEndCenter font-13"
                        >
                          Supplier Name:
                        </div>
                        <div class="col-md-7 colInput">
                          <mat-form-field
                            appearance="outline"
                            class="borderInput font-13"
                          >
                            <mat-select formControlName="supplierCode">
                              <mat-option
                                [value]="supplier.VendorCode"
                                *ngFor="let supplier of masterOptions._GetSupplierMaster"
                                >{{ supplier.VendorCodeName }}</mat-option
                              >
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div
                          class="col-md-5 colInputHeader verticalEndCenter font-13"
                        >
                          From Date:
                        </div>
                        <div class="col-md-7 colInput">
                          <mat-form-field
                            appearance="outline"
                            class="borderInput font-13"
                          >
                            <input
                              formControlName="fromDate"
                              matInput
                              [matDatepicker]="picker2"
                              readonly
                            />
                            <mat-datepicker-toggle matSuffix [for]="picker2">
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-7" *ngIf="RoleID == '7'">
                          <button color="theme-gray-button" (click)="manageApproverGroup(ApproverGroup)">
                            Manage Approver Group
                          </button>
                        </div>
                        <div class="col-md-5">
                          <button color="theme-gray-button" (click)="resetFilter()">
                            Reset
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="row">
                        <div
                          class="col-md-5 colInputHeader verticalEndCenter font-13"
                        >
                          Commodity:
                        </div>
                        <div class="col-md-7 colInput">
                          <mat-form-field
                            appearance="outline"
                            class="borderInput font-13"
                          >
                            <mat-select formControlName="commodity">
                              <mat-option
                                [value]="commodity.commodity"
                                *ngFor="let commodity of masterOptions._GetCommodityMaster"
                                >{{ commodity.commodity }}</mat-option
                              >
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div
                          class="col-md-5 colInputHeader verticalEndCenter font-13"
                        >
                          To Date:
                        </div>
                        <div class="col-md-7 colInput">
                          <mat-form-field
                            appearance="outline"
                            class="borderInput font-13"
                          >
                            <input
                              formControlName="toDate"
                              matInput
                              [min]="filterForm.controls.fromDate.value"
                              [matDatepicker]="picker1"
                              readonly
                            />
                            <mat-datepicker-toggle matSuffix [for]="picker1">
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-5 colInputHeader no-padding-right">  
                          <div class="width100">
                            <button type="submit" (click)="search()" color="theme-red-button">
                              Search
                            </button>
                          </div>
                        </div>
                        <div class="col-md-7">
                          <div class="width100">
                            <button color="theme-green-button" (click)="export(table, 'Debit_Note')">
                              <mat-icon
                                class="flex margin-right-10 disInlineBlock excelCustIcon"
                                svgIcon="excelIcon"
                              ></mat-icon
                              >Export To Excel
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
                <div class="col-md-12 tblblock">
                    <div class="example-container tbl_New_Layout height100">
                        <div class="table-container" *ngIf="debiteNoteDataSource">
                    <table #table mat-table  class="lessons-table" [dataSource]="debiteNoteDataSource">
                     <ng-container matColumnDef="debitNoteNo">
                          <th mat-header-cell *matHeaderCellDef class="text-center tblColFlex9">Debit Note Number</th>
                          <td mat-cell *matCellDef="let element" class="tblLinkBtn text-center">
                            <div (click)="trackDebitNote(trackDebitNoteElement, element)">{{ element.debitNoteNo || "N/A" }}</div>
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="supplierName">
                            <th mat-header-cell *matHeaderCellDef class="tblColFlex10">Supplier Name</th>
                            <td mat-cell *matCellDef="let element" >
                              {{ element.supplierName || "N/A" }}
                              </td>
                          </ng-container>
                          <ng-container matColumnDef="Commodity">
                            <th mat-header-cell *matHeaderCellDef class="tblColFlex8">Commodity</th>
                            <td mat-cell *matCellDef="let element" text-center>
                              {{ element.Commodity || "N/A" }}
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="Attachment">
                              <th mat-header-cell *matHeaderCellDef class="tblColFlex8">Attachment</th>
                              <td mat-cell *matCellDef="let element" text-center class="pointerCursor" (click)="openFile(element.path)">
                                {{ element.Attachment || "N/A" }}
                                </td>
                              </ng-container>
                            <ng-container matColumnDef="createdOn">
                                <th mat-header-cell *matHeaderCellDef>Created On</th>
                                <td mat-cell *matCellDef="let element" text-center>
                                  {{ element.createdOn || "N/A" }}
                                  </td>
                                </ng-container>
                                <ng-container matColumnDef="createdBy">
                                    <th mat-header-cell *matHeaderCellDef class="tblColFlex10">Created By</th>
                                    <td mat-cell *matCellDef="let element" text-center>
                                      {{ element.createdBy || "N/A" }}
                                      </td>
                                    </ng-container>
                                <ng-container matColumnDef="Amount">
                                  <th mat-header-cell *matHeaderCellDef class="tblColFlex5">Amount</th>
                                  <td mat-cell *matCellDef="let element" text-center>
                                    {{ element.Amount || "N/A" }}
                                    </td>
                                  </ng-container>
                                  <ng-container matColumnDef="Comments">
                                      <th mat-header-cell *matHeaderCellDef class="tblColFlex30">Comments</th>
                                      <td mat-cell *matCellDef="let element" text-center>
                                        {{ element.Comments || "N/A" }}
                                        </td>
                                      </ng-container>
                                      <ng-container matColumnDef="Status">
                                          <th mat-header-cell *matHeaderCellDef class="tblColFlex5">Status</th>
                                          <td mat-cell *matCellDef="let element" text-center>
                                            {{ element.Status || "N/A" }}
                                            </td>
                                      </ng-container>
                                      <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef class="text-center" class="tblColFlex5">Action</th>
                                        <td mat-cell *matCellDef="let element" class="text-center">
                                            <mat-icon class="icon" svgIcon="viewIcon" matTooltip="View History" (click)="openSupplierModal(addSupplierTier, element )"></mat-icon>
                                            <mat-icon class="icon" *ngIf="element.isActive == true && RoleID == '7'" matTooltip="Delete" (click)="deleteDebitNote(element)" svgIcon="trash"></mat-icon>
                                            <mat-icon class="icon" *ngIf="element.isActive == true && element.WorkflowStatus != 'approved' && RoleID == '7'" matTooltip="Edit" (click)="editDebitNote(element)" svgIcon="edit"></mat-icon>
                                        </td>
                                      </ng-container>
                        <tr mat-header-row  *matHeaderRowDef="debitNotedisplayedColumns;sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: debitNotedisplayedColumns"></tr>
                      </table>
                      </div>
                      <mat-paginator  [length]="pageSize"  [pageSize]="10"
                      (page)="search($event.pageIndex)">
                    </mat-paginator>
                  </div>
                </div>
            </mat-card>
        </div>
  </div>
</div>


  <!---Modal Structure start-->
 
   <ng-template #addSupplierTier let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">Debit Note History</h3>
          <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="modal-body historyContainer">
          <div class="col-md-12 height100 no-padding">
              <div class="example-container tbl_New_Layout height100">
                  <div class="table-container" *ngIf="debiteNoteHistoryDataSource">
                <table mat-table  class="lessons-table" [dataSource]="debiteNoteHistoryDataSource">
               <ng-container matColumnDef="ID">
                    <th mat-header-cell *matHeaderCellDef class="text-center">ID</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                      {{ element.ID || "N/A" }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="UpdatedBy">
                      <th mat-header-cell *matHeaderCellDef class="">Updated By</th>
                      <td mat-cell *matCellDef="let element" >
                        {{ element.UpdatedBy || "N/A" }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Amount">
                      <th mat-header-cell *matHeaderCellDef class="tblColFlex8">Amount</th>
                      <td mat-cell *matCellDef="let element" text-center>
                        {{ element.Amount || "N/A" }}
                        </td>
                      </ng-container>
                    <ng-container matColumnDef="UserName">
                      <th mat-header-cell *matHeaderCellDef class="tblColFlex5">User Name</th>
                      <td mat-cell *matCellDef="let element" text-center>
                        {{ element.UserName || "N/A" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="createdOn">
                          <th mat-header-cell *matHeaderCellDef>Created On</th>
                          <td mat-cell *matCellDef="let element" text-center>
                            {{ element.createdOn || "N/A" }}
                            </td>
                          </ng-container>
                          <ng-container matColumnDef="Status">
                              <th mat-header-cell *matHeaderCellDef class="tblColFlex10">Status</th>
                              <td mat-cell *matCellDef="let element" text-center>
                                {{ element.Status || "N/A" }}
                                </td>
                              </ng-container>
                          <ng-container matColumnDef="Remarks">
                            <th mat-header-cell *matHeaderCellDef class="tblColFlex5">Remarks</th>
                            <td mat-cell *matCellDef="let element" text-center>
                              {{ element.Remarks || "N/A" }}
                              </td>
                            </ng-container>
                      <tr mat-header-row  *matHeaderRowDef="debitNoteHistorydisplayedColumns;sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: debitNoteHistorydisplayedColumns"></tr>
                </table>
                </div>
                <mat-paginator  [length]="pageSize2"  [pageSize]="10"  [pageIndex]="pageNo"
                (page)="pageEvent = getHistory($event.index)">
              </mat-paginator>
            </div>
          </div>
        </div>
       </ng-template>

  <!---Modal Structure start-->
 
   <ng-template #trackDebitNoteElement let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">Debit Note Track</h3>
          <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="modal-body historyContainer">
          <div class="col-md-12 height100 no-padding" style="text-align: center;">
            <table class="width100">
              <thead>
                <tr>
                  <th >
                      Group
                    </th>
                  <th >
                      Approver
                    </th>
                  <th >
                      Status
                    </th>
                  <th >
                      Updated Date
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <!-- QA DH -->
                  <tr *ngIf="tracker.QADHApproverName">
                    <td >
                      QADH
                      </td>
                    <td >
                      {{tracker.QADHApproverName}}
                      </td>
                    <td >
                      {{tracker.DHQAApprovalStatus || 'Pending'}}
                      </td>
                    <td >
                      {{tracker.QADHApproverDate | date:'dd/MM/yyyy' || ''}}
                      </td>
                    </tr>
                    
                    <!-- CDMM GM -->
                  <tr *ngIf="tracker.CDMMGMApproverName">
                    <td >
                      CDMM GM
                      </td>
                    <td >
                      {{tracker.CDMMGMApproverName}}
                    </td>
                    <td >
                      {{tracker.GM_CDMMApprovalStatus || 'Pending'}}
                    </td>
                    <td >
                      {{tracker.CDMMGMApproverDate | date:'dd/MM/yyyy' || ''}}
                    </td>
                  </tr>
                    
                    <!-- VPSCPC -->
                  <tr *ngIf="tracker.VPSCPCApproverName">
                    <td >
                      VPSCPC
                      </td>
                    <td >
                      {{tracker.VPSCPCApproverName}}
                    </td>
                    <td >
                      {{tracker.VP_SCPCApprovalStatus || 'Pending'}}
                    </td>
                    <td >
                      {{tracker.VPSCPCApprovalDate | date:'dd/MM/yyyy' || ''}}
                    </td>
                  </tr>
                    
                    <!-- VPQA -->
                  <tr *ngIf="tracker.VPQAApproverName">
                    <td >
                      VPQA
                      </td>
                    <td >
                      {{tracker.VPQAApproverName}}
                    </td>
                    <td >
                      {{tracker.VP_QAApprovalStatus || 'Pending'}}
                    </td>
                    <td >
                      {{tracker.VPQAApprovalDate | date:'dd/MM/yyyy' || ''}}
                    </td>
                  </tr>
                    
                    <!-- VPCDMM -->
                  <tr *ngIf="tracker.VPCDMMApproverName">
                    <td >
                      VPCDMM
                      </td>
                    <td >
                      {{tracker.VPCDMMApproverName}}
                    </td>
                    <td >
                      {{tracker.VP_CDMMApprovalStatus || 'Pending'}}
                    </td>
                    <td >
                      {{tracker.VPCDMMApprovalDate | date:'dd/MM/yyyy' || ''}}
                    </td>
                  </tr>
                    
                    <!-- Accounts -->
                  <tr *ngIf="tracker.AccountsApproverName">
                    <td >
                      Accounts
                      </td>
                    <td >
                      {{tracker.AccountsApproverName}}
                    </td>
                    <td >
                      {{tracker.AccountsApprovalStatus || 'Pending'}}
                    </td>
                    <td >
                      {{tracker.AccountsApprovalDate | date:'dd/MM/yyyy' || ''}}
                    </td>
                  </tr>
                  
                </tbody>

              </table>
          </div>
        </div>
       </ng-template>
       
       
       
       <!---Modal Structure start-->
       
       <ng-template #ApproverGroup let-c="close" let-d="dismiss">
         <div class="modal-header">
           <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">Manage Approver Group</h3>
           <button type="button" class="close" aria-label="Close" (click)="closeModal()">
             <mat-icon>close</mat-icon>
            </button>
          </div>
          <div class="modal-body modal-height">
            <div class="row">
                <div class="col-md-3 offset-1">
                    <mat-form-field appearance="outline" class="borderInput font-13">
                      <mat-select placeholder="Select A Group" [(ngModel)]="ApproverGroupDDL" (selectionChange)="selectApproverGroup()">
                          <mat-option *ngFor="let group of approverGroups" [value]="group.GroupID">{{group.GroupName}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                <div class="col-md-6">
                    <div *ngFor="let approver of approvers; let i = index">
                      <div class='row'>
                        <div class="col-md-6">
                          <mat-form-field appearance="outline" class="borderInput font-13" *ngIf="i != approvers.length-1 && approver.UserName">
                            <!-- <mat-select  >
                                <mat-option *ngFor="let user of AllApprovers.listInternalUser" [value]="user.UserName">{{user.UserName}}</mat-option>
                              </mat-select> -->
                              <input matInput readonly [formControl]="approver.cname">
                            </mat-form-field>
                          <mat-form-field *ngIf="i == approvers.length-1" appearance="outline" class="borderInput font-13">
                            <mat-select [formControl]="approver.cname">
                                <mat-option *ngFor="let user of AllApprovers.listInternalUser" [value]="user.UserName">{{user.Name}} - ({{user.UserName}})</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        <div class="col-md-3">
                            <!-- <button *ngIf="i != approvers.length-1" color="theme-red-button" (click)="updateApprover(approver)">Update</button> -->
                            <button *ngIf="i != approvers.length-1" color="theme-gray-button" (click)="deleteApprover(approver, i)">Delete</button>
                            <button *ngIf="i == approvers.length-1" color="theme-green-button" (click)="addApprover(approver)">Add New</button>
                          </div>
                        <div class="col-md-3" *ngIf="i != approvers.length-1">
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            </div>
        </ng-template>
            <!---Modal Structure stop-->