<div class="container-fluid scheduleAssessment padding">
  <div class="grid">
    <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
          <div class="row width100 verticalCenter">
          <div class="col-md-6">
          <h4 class="no-margin">Schedule Assessment</h4>
          </div>
          <div class="col-md-6 no-padding">
          <p class="no-margin font-13 width100 flex verticalEndCenter">
            <span class="pointer" routerLink="/adminDashboard" routerDirection="backward">Home</span><mat-icon>chevron_right</mat-icon>
          <span class="secondaryMenu">Schedule Assessment</span> 
          </p>
          </div>
          </div>
          </div>

      <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
          <mat-card class="no-padding mainOuterCardContainer">
              <div class="col-md-12 padding" *ngIf="filterForm">
                <form [formGroup]="filterForm">
                    <div class="row no-margin">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-5 colInputHeader verticalEndCenter font-13">Supplier Code:</div>
                            <div class="col-md-7 colInput">
                                <mat-form-field appearance="outline" class="borderInput font-13">
                                    <input matInput formControlName="supplierCode">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 colInputHeader verticalEndCenter font-13">Commodity:</div>
                            <div class="col-md-7 colInput">
                                <mat-form-field appearance="outline" class="borderInput font-13">
                                    <mat-select formControlName="commodity">
                                        <mat-option *ngFor="let commodity of commodities" [value]="commodity.Commodity_ID">{{ commodity.Commodity }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-5 colInputHeader verticalEndCenter font-13">Supplier Name:</div>
                            <div class="col-md-7 colInput">
                                <mat-form-field appearance="outline" class="borderInput font-13">
                                    <input appInputListener (keypress)="lettersOnly($event)" matInput formControlName="supplierName">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <section class="example-section margin-vertical-10">
                                    <mat-radio-group aria-label="Select an option" formControlName="status">
                                        <mat-radio-button value="UnPlanned">UnPlanned</mat-radio-button>
                                        <mat-radio-button value="Planned">Planned</mat-radio-button> 
                                        <mat-radio-button value="With Assessor">With Assessor</mat-radio-button> 
                                        <mat-radio-button value="Done">Done</mat-radio-button> 
                                    </mat-radio-group>
                                </section>
                            </div>
                            </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-5 colInputHeader verticalEndCenter font-13">Supplier Location:</div>
                            <div class="col-md-7 colInput">
                                <mat-form-field appearance="outline" class="borderInput font-13">
                                    <mat-select formControlName="location">
                                        <mat-option *ngFor="let location of supplierLocation" [value]="location.SupplierLocation">{{ location.SupplierLocation }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 colInputHeader verticalEndCenter font-13"></div>
                            <div class="col-md-7 colInput  btnConatiner margin-vertical-10">
                                <div >
                                    <button class="" (click)="search(1)" color="theme-red-button">search</button>
                                </div> 
                            </div>
                            </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row verticalMiddleCenter" style="margin:0.25em 0 0;">
                            <!-- <div class="col-md-1 colInputHeader verticalEndCenter font-13"></div> -->
                            <!-- <div class="colInput  btnConatiner margin-vertical-10"> -->
                                <div style="width: 73%;">
                                    <button class="" (click)="open(content)" color="theme-red-button">Mass schedule assessment</button>
                                </div> 
                            <!-- </div> -->
                            <!-- <div class="col-md-2 colInputHeader verticalEndCenter font-13"></div> -->
                            <!-- <div class="col-md-12 colInput btnConatiner margin-vertical-10">
                                <div class=" singleBtnBlock">
                                    <button class="" (click)="search(1)" color="theme-red-button">mass upload</button>
                                </div> 
                            </div> -->
                        </div>
                        <div class="row verticalMiddleCenter">
                                <!-- <div class="col-md-1 colInputHeader verticalEndCenter font-13"></div> -->
                                <!-- <div class="col-md-9 colInput  btnConatiner margin-vertical-10"> -->
                                    <div style="width: 65%; margin-top: 15px;">
                                        <button (click)="exportAsExcelFile(table, 'schedule')" class="verticalMiddleCenter" color="theme-green-button">
                                            <mat-icon  class="flex margin-right-10  excelCustIcon" svgIcon="excelIcon"></mat-icon>
                                            Export To Excel
                                            </button> 
                                        </div> 
                                <!-- </div> -->
                                <!-- <div class="col-md-2 colInputHeader verticalEndCenter font-13"></div> -->
                                    <!-- <div class="disInlineBlock  firstBtnBlock">
                                        <button class="" (click)="search(1)" color="theme-red-button">search</button>
                                    </div>  -->
                                    <!-- <div class=" singleBtnBlock">
                                        <button (click)="exportAsExcelFile(table, 'schedule')" class="verticalMiddleCenter" color="theme-green-button">
                                            <mat-icon  class="flex margin-right-10 disInlineBlock excelCustIcon" svgIcon="excelIcon"></mat-icon>
                                            Export To Excel
                                            </button> 
                                    </div>  -->
                
                            </div>
                    </div>
                    </div>
                </form>
               <div class="row no-margin tblConatiner">
                        <div class="example-container tbl_New_Layout">
                          <div class="table-container">
                            <table mat-table #table class="lessons-table" [dataSource]="DataSource">
                                <ng-container matColumnDef="selectCheck">
                                    <th mat-header-cell *matHeaderCellDef class="text-center tblColFlex5">
                                        <mat-checkbox [(formControl)]="selectAll"></mat-checkbox>
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-center" >
                                        <mat-checkbox [formControl]='element.selectCheck'></mat-checkbox>
                                    </td>
                                  </ng-container>
                             <ng-container matColumnDef="supplierCode">
                              <th mat-header-cell *matHeaderCellDef class="tblColFlex6">Supplier Code</th>
                              <td mat-cell *matCellDef="let element" >
                                {{ element.supplierCode || "N/A" }}
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="supplierName">
                                <th mat-header-cell *matHeaderCellDef class="tblColFlex17">Supplier Name</th>
                                <td mat-cell *matCellDef="let element" >
                                  {{ element.supplierName || "N/A" }}
                                  </td>
                              </ng-container>
                             <ng-container matColumnDef="mailTo">
                                    <th mat-header-cell *matHeaderCellDef class="tblColFlex10">Mail To</th>
                                    <td mat-cell *matCellDef="let element" >
                                      {{ element.mailTo || "N/A" }}
                                      </td>
                                  </ng-container>
  
                                  <ng-container matColumnDef="assessmentOn">
                                      <th mat-header-cell *matHeaderCellDef class="tblColFlex10">Assessment On <span style="color: red; font-weight: bolder;">*</span></th>
                                      <td mat-cell *matCellDef="let element" >
                                          <mat-form-field appearance="outline" class="borderInput font-13">
                                              <input [formControl]="element.assessmentOn" matInput [min]="today" [matDatepicker]="picker1"  readonly>
                                              <mat-datepicker-toggle matSuffix [for]="picker1" > </mat-datepicker-toggle>
                                              <mat-datepicker #picker1></mat-datepicker>
                                          </mat-form-field>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Assessor">
                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex10">Assessor <span style="color: red; font-weight: bolder;">*</span></th>
                                        <td mat-cell *matCellDef="let element" >
                                            <mat-form-field appearance="outline" class="borderInput font-13">
                                                <input type="text" matInput [formControl]="element.Assessor">
                                         </mat-form-field>
                                          </td>
                                      </ng-container>
                                      <ng-container matColumnDef="Category">
                                          <th mat-header-cell *matHeaderCellDef class="tblColFlex18">Category</th>
                                          <td mat-cell *matCellDef="let element" >
                                              <section class="example-section">
                                                  <mat-checkbox class="example-margin margin-right-10" [formControl]="element.Category_funding">Funding</mat-checkbox>
                                                  <mat-checkbox class="example-margin margin-right-10" [formControl]="element.Category_liquidity">Liquidity</mat-checkbox>
                                                  <mat-checkbox class="example-margin margin-right-10" [formControl]="element.Category_profitablity">Profitability</mat-checkbox>
                                                </section>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="newAssessments">
                                            <th mat-header-cell *matHeaderCellDef class="tblColFlex10">  New Assessments</th>
                                            <td mat-cell *matCellDef="let element" class="text-center">
                                                <mat-checkbox [formControl]="element.newAssessments"></mat-checkbox>
                                              </td>
                                          </ng-container>
                                          <ng-container matColumnDef="Reassessments">
                                              <th mat-header-cell *matHeaderCellDef class="tblColFlex10"> Reassessments</th>
                                              <td mat-cell *matCellDef="let element" class="text-center">
                                                  <mat-checkbox [formControl]="element.Reassessments"></mat-checkbox>
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="onlineSelfAssessment">
                                                <th mat-header-cell *matHeaderCellDef class="tblColFlex10">  Online Self Assessment</th>
                                                <td mat-cell *matCellDef="let element" class="text-center">
                                                    <mat-checkbox [formControl]="element.onlineSelfAssessment"></mat-checkbox>
                                                  </td>
                                              </ng-container>
                                            <ng-container matColumnDef="action">
                                                <th mat-header-cell *matHeaderCellDef class="tblColFlex10"> Action</th>
                                                <td mat-cell *matCellDef="let element" class="text-center">
                                                    <button (click)="update(element)" color="theme-red-button"> Update</button>
                                                  </td>
                                              </ng-container>
                                      <tr mat-header-row  *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                                      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                           </table>
                           <mat-paginator
                                [length]="pageSize"
                                [pageSize]="30"
                                (page)="search($event.pageIndex + 1)"
                            >
                            </mat-paginator>
                      </div>
                    </div>
                      </div>
                      <div class="row" *ngIf="DataSource.length > 0">
                          <div class="col-md-12">
                            <button (click)="submit()" color="theme-red-button"> Submit
                                </button>
                            </div>
                        </div>
                </div>
             
            </mat-card>
      </div>

  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">{{banner_name}}</h3>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <mat-icon #closeModalonclick>close</mat-icon>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="Role_Master_Form" #form="ngForm">
            <div class="row no-margin">

                <div class="spacer col-md-12"></div>
                    <div class="col-md-8 offset-md-2 uploadBlock">
                        <div class="col-md-10 offset-md-1">
                            <div class="row ">
                                <div class="col-md-2 colInputHeader verticalEndCenter font-14 no-padding">
                                    Bulk Upload:
                                </div>
            
                                <div class="col-md-4 colInput no-padding-right">
                                    <mat-form-field appearance="outline" class="borderInput font-13 ">
                                        <input matInput placeholder="" formControlName="Bulk_Upload">
                                    </mat-form-field>
                                  </div>
            
                                <div class="col-md-3 verticalCenter no-padding-left no-padding-right">
                                    <label matTooltip="File format should be .xlsx" matTooltipPosition="above" for="file-input" class="no-margin text-center vertcalAligment"
                                    color="theme-gray-button">
                                    Upload File
                                    <input id="file-input" type="file" #fileInput (click)="fileInput.value = null" 
                                    (change)="detectFiles($event,form)"
                                    accept=".xlsx" style="display: none;" />
                                </label>
                                  </div>
                                      <div class="col-md-3 no-padding-right">
                                        <div class="vertcalAligment">
                                          <button (click)="DownloadSampleTemplate('Mass Schedule Template')" color="theme-green-button" class="verticalMiddleCenter">
                                            <mat-icon  class="flex margin-right-10 disInlineBlock" svgIcon="excelIcon"></mat-icon>
                                            Download</button>
                                         </div>
                                      </div>
                                </div>
                        </div>
                       
                      </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <div class="col text-center">
            <div class="primaryFormBtn disInlineBlock margin-right-10">
                <button (click)="InsertRoleData(form)" color="theme-red-button">Save & Add More</button>
            </div>
            <div class="primaryFormBtn disInlineBlock ">
                <button class="" (click)="InsertRoleData(form,closeModalonclick)" color="theme-red-button">Save & Close</button>
            </div>
        </div>
    </div>
</ng-template>