.scheduleAssessment{
  .mat-radio-button{
    padding: 0 8px;
  }
    .mat-card{
          overflow-y: scroll;
      }
    .borderInput{
        ::ng-deep .mat-form-field-infix{border-top: 0px !important;}
        ::ng-deep .mat-form-field-wrapper{padding-bottom: 0px;}
        }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: rgba(0,0,0,.12); }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{border-width: 1px !important;}
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{border-width: 1px !important;}
        /deep/.mat-select-arrow-wrapper{
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .btnConatiner{
          .firstBtnBlock{
            margin-right: 4%;
         
          }
          .singleBtnBlock{
            width: 60%;
          }
         .firstBtnBlock,.secondBsecondtnBlock{
            width: 48%;
          }
        }
        .tblConatiner{
          height: calc(100% - 98px);
          .example-container.tbl_New_Layout .table-container{
            height: 89%;
          }
        }

  .example-container{
    max-height: 400px;
  }
}