<div class="container-fluid JITSupplierDetailPage padding">
  <div class="grid">
      <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
          <div class="row width100 verticalCenter">
          <div class="col-md-6">
          <h4 class="no-margin">Supplier Details</h4>
          </div>
          <div class="col-md-6 no-padding">
          <p class="no-margin font-13 width100 flex verticalEndCenter">
            <span class="pointer" [routerLink]="roleId == '7' ? '/adminDashboard' : '/dashboard'" routerDirection="backward">Home</span><mat-icon>chevron_right</mat-icon>
            <span class="secondaryMenu">JIT</span><mat-icon>chevron_right</mat-icon>
          <span class="secondaryMenu">Supplier Details</span>
          </p>
          </div>
          </div>
          </div>
      <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
          <mat-card  class="no-padding mainOuterCardContainer filterViewCard">
            <mat-card-content>
              <div class="col-md-12 padding">
                <div class="row no-margin">
                  <div class="col-md-9 margin-bottom verticalCenter no-padding-left">
                    <h3 class="no-margin themePrimaryColor">
                      Supplier Details
                    </h3>
                  </div>
                  <div class="col-md-3 margin-bottom no-padding-right">
                    <div class=" vertcalAligment btnBlocks pull-right">
                        <button class="verticalMiddleCenter" color="theme-green-button" (click)="open(addContent)">
                            <mat-icon  class="flex margin-right-10  addCustIcon" svgIcon="addIcon"></mat-icon> Add</button> 
                          </div>
                          <div class="width100 vertcalAligment btnBlocks">
                            <button class="verticalMiddleCenter" color="theme-green-button" (click)="exportExcel()">
                                    <mat-icon  class="flex margin-right-10 disInlineBlock excelCustIcon" svgIcon="excelIcon"></mat-icon>Export To Excel</button> 
                              </div>
                     </div>
               
                 </div>
                 <div class="row no-margin filterSection">
                  <div class="col-md-1 margin-bottom verticalCenter no-padding-left">
                    <p class="no-margin">
                      Filter
                    </p>
                  </div>
                      <div class="col-md-4 margin-bottom custWidth no-padding-left">
                          <div class="row">
                              <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                  Plant Code:
                              </div>
                              <div class="col-md-8 colInput">
                                  <mat-form-field appearance="outline" class="borderInput font-13">
                                      <input matInput [formControl]="plantCode" placeholder="Plant Code">
                                    </mat-form-field> 
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 margin-bottom custWidth no-padding-left">
                          <div class="row">
                              <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                  Supplier Code:
                              </div>
                              <div class="col-md-8 colInput">
                                  <mat-form-field appearance="outline" class="borderInput font-13">
                                      <input matInput [formControl]="supplierCode" placeholder="Supplier Code">
                                    </mat-form-field> 
                              </div>
                          </div>
                     </div>
                    <div class="col-md-3 margin-bottom no-padding-right no-padding-left">
                        <div class="vertcalAligment btnBlocks m-r-5">
                          <button  color="theme-red-button" (click)="getTableValues(0)">Submit</button> 
                        </div>
                        <div class="vertcalAligment btnBlocks">
                          <button class="verticalMiddleCenter" (click)="reset()" color="theme-gray-button">Reset
                            <!-- <button class="verticalMiddleCenter" color="theme-green-button" (click)="exportAsExcelFile(JitTable,'Supplier_Details')">
                                <mat-icon  class="flex margin-right-10 disInlineBlock excelCustIcon" svgIcon="excelIcon"></mat-icon>Export -->
                              </button> 
                        </div>
                      </div>
                    </div>
                    <div class="row no-margin">
                      <div class="example-container tbl_New_Layout">
                        <div *ngIf="DataSource.length == 0" class="no-data">
                          No Data Present Yet
                        </div>
                        <div class="table-container">
                          <table mat-table #JitTable class="lessons-table" [dataSource]="DataSource">
                           <ng-container *ngIf="DataSource.length != 0" matColumnDef="plantcode">
                            <th mat-header-cell *matHeaderCellDef>Plant Code</th>
                            <td mat-cell *matCellDef="let element" >
                              {{ element.plantcode || "N/A" }}
                            </td>
                          </ng-container>
                          <ng-container *ngIf="DataSource.length != 0" matColumnDef="supplierCode">
                              <th mat-header-cell *matHeaderCellDef>Supplier Code</th>
                              <td mat-cell *matCellDef="let element" >
                                {{ element.supplierCode || "N/A" }}
                                </td>
                            </ng-container>
                           <ng-container *ngIf="DataSource.length != 0" matColumnDef="supplierEmail">
                                  <th mat-header-cell *matHeaderCellDef>Supplier Email</th>
                                  <td mat-cell *matCellDef="let element" >
                                    {{ element.supplierEmail || "N/A" }}
                                    </td>
                                </ng-container>

                                <ng-container *ngIf="DataSource.length != 0" matColumnDef="recipient">
                                    <th mat-header-cell *matHeaderCellDef>Recipient</th>
                                    <td mat-cell *matCellDef="let element" >
                                      {{ element.recipient || "N/A" }}
                                      </td>
                                  </ng-container>
                                  <ng-container *ngIf="DataSource.length != 0" matColumnDef="isActive">
                                    <th mat-header-cell *matHeaderCellDef>Is Active</th>
                                    <td mat-cell *matCellDef="let element" >
                                      {{ element.isActive || "N/A" }}
                                      </td>
                                  </ng-container>
                                  <ng-container *ngIf="DataSource.length != 0" matColumnDef="action">
                                      <th mat-header-cell *matHeaderCellDef>Action</th>
                                      <td mat-cell *matCellDef="let element" >
                                      <div>
                                        <div class="actionBtnBlock"><mat-icon  class="flex  disInlineBlock" svgIcon="edit" matTooltip="Edit" (click)="open(addContent, element)"></mat-icon></div>
                                        <div class="actionBtnBlock"><mat-icon  class="flex  disInlineBlock" svgIcon="trash" matTooltip="Delete" (click)="delete(element)"></mat-icon></div>
                                      </div>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row  *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                         </table>
                    </div>

                    <div class="d-flex">
                      <mat-paginator *ngIf="DataSource.length != 0" 
                          [length]="pageSize"  [pageSize]="10"  [pageIndex]="pageNo"
                          (page)="pageEvent = getPageChangeData($event,1)">
                        </mat-paginator>
                        <div class="go-to-container" style="width:90px;margin-bottom:30px">
                            <div class="go-to-label">Go To: </div>
                            <mat-form-field>
                              <mat-select [formControl]="goToControl" (selectionChange)="goToChange($event.value)">
                                <mat-option *ngFor="let pageNumber of pageNumbers" [value]="pageNumber">{{pageNumber}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                      </div>


                    </div>
                    </div>
              </div>
            </mat-card-content>
        
            </mat-card>
            </div>
    </div>
    </div>

    
   <!---Modal Structure start-->
   <ng-template #addContent >
    <div class="modal-header">
      <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">
          Add Supplier Details
        </h3>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="supplierDetailsForm">
     <div class="row no-margin">
        <div class="col-md-6">
            <div class="row">
              <div class="col-md-5 colInputHeader verticalEndCenter font-14 required-field">
                Plant Code:
                </div>
                <div class="col-md-7 colInput">
                  <mat-form-field appearance="outline" class="borderInput font-13">
                    <input matInput formControlName="PlantCode" placeholder="Plant Code">
                  </mat-form-field> 
                    </div>
                </div>
               
                      <div class="row">
                          <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                            Supplier Name:
                            </div>
                            <div class="col-md-7 colInput">
                              <mat-form-field appearance="outline" class="borderInput font-13">
                                <input matInput formControlName="SupplierName" placeholder="Supplier Name" disabled>
                              </mat-form-field>  
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-5 colInputHeader verticalEndCenter font-14 required-field">
                                Recepient:
                                </div>
                                <div class="col-md-7 colInput">
                                  <mat-form-field appearance="outline" class="borderInput font-13">
                                    <input appInputListener matInput formControlName="Recipient" placeholder="Supplier Recipient">
                                  </mat-form-field> 
                                    </div>
                                </div>
                               
               
          </div>
          <div class="col-md-6">
             
            <div class="row">
              <div class="col-md-5 colInputHeader verticalEndCenter font-14 required-field">
                Supplier Code:
                </div>
                <div class="col-md-7 colInput">
                  <mat-form-field appearance="outline" class="borderInput font-13">
                    <input matInput formControlName="SupplierCode" placeholder="Supplier Code">
                  </mat-form-field> 
                    </div>
                </div>
       <div class="row">
                  <div class="col-md-5 colInputHeader verticalEndCenter font-14 required-field">
                    Supplier Email
                    </div>
                    <div class="col-md-7 colInput">
                      <mat-form-field appearance="outline" class="borderInput font-13">
                        <input matInput formControlName="SupplierEmail" placeholder="Supplier Email">
                      </mat-form-field>
                      <mat-error *ngIf="supplierDetailsForm.get('SupplierEmail').hasError('required') && (supplierDetailsForm.get('SupplierEmail').touched)" class="matError font-13" style="color: red;">Email Id is required</mat-error>
                      <mat-error *ngIf="supplierDetailsForm.get('SupplierEmail').hasError('pattern')&& (supplierDetailsForm.get('SupplierEmail').touched)" class="matError font-13">Enter correct email ID</mat-error>
                        </div>
                    </div>
                    
            </div>
    </div>
  </form>
    </div>
    <div class="modal-footer">
        <div class="col text-center">
            <div class="primaryFormBtn margin-right-10 disInlineBlock">
                <button class="" (click)="resetForm()" color="theme-gray-button">Reset</button>
            </div>
            <div class="primaryFormBtn disInlineBlock">
                <button class="" (click)="submitForm()" color="theme-red-button">Add</button>
            </div>
        </div>
       </div>
  </ng-template>
  <!-- <ng-template #editContent>
      <div class="modal-header">
        <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">Update Supplier Details</h3>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="modal-body">
        <div class="row no-margin">
           <div class="col-md-6">
               <div class="row">
                 <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                   Plant Code:
                   </div>
                   <div class="col-md-7 colInput">
                     <mat-form-field appearance="outline" class="borderInput font-13">
                       <input matInput value="A003" disabled placeholder="Plant Code">
                     </mat-form-field> 
                       </div>
                   </div>
                  
                         <div class="row">
                             <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                               Supplier Email:
                               </div>
                               <div class="col-md-7 colInput">
                                 <mat-form-field appearance="outline" class="borderInput font-13">
                                   <input matInput placeholder="Supplier Email">
                                 </mat-form-field>  
                                   </div>
                               </div>
                             
                               <div class="row">
                                    <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                                      IsActive:
                                      </div>
                                      <div class="col-md-7 colInput">
                                        <mat-checkbox></mat-checkbox>
                                          </div>
                                      </div>
                                  
                  
             </div>
             <div class="col-md-6">
                
               <div class="row">
                 <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                Supplier Code:
                   </div>
                   <div class="col-md-7 colInput">
                     <mat-form-field appearance="outline" class="borderInput font-13">
                       <input matInput placeholder="Supplier Code" disabled >
                     </mat-form-field> 
                       </div>
                   </div>
          <div class="row">
                     <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                      Recipient
                       </div>
                       <div class="col-md-7 colInput">
                         <mat-form-field appearance="outline" class="borderInput font-13">
                           <input matInput placeholder="Recipient">
                         </mat-form-field> 
                           </div>
                       </div>
                       <div class="row">
                         <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                          Supplier Code:
                           </div>
                           <div class="col-md-7 colInput no-padding-right">
                             <mat-form-field appearance="outline" class="borderInput font-13">
                               <input matInput  value="MSETU" placeholder="Supplier Code">
                             </mat-form-field> 
                               </div>
                              
                           </div>
               </div>
       </div>
       </div>
       <div class="modal-footer">
           <div class="col text-center">
              <div class="primaryFormBtn disInlineBlock">
                   <button class=""  color="theme-red-button">Update</button>
               </div>
           </div>
          </div>
    </ng-template> -->
    <!---Modal Structure stop-->