.suggestionDashboard{
  .filterSection{
    .custWidth{
      // flex: 0 0 18.75% !important;
      // max-width: 18.75% !important;
    }
  }
    .borderInput{
            ::ng-deep .mat-form-field-infix{border-top: 0px !important;}
            ::ng-deep .mat-form-field-wrapper{padding-bottom: 0px;}
            }
            /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: rgba(0,0,0,.12); }
            /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{border-width: 1px !important;}
            /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{border-width: 1px !important;}
            /deep/.mat-select-arrow-wrapper{
              display: flex;
              align-items: center;
              justify-content: center;
            }
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.IdeaNumber:hover { cursor: pointer; text-decoration: underline; color: maroon !important;}
.IdeaNumberSubmited{
  color: maroon !important;
}
.IdeaNumberDraft{ color: royalblue; }
.IdeaNumberDraft1:hover{cursor: pointer !important; text-decoration: underline; color: royalblue;}