<div class="container-fluid suggestionDashboard padding">
    <div class="grid">
      <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
        <div class="row width100 verticalCenter">
            <div class="col-md-6">
                <h4 class="no-margin">Analytics Reports</h4>
              </div>
              <div class="col-md-6 no-padding">
                  <p class="no-margin font-13 width100 flex verticalEndCenter">
                      <span class="pointer" (click)="navigate()" routerDirection="backward">Home</span> <mat-icon>chevron_right</mat-icon>
                      <span class="pointer" routerLink="/analytics/usage-dashboard" routerDirection="backward">Usage Analytics</span> <mat-icon>chevron_right</mat-icon>
                     <span class="secondaryMenu">Analytics Reports</span> 
                  </p>
                </div>
        </div>
      </div>
       <div class="col-md-12 border-radius border-radius padding-top no-padding-left no-padding-righ">
          <mat-card class="no-padding mainOuterCardContainer">
              <div class="col-md-12 no-padding padding-vertical">
                    <mat-card class="no-shadow no-padding">
                        <mat-card-content>
                          <div class="row no-margin">
                            <div class="col-md-2 margin-bottom verticalCenter">
                              <h3 class="no-margin themePrimaryColor">
                                  Analytics Reports
                              </h3>
                            </div>
                            <div class="col-md-6"></div>
                            <div class="col-md-2 margin-bottom">
                              <div class="width100 vertcalAligment">
                                  <button class="verticalMiddleCenter" color="theme-gray-button" (click)="reset()">Reset</button> 
                                    </div>
                              </div>
                            <div class="col-md-2 margin-bottom">
                              <div class="width100 vertcalAligment">
                                  <button [disabled]="isDisabled" class="verticalMiddleCenter" color="theme-green-button" (click)="exportExcel()">
                                          <mat-icon  class="flex margin-right-10 disInlineBlock" svgIcon="excelIcon"></mat-icon>Export To Excel</button> 
                                    </div>
                              </div>
                           </div>
                           <form [formGroup]="filterForm">
                              <div class="row no-margin filterSection">
                                  <div class="col-md-1 margin-bottom verticalCenter">
                                    <p class="no-margin">
                                      Filter
                                    </p>
                                  </div>
                                  <div class="col-md-3 margin-bottom custWidth">
                                      <mat-form-field appearance="outline" class="borderInput font-13">
                                          <input matInput formControlName="vendor_code" placeholder="VendorCode">
                                        </mat-form-field> 
                                  </div>
                                  <div class="col-md-3 margin-bottom custWidth">
                                      <mat-form-field appearance="outline" class="borderInput font-13">
                                          <input matInput formControlName="user_id" placeholder="UserID">
                                        </mat-form-field> 
                                  </div>
                                  <div class="col-md-3 margin-bottom custWidth">
                                      <mat-form-field appearance="outline" class="borderInput font-13">
                                          <input matInput formControlName="module" placeholder="Module">
                                        </mat-form-field> 
                                  </div>
                                  <div class="row">
                                      <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                              From Date
                                              <!-- <span style="color: red;">*</span>: -->
                                          </div>
                                          <div class="col-md-7 colInput">
                                              <mat-form-field appearance="outline" class="borderInput font-13">
                                                  <input matInput [max]="maxDate" [matDatepicker]="picker1" formControlName="from_date" readonly>
                                                  <mat-datepicker-toggle matSuffix [for]="picker1" [disabled]="isReadOnly">
                                                  </mat-datepicker-toggle>
                                                  <mat-datepicker #picker1></mat-datepicker>
                                              </mat-form-field>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                              To Date
                                              <!-- <span style="color: red;">*</span>: -->
                                          </div>
                                          <div class="col-md-7 colInput">
                                              <mat-form-field appearance="outline" class="borderInput font-13">
                                                  <input matInput [max]="maxDate" [matDatepicker]="picker2" formControlName="to_date" readonly>
                                                  <mat-datepicker-toggle matSuffix [for]="picker2" [disabled]="isReadOnly">
                                                  </mat-datepicker-toggle>
                                                  <mat-datepicker #picker2></mat-datepicker>
                                              </mat-form-field>
                                      </div>
                                  </div>
                                  <div class="col-md-2 margin-bottom">
                                    <div class="width100 vertcalAligment">
                                      <button (click)="getreportsData(1)" color="theme-red-button" >Search</button> 
                                    </div>
                                  </div>
                                </div>
                          </form>
                          <div class="col">
                          <div class="example-container tbl_New_Layout">
                                <div class="table-container">
                                    <table mat-table  class="lessons-table" [dataSource]="DataSource">
                                        <ng-container matColumnDef="srNo">
                                            <th mat-header-cell *matHeaderCellDef>Sr. No.</th>
                                            <td mat-cell *matCellDef="let element;let i = index" class="text-center table-data">
                                                {{ i+1 }}
                                              </td>
                                          </ng-container>
                                          <ng-container matColumnDef="UserName">
                                              <th mat-header-cell *matHeaderCellDef>User Name</th>
                                              <td mat-cell *matCellDef="let element" >
                                                {{ element.UserName || "N/A" }}
                                                </td>
                                            </ng-container>
                                           <ng-container matColumnDef="UserID">
                                                  <th mat-header-cell *matHeaderCellDef>User Id</th>
                                                  <td mat-cell *matCellDef="let element" >
                                                    {{ element.UserID || "N/A" }}
                                                    </td>
                                                </ng-container>
                                                <ng-container matColumnDef="VendorCode">
                                                    <th mat-header-cell *matHeaderCellDef>Vender Code</th>
                                                    <td mat-cell *matCellDef="let element" >
                                                      {{ element.VendorCode || "N/A" }}
                                                      </td>
                                                  </ng-container>
                                                <ng-container matColumnDef="MODULE">
                                                  <th mat-header-cell *matHeaderCellDef>Module</th>
                                                  <td mat-cell *matCellDef="let element" >
                                                    {{ element.MODULE || "N/A" }}
                                                    </td>
                                                </ng-container>
                                                <ng-container matColumnDef="DEVICE">
                                                    <th mat-header-cell *matHeaderCellDef>Device</th>
                                                    <td mat-cell *matCellDef="let element" >
                                                      {{ element.DEVICE || "N/A" }}
                                                      </td>
                                                  </ng-container>
                
                                                <ng-container matColumnDef="BROWSER">
                                                    <th mat-header-cell *matHeaderCellDef>Browser</th>
                                                    <td mat-cell *matCellDef="let element" >
                                                      {{ element.BROWSER || "N/A" }}
                                                      </td>
                                                  </ng-container>
              
                                                  <ng-container matColumnDef="CLICKTIME">
                                                      <th mat-header-cell *matHeaderCellDef>Click Time</th>
                                                      <td mat-cell *matCellDef="let element" >
                                                        {{ element.CLICKTIME || "N/A" }}
                                                        </td>
                                                    </ng-container>
              
                                                  <ng-container matColumnDef="action">
                                                      <th mat-header-cell *matHeaderCellDef>Action</th>
                                                      <td mat-cell *matCellDef="let element" class="text-center">
                                                        <mat-icon  matTooltip="View" class="themePrimaryColor">remove_red_eye</mat-icon>
                                                        </td>
                                                    </ng-container>
                                                
                                  <tr mat-header-row  *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                              </table>
                              <div *ngIf="DataSource.length === 0">No records found</div>
                              </div>
                              <mat-paginator  [length]="pageSize"  [pageSize]="100"  [pageIndex]="pageNo"
                              (page)="getreportsData($event.pageIndex + 1)">
                            </mat-paginator>
                          </div>
                        </div>
                          </mat-card-content>
                          </mat-card>
                  
                 </div>
                </mat-card>
       </div>
       </div>
       </div>
       