<div class="container-fluid loginPage no-padding height100">
  <div class="grid height100">
    <div class="col-md-12 height100 no-padding">
      <div class="row height100 no-margin">
        <div class="col-md-7 height100 leftPanel no-padding">
        <div class="col primaryBlock no-padding">
            <ngb-carousel #loginCarousel *ngIf="images" interval="5000" wrap="true" pauseOnHover= "false" class="height100 width100">
                <ng-template ngbSlide *ngFor="let item of CMSLogin;let i= index" [id]="'id'+i"  >
                  <div class="picsum-img-wrapper">
                    <img [src]="item.img"  class="height100 width100">
                  </div>
                  <div class="likesToggleBtn" *ngIf="item.CMSID == 1078">
                    <!-- <div class="block whatsNewCursor" (click)="likeContent()"><mat-icon class="margin-right-5 activeThumb" >thumb_up</mat-icon>tanvi</div> -->
                    <button  color="theme-round-white-button" style="padding: 3px; color: white; background: linear-gradient(to right top, #e51937, #e71938, #e91a39, #eb1a3b, #ed1a3c, #ed1a3c, #ec1a3c, #ec1a3c, #e91a3b, #e61a39, #e41938, #e11937)" (click)="signInBaanner()" class="loginBtn">SIGN IN</button>
                </div>
                </ng-template>
              
              </ngb-carousel>
              
        </div>
        <div class="col secondaryBlock no-padding">
          <div class="row height100 no-margin outerBlockPanel">
            <div class="col-md-3 videoBgPaenl">
              <div *ngIf="CMSLatestVideo" class="col height100 height100 padding-vertical-10">
                  <h3  class="fontW-600 no-margin">Latest Video</h3>
                  <div class="videoBlock">
                      <img  src="/assets/img/login/VideoImage.png" class="border-radius height100 width100" />
                      <div class="opacityContainer border-radius"></div>
                      <div class="playBtn" (click)="openLg(content)">
                        <!-- <mat-icon svgIcon="videoPause"></mat-icon> -->
                        <mat-icon class="verticalMiddleCenter" svgIcon="videoPause"></mat-icon>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-md-7 newsEvenetPanel">
                <div class="col height100 padding-vertical-10 height100" >
                    <h3 class="fontW-600 no-margin">News & Events</h3>
                      <div class="newsEventBlock">
                       
                        <ngb-carousel *ngIf="newsEvents"  #myCarousel  class="height100" interval=5000 pauseOnHover= "false" wrap="true" [showNavigationIndicators]="true"> 
                          <ng-template ngbSlide  *ngFor="let slide of newsEvents; let i= index" [id]="'id'+i"  >
                                <div class='row height100 no-margin' >
                                    <div class='col-lg-4 col-md-4 col-sm-4 col-4 no-padding-left no-padding-right height100'>
                                        <div class="gallery_img height100">
                                          <figure class="height100 no-margin border-radius">
                                         
                                            <img src="{{slide._Get_Img_Video[0].ImagePath}}" alt="Random first slide"  class="border-radius height100 width100">
                                            <div class="opacityImgContainer border-radius"></div>
                                          </figure>
                                        </div>
                                       </div>
                                  <div class='col-lg-8 col-md-8 col-sm-8 col-8 height100'>
                                    <div class="description_date">
                                      <h1 class="font-13 fontW-600">{{slide.ContentName}}</h1>
                                      <p class="font-11 margin-bottom-5 fontW-500">{{slide.StartDate | date: 'dd/MM/yyyy'}}</p>
                                    </div>
                                    <div class="description_text font-11 fontW-500 lineClamp" innerHtml="{{slide.SubContentName}}">
                                      <!-- {{slide.SubContentName}} -->
                                    </div>
                                    <div class="actionLink font-12 fontW-600 verticalCenter" >
                                      <!-- <span class="seemoreptr" (click)="openModalpdf(slide._Get_Img_Video[1].ImagePath)">See More</span> -->
                                      <span class="seemoreptr" (click)="openModal1(slide)">See More</span> 
                                      <mat-icon svgIcon="pinkArrow"  class="margin-left-5"></mat-icon>
                                     </div>
                                  </div>
                                 
                                </div>
                              </ng-template>
                            </ngb-carousel>
                      </div>
                  </div>
            </div>
            <div class="col-md-2 no-padding height100">
              <div style="width: 50%;height: 100%;float: left;background: #363636;cursor: pointer;"></div>
              <div style="width: 50%;height: 100%;background: #5D5D5D;cursor: pointer;float: left;"></div>
            </div>
         
          </div>
        </div>
        </div>
        <div class="col-md-5 height100 rightPanel no-padding">
            <div class="col primaryBlock no-padding">
              <form autocomplete="off" [formGroup]="loginForm">
              
                  <div class="col-md-12 no-padding">
                    <div class="col text-center">
                      <h2 class="no-margin">Login</h2>
                    </div>
                    <div class="col text-center logoBlock">
                        <img  src="/assets/img/loginicon.png" class="height100" />
                    </div>
                  
                    <mat-list role="list" class="no-padding" *ngIf="!otpFlagShow">
                      
                        <div class="col">
                        <mat-form-field  floatLabel="never" appearance="outline" class="borderInput width100 font-13">
                            <mat-select required formControlName="type" floatLabel="never" placeholder="Select Login Type">
                               <mat-option value="1">MSETU Login</mat-option>
                               <mat-option value="2">Supplier Data</mat-option>
                               <mat-option value="3">Training Login</mat-option>
                             </mat-select>
                              </mat-form-field>
                           </div>
                           <div class="col" *ngIf="loginForm.controls.type.value==1">
                            
                           <mat-form-field  floatLabel="never" appearance="outline" class="borderInput width100 font-13 highlightb" [ngClass]="{'borderColor':(loginForm.get('userName').dirty)}">
                              <input matInput placeholder="User ID" required  autocomplete="off" formControlName="userName" >
                             
                            </mat-form-field>
                            </div>
                            <div class="col" *ngIf="loginForm.controls.type.value==1">
                            <mat-form-field  floatLabel="never" appearance="outline" class="borderInput width100 font-13 highlightb" [ngClass]="{'borderColor':(loginForm.get('password').dirty)}">
                                <input type="Password" matInput placeholder="Password"  required  autocomplete="false" formControlName="password">
                               
                              </mat-form-field>
                              </div>
                              <div class="col" *ngIf="errorMessage">
                                <mat-error class="matError font-12">
                                  <p>{{errorMessage}}</p>
                                  <!-- <p>Please Enter Username and Password</p> -->
                                </mat-error>
                                <mat-error *ngIf="unameempty" class="matError font-12">
                                 <p>Please Enter Username Or Password</p>
                                </mat-error>
                                <!-- <mat-error *ngIf="useNameError && loginroleId == 0" class="matError font-12">
                                  
                                  <p>Please Enter Username and Password</p>
                                </mat-error> -->
                                <!-- <mat-error *ngIf="loginForm.get('userName').hasError('required')&& (loginForm.get('userName').touched)" class="matError font-12">
                                  User Id is required.
                                </mat-error> 
                                <mat-error *ngIf="loginForm.get('password').hasError('required')&& (loginForm.get('password').touched)" class="matError font-12">
                                  password is required.
                                </mat-error> -->

                              </div>
                              
                         
                      </mat-list>
                      <mat-list role="list" class="no-padding" *ngIf="otpFlagShow">
                      
                       
                  
                            <div class="col">
                            <mat-form-field  floatLabel="never" appearance="outline" class="borderInput width100 font-13">
                                <input type="text" matInput placeholder="Enter OTP" (keypress)="numberOnly($event)"  required matTooltip=" Input Field should accept only Numeric characters." autocomplete="false" formControlName="reqOtp" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" autocomplete="return false"> 
                                
                              </mat-form-field>
                              <mat-error *ngIf="otpreq" class="matError font-12">
                                Please Enter OTP.
                                </mat-error>
                   
                              </div>
                              
                         
                      </mat-list>
                      <div class="col margin-top-10" *ngIf="!otpFlagShow && loginForm.controls.type.value==1">
                          <button  color="theme-round-white-button" (click)="authenticateUser()" class="loginBtn">{{showLogin?'Login':'Please wait...'}}</button>
                      </div>
                      <!-- <div class="col margin-top-10" *ngIf="!otpFlagShow && loginForm.controls.type.value==1">
                          <button color="theme-round-white-button"  (click)="ssoLogin()" class="loginBtn">SSO Login</button>
                        </div> -->
                          <div class="col margin-top-10" *ngIf="otpFlagShow" >
                        <button  color="theme-round-white-button"  (click)="validateUser()" class="loginBtn">Validate OTP</button>
                      </div>
                    <div class="col" *ngIf="otpFlagShow && resendOTPFlag">
                      <a (click)="sentOTP()" target="_blank"><p class="no-margin loginLink font-13 text-center margin-vertical-10 hoverOTPLink">OTP not received? Resend Again</p></a>
                    </div>
                    <div class="col matError font-12 loginLink text-center margin-vertical-10" *ngIf="otpSentMessage">
                      <p>OTP has been sent to your Mobile Number</p>
                    </div>
                    <div class="col" *ngIf="!otpFlagShow && loginForm.controls.type.value==2">
                      <!-- <a href="https://cordys2.mahindra.com:8443/home/Mahindra/NVR_HTML/Initiator_NVR_supplier.htm" target="_blank" class="noLinkBorder"><p class="no-margin loginLink font-13 text-center margin-vertical-10">New supplier data</p></a> -->
                      <button  color="theme-round-white-button" (click)="openNewModal()" class="loginBtn margin-top-5">New supplier data</button>
                    </div>
                    <div class="col" *ngIf="!otpFlagShow && loginForm.controls.type.value==3">
                        <!-- <a href="http://msetulms.com/msetu_lms/login/index.php" target="_blank" class="noLinkBorder"><p class="no-margin loginLink font-13 text-center margin-vertical-10">Training Login</p></a> -->
                        <button  color="theme-round-white-button" (click)="openTrainingData()" class="loginBtn margin-top-5">Training Login</button>
                      </div>
                  </div>
               </form>
               <div class="col CopyrightText">
                <p class="no-margin font-13">Copyright © 2020. Mahindra & Mahindra Ltd. All rights reserved</p>
              </div>
            </div>
            <div class="col secondaryBlock no-padding verticalEndCenter">
              <div class="tweetBlock">
                <!-- <h1 class="padding-horizontal" (click)="opentwitter()"><mat-icon svgIcon="Twitter" class="margin-right-10"></mat-icon><a class="twitter-timeline">Tweets by @hsikka1</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></h1> -->
               <!-- <a class="twitter-timeline" href="https://twitter.com/hsikka1?ref_src=twsrc%5Etfw" data-width="100%" data-height="100%">Tweets by hsikka1</a> 
               <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
             
               <a class="twitter-timeline" href="https://twitter.com/Msetu_EB?ref_src=twsrc%5Etfw" data-width="100%" data-height="100%">Tweets by Msetu_EB</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
            </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    <ng-template #content let-modal>
   
      <div class="modal-body no-padding">
        <ngb-carousel   interval="false" class="border-radius height100" wrap="false" [showNavigationIndicators]="false" pauseOnHover="true">

          <ng-template ngbSlide *ngFor="let items of CMSLatestVideo;let i= index" [id]="'ids'+i">
            <div class="modal-header">
              <h4 class="modal-title font-17 ">{{items.ContentName}}</h4>
              <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button> -->
            </div>
            <div *ngIf="!items.Link" class="font-17" style="text-align: center;">
                No Data Found
            </div>
            <div *ngIf="items.Link">
              <div class="IndicatorClass" *ngIf="!items.Link.includes('youtube')" style="background-color: grey;">
                <div>
                  <video controls style="width: 80%;padding-left:74px;height:320px;margin-left:39px;">
                    <source [src]="items.Link" type="video/mp4">
                  </video>
                </div>
              </div>
              <div *ngIf="items.Link.includes('youtube')" style="background-color: grey;">

                <iframe [src]='items.Link | safevideopipe' allow=" autoplay;" style="width: 80%;padding-left:74px;height:320px;margin-left:39px;border:none;"></iframe>
            </div>
            </div>
            
          
          </ng-template>
          </ngb-carousel>
          </div>
          </ng-template>
          <ng-template #stakeholdercontent let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">{{banner_name}}</h3>
                <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                    <mat-icon #closeModalonclick>close</mat-icon>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="bulk_Upload_form" #form="ngForm">
                    <div class="row no-margin">
        
                        <div class="spacer col-md-12"></div>
                            <div class="col-md-8 offset-md-2 uploadBlock">
                                <div class="col-md-10 offset-md-1">
                                    <div class="row ">
                                        <div class="col-md-2 colInputHeader verticalEndCenter font-14 no-padding">
                                            Bulk Upload:
                                        </div>
                    
                                        <div class="col-md-4 colInput no-padding-right">
                                            <mat-form-field appearance="outline" class="borderInput font-13 ">
                                                <input matInput placeholder="" formControlName="Bulk_Upload">
                                            </mat-form-field>
                                          </div>
                    
                                        <div class="col-md-3 verticalCenter no-padding-left no-padding-right">
                                            <label matTooltip="File format should be .xlsx" matTooltipPosition="above" for="file-input" class="no-margin text-center vertcalAligment"
                                            color="theme-gray-button">
                                            Upload File
                                            <input id="file-input" type="file" #fileInput (click)="fileInput.value = null" 
                                            (change)="detectFiles($event,form)"
                                            accept=".xlsx" style="display: none;" />
                                        </label>
                                          </div>
                                              <div class="col-md-3 no-padding-right">
                                                <div class="vertcalAligment">
                                                  <button (click)="DownloadSampleTemplate('Mass Schedule Template')" color="theme-green-button" class="verticalMiddleCenter">
                                                    <mat-icon  class="flex margin-right-10 disInlineBlock" svgIcon="excelIcon"></mat-icon>
                                                    Download</button>
                                                 </div>
                                              </div>
                                        </div>
                                </div>
                               
                              </div>
                    </div>
        
                </form>
            </div>
            <div class="modal-footer">
                <div class="col text-center">
                    <!-- <div class="primaryFormBtn disInlineBlock margin-right-10">
                        <button (click)="InsertRoleData(form)" color="theme-red-button">Save & Add More</button>
                    </div> -->
                    <div class="primaryFormBtn disInlineBlock ">
                        <button class="" (click)="InsertStakeholderData(form,closeModalonclick)" color="theme-red-button">Save & Close</button>
                    </div>
                </div>
            </div>
        </ng-template>
