@import '../../variable.scss';
body{
    background-image: none !important;
 }
 .SIGNIN{
    color: white;
    background-image: linear-gradient(to bottom, #f40b0b, #ff4244, #ff6770, #ff8997, #ffa9b8, #feaab9, #fdaaba, #fcabbb, #ff8d9e, #ff6d7e, #fb495b, #f20e36);
    border: 1px solid #fff;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0px;
    width: 100%;
    border-radius: 3px;
    padding: 4px;
    font-family: 'Lato-Medium';
    cursor: pointer;
 }
 .likesToggleBtn{
    position: absolute;
    // right: 2%;
    z-index: 99999;
  //  color: #B3B3B3;
    width: auto;
    border-radius: 20px;
  //  background: #3E3D3D;
    padding: 4px 10px;
    // top: 5%;
    display: flex;
    align-items: center;
    bottom: 7%;
    right: 44%;
    width: 12%;
    height: 5%;
    .block{
        width: 50%;
        text-align: center;
        font-size: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        .mat-icon {
            height: 14px;
            width: 14px;
            font-size: 14px;
            margin-left: 10px;
          }
    }
}
.loginPage{
    background: #EDEDED;
.leftPanel{
    flex: 0 0 70% !important;
    max-width: 70% !important;
    .primaryBlock{
        height: 70%;
        z-index: 0 !important;
        /deep/.carousel-indicators li {
            width: 7px !important;
            height: 7px !important;
            border-radius: 50% !important;
            background-color: #fff !important;
            border: 3px solid transparent !important;
        }
        /deep/.carousel-indicators .active {
            background-color: #E31837 !important;
            border: 3px solid #fff !important;
        }
       
        /deep/.carousel-indicators{
            // margin-bottom: 0px !important;
        }
        /deep/.carousel-control-prev,/deep/.carousel-control-next{
            display: none;
        }
        
        .carousel-caption{
            right: 0% !important;
            left: 0% !important;
            padding: 7% !important;
            color: #fff !important;
            text-align: left !important;
            top: 0% !important;
            width: 100% !important;
            height: 100% !important;
           h1{
            font-size: 25px !important;
            color: #e33045;
            font-weight: 500;
            font-family: 'Lato-Light' !important;
           }
           p{
            color: #4e4949;
            font-size: 17px;
            font-weight: 500;
            font-family: 'Lato-Light' !important;
           }
        }
      }
    .secondaryBlock{
       background: #222222;
        height: 30%;
        color: #fff;
        padding-right: 0px;
        .opacityContainer{
            position: absolute;
            width: 100%;
            top: 0%;
            height: 100%;
            background: #000;
            opacity: 0.4;
        }
        .opacityImgContainer{
            position: absolute;
            width: 100%;
            top: 0%;
            height: 100%;
            // background: #00000038;
            opacity: 0.6;
        }
        .videoBgPaenl{
           // border-right: 1px solid #3A3A3A;
           border-right:  1px solid #5d5858;
           
            h3{
                color:$color-primary-default;
                font-family: 'Lato-Regular' !important;
                height: 25%;
            }
           
            .playBtn{
                position: absolute;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: -webkit-box;
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                left: 0%;
                right: 0%;
                top: 0%;
                bottom: 0%;
                -webkit-box-pack: center;
                justify-content: center;
                margin: auto;
                cursor: pointer;
                .mat-icon{
                    height: 100% !important;
                    width: 100% !important;
                    color: #D3D3D3;
                }
            }
            .videoBlock{
                height: 75%;
                position: relative;
            }
        }
        .newsEvenetPanel{
            h3{
                color:$color-primary-default;
               height: 25%;
                font-family: 'Lato-Regular' !important;
            }
            .description_date{
                h1 {
                    // color: #939393;
                    color: #fff;
                    font-family: 'Lato-Light';
                }
                p{
                    //color: #626262;
                    color: #ffffffad;
                    font-family: 'Lato-Light';
                };
            }
            .description_text{
                //color: #626262;
                color: #ffffffad;
                font-family: 'Lato-Light';
            }
            /deep/.carousel-indicators li {
                width: 7px !important;
                height: 7px !important;
                border-radius: 50% !important;
                background-color: #fff !important;
            }
            /deep/.carousel-indicators .active {
                background-color: #E31837 !important;
            }
            /deep/.carousel-indicators{
                margin-bottom: 0px !important;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-right: 5%;
                width: 30%;
                right: 0px !important;
                left: auto !important;
            }
            /deep/ .carousel-control-prev{
                left: 104%;
                top: -90%;
                cursor: pointer;
            }
            /deep/ .carousel-control-next {
                right: -34%;
                top: -90%;
                cursor: pointer;
             }
           .newsEventBlock{
            height: 75%;
           }
        }
//         .IndicatorClass .carousel-control-prev-icon .carousel-control-next-icon:hover{
// cursor: pointer !important;
//         }

        .actionLink{
            color: $color-pink-default;
           
            position: absolute;
            bottom: 3%;
            cursor: pointer;
        
            .mat-icon{
               width: 16px !important;
            }
          }
          span.seemoreptr:hover{
              cursor: pointer !important;
          } 
          .outerBlockPanel{
            // box-shadow: inset 0 0 10px #000000;
            box-shadow: inset 0 10px 35px #000000;
            border-top: 2px solid #a10e23;
          }
    }
    /deep/ .carousel-control-next-icon {
        background-image: url("/assets/img/login/Arrowright.svg") !important;
      }  
      /deep/ .carousel-control-prev-icon {
      background-image: url("/assets/img/login/Arrowright.svg") !important;
      transform: rotate(180deg);
    }
    /deep/ .carousel-control-next-icon:hover {
        background-image: url("/assets/img/login/ArrowrightWhite.svg") !important;
      }  
      /deep/ .carousel-control-prev-icon:hover {
        background-image: url("/assets/img/login/ArrowrightWhite.svg") !important;
        transform: rotate(180deg);
        
      }
}
.rightPanel:before{
   content: '';
    background-image: url(/assets/img/login/loginbgnew.png);
    background-size: 100% 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    top: 0%;
    background-repeat: no-repeat;
    left: -26%;
}
.rightPanel{
    flex: 0 0 30% !important;
    max-width: 30% !important;
    // background-image: url(/assets/img/login/loginbg.png);
    // background: $color-primary-default;
    .primaryBlock{
        height: 70%;
        display: flex;
        //  background: #E01633;
        justify-content: flex-end;
        form{
            width: 85%;
            display: -webkit-box;
            display: flex;
            -webkit-box-align: center;
            height: 100%;
            padding-right: 10%;
            h2{
                font-size: 30px !important;
                font-weight: 200;
                color: #fff;
                font-family: 'Lato-Light' !important;
                margin-top: 10px !important;
            }
        }
        .logoBlock{
            height: 100px;
        }
    }
    .secondaryBlock{
        height: 30%;
        // background: #BA001B;
        .tweetBlock{
            cursor: pointer;
            width: 85%;
            padding-right: 10%;
            font-family: 'Lato-Light' !important;
            height: 100%;
            padding-top: 10px;
            padding-bottom: 10px;

            h1{
                color: #fff;
                font-family: 'Lato-Light' !important;
            }
            p{
                font-size: 14px;
                color: #f18b9a;
            }
            /deep/ iframe{
                    height: 100% !important;
                    width: 100% !important;
                    min-height: 0 !important;
             }
       
        }
    }
   
    .borderInput{
        ::ng-deep .mat-form-field-infix{border-top: 0 solid transparent;}
        ::ng-deep .mat-form-field-wrapper{padding-bottom: 0px;border-radius: 5px;}
        ::ng-deep .mat-form-field-subscript-wrapper{   
          margin: 0px !important; 
          padding: 0px !important;
          position: static !important;
        }
        // .highlightb:focus{
        //     border: yellow 1px solid!important;
        // }
        }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: #FC4D7C;background: #BF0033;border-radius: 5px; }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{border-width: 1px !important;}
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{border-width: 1px !important;}
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline{ top: 0 !important;}
        /deep/.mat-form-field-appearance-outline .mat-form-field-flex{ margin-top: 0 !important;background: #BF0033;border-radius: 5px;}
        /deep/.mat-form-field-appearance-outline .mat-form-field-wrapper{ margin: .35em 0 !important;}
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline {color: #FC4D7C;}
        /deep/.mat-form-field-appearance-outline .mat-form-field-infix{padding: 1.1em 0 1.1em 0 !important;}
        /deep/.mat-form-field-appearance-outline .mat-select-placeholder{color: #f6f6f6de;}
        /deep/.mat-form-field-appearance-outline input.mat-input-element{color: #f6f6f6de;}
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-start, .mat-form-field-outline-end {}
        /deep/.mat-form-field-appearance-outline .mat-select-arrow-wrapper{transform: translateY(0%) !important;}
        ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
          //  border-radius: 20px !important;
          }
          .mat-form-field-appearance-outline .mat-form-field-outline-gap{
           // border-radius: 20px !important;
          }
         /deep/.mat-form-field .mat-input-element{
            caret-color:white !important;
          }
        .mat-form-field{font-size: 13px;}

            /* placeholder css */
        input::-webkit-input-placeholder {
            color: #f6f6f6de !important;
            }
             
            input:-moz-placeholder { /* Firefox 18- */
                color: #f6f6f6de !important;
            }
             
            input::-moz-placeholder {  /* Firefox 19+ */
                color: #f6f6f6de !important;
            }
             
            input:-ms-input-placeholder {  
                color: #f6f6f6de !important;
            }
          
        
}

.mat-error{
    color: #ffffffd4 !important;
}
.loginLink{color: #fff;cursor: pointer;}
/deep/.mat-select-arrow {
    color: #fff !important;
}
.hoverOTPLink:hover{
text-decoration: underline;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    -webkit-background-color: #bf0033 !important;
    color: #f6f6f6de !important;
    -webkit-box-shadow: 0 0 0 1000px #bf0033 inset !important;
    -webkit-text-fill-color: #f6f6f6de !important;
    }
    .loginBtn:hover{
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
    } 
    .noLinkBorder{
      text-decoration: none;
    }

    /deep/.mat-select-value {
        color: #fff !important;
    }
   .primaryBlock /deep/ .carousel-indicators{
            background: #000;
            height: 5vh;
            width: 100%;
            margin: 0px;
            /* z-index: 12222; */
            display: flex;
            align-items: center;
            opacity: 0.9;
    } 

   .CopyrightText{
    color: #fff;
    position: absolute;
    bottom: 0px;
    text-align: right;
    font-family: 'Lato-Light' !important;
    left:0px;
   }
}

