<div class="example-container tbl_New_Layout">
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </button>
  <h2 class="text-center">All Employees</h2>
  
  <div class="table-container padding-top">
    <table mat-table  class="lessons-table" [dataSource]="dataSource">
      <ng-container matColumnDef="SupplierCode">
        <th mat-header-cell *matHeaderCellDef>Supplier Code</th>
        <td mat-cell *matCellDef="let element">
          {{ element.VendorCode || "N/A" }}
        </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      <ng-container matColumnDef="FirstName">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.FirstName || "N/A" }}
        </td>
        <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>
      <ng-container matColumnDef="LastName">
          <th mat-header-cell *matHeaderCellDef>Last Name</th>
          <td mat-cell *matCellDef="let element">
            {{ element.LastName || "N/A" }}
            </td>
            <td mat-footer-cell *matFooterCellDef>  </td>
        </ng-container>
    
        <ng-container matColumnDef="Phone">
          <th mat-header-cell *matHeaderCellDef>Phone</th>
          <td mat-cell *matCellDef="let element" text-center>
            {{ element.WorkPhone || "N/A" }}
            </td>
            <td mat-footer-cell *matFooterCellDef>  </td>
        </ng-container>
        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">
            {{ element.WorkEmail || "N/A" }}
            </td>
            <td mat-footer-cell *matFooterCellDef>  </td>
        </ng-container>
                  
        <tr mat-header-row  *matHeaderRowDef="displayedColumns;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr> -->
      </table>
      <!-- <div class="col-md-3 no-padding" *ngIf="dataSource.length==0"> -->
        <div *ngIf="dataSource.length==0">
            <p class="no-margin">No Record Found</p>
        </div>
    <!-- </div> -->
      </div>

     
      <!-- <mat-paginator  [length]="pageSize"  [pageSize]="5"  [pageIndex]="pageNo"
      (page)="pageEvent = getPageChangeData($event)">
    </mat-paginator> -->
  </div>