<div class="container-fluid gst-info-page padding">
  <div class="grid">
     <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
      <div class="row width100 verticalCenter">
          <div class="col-md-6">
              <h4 class="no-margin">GST Info</h4>
            </div>
            <div class="col-md-6 no-padding">
                <p class="no-margin font-13 width100 flex verticalEndCenter">
                    <span class="pointer" [routerLink]="roleId == 7 ? '/adminDashboard' : '/dashboard'" routerDirection="backward">Home</span> <mat-icon>chevron_right</mat-icon>
                   <span class="secondaryMenu">GST Info</span> 
                </p>
              </div>
      </div>
    </div>
    <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
        <mat-card class="no-padding mainOuterCardContainer">
            <div class="referencePanel height100">
                <mat-list role="list" class="no-padding height100">
                  <mat-list-item role="listitem" class="font-13 fontW-300 margin-bottom-10  documentHdr no-margin">
                      <div class="row width100">
                    <div class="col-md-1">Type</div>
                    <div class="col-md-2">Title</div>
                    <div class="col-md-4"><p class="no-margin">File Name</p></div>
                    <div class="col-md-2"><p class="no-margin">File Size</p></div>
                    <div class="col-md-2"><p class="no-margin">Created Date</p></div>
                    <!-- <div class="col-md-1"><p class="no-margin">Action</p></div> -->
                    </div>
                  </mat-list-item>
                  <div  class="outerConatiner">

                    <mat-list-item *ngFor="let document of documents" role="listitem"  class="font-13 fontW-300 documentList margin-bottom-5 border-radius-3">
                      <div class="row width100">
                        <!-- <div class="col-md-1"><mat-icon class="margin-right" svgIcon="excelIcon"></mat-icon></div>   -->
      
                        <div class="col-md-1"  >
                          <div matTooltip="Excel File" *ngIf="document.File_Type == '.xlsx'"><mat-icon class="margin-right" svgIcon="excelIcon"></mat-icon></div>
                          <div matTooltip="Doc File" *ngIf="document.File_Type == '.docx'"><mat-icon class="margin-right" svgIcon="docIcon"></mat-icon></div>
                          <div matTooltip="PDF File" *ngIf="document.File_Type == '.pdf'"><mat-icon class="margin-right" svgIcon="pdfIcon"></mat-icon></div>
                          <div matTooltip="PNG File" *ngIf="document.File_Type == '.png'"><mat-icon class="margin-right" svgIcon="imgIcon"></mat-icon></div>
                          <div matTooltip="Jpg File" *ngIf="document.File_Type == '.jpg'|| document.File_Type == '.jpeg'"><mat-icon class="margin-right" svgIcon="imgIcon"></mat-icon></div>
                          </div>
      
                        <div class="col-md-2"><p class="no-margin">{{ document.Title}}</p></div>
                        <div class="col-md-4" (click)="view(document.Doc_Link)"><p class="no-margin gstDocStyle">{{ document.Doc_Name.split('.').slice(0, -1).join('.') }}</p></div>
                        <div class="col-md-2"><p class="no-margin">{{ (document.File_Size)/1000 }}kb</p></div>
                        <div class="col-md-2"><p class="no-margin">{{ moment(document.CreatedDate).format('DD/MM/YYYY HH:mm') }}</p></div>
                        <!-- <div class="col-md-1 pointerCursor" matTooltip="Download a File">
                          <a 
                          href="javascript:void(0)" 
                          class="pointerCursor"
                          (click)="downloadFile(document.Doc_Link,'your_pdf_file')">
                          <mat-icon svgIcon="downIcon" class="downloadIcon"></mat-icon>
                        </a>
                        </div> -->
                      </div>
                    </mat-list-item>
                  </div>
                 
      
                </mat-list>
              </div>
          </mat-card>
          </div>
  </div>

  <!-- <div class="content-block height100">
    <div class="gst-div-margin" id="content">
      <div id="main-content">
        <div class="referencePanel">
          <mat-list role="list" class="no-padding">
            <mat-list-item role="listitem" class="font-13 fontW-300 margin-bottom-10 border-radius-3 documentHdr">
                <div class="row width100">
              <div class="col-md-1">Type</div>
              <div class="col-md-2">Title</div>
              <div class="col-md-4"><p class="no-margin">File Name</p></div>
              <div class="col-md-2"><p class="no-margin">File Size</p></div>
              <div class="col-md-2"><p class="no-margin">Created Date</p></div>
              <div class="col-md-1"><p class="no-margin">Action</p></div>
              </div>
            </mat-list-item>
            <div  style="height:400px;overflow:auto;">
              <mat-list-item *ngFor="let document of documents" role="listitem"  class="font-13 fontW-300 documentList margin-bottom-5 border-radius-3">
                <div class="row width100">
                
                  <div class="col-md-1 cursorStyle" matTooltip="Excel File" *ngIf="document.File_Type == '.xlsx'"><mat-icon class="margin-right" svgIcon="excelIcon"></mat-icon></div>
                  <div class="col-md-1 cursorStyle" matTooltip="Doc File" *ngIf="document.File_Type == '.docx'"><mat-icon class="margin-right" svgIcon="docIcon"></mat-icon></div>
                   <div class="col-md-1 cursorStyle" matTooltip="PDF File" *ngIf="document.File_Type == '.pdf'"><mat-icon class="margin-right" svgIcon="pdfIcon"></mat-icon></div>
                   <div class="col-md-1 cursorStyle" matTooltip="PNG File" *ngIf="document.File_Type == '.png'"><mat-icon>insert_photo</mat-icon></div>
                   <div class="col-md-1 cursorStyle" matTooltip="Jpg File" *ngIf="document.File_Type == '.jpg'|| document.File_Type == '.jpeg'"><mat-icon>insert_photo</mat-icon></div>

                  <div class="col-md-2"><p class="no-margin">{{ document.Title}}</p></div>
                  <div class="col-md-4" (click)="view(document.Doc_Link)"><p class="no-margin gstDocStyle">{{ document.Doc_Name.split('.').slice(0, -1).join('.') }}</p></div>
                  <div class="col-md-2"><p class="no-margin">{{ (document.File_Size)/1000 }}kb</p></div>
                  <div class="col-md-2"><p class="no-margin">{{ moment(document.CreatedDate).format('DD/MM/YYYY HH:mm') }}</p></div>
                  <div class="col-md-1" style="cursor: pointer;" matTooltip="Download a File">
                    <a 
                    href="javascript:void(0)" 
                    style="cursor:pointer"
                    (click)="downloadFile(document.Doc_Link,'your_pdf_file')">
                    <mat-icon>get_app</mat-icon>
                  </a>
                  </div>
                </div>
              </mat-list-item>
            </div>
           

          </mat-list>
        </div>
      </div>
    </div>
  </div> -->
</div>
