@import '../../variable.scss';
.gst-info-page{
    /deep/ {
      
        .mat-ink-bar{
            display: none !important;
          }
    }
    .nav-breadcrumbs{
        background: #ffffff0a;
        color: #fff;
        padding: 8px;
        border-radius: 5px;
        border: 1px #ffffff30 solid;
        .navigation{
            opacity: 0.8;
        }
    }

    .content-block{
        margin-top: 10px;
        background-color: #fff;
        padding: 15px 0;
        border-radius: 6px;
        height: 100%;

        .header{
            color: #e33045;
        }
    }
    
    .referencePanel{
        .documentList{
            box-shadow: 0 1px 3px rgba(0,16,44,.08), 0 2px 4px rgba(0,16,44,.12);
        }
        .documentHdr{
            background: #6f6f6f;
            margin-bottom: 0px !important;
            color: #fff;
        }
        .cursorStyle:hover{
            cursor: pointer;
        }
        
        .gstDocStyle:hover{
            color: green;
            cursor: pointer;
            text-decoration: underline;
        }
        .outerConatiner{
            overflow: auto;
            padding: 10px 0px;
            height: calc(100% - 48px);
        }
    }

    .opacity6{
        opacity: 0.6;
    }

    .gst-div-margin{
        margin: 0 10px;
    }
       .downloadIcon{
           height: 16px !important;
           width: 16px !important;
       } 
}