
<div class="container-fluid Vendors padding">
  <div class="grid">
    <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
      <div class="row width100 verticalCenter">
          <div class="col-md-6">
              <h4 class="no-margin">Vendors Mapping</h4>
            </div>
            <div class="col-md-6 no-padding">
                <p class="no-margin font-13 width100 flex verticalEndCenter">
                    <span class="pointer"  [routerLink]="'/dashboard'" routerDirection="backward">Home</span> <mat-icon>chevron_right</mat-icon>
                   <span class="secondaryMenu">Vendors Mapping</span> 
                </p>
              </div>
      </div>
    </div>

      <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
        <mat-card class="mainOuterCardContainer">
            <div class="row">
              <div class="col-md-12">
                  <form [formGroup]="Mapping">
                    <div class="row">
                      <div class="col-md-2 verticalCenter">
                          <p>Create New Mapping</p>
                        </div>
                      <div class="col-md-2">
                        <mat-form-field appearance="outline"  class="borderInput font-13">
                          <input type="number" matInput formControlName="bpcode" placeholder="BP Code">
                          <mat-error *ngIf="Mapping.get('bpcode').hasError('required')" class="matError">
                            BP Code is required.
                        </mat-error>
                        </mat-form-field>
                        </div>
                      <div class="col-md-2">
                        <mat-form-field appearance="outline"  class="borderInput font-13">
                          <input matInput formControlName="vendorCode" placeholder="Master Vendor Code">
                          <mat-error *ngIf="Mapping.get('vendorCode').hasError('required')" class="matError">
                            Master Vendor Code is required.
                        </mat-error>
                        </mat-form-field>
                        </div>
                      <div class="col-md-2">
                        <mat-form-field appearance="outline"  class="borderInput font-13">
                          <input matInput formControlName="subVendorCode" placeholder="Sub Vendor Code">
                          <mat-error *ngIf="Mapping.get('subVendorCode').hasError('required')" class="matError">
                            Sub Vendor Code is required.
                        </mat-error>
                        </mat-form-field>
                        </div>
                      <div class="col-md-2 vertcalAligment">
                          <button (click)="createMapping()" color="theme-red-button">Create New Mapping</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-2 verticalCenter">
                <p>Filter</p>
              </div>
              <div class="col-md-2">
                  <div class="row">
                      <div class="col-md-12">
                          <mat-form-field appearance="outline"  class="borderInput font-13">
                              <input matInput placeholder="BP Code" [formControl]="bpcode" (change)="getData(1)">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
              <div class="col-md-2">
                  <div class="row">
                      <div class="col-md-12">
                          <mat-form-field appearance="outline"  class="borderInput font-13">
                              <input matInput placeholder="Master Vendor Code" [formControl]="masterVendor" (change)="getData(1)">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
              <div class="col-md-2">
                  <div class="row">
                      <div class="col-md-12">
                          <mat-form-field appearance="outline"  class="borderInput font-13">
                              <input matInput placeholder="Sub Vendor Code" [formControl]="subVendor" (change)="getData(1)">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
              <div class="col-md-3 vertcalAligment">
                  <div class="row">
                      <div class="col-md-6">
                          <button style="margin: auto" (click)="reset()" color="theme-gray-button">Reset</button>
                        </div>
                      <div class="col-md-6">
                          <button style="margin: auto" (click)="download()" color="theme-green-button">Download</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

              <div class="table-container width100">
                <table mat-table [dataSource]="DataSource" class="width100">
                  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
                    <!-- Header -->
                    <th class="center" mat-header-cell *matHeaderCellDef>{{ column }}</th>

                    <!-- Data -->
                    <td mat-cell *matCellDef="let element" class="center">
                      <ng-container *ngIf="column == 'Edit' || column == 'Delete'; then action; else data"></ng-container>

                      <!-- Test Data -->
                      <ng-template #data>
                        <div *ngIf="!element.editing || column == 'Mapping Id'">{{ element[column] || "N/A" }}</div>
                        <div *ngIf="element.editing && column != 'Mapping Id'">
                           <mat-form-field appearance="outline"  class="borderInput font-13">
                              <input matInput [value]="element[column]"
                                [formControl]="column == 'BP Code' ? UpdatedBPCode : 
                                              column == 'Master Vendor Code' ? UpdatedVendorCode : UpdatedSubVendorCode">
                             </mat-form-field>
                        </div>
                      </ng-template>
                      
                      <!-- Action Buttons -->
                      <ng-template #action>
                        <ng-container *ngIf="column == 'Edit' then editable; else deleting"></ng-container>

                        <ng-template #editable>
                            <mat-icon matTooltip="Edit" class="themePrimaryColor pointer" *ngIf="!element.editing" (click)="edit(element)">edit</mat-icon>
                            <mat-icon matTooltip="Update" class="themePrimaryColor pointer" *ngIf="element.editing" (click)="update(element)">done</mat-icon>
                        </ng-template>

                        <ng-template #deleting>
                          <mat-icon matTooltip="Delete" class="themePrimaryColor pointer" (click)="delete(element)">delete</mat-icon>
                        </ng-template>
                      </ng-template>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
                <mat-paginator
                      [length]="pageSize"
                      [pageSize]="10"
                      (page)="getData($event.pageIndex + 1)"
                    >
                    </mat-paginator>
              </div>

            </div>
          </mat-card>
       </div>
    </div>
</div>