<h3 class="vendor_code">Ticket No: {{ ticketRowId.ticketRowId }}</h3>
<button type="button"  class="close" aria-label="Close" (click)="dismissModal()">
  <span aria-hidden="true">&times;</span>
</button>
<hr>
        <div class="col-md-12" *ngIf="createConcernOptions">
          <form [formGroup]="createConcernForm">
                <div class="row">
                  <div class="col-md-6">
                      <div class="col-md-12">
                          <div class="row">
                              <div class="col-md-4 colInputHeader verticalEndCenter">
                                Vendor Select :
                                </div>
                                <div class="col-md-8 colInput">
                                  <mat-form-field appearance="outline" class="borderInput">
                                    <input disabled formControlName="vendorId" matInput placeholder="" />
                                    </mat-form-field> 
                                    </div>
                                </div>
                      </div>
                      <div class="col-md-12">
                          <div class="row">
                              <div class="col-md-4 colInputHeader verticalEndCenter">
                                Issue Type :
                                </div>
                                <div class="col-md-8 colInput">
                                    <mat-form-field appearance="outline" class="borderInput" disabled>
                                      <mat-select disabled formControlName="IssueType"
                                          placeholder="Select Category"
                                        >
                                          <mat-option
                                            *ngFor="
                                              let issueType of createConcernOptions._GetIncidentIssueTypeMaster
                                            "
                                            [value]="issueType.IssueTypeID"
                                            >{{ issueType.IssueTypeName }}
                                          </mat-option>
                                        </mat-select>
                                        </mat-form-field> 
                                    </div>
                                </div>
                      </div>

                      <div class="col-md-12" *ngIf="createConcernForm.value.IssueType == 1">
                          <div class="row">
                            <div
                              class="col-md-4 colInputHeader verticalEndCenter"
                            >
                              Sector :
                            </div>
                            <div class="col-md-8 colInput">
                              <mat-form-field
                                appearance="outline"
                                class="borderInput"
                              >
                                <mat-select
                                formControlName="SectorId"
                                  placeholder="Select Sector"
                                >
                                  <mat-option
                                    *ngFor="
                                      let sector of createConcernOptions._GetIncidentSectorMaster
                                    "
                                    [value]="sector.SectorID"
                                    >{{ sector.SectorName }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12" *ngIf="createConcernForm.value.IssueType == 1">
                          <div class="row">
                            <div
                              class="col-md-4 colInputHeader verticalEndCenter"
                            >
                              Plant :
                            </div>
                            <div class="col-md-8 colInput">
                              <mat-form-field
                                appearance="outline"
                                class="borderInput"
                              >
                                <mat-select
                                formControlName="PlantId"
                                  placeholder="Kindly sector to select a plant"
                                >
                                  <mat-option
                                    *ngFor="
                                      let plant of createConcernOptions._GetIncidentPlantMaster
                                    "
                                    [value]="plant.PlantID"
                                    >{{ plant.PlantName }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12" *ngIf="createConcernForm.value.IssueType == 1">
                          <div class="row">
                            <div
                              class="col-md-4 colInputHeader verticalEndCenter"
                            >
                              Bussiness Function :
                            </div>
                            <div class="col-md-8 colInput">
                              <mat-form-field
                                appearance="outline"
                                class="borderInput"
                              >
                                <mat-select
                                  formControlName="BussinessFunction"
                                  placeholder="Select a Plant to select a bussiness function"
                                >
                                  <mat-option
                                    *ngFor="
                                      let businessFunction of createConcernOptions._GetIncidentBusinessFunctionMaster
                                    "
                                    [value]="businessFunction.BusinessFunID"
                                    >{{ businessFunction.BusniessFunctionName }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      <div class="col-md-12">
                          <div class="row">
                              <div class="col-md-4 colInputHeader verticalEndCenter">
                                Issue Category :
                                </div>
                                <div class="col-md-8 colInput">
                                    <mat-form-field appearance="outline" class="borderInput">
                                        <mat-select disabled
                                          formControlName="IssueCategory"
                                            placeholder="Select Issue Category"
                                          >
                                          <mat-option
                                          *ngFor="
                                            let issueCategory of createConcernOptions._GetIncidentSubCategoryMaster
                                          "
                                          [value]="issueCategory.IncidentSubCategory_Id"
                                          >{{ issueCategory.IncidentCategory_Name }} -
                                          ({{ issueCategory.IncidentSubCategory_Name }})
                                        </mat-option>
                                        </mat-select>
                                        </mat-form-field> 
                                    </div>
                                </div>
                      </div>
                      <div class="col-md-12">
                          <div class="row">
                              <div class="col-md-4 colInputHeader verticalEndCenter">
                                Assigned Email ID :
                                </div>
                                <div class="col-md-8 colInput">
                                    <mat-form-field appearance="outline" class="borderInput">
                                        <input disabled formControlName="AssignedEmail" matInput placeholder="" />
                                      </mat-form-field> 
                                    </div>
                                </div>
                      </div>
                      <div class="col-md-12">
                          <div class="row">
                              <div class="col-md-4 colInputHeader verticalEndCenter">
                                Phone no :
                                </div>
                                <div class="col-md-8 colInput">
                                    <mat-form-field appearance="outline" class="borderInput">
                                      <input disabled formControlName="PhoneNo" matInput placeholder="" />
                                      </mat-form-field>
                                    </div>
                                </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                    <div class="col-md-12">
                      <div class="row">
                          <div class="col-md-4 colInputHeader verticalEndCenter">
                            Ticket Req. Date :
                            </div>
                            <div class="col-md-8 colInput">
                                <mat-form-field appearance="outline" class="borderInput">
                                  <input
                                  disabled
                                  formControlName="TicketRequestDate"
                                  matInput
                                  [min]="minDate"
                                  [max]="maxDate"
                                  [matDatepicker]="picker2"
                                />
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                  </mat-form-field>
                                </div>
                            </div>
                  </div>
                  <div class="col-md-12">
                      <div class="row">
                          <div class="col-md-4 colInputHeader verticalEndCenter">
                            Ticket Title :
                            </div>
                            <div class="col-md-8 colInput">
                                <mat-form-field appearance="outline" class="borderInput">
                                  <input disabled formControlName="TicketTitle" matInput placeholder="" />
                                  </mat-form-field> 
                                </div>
                            </div>
                  </div>
                  <div class="col-md-12">
                      <div class="row">
                          <div class="col-md-4 colInputHeader verticalEndCenter">
                            Description :
                            </div>
                            <div class="col-md-8 colInput">
                                <mat-form-field appearance="outline" class="borderInput" disabled>
                                  <textarea
                                  formControlName="Description"
                                    matInput
                                    rows="5"
                                    placeholder=""
                                  ></textarea>
                                  </mat-form-field> 
                                </div>
                            </div>
                  </div>
                  <div class="col-md-12">
                      <div class="row">
                          <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row" *ngFor="let file of Files; let i = index">
                                  <div class="col-md-4 colInputHeader verticalEndCenter" *ngIf="file.DocumentPath">
                                      File {{ i+1 }}:
                                      </div>
                                      <div class="col-md-8 colInput no-margin-right no-padding-right" *ngIf="file.DocumentPath">
                                        <mat-form-field appearance="outline" class="borderInput" (click)="openFile(file.DocumentPath)">
                                            <input matInput disabled='true' [value]="getFileName(file.DocumentPath)">
                                          </mat-form-field>
                                        </div>
                                  </div> 
                              </div>
                            </div>
                          </div>
                            </div>
                  </div>
                  <div class="col-md-12">
                      <div class="row">
                          <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="col-md-4 colInputHeader verticalEndCenter">
                                      Status :
                                      </div>
                                      <div class="col-md-8 colInput no-margin-right no-padding-right">
                                        <mat-form-field appearance="outline" class="borderInput">
                                          <mat-select
                                              [disabled]="(userRole == 7) || (userRole == 9) || (userRole == 19)  ? false : true"
                                              formControlName="status"
                                                placeholder="Select Issue Category"
                                              >
                                              <mat-option
                                              *ngFor="
                                                let status of statusFlags; let itt = index"
                                              [value]="itt+1"
                                              >{{ status[itt+1] }}
                                            </mat-option>
                                            </mat-select>
                                          </mat-form-field>
                                        </div>
                                  </div> 
                              </div>
                            </div>
                          </div>
                            </div>
                  </div>
                </div>
                </div>
            </form>
          </div>
    <!-- <mat-card-footer class="padding verticalMiddleCenter"> -->
      <!-- </mat-card-footer> -->
      
      <div class="historyStrip width100 margin-top">
        History
      </div>

      <!-- Sending Message -->
      <div *ngIf="action == 'reopen' && ifReopen">
        <div class="row width100">
            <div class="col-md-10 offset-1">
              <div class="row">
                <mat-form-field appearance="outline" class="sendingMessage sending">
                  <textarea rows="3"  matInput [formControl]="message" placeholder="Write Your Message"></textarea>
                </mat-form-field>
                </div>
              </div>
              <div class="col-md-1">
              </div>
          </div>
          <div class="row">
              <div class="col-md-8 offset-1">
                <p *ngIf="statusUpdateFile">Image Name: {{ statusUpdateFile.name }}</p>
              </div>
              <div class="col-md-2">
                  <label for="file-input" class="floatRight text-center margin-right-10 no-margin">
                    Attach File
                    <input id="file-input" style="display: none" type="file" (change)="detectFiles($event)" accept=".png, .jpg, .jpeg" >
                  </label>
                </div>
            </div>
      </div>

      <div class="row margin"   *ngIf="action == 'reopen' && ifReopen">
          <div class="primaryFormBtn">
            <button class="" color="theme-red-button" (click)="submit()">Submit</button> 
          </div>
      </div>
      <div *ngIf="roleId =='7'">
        <div class="row width100">
            <div class="col-md-10 offset-1">
              <div class="row">
                <mat-form-field appearance="outline" class="sendingMessage sending">
                  <textarea rows="3"  matInput [formControl]="message" placeholder="Write Your Message"></textarea>
                </mat-form-field>
                </div>
              </div>
              <div class="col-md-1">
              </div>
          </div>
          <div class="row">
              <div class="col-md-8 offset-1">
                <p *ngIf="statusUpdateFile">Image Name: {{ statusUpdateFile.name }}</p>
              </div>
              <div class="col-md-2">
                  <label for="file-input" class="floatRight text-center margin-right-10 no-margin">
                    Attach File
                    <input id="file-input" style="display: none" type="file" (change)="detectFiles($event)" accept=".png, .jpg, .jpeg" >
                  </label>
                </div>
            </div>
      </div>

      <div class="row margin"  *ngIf="roleId =='7'">
          <div class="primaryFormBtn">
            <button class="" color="theme-red-button" (click)="submit()">Submit</button> 
          </div>
      </div>  
        
        
      <hr>

      <div *ngFor="let message of Messages">
        <!-- Recieved Message -->
        <div *ngIf="message.UserName != userToken">
          <div class="row width100">
            <div class="col-md-1">
              </div>
              <div class="col-md-10">
                <div class="row updated_at">
                  <p class="no-margin">Update By {{ message.UserName }} &nbsp;&nbsp; <span class="time"> {{ moment(message.MsgDate).format('DD/MM/YYYY HH:mm A') }}</span></p>
                  </div>
                <div class="row">
                  <div class='sentMessage'>
                    <p>{{ message.TicketMessage }}</p>
                  </div>
                  <!-- <mat-form-field appearance="outline" class="borderInput"> -->
                    <!-- <textarea matInput placeholder="" readonly value="{{ message.TicketMessage }}"></textarea> -->
                  <!-- </mat-form-field> -->
                  </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-8 offset-1">
                <a *ngIf="message.DocumentPath" target="_blank" href="{{message.DocumentPath}}">View File</a>
              </div>
            </div>
        </div>


        <!-- Sent Message -->
        <div *ngIf="message.UserName == userToken">
          <div class="row width100">
              <div class="col-md-10 offset-1">
                <div class="row updated_at text-right">
                    <p class="text-right width100 no-margin"> Update By {{ message.UserName }} &nbsp;&nbsp; <span class="time"> {{ moment(message.MsgDate).format('DD/MM/YYYY HH:mm A') }}</span></p>
                  </div>
                <div class="row">
                  <div class='sentMessage'>
                      <p>{{ message.TicketMessage }}</p>
                    </div>
                  <!-- <mat-form-field appearance="outline" class="sentMessage">
                    <textarea matInput placeholder="" readonly value="{{ message.TicketMessage }}"></textarea>
                  </mat-form-field> -->
                  </div>
                </div>
                <div class="col-md-1">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-8">
                  <a *ngIf="message.DocumentPath" target="_blank" href="{{message.DocumentPath}}">View File</a>
                </div>
              </div>
        </div>
    </div>
    <hr *ngIf="Messages.length > 0">