.vendor_code{
    color: #e33045;
    font-weight: 800;
    padding: 15px 0px 0px 21px;
}
mat-form-field{
    /deep/.mat-form-field-wrapper{
        padding: 0;  
    }
}

.historyStrip{
    background-color: #c1c1c1;
    color: #fff;
    padding: 13px;
    font-size: 20px;
}


.floatRight{
    float: right;
}

.updated_at{
    padding: 5px;
    font-size: 14px;
    font-weight: 600;

    .time{
        font-weight: 200;
    }
}

/deep/.mat-form-field-wrapper{
    border-radius: 5px;
    font-size: 16px;
    
    .mat-form-field-infix{
        padding: 12px 0 12px 0;
        border: none;
    }
}

.sendingMessage{
    /deep/.mat-form-field-wrapper{
        background-color: #feffa075;
        border: 1px solid #ffc107;
    }
}

.sentMessage {
    background-color: #feffa075;
    border: 1px solid #ffc107;
    padding: 10px;
    width: 100%;
    color: #94947a;
    border-radius: 5px;
}

.margin-right-10{
    margin-right: 10px;
}
.close{
    float: right;
    margin-top: -28px;
    margin-right: 15px;
}
// .sending{
//     /deep/ .mat-form-field-wrapper{ 
//                 .mat-form-field-flex :hover{
//                     // border: 1px solid #ffc107;
//                     border: none;
//                     }
//             }
// }