<div class="container-fluid height100 myLibraryPage padding no-padding-bottom">
  <div class="grid">
   <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
          <div class="row width100 verticalCenter">
          <div class="col-md-6">
          <h4 class="no-margin">My Library</h4>
          </div>
          <div class="col-md-6 no-padding">
          <p class="no-margin font-13 width100 flex verticalEndCenter">
          <span class="pointer" routerLink="/dashboard" routerDirection="backward">Home</span> <mat-icon>chevron_right</mat-icon>
          <span class="secondaryMenu">My Library</span> 
          </p>
          </div>
          </div>
          </div>
          <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
              <mat-card class="no-padding mainOuterCardContainer libraryConatinerBlock">
                  <div class="col-md-12 height100">
                      <div class="row height100">
                          <div class="col-md-2 leftMenuPanel height100">
                              <div class="menuCategory">
                                  MY LIBRARY
                                </div>
                              <mat-nav-list class="menuListPanel">
                                  <span *ngIf="this.searchResults.length > 0">
                                     <span>
                                      <mat-list-item class=" noSubmenu" >
                                        <div  fxLayout="row" fxLayoutAlign="space-between center" class="verticalCenter font-13">
                                            <mat-icon class="margin-right-10" svgIcon="folderIcon"></mat-icon>
                                          Search Results
                                        </div>
                                      </mat-list-item>
                                    </span>
                                  </span>
                                  <span *ngFor="let item of folders; let i = index">
                                     <span>
                                      <mat-list-item (click)="getFiles(i)" class=" noSubmenu" >
                                        <div  fxLayout="row" fxLayoutAlign="space-between center" class="verticalCenter font-13">
                                            <mat-icon class="margin-right-10" svgIcon="folderIcon"></mat-icon>
                                          {{item.folder_name}}
                                        </div>
                                      </mat-list-item>
                                    </span>
                                  </span>
                                </mat-nav-list>
                            </div>
                            <div class="col-md-10 rightContentPanel height100 no-padding">
                                <mat-card class="no-shadow no-padding height100">
                                    <mat-card-content class="no-margin height100 ">
                                      <div class="col-md-12 padding height100">
                                        <div class="col referencePanel no-padding height100">
                                            <div class="col-md-5">
                                                <div class="row">
                                                    <div class="col-md-3 colInputHeader verticalCenter font-13">
                                                        Search :
                                                    </div>
                                                    <div class="col-md-9 colInput">
                                                       <mat-form-field appearance="outline" matSuffix="" class="borderInput font-13">
                                                            <input matInput [formControl]="search">
                                                            <mat-icon class="searchIcon" matSuffix>search</mat-icon>
                                                          </mat-form-field>
                                                    </div>
                                                </div>
                                              </div>
                                            <mat-list role="list" class="no-padding  mainListBlock">
                                                <mat-list-item role="listitem" class="font-13 fontW-300 margin-bottom-10 border-radius-3 documentHdr">
                                                    <div class="col-md-1"><p class="no-margin">Type</p></div>
                                                    <div class="col-md-2"><p class="no-margin">Title</p></div>
                                                    <div class="col-md-4"><p class="no-margin">File Name</p></div>
                                                    <div class="col-md-2"><p class="no-margin">File Size</p></div>
                                                    <div class="col-md-2"><p class="no-margin">Created Date</p></div>
                                                    <!-- <div class="col-md-1"><p class="no-margin">Action</p></div> -->
                                                  </mat-list-item>
                                                <div class="outerConatiner" *ngIf="searchResults.length > 0">
                                                  <mat-list-item *ngFor="let file of searchResults" role="listitem" class="font-13 fontW-300 documentList margin-bottom-5 border-radius-3">
                                                  
                                                    <div class="row width100 no-margin">
                                                      <div class="col-md-1">
                                                        <div matTooltip="Excel File" *ngIf="file.File_Type == '.xlsx'"><mat-icon class="margin-right" svgIcon="excelIcon"></mat-icon></div>
                                                        <div matTooltip="Doc File" *ngIf="file.File_Type == '.docs'"><mat-icon class="margin-right" svgIcon="docIcon"></mat-icon></div>
                                                        <div matTooltip="PDF File" *ngIf="file.File_Type == '.pdf'"><mat-icon class="margin-right" svgIcon="pdfIcon"></mat-icon></div>
                                                        <div matTooltip="PNG File" *ngIf="file.File_Type == '.png'"><mat-icon>insert_photo</mat-icon></div>
                                                        <div matTooltip="Jpg File" *ngIf="file.File_Type == '.jpg' || file.File_Type == '.jpeg'"><mat-icon>insert_photo</mat-icon></div>
                                                      </div>
                                                       <div class="col-md-2"><p class="no-margin">{{file.Title}}</p></div>
                                                      <div class="col-md-4"><p class="no-margin docStyle" (click)="view(file.Doc_Link)">{{ file.Doc_Name.split('.').slice(0, -1).join('.') }}</p></div>
                                                      <div class="col-md-2"><p class="no-margin">{{ file.File_Size }} kb</p></div>
                                                      <div class="col-md-2"><p class="no-margin">{{ moment(file.CreatedDate).format('DD/MM/YYYY HH:mm') }}</p></div>
                                                      <!-- <div class="col-md-1 pointerCursor" matTooltip="Download a File" (click)="downloadPdf(file.Doc_Link,'your_pdf_file')">
                                                        <a  href="javascript:void(0)" class="pointerCursor"> <mat-icon svgIcon="downIcon" class="downloadIcon"></mat-icon> </a>
                                                      </div> -->
                                                    </div>
                                                  </mat-list-item>
                                                </div>

                                                <div class="outerConatiner" *ngIf="searchResults.length == 0 && folders[selectedFolder]">
                                                  <mat-list-item *ngFor="let file of folders[selectedFolder].files" role="listitem" class="font-13 fontW-300 documentList margin-bottom-5 border-radius-3">
                                                  
                                                    <div class="row width100 no-margin">
                                                      <div class="col-md-1">
                                                        <div matTooltip="Excel File" *ngIf="file.File_Type == '.xlsx'"><mat-icon class="margin-right" svgIcon="excelIcon"></mat-icon></div>
                                                        <div matTooltip="Doc File" *ngIf="file.File_Type == '.docs'"><mat-icon class="margin-right" svgIcon="docIcon"></mat-icon></div>
                                                        <div matTooltip="PDF File" *ngIf="file.File_Type == '.pdf'"><mat-icon class="margin-right" svgIcon="pdfIcon"></mat-icon></div>
                                                        <div matTooltip="PNG File" *ngIf="file.File_Type == '.png'"><mat-icon>insert_photo</mat-icon></div>
                                                        <div matTooltip="Jpg File" *ngIf="file.File_Type == '.jpg' || file.File_Type == '.jpeg'"><mat-icon>insert_photo</mat-icon></div>
                                                      </div>
                                                       <div class="col-md-2"><p class="no-margin">{{file.Title}}</p></div>
                                                      <div class="col-md-4"><p class="no-margin docStyle" (click)="view(file.Doc_Link)">{{ file.Doc_Name.split('.').slice(0, -1).join('.') }}</p></div>
                                                      <div class="col-md-2"><p class="no-margin">{{ file.File_Size }} kb</p></div>
                                                      <div class="col-md-2"><p class="no-margin">{{ moment(file.CreatedDate).format('DD/MM/YYYY HH:mm') }}</p></div>
                                                      <!-- <div class="col-md-1 pointerCursor"  matTooltip="Download a File" (click)="downloadPdf(file.Doc_Link,'your_pdf_file')">
                                                        <a  href="javascript:void(0)" class="pointerCursor"> <mat-icon svgIcon="downIcon" class="downloadIcon"></mat-icon> </a>
                                                      </div> -->
                                                    </div>
                                                  </mat-list-item>
                                                </div>
                                              </mat-list>
                                        </div>
                                      </div>
                                      
                                      </mat-card-content>
                                      </mat-card>
                              </div>
                      </div>
                    </div>
                </mat-card>
          </div>
    
    <!-- <div class="content-block height100">
      
      <h3 class="header margin-bottom margin-left">My Library</h3>
      <div class="searchBar">
        <div class="row">
          <div class="col-xs-2">
            <p>Search</p>
          </div>
          <div class="col">
            <mat-form-field appearance="outline" matSuffix="" class="borderInput font-13">
                <input matInput [formControl]="search">
                <mat-icon class="searchIcon" matSuffix>search</mat-icon>
              </mat-form-field>
            </div>
          </div>
      </div>

      <div id="content">
        <div id="main-content">
          <mat-tab-group class="customVerticalTab" [(selectedIndex)]="selectedTabIndex">
            <mat-tab *ngIf="searchResults.length != 0">
              <ng-template mat-tab-label>
                  <img src="assets/Icons/myLibrary/Folder.svg">&nbsp;&nbsp;
                  <span>Search Results</span>
              </ng-template>
              <div class="referencePanel">
                    <mat-list role="list" class="no-padding">
                        <mat-list-item role="listitem" class="font-13 fontW-300 margin-bottom-10 border-radius-3 documentHdr">
                            <div class="col-md-1">Type</div>
                            <div class="col-md-2">Title</div>
                            <div class="col-md-4"><p class="no-margin">File Name</p></div>
                            <div class="col-md-2"><p class="no-margin">File Size</p></div>
                            <div class="col-md-2"><p class="no-margin">Created Date</p></div>
                            <div class="col-md-1"><p class="no-margin">Action</p></div>
                          </mat-list-item>
                        <div>
                          <mat-list-item *ngFor="let file of searchResults"  role="listitem" class="font-13 fontW-300 documentList margin-bottom-5 border-radius-3">
                          
                            <div class="row width100" *ngIf="file != 'error'">
                              <div class="col-md-1 cursorStyle" matTooltip="Excel File" *ngIf="file.File_Type == '.xlsx'"><mat-icon class="margin-right" svgIcon="excelIcon"></mat-icon></div>
                              <div class="col-md-1 cursorStyle" matTooltip="Doc File" *ngIf="file.File_Type == '.docs'"><mat-icon class="margin-right" svgIcon="docIcon"></mat-icon></div>
                              <div class="col-md-1 cursorStyle" matTooltip="PDF File" *ngIf="file.File_Type == '.pdf'"><mat-icon class="margin-right" svgIcon="pdfIcon"></mat-icon></div>
                              <div class="col-md-1 cursorStyle" matTooltip="PNG File" *ngIf="file.File_Type == '.png'"><mat-icon>insert_photo</mat-icon></div>
                              <div class="col-md-1 cursorStyle" matTooltip="Jpg File" *ngIf="file.File_Type == '.jpg' || file.File_Type == '.jpeg'"><mat-icon>insert_photo</mat-icon></div>
                              <div class="col-md-2"><p class="no-margin">{{file.Title}}</p></div>
                              <div class="col-md-4" (click)="view(file.Doc_Link)"><p class="no-margin docStyle">{{ file.Doc_Name.split('.').slice(0, -1).join('.') }}</p></div>
                              <div class="col-md-2"><p class="no-margin">{{ file.File_Size }} kb</p></div>
                              <div class="col-md-2"><p class="no-margin">{{moment(file.CreatedDate).format('DD/MM/YYYY HH:mm') }}</p></div>
                              <div class="col-md-1" style="cursor: pointer;" matTooltip="Download a File">
                                <a 
                                href="javascript:void(0)" 
                                style="cursor:pointer"
                                (click)="downloadPdf(file.Doc_Link,'your_pdf_file')">
                                <mat-icon>get_app</mat-icon>
                              </a>
                              </div>
                            </div>
                            <div class="row width100" *ngIf="file == 'error'">
                              <h3 class="text-center width100 opacity6">No Results Found</h3>
                              </div>
                          </mat-list-item>
                        </div>
                      

                      </mat-list>
                    </div>
            </mat-tab>
            <mat-tab *ngFor="let folder of folders">
              <ng-template mat-tab-label>
                  <img src="assets/Icons/myLibrary/Folder.svg">&nbsp;&nbsp;
                  <span>{{ folder.folder_name }}</span>
              </ng-template>
              <div class="referencePanel">
                    <mat-list role="list" class="no-padding">
                        <mat-list-item role="listitem" class="font-13 fontW-300 margin-bottom-10 border-radius-3 documentHdr">
                          <div class="col-md-1">Type</div>
                          <div class="col-md-2">Title</div>
                          <div class="col-md-4"><p class="no-margin">File Name</p></div>
                          <div class="col-md-2"><p class="no-margin">File Size</p></div>
                          <div class="col-md-2"><p class="no-margin">Created Date</p></div>
                          <div class="col-md-1"><p class="no-margin">Action</p></div>
                          </mat-list-item>
                        <div style="max-height:350px;min-height: 150px;overflow:auto;">
                          <mat-list-item *ngFor="let file of folder.files" role="listitem" class="font-13 fontW-300 documentList margin-bottom-5 border-radius-3">

                            <div class="col-md-1 cursorStyle" matTooltip="Excel File" *ngIf="file.File_Type == '.xlsx'"><mat-icon class="margin-right" svgIcon="excelIcon"></mat-icon></div>
                            <div class="col-md-1 cursorStyle" matTooltip="Doc File" *ngIf="file.File_Type == '.docx'"><mat-icon class="margin-right" svgIcon="docIcon"></mat-icon></div>
                            <div class="col-md-1 cursorStyle" matTooltip="PDF File" *ngIf="file.File_Type == '.pdf'"><mat-icon class="margin-right" svgIcon="pdfIcon"></mat-icon></div>
                            <div class="col-md-1 cursorStyle" matTooltip="PNG File" *ngIf="file.File_Type == '.png'"><mat-icon>insert_photo</mat-icon></div>
                            <div class="col-md-1 cursorStyle" matTooltip="Jpg File" *ngIf="file.File_Type == '.jpg'|| file.File_Type == '.jpeg'"><mat-icon>insert_photo</mat-icon></div>
                            <div class="col-md-2"><p class="no-margin">{{file.Title}}</p></div>
                            <div class="col-md-4"  (click)="view(file.Doc_Link)"><p class="no-margin docStyle">{{ file.Doc_Name.split('.').slice(0, -1).join('.') }}</p></div>
                            <div class="col-md-2"><p class="no-margin">{{ file.File_Size }} kb</p></div>
                            <div class="col-md-2"><p class="no-margin">{{moment(file.CreatedDate).format('DD/MM/YYYY HH:mm') }}</p></div>
                            <div class="col-md-1" style="cursor: pointer;" matTooltip="Download a File">
                             
                              <a 
                              href="javascript:void(0)" 
                              style="cursor:pointer"
                              (click)="downloadPdf(file.Doc_Link,'your_pdf_file')">
                              <mat-icon>get_app</mat-icon>
                            </a>
                            </div>
                          </mat-list-item>
  
                        </div>
                      
                      </mat-list>
                    </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
      
    </div> -->
  </div>


</div>
