@import '../../variable.scss';
.myLibraryPage{
    /deep/ {
      .mat-tab-group{
            flex-direction: row;
        
            .mat-tab-header {
                border-bottom: none;
            }
            .mat-tab-header-pagination {
                display: none !important;
            }
            .mat-tab-labels {
                flex-direction: column;

                .mat-tab-label{
                    display: block;
                    width: 200px;
                    padding: 10% 5%;

                    .mat-tab-label-content{
                        float: left;
                    }
                }
            }
            .mat-ink-bar {
                height: 100%;
                left: 98% !important;
            }
            .mat-tab-body-wrapper {
                flex: 1 1 auto;
            }

            .mat-tab-label-active{
                border-right: 2px solid $color-primary-default !important;
                opacity: 1 !important;
                background: #f7f6f6;
                mat-tab-label-content{
                color: $color-foreground-default !important;
                font-weight: 600 !important;
                
                }
        
            }
        }
        .mat-ink-bar{
            display: none !important;
          }
    }
    .nav-breadcrumbs{
        background: #ffffff0a;
        color: #fff;
        padding: 8px;
        border-radius: 5px;
        border: 1px #ffffff30 solid;
        .navigation{
            opacity: 0.8;
        }
    }

    .content-block{
        margin-top: 10px;
        background-color: #fff;
        padding: 15px 0;
        border-radius: 6px;
        height: 100%;

        .header{
            color: #e33045;
        }
    }
    .searchBar{
        width: 325px;
        position: absolute;
        left: 25%;
        top: 70px;

        p{
            margin-top: 0.25rem;
            opacity: 0.6;
        }

        .searchIcon{
            font-weight: bolder;
            font-size: 25px;
            opacity: 0.4;
        }

        .borderInput{
            ::ng-deep .mat-form-field-infix{border-top: 0px !important; padding: 0; bottom: 5px;}
            ::ng-deep .mat-form-field-wrapper{padding-bottom: 0px;}
            }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: rgba(0,0,0,.12); }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{border-width: 1px !important;}
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{border-width: 1px !important;}
        /deep/.mat-select-arrow-wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    
    .referencePanel{
        .documentList{
            box-shadow: 0 1px 3px rgba(0,16,44,.08), 0 2px 4px rgba(0,16,44,.12);
        }
        .documentHdr{
          background: #6f6f6f;
          margin-bottom: 5px !important;
          color: #fff;
        }
        .cursorStyle:hover{
            cursor: pointer;
        }
        .docStyle:hover{
            color: green;
            cursor: pointer;
            text-decoration: underline;
        }
    }

    .opacity6{
        opacity: 0.6;
    }
    
    .libraryConatinerBlock{
        .leftMenuPanel{
            flex: 0 0 18%;
            max-width: 18%;
            border-right: 1px solid #D8D8D8;
            padding: 0px;
            .menuCategory{
              background: $color-white-default;
              color: $color-primary-default;
             display: flex;
              align-items: center;
              padding: 0px 16px;
              border-bottom: 1px solid #D8D8D8;
              height: 10%;
            }
            .menuListPanel{
              height: 90%;
              overflow-y: auto;
              padding-top: 0px;
            }
        mat-list-item.noSubmenu{
              border-bottom: 1px solid #D8D8D8;
              color: #888888;
              mat-icon{
                height: 14px;
                width: 14px;
                color: #888888;
                display: flex;
              }
            }
          }
          .rightContentPanel{
            flex: 0 0 82%;
            max-width: 82%;
            .vertcalAligment{
              margin: .25em 0;
            }
          
            .borderInput{
                    ::ng-deep .mat-form-field-infix{border-top: 0px !important;}
                    ::ng-deep .mat-form-field-wrapper{padding-bottom: 0px;}
                    }
                    /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: rgba(0,0,0,.12); }
                    /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{border-width: 1px !important;}
                    /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{border-width: 1px !important;}
                    /deep/.mat-select-arrow-wrapper{
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    }
                    
                  /deep/.mat-form-field-subscript-wrapper{
                      position: relative;
                      bottom: 30px;
                    }
             }
             .downloadIcon{
              height: 16px !important;
              width: 16px !important;
          } 
          .mainListBlock{
            height: calc(100% - 51px);
            .outerConatiner{
              height: calc(100% - 53px);
              overflow-y: auto;
            }
          }
         
          .mat-form-field-appearance-outline .mat-form-field-suffix{
            top: .50em !important;
          }
          .searchIcon{
            opacity: 0.5;
        }
    }
}