.title{
    background: #E33045;
	color: #fff;
	display: inline-block;
	position: absolute;
	padding: 10px 50px;
	border-radius: 6px;
	left: 50%;
	transform: translateX(-50%);
	top: 4%;
}
.loader1{
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    // display: none; 
    left: 0px;
    right: 0px;
    position: fixed;
    text-align: center;
    z-index:1000000;
    // background-color: #2b2b2bb0;
    background-color: rgba(0,0,0,0.5);
  }
.tcs-form{
    margin: 30px auto 30px;
	width: 900px;
	padding: 20px;
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
	padding-top: 40px;
}
.submit-button{
    padding: 15px 0;
}