<div class="loader1" *ngIf="cs.showSwapLoader">
  <img style="padding:250px 50px" src="./assets/img/loader.gif" />
</div>

<div class="container-fluid CMSLanding padding">
  <div class="grid">
    <!-- <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
          <p class="no-margin font-13 width100 flex">
             <span>Home</span> <mat-icon>chevron_right</mat-icon>
            <span class="secondaryMenu">Landing Content Management</span> 
         </p>
      </div> -->
    <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
      <div class="row width100 verticalCenter">
        <div class="col-md-6">
          <h4 class="no-margin">TCS Survey</h4>
        </div>
        <div class="col-md-6 no-padding">
          <p class="no-margin font-13 width100 flex verticalEndCenter">
            <span
              class="pointer"
              routerLink="/dashboard"
              routerDirection="backward"
              >Home</span
            ><mat-icon>chevron_right</mat-icon>
            <span class="secondaryMenu">TCS Survey</span>
          </p>
        </div>
      </div>
    </div>

    <div
      class="col-md-12 border-radius padding-top no-padding-left no-padding-right"
    >
      <mat-card class="mainOuterCardContainer height100">
        <div class="">
          <h2 class="title text-center">TCS Survey</h2>
          <form [formGroup]=tcsForm class="tcs-form" *ngIf="show">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">
                    <p>Master Vendor Code:</p>
                    <mat-form-field appearance="outline" class="borderInput font-13">
                        <input matInput [value]="ParentVendorCode" placeholder="MasterVendor" readonly="true">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <p>Sub Vendor Code:</p>
                    <mat-form-field appearance="outline" class="borderInput font-13">
                        <input matInput [value]="SubVendorCode" placeholder="Subvendor" readonly="true">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <p>Vendor Name:</p>
                    <mat-form-field appearance="outline" class="borderInput font-13">
                        <input matInput [value]="VendorName" placeholder="VendorName" readonly="true">
                    </mat-form-field>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-6">
                      <p class="required-field">PAN:</p>
                      <mat-form-field appearance="outline" class="borderInput font-13">
                        <input maxlength="10" matInput appInputListener formControlName="PAN" placeholder="PAN">
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <p class="required-field">TAN:</p>
                        <mat-form-field appearance="outline" class="borderInput font-13">
                            <input maxlength="10" matInput appInputListener formControlName="TAN" placeholder="TAN">
                        </mat-form-field>
                      </div>
                      <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                              <div class="">
                                <label class="required-field">Is your Turnover exceeding Rs 10 crore in preceding year 2019-2020?</label>
                              </div>
                              <div class="">
                                <mat-radio-group aria-label="Select an option" formControlName="q1">
                                    <mat-radio-button value="true" class="col-md-3">Yes</mat-radio-button>
                                    <mat-radio-button value="false" class="col-md-3">No</mat-radio-button>
                                  </mat-radio-group>
                                </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-12">
                        <div class="row">
                            <!-- <div class="col-md-7">
                            </div> -->
                            <div class="col-md-12">
                              <div class="">
                                <label class="required-field">Will you be charging TCS on invoices raised to M&M Ltd w.e.f 01.10.20?</label>
                              </div>
                              <div class="">
                                <mat-radio-group aria-label="Select an option" formControlName="q2">
                                    <mat-radio-button value="true" class="col-md-3">Yes</mat-radio-button>
                                    <mat-radio-button value="false" class="col-md-3">No</mat-radio-button>
                                  </mat-radio-group>
                                </div>
                             </div>
                          </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                              <p>Remarks</p>
                              <mat-form-field appearance="outline" class="borderInput font-13">
                                <textarea maxlength="500" matInput rows="3" formControlName="remark"></textarea>
                              </mat-form-field>
                              </div>
                          </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4 offset-4">
                          <button (click)="submit()" class="submit-button" color="theme-red-button">Submit</button>
                        </div>
                    </div>
                    </div>
                  </div>
              </form>
              <div *ngIf="!show">
                <h3 class="text-center" style="color: #E33045">No Survey Available</h3>
                </div>                
            </div>
        </mat-card>
      </div>
    </div>
  </div>