.usageAnalytic{
    .mainOuterContainer{
        background: #F0F0F0;
         .leftBlock{
             overflow-y: auto;
            mat-card{
                mat-card-header{
                    position: relative;
                    margin-bottom: 16px;
                    /deep/.mat-card-header-text{
                        margin: 0px;
                    }
                    mat-card-title{
                         margin-bottom: 0px;
                         font-size: 16px;
                         color: #353232;
                    }
                    .mat-icon{
                        position: absolute;
                        right: 0;
                        opacity: 0.3;
                        height: 20px;
                        width: 20px;
                        cursor: pointer;
                       display: flex;
                       margin-bottom: 10px;
                    }
            }
            }
            .upperRow{
                mat-card {
                    height: 120px;
                    .boxBg{
                        background-image: url(/assets/img/usageAnalytics/boxbg2.png);
                        height: 14vh;
                        width: 11vw;
                        background-size: 100% 100%;
                        position: absolute;
                        right: 0px;
                        bottom: 0px;
                    }
                    mat-card-header{
                    padding: 10px 16px !important;
                    margin-bottom: 0px !important;
                    mat-card-title{
                        color: #fff;
                        font-size: 13px !important;
                    }
                    .mat-icon{
                        opacity: 1 !important;
                        right: 16px !important;
                    }
                }
                mat-card-content{
                    width: 100%;
                    height: calc(100% - 39px);
                    .infoConatiner{
                        height: 10vh;
                        position: absolute;
                        width: 100%;
                        bottom: 0px;
                        .imgContainer{
                            position: absolute;
                            bottom: 0px;
                        }
                        .infoContent{
                            font-size: 18px;
                            z-index: 2;
                            padding-top: 20px;
                        }
                    }
                   
                }
                .circle{
                    position: absolute;
                    border-radius: 50%;
                    background: #fff;
                    animation: ripple 15s infinite;
                    box-shadow: 0px 0px 1px 0px #508fb9;
                }
                .small{
                    width: 40px;
                    height: 40px;
                    right: -20px;
                    bottom: -20px;
                }
                .medium{
                    width: 60px;
                    height: 60px;
                    right: -30px;
                    bottom: -30px;
                }
                .large{
                    width: 80px;
                    height: 80px;
                    right: -40px;
                    bottom: -40px;
                }
                .xlarge{
                    width: 100px;
                    height: 100px;
                    right: -50px;
                    bottom: -50px;
                }
                .xxlarge{
                    width: 120px;
                    height: 120px;
                    right: -60px;
                    bottom: -60px;
                }
                .shade1{
                    opacity: 0.2;
                }
                .shade2{
                    opacity: 0.5;
                }
                .shade3{
                    opacity: 0.7;
                }
                .shade4{
                    opacity: 0.8;
                }
                .shade5{
                    opacity: 0.9;
                }
                @keyframes ripple {
                   0% {
                       transform: scale(0.8);
                    } 
                    50% {
                        transform: scale(1.2);
                     } 
                     100% {
                        transform: scale(0.8);
                     } 
                }
                $color: #65ff78;
                // .circle-ripple {
                //     background-color: #35ffc3;
                //     width: 1em;
                //     height: 1em;
                //     border-radius: 50%;
                //     animation: ripple 0.7s linear infinite;
                //   }
                  
                //   @keyframes ripple {
                //     0% {
                //       box-shadow: 0 0 0 0 rgba($color, 0.3),
                //                   0 0 0 1em rgba($color, 0.3),
                //                   0 0 0 3em rgba($color, 0.3),
                //                   0 0 0 5em rgba($color, 0.3);
                //     }
                //     100% {
                //       box-shadow: 0 0 0 1em rgba($color, 0.3),
                //                   0 0 0 3em rgba($color, 0.3),
                //                   0 0 0 5em rgba($color, 0.3),
                //                   0 0 0 8em rgba($color, 0);
                //     }
                //   }
            }
              .yellowBg{background: #FFD266; .infoContent{ color: #986B00; }
              .ReportsBg{background: #FFD266; .infoContent{ color: #986B00; }
              mat-card-header{  mat-card-title{  color: #986B00 !important;}}}}
              .redBg{background: #FD4D5C; .infoContent{ color: #FD4D5C; }}    
              .blueBg{background: #0EB1D8; .infoContent{ color: #0EB1D8; }}    
            }
            .middleRow{
                .browserUsageCard{
                    height: 250px;
                    mat-card-content{
                        height: calc(100% - 40px);
                        color: #B7B7B7;
                        .usageLogo{
                            background-size: 100% 100%;
                            height: 30px;
                            width: 30px;
                        }
                        .crome{background-image: url(/assets/img/usageAnalytics/001-chrome1.png);}
                        .mozilla{background-image: url(/assets/img/usageAnalytics/002-mozilla1.png);}
                        .intExplorer{background-image: url(/assets/img/usageAnalytics/003-explorer1.png);}
                        .others{background-image: url(/assets/img/usageAnalytics/internet1.svg);}
                        .statusChip{
                            border-radius: 20px;
                            color: #fff;
                            text-align: center;
                            width: 100%;
                            padding: 2px;
                        }
                        .high{ background: #9CD2AB;}
                        .medium{ background: #EDBD01;}
                        .low{ background: #FFA62F;}
                        .other{background: #fd4d5c;}
                            .margin-bottom-20{
                            margin-bottom:20px !important;
                            }
                                        }
                }
            }
            .bottomRow{
                mat-card{
                    mat-card-content{
                        p{
                            color: #9D9D9D;
                        .mat-icon{
                            height: 15px;
                            width: 15px;
                            font-size: 15px;
                        }
                        }
                    }
                }
                mat-card.minHeight { min-height: 245px; }
            }
            }
            .rightBlock{
                .mainCard{
                    mat-card-header.mainCardHdr{
                        border-bottom: 1px solid #E2E2E2;
                        padding: 12px 16px;
                        /deep/.mat-card-header-text{
                            margin: 0px;
                        }
                        mat-card-title{
                            margin-bottom: 0px;
                             font-size: 16px;
                             color: #0EB1D8;
                        }
                    }
                    .mainCardConatiner{
                        min-height: 150px;
                       // height: calc(100% - 49px);
                        // overflow-y: auto;
                    }
                    .infoCard{
                        border-bottom: 1px solid #F0F0F0;
                        padding-bottom: 10px !important;
                        mat-card-header{
                            padding: 10px 10px 0px 10px;

                            /deep/.mat-card-header-text{
                                margin: 0px;
                            }
                            mat-card-title{
                                margin-bottom: 0px;
                                 font-size: 14px;
                                 color: #353232;
                            }
                            .mat-icon{
                                position: absolute;
                                right: 0;
                                opacity: 0.3;
                                height: 20px;
                                width: 20px;
                                cursor: pointer;
                            }
                    }
                }
            }
}
.heightAuto{
    height: auto;
}
}
.height100{height: 100% !important;}

}
.surveyData{
    margin: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px #d0d0d0 solid;
}