<div class="container-fluid padding usageAnalytic">
  <div class="grid">
    <!-- BREAD CRUMB START -->
    <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
      <div class="row width100 verticalCenter">
        <div class="col-md-6">
          <h4 class="no-margin">Usage Analytics</h4>
        </div>
        <div class="col-md-6 no-padding">
          <p class="no-margin font-13 width100 flex verticalEndCenter">
            <span class="pointer" routerLink="/adminDashboard" routerDirection="backward">Home</span>
            <mat-icon>chevron_right</mat-icon>
            <span class="secondaryMenu">Usage Analytics</span>
          </p>
        </div>
      </div>
    </div>
    <!-- BREAD CRUMB END -->
    <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
      <mat-card class="no-padding mainOuterContainer">
        <div class="row no-margin height100">
          <div class="col-md-9 padding height100">
            <div class="leftBlock height100">
              <div class="row no-margin margin-bottom upperRow">
                <div class="col-md-4 no-padding-left">
                    <mat-card class="yellowBg no-padding">
                      <!-- Analytics reports start -->
                        <mat-card-header class="verticalCenter">
                            <mat-card-title>Analytics Report</mat-card-title>
                            <mat-icon svgIcon="boxarrowright" (click)="openanalyticsreports()"></mat-icon>
                        </mat-card-header>
                        <mat-card-content>
                          <div class="row no-margin infoConatiner">
                            <div class="col-md-6 verticalMiddleCenter">
                              <div class="imgContainer">
                                <img src="assets/img/usageAnalytics/TotalNumberofUser.svg">
                              </div>
                            </div>
                            <div class="col-md-6 verticalEndCenter">
                              <div class="infoContent">
                                <p class="no-margin">Reports</p>
                              </div>
                            </div>
                            <div class="boxBg"></div>
                          </div>
                        </mat-card-content>
                      </mat-card>
                  <!-- Total Number of Users START -->
                  <!-- <mat-card class="yellowBg no-padding">
                    <mat-card-header class="verticalCenter">
                      <mat-card-title>Total Number of Users</mat-card-title>
                      <mat-icon svgIcon="boxarrowright" (click)="openTotalUsers()"></mat-icon>
                    </mat-card-header>
                    <mat-card-content>
                      <div class="row no-margin infoConatiner">
                        <div class="col-md-6 verticalMiddleCenter">
                          <div class="imgContainer">
                            <img src="assets/img/usageAnalytics/TotalNumberofUser.svg">
                          </div>
                        </div>
                        <div class="col-md-6 verticalEndCenter">
                          <div class="infoContent">
                            <p class="no-margin">{{statusData?.TotalUser}}</p>
                          </div>
                        </div>
                        <div class="boxBg"></div>
                      </div>
                    </mat-card-content>
                  </mat-card> -->
                  <!-- Total Number of Users END -->
                </div>
                <div class="col-md-4 no-padding-right">
                  <!-- Total Of Unique Visitors START -->
                  <mat-card class="redBg no-padding">
                    <mat-card-header class="verticalCenter">
                      <mat-card-title>Total Of Unique Visitors </mat-card-title>
                      <mat-icon svgIcon="boxarrowright" (click)="openUniqueVisitors()"></mat-icon>
                    </mat-card-header>
                    <mat-card-content>
                      <div class="row no-margin infoConatiner">
                        <div class="col-md-6 verticalMiddleCenter">
                          <div class="imgContainer">
                            <img src="assets/img/usageAnalytics/Totalofuniquevisitors.svg">
                          </div>
                        </div>
                        <div class="col-md-6 verticalEndCenter">
                          <div class="infoContent">
                            <p class="no-margin">{{statusData?.TotalUniqueUser}}</p>
                          </div>
                        </div>
                        <div class="boxBg"></div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                  <!-- Total Of Unique Visitors END -->
                </div>
                <div class="col-md-4 no-padding-right">
                  <!-- Users Not Logged In For 30 days START -->
                  <mat-card class="blueBg no-padding">
                    <mat-card-header class="verticalCenter">
                      <mat-card-title>Users Not Logged In For 30 days</mat-card-title>
                      <mat-icon svgIcon="boxarrowright" (click)="noUsersLogged()"></mat-icon>
                    </mat-card-header>
                    <mat-card-content>
                      <div class="row no-margin infoConatiner">
                        <div class="col-md-6 verticalMiddleCenter">
                          <div class="imgContainer">
                            <img src="assets/img/usageAnalytics/for30days.svg">
                          </div>
                        </div>
                        <div class="col-md-6 verticalEndCenter">
                          <div class="infoContent">
                            <p class="no-margin">{{statusData?.NotLoggedIn30Days}}</p>
                          </div>
                        </div>
                        <div class="boxBg"></div>
                      </div>
                      <!-- <div class="ripple-background">
                                              <div class="circle xxlarge shade1"></div>
                                              <div class="circle xlarge shade2"></div>
                                              <div class="circle large shade3"></div>
                                              <div class="circle medium shade4"></div>
                                              <div class="circle small shade5"></div>
                                            </div> -->
                    </mat-card-content>

                  </mat-card>
                  <!-- Users Not Logged In For 30 days END -->
                </div>
              </div>
              <div class="row no-margin margin-bottom middleRow">
                <div class="col-md-8 no-padding-right no-padding-left">
                  <!-- Peak Usage Time START -->
                  <mat-card class="browserUsageCard">
                    <mat-card-header class="verticalCenter">
                      <mat-card-title>Peak Usage Time</mat-card-title>
                      <!-- <mat-icon svgIcon="arrowIcon"></mat-icon> -->
                    </mat-card-header>
                    <mat-card-content>
                      <div class="row no-margin height100">
                        <div class="col-md-12 no-padding">
                          <div id="columnChartdiv" class="height100"></div>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                  <!-- Peak Usage Time END -->
                </div>
                <!-- Browser Usage START -->
                <div class="col-md-4 no-padding-right">
                  <mat-card class="browserUsageCard">
                    <mat-card-header class="verticalCenter">
                      <mat-card-title>Browser Usage</mat-card-title>
                      <!-- <mat-icon svgIcon="arrowIcon"></mat-icon> -->
                    </mat-card-header>
                    <mat-card-content>
                      <div class="row no-margin margin-bottom-20 ">
                        <div class="col-md-2 no-padding">
                          <div class="usageLogo crome"></div>
                        </div>
                        <div class="col-md-7 verticalCenter">
                          <p class="no-margin font-13">Google Chrome</p>
                        </div>
                        <div class="col-md-3 no-padding verticalCenter">
                          <div class="statusChip high">{{statusData && BrowserDetails ? BrowserDetails[0].BROWSERUSAGE : 'NA' }}%</div>
                        </div>
                      </div>
                      <div class="row no-margin margin-bottom-20">
                        <div class="col-md-2 no-padding">
                          <div class="usageLogo mozilla"></div>
                        </div>
                        <div class="col-md-7 verticalCenter">
                          <p class="no-margin font-13">Firefox</p>
                        </div>
                        <div class="col-md-3 no-padding verticalCenter">
                          <div class="statusChip medium">{{statusData && BrowserDetails ? BrowserDetails[1].BROWSERUSAGE : 'NA'}}%</div>
                        </div>
                      </div>
                      <div class="row no-margin margin-bottom-20">
                        <div class="col-md-2 no-padding">
                          <div class="usageLogo intExplorer"></div>
                        </div>
                        <div class="col-md-7 verticalCenter">
                          <p class="no-margin font-13">Internet Explorer</p>
                        </div>
                        <div class="col-md-3 no-padding verticalCenter">
                          <div class="statusChip low">{{statusData && BrowserDetails ? BrowserDetails[2].BROWSERUSAGE : 'NA'}}%</div>
                        </div>
                      </div>
                      <div class="row no-margin margin-bottom-20">
                        <div class="col-md-2 no-padding">
                          <div class="usageLogo others"></div>
                        </div>
                        <div class="col-md-7 verticalCenter">
                          <p class="no-margin font-13">Other</p>
                        </div>
                        <div class="col-md-3 no-padding verticalCenter">
                          <div class="statusChip other">{{statusData && BrowserDetails ? BrowserDetails[3].BROWSERUSAGE : 'NA' }}%</div>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
                <!-- Browser Usage END -->
              </div>

              <div class="row no-margin bottomRow">
                <div class="col-md-6 no-padding-right no-padding-left">
                  <!-- Top Five Reports START -->
                  <mat-card class="">
                    <mat-card-header class="verticalCenter">
                      <mat-card-title>Top Five Reports</mat-card-title>
                      <mat-icon svgIcon="arrowIcon" (click)="openReports()"></mat-icon>
                    </mat-card-header>
                    <mat-card-content>
                      <div class="row no-margin">
                        <div class="col-md-6">
                          <div class="verticalCenter height100">
                            <img src="assets/img/usageAnalytics/fivereports.svg" class="height100 width100">
                          </div>
                        </div>
                        <div class="col-md-6 no-padding">
                          <div>
                            <!-- <p class="font-13 verticalCenter">
                              <mat-icon class="margin-right-10">adjust</mat-icon>ASN Performance
                            </p>
                            <p class="font-13 verticalCenter">
                              <mat-icon class="margin-right-10">adjust</mat-icon>VA Inventory
                            </p>
                            <p class="font-13 verticalCenter">
                              <mat-icon class="margin-right-10">adjust</mat-icon>OMR
                            </p>
                            <p class="font-13 verticalCenter">
                              <mat-icon class="margin-right-10">adjust</mat-icon>Change Management Supplier
                            </p>
                            <p class="font-13 verticalCenter">
                              <mat-icon class="margin-right-10">adjust</mat-icon>R&IR
                            </p> -->
                            <p class="font-13 verticalCenter" *ngFor="let report of T5Reports">
                              <mat-icon class="margin-right-10">adjust</mat-icon>{{report.MODULE}}
                            </p>
                          </div>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                  <!-- Top Five Reports END -->
                </div>
                              
                <div class="col-md-6 no-padding-right">
                  <!-- Top Five Transaction Start -->
                  <mat-card class="minHeight">
                    <mat-card-header class="verticalCenter">
                      <mat-card-title>Top Five Transaction</mat-card-title>
                      <mat-icon svgIcon="arrowIcon" (click)="openTransaction()"></mat-icon>
                    </mat-card-header>
                    <mat-card-content>
                      <div class="row no-margin">
                        <div class="col-md-6">
                          <div class="verticalCenter height100">
                            <img src="assets/img/usageAnalytics/topfivwtransaction.svg" class="height100 width100">
                          </div>
                        </div>
                        <div class="col-md-6 no-padding">
                          <div>
                            <!-- <p class="font-13 verticalCenter">
                              <mat-icon class="margin-right-10">adjust</mat-icon>BS4 Inventory Upload
                            </p>
                            <p class="font-13 verticalCenter">
                              <mat-icon class="margin-right-10">adjust</mat-icon>Upload COP
                            </p>
                            <p class="font-13 verticalCenter">
                              <mat-icon class="margin-right-10">adjust</mat-icon>Change Management
                            </p>
                            <p class="font-13 verticalCenter">
                              <mat-icon class="margin-right-10">adjust</mat-icon>Self Service
                            </p> 
                            <p class="font-13 verticalCenter">
                              <mat-icon class="margin-right-10">adjust</mat-icon>ICA Updation
                            </p> -->

                            <p class="font-13 verticalCenter"
                              *ngFor="let transaction of T5Transactions">
                              <mat-icon class="margin-right-10">adjust</mat-icon>{{transaction.MODULE}}
                            </p>
                          </div>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                  <!-- Top Five Transaction End -->
                </div>
                <!-- <div class="col-md-4 no-padding-right"> -->
                    <!-- <mat-card class="redBg no-padding"> -->
                  <!-- Analytics Report Start -->
                  <!-- <mat-card class="minHeight">
                    <mat-card-header class="verticalCenter">
                      <mat-card-title>Analytics Report</mat-card-title>
                      <mat-icon svgIcon="arrowIcon" (click)="openanalyticsreports()"></mat-icon>
                    </mat-card-header>
                    <mat-card-content>
                      <div class="row no-margin infoConatiner">
                        <div class="col-md-6 verticalMiddleCenter">
                          <div class="imgContainer">
                            <img src="assets/img/usageAnalytics/TotalNumberofUser.svg">
                          </div>
                        </div>
                        <div class="col-md-6 no-padding">
                          <div>
                            <p class="font-13 verticalCenter">
                              Text Block
                            </p>
                          </div>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card> -->
                  <!-- Analytics Reports End -->
                <!-- </div> -->
              </div>
            </div>
          </div>
          
          <div class="col-md-3 no-padding height100 heightAuto">
            <div class="rightBlock height100">
              <!-- SURVEY ANALYTICS START -->
              <mat-card class="no-padding height100 no-shadow mainCard">
                <mat-card-header class="mainCardHdr">
                  <mat-card-title>SURVEY ANALYTICS</mat-card-title>
                </mat-card-header>
                <mat-card-content class="mainCardConatiner">
                  <div class="row" *ngFor="let survey of MySyCompleted">
                    <div class="col-md-12 text-center">
                      <h2><b>{{ survey.SurveyTitle }}</b></h2>
                      <div class="row surveyData">
                        <div class="col-md-4">
                          <b>COMPLETED</b>: {{ survey.MYSYCOMPLETED }}
                        </div>
                        <div class="col-md-4">
                          <b>PENDING</b>: {{ survey.MYSPENDING }}
                        </div>
                        <div class="col-md-4">
                          <b>TOTAL</b>: {{ survey.AssignCount }}
                        </div>
                        <hr>
                      </div>
                      </div>
                  </div>
                  <!-- <div class="col">
                    <mat-card class="no-shadow infoCard no-padding">
                      <mat-card-header class="verticalCenter">
                        <mat-card-title>My Survey</mat-card-title>
                        <mat-icon svgIcon="arrowIcon"></mat-icon>
                      </mat-card-header>
                      <mat-card-content>
                        <div class="row no-margin">
                          <div class="col-md-12 no-padding">
                            <div id="chartdiv" class="height100"></div>
                          </div>
                        </div>
                      </mat-card-content>
                    </mat-card>
                  </div> -->
                </mat-card-content>
              </mat-card>
              <!-- SURVEY ANALYTICS END -->

              <!--SSISYCompletedDetails START -->

              <!-- <mat-card class="no-padding height100 no-shadow mainCard"> -->
                <!-- <mat-card-header class="mainCardHdr">
                  <mat-card-title>SURVEY ANALYTICS 1</mat-card-title>
                </mat-card-header> -->
                <!-- <mat-card-content class="mainCardConatiner">
                  <div class="col">
                    <mat-card class="no-shadow infoCard no-padding">
                      <mat-card-header class="verticalCenter">
                        <mat-card-title>My Survey</mat-card-title>
                        <mat-icon svgIcon="arrowIcon"></mat-icon>
                      </mat-card-header>
                      <mat-card-content>
                        <div class="row no-margin">
                          <div class="col-md-12 no-padding">
                            <div id="chartdiv1" class="height100"></div>
                          </div>
                        </div>
                      </mat-card-content>
                    </mat-card>
                  </div>
                </mat-card-content>
              </mat-card> -->

              <!-- SSISYCompletedDetails END -->

              <!--SFASCompletedDetails START -->

              <!-- <mat-card class="no-padding height100 no-shadow mainCard"> -->
                <!-- <mat-card-header class="mainCardHdr">
                  <mat-card-title>SURVEY ANALYTICS 2</mat-card-title>
                </mat-card-header> -->
                <!-- <mat-card-content class="mainCardConatiner">
                  <div class="col">
                    <mat-card class="no-shadow infoCard no-padding">
                      <mat-card-header class="verticalCenter">
                        <mat-card-title>My Survey</mat-card-title>
                        <mat-icon svgIcon="arrowIcon"></mat-icon>
                      </mat-card-header>
                      <mat-card-content>
                        <div class="row no-margin">
                          <div class="col-md-12 no-padding">
                            <div id="chartdiv2" class="height100"></div>
                          </div>
                        </div>
                      </mat-card-content>
                    </mat-card>
                  </div>
                </mat-card-content>
              </mat-card> -->

              <!-- SFASCompletedDetails END -->

              <!--BSCRPCompletedDetails START -->

              <!-- <mat-card class="no-padding height100 no-shadow mainCard"> -->
                <!-- <mat-card-header class="mainCardHdr">
                  <mat-card-title>SURVEY ANALYTICS 3</mat-card-title>
                </mat-card-header> -->
                <!-- <mat-card-content class="mainCardConatiner">
                  <div class="col">
                    <mat-card class="no-shadow infoCard no-padding">
                      <mat-card-header class="verticalCenter">
                        <mat-card-title>My Survey</mat-card-title>
                        <mat-icon svgIcon="arrowIcon"></mat-icon>
                      </mat-card-header>
                      <mat-card-content>
                        <div class="row no-margin">
                          <div class="col-md-12 no-padding">
                            <div id="chartdiv3" class="height100"></div>
                          </div>
                        </div>
                      </mat-card-content>
                    </mat-card>
                  </div>
                </mat-card-content>
              </mat-card> -->

              <!-- BSCRPCompletedDetails END -->
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>