<div class="container-fluid selfAssessment padding" style="overflow-y: hidden;">
    <div class="grid">
        <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
            <div class="row width100 verticalCenter">
            <div class="col-md-6">
            <h4 class="no-margin">Self Assessment</h4>
            </div>
            <div class="col-md-6 no-padding">
            <p class="no-margin font-13 width100 flex verticalEndCenter">
              <span class="pointer" [routerLink]="roleId == '7' ? '/adminDashboard' : '/dashboard'" routerDirection="backward">Home</span><mat-icon>chevron_right</mat-icon>
              <span class="pointer" [routerLink]="roleId == '7' ? '/adminDashboard' : '/dashboard'" routerDirection="backward">My Risk Profile</span><mat-icon>chevron_right</mat-icon>
            <span class="secondaryMenu">Self Assessment</span> 
            </p>
            </div>
            </div>
            </div>
        <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
            <mat-card  class="no-padding mainOuterCardContainer">
              <div class="col-md-12 height100">
                <div class="row height100">
                  <div class="col-md-2 leftMenuPanel">
                    <div class="menuCategory">
                      CATEGORY
                    </div>
                    <mat-nav-list class="no-padding" style="    height: 83% !important;
                    overflow-y: scroll;">
                      <span *ngFor="let item of menu ; let i = index">
                       <span>
                          <mat-list-item (click)="changeViewTo(item.CategoryName,i)" class="noSubmenu" [class.active]="selectedIndex == i">
                            <!-- Entradas principales -->
                            <div fxLayout="row" fxLayoutAlign="space-between center" class="verticalCenter font-13 menuRow">
                              <span>{{ item.CategoryName }}</span>
                            </div>
                            <mat-icon *ngIf="item.error == false" matSuffix class="margin-right-10 serveyStatus flex" svgIcon="checkIcon"></mat-icon>
                            <mat-icon *ngIf="item.error == true" matSuffix class="margin-right-10 serveyStatus flex error" color="red">close</mat-icon>
                          </mat-list-item>
                        </span>
                      </span>
                      <mat-list-item (click)="goToTier2N3()" class="bottomMenu">
                           <div fxLayout="row" fxLayoutAlign="space-between center" class="verticalCenter font-13 menuRow">
                           Supplier Tier 2/3 Info
                          </div>
                        </mat-list-item>
                    </mat-nav-list>
                  </div>
                  <div class="col-md-10 rightContentPanel no-padding height100">
                    <mat-card class="no-shadow no-padding height100">
                      <mat-card-content #questions class="no-margin padding">
                        <div *ngIf="error" class="text-center">
                          {{ error }}
                        </div>
                        <div class="col no-padding" *ngFor="let item of menu; let menuItemItt = index">
                          <div [ngClass]="item.CategoryName == this.activeMenuItem ? '': 'hidden'">
                            <mat-card class="margin-bottom-10 no-shadow no-padding" style="display:none;">
                              <div class="row">
                                <div class="col-md-12">
                                  <h3 class="themePrimaryColor">Supplier Tier 2/3 Info</h3>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4 colInputHeader verticalEndCenter">
                                          Vendor Name :
                                          </div>
                                          <div class="col-md-8 colInput">
                                              <mat-form-field appearance="outline" class="borderInput">
                                                  <input matInput placeholder="">
                                                </mat-form-field> 
                                              </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 colInputHeader verticalEndCenter">
                                          Vendor Size :
                                          </div>
                                          <div class="col-md-8 colInput">
                                              <mat-form-field appearance="outline" class="borderInput">
                                                  <mat-select   placeholder="Select Issue Category">
                                                    <mat-option value="1">Productivity </mat-option>
                                                    <mat-option value="2">Cost </mat-option>
                                                    <mat-option value="3">Quality </mat-option>
                                                    <mat-option value="4">Delivery morale </mat-option>
                                                    <mat-option value="5">Safety </mat-option>
                                                    <mat-option value="6">Sustainability </mat-option>
                                                  </mat-select>
                                                  </mat-form-field> 
                                              </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 colInputHeader verticalEndCenter">
                                          Vendor Tier :
                                          </div>
                                          <div class="col-md-8 colInput">
                                              <mat-form-field appearance="outline" class="borderInput">
                                                  <mat-select   placeholder="Select Issue Category">
                                                    <mat-option value="1">Productivity </mat-option>
                                                    <mat-option value="2">Cost </mat-option>
                                                    <mat-option value="3">Quality </mat-option>
                                                    <mat-option value="4">Delivery morale </mat-option>
                                                    <mat-option value="5">Safety </mat-option>
                                                    <mat-option value="6">Sustainability </mat-option>
                                                  </mat-select>
                                                  </mat-form-field> 
                                              </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 colInputHeader verticalEndCenter">
                                          Address :
                                          </div>
                                          <div class="col-md-8 colInput">
                                              <mat-form-field appearance="outline" class="borderInput">
                                                  <input matInput placeholder="">
                                                </mat-form-field> 
                                              </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 colInputHeader verticalEndCenter">
                                          </div>
                                          <div class="col-md-8 colInput">
                                              <mat-form-field appearance="outline" class="borderInput">
                                                  <input matInput placeholder="">
                                                </mat-form-field> 
                                              </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4 colInputHeader verticalEndCenter">
                                          City :
                                          </div>
                                          <div class="col-md-8 colInput">
                                              <mat-form-field appearance="outline" class="borderInput">
                                                  <input matInput placeholder="">
                                                </mat-form-field> 
                                              </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 colInputHeader verticalEndCenter">
                                          State :
                                          </div>
                                          <div class="col-md-8 colInput">
                                              <mat-form-field appearance="outline" class="borderInput">
                                                  <input matInput placeholder="">
                                                </mat-form-field> 
                                              </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 colInputHeader verticalEndCenter">
                                          Country :
                                          </div>
                                          <div class="col-md-8 colInput">
                                              <mat-form-field appearance="outline" class="borderInput">
                                                  <input matInput placeholder="">
                                                </mat-form-field> 
                                              </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 colInputHeader verticalEndCenter">
                                          Postal / Zip Code :
                                          </div>
                                          <div class="col-md-8 colInput">
                                              <mat-form-field appearance="outline" class="borderInput">
                                                  <input matInput placeholder="">
                                                </mat-form-field> 
                                              </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 colInputHeader verticalEndCenter">
                                          City :
                                          </div>
                                          <div class="col-md-8 colInput">
                                              <mat-form-field appearance="outline" class="borderInput">
                                                  <input matInput placeholder="">
                                                </mat-form-field> 
                                              </div>
                                    </div>
                                </div>
                              </div>
                             </mat-card>
                          <div>
                            <mat-card class="surveyQuestCard margin-bottom-10" *ngFor="let question of item.listQuest; let itt = index">
                                <div class="col no-padding" [id]="itt == 1 ? up : ''">
                                    <p class="font-14 fontW-500  margin-bottom-10">{{ question.questionNo }}. {{ question.QuestionName }} <span *ngIf="question.ISREQUIRED == true" style="color: red;">*</span></p>
                                    <div class="">
                                        <mat-radio-group  (change)="radioChange($event,question.questionNo,question.answer,question.APPLICABLETO,question)" [formControl]="question.answer" aria-label="Select an option" class="radioConatiner">
                                            <mat-radio-button *ngIf="question.OPTEXT0" value="{{ question.OPTRATING0 }}@-@{{ question.OPTEXT0 }}" class="no-margin-left">{{ question.OPTEXT0 }}</mat-radio-button>
                                            <mat-radio-button *ngIf="question.OPTEXT1" value="{{ question.OPTRATING1 }}@-@{{ question.OPTEXT1 }}" class="no-margin-left">{{ question.OPTEXT1 }}</mat-radio-button>
                                            <mat-radio-button *ngIf="question.OPTEXT2" value="{{ question.OPTRATING2 }}@-@{{ question.OPTEXT2 }}" class="no-margin-left">{{ question.OPTEXT2 }}</mat-radio-button>
                                            <mat-radio-button *ngIf="question.OPTEXT3" value="{{ question.OPTRATING3 }}@-@{{ question.OPTEXT3 }}" class="no-margin-left">{{ question.OPTEXT3 }}</mat-radio-button>
                                            <mat-radio-button *ngIf="question.OPTEXT4" value="{{ question.OPTRATING4 }}@-@{{ question.OPTEXT4 }}" class="no-margin-left">{{ question.OPTEXT4 }}</mat-radio-button>
                                            <mat-radio-button *ngIf="question.OPTEXT5" value="{{ question.OPTRATING5 }}@-@{{ question.OPTEXT5 }}" class="no-margin-left">{{ question.OPTEXT5 }}</mat-radio-button>
                                          </mat-radio-group>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-7">
                                          <mat-form-field appearance="outline" class="borderInput">
                                              <input [formControl]="question.remarks" matInput placeholder="Remarks" [disabled]="question.APPLICABLETO=='1' && this.isAssessor == 'True'">
                                            </mat-form-field> 
                                      </div>
                                      <!--  -->
                                      <div class="col-md-5" *ngIf="question.ATTACHMENT == 2 || question.ATTACHMENT == 3" 
                                      >
                                        <div class="row">
                                            <div class="col-md-8 colInput no-padding-right">
                                                <mat-form-field appearance="outline" class="borderInput font-13 ">
                                                    <input [required]="question.ATTACHMENT == 2 ? true : false" matInput value="{{ question.file_name }}" placeholder="" readonly="true">
                                                  </mat-form-field>
                                                </div>
                                                <div class="col-md-4 verticalCenter no-padding-left">
                                                    <label for="file-input-{{ question.QuestionID }}" (change)="detectFiles($event, menuItemItt, itt)" class="no-margin text-center" color="theme-gray-button">
                                                        Upload File
                                                    <input id="file-input-{{ question.QuestionID }}"  type="file" style="display: none;" [disabled]="question.APPLICABLETO=='1' && this.isAssessor == 'True'" />
                                                  </label>
                                                  
                                                </div>
                                          </div>
                                          <span *ngIf="question.QuestionID == 21">Note: Attach balance sheet with annexure</span>
                                          <span *ngIf="question.QuestionID == 58">Note: Attach profit & loss statement with annexure</span>
                                          <span *ngIf="question.QuestionID == 60">Note: Attach cashflow statement</span>
                                      </div>
                                    </div>
                                  </div>
                                  
                             </mat-card>
                             </div>
                            </div>
                        </div>
                      </mat-card-content>
                      <mat-card-footer class="padding verticalMiddleCenter no-margin text-center" *ngIf="error == ''">
                          <div class="col">
                           <div class="primaryFormBtn disInlineBlock margin-right-10">
                              <button class="" (click)="submit(0)" color="theme-gray-button">Save As Draft</button> 
                            </div>
                            <div class="primaryFormBtn disInlineBlock" *ngIf="isAssessor =='True'">
                              <button class="" [matTooltip]="" (click)="EditData()" color="theme-gray-button">Update and submit</button> 
                            </div>
                            <div class="primaryFormBtn disInlineBlock">
                              <button class="verticalMiddleCenter" *ngIf="this.showSave == false" (click)="next(); questions.scrollTop = 0" color="theme-red-button">Next  <mat-icon  class="flex margin-left-10" svgIcon="arrowIcon"></mat-icon></button> 
                              <button class="verticalMiddleCenter" *ngIf="this.showSave == true" (click)="submit(1)" color="theme-red-button">Submit Data</button> 
                            </div>
                           
                            <div class="primaryFormBtn disInlineBlock">
                              <button class="" [matTooltip]="" (click)="checkFormValidity(true)" color="theme-gray-button">Pending Questions</button> 
                            </div>
                            </div>
                            <div class="col" style="display:none;">
                              <div class="primaryFormBtn">
                                  <button class="" color="theme-red-button">Submit Data</button>
                                </div>
                              </div>
                       </mat-card-footer>
                    </mat-card>
                  
                 
                  </div>
                </div>
              </div>
              </mat-card>
              </div>
        </div>
        </div>
      