@import '../../variable.scss';
.selfAssessment{
  .error{
    font-weight: 700;
    color: red !important;
  }
    .leftMenuPanel{
  flex: 0 0 20%;
  max-width: 20%;
  border-right: 1px solid #D8D8D8;
  padding: 0px;
  .menuCategory{
    color: $color-primary-default;
    padding: 10px 16px;
    border-bottom: 1px solid #D8D8D8;
    font-weight: 500;
    text-transform: uppercase;
  }
  mat-expansion-panel{
    border-bottom: 1px solid #D8D8D8;
    mat-expansion-panel-header{
      mat-panel-title{
        color: #888888;
      }
      mat-icon{
        height: 14px;
        width: 14px;
        color: #888888;
        font-size: 14PX;
      }
    }
      mat-list-item{
        border-bottom: 0px !important;
        color: #BCBCBC !important;
      }
    .plusMinusBtnBlock{
      position: absolute;
      right: 5%;
      margin-right: 0PX !important;
      .mat-icon {
         height: 15px;
        width: 15px;
        font-size: 15PX;
    }
     }
  }

   mat-list-item.noSubmenu{
    border-bottom: 1px solid #D8D8D8;
    color: #656262;
    height: 35px;
    font-weight: 500;
    mat-icon{
      height: 14px;
      width: 14px;
      color: #888888;
      font-size: 14PX;
    }
    .serveyStatus{
      position: absolute;
      right: 0;
    }
  }
  mat-list-item.bottomMenu{
    background: #808080;
    color: #fff;
    height: 35px;
  }
}
.rightContentPanel{
  flex: 0 0 80%;
  max-width: 80%;
  .vertcalAligment{
    margin: .25em 0;
  }
  .surveyQuestCard{
    border-left: 1px solid $color-primary-default;
    padding: 10px 16px;
    box-shadow: 0 1px 3px rgba(0,16,44,.08), 0 2px 4px rgba(0,16,44,.12);
    border-radius: 0px 3px 3px 0px;
    .mat-radio-button{
      color: #848484;
      margin-right: 5% !important;
    }
  }
  .primaryFormBtn{
    button{
      .mat-icon{
        height: 15px !important;
        width: 15px !important;
        font-size: 15px !important;
      }
    }
  }
  mat-card{
    mat-card-content{
        height: 85%;
        overflow-y: scroll;
    }
    mat-card-footer{
        height: 15%;
    }
} 
}
.borderInput{
  ::ng-deep .mat-form-field-infix{border-top: 0px !important;}
  ::ng-deep .mat-form-field-wrapper{padding-bottom: 0px;}
  }
  /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: rgba(0,0,0,.12); }
  /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{border-width: 1px !important;}
  /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{border-width: 1px !important;}
  /deep/.mat-select-arrow-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hidden{
    display: none;
  }
  .activeMenu{
    border-right: 1px solid #e33045;
    color: #1f1f1f;
    font-weight: 600;
  }
}