<div class="container-fluid JITHistoryPage padding">
    <div class="grid">
      <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
        <div class="row width100 verticalCenter">
        <div class="col-md-6">
        <h4 class="no-margin">PT Live Data Print History</h4>
        </div>
        <div class="col-md-6 no-padding">
        <p class="no-margin font-13 width100 flex verticalEndCenter">
          <span class="pointer" [routerLink]="roleId == '7' ? '/adminDashboard' : '/dashboard'" routerDirection="backward">Home</span><mat-icon>chevron_right</mat-icon>
          <span class="secondaryMenu">JIT</span><mat-icon>chevron_right</mat-icon>
        <span class="secondaryMenu">PT Live Data Print History</span> 
        </p>
        </div>
        </div>
        </div>
        <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
          <mat-card  class="no-padding mainOuterCardContainer tableViewCard">
                  <mat-card-content>
                      <div class="col-md-12 padding">
                        <div class="row no-margin">
                          <div class="col-md-9 margin-bottom verticalCenter no-padding-left">
                            <h3 class="no-margin themePrimaryColor">
                              PT Live Data Print History
                            </h3>
                          </div>
                          <div class="col-md-3 margin-bottom no-padding-right">
                            <div class=" vertcalAligment btnBlocks pull-right">
                                <!-- <button class="verticalMiddleCenter" color="theme-green-button" (click)="open(addContent)">
                                    <mat-icon  class="flex margin-right-10  addCustIcon" svgIcon="addIcon"></mat-icon> Add</button>  -->
                                  </div>
                                  <div class="width100 vertcalAligment">
                                    <button [disabled]="isDisabled" class="verticalMiddleCenter" color="theme-green-button" (click)="exportExcel()">
                                            <mat-icon  class="flex margin-right-10 disInlineBlock" svgIcon="excelIcon"></mat-icon>Export To Excel</button> 
                                      </div>
                                </div>
                             </div>
                       
                         </div>
                        <hr>
                        <div class="row no-margin" >
                                  <div class="col-md-12 no-padding">
                                      <div class="example-container tbl_New_Layout">
                                          <div class="table-container">
                                        <table mat-table  class="lessons-table" [dataSource]="DataSource">
                                          <ng-container matColumnDef="shopName" >
                                            <th mat-header-cell *matHeaderCellDef class="tblColFlex7">Shop Name</th>
                                            <td mat-cell *matCellDef="let element" >
                                              <!-- {{ element.ShopName || "N/A" }} -->
                                            </td>
                                          </ng-container>
                                          <ng-container matColumnDef="DSN">
                                              <th mat-header-cell *matHeaderCellDef class="tblColFlex7">DSN</th>
                                              <td mat-cell *matCellDef="let element" >
                                                {{ element.DSN || "N/A" }}
                                                </td>
                                            </ng-container>
                                           <ng-container matColumnDef="SPN">
                                                  <th mat-header-cell *matHeaderCellDef class="tblColFlex7">SPN</th>
                                                  <td mat-cell *matCellDef="let element" >
                                                    {{ element.SPN || "N/A" }}
                                                    </td>
                                                </ng-container>
            
                                                <ng-container matColumnDef="BIN">
                                                    <th mat-header-cell *matHeaderCellDef class="tblColFlex7">BIN</th>
                                                    <td mat-cell *matCellDef="let element" >
                                                      {{ element.BIN || "N/A" }}
                                                      </td>
                                                  </ng-container>
                                                  <ng-container matColumnDef="modelCode">
                                                      <th mat-header-cell *matHeaderCellDef class="tblColFlex7">Model Code</th>
                                                      <td mat-cell *matCellDef="let element">
                                                        {{ element.ModelCode || "N/A" }}
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="dateTime">
                                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex7">Date & Time</th>
                                                        <td mat-cell *matCellDef="let element" >
                                                          {{ element.Dateandtime || "N/A" }}
                                                          </td>
                                                      </ng-container>
                                                      <ng-container matColumnDef="colour">
                                                          <th mat-header-cell *matHeaderCellDef class="tblColFlex7">Colour</th>
                                                          <td mat-cell *matCellDef="let element" >
                                                            {{ element.Colour || "N/A" }}
                                                            </td>
                                                        </ng-container>
                                                        <ng-container matColumnDef="scannedAt">
                                                            <th mat-header-cell *matHeaderCellDef class="tblColFlex7">Scanned At</th>
                                                            <td mat-cell *matCellDef="let element" >
                                                              {{ element.ScannedAt || "N/A" }}
                                                              </td>
                                                          </ng-container>
                                                          <ng-container matColumnDef="remarks">
                                                              <th mat-header-cell *matHeaderCellDef class="tblColFlex12">Remarks</th>
                                                              <td mat-cell *matCellDef="let element" >
                                                                {{ element.Remarks || "N/A" }}
                                                                </td>
                                                            </ng-container>
                                                            <ng-container matColumnDef="country">
                                                                <th mat-header-cell *matHeaderCellDef class="tblColFlex7">Country</th>
                                                                <td mat-cell *matCellDef="let element" >
                                                                  {{ element.country || "N/A" }}
                                                                  </td>
                                                              </ng-container>
                                                              <ng-container matColumnDef="paintOutScan">
                                                                  <th mat-header-cell *matHeaderCellDef class="tblColFlex7">Paint Out Scan</th>
                                                                  <td mat-cell *matCellDef="let element" >
                                                                    {{ element.paintOutScan || "N/A" }}
                                                                    </td>
                                                                </ng-container>
                                                                <ng-container matColumnDef="majorVariantt">
                                                                    <th mat-header-cell *matHeaderCellDef class="tblColFlex7">Major Variant</th>
                                                                    <td mat-cell *matCellDef="let element" >
                                                                      {{ element.MajorVariant || "N/A" }}
                                                                      </td>
                                                                  </ng-container>
                                                                  <ng-container matColumnDef="VIN">
                                                                      <th mat-header-cell *matHeaderCellDef>VIN</th>
                                                                      <td mat-cell *matCellDef="let element" >
                                                                        {{ element.VIN || "N/A" }}
                                                                        </td>
                                                                    </ng-container>
                                                                    <ng-container matColumnDef="partNo">
                                                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex7">Part No.</th>
                                                                        <td mat-cell *matCellDef="let element" >
                                                                          {{ element.PartNumber || "N/A" }}
                                                                          </td>
                                                                      </ng-container>
                                                                      <ng-container matColumnDef="partDescription">
                                                                          <th mat-header-cell *matHeaderCellDef class="tblColFlex15">Part Description</th>
                                                                          <td mat-cell *matCellDef="let element" >
                                                                            {{ element.PartDescription || "N/A" }}
                                                                            </td>
                                                                        </ng-container>
                                                                        <ng-container matColumnDef="dataFrom">
                                                                            <th mat-header-cell *matHeaderCellDef class="tblColFlex7">Data From</th>
                                                                            <td mat-cell *matCellDef="let element" >
                                                                              {{ element.DataFrom || "N/A" }}
                                                                              </td>
                                                                          </ng-container>
                                          <tr mat-header-row  *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                                          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                                         </table>
                                        </div>
                                        <div class="d-flex">
                                          <mat-paginator  [length]="pageSize"  [pageSize]="10"  [pageIndex]="pageNo"
                                              (page)="getPageChangeData($event)">
                                            </mat-paginator>
                                            <div class="go-to-container" style="width:90px;margin-bottom:30px">
                                              <div class="go-to-label">Go To: </div>
                                              <mat-form-field>
                                                <mat-select [(ngModel)]="goTo" (selectionChange)="goToChange($event.value)">
                                                  <mat-option *ngFor="let pageNumber of pageNumbers" [value]="pageNumber">{{pageNumber}}</mat-option>
                                                </mat-select>
                                              </mat-form-field>
                                            </div>

                                        </div>
                                    </div>
                                  </div>
                                </div>
                  </mat-card-content>
              
                  </mat-card>
              </div>
      </div>
      </div>


   