
<div class="container-fluid Vendors padding">
  <div class="grid">
    <!-- <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
      <div class="row width100 verticalCenter">
          <div class="col-md-6">
              <h4 class="no-margin">Add User</h4>
            </div>
            <div class="col-md-6 no-padding">
                <p class="no-margin font-13 width100 flex verticalEndCenter">
                    <span class="pointer"  [routerLink]="roleId == '7' ? '/adminDashboard' : '/dashboard'" routerDirection="backward">Home</span> <mat-icon>chevron_right</mat-icon>
                   <span class="secondaryMenu">Create User Profile</span> 
                </p>
              </div>
      </div>
    </div> -->

     <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
         <mat-card class="no-padding mainOuterCardContainer">
          <mat-tab-group style="height: 100%;" class="customTab" (selectedTabChange)="tabClick($event)">
              <mat-tab label="Update Employee Details" class="tab-body">
                <div class="col-md-12 padding height100">
                  <!-- <div class="row padding-bottom">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                Vendor Code:
                              </div>
                              <div class="col-md-8 colInput">
                                  <mat-form-field appearance="outline" class="borderInput font-13">
                                 
                                    <mat-select [(ngModel)]="DDLValue" placeholder="Select" (selectionChange)="getUpdateEmpDetails(1,$event.value,reqRoleId,1)">
                                      <mat-option value="" >Select</mat-option>
                                      <mat-option value="{{data.VendorCode}}" *ngFor="let data of Vendor_Code_DDL">{{data.VendorCode}}</mat-option>
                                    
                                    </mat-select>
                                      </mat-form-field>
                                  </div>
                              </div>
                    </div>
                    <div class="col-md-3">
                      <div class="row">
                        <div class="col-md-3 colInputHeader verticalEndCenter font-13">
                           Role:
                          </div>
                          <div class="col-md-8 colInput">
                              <mat-form-field appearance="outline" class="borderInput font-13">
                                <mat-select [(ngModel)]="reqRoleId" placeholder="Select" (selectionChange)="getUpdateEmpDetails(filterPageNo,DDLValue,$event.value,1)">
                                  <mat-option value="" >Select</mat-option>
                                  <mat-option value="{{data.RoleId}}" *ngFor="let data of roleDetails_DDL">{{data.RoleName}}</mat-option>
                                </mat-select>
                                  </mat-form-field>
                              </div>
                          </div>
                    </div>

                    <div class="col-md-3">
                      <div class="vertcalAligment">
                      <div class="row">
                        <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                           Filter:
                          </div>
                          <div class="col-md-8 colInput">
                            <mat-form-field appearance="outline" class="borderInput font-13">
                                <input placeholder="eg: Username Or Email" (change)="getUpdateEmpDetails(1,$event.value,reqRoleId,1)" matInput [(ngModel)]="filterText">
                              </mat-form-field>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-1">
                      <div class="vertcalAligment">
                        <button color="theme-gray-button" (click)="resetgetUpdateEmpDetails()"
                          class="verticalMiddleCenter">Reset</button>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="vertcalAligment">
                       <button color="theme-green-button" (click)="exportAsExcelFile(updatedEmployeeTable,'UpdatedEmployeeList')"
                         class="verticalMiddleCenter"><mat-icon  class="flex margin-right-10 disInlineBlock exportExcel" svgIcon="excelIcon"></mat-icon>Export To Excel</button>
                    </div>
                        </div>
                       </div> -->
                
                  <div class="row outerblock">
                      <div class="col height100">
                        <div class="example-container  tbl_New_Layout height100">
                              <div class="table-container">
                                <table mat-table  #updatedEmployeeTable class="lessons-table" [dataSource]="dataSource">
                                 
                                  <ng-container matColumnDef="EmployeeName">
                                    <th mat-header-cell *matHeaderCellDef>Employee Name</th>
                                    <td mat-cell *matCellDef="let element">
                                      {{ element.FirstName }}&nbsp; {{element.LastName}}
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef> </td>
                                  </ng-container>
                                  <ng-container matColumnDef="VendorCode">
                                      <th mat-header-cell *matHeaderCellDef>Vendor Code</th>
                                      <td mat-cell *matCellDef="let element">
                                        {{ element.VendorCode || "N/A" }}
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef>  </td>
                                    </ng-container>
                                
                                    <ng-container matColumnDef="Role">  
                                      <th mat-header-cell *matHeaderCellDef>Role Name</th>
                                      <td mat-cell *matCellDef="let element" text-center>
                                        {{ element.RoleName || "N/A" }}
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef>  </td>
                                    </ng-container>
                                
                                    <ng-container matColumnDef="UserName">  
                                      <th mat-header-cell *matHeaderCellDef>Username</th>
                                      <td mat-cell *matCellDef="let element" text-center>
                                        {{ element.UserName || "N/A" }}
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef>  </td>
                                    </ng-container>
                                    <ng-container matColumnDef="PhoneNumber">  
                                      <th mat-header-cell *matHeaderCellDef>Contact No.</th>
                                      <td mat-cell *matCellDef="let element" text-center>
                                        {{ element.PhoneNumber || "N/A" }}
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef>  </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Email">  
                                      <th mat-header-cell *matHeaderCellDef>Email</th>
                                      <td mat-cell *matCellDef="let element" text-center>
                                        {{ element.Email || "N/A" }}
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef>  </td>
                                    </ng-container>
                                    <ng-container matColumnDef="SupplierName">  
                                      <th mat-header-cell *matHeaderCellDef>Supplier Name</th>
                                      <td mat-cell *matCellDef="let element" text-center>
                                        {{ element.SupplierName || "N/A" }}
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef>  </td>
                                    </ng-container>
                                    <ng-container matColumnDef="primarRole">  
                                      <th mat-header-cell *matHeaderCellDef>Primary Role Name</th>
                                      <td mat-cell *matCellDef="let element" text-center>
                                        {{ element.PrimaryRoleName || "N/A" }}
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef>  </td>
                                    </ng-container>
                                    <ng-container matColumnDef="commodity">  
                                      <th mat-header-cell *matHeaderCellDef>Commodity</th>
                                      <td mat-cell *matCellDef="let element" text-center>
                                        {{ element.Commodity || "N/A" }}
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef>  </td>
                                    </ng-container>
                                    <ng-container matColumnDef="location">  
                                      <th mat-header-cell *matHeaderCellDef>Location</th>
                                      <td mat-cell *matCellDef="let element" text-center>
                                        {{ element.OfficeLocation || "N/A" }}
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef>  </td>
                                    </ng-container>
                                    <ng-container matColumnDef="modifiedBy">  
                                      <th mat-header-cell *matHeaderCellDef>ModifiedBy</th>
                                      <td mat-cell *matCellDef="let element" text-center>
                                        {{ element.ModifiedBy || "N/A" }}
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef>  </td>
                                    </ng-container>
                                    <ng-container matColumnDef="modifiedDate">  
                                      <th mat-header-cell *matHeaderCellDef>ModifiedDate</th>
                                      <td mat-cell *matCellDef="let element" text-center>
                                        {{ element.ModifiedDate| date:'dd-MM-yyyy'|| "N/A" }}
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef>  </td>
                                    </ng-container>
                                    <ng-container matColumnDef="action">
                                      <th mat-header-cell *matHeaderCellDef class="text-center">Action</th>
                                      <td mat-cell *matCellDef="let element" class="text-center"> 
                                        <mat-icon  class="flex  disInlineBlock pointerCursor" svgIcon="edit" (click)="openModal(editContent,element.ID,element)" matTooltip="Edit"></mat-icon>
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef> </td>
                                    </ng-container>
                                              
                                    <tr mat-header-row  *matHeaderRowDef="displayedColumns3;sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns3"></tr>
                                    <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns2"></tr> -->
                                  </table>
                                  </div>
                                  <div *ngIf="updatedEmpDetails">
                                    <div *ngIf="updatedEmpDetails.length === 0">No records found</div>
                                  </div>
                                 
                                  <mat-paginator [length]="pageSize" [pageSize]="10" [pageIndex]="pageNo" (page)="getPageChangeData($event)">
                                  </mat-paginator>
                                
                              </div>
                        </div>
                  </div>
                  </div>
           

             
              </mat-tab>
        
            </mat-tab-group>
          </mat-card>
       </div>

    </div>
  </div>
  <ng-template #editContent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">Edit Employee Details</h3>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <form [formGroup]="editEmpFormdata" #form="ngForm">
     
    <div class="modal-body">
      
      <div class="row">
        <div class="col-md-6">
     

            <div class="row">
                <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                   First Name:
                </div>
                <div class="col-md-7 colInput">
                    <mat-form-field appearance="outline" class="borderInput font-13">
                        <input matInput name="fname" formControlName="FirstName">
                     </mat-form-field>
                  </div>
            </div>
            <div class="row">
              <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                 Email:
              </div>
              <div class="col-md-7 colInput">
                  <mat-form-field appearance="outline" class="borderInput font-13">
                      <input matInput name="email"  formControlName="Email">
                   </mat-form-field>
                   <mat-error *ngIf="editEmpFormdata.get('Email').hasError('pattern')&& (editEmpFormdata.get('Email').touched)" class="matError font-13">Enter correct email ID</mat-error>
                </div>
              </div>
            <div class="row">
              <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                Supplier Name:
              </div>
              <div class="col-md-7 colInput">
                  <mat-form-field appearance="outline" class="borderInput font-13">
                      <input matInput name="SupplierName"  formControlName="SupplierName">
                   </mat-form-field>
                                   
                </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-5 colInputHeader verticalEndCenter font-13">
               Location:
            </div>
            <div class="col-md-7 colInput">
                <mat-form-field appearance="outline" class="borderInput font-13">
                    <input matInput name="location" formControlName="Location">
                 </mat-form-field>
                 <mat-error *ngIf="editEmpFormdata.get('Location').hasError('pattern')&& (editEmpFormdata.get('Location').touched)" class="matError font-13">Kindly Enter Location</mat-error>
              </div>
            </div> -->
        </div>
        <div class="col-md-6">
          <!-- <div class="row">
            <div class="col-md-5 colInputHeader verticalEndCenter font-13">
              Primary Role<span style="color: red;">*</span>:
            </div>
            <div class="col-md-7 colInput">
              <mat-form-field appearance="outline" class="borderInput font-13">
                <mat-select placeholder="Select" formControlName="PrimaryRole">
                  <mat-option *ngFor="let data of primary_roles" [value]="data.RoleId">{{data.RoleName}}</mat-option>
                </mat-select>
                  </mat-form-field>
                  <mat-error *ngIf="editEmpFormdata.get('PrimaryRole').hasError('required') && (editEmpFormdata.get('PrimaryRole').touched)" class="matError font-13">Primary Role is required</mat-error>
              </div>  
        </div> -->
          <div class="row">
            <div class="col-md-5 colInputHeader verticalEndCenter font-13">
               Last Name:
            </div>
            <div class="col-md-7 colInput">
                <mat-form-field appearance="outline" class="borderInput font-13">
                    <input name="lname"  matInput formControlName="LastName">
                 </mat-form-field>
              </div>
        </div>
        <div class="row">
          <div class="col-md-5 colInputHeader verticalEndCenter font-13">
             Phone number:
          </div>
          <div class="col-md-7 colInput">
              <mat-form-field appearance="outline" class="borderInput font-13">
                  <input matInput name="PhoneNumber"  formControlName="PhoneNumber">
               </mat-form-field>
               <!-- <mat-error *ngIf="editEmpFormdata.get('Email').hasError('pattern')&& (editEmpFormdata.get('Email').touched)" class="matError font-13">Enter correct email ID</mat-error> -->
            </div>
          </div>
        <!-- <div class="row">
          <div class="col-md-5 colInputHeader verticalEndCenter font-13">
             Commodity:
          </div>
          <div class="col-md-7 colInput">
            <mat-form-field appearance="outline" class="borderInput font-13">
              <mat-select formControlName="Commodity" (selectionChange)="isFormvalid()">
                <mat-option *ngFor="let data of commodityData" [value]="data.commodity">{{data.commodity}}</mat-option>
            </mat-select>
                </mat-form-field>
               <mat-error *ngIf="editEmpFormdata.get('Commodity').hasError('pattern')&& (editEmpFormdata.get('Commodity').touched)" class="matError font-13">Enter correct email ID</mat-error>
            </div>
          </div> -->
        <!-- <div class="row">
          <div class="col-md-5 colInputHeader verticalEndCenter font-13">
             Master Vendor:
          </div>
          <div class="col-md-7 colInput">
            <mat-form-field appearance="outline" class="borderInput font-13">
              <mat-select formControlName="masterVendor">
                
                  <mat-option *ngFor="let data of master_vendors" [value]="data.MasterVendorCode">{{data.MasterVendorCode}}</mat-option>
              </mat-select>
           </mat-form-field>
               <mat-error *ngIf="editEmpFormdata.get('masterVendor').hasError('pattern')&& (editEmpFormdata.get('Commodity').touched)" class="matError font-13">Master Vendor Is Required</mat-error>
            </div>
          </div> -->
        </div>
        <!-- <div class="col-md-6">
         
        </div> -->
      </div>
      <!-- </form> -->
    </div>
    <div class="modal-footer">
      <div class="col text-center">
          <div class="primaryFormBtn disInlineBlock margin-right-10">
              <button  color="theme-red-button" (click)="updateDetails()">Save</button> 
            </div>
          </div>
    </div>
  </form>
  </ng-template>