<div class="container-fluid CMSSurvey padding">
  <div class="grid">
    <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
      <div class="row width100 verticalCenter">
        <div class="col-md-6">
          <h4 class="no-margin">SRMM Survey</h4>
        </div>
        <div class="col-md-6 no-padding">
          <p class="no-margin font-13 width100 flex verticalEndCenter">
            <span
              class="pointer"
              style="cursor: pointer;"
              routerLink="/adminDashboard"
              routerDirection="backward"
              >Home</span
            >
            <mat-icon>chevron_right</mat-icon>
            <span class="pointer secondaryMenu" routerDirection="backward"
              >SRMM Survey</span
            >
            <!-- <span class="secondaryMenu">Imcr/Cre Dashboard</span>  -->
          </p>
        </div>
      </div>
    </div>
    <div
      class="col-md-12 border-radius padding-top no-padding-left no-padding-right"
    >
      <!-- <button class="" color="theme-gray-button" (click)="createSurveyModal()">Create Survey</button>  -->
      <mat-card class="mainOuterCardContainer">
        <div class="row">
          <div
            class="col-md-3 custIconWidth verticalMiddleCenter"
            (click)="manageQuestions(manageQuestion)"
          >
          <button class="" color="theme-red-button">
            Add New Question</button>
          </div>
          <div
            class="col-md-3 offset-6 custIconWidth verticalMiddleCenter"
            (click)="openCategoryModal(manageCategory)"
          >
          <button class="" color="theme-red-button">
            Manage Category</button>
          </div>
        </div>
        <div class="row" >
            <div class="col-md-12 padding">
                <div class="example-container tbl_New_Layout">
                    <div class="table-container">
                  <table mat-table  class="lessons-table" [dataSource]="DataSource">
                      <ng-container matColumnDef="questions" >
                        <th mat-header-cell *matHeaderCellDef class="tblColFlex7">Question</th>
                        <td mat-cell *matCellDef="let element" >
                          {{ element.questions || "N/A" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="questionNumber" >
                        <th mat-header-cell *matHeaderCellDef class="tblColFlex7">Question No</th>
                        <td mat-cell *matCellDef="let element" >
                          {{ element.questionNumber || "N/A" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="category" >
                        <th mat-header-cell *matHeaderCellDef class="tblColFlex7">Category</th>
                        <td mat-cell *matCellDef="let element" >
                          {{ element.category || "N/A" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="questionWeightage" >
                        <th mat-header-cell *matHeaderCellDef class="tblColFlex7">Question Weightage</th>
                        <td mat-cell *matCellDef="let element" >
                          {{ element.questionWeightage || "N/A" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="categoryWeightage" >
                        <th mat-header-cell *matHeaderCellDef class="tblColFlex7">Category Weightage</th>
                        <td mat-cell *matCellDef="let element" >
                          {{ element.categoryWeightage || "N/A" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="measurement" >
                        <th mat-header-cell *matHeaderCellDef class="tblColFlex7">Measurement</th>
                        <td mat-cell *matCellDef="let element" >
                          {{ element.measurement || "N/A" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="applicableTo" >
                        <th mat-header-cell *matHeaderCellDef class="tblColFlex7">ApplicableTo</th>
                        <td mat-cell *matCellDef="let element" >
                          {{ element.applicableTo || "N/A" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="attachment" >
                        <th mat-header-cell *matHeaderCellDef class="tblColFlex7">Attachment</th>
                        <td mat-cell *matCellDef="let element" >
                          {{ element.attachment || "N/A" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="isActive" >
                        <th mat-header-cell *matHeaderCellDef class="tblColFlex7">Is Active</th>
                        <td mat-cell *matCellDef="let element" >
                          {{ element.isActive || "N/A" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="isRequired" >
                        <th mat-header-cell *matHeaderCellDef class="tblColFlex7">Is Required</th>
                        <td mat-cell *matCellDef="let element" >
                          {{ element.isRequired || "N/A" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="isThreshold" >
                        <th mat-header-cell *matHeaderCellDef class="tblColFlex7">Is Threshold</th>
                        <td mat-cell *matCellDef="let element" >
                          {{ element.isThreshold || "N/A" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="option0" >
                        <th mat-header-cell *matHeaderCellDef class="tblColFlex7">Option0</th>
                        <td mat-cell *matCellDef="let element" >
                          {{ element.option0 || "N/A" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="option0Rating" >
                        <th mat-header-cell *matHeaderCellDef class="tblColFlex7">Option 0 Rating</th>
                        <td mat-cell *matCellDef="let element" >
                          {{ element.option0Rating || "N/A" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="requiredType" >
                        <th mat-header-cell *matHeaderCellDef class="tblColFlex7">Required Type</th>
                        <td mat-cell *matCellDef="let element" >
                          {{ element.requiredType || "N/A" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="action" >
                        <th mat-header-cell *matHeaderCellDef class="tblColFlex7">Action</th>
                        <td mat-cell *matCellDef="let element" >
                          <button class="" (click)="manageQuestions(manageQuestion,element)" color="theme-red-button">
                            Edit
                          </button>
                          <!-- {{ element.questionNumber || "N/A" }} -->
                        </td>
                      </ng-container>
                    <tr mat-header-row  *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
                  </div>
                  <div class="">
                      <div class="float-right">
                          Total Questions Count: <b>{{ DataSource.length }}</b>
                        </div>
                    </div>
                  <!-- <mat-paginator  [length]="pageSize"  [pageSize]="10"  [pageIndex]="pageNo"
                  (page)="pageEvent = getPageChangeData($event)">
                </mat-paginator> -->
              </div>
            </div>
          </div>
      </mat-card>
    </div>


  </div>
</div>


<ng-template #manageQuestion>
  <div class="modal-header">
    <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">
      Manage Question
    </h3>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="closeModal()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="modal-body padding" *ngIf="masters">
    <form [formGroup]="questionForm">
      <input type="hidden" formControlName="questionId" />
      <div class="row">
        <div class="col-md-2 verticalCenter required-field">
          <mat-label>Question</mat-label>
        </div>
        <div class="col-md-10">
          <mat-form-field appearance="outline" class="borderInput">
            <input matInput placeholder="Question" formControlName="question" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 required-field">
          <mat-label>Measurement</mat-label>
        </div>
        <div class="col-md-10">
          <mat-form-field appearance="outline" class="borderInput">
            <mat-select formControlName="measurement">
              <mat-option *ngFor="let source of masters._SRMMMeasurement" [value]="source.ID">{{source.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 required-field">
          <mat-label>Source Of Info</mat-label>
        </div>
        <div class="col-md-10">
          <mat-form-field appearance="outline" class="borderInput">
            <mat-select formControlName="sourceOfInfo">
              <mat-option *ngFor="let source of masters._SRMMSource" [value]="source.ID">{{source.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <mat-label>Is Active</mat-label>
        </div>
        <div class="col-md-10">
          <mat-checkbox formControlName="isActive"></mat-checkbox>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <mat-label>Required</mat-label>
        </div>
        <div class="col-md-10">
          <mat-checkbox formControlName="required"></mat-checkbox>
        </div>
      </div>


      <div class="row">
        <div class="col-md-2">
          <mat-label>Attachment</mat-label>
        </div>
        <div class="col-md-10">
          <mat-form-field appearance="outline" class="borderInput">
            <mat-select formControlName="attachment">
              <mat-option *ngFor="let source of masters._SRMMattachment"  value="{{ toInteger(source.ID) }}">{{ source.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 verticalCenter required-field">
          <mat-label>Question No</mat-label>
        </div>
        <div class="col-md-10">
          <mat-form-field appearance="outline" class="borderInput">
            <input matInput type="number" placeholder="Question Number" formControlName="questionNumber" />
          </mat-form-field>
        </div>
      </div>


      <div class="row">
        <div class="col-md-2 required-field">
          <mat-label>Applicable To</mat-label>
        </div>
        <div class="col-md-10">
          <mat-form-field appearance="outline" class="borderInput">
            <mat-select formControlName="applicableTo">
              <mat-option *ngFor="let source of masters._SRMMapplicable" value="{{ toInteger(source.ID) }}">{{ source.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 required-field">
          <mat-label>Frequency</mat-label>
        </div>
        <div class="col-md-10">
          <mat-form-field appearance="outline" class="borderInput">
            <mat-select formControlName="frequency">
              <mat-option *ngFor="let source of masters._SRMMfrequency" value="{{ toInteger(source.ID) }}">{{ source.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>


      <div class="row">
        <div class="col-md-2 verticalCenter required-field">
          <mat-label>Option 1</mat-label>
        </div>
        <div class="col-md-5">
          <mat-form-field appearance="outline" class="borderInput">
            <input matInput placeholder="option1" formControlName="option1" />
          </mat-form-field>
        </div>
        <div class="col-md-5">
          <mat-form-field appearance="outline" class="borderInput">
            <mat-select formControlName="option1Rating" placeholder='Option 1 Rating'>
              <mat-option *ngFor="let source of masters._SRMMoptionOne" [value]="source.ID">{{ source.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>


      <div class="row">
        <div class="col-md-2 verticalCenter required-field">
          <mat-label>Option 2</mat-label>
        </div>
        <div class="col-md-5">
          <mat-form-field appearance="outline" class="borderInput">
            <input matInput placeholder="option2" formControlName="option2" />
          </mat-form-field>
        </div>
        <div class="col-md-5">
          <mat-form-field appearance="outline" class="borderInput">
            <mat-select formControlName="option2Rating" placeholder='Option 2 Rating'>
              <mat-option *ngFor="let source of masters._SRMMoptionTwo" [value]="source.ID">{{ source.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>


      <div class="row">
        <div class="col-md-2 verticalCenter required-field">
          <mat-label>Option 3</mat-label>
        </div>
        <div class="col-md-5">
          <mat-form-field appearance="outline" class="borderInput">
            <input matInput placeholder="option3" formControlName="option3" />
          </mat-form-field>
        </div>
        <div class="col-md-5">
          <mat-form-field appearance="outline" class="borderInput">
            <mat-select formControlName="option3Rating" placeholder='Option 3 Rating'>
              <mat-option *ngFor="let source of masters._SRMMoptionThree" [value]="source.ID">{{ source.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>


      <div class="row">
        <div class="col-md-2 verticalCenter required-field">
          <mat-label>Option 4</mat-label>
        </div>
        <div class="col-md-5">
          <mat-form-field appearance="outline" class="borderInput">
            <input matInput placeholder="option4" formControlName="option4" />
          </mat-form-field>
        </div>
        <div class="col-md-5">
          <mat-form-field appearance="outline" class="borderInput">
            <mat-select formControlName="option4Rating" placeholder='Option 4 Rating'>
              <mat-option *ngFor="let source of masters._SRMMoptionFour" [value]="source.ID">{{ source.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>


      <div class="row">
        <div class="col-md-2 verticalCenter required-field">
          <mat-label>Option 5</mat-label>
        </div>
        <div class="col-md-5">
          <mat-form-field appearance="outline" class="borderInput">
            <input matInput placeholder="option5" formControlName="option5" />
          </mat-form-field>
        </div>
        <div class="col-md-5">
          <mat-form-field appearance="outline" class="borderInput">
            <mat-select formControlName="option5Rating" placeholder='Option 5 Rating'>
              <mat-option *ngFor="let source of masters._SRMMoptionFive" [value]="source.ID">{{ source.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 verticalCenter required-field required-field">
          <mat-label>Question Weightage</mat-label>
        </div>
        <div class="col-md-10">
          <mat-form-field appearance="outline" class="borderInput">
            <input matInput type="number" placeholder="Question Weightage" formControlName="questionWeightage" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 verticalCenter required-field">
          <mat-label>Category Weightage</mat-label>
        </div>
        <div class="col-md-10">
          <mat-form-field appearance="outline" class="borderInput">
            <input matInput type="number" placeholder="Category Weightage" formControlName="categoryWeightage" />
          </mat-form-field>
        </div>
      </div>


      <div class="row">
        <div class="col-md-2 verticalCenter required-field">
          <mat-label>Category</mat-label>
        </div>
        <div class="col-md-10">
          <mat-form-field appearance="outline" class="borderInput">
            <mat-select formControlName="category" placeholder='Category'>
              <mat-option *ngFor="let source of masters._SRMMCategory" [value]="source.ID">{{ source.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-2 verticalCenter required-field">
          <mat-label>Questions</mat-label>
        </div>
        <div class="col-md-10">
          <!-- <mat-form-field appearance="outline" class="borderInput"> -->
            <textarea rows="5" class="width100" placeholder="questions" formControlName="questions" ></textarea>
          <!-- </mat-form-field> -->
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-2">
          <mat-label>Is Threshold</mat-label>
        </div>
        <div class="col-md-10">
          <mat-checkbox formControlName="isThreshold"></mat-checkbox>
        </div>
      </div>

      
      <div class="row">
        <div class="col-md-2 verticalCenter">
          <mat-label>Option 0</mat-label>
        </div>
        <div class="col-md-5">
          <mat-form-field appearance="outline" class="borderInput">
            <input matInput placeholder="option0" formControlName="option0" />
          </mat-form-field>
        </div>
        <div class="col-md-5">
          <mat-form-field appearance="outline" class="borderInput">
            <mat-select formControlName="option0Rating" placeholder='Option 0 Rating'>
              <mat-option *ngFor="let source of masters._SRMMoptionZero" [value]="source.ID">{{ source.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      
      <div class="row">
        <div class="col-md-2 verticalCenter">
          <mat-label>Required Type</mat-label>
        </div>
        <div class="col-md-10">
          <mat-form-field appearance="outline" class="borderInput">
            <input matInput placeholder="requiredType" formControlName="requiredType" />
          </mat-form-field>
        </div>
      </div>
      
      <div class="row">
        <button class="" (click)="submitQuestion()" color="theme-red-button">
          Submit
        </button>
      </div>
    </form>
    <hr />
  </div>
</ng-template>


<ng-template #manageCategory>
  <div class="modal-header">
    <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">
      Manage Category
    </h3>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="closeModal()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="categoryForm">
      <input type="hidden" formControlName="categoryId" />
      <div class="row">
        <div class="col-md-1" *ngIf="categoryForm.value.categoryId != 0">
          Edit:
        </div>
        <div class="col-md-3">
          <mat-form-field appearance="outline" class="borderInput">
            <input matInput placeholder="Category Name" formControlName="categoryName" />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-checkbox formControlName="isActive">Is Active</mat-checkbox>
        </div>
        <div class="col-md-3">
          <button class="" (click)="submit()" color="theme-red-button">
            Submit
          </button>
        </div>
        <div class="col-md-3">
          <button class="" (click)="resetForm()" color="theme-gray-button">
            Reset
          </button>
        </div>
      </div>
    </form>
    <hr />
    <div class="categories">
      <div class="row" *ngFor="let category of categories">
        <div class="col-md-8">
          {{ category.name }}
        </div>
        <div class="col-md-2 text-center">
          {{ (category.isactive == "1" || category.isactive == "t") ? "Active" : "InActive" }}
        </div>
        <div class="col-md-2">
          <div>
            <mat-icon
              style="margin-left: 18px;"
              svgIcon="edit"
              (click)="edit(category)"
            ></mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
