.header{
    font-size: 2em !important;
}
.avg_chart{
    height: 400px;
    width: 600px;
}
.avg_chart1{
    height: 300px;
    width: 600px;
}
.paramwise_chart{
    height: 750px;
    width: 1000px;
}
.height70{
    height: 70px;
    padding-left: 10px;
}
.height0{
    height: 0px;
}
