<div class="container-fluid CMSSurvey padding">
  <div class="grid">
    <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
      <div class="row width100 verticalCenter">
        <div class="col-md-6">
          <h4 class="no-margin">SSI Dashboard </h4>
        </div>
        <div class="col-md-6 no-padding">
          <p class="no-margin font-13 width100 flex verticalEndCenter">
            <span class="pointer" style="cursor: pointer;"
              [routerLink]="roleId == '7' ? '/adminDashboard' : '/dashboard'" routerDirection="backward">Home</span>
            <mat-icon>chevron_right</mat-icon>
            <span class="pointer secondaryMenu" routerDirection="backward">SSI Dashboard</span>
            <!-- <span class="secondaryMenu">Imcr/Cre Dashboard</span>  -->
          </p>
        </div>
      </div>
    </div>
    <div id="chartdiv" class="height100 width100"></div>
    <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
      <mat-card class="height100 mainOuterCardContainer" id="embed">
        <div class="row">
          <div class="col-md-6">
            <h3 class="header">SSI Average Scores</h3>
          </div>
          <div class="col-md-2">
            <button (click)="download(0)" color="theme-green-button">Download</button>
          </div>
        </div>
        <div class="row height70">
          <div class="col-md-2">
            <h3 class="header"></h3>
          </div>
          <div class="col-md-10">
            OVERALL AVERAGE SCORES AS PER FINANCIAL YEARS
          </div>
        </div>
        <div [ngClass]="charts.AverageScoreData ? 'avg_chart' : 'height0'">
          <div id="barchartdiv" class="height100 width100"></div>
        </div>
        <div *ngIf="!charts.AverageScoreData">
          <h3>No Data Available For Average Score</h3>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h3 class="header">SSI Parameter Wise Scores</h3>
          </div>
          <div class="col-md-2">
            <button (click)="download(1)" color="theme-green-button">Download</button>
          </div>
        </div>
        <div class="row height70">
          <div class="col-md-2">
            <h3 class="header"></h3>
          </div>
          <div class="col-md-10">
            AVERAGE PARAMETER WISE SCORES AS PER FINANCIAL YEARS
          </div>
        </div>
        <div [ngClass]="charts.ParameterWiseData ? 'paramwise_chart' : 'height0'">
          <div id="barchart2div" class="height100 width100"></div>
        </div>
        <div *ngIf="!charts.ParameterWiseData">
          <h3>No Data Available For Parameter Wise Score</h3>
        </div>
        <!-- Shakir -->
        <div class="row">
          <div class="col-md-6">
            <h3 class="header">SSI Plant Wise Average Scores - AD</h3>
          </div>
          <div class="col-md-2">
            <button (click)="download(2)" color="theme-green-button">Download</button>
          </div>
        </div>
        <div class="row height70">
          <div class="col-md-2">
            <h3 class="header"></h3>
          </div>
          <div class="col-md-10">
            PLANT WISE AVERAGE SCORES - AD
          </div>
        </div>
        <div [ngClass]="charts.PlantWiseDataAD ? 'paramwise_chart' : 'height0'">
          <div id="barchart2divs" class="height100 width100"></div>
        </div>
        <div *ngIf="!charts.PlantWiseDataAD">
          <h3>No Data Available For Parameter Wise Score</h3>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h3 class="header">SSI Plant Wise Supplier Participation - AD</h3>
          </div>
          <div class="col-md-2">
            <button (click)="download(3)" color="theme-green-button">Download</button>
          </div>
        </div>
        <div class="row height70">
          <div class="col-md-2">
            <h3 class="header"></h3>
          </div>
          <div class="col-md-10">
            PLANT WISE SUPPLIER PARTICIPATION - AD
          </div>
        </div>
        <div [ngClass]="charts.PlantWiseSuppilerAD ? 'paramwise_chart' : 'height0'">
          <div id="barchart2divsuppiler" class="height100 width100"></div>
        </div>
        <div *ngIf="!charts.PlantWiseSuppilerAD">
          <h3>No Data Available For Parameter Wise Score</h3>
        </div>
        <!-- =plant average score fd== -->
        <div class="row">
          <div class="col-md-6">
            <h3 class="header">SSI Plant Wise AverageScore - FD</h3>
          </div>
          <div class="col-md-2">
            <button (click)="download(4)" color="theme-green-button">Download</button>
          </div>
        </div>

        <div class="row height70">
          <div class="col-md-2">
            <h3 class="header"></h3>
          </div>
          <div class="col-md-10">
            PLANT WISE AVERAGE SCORES - FD
          </div>
        </div>
        <div [ngClass]="charts.PlantWiseDataFD ? 'paramwise_chart' : 'height0'">
          <div id="barchart2divplantfd" class="height100 width100"></div>
        </div>
        <div *ngIf="!charts.PlantWiseDataFD">
          <h3>No Data Available For Parameter Wise Score</h3>
        </div>
        <!-- === -->
        <div class="row">
          <div class="col-md-6">
            <h3 class="header">SSI Plant Wise Supplier Participation - FD</h3>
          </div>
          <div class="col-md-2">
            <button (click)="download(5)" color="theme-green-button">Download</button>
          </div>
        </div>
        <div class="row height70">
          <div class="col-md-2">
            <h3 class="header"></h3>
          </div>
          <div class="col-md-10">
            PLANT WISE SUPPLIER PARTICIPATION - FD
          </div>
        </div>
        <div [ngClass]="charts.PlantWiseSuppilerFD ? 'paramwise_chart' : 'height0'">
          <div id="barchart2divplantsuppilerfd" class="height100 width100"></div>
        </div>
        <div *ngIf="!charts.PlantWiseSuppilerFD">
          <h3>No Data Available For Parameter Wise Score</h3>
        </div>
        <!-- === Over All Supplier Participation AD-->
        <div class="row">
          <div class="col-md-6">
            <h3 class="header">SSI Over All Supplier Participation-AD</h3>
          </div>
          <div class="col-md-2">
            <button (click)="download(6)" color="theme-green-button">Download</button>
          </div>
        </div>
        <div class="row height70">
          <div class="col-md-2">
            <h3 class="header"></h3>
          </div>
          <div class="col-md-10">
            OVERALL SUPPLIER PARTICIPATION - AD
          </div>
        </div>
        <div [ngClass]="charts.OverallSupplierParticipationAD ? 'paramwise_chart' : 'height0'">
          <div id="barchart2divOverallSupplierpartica" class="height100 width100"></div>
        </div>
        <div *ngIf="!charts.OverallSupplierParticipationAD">
          <h3>No Data Available For Parameter Wise Score</h3>
        </div>
        <!-- === Over All Supplier Participation FD-->
        <div class="row">
          <div class="col-md-6">
            <h3 class="header">SSI Over All Supplier Participation-FD</h3>
          </div>
          <div class="col-md-2">
            <button (click)="download(7)" color="theme-green-button">Download</button>
          </div>
        </div>
        <div class="row height70">
          <div class="col-md-2">
            <h3 class="header"></h3>
          </div>
          <div class="col-md-10">
            OVERALL SUPPLIER PARTICIPATION - FD
          </div>
        </div>
        <div [ngClass]="charts.OverallSupplierParticipationFD ? 'paramwise_chart' : 'height0'">
          <div id="barchart2divOverallSupplierparticafd" class="height100 width100"></div>
        </div>
        <div *ngIf="!charts.OverallSupplierParticipationFD">
          <h3>No Data Available For Parameter Wise Score</h3>
        </div>
        <!-- === Over All Supplier -->
        <div class="row">
          <div class="col-md-6">
            <h3 class="header">SSI Over All Supplier</h3>
          </div>
          <div class="col-md-2">
            <button (click)="download(8)" color="theme-green-button">Download</button>
          </div>
        </div>
        <div class="row height70">
          <div class="col-md-2">
            <h3 class="header"></h3>
          </div>
          <div class="col-md-10">
            OVERALL SUPPLIER RATING
          </div>
        </div>
        <div [ngClass]="charts.OverallSupplierRating ? 'paramwise_chart' : 'height0'">
          <div id="barchart2divOverallSupplier" class="height100 width100"></div>
        </div>
        <div *ngIf="!charts.OverallSupplierRating">
          <h3>No Data Available For Parameter Wise Score</h3>
        </div>
      </mat-card>
    </div>
  </div>
</div>