<div class="login-modal">
    <form [formGroup]="loginForm">
      <mat-form-field>
        <label>Username</label>
        <input matInput type="text" formControlName="username">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="{{ passwordType }}" formControlName="password">
        <mat-icon (click)="togglePasswordType()" class="cursor" matSuffix>{{ passwordType == 'password' ? 'visibility' : 'visibility_off' }}</mat-icon>
      </mat-form-field>
      <!-- <mat-form-field>
        <mat-label>Telephone</mat-label>
        <span matPrefix>+1 &nbsp;</span>
        <input type="tel" matInput placeholder="555-555-1234">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field> -->

      <button (click)="submit()" color="theme-red-button">Submit</button>
    </form>
</div>