<div class="container-fluid riskDashboardPage padding">
  <div class="grid">
    <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
      <div class="row width100 verticalCenter">
        <div class="col-md-6">
          <h4 class="no-margin">Risk Dashboard</h4>
        </div>
        <div class="col-md-6 no-padding">
          <p class="no-margin font-13 width100 flex verticalEndCenter">
            <span class="pointer" (click)="navigate()" routerDirection="backward">Home</span>
            <mat-icon>chevron_right</mat-icon>
            <span class="secondaryMenu">Risk Dashboard</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
      <mat-card class="riskPanel mainOuterCardContainer">
        <div class="col margin-bottom">
          <div class="row">
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-4 colInputHeader verticalCenter font-13">
                  Filter:
                </div>
                <div class="col-md-8 colInput no-padding-left">
                  <mat-form-field appearance="outline" style="cursor: pointer;" class="borderInput font-13">
                    <mat-select placeholder="Select Year" [(ngModel)]="yearDDL"
                      (selectionChange)="GetSupplierAnswerReport(yearDDL)"
                      matTooltip="Please select a year to show the dashboard" matTooltipPosition="above">
                      <mat-option *ngFor="let data of all_year_data" [value]="data">{{data}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="row height100 verticalCenter">
                <div class="col-md-2 text-right">
                  <p class="no-margin">Legends</p>
                </div>
                <div class="col-md-2">
                  <p class="no-margin font-13"><span class="legendIndicator high"></span>High Risk</p>
                </div>
                <div class="col-md-2 no-padding">
                  <p class="no-margin font-13"><span class="legendIndicator aboveAverage"></span>Above Average Risk</p>
                </div>
                <div class="col-md-2">
                  <p class="no-margin font-13"><span class="legendIndicator average"></span>Average Risk</p>
                </div>
                <div class="col-md-2 no-padding">
                  <p class="no-margin font-13"><span class="legendIndicator belowAverage"></span>Below Average Risk</p>
                </div>
                <div class="col-md-2">
                  <p class="no-margin font-13"><span class="legendIndicator low"></span>Low Risk</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col internalConatiner">
          <div class="row scrollBlock" *ngIf="answers_data.length>0">
            <div class="col-md-3" (click)="openRiskModal(ratingModal)">
              <mat-card [ngClass]="overAllRating<=1.9?'riskCards highRiskStatus':overAllRating<=2.9?'riskCards aboveAverageRiskStatus':overAllRating<=3.9?'riskCards averageRiskStatus':overAllRating<=4.9?'riskCards belowAverageRiskStatus':'riskCards lowRiskStatus'">
              <mat-card-header>
                <div class="col no-padding">
                  <div class="row">
                    <div class="col-md-9">
                      <p class="font-14 lineClampTwo">Overall Rating</p>
                    </div>
                    <div class="col-md-3 text-right">
                      <div>
                        <mat-icon svgIcon="arrowIcon"></mat-icon>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card-header>
              <mat-card-content>
                <div class="col no-padding">
                  <div class="row">
                    <div class="col-md-5 borderSperator">
                      <div class="infoContent">
                        <div class="upperBlock">
                          <div class="riskScore">{{overAllRating}}</div>
                        </div>
                        <div class="lowerBlock">
                          <p class="no-margin font-13">Risk Score</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 no-padding-left">
                      <div class="infoContent">
                        <div class="upperBlock verticalMiddleCenter">
                          <div class="riskIndicator"></div>
                        </div>
                        <div class="lowerBlock">
                          <p class="no-margin font-13">Risk Indicator</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
            </div>
            <div class="col-md-3" *ngFor="let ans of answers_data" (click)="openModal(ans.Category)">
            
              <mat-card
                [ngClass]="ans.Risk<=1.9?'riskCards highRiskStatus':ans.Risk<=2.9?'riskCards aboveAverageRiskStatus':ans.Risk<=3.9?'riskCards averageRiskStatus':ans.Risk<=4.9?'riskCards belowAverageRiskStatus':'riskCards lowRiskStatus'">
                <mat-card-header>
                  <div class="col no-padding">
                    <div class="row">
                      <div class="col-md-9">
                        <p class="font-14 lineClampTwo">{{ans.Category}}</p>
                      </div>
                      <div class="col-md-3 text-right">
                        <div>
                          <mat-icon svgIcon="arrowIcon"></mat-icon>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-card-header>
                <mat-card-content>
                  <div class="col no-padding">
                    <div class="row">
                      <div class="col-md-5 borderSperator">
                        <div class="infoContent">
                          <div class="upperBlock">
                            <div class="riskScore">{{ans.Risk}}</div>
                          </div>
                          <div class="lowerBlock">
                            <p class="no-margin font-13">Risk Score</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 no-padding-left">
                        <div class="infoContent">
                          <div class="upperBlock verticalMiddleCenter">
                            <div class="riskIndicator"></div>
                          </div>
                          <div class="lowerBlock">
                            <p class="no-margin font-13">Risk Indicator</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            
          </div>
          <div class="errorBlock height100 verticalMiddleCenter" *ngIf="answers_data.length==0">
            <div class="internalBlock">
              <div class="imgBlock"><img src="/assets/img/errorBlock/noRecord.svg" class="height100 width100"></div>
              <div class="margin-vertical infoBlock text-center">
                <p class="no-margin">No Data Found</p>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
 <!---Modal Structure start-->
 <ng-template #ratingModal >
  <div class="modal-header">
    <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">Risk Dashboard</h3>
  
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <div class="row no-margin" style="height: 20px;">
      <div class="col-md-8"></div>
      <div class="col-md-4"> 
         <button type="button" style="background: #E33045; color: white;" (click)="downloadRisk()">download
         </button></div>
    </div>
   <div class="row no-margin" style="padding-top:3%;">
      <div class="col-md-12" style="border:1px solid">
        <div class="row" style="border-bottom: 1px solid;">
          <div class="col-md-5 colInputHeader verticalEndCenter font-14 ">
           Category
            </div>
            <div class="col-md-4 colInput">
              Risk score
                </div>
                <div class="col-md-3 colInput">
                  Risk Indicator
                    </div>
            </div> 
          <div class="row" style="border-bottom: 1px solid;" *ngFor="let ans of answers_data">
            <div class="col-md-5 colInputHeader verticalEndCenter font-14 ">
             {{ans.Category}}  :
              </div>
              <div class="col-md-4 colInput">
                {{ans.Risk}}
                  </div>
                  <div class="col-md-3 colInput" >
                    
                    <button [ngClass]="ans.Risk<=1.9?'highRisk':ans.Risk<=2.9?' aboveAverageRisk':ans.Risk<=3.9?'averageRisk':ans.Risk<=4.9?'belowAverageRisk':'lowRisk'"  [disabled]="true">
                     
                    </button>   
                  </div>
              </div> 
              
              
        </div>
        
  </div>
  </div>
 
</ng-template>