.riskDashboardPage{
    .lineClampTwo{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
      }
 .riskPanel{
     .legendIndicator{
        height: 10px;
        width: 10px;
        display: inline-block;
        margin-right: 10px;
        border-radius: 50%;
      }
     .legendIndicator.high{ background: red; border: 1px solid red; }
     .legendIndicator.aboveAverage{ background:pink; border: 1px solid pink; }
     .legendIndicator.average{ background: yellow; border: 1px solid yellow; }
     .legendIndicator.belowAverage{ background: #95C883; border: 1px solid #95C883; }
     .legendIndicator.low{ background: #317824; border: 1px solid #317824; }
     .riskCards{
        box-shadow: 0 4px 8px rgba(0,30,84,.12), 0 1px 3px rgba(0,30,84,.08);
        margin-bottom: 16px;
        height: 21vh;
        border: 1px solid #f9f3f3;
        mat-card-header{
            mat-icon{
                opacity: 0.2;
            }
        }
         /deep/ .mat-card-header-text{
                display: none;
            }
            .mat-card-content{
                .borderSperator{ border-right: 1px solid #E2E2E2;}
                .infoContent{
                    height: 50px;
                    p{ color: #C7C7C7;}
                    .upperBlock{
                        height: 50%;
                        .riskScore{
                            border-radius: 20px;
                            text-align: center;
                            width: 60%;
                            margin: auto;
                         }
                         .riskIndicator{
                            height: 15px;
                            width: 15px;
                            border-radius: 50%;
                         }
                    }
                    .lowerBlock{
                        height: 50%; 
                        display: flex;
                        align-items: flex-end;
                        justify-content: center;
                       
                    }
                   
                    
                }
                .secondBlock{

                }
            }
         
     }
 
     .belowAverageRiskStatus{
        border-left: 2px solid lightgreen;
        background-image: url(/assets/img/Risk_card_bg_1.png);
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: bottom right;
        .riskScore{
            border: 1px solid lightgreen;
        }
        .riskIndicator{
            background:lightgreen;
        }   
     }
     .lowRiskStatus{
        border-left: 2px solid #317824;
        background-image: url(/assets/img/Risk_card_bg_4.png);
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: bottom right;
        .riskScore{
            border: 1px solid #317824;
        }
        .riskIndicator{
            background: #317824;
        }
     }
     .averageRiskStatus{
        border-left: 2px solid yellow;
        background-image: url(/assets/img/yellow.jpg);
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: bottom right;
        .riskScore{
            border: 1px solid yellow;
        }
        .riskIndicator{
            background: yellow;
        }
     }
     .aboveAverageRiskStatus{
        border-left: 2px solid pink;
        background-image: url(/assets/img/pink.jpg);
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: bottom right;
        .riskScore{
            border: 1px solid pink;
        }
        .riskIndicator{
            background: pink;
        }
     }
     .highRiskStatus{
        border-left: 2px solid red;
        background-image: url(/assets/img/red.jpg);
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: bottom right;
        .riskScore{
            border: 1px solid red;
        }
        .riskIndicator{
            background: red;
        }
     }
 }   
 .borderInput{
    ::ng-deep .mat-form-field-infix{border-top: 0px !important;}
    ::ng-deep .mat-form-field-wrapper{padding-bottom: 0px;}
    }
    /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: rgba(0,0,0,.12); }
    /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{border-width: 1px !important;}
    /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{border-width: 1px !important;}
    /deep/.mat-select-arrow-wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    mat-tab-body-wrapper{
        .tab-body{
            border: 1px solid;
            height: 100%;
        }
    }
    .internalConatiner{
        height: calc(100% - 43px);
        padding: 0px;
        .scrollBlock{
            height: 100%;
            overflow-y: auto;
        }
        .errorBlock{
            .internalBlock{
                width: 20vw;
              .imgBlock{
                height: 60%;
                width: 100%;
              }
              .infoBlock{
                font-weight: 600;
              }
            }
          }
    }
  
}