<div class="container-fluid" >
  <div class="col-md-12" *ngFor="let data of sydney.SydneyData;let i=index">
    <div class="row" *ngIf="evenOdd(i)">
      <div class="col-md-6">
        <div class="contentBlock">
          <h1>{{data.SMContentTitle}}</h1>
          <!-- <p class="font-14">
          </p> -->
            <div [innerHtml]="removeNbsp(data.SMContentDescription)"></div>
        </div>
      </div>
      <div class="col-md-6" *ngFor="let path of data.SMDocPath">
        <div class="imgBlock1">
          <img onError="this.style='display: none'" [src]="path"  class="height100 width100" class="img-trnsfm">
        </div>
      </div>
    </div>
    <div class="row" *ngIf="!evenOdd(i)">
      <div class="col-md-6 verticalEndCenter" *ngFor="let path of data.SMDocPath">
        <div class="imgBlock1">
          <img onError="this.style='display: none'" [src]="data.SMDocPath" class="height100 width100"  class="img-trnsfm">
        </div>
      </div>
      <div class="col-md-6">
        <div class="contentBlock1">
          <h1>{{data.SMContentTitle}}</h1>
          <!-- <p class="font-14">
            {{data.SMContentDescription}} </p> -->
            <div [innerHtml]="removeNbsp(data.SMContentDescription)"></div>
        </div>
      </div>
    </div>
  </div>
  </div>