.img-trnsfm{
  width:100%;
  height:250px;
  position: absolute;
    transform: translate(-8%, -11%);
} 
  .imgBlock1{
    // z-index: -1;
    width: 100%;
    height: 250px;
    margin: 25px 15px 0px 25px;
    float: left;
    position: relative;
    // border: 4px solid #E2E2E2;
  }
  
  .imgBlock1{
    // z-index: -1;
    width: 93%;
    height: 250px;
    /*margin: 25px 15px 0px 30px;*/
    float: right;
    position: relative;
    // border: 4px solid #E2E2E2;
  }

  .sydneyMargin{
    margin-top: 20px;
    max-height: calc(100vh - 181px);
    overflow: auto;
  }

  /*.contentBlock{
    margin-left: -100px;
  }
  .contentBlock1{
    margin-right: -109px;
  }*/

 
  .content-heading{
    font-size: 30px;
  }
  .contentpara{
    font-size: 14px;
    // color: #BCBCBC;
  }
  @media (min-width: 1024px) {
  }
  @media (max-width:768px){
  }
  @media (max-width:576px){
    .imagedivs2{
      width: 320px;
      
    }
    .imagedivs{
      width: 320px;
      
    }
    .img-trnsfm{
      
      width:320px;
    }
  }
  @media (max-width:375px){
    .imagedivs{
      width: 240px;
      height: 200px;
    }
    .imagedivs2{
      width: 240px;
      height: 200px;
    }
    .img-trnsfm {
      width: 240px;
      height: 200px;
      transform: translate(-12%, -14%);
  }
  }