

<mat-toolbar id="mainToolbar" color="primary" *ngIf="showmenusec">
  <div style="cursor: pointer;" class="msetuLogo" (click)="navigateToDashboard()"> <img src="/assets/img/msetulogo.svg" class="height100 width100"> </div>
  <!-- <div class="col-md-6 text-right" style="display: none;">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="switchViewBtn" #group="matButtonToggleGroup" [value]="selectedVal" (change)="onValChange(group.value)">
          <mat-button-toggle value="bold" class="font-13 width50" value="option1">Super Admin View</mat-button-toggle>
          <mat-button-toggle value="italic" class="font-13 width50" value="option2">Supplier View</mat-button-toggle>
         </mat-button-toggle-group>
  </div> -->
 
  <span class="toolbar-spacer"></span>
  <a (click)="openCOC()" class=" verticalCenter padding-5 height100 coc pointerCursor">
    <div class="stage">     <div class="wrapper">         
      <div class="slash"></div>         <div class="sides">  
                   <div class="side"></div>           
                     <div class="side"></div>        
                          <div class="side"></div>   
                                    <div class="side"></div>     
                                      </div>        
                                       <div class="text">  
                                                    <div class="text--backing">Code of Conduct-Declaration</div>             <div class="text--left">                 <div class="inner">Code of Conduct-Declaration</div>             </div>             <div class="text--right">                 <div class="inner">Code of Conduct-Declaration</div>             </div>         </div>     </div> </div>
                                                    
  </a>
  <!-- <a>
    <div class="loading loading01 pointer" (click)="tcsSurvey()">
      <span>T</span>
      <span>C</span>
      <span>S</span>
      <span>-</span>
      <span>S</span>
      <span>U</span>
      <span>R</span>
        <span>V</span>
        <span>E</span>
        <span>Y</span>
    </div>
  </a> -->
  <a  (click)="openModal('search')" class=" verticalCenter padding-5 height100">
    <img src="assets/img/Mahindra_75_1.jpg" style="width: 120px">
  <mat-icon
  class="toolbar-icon flex"
  matBadgePosition="after"
  matBadgeColor="accent"
  svgIcon="search"
  
>
</mat-icon>

</a>
<a (click)="openModal('notificationModal')"  class=" verticalCenter padding-5 height100" >
  <mat-icon
     class="toolbar-icon flex"
     matBadgeColor="accent"
     svgIcon="notification"
     style="cursor: pointer !important;"
   ></mat-icon>
   <!-- <div class="notify">
    <span class="num" >{{NumberNotification}}</span>
   </div>   -->
   <div class="notify" *ngIf="NumberNotification >= 1"> 
     <span class="heartbit"></span> 
     <span class="point"></span>
     </div>  

   <!-- <span class="point"></span> -->
   <!-- <span class="heartbit"></span>  -->
 </a>
    <a class="profileBlock verticalCenter padding-5 height100 pointerCursor" >
        <img src="/assets/img/user.png">
        <span class="profile-info font-16 fontW-300"  (click)="openUserEdit(userEditModal)">
        {{cs.userDetails.name}}<span class="font-12" *ngIf="cs.userDetails.VendorCode != 'DS063A'"> ({{cs.userDetails.VendorCode}})</span>
          <small class="font-12">{{cs.isUndefinedORNull(cs.userDetails.SupplierName)||cs.userDetails.SupplierName=='null'?'':cs.userDetails.SupplierName }}</small>
          </span>
          <mat-icon
          class="toolbar-icon flex pointerCursor"
          svgIcon="logout"
          [matMenuTriggerFor]="beforeMenu"
        ></mat-icon>
    </a>
    <mat-menu #beforeMenu="matMenu" xPosition="before" backdropClass="logoutMenuPanel">
     <button mat-menu-item class="verticalCenter" (click)="logout()"> <span class="logoutIcon"> <mat-icon svgIcon="logoutIcon"></mat-icon></span> Logout</button>
    </mat-menu>
</mat-toolbar>

<mat-toolbar id="loginToolbar" color="primary" *ngIf="!showmenusec && !isSupplierMeet && !showmenustakeholder">
    <mat-toolbar-row class="no-padding-left customHeight">
        <span class="logoAlign"><a href="/"><img src="/assets/img/logoredoutline.png" class="height100 width100"></a></span>
         <span class="loginSpacer"></span>
         <a mat-button routerLink="/login" routerLinkActive="active-list-item" class="font-15">Home</a>
         <a mat-button routerLink="/aboutus" routerLinkActive="active-list-item" class="font-15">About M&M</a>
         <a mat-button routerLink="/msetuLanding" routerLinkActive="active-list-item" class="font-15">MSetu</a>
         <!-- <a mat-button routerLink="/QuickLinks" routerLinkActive="active-list-item" class="font-15">Quick Links</a> -->
         <a mat-button (click)="openModal('contact')" routerLinkActive="active-list-item" class="font-15">Contact Us</a>
      </mat-toolbar-row>
  </mat-toolbar>

  <mat-toolbar id="mainToolbar" color="primary" *ngIf="showmenustakeholder">
    <div style="cursor: pointer;" class="msetuLogo" > <img src="/assets/img/msetulogo.svg" class="height100 width100"> </div>
    <!-- <div class="col-md-6 text-right" style="display: none;">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="switchViewBtn" #group="matButtonToggleGroup" [value]="selectedVal" (change)="onValChange(group.value)">
            <mat-button-toggle value="bold" class="font-13 width50" value="option1">Super Admin View</mat-button-toggle>
            <mat-button-toggle value="italic" class="font-13 width50" value="option2">Supplier View</mat-button-toggle>
           </mat-button-toggle-group>
    </div> -->
   
    <span class="toolbar-spacer"></span>
    <a (click)="openCOC()" class=" verticalCenter padding-5 height100 coc pointerCursor" style="display: none;">
      <div class="stage">     <div class="wrapper">         
        <div class="slash"></div>         <div class="sides">  
                     <div class="side"></div>           
                       <div class="side"></div>        
                            <div class="side"></div>   
                                      <div class="side"></div>     
                                        </div>        
                                         <div class="text">  
                                                      <div class="text--backing">Code of Conduct-Declaration</div>             <div class="text--left">                 <div class="inner">Code of Conduct-Declaration</div>             </div>             <div class="text--right">                 <div class="inner">Code of Conduct-Declaration</div>             </div>         </div>     </div> </div>
                                                      
    </a>
    <!-- <a>
      <div class="loading loading01 pointer" (click)="tcsSurvey()">
        <span>T</span>
        <span>C</span>
        <span>S</span>
        <span>-</span>
        <span>S</span>
        <span>U</span>
        <span>R</span>
          <span>V</span>
          <span>E</span>
          <span>Y</span>
      </div>
    </a> -->
    <a  (click)="openModal('search')" class=" verticalCenter padding-5 height100" style="display: none;">
      <img src="assets/img/Mahindra_75_1.jpg" style="width: 120px">
    <mat-icon
    class="toolbar-icon flex"
    matBadgePosition="after"
    matBadgeColor="accent"
    svgIcon="search"
    
  >
  </mat-icon>
  
  </a>
  <a (click)="openModal('notificationModal')"  class=" verticalCenter padding-5 height100" style="display: none;">
    <mat-icon
       class="toolbar-icon flex"
       matBadgeColor="accent"
       svgIcon="notification"
       style="cursor: pointer !important;"
     ></mat-icon>
     <!-- <div class="notify">
      <span class="num" >{{NumberNotification}}</span>
     </div>   -->
     <div class="notify" *ngIf="NumberNotification >= 1"> 
       <span class="heartbit"></span> 
       <span class="point"></span>
       </div>  
  
     <!-- <span class="point"></span> -->
     <!-- <span class="heartbit"></span>  -->
   </a>
      <a class="profileBlock verticalCenter padding-5 height100 pointerCursor" (click)="logout()">
          <img src="/assets/img/user.png">
          <span class="profile-info font-16 fontW-300"  >
          {{cs.userDetails.name}}<span class="font-12" *ngIf="cs.userDetails.VendorCode != 'DS063A'"> ({{cs.userDetails.VendorCode}})</span>
            <small class="font-12">{{cs.isUndefinedORNull(cs.userDetails.SupplierName)||cs.userDetails.SupplierName=='null'?'':cs.userDetails.SupplierName }}</small>
            </span>
            <mat-icon
            class="toolbar-icon flex pointerCursor"
            svgIcon="logout"
            [matMenuTriggerFor]="beforeMenu" (click)="logout()"
          ></mat-icon>
      </a>
  
  </mat-toolbar>
  
<mat-sidenav-container [ngClass]="{'loginContainer':!showmenusec, 'dashboardContainer': showmenusec, 'supplierMeetContainer':isSupplierMeet}"
  id="sidenavContainer"
 fullscreen>
  <mat-sidenav
    mode="side"
    #sidenav
    id="sidenav"
    [class.menu-open]="isMenuOpen"
    [class.menu-close]="!isMenuOpen"
    class="no-border"
    opened
    *ngIf="showmenusec"
    >
    
    <mat-list id="menus" class="no-padding">
      <mat-card class="no-padding no-radius">
        <button #sideNavecontainer
          class="menu-item"
            mat-flat-button (click)="sideMenuVisible(false)">
            <mat-icon svgIcon="sideMenu"></mat-icon>
            <div class="smallMenuTitle"><span class="menuText">Menu</span></div>
          </button>
          
      </mat-card> 
      <mat-list-item>
        <button  
        class="menu-item openMenuClick"
          mat-flat-button [matMenuTriggerFor]="favourites" (click)="setFavorites()">
          <mat-icon svgIcon="Favourites"></mat-icon>
          <div class="smallMenuTitle"><span>Favourites</span></div>
          </button>
          <mat-menu #favourites="matMenu" class="sidePanelMenu" yPosition="below" backdropClass="custom__menu_favourite" >
            <p *ngIf="Favorites.length == 0" class="noFavs">No Favorites Yet</p>
            <div class="col-md-12" *ngIf="Favorites.length > 0">
              <div class="row">
                <div class="col-md-4 menuBlocks" *ngFor="let item of Favorites">
                  <button mat-menu-item (click)="openFavouriteMenu(item.Link)">
                    <div class="menuImg verticalMiddleCenter">
                        <!-- <img  src="/assets/Icons/subMenuPanel/ASN.png" /> -->
                        <div class="imgInternal">
                        <img  src="../assets/Icons/mainmenu/helpdesk.svg"/>
                      </div>
                      </div>
                    <div  class="menuText fontW-500 verticalMiddleCenter font-11">{{ item.Module }}</div>
                    </button>
                </div>
               <!-- <div class="col-md-4 menuBlocks">
                  <button mat-menu-item #IMCRSuggestion (click)="openFavouriteMenu('IMCRSuggestion')">
                    <div class="menuImg verticalMiddleCenter">
                        <div class="imgInternal">
                          <img  src="../assets/Icons/mainmenu/suggestion.svg"/>
                        </div>
                      </div>
                    <div  class="menuText fontW-600 verticalMiddleCenter font-11" >IMCR suggestion</div>
                    </button>
                 </div>
                 <div class="col-md-4 menuBlocks">
                    <button mat-menu-item #OESupplies (click)="openFavouriteMenu('OESupplies')">
                      <div class="menuImg verticalMiddleCenter">
                          <div class="imgInternal">
                            <img  src="../assets/Icons/mainmenu/business.svg"/>
                          </div>
                        </div>
                      <div  class="menuText fontW-500 verticalMiddleCenter font-11" >OE supplies</div>
                      </button>
                   </div>
                   <div class="col-md-4 menuBlocks">
                      <button mat-menu-item #Mylibrary (click)="openFavouriteMenu('Mylibrary')">
                        <div class="menuImg verticalMiddleCenter">
                            <div class="imgInternal">
                              <img  src="../assets/Icons/mainmenu/document.svg"/>
                            </div>
                          </div>
                        <div  class="menuText fontW-500 verticalMiddleCenter font-11" >My library</div>
                        </button>
                     </div>
                     <div class="col-md-4 menuBlocks">
                        <button mat-menu-item #Mypolicyguidelines (click)="openFavouriteMenu('Mypolicyguidelines')">
                          <div class="menuImg verticalMiddleCenter">
                              <div class="imgInternal">
                                <img  src="../assets/Icons/mainmenu/helpdesk.svg"/>
                              </div>
                            </div>
                          <div  class="menuText fontW-500 verticalMiddleCenter font-11" >Policy guidelines</div>
                          </button>
                       </div> -->
                       <!-- <div class="col-md-4 menuBlocks">
                          <button mat-menu-item>
                            <div class="menuImg verticalMiddleCenter">
                                <img  src="/assets/Icons/subMenuPanel/Quality.png" />
                              </div>
                            <div  class="menuText fontW-500 verticalMiddleCenter font-11" >Quality</div>
                            </button>
                         </div> -->
                         <!-- <div class="col-md-4 menuBlocks">
                            <button mat-menu-item>
                              <div class="menuImg verticalMiddleCenter">
                                  <img  src="/assets/Icons/subMenuPanel/Inventory.png" />
                                </div>
                              <div  class="menuText fontW-500 verticalMiddleCenter font-11" >Inventory</div>
                              </button>
                           </div> -->
                           <!-- <div class="col-md-4 menuBlocks">
                              <button mat-menu-item>
                                <div class="menuImg verticalMiddleCenter">
                                    <img  src="/assets/Icons/subMenuPanel/Others.png" />
                                  </div>
                                <div  class="menuText fontW-500 verticalMiddleCenter font-11" >Others</div>
                                </button>
                             </div> -->
                             <!-- <div class="col-md-4 menuBlocks">
                                <button mat-menu-item>
                                  <div class="menuImg verticalMiddleCenter">
                                      <img  src="/assets/Icons/subMenuPanel/Contact us.png" />
                                    </div>
                                  <div  class="menuText fontW-500 verticalMiddleCenter font-11" >Contact Us</div>
                                  </button>
                               </div>
                               <div class="col-md-4 menuBlocks">
                                  <button mat-menu-item>
                                    <div class="menuImg verticalMiddleCenter">
                                        <img  src="/assets/Icons/subMenuPanel/mSetu Overview.png" />
                                      </div>
                                    <div  class="menuText fontW-500 verticalMiddleCenter font-11" >mSetu Overview</div>
                                    </button>
                                 </div> -->
               
              </div>
            </div>
            <!-- <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button> -->
          </mat-menu>
      </mat-list-item>
      <mat-list-item>
        <button 
        class="menu-item openMenuClick"
          mat-flat-button (click)="openAddUser()">
          <mat-icon svgIcon="AddUser"></mat-icon>
          <div class="smallMenuTitle"><span>Add User</span></div>
        </button>
      </mat-list-item>

      <mat-list-item>
          <button  (click)="openModal('createConcern')"
          class="menu-item openMenuClick"
            mat-flat-button>
            <mat-icon svgIcon="teams"></mat-icon>
            <div class="smallMenuTitle"><span>U-Connect</span></div>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button 
          class="menu-item openMenuClick"
            mat-flat-button [matMenuTriggerFor]="usefulLink">
            <mat-icon svgIcon="UsefulLink"></mat-icon>
            <div class="smallMenuTitle"><span>Useful Link</span></div>
          </button>
          <mat-menu #usefulLink="matMenu" class="sidePanelMenu" yPosition="below" backdropClass="custom__menu_usefulLink">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6 menuBlocks">
                    <a href="https://www.mahindra.com/" target="_blank">
                  <button mat-menu-item>
                    <div class="menuImg verticalMiddleCenter">
                        <img  src="/assets/Icons/subMenuPanel/mahindra_logo.png" />
                      </div>
                    <div  class="menuText fontW-500 verticalMiddleCenter font-11" >Mahindra Corporate</div>
                    </button>
                  </a>
                 </div>
                 <div class="col-md-6 menuBlocks">
                    <a href=" http://www.mahindraaq.com/" target="_blank">
                    <button mat-menu-item>
                      <div class="menuImg verticalMiddleCenter">
                          <img  src="/assets/Icons/subMenuPanel/logo.png" />
                        </div>
                      <div  class="menuText fontW-500 verticalMiddleCenter font-11" >World Mahindra AQ</div>
                      </button>
                      </a>
                   </div>
                   <div class="col-md-6 menuBlocks">
                      <a href="https://www.m2all.com/" target="_blank">
                      <button mat-menu-item>
                        <div class="menuImg verticalMiddleCenter">
                            <img  src="/assets/Icons/subMenuPanel/m2all_logo_red.png" />
                          </div>
                        <div  class="menuText fontW-500 verticalMiddleCenter font-11" >M2ALL</div>
                        </button>
                        </a>
                     </div>
                     <div class="col-md-6 menuBlocks">
                        <a href=" https://twitter.com/mahindraaq" target="_blank">
                        <button mat-menu-item>
                          <div class="menuImg verticalMiddleCenter">
                              <img  src="/assets/Icons/subMenuPanel/twitter.png" />
                            </div>
                          <div  class="menuText fontW-500 verticalMiddleCenter font-11" >Mahindra AQ Twitter</div>
                          </button>
                          </a>
                       </div>
                       <div class="col-md-6 menuBlocks">
                          <button mat-menu-item>
                            </button>
                         </div>
                         <div class="col-md-6 menuBlocks">
                            <a href="https://www.facebook.com/MahindraAQ" target="_blank">
                            <button mat-menu-item>
                              <div class="menuImg verticalMiddleCenter">
                                  <img  src="/assets/Icons/subMenuPanel/facebook.png" />
                                </div>
                              <div  class="menuText fontW-500 verticalMiddleCenter font-11" >Mahindra AQ Facebook</div>
                              </button>
                              </a>
                           </div>       
                </div>
              </div>
              <!-- <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button> -->
            </mat-menu>
        </mat-list-item>
        <!-- <mat-list-item>
          <button 
          class="menu-item"
            mat-flat-button>
            <mat-icon svgIcon="Kaizala"></mat-icon>
            <div class="smallMenuTitle"><span>Kaizala</span></div>
          Project</button>
        </mat-list-item> -->
        <mat-list-item>
          <button 
          class="menu-item"
            mat-flat-button (click)="openModal('contact')">
            <mat-icon svgIcon="contact"></mat-icon>
            <div class="smallMenuTitle"><span>Contact</span></div>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button 
          class="menu-item"
            mat-flat-button (click)="safetyAudit()">
            <mat-icon svgIcon="help"></mat-icon>
            <div class="smallMenuTitle"><span>Safety Audit</span></div>
          </button>
        </mat-list-item>
        <!-- <mat-list-item>
          <button 
          class="menu-item"
            mat-flat-button (click)="auditManagement()">
            <mat-icon svgIcon="help"></mat-icon>
            <div class="smallMenuTitle"><span>Audit<br>
              Management</span></div>
          </button>
        </mat-list-item> -->
        <mat-list-item *ngIf="RoleID == '7'">
          <button (click)="extAd()"
          class="menu-item openMenuClick"
            mat-flat-button>
            <mat-icon svgIcon="AddUser"></mat-icon>
            <div class="smallMenuTitle"><span>External AD</span></div>
          </button>
        </mat-list-item>
    </mat-list>
  </mat-sidenav>
  
  <mat-sidenav-content [ngStyle]="{ 'margin-left.px': contentMargin }">
      <router-outlet ></router-outlet> 
  </mat-sidenav-content>
  
</mat-sidenav-container>

<div #divElement [ngClass]="sideMenuFlag ? 'mainMenuPanelClose':'mainMenuPanelOpen'" class="top-right-radius  bottom-right-radius padding builder">
    <div class="col col-md-12 no-padding height100">
        <div class="col  subHdr">
            <div class="row width100">
              <div class="col-md-10">
                <p class="no-margin fontW-500">Main Menu</p>
              </div>
              <div class="col-md-2 no-padding text-right crossIcon">
                  <mat-icon #closeMenu class="closeSubMenu"
                  (click)="sideMenuVisible(true)" 
                  id="close">close</mat-icon>
              </div>
            </div>
          </div>
  <mat-nav-list class="menuListPanel">
    <span *ngFor="let item of cs.SideMenus">
      <span *ngIf="item.listSubMenu && item.listSubMenu.length > 0">
        <mat-accordion>
          <mat-expansion-panel #panelState  hideToggle="true">
            <mat-expansion-panel-header class="padding-horizontal">
              <mat-panel-title>               
                <!-- Cabeceras del submenu -->
                <div fxLayout="row" fxLayoutAlign="space-between center" class="verticalCenter font-13 menuRow" > 
                  <mat-icon class="margin-right-10"  svgIcon="{{item.IconName}}"></mat-icon>
                  {{item.DisplayName}}
                </div>
              </mat-panel-title>
             <mat-panel-description class="plusMinusBtnBlock">
                <mat-icon (click)="addRemoveClick()" *ngIf="!panelState.expanded">add</mat-icon>
                <mat-icon (click)="addRemoveClick()" *ngIf="panelState.expanded">remove</mat-icon>
              </mat-panel-description> 
            </mat-expansion-panel-header>
            <span *ngFor="let child of item.listSubMenu">
              <mat-list-item *ngIf="child.DisplayName !='File Transfer' && child.DisplayName !='Inbox' && child.DisplayName !='Sustainability E-learning SOP'" 
               class="menuItems">
                <div (click)="this.closeMenu._elementRef.nativeElement.click();openPaymentReport(child.DisplayName,child.Route)" fxLayout="row" fxLayoutAlign="space-between center" class="verticalCenter font-13 menuRow" > 
                  <mat-icon class="margin-right-10">keyboard_arrow_right</mat-icon>
                  {{ child.DisplayName }}
                </div>
              </mat-list-item>
              <mat-list-item *ngIf="child.DisplayName =='File Transfer'" class="menuItems">
                <div (click)="this.closeMenu._elementRef.nativeElement.click();openJESCAP(true,child.Route)" fxLayout="row" fxLayoutAlign="space-between center" class="verticalCenter font-13 menuRow" > 
                  <mat-icon class="margin-right-10">keyboard_arrow_right</mat-icon>
                  {{ child.DisplayName }}
                </div>
              </mat-list-item>
              <mat-list-item *ngIf="child.DisplayName =='Inbox'" class="menuItems">
                <div (click)="this.closeMenu._elementRef.nativeElement.click();openJESCAP(false,child.Route)" fxLayout="row" fxLayoutAlign="space-between center" class="verticalCenter font-13 menuRow" > 
                  <mat-icon class="margin-right-10">keyboard_arrow_right</mat-icon>
                  {{ child.DisplayName }}
                </div>
              </mat-list-item>
              <mat-list-item *ngIf="child.DisplayName =='Sustainability E-learning SOP'" class="menuItems">
                <div (click)="this.closeMenu._elementRef.nativeElement.click();openJESCAP(false,child.Route)" fxLayout="row" fxLayoutAlign="space-between center" class="verticalCenter font-13 menuRow" > 
                  <mat-icon class="margin-right-10">keyboard_arrow_right</mat-icon>
                  {{ child.DisplayName }}
                </div>
              </mat-list-item>
            </span>
          </mat-expansion-panel>
        </mat-accordion>
      </span>
      <span *ngIf="!item.listSubMenu || item.listSubMenu.length == 0">
        <mat-list-item class="menuItems">
          <!-- Entradas principales -->
          <div (click)="this.closeMenu._elementRef.nativeElement.click();parentNavigation(item.Route)" fxLayout="row" fxLayoutAlign="space-between center" class="verticalCenter font-13 menuRow">
            <mat-icon class="margin-right-10"  svgIcon="{{item.IconName}}"></mat-icon>
            {{item.DisplayName}}
          </div>
        </mat-list-item>
      </span>
    </span>
  </mat-nav-list>
  </div>
  </div>

  <!-- <div class="closeIcon" (click)="closeModal()">
      <mat-icon svgIcon="chatbotCloseIcon"></mat-icon>
  </div> -->
  <div class=""  [ngClass]="[toastrService.chatbotvisibility ? 'openchatBot' : 'closechatBot', toastrService.chatbotPage ? 'smallChatbotContainer': 'chatbotContainer', toastrService.chatbotPage ? 'openSamllChatBot': '']">
    <div class="closeIcon" (click)="toastrService.closeChatBot()">
        <mat-icon svgIcon="chatbotCloseIcon"></mat-icon>
    </div>
      <iframe width="100%" height="100%" [src]='toastrService.url' class="no-border chatbotFrame"></iframe>
     </div>

  <ng-template #userEditModal>
    <div class="modal-header sm-padding">
      <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">Edit User </h3>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="modal-body">
      <mat-form-field appearance="outline" class="borderInput">
          <input matInput placeholder="First Name" [formControl]="firstName">
          <mat-error *ngIf="!firstName" class="matError">
            First Name is required.
          </mat-error>
        </mat-form-field>  
      <mat-form-field appearance="outline" class="borderInput">
          <input matInput placeholder="Last Name" [formControl]="lastName">
          <mat-error *ngIf="!lastName" class="matError">
            Last Name is required.
          </mat-error>
        </mat-form-field> 
      <mat-form-field appearance="outline" class="borderInput">
          <input matInput placeholder="Email" [formControl]="emailId">
          <mat-error *ngIf="!emailId" class="matError">
            Email ID is required.
          </mat-error>
        </mat-form-field> 
      <mat-form-field appearance="outline" class="borderInput">
          <input matInput placeholder="mobileNo" [formControl]="mobileNo">
          <mat-error *ngIf="!mobileNo" class="matError">
            Mobile No. is required.
          </mat-error>
        </mat-form-field> 
        <button color="theme-green-button" (click)="editUser()" class="verticalMiddleCenter">Update User</button>  
      </div>
    </ng-template>
