@import '../../variable.scss';

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}
.coc{
  color: #e33045
}
.sidenav .mat-toolbar {
  background: inherit;
}
.msetuLogo{
  position: relative;
  // left: -3.5% !important;
  z-index: 2;
}
.profileBlock{
  img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    // border: 3px solid #3F3F3F;
  }
  .profile-info{
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px 0 10px;
    line-height: 20px;
    color: #fff;
    small{
      display: block;
      opacity: 1;
      // color: #717171;
      color: #fff;
      }
  }
}


/*******************
Notify
*******************/
.notify {
  position: relative;
  top: -5%;
  right: 15%;
   }
   .notify .num{
    position: absolute;
    right: -10px;
    top: -22px;
    color: #fff;
    font-size: 12px;
    width: 19px;
    padding-left: 5px;
    height: 16px;
    padding-bottom: 25px !important;
    border-radius: 49px;
    background-color: #E33045;
   }
  .notify .heartbit {
    position: absolute;
    top: -20px;
    right: -4px;
    height: 25px;
    width: 25px;
    z-index: 10;
    border: 5px solid #E33045;
    border-radius: 70px;
    -moz-animation: heartbit 1s ease-out;
    -moz-animation-iteration-count: infinite;
    -o-animation: heartbit 1s ease-out;
    -o-animation-iteration-count: infinite;
    -webkit-animation: heartbit 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }
  .notify .point {
    width: 6px;
    height: 6px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #E33045;
    position: absolute;
    right: 6px;
    top: -10px; }

@-moz-keyframes heartbit {
  0% {
    -moz-transform: scale(0);
    opacity: 0.0; }
  25% {
    -moz-transform: scale(0.1);
    opacity: 0.1; }
  50% {
    -moz-transform: scale(0.5);
    opacity: 0.3; }
  75% {
    -moz-transform: scale(0.8);
    opacity: 0.5; }
  100% {
    -moz-transform: scale(1);
    opacity: 0.0; } }

@-webkit-keyframes heartbit {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0; }
  25% {
    -webkit-transform: scale(0.1);
    opacity: 0.1; }
  50% {
    -webkit-transform: scale(0.5);
    opacity: 0.3; }
  75% {
    -webkit-transform: scale(0.8);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(1);
    opacity: 0.0; } }
  //   .builder {
  //     width: 260px !important;
  //     right: -260px !important;
  // }
  .builder.mainMenuPanelOpen {
   transform:translate(260px,0);
    // -ms-transform:translate(-100%,0);
}
.mainMenuPanelClose{
  position:fixed;
  left:-260px;
  width:260px;
  background:#fff;
  // bottom:0;
  z-index:1000;
  -webkit-transition:-webkit-transform 400ms cubic-bezier(0.05,0.74,0.27,0.99);
  transition:transform 400ms cubic-bezier(0.05,0.74,0.27,0.99);
  -webkit-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  -webkit-perspective:1000;
  // width: 20%;
  // position: fixed;
  // background: #fff;
  // z-index: 9;
  // height: 100%;
  // left: -20%;
}
    .mainMenuPanelOpen{
      position:fixed;
      left:-260px;
       width:260px;
      background:#fff;
      // bottom:0;
      z-index:1000;
     -webkit-transition:-webkit-transform 400ms cubic-bezier(0.05,0.74,0.27,0.99);
      transition:transform 400ms cubic-bezier(0.05,0.74,0.27,0.99);
      -webkit-backface-visibility:hidden;
      -ms-backface-visibility:hidden;
      -webkit-perspective:1000;
      height: 100%;
      padding: 0px;
      // width: 20%;
      // position: fixed;
      // background: #fff;
      // z-index: 9;
      // height: 100%;
      // font-family: 'Lato-Regular' !important;
      // // left: -20%;
      // box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
     .subHdr{
       color:$color-primary-default;
       height: 8vh;
      display: flex;
      align-items: center;
       p{
        font-size: 17px;
       }
     }
     .closeSubMenu{
       color:#B3B3B3;
       cursor: pointer;
     }
     .mat-expansion-panel-header{
      padding:0px 16px !important;
      height: 42px !important;
     }
     .mat-expansion-indicator{
      display: flex;
     }
     .menuRow{
      color: #7A7979;
      font-weight: 500;
      .mat-icon{
        height: 20px;
        width: 20px;
        // font-size: 20px;
        color:#C1C1C1;
       }
     }
     .plusMinusBtnBlock{
      margin-right: 0px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .mat-icon {
         height: 15px;
        width: 15px;
        font-size: 15PX;
    }
     }
     .mat-expansion-panel:not([class*=mat-elevation-z]){
       box-shadow: none !important;
     }
     .mat-expansion-panel-body{
      padding: 0 16px 0 !important;
     }
     .menuListPanel{
      padding: 0px;
      height: 92vh;
      overflow-y: auto;
      padding-bottom: 25%;
     }
     /deep/ .mat-list-base .mat-list-item.menuItems{
      height: 42px !important;
     }
     /deep/ .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 0.5em 0 1em 0;
      }
     .crossIcon{
      position: absolute;
      right: 4%;
     }
    }
    .mat-toolbar#mainToolbar.mat-primary{
      background: transparent;
     
    }
    .mat-toolbar-multiple-rows{ 
      min-height: 100% !important;
      .mat-toolbar-row.customHeight{
       height: 57px !important;
      }
    }
    .mat-toolbar#loginToolbar.mat-primary{
      background: #fff;
      box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
      .loginSpacer{
        flex: 1 1 auto;
      }
      .mat-button{
        color: $color-foreground-default;
        width: 10%;
        text-decoration: unset;
        margin-left: 30px;
      }
      /deep/.active-list-item:after{
         content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 0;
        height: 3px;
        max-width: 100%;
        background: #58c4a7;
        transition: .33s all ease-out;
      }
      /deep/.active-list-item {
       background: #eee;
        span{
          //border-bottom: 2px solid #E3003D;
          padding-bottom: 5px;
          color: #E3003D;
          font-weight: 500;
        }
        // color: #E11836 !important; /* Note: You could also use a custom theme */
      }
    }
// /deep/.mat-menu-panel{
//   background: #fff;
//   min-width: 20% !important;
//   max-width: 21% !important;
// }

/deep/.sidePanelMenu{
  .menuBlocks{
    padding: 5px 0px;
    .mat-menu-item{
      background: #fff;
      height: 85px !important;
      padding: 0px;
      .menuImg{
        height: 70%;
        .imgInternal{
          height: 70%;
          width: 50%;
          text-align: center;
          border: 3px solid #c1c1c1;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background: gray;
          img{
          //   height: 100%;
          // width: 100%;
         }
        }
       
      }
      .menuText{
        height: 30%;
        color: #9E9E9E;
        font-family: 'Lato-Regular';
      }
    }
  }
}
// .custom__menu_favourite{

// }
/deep/.custom__menu_favourite + * .cdk-overlay-pane > div.mat-menu-panel {
  position: absolute;
  top: -15% !important;
  left: 5.8% !important;
  border-radius: 0px 6px 6px 0px !important;
  animation: fade-in .3s ease 1,move-up .3s ease-out 1;
  
  
}
/deep/.custom__menu_usefulLink + * .cdk-overlay-pane > div.mat-menu-panel {
 position: absolute;
 left: 5.8% !important;
 bottom: -5% !important;
 border-radius: 0px 6px 6px 0px !important;

}
/deep/.logoutMenuPanel + * .cdk-overlay-pane > div.mat-menu-panel {
  min-width: 150px !important;
  top: 2%;
  position: absolute;
  right: 0;
  max-width: 150px !important;
  button.mat-menu-item{
    border-bottom: 1px solid #eee;
  }
  .mat-menu-content{
    padding: 0px !important;
    .logoutIcon{
    height: 30px;
    width: 30px;
    // margin-right: 10px;
    // border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    // background: #e4e6eb;
    // color: #5f666f;
    .mat-icon{
    margin: 0px !important;
    height: 16px !important;
    width: 16px !important;
    }
    }
    .userIcon{
      height: 30px;
      width: 30px;
       margin-right: 10px;
       border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url(https://material.angular.io/assets/img/examples/shiba1.jpg);
      background-size: cover;
    }
  }
}
.switchViewBtn{
  width:300px;
  border-radius: 20px;
  /deep/{
    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content{
      line-height: 36px !important;
      // color: #CFCFCF;
    }
    .mat-button-toggle-appearance-standard{
      background: #777777;
      color: #C5C5C5;
    }
    .mat-button-toggle-checked {
      background-color: #EDBD01;
      color: #444 !important;
  }
  }
  
}
/deep/.searchModal .modal-dialog {
  max-width: 92.5% !important;
  top: 6%;
  right: 0;
  left: 2.5%;
}
.logoAlign{
  position: absolute;
  left: -2%;
} 
.active{
  background-color: red  !important;
} 

button.openMenuClick:focus {
  background-color: #fff  !important;
}
// .mat-toolbar#loginToolbar.mat-primary .mat-button:hover:before{
//   transform: scale(1);
// }
// .mat-toolbar#loginToolbar.mat-primary .mat-button:before{
//   content: '';
//   position: absolute;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   border-top: 2px solid#E3003D;
//   -webkit-transform-origin: center;
//   transform-origin: center;
//   -webkit-transform: scale(0, 1);
//   transform: scale(0, 1);
//   -webkit-transition: all .25s;
//   transition: all .25s;
// }


.mat-toolbar#loginToolbar.mat-primary .mat-button:after{
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 2px;
  max-width: 100%;
  background: #E3003D;
  transition: .70s all ease-out;
}
.mat-toolbar#loginToolbar.mat-primary .mat-button.active-list-item:after{
  opacity: 1;
  visibility: visible;
  width: 100%;
}
.mat-toolbar#loginToolbar.mat-primary .mat-button:hover:after{
  opacity: 1;
  visibility: visible;
  width: 100%;
}
.noFavs{
  text-align: center;
  font-weight: 600;
}

/* common */
.loading {
  letter-spacing: 0.5rem;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
}
.loading span {
  display: inline-block;
  margin: 0 -.05em;
}
/* code #1 */
.loading01 span {
  animation: loading01 1.4s infinite alternate;
}
.loading01 span:nth-child(1) {
  animation-delay: 0s;
}
.loading01 span:nth-child(2) {
  animation-delay: 0.1s;
}
.loading01 span:nth-child(3) {
  animation-delay: 0.2s;
}
.loading01 span:nth-child(4) {
  animation-delay: 0.3s;
}
.loading01 span:nth-child(5) {
  animation-delay: 0.4s;
}
.loading01 span:nth-child(6) {
  animation-delay: 0.5s;
}
.loading01 span:nth-child(7) {
  animation-delay: 0.6s;
}
@keyframes loading01 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.chatbotContainer{
   position: fixed;
    right: 0;
    // height: 70vh;
    // width: 26vw;
    height: 600px;
    width: 600px;
    background: #fff;
    z-index: 99999;
    transform: translateY(100%);
    transition: transform 0.7s;
    bottom: 0;
  
.closeIcon{
    position: absolute;
    right: 2%;
    top: 1%;
     transition: transform 0.4s;
     transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    mat-icon{
        height: 18px;
        width: 18px;
        font-size: 18px;
        cursor: pointer;
    }
   }
}
.smallChatbotContainer{
  position: fixed;
   right: 0;
   // height: 70vh;
   // width: 26vw;
   height: 400px;
   width: 400px;
   background: #fff;
   z-index: 99999;
   transform: translateY(100%);
   transition: transform 0.7s;
   bottom: 0;
 
.closeIcon{
   position: absolute;
   right: 2%;
   top: 1%;
    transition: transform 0.4s;
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
   mat-icon{
       height: 18px;
       width: 18px;
       font-size: 18px;
       cursor: pointer;
   }
  }
}
::ng-deep .chatbotFrame body{
  overflow: hidden !important;
}
.closechatBot{
  transform: translateY(100%);
  transition: transform 0.7s;
  bottom: 0;
  
}
.openchatBot{
  visibility: visible;
   transform: translateY(0);
  transition: transform 0.7s;
  top: 10%;
}
.openSamllChatBot{
  visibility: visible;
  transform: translateY(0);
  transition: transform 0.7s;
  bottom: 0%;
  top:37%;
}
.closeIconbot{
  transform: translateY(100%); 
  transition: transform 0.7s;
}

/deep/.mat-button:hover .mat-button-focus-overlay{
  opacity: 0 !important;
}
.stage {   width: 100%;   height: 100%;   display: flex;   align-items: center;   justify-content: center; } .wrapper {   position: relative;   color: #e31837;   font-size: 1rem;   text-transform: uppercase;   letter-spacing: 0.10rem;   padding-top: 0.65rem;   padding-left: 0.5rem;   padding-right: 0.36rem;   padding-bottom: 0.2rem; } .slash {   position: absolute;   top: 50%;   left: 50%;   transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);   transform-origin: center center;   width: 0.15rem;   height: 145%;   background: fff;   z-index: 4;   animation: slash 6s ease-in infinite; } .slash:before {   content: '';   display: block;   position: absolute;   top: 50%;   left: 50%;   transform: translate(-50%, -50%);   width: 0.75rem;   height: 120%;   background:transparent;   z-index: -1; } .slash:after {   content: '';   display: block;   position: absolute;   top: 0;   left: 0;   width: 100%;   height: 100%;   background: #e31837; } .sides {   position: absolute;   width: 100%;   height: 100%;   top: 0;   left: 0;   overflow: hidden; } .sides .side {   position: absolute;   background: #e31837; } .sides .side:nth-child(1) {   top: 0;   left: 0;   width: 100%;   height: 0.15rem;   transform: translateX(-101%);   animation: side-top ease 6s infinite; } .sides .side:nth-child(2) {   top: 0;   right: 0;   width: 0.15rem;   height: 100%;   transform: translateY(-101%);   animation: side-right ease 6s infinite; } .sides .side:nth-child(3) {   left: 0;   bottom: 0;   width: 100%;   height: 0.15rem;   transform: translateX(101%);   animation: side-bottom ease 6s infinite; } .sides .side:nth-child(4) {   top: 0;   left: 0;   width: 0.15rem;   height: 100%;   transform: translateY(101%);   animation: side-left ease 6s infinite; } .text {   position: relative; } .text--backing {   opacity: 0; } .text--left {   position: absolute;   top: 0;   left: 0;   width: 100%;   height: 100%;   overflow: hidden; } .text--left .inner {   transform: translateX(100%);   animation: text-left 6s ease-in-out infinite; }
.text--right {   position: absolute;   top: 0;   right: 0;   width: 50%;   height: 100%;   overflow: hidden; } .text--right .inner {   transform: translateX(-200%);   animation: text-right 6s ease-in-out infinite; } @-moz-keyframes slash {   0% {     transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);   }   6% {     transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);   }   13% {     transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);   }   16.6% {     transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);   }   100% {     transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);   } } @-webkit-keyframes slash {   0% {     transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);   }   6% {     transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);   }   13% {     transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);   }   16.6% {     transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);   }   100% {     transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);   } } @-o-keyframes slash {   0% {     transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);   }   6% {     transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);   }   13% {     transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);   }   16.6% {     transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);   }   100% {     transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);   } } @keyframes slash {   0% {     transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);   }   6% {     transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);   }   13% {     transform: translate(-50%, -50%) rotate(-24deg) scaleY(1);   }   16.6% {     transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);   }   100% {     transform: translate(-50%, -50%) rotate(-24deg) scaleY(0);   } } @-moz-keyframes text-left {   0% {     transform: translateX(100%);   }   10% {     transform: translateX(0);   }   58% {     transform: translateX(0);   }   70% {     transform: translateX(-200%);   }   100% {     transform: translateX(-200%);   } } @-webkit-keyframes text-left {   0% {     transform: translateX(100%);   }   10% {     transform: translateX(0);   }   58% {     transform: translateX(0);   }   70% {     transform: translateX(-200%);   }   100% {     transform: translateX(-200%);   } } @-o-keyframes text-left {   0% {     transform: translateX(100%);   }   10% {     transform: translateX(0);   }   58% {     transform: translateX(0);   }   70% {     transform: translateX(-200%);   }   100% {     transform: translateX(-200%);   } } @keyframes text-left {   0% {     transform: translateX(100%);   }   10% {     transform: translateX(0);   }   58% {     transform: translateX(0);   }   70% {     transform: translateX(-200%);   }   100% {     transform: translateX(-200%);   } } @-moz-keyframes text-right {   0% {     transform: translateX(-200%);   }   10% {     transform: translateX(-100%);   }   58% {     transform: translateX(-100%);   }   70% {     transform: translateX(-300%);   }   100% {     transform: translateX(-300%);   } } @-webkit-keyframes text-right {   0% {     transform: translateX(-200%);   }   10% {     transform: translateX(-100%);   }   58% {     transform: translateX(-100%);   }   70% {     transform: translateX(-300%);   }   100% {     transform: translateX(-300%);   } } @-o-keyframes text-right {   0% {     transform: translateX(-200%);   }   10% {     transform: translateX(-100%);   }   58% {     transform: translateX(-100%);   }   70% {     transform: translateX(-300%);   }   100% {     transform: translateX(-300%);   } } @keyframes text-right {   0% {     transform: translateX(-200%);   }   10% {     transform: translateX(-100%);   }   58% {     transform: translateX(-100%);   }   70% {     transform: translateX(-300%);   }   100% {     transform: translateX(-300%);   } } @-moz-keyframes side-top {   0%, 14% {     transform: translateX(-101%);   }   24%, 55% {     transform: translateX(0);   }   65% {     transform: translateX(101%);   }   100% {     transform: translateX(101%);   } } @-webkit-keyframes side-top {   0%, 14% {     transform: translateX(-101%);   }   24%, 55% {     transform: translateX(0);   }   65% {     transform: translateX(101%);   }   100% {     transform: translateX(101%);   } } @-o-keyframes side-top {   0%, 14% {     transform: translateX(-101%);   }   24%, 55% {     transform: translateX(0);   }   65% {     transform: translateX(101%);   }   100% {     transform: translateX(101%);   } } @keyframes side-top {   0%, 14% {     transform: translateX(-101%);   }   24%, 55% {     transform: translateX(0);   }   65% {     transform: translateX(101%);   }   100% {     transform: translateX(101%);   } } @-moz-keyframes side-right {   0%, 14%, 23% {     transform: translateY(-101%);   }   30%, 62% {     transform: translateY(0);   }   72% {     transform: translateY(101%);   }   100% {     transform: translateY(101%);   } } @-webkit-keyframes side-right {   0%, 14%, 23% {     transform: translateY(-101%);   }   30%, 62% {     transform: translateY(0);   }   72% {     transform: translateY(101%);   }   100% {     transform: translateY(101%);   } } @-o-keyframes side-right {   0%, 14%, 23% {     transform: translateY(-101%);   }   30%, 62% {     transform: translateY(0);   }   72% {     transform: translateY(101%);   }   100% {     transform: translateY(101%);   } } @keyframes side-right {   0%, 14%, 23% {     transform: translateY(-101%);   }   30%, 62% {     transform: translateY(0);   }   72% {     transform: translateY(101%);   }   100% {     transform: translateY(101%);   } } @-moz-keyframes side-bottom {   0%, 14%, 24%, 28% {     transform: translateX(101%);   }   37%, 70% {     transform: translateX(0);   }   79% {     transform: translateX(-101%);   }   100% {     transform: translateX(-101%);   } } @-webkit-keyframes side-bottom {   0%, 14%, 24%, 28% {     transform: translateX(101%);   }   37%, 70% {     transform: translateX(0);   }   79% {     transform: translateX(-101%);   }   100% {     transform: translateX(-101%);   } } @-o-keyframes side-bottom {   0%, 14%, 24%, 28% {     transform: translateX(101%);   }   37%, 70% {     transform: translateX(0);   }   79% {     transform: translateX(-101%);   }   100% {     transform: translateX(-101%);   } } @keyframes side-bottom {   0%, 14%, 24%, 28% {     transform: translateX(101%);   }   37%, 70% {     transform: translateX(0);   }   79% {     transform: translateX(-101%);   }   100% {     transform: translateX(-101%);   } } @-moz-keyframes side-left {   0%, 14%, 24%, 34%, 35% {     transform: translateY(101%);   }   44%, 79% {     transform: translateY(0);   }   86% {     transform: translateY(-101%);   }   100% {     transform: translateY(-101%);   } } @-webkit-keyframes side-left {   0%, 14%, 24%, 34%, 35% {     transform: translateY(101%);   }   44%, 79% {     transform: translateY(0);   }   86% {     transform: translateY(-101%);   }   100% {     transform: translateY(-101%);   } } @-o-keyframes side-left {   0%, 14%, 24%, 34%, 35% {     transform: translateY(101%);   }   44%, 79% {     transform: translateY(0);   }   86% {     transform: translateY(-101%);   }   100% {     transform: translateY(-101%);   } } @keyframes side-left {   0%, 14%, 24%, 34%, 35% {     transform: translateY(101%);   }   44%, 79% {     transform: translateY(0);   }   86% {     transform: translateY(-101%);   }   100% {     transform: translateY(-101%);   } }