@import '../../../variable.scss';
$newsUpdatesBG: #BFBFBF;
$ticketStatusBG:#5F5F5F;
.triangle-class{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  top: -2%;
  right: 25%;
}
.searchModal{
  .modal-body{
        .modalConatiner{
            padding: 40px;
            p{
                color: $color-foreground-tertiary;
            }
            h3{
              color: #525252;
            }
        }
    }

    .full-width{
        width:100%;
    }

    .borderInput mat-icon{
      font-size: 18px;
      height: 18px;
      width: 18px;
      display: flex;
      opacity: 0.4;
    }

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix input {
        /* padding: 1em 0 1em 0; */
      padding: 0px 0px 0px 15px;
    }


    // ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    //     /* padding: 1em 0 1em 0; */
    //     padding:0.5em 0 1.0em 0;
    // }

     
      ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
        border-radius: 50px !important;
        box-sizing: border-box;
        color:white;
        box-shadow: 0px 0px 0px grey;
      }
      ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
        border-radius: 50px !important;
        box-shadow: 0 4px 8px rgba(0,30,84,.12), 0 1px 3px rgba(0,30,84,.08);
        //color:white;
      }

      .borderInput{
        ::ng-deep .mat-form-field-infix{border-top: 0px !important;}
        ::ng-deep .mat-form-field-wrapper{padding-bottom: 0px;}
        }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: rgba(0,0,0,.12); }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{border-width: 1px !important;}
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{border-width: 1px !important;}
        /deep/.mat-form-field-appearance-outline .mat-form-field-infix { padding: 1.5em 0 1.5em 0; }
        /deep/.mat-select-arrow-wrapper{
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .close{
          position: absolute;
          right: 0%;
          top: 0%;
          cursor: pointer;
        }
}
.tableVisibility {
  display: none;
}
.tableContent {
  height:275px;
  overflow-y: scroll;
}
.afterTable {
  height: 545px;
}
// .beforeTable {
//   height: 0;
// }