<div class="triangle-class"></div>
<div class="container-fluid searchModal padding" style="height: auto;" >
  <div class="modal-body">
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="closeModal()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="col-md-12 modalConatiner">
      <div class="col no-padding">
        <mat-form-field appearance="outline" class="borderInput width100">
          <mat-icon
            svgIcon="search"
            matSuffix
            class="margin-right-10"
          ></mat-icon>
          <input (change)="search($event)" matInput placeholder="Search" />
        </mat-form-field>
      </div>
      <div class="spacer"></div>
      <div class="col" *ngIf="searchResults.length > 0">
        <h3 class="fontW-400 font-14">Results</h3>
        <p
          class="font-13"
          *ngFor="let result of searchResults"
          (click)="navigateTo(result.Link)"
        >
          {{ result.SearchName }}
        </p>
      </div>
      <div class="spacer"></div>

      <!-- <div class="col">
        <h3 class="fontW-400 font-14">Recently Accessed Widgets</h3>
        <p class="font-13">No data found</p>
      </div>
      <div class="spacer"></div>
      <div class="col">
        <h3 class="fontW-400 font-14">Most Visited Applications</h3>
        <p class="font-13">No data found</p>
      </div> -->
    </div>
    <!-- <mat-form-field appearance="outline"  class="full-width">
      <mat-icon matSuffix>search</mat-icon>
       <input matInput
        type="input"
        placeholder="Search" >
     </mat-form-field> -->
  </div>
  <div class="row" *ngIf="RoleID == '7'">
    <div class="col col-md-11"></div>
    <div class="col col-md-1 primaryFormBtn disInlineBlock">
      <button (click)="addSearchField(editContent, false ,'')" color="theme-red-button">Add</button>
    </div>
    <!-- <div class="col col-md-1 primaryFormBtn disInlineBlock">
      <button (click)="addSearchField(showContent, true , '')" color="theme-red-button">Show List</button>
      <button (click)="hideListTable()" *ngIf="showListFlag == false" color="theme-red-button">Hide List</button>
    </div> -->
    <div class="col-md-12 padding tableContent" *ngIf="RoleID == '7'">
      <div class="row outerblock">
        <div class="col height100">
          <div class="example-container  tbl_New_Layout height100">
                <div class="table-container">
                  <table mat-table  #updatedEmployeeTable class="lessons-table" [dataSource]="dataSource">
                   
                    <ng-container matColumnDef="SearchField">
                      <th mat-header-cell *matHeaderCellDef> Search Code</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.SearchCode }}
                      </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="Link">
                        <th mat-header-cell *matHeaderCellDef>Link</th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.Link }}
                          </td>
                          <td mat-footer-cell *matFooterCellDef>  </td>
                      </ng-container>
                      <ng-container matColumnDef="Description">
                        <th mat-header-cell *matHeaderCellDef>Description</th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.Description }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                      </ng-container>
                      <ng-container matColumnDef="SearchName">
                        <th mat-header-cell *matHeaderCellDef>SearchName</th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.SearchName }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                      </ng-container>
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Action</th>
                        <td mat-cell *matCellDef="let element" class="text-center"> 
                          <mat-icon  class="flex  disInlineBlock pointerCursor" svgIcon="edit" (click)="addSearchField(editContent, false ,element)" matTooltip="Edit"></mat-icon>
                          <mat-icon  class="flex  disInlineBlock pointerCursor" svgIcon="delete" (click)="deleteSearchByID(element)" matTooltip="delete"></mat-icon>
                          </td>
                          <td mat-footer-cell *matFooterCellDef> </td>
                      </ng-container>
                    
                                
                      <tr mat-header-row  *matHeaderRowDef="displayedColumns3;sticky: true"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns3"></tr>
                      <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns2"></tr> -->
                    </table>
                    </div>
                    <div *ngIf="updatedEmpDetails">
                      <div *ngIf="updatedEmpDetails.length === 0">No records found</div>
                    </div>
              
                    <mat-paginator [length]="pageSize" [pageSize]="10" [pageIndex]="pageNo" (page)="getPageChangeData($event)">
                    </mat-paginator> 
                  
                </div>
          </div>
    </div>
  </div>
</div>
<ng-template #editContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">Add Search Field</h3>
    <button type="button" class="close" aria-label="Close" (click)="onCloseAddModal(c)" id="closeAddModal">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form [formGroup]="editEmpFormdata" #form="ngForm">
   
  <div class="modal-body">
    
    <div class="row">
      <div class="col-md-6">
   

          <div class="row">
              <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                 Search Code:
              </div>
              <div class="col-md-7 colInput">
                  <mat-form-field appearance="outline" class="borderInput font-13">
                      <input matInput name="code" formControlName="code">
                   </mat-form-field>
                </div>
          </div>
          <div class="row">
            <div class="col-md-5 colInputHeader verticalEndCenter font-13">
               Description :
            </div>
            <div class="col-md-7 colInput">
                <mat-form-field appearance="outline" class="borderInput font-13">
                    <input matInput name="desc"  formControlName="desc">
                 </mat-form-field>
              
              </div>
            </div>
          <!-- <div class="row">
            <div class="col-md-5 colInputHeader verticalEndCenter font-13">
               Mobile No:
            </div>
            <div class="col-md-7 colInput">
                <mat-form-field appearance="outline" class="borderInput font-13">
                    <input matInput name="mbno" (keypress)="numberOnly($event)" formControlName="PhoneNumber">
                 </mat-form-field>
                 <mat-error *ngIf="editEmpFormdata.get('PhoneNumber').hasError('pattern')&& (editEmpFormdata.get('PhoneNumber').touched)" class="matError font-13">Mobile Number Accept only Numbers & Should be 10 Digits</mat-error>
               
              </div>
        </div> -->
        <!-- <div class="row">
          <div class="col-md-5 colInputHeader verticalEndCenter font-13">
             Location:
          </div>
          <div class="col-md-7 colInput">
              <mat-form-field appearance="outline" class="borderInput font-13">
                  <input matInput name="location" formControlName="Location">
               </mat-form-field>
               <mat-error *ngIf="editEmpFormdata.get('Location').hasError('pattern')&& (editEmpFormdata.get('Location').touched)" class="matError font-13">Kindly Enter Location</mat-error>
            </div>
          </div> -->
      </div>
      <div class="col-md-6">
   

        <div class="row">
            <div class="col-md-5 colInputHeader verticalEndCenter font-13">
               Name :
            </div>
            <div class="col-md-7 colInput">
                <mat-form-field appearance="outline" class="borderInput font-13">
                    <input matInput name="name" formControlName="name">
                 </mat-form-field>
              </div>
        </div>
        <div class="row">
          <div class="col-md-5 colInputHeader verticalEndCenter font-13">
            Link :
          </div>
          <div class="col-md-7 colInput">
              <mat-form-field appearance="outline" class="borderInput font-13">
                  <input matInput name="link"  formControlName="link">
               </mat-form-field>
            
            </div>
          </div>
    </div>
  
      </div>

  
  </div>
  <div class="modal-footer">
    <div class="col text-center">
        <div class="primaryFormBtn disInlineBlock margin-right-10">
            <button  color="theme-red-button" (click)="addSearch()" *ngIf="searchID ==''">Add</button> 
            <button color="theme-red-button" (click)="updateSearchByID()" *ngIf="searchID !=''">Update</button>
          </div>
        </div>
  </div>
</form>
</ng-template>
<ng-template #showContent let-t="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">Search Field List</h3>
    <button type="button" class="close" aria-label="Close" (click)="onCloseAddModal(t)">
      <mat-icon>close</mat-icon>
    </button>
  </div> 
  <div class="modal-body">
    <div class="col-md-12 padding height100">
    <div class="row outerblock">
      <div class="col height100">
        <div class="example-container  tbl_New_Layout height100">
              <div class="table-container">
                <table mat-table  #updatedEmployeeTable class="lessons-table" [dataSource]="dataSource">
                 
                  <ng-container matColumnDef="SearchField">
                    <th mat-header-cell *matHeaderCellDef>Search Field</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.FirstName }}&nbsp; {{element.LastName}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef> </td>
                  </ng-container>
                  <ng-container matColumnDef="Link">
                      <th mat-header-cell *matHeaderCellDef>Link</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.VendorCode || "N/A" }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef>  </td>
                    </ng-container>
                
                  
                              
                    <tr mat-header-row  *matHeaderRowDef="displayedColumns3;sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns3"></tr>
                    <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns2"></tr> -->
                  </table>
                  </div>
                  <div *ngIf="updatedEmpDetails">
                    <div *ngIf="updatedEmpDetails.length === 0">No records found</div>
                  </div>
<!--                  
                  <mat-paginator [length]="pageSize" [pageSize]="10" [pageIndex]="pageNo" (page)="getPageChangeData($event)">
                  </mat-paginator> -->
                
              </div>
        </div>
  </div>
</div>
  
  </div>
  <div class="modal-footer">
    <!-- <div class="col text-center">
        <div class="primaryFormBtn disInlineBlock margin-right-10">
            <button  color="theme-red-button" (click)="addSearch()">Add</button> 
          </div>
        </div> -->
  </div>
</ng-template>