<div class="container-fluid suggestionDashboard padding">
    <div class="grid">
      <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
        <div class="row width100 verticalCenter">
            <div class="col-md-6">
                <h4 class="no-margin">{{isAdmin?'Admin IMCR/CRE Dashboard':'IMCR/CRE Dashboard'}}</h4>
              </div>
              <div class="col-md-6 no-padding">
                  <p class="no-margin font-13 width100 flex verticalEndCenter">
                      <span class="pointer" (click)="navigate()" routerDirection="backward">Home</span> <mat-icon>chevron_right</mat-icon>
                      <span class="pointer" routerLink="/mySuggestion" routerDirection="backward">My Suggestion</span> <mat-icon>chevron_right</mat-icon>
                     <span class="secondaryMenu">Imcr/Cre Dashboard</span> 
                  </p>
                </div>
        </div>
      </div>
       <div class="col-md-12 border-radius border-radius padding-top no-padding-left no-padding-righ">
          <mat-card class="no-padding mainOuterCardContainer">
              <div class="col-md-12 no-padding padding-vertical">
                    <mat-card class="no-shadow no-padding">
                        <mat-card-content>
                          <div class="row no-margin">
                            <div class="col-md-2 margin-bottom verticalCenter">
                              <h3 class="no-margin themePrimaryColor">
                               {{isAdmin?'Admin IMCR/CRE Dashboard':'IMCR/CRE Dashboard'}}
                              </h3>
                            </div>
                            <div class="col-md-6"></div>
                            <div class="col-md-2 margin-bottom">
                              <div class="width100 vertcalAligment">
                                  <button class="verticalMiddleCenter" color="theme-gray-button" (click)="reset()">Reset</button> 
                                    </div>
                              </div>
                            <div class="col-md-2 margin-bottom">
                              <div class="width100 vertcalAligment">
                                  <button [disabled]="isDisabled" class="verticalMiddleCenter" color="theme-green-button" (click)="exportAsExcelFile()">
                                          <mat-icon  class="flex margin-right-10 disInlineBlock" svgIcon="excelIcon"></mat-icon>Export To Excel</button> 
                                    </div>
                              </div>
                           </div>
                           <form [formGroup]="filterForm">
                              <div class="row no-margin filterSection">
                                  <div class="col-md-1 margin-bottom verticalCenter">
                                    <p class="no-margin">
                                      Filter
                                    </p>
                                  </div>
                                      <div class="col-md-3 margin-bottom custWidth">
                                          <mat-form-field appearance="outline" class="borderInput font-13">
                                              <input matInput formControlName="Idea_Number" placeholder="Idea Number">
                                            </mat-form-field> 
                                      </div>
                                      <div class="col-md-3 margin-bottom custWidth">
                                          <mat-form-field appearance="outline" class="borderInput font-13">
                                              <input matInput formControlName="Supplier_Name" placeholder="supplier Name">
                                            </mat-form-field> 
                                      </div>
                                      <div class="col-md-3 margin-bottom custWidth">
                                          <mat-form-field appearance="outline" class="borderInput font-13">
                                            <mat-select placeholder="Select" formControlName="Status">
                                              <mat-option value="">Select Status</mat-option>
                                              <mat-option *ngFor="let status of statusData" [value]="status.StatusName">{{status.StatusName}}</mat-option>
                                          </mat-select>
                                            </mat-form-field> 
                                      </div>
                                      <div class="col-md-2 margin-bottom">
                                        <div class="width100 vertcalAligment">
                                          <button (click)="getDashBoardData(1,0,false)" color="theme-red-button" >Search</button> 
                                        </div>
                                      </div>
                                    </div>
                              </form>
                          <div class="col">
                          <div class="example-container tbl_New_Layout">
                                <div class="table-container">
                              <table #table mat-table  class="lessons-table" [dataSource]="dashBoardData">
                                <!-- <ng-container matColumnDef="ideaID">
                                  <th mat-header-cell *matHeaderCellDef class="tblColFlex9">Idea ID</th>
                                  <td mat-cell *matCellDef="let element">
                                    {{ element.IdeaID || "N/A" }}
                                    </td>
                                </ng-container> -->
                             <ng-container matColumnDef="IdeaNo">
                                  <th mat-header-cell *matHeaderCellDef class="tblColFlex15">Idea Number</th>
                                  <td mat-cell *matCellDef="let element" class="text-center" (click)="getDashBoardDataById(element)">
                                   <a [ngClass]="element.StatusOfTranscation!='Draft'?'IdeaNumber IdeaNumberSubmited':'IdeaNumberDraft1 IdeaNumberDraft'"> {{ element.IdeaNumber || "N/A" }}</a>
                                  </td>
                                </ng-container>
                                <ng-container matColumnDef="proposalDescription">
                                    <th mat-header-cell *matHeaderCellDef class="tblColFlex9">Proposal Description</th>
                                    <td mat-cell *matCellDef="let element">
                                      {{ element.ProposalDescription || "N/A" }}
                                      </td>
                                  </ng-container>
                                  <ng-container matColumnDef="platform">
                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex12">Platform</th>
                                        <td mat-cell *matCellDef="let element" text-center>
                                          {{ element.ModelAffected || "N/A" }}
                                          </td>
                                       </ng-container>
                                       <ng-container matColumnDef="supplierName">
                                          <th mat-header-cell *matHeaderCellDef class="tblColFlex9">Supplier Name</th>
                                          <td mat-cell *matCellDef="let element">
                                              {{ element.SupplierName || "N/A" }}
                                            </td>
                                       </ng-container>
                                      <ng-container matColumnDef="ideaReceived">
                                          <th mat-header-cell *matHeaderCellDef class="tblColFlex10">Idea Received On Date</th>
                                          <td mat-cell *matCellDef="let element">
                                              {{ element.CreatedDate | date:'dd/MM/yyyy' || "N/A" }}
                                            </td>
                                         </ng-container>
                                      
                                          <ng-container matColumnDef="CA">
                                              <th mat-header-cell *matHeaderCellDef>CA</th>
                                              <td mat-cell *matCellDef="let element">
                                                  {{ element.CurrentAgeing || "0" }}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="PA">
                                                <th mat-header-cell *matHeaderCellDef>PA</th>
                                                <td mat-cell *matCellDef="let element">
                                                    {{ element.ProcessingAgeing || "0" }}
                                                  </td>
                                              </ng-container>
                                              <ng-container matColumnDef="status">
                                                  <th mat-header-cell *matHeaderCellDef class="tblColFlex10">Status</th>
                                                  <td mat-cell *matCellDef="let element">
                                                      {{ element.StatusOfTranscation || "N/A" }}
                                                    </td>
                                                </ng-container>
                                                <ng-container matColumnDef="pendingClarification">
                                                    <th mat-header-cell *matHeaderCellDef class="tblColFlex11">Pending Seek Clarification</th>
                                                    <td mat-cell *matCellDef="let element">
                                                        {{ element.SeelClarification || "N/A" }}
                                                      </td>
                                                </ng-container>
                                                <!-- <ng-container matColumnDef="export">
                                                    <th mat-header-cell *matHeaderCellDef class="tblColFlex11">Export</th>
                                                    <td mat-cell *matCellDef="let element">
                                                      <button class="verticalMiddleCenter" color="theme-green-button" (click)="exportData(element)">
                                                        <mat-icon  class="flex margin-right-10 disInlineBlock" svgIcon="excelIcon"></mat-icon>Export</button>
                                                      </td>
                                                </ng-container> -->
                                           
                                  <tr mat-header-row  *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                              </table>
                              <div *ngIf="dashBoardData.length === 0">No records found</div>
                              </div>
                              <mat-paginator  [length]="pageSize"  [pageSize]="10"  [pageIndex]="pageNo"
                              (page)="getPageChangeData($event)">
                            </mat-paginator>
                          </div>
                        </div>
                          </mat-card-content>
                          </mat-card>
                  
                 </div>
                </mat-card>
       </div>
       </div>
       </div>
       