<!-- <a (click)="show(confirmationAlert)" id="clickable"> -->
<div>
  <div class="modal-header">
    <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">{{title}}</h3>
    <button type="button" class="close" aria-label="Close" (click)="click(0)">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body historyContainer">
    {{message}}
  </div>
  <div class="row">
      <div class="col-md-6">
        <button (click)="click(0)" color="theme-gray-button">
              Cancel
            </button>
          </div>
          <div class="col-md-6">
            <button color="theme-red-button" (click)="click(1)">
                {{ confirmButton }}
              </button>
          </div>
    </div>
  </div>