.mySurveyModal{
    height: 70vh;
    overflow-y: scroll;
    .heading{
        color: #e33045;
    }

    .content-font-opacity{
        color: #6c6c6c;
    }

    .close-modal{
        float: right;
        opacity: 0.5;
    }

    .details{
        opacity: 0.8;
    }

    .floatRight{
        float: right;
    }

    .radioConatiner{
        .mat-radio-button{
            margin: 0px 10px;
        }
        .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
            border-color: #e33045 !important;
        }
    }

}