<div class="modal-header">
    <h3 *ngIf="surveyFormQuestions[0]" class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">
      {{ surveyFormQuestions[0].SurveyTitle }}
    </h3>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body mySurveyModal padding">
      <div class="col-md-12 no-padding">
          <div class=" padding-bottom fontW-600 font-13" *ngIf="surveyFormQuestions[0]">Mahindra & Mahindra Ltd. <span class="floatRight">{{ moment(surveyFormQuestions[0].fromdate).format('Do MMMM YYYY') }}</span></div>

          <div *ngIf="surveyFormQuestions[0]">
            {{ surveyFormQuestions[0].SurveyDescription }}
          </div>
          <!-- <div class="padding-bottom font-13 content-font-opacity">Automotive Sector<br>
            Finance & Accounts Department, Automotive Sector, 2nd Floor, Mahindra Towers, Akurli Road, Kandivali (East), Mumbai-400101</div>
            
          <div class=" padding-bottom fontW-600 font-15">Supplier Feedback Form</div>
        
          <div class="padding-bottom font-13 content-font-opacity">
            Greetings,<br>
              We are moving towards closure of financial year & it was a pleasurable experience dealing with you during the current year.
              Customer Satisfaction being the prime Key to Success, it is our endeavor to achieve customer satisfaction through customer centric approach.
              In line with this, we are sharing the Supplier Satisfaction Feedback form. We request you to give your valuable time by filling up the form which would enable us to serve you better. 
              We would appreciate, if the scope of feedback is restricted to M&M Ltd.’s Auto Sector Payment Activity only.
              Kindly rate us in the scale between 1 to 5 by affixing ‘ü’ in the relevant boxes against each deliverables.<br>
              With Best Regards,<br>
              Rita Dmello<br>
              General Manager<br>
              Auto Sector<br>
          </div> -->
          <hr>

          <div *ngIf="surveyFormQuestions">
        
              <!-- <div *ngFor='let question of surveyFormQuestions; let itt = index'>
                <h2 class="fontW-600">{{ itt + 1 }}. {{ question.Question }}<span *ngIf="question.required" class="themePrimaryColor FontW-500">*</span></h2>
        
        
                <div *ngIf="question.AnswerTypeId == 1">
                  <input matInput type="text">
                </div>
        
        
                <div *ngIf="question.AnswerTypeId == 2">
                  <mat-radio-group aria-label="Select an option" class="radioConatiner" [formControlName]="this.surveyForm.controls[question.Question]">
                    <mat-radio-button *ngFor="let option of question.options" value="option" class="no-margin-left padding">{{option}}</mat-radio-button>
                  </mat-radio-group>
                </div>
                
        
                <div *ngIf="question.AnswerTypeId == 3">
                  <div class="padding">
                    <mat-checkbox *ngFor="let option of question.options" value="option" class="radioConatiner padding">{{ option }}</mat-checkbox>
                    </div>
                  </div>
              </div> -->
        
              <div *ngFor='let question of surveyForm.controls; let itt = index' class="margin-bottom-10">
                <h3 class="fontW-600 font-14">{{ itt + 1 }}. {{ surveyFormQuestions[itt].Question }}<span class="themePrimaryColor FontW-500">*</span></h3>
        
                <!-- Radio Button -->
                <div *ngIf="surveyFormQuestions[itt].AnswerTypeId == 1" >
                  
                  <mat-radio-group class="rating_class" aria-label="Select an option" class="radioConatiner" [formControl]="question.controls.answer" [disabled]="RoleID == '7'">
                    <mat-radio-button *ngIf="surveyFormQuestions[itt].GetQuestionsOptions_resp[0].Option_One" value="{{ surveyFormQuestions[itt].GetQuestionsOptions_resp[0].Option_One }}" class="no-margin-left padding-10">{{ surveyFormQuestions[itt].GetQuestionsOptions_resp[0].Option_One }}</mat-radio-button>
                    <mat-radio-button *ngIf="surveyFormQuestions[itt].GetQuestionsOptions_resp[0].Option_Two" value="{{ surveyFormQuestions[itt].GetQuestionsOptions_resp[0].Option_Two }}" class="no-margin-left padding-10">{{ surveyFormQuestions[itt].GetQuestionsOptions_resp[0].Option_Two }}</mat-radio-button>
                    <mat-radio-button *ngIf="surveyFormQuestions[itt].GetQuestionsOptions_resp[0].Option_Three" value="{{ surveyFormQuestions[itt].GetQuestionsOptions_resp[0].Option_Three }}" class="no-margin-left padding-10">{{ surveyFormQuestions[itt].GetQuestionsOptions_resp[0].Option_Three }}</mat-radio-button>
                    <mat-radio-button *ngIf="surveyFormQuestions[itt].GetQuestionsOptions_resp[0].Option_Four" value="{{ surveyFormQuestions[itt].GetQuestionsOptions_resp[0].Option_Four }}" class="no-margin-left padding-10">{{ surveyFormQuestions[itt].GetQuestionsOptions_resp[0].Option_Four }}</mat-radio-button>
                    <mat-radio-button *ngIf="surveyFormQuestions[itt].GetQuestionsOptions_resp[0].Option_Five" value="{{ surveyFormQuestions[itt].GetQuestionsOptions_resp[0].Option_Five }}" class="no-margin-left padding-10">{{ surveyFormQuestions[itt].GetQuestionsOptions_resp[0].Option_Five }}</mat-radio-button>
                  </mat-radio-group>
        
                  <!-- <mat-error *ngIf="question.controls.answer.invalid" class="matError">
                    Answer is Required
                  </mat-error> -->
                </div>
        
                
                <!-- Input Type -->
                <div *ngIf="surveyFormQuestions[itt].AnswerTypeId == 2">
                  <mat-form-field appearance="outline" class="borderInput font-13" >
                      <input matInput placeholder="" [formControl]="question.controls.answer" [readonly]="RoleID == '7'">
                      <!-- <mat-error *ngIf="question.controls.answer.invalid" class="matError">
                        Answer is Required
                      </mat-error> -->
                    </mat-form-field>
                  </div>
                
                <!-- Rating Button -->
                <div *ngIf="surveyFormQuestions[itt].AnswerTypeId == 3">
                  <div class="">
                    <!-- <mat-checkbox *ngFor="let option of question.options" value="option" class="radioConatiner padding">{{ option }}</mat-checkbox> -->
                      <ngb-rating [formControl]="question.controls.answer" size='5' class="rating_class" [readonly]="RoleID == '7'"></ngb-rating>
                    </div>
                    <mat-error *ngIf="question.controls.answer.invalid && RoleID != '7'" class="matError" >
                      Answer is Required
                    </mat-error>
                  </div>
              </div>
              <!-- <div class="primaryFormBtn disInlineBlock" (click)="submitSurvey()">
                <button class="" color="theme-red-button">Save</button> 
              </div> -->
                <!-- <button expand="block"></button> -->
          </div>
          
        </div>
  </div>
<div class="modal-footer verticalMiddleCenter">
    <div class="primaryFormBtn disInlineBlock" (click)="submitSurvey()" *ngIf="RoleID != '7'">
        <button class="" color="theme-red-button">Save</button> 
      </div>
</div>


<!-- <div class='mySurveyModal' style="display:none;">
  <mat-icon aria-hidden="false" aria-label="Example close icon" class="close-modal" (click)="closeModal()">close</mat-icon>
  <div class="padding-bottom heading fontW-500 font-20">CSI Survey-Auto Sector Supplier Payment</div>

  <div class=" padding-bottom fontW-600 font-13">Mahindra & Mahindra Ltd. <span class="floatRight">4th February 2020</span></div>
  
  <div class="padding-bottom font-13 content-font-opacity">Automotive Sector<br>
    Finance & Accounts Department, Automotive Sector, 2nd Floor, Mahindra Towers, Akurli Road, Kandivali (East), Mumbai-400101</div>
    
  <div class=" padding-bottom fontW-600 font-15">Supplier Feedback Form</div>

  <div class="padding-bottom font-13 content-font-opacity">
    Greetings,<br>
      We are moving towards closure of financial year & it was a pleasurable experience dealing with you during the current year.
      Customer Satisfaction being the prime Key to Success, it is our endeavor to achieve customer satisfaction through customer centric approach.
      In line with this, we are sharing the Supplier Satisfaction Feedback form. We request you to give your valuable time by filling up the form which would enable us to serve you better. 
      We would appreciate, if the scope of feedback is restricted to M&M Ltd.’s Auto Sector Payment Activity only.
      Kindly rate us in the scale between 1 to 5 by affixing ‘ü’ in the relevant boxes against each deliverables.<br>
      With Best Regards,<br>
      Rita Dmello<br>
      General Manager<br>
      Auto Sector<br>
  </div>

  <hr>

  <div *ngIf="surveyFormQuestions">

      

      <div *ngFor='let question of surveyForm.controls; let itt = index'>
        <h2 class="fontW-600">{{ itt + 1 }}. {{ surveyFormQuestions[itt].Question }}<span class="themePrimaryColor FontW-500">*</span></h2>
 <div *ngIf="surveyFormQuestions[itt].AnswerTypeId == 1">
          
          <mat-radio-group class="rating_class" aria-label="Select an option" class="radioConatiner" [formControl]="question.controls.answer">
            <mat-radio-button *ngIf="surveyFormQuestions[itt].GetQuestionsOptions_resp[0].Option_One" value="{{ surveyFormQuestions[itt].GetQuestionsOptions_resp[0].Option_One }}" class="no-margin-left padding">{{ surveyFormQuestions[itt].GetQuestionsOptions_resp[0].Option_One }}</mat-radio-button>
            <mat-radio-button *ngIf="surveyFormQuestions[itt].GetQuestionsOptions_resp[0].Option_Two" value="{{ surveyFormQuestions[itt].GetQuestionsOptions_resp[0].Option_Two }}" class="no-margin-left padding">{{ surveyFormQuestions[itt].GetQuestionsOptions_resp[0].Option_Two }}</mat-radio-button>
            <mat-radio-button *ngIf="surveyFormQuestions[itt].GetQuestionsOptions_resp[0].Option_Three" value="{{ surveyFormQuestions[itt].GetQuestionsOptions_resp[0].Option_Three }}" class="no-margin-left padding">{{ surveyFormQuestions[itt].GetQuestionsOptions_resp[0].Option_Three }}</mat-radio-button>
            <mat-radio-button *ngIf="surveyFormQuestions[itt].GetQuestionsOptions_resp[0].Option_Four" value="{{ surveyFormQuestions[itt].GetQuestionsOptions_resp[0].Option_Four }}" class="no-margin-left padding">{{ surveyFormQuestions[itt].GetQuestionsOptions_resp[0].Option_Four }}</mat-radio-button>
            <mat-radio-button *ngIf="surveyFormQuestions[itt].GetQuestionsOptions_resp[0].Option_Five" value="{{ surveyFormQuestions[itt].GetQuestionsOptions_resp[0].Option_Five }}" class="no-margin-left padding">{{ surveyFormQuestions[itt].GetQuestionsOptions_resp[0].Option_Five }}</mat-radio-button>
          </mat-radio-group>

          </div>

         <div *ngIf="surveyFormQuestions[itt].AnswerTypeId == 2">
          <mat-form-field appearance="outline" class="borderInput font-13">
              <input matInput placeholder="" [formControl]="question.controls.answer">
             </mat-form-field>
          </div>
        
       <div *ngIf="surveyFormQuestions[itt].AnswerTypeId == 3">
          <div class="padding">
              <ngb-rating [formControl]="question.controls.answer" size='5' class="rating_class"></ngb-rating>
            </div>
            <mat-error *ngIf="question.controls.answer.invalid" class="matError">
              Answer is Required
            </mat-error>
          </div>
      </div>
      <div class="primaryFormBtn disInlineBlock" (click)="submitSurvey()">
        <button class="" color="theme-red-button">Save</button> 
      </div>
   </div>
</div> -->