<div class="modal-header">
  <h3 class="modal-title themePrimaryColor fontW-600">Monsoon Updates</h3>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="loading else loaded">
    loading ...
   </div>
   <ng-template #loaded>
    <div class="img-div" *ngIf="PDFArrayLength !=0">
      <embed [src]="PDFArray" type="application/pdf"style="height: 450px;" class="width100">
      </div>
    </ng-template>
      <!-- <div class="img-div" *ngIf="imageArrayLength !=0">
        <img  [src]="singleArray" style="height: 450px;" class="width100" />
      </div> -->
</div>