<div class="container-fluid msetuPage no-padding height100">
    <div class="grid height100">
    <div class="col-md-12 no-padding height100">
        <mat-card  class="no-padding bottomTabBlock height100">
            <div class="col-md-12 no-padding height100">
                <div class="padding col tabGrayHdr verticalCenter">
                    <h2 class="no-margin">Msetu</h2>
                  </div>
                  <div class="row no-margin outerContainer">
                  <div class="col-md-6 padding infoContent">
                      <p class="font-13 margin-bottom-10">
                        <span class="themePrimaryColor">The Mahindra Supplier Engagement and Transactional Universe </span> (in Short MSETU) is a supplier communication Portal with single interface that makes doing business with Mahindra simple and convenient. Incidentally, SETU, which is a Hindi Word meaning BRIDGE and connotes communication, relationship, and cooperation, captures the spirit of Mahindra’s close engagement and collaboration with its supplier partners.  
                    </p>
                    <p class="font-13 margin-bottom-10">
                        Suppliers and M&M users have a secure access to all the relevant communication resources through this new website . The portal built on Microsoft .Net & Angular Framework, is password protected having single sign on facility, which means with one login, supplier can get access to the existing SRM, Vendor On Board System (existing Cordys) and other self-service tools to manage their transactions like Scheduling, ASN, eSQA, ePPAP, Payment, RFQs, Performance feedback, POs, online supplier database updation etc. It allows instant access to information from across processes.
                    </p>
                    <p class="font-13 margin-bottom-10">
                        In future, it will also include Project Management and ePPAP process as well. All our suppliers can view the relevant supply information from Auto and Farm Sector.
                    </p>
                    <p class="font-13 margin-bottom-10">
                        In addition to above mentioned functional features and supplier specific business transaction related information, many general capabilities like Message Board containing news and announcements, Issue list Management, Universal Work list, Chat facilities, Folder Management, Training module, Video broadcast facility, Surveys and Supplier Help Desk etc. are incorporated in the website to adequately keep you abreast of the key events and support you in efficient engagement with M&M.
                        The portal is now revamped to further improve the user interface & experience.                    
                     </p>
                     <p class="font-13 margin-bottom-10">
                        Some major upgrades of Msetu2.0 :
                    </p>
                    <ul>
                            <li class="font-13 margin-bottom-10">Latest Technology –UI/UX-Angular, Back- End:-ASP.net frame work 4.5,Security- SSL,128-bit encryption</li>
                            <li class="font-13 margin-bottom-10">Enhanced User Experience- Simplicity, Reduced  number of Clicks & Screens, Scrolls and ease in navigation</li>
                            <li class="font-13 margin-bottom-10">2 factor Authentication—Additional OTP based authentication for secured log-in.</li>
                            <li class="font-13 margin-bottom-10">Self-Guided ,AI enabled Favorites</li>
                            <li class="font-13 margin-bottom-10">Enhanced ticketing tool, Personalized Notifications</li>
                            <li class="font-13 margin-bottom-10">iPad/ Mobile Responsive.</li>
                            <li class="font-13 margin-bottom-10">Collaboration through “Teams” for Audio, video chat.</li>
                            <li class="font-13 margin-bottom-10">Hits/likes, Usage Analysis</li>
                            <li class="font-13 margin-bottom-10">CARA 2.0 - "the Digital Companion”(CHATBOT)  to support supplier 24*7 and empowered by Artificial Intelligence, Machine Learning.</li>
                        </ul>
                    <p class="font-13 margin-bottom-10">
                        Msetu 2.0 provides an enabling infrastructure for business process innovation and define the collaboration framework in pursuit of excellence in operation and value creation.
                    </p>
                  </div>
               <div class="col-md-6 no-padding height100">
                  <div class="height100">
                    <a href="https://www.youtube.com/watch?v=WdwSD6voeRI&t=4s" target="_blank">
                        <img src="/assets/img/aboutmsetusideimage.jpg" class="height100 width100">
                    </a>
                  </div>
                </div>
              </div>
              </div>
          </mat-card>
  </div>
  </div>
  </div>