@import '../../variable.scss';
.msetuPage{
     .tabGrayHdr{
            background: #E3E3E3;
            height: 50px;
            h2{color:$color-primary-default;}
        }
        .outerContainer{
           height: calc(100% - 50px);
           overflow-y: auto;
           .infoContent{
            padding: 30px 0px 0px 30px;
           }
        }
}