<div class="container-fluid notLoggedInUsersPage padding">
  <div class="grid">
      <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
          <div class="row width100 verticalCenter">
          <div class="col-md-6">
          <h4 class="no-margin">Users not logged in for 30 days</h4>
          </div>
          <div class="col-md-6 no-padding">
          <p class="no-margin font-13 width100 flex verticalEndCenter">
            <span class="pointer" routerLink="/dashboard" routerDirection="backward">Home</span><mat-icon>chevron_right</mat-icon>
            <span class="pointer" routerLink="/analytics/usage-dashboard" routerDirection="backward">Usage Analytics</span><mat-icon>chevron_right</mat-icon>
          <span class="secondaryMenu">Users not logged in for 30 days</span> 
          </p>
          </div>
          </div>
          </div>
      <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
          <mat-card  class="no-padding mainOuterCardContainer filterViewCard">
            <mat-card-content class="height100">
              <div class="col-md-12 padding height100">
               <div class="row no-margin filterSection">
                  <div class="col-md-1 margin-bottom verticalEndCenter no-padding-left no-padding-right">
                    <p class="no-margin">
                      Filter
                    </p>
                  </div>
                      <div class="col-md-3 margin-bottom custWidth">
                          <mat-form-field appearance="outline" class="borderInput font-13">
                            <mat-select [formControl]="filter" value="30" (selectionChange)="getData()">
                                  <mat-option value='15'>15 Days</mat-option>
                                  <mat-option value='30'>30 Days</mat-option>
                                  <mat-option value='60'>60 Days</mat-option>
                                  <mat-option value='90'>90 Days</mat-option>
                              </mat-select>
                            </mat-form-field> 
                      </div>
                      <div class="col-md-8 margin-bottom custWidth verticalEndCenter no-padding-right">
                        <div class="primaryFormBtn vertcalAligment">
                          <button [disabled]="isDisabled" class="verticalMiddleCenter" color="theme-green-button" (click)="exportExcel()">
                            <mat-icon  class="flex margin-right-10 disInlineBlock" svgIcon="excelIcon"></mat-icon>Export To Excel</button> 
                            </div>
                      </div>
                    
                    </div>
                    <div class="row no-margin mainconatiner">
                      <div class="example-container tbl_New_Layout height100">
                        <div class="table-container">
                          <table mat-table  class="lessons-table" [dataSource]="DataSource">
                           <ng-container matColumnDef="srNo">
                            <th mat-header-cell *matHeaderCellDef>Sr. No.</th>
                            <td mat-cell *matCellDef="let element" >
                              {{ element.srNo || "N/A" }}
                            </td>
                          </ng-container>
                          <ng-container matColumnDef="userName">
                              <th mat-header-cell *matHeaderCellDef>User Name</th>
                              <td mat-cell *matCellDef="let element" >
                                {{ element.userName || "N/A" }}
                                </td>
                            </ng-container>
                           <ng-container matColumnDef="userID">
                                  <th mat-header-cell *matHeaderCellDef>User Id</th>
                                  <td mat-cell *matCellDef="let element" >
                                    {{ element.userID || "N/A" }}
                                    </td>
                                </ng-container>
                           <ng-container matColumnDef="vendorCode">
                                  <th mat-header-cell *matHeaderCellDef>Vendor Code</th>
                                  <td mat-cell *matCellDef="let element" >
                                    {{ element.vendorCode || "N/A" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="lastLoginDate">
                                  <th mat-header-cell *matHeaderCellDef>Last Login Date</th>
                                  <td mat-cell *matCellDef="let element" >
                                    {{ element.lastLoginDate || "N/A" }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="location">
                                    <th mat-header-cell *matHeaderCellDef>Location</th>
                                    <td mat-cell *matCellDef="let element" >
                                      {{ element.location || "N/A" }}
                                      </td>
                                  </ng-container>
                                  <ng-container matColumnDef="action">
                                      <th mat-header-cell *matHeaderCellDef>Action</th>
                                      <td mat-cell *matCellDef="let element" class="text-center">
                                        <mat-icon  matTooltip="View" class="themePrimaryColor">remove_red_eye</mat-icon>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row  *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                         </table>
                    </div>
                      <mat-paginator  [length]="pageSize"  [pageSize]="10"  [pageIndex]="pageNo"
                      (page)="getData($event.pageIndex + 1)">
                    </mat-paginator>
                  </div>
                    </div>
              </div>
            </mat-card-content>
        
            </mat-card>
            </div>
    </div>
    </div>
