@import '../../variable.scss';
// .reportsNewLayout{
//     .headerPanel{
//         button{
//             .mat-icon{
//                 height: 17px !important;
//                 width: 17px !important;
//             }
//         }
//     }
//     .mainInternalContiner{
//         height: calc(100% - 63px);
//         .tableView{
//             .filterPanel{
//                 background-image: url(/assets/img/report/Report_searchtopbg.jpg);
//                 background-size: 100% 100%;
//                 .btnBlocks{
//                     width: 47%;
//                     display: inline-block;
//                   }
//                   .m-r-5{ margin-right: 5% !important;} 
//                   .reportSearchBtn{
//                     background-color: $color-yellow-default !important;
//                     border: 1px solid $color-yellow-default !important;
//                     color: #827200 !important;
//                 }
//             }
//             .tablePanel{
//                 height: calc(100% - 74px);
//                 .example-container.tbl_New_Layout .table-container {
//                     height: 45vh;
//                   }
//             }
//         }
//    .filterView{
//     .filterPanel{
//         background-image: url(/assets/img/report/Report_innertopbg.jpg);
//         background-size: 100% 100%;
//     }
//     .inputPanel{
//         height: calc(100% - 74px); 
//         mat-card{
//             mat-card-content{
//                 height: 80%;
//                 overflow-y: scroll;
//             }
//             mat-card-footer{
//                 height: 20%;
//             }
//         } 
//     }
//    }
   
//     }
//  p{color: #fff;}
//    .borderInput{
//          ::ng-deep .mat-form-field-infix{border-top: 0px !important;}
//         ::ng-deep .mat-form-field-wrapper{padding-bottom: 0px;}
//         } 
//         /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: rgba(0,0,0,.12); }
//         /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{border-width: 1px !important;}
//         /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{border-width: 1px !important;}
//         /deep/.mat-select-arrow-wrapper{
//           display: flex;
//           align-items: center;
//           justify-content: center;
//         }
//         /deep/.mat-form-field-appearance-outline .mat-form-field-outline{
//             background:#fff;
//           }
// }

.borderInput{
    ::ng-deep .mat-form-field-infix{border-top: 0px !important;}
   ::ng-deep .mat-form-field-wrapper{padding-bottom: 0px;}
   } 
   /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: rgba(0,0,0,.12); }
   /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{border-width: 1px !important;}
   /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{border-width: 1px !important;}
   /deep/.mat-select-arrow-wrapper{
     display: flex;
     align-items: center;
     justify-content: center;
   }
   /deep/.mat-form-field-appearance-outline .mat-form-field-outline{
       background:#fff;
     }

     ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
      color: red!important;
      opacity: 0.8!important;
    }

    .required-field::after {
      content: "*";
      color: red;
  }
  .displayCol{
    display: none;
  }