    <div class="col-sm-12 col-md-12 col-lg-10 offset-lg-1 sideopen">
      <form [formGroup]="FilterForm">
     <div class="row margin-bottom-10">
         <div class="col-md-6" *ngFor="let data of FilterArray;let i = index">
             <div class="row" *ngIf="applicableForRoles(data.roles || false)">
                 <div class="col-md-5 colInputHeader verticalEndCenter font-13" [ngClass]="data.isRequiredFiled=='true'?'required-field':''">
                     {{data.FormFieldName}}
                 </div>
                 <div class="col-md-7 colInput">
                     <mat-form-field *ngIf="data.inputType=='text'" appearance="outline" class="borderInput font-13">
                         <input placeholder="{{ data.placeholder || ''}}" (keypress)="validateKeyPress($event.key, data.allowSpecialCharacters || false)" autocomplete="off" matInput formControlName="{{data.FormFieldName}}">
                         <mat-error *ngIf="FilterForm.get(data.FormFieldName)?.hasError('required')">{{data.FormFieldName}} is required</mat-error>
                     </mat-form-field>
                     <mat-form-field *ngIf="data.inputType=='Date' && (data.FormFieldName!='Schedule Month' && data.FormFieldName!='Month From' && data.FormFieldName!='Month To')" appearance="outline" class="borderInput font-13">
                       <input readonly placeholder="DD/MM/YYYY" formControlName="{{data.FormFieldName}}" (dateChange)="valueChanged(1)" 
                       [min]="data.MinDate == data.FormFieldName?(FilterForm.controls[data.SetMinValueFromControllerName].value):('')" 
                       [max]="data.ByPassMaxDateToCurrentDate ? false : Date"
                       matInput [matDatepicker]="invoiceDate">
                       <mat-datepicker-toggle matSuffix [for]="invoiceDate"></mat-datepicker-toggle>
                       <mat-datepicker #invoiceDate 
                       (selectedChanged)="DateHandler($event)"
                       (yearSelected)="YearHandler($event)"
                       (monthSelected)="MonthHandler($event)"
                       
                       ></mat-datepicker>
                     </mat-form-field>

                     <mat-form-field *ngIf="data.inputType=='Select' && data.FormFieldName=='Reporting Month'" appearance="outline" class="borderInput font-13">
                      <mat-select formControlName="{{data.FormFieldName}}">
                          <mat-option *ngFor="let data of array1" [value]="data.value">{{data.month}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="FilterForm.get(data.FormFieldName)?.hasError('required')">{{data.FormFieldName}} is required</mat-error>
                  </mat-form-field>
                  <mat-form-field *ngIf="data.inputType =='Select' && data.FormFieldName=='Reporting Year'" appearance="outline" class="borderInput font-13">
                    <mat-select formControlName="{{data.FormFieldName}}">
                        <mat-option *ngFor="let data of array2" [value]="data.year">{{data.year}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="FilterForm.get(data.FormFieldName)?.hasError('required')">{{data.FormFieldName}} is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="borderInput font-13" *ngIf="data.inputType =='Date' && data.FormFieldName=='Month From'">
                    <!-- <mat-label>From</mat-label> -->
                    <input readonly placeholder="MM/YYYY" matInput [matDatepicker]="dp" [formControl]="Month_From">
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp
                                    startView="multi-year"
                                    (yearSelected)="chosenYearHandler($event)"
                                    (monthSelected)="chosenMonthHandler($event, dp)"
                                   >
                    </mat-datepicker>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="borderInput font-13" *ngIf="data.inputType =='Date' && data.FormFieldName=='Month To' ">
                    <!-- <mat-label>From</mat-label> -->
                    <input readonly [min]="Month_From.value" placeholder="MM/YYYY" (dateChange)="valueChanged(2)" matInput [matDatepicker]="dp" [(ngModel)]="month_to" [formControl]="Month_To">
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp
                                    startView="multi-year"
                                    (yearSelected)="chosenYearHandlerTo($event)"
                                    (monthSelected)="chosenMonthHandlerTo($event,dp)"
                                   >
                    </mat-datepicker>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="borderInput font-13" *ngIf="data.inputType =='Date' && data.FormFieldName=='Schedule Month'">
                    <!-- <mat-label>From</mat-label> -->
                    <input readonly placeholder="MM/YYYY" matInput [matDatepicker]="dp" [formControl]="Month_From">
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp
                                    startView="multi-year"
                                    (yearSelected)="chosenYearHandler($event)"
                                    (monthSelected)="chosenMonthHandler($event, dp)"
                                   >
                    </mat-datepicker>
                  </mat-form-field>
                 </div>
             </div>
         </div>
         </div>
     </form>  
   </div>



     
<!-- </div> -->