.createSurveyModal{
  .borderInput{
    height: 100%;

    ::ng-deep .mat-form-field-infix{
      border-top: 0px !important;
      padding-top: 20px;
    }
    ::ng-deep .mat-form-field-wrapper{
        padding-bottom: 0px; height: 100%;

        mat-error{
          white-space: nowrap;
        }

        .mat-form-field-flex{
            height: 100%;
          }
      }
    }
    .padding-top-30px ::ng-deep .mat-form-field-infix{ padding-top: 30px; }
    /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: rgba(0,0,0,.12); }
    /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{border-width: 1px !important;}
    /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{border-width: 1px !important;}
    /deep/.mat-select-arrow-wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    /deep/.cdk-overlay-container{
      // ::ng-deep .cdk-overlay-container{
        z-index:2000;
      // }
    }

    .hide{
      display: none
    }
}
