<div class="container-fluid  createSurveyModal no-padding">
<div class="modal-header">
    <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">{{survey ? 'Update' : 'Create' }} Survey</h3>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body liquidityContainer no-padding" *ngIf="createSurvey">
    <form [formGroup]="createSurvey">
      <div class="col-md-12 padding">
        <div class="row">

          <div class="col-md-2 colInputHeader verticalEndCenter font-14">
            Survey Type<span style="color: red;">*</span>:
            </div>
          <div class="col-md-4 colInput">
            <mat-form-field appearance="outline" class="borderInput">

                <input *ngIf="survey && survey.SurveyId > 0" readonly="true" matInput [value]="survey.type == 1 ? 'My Survey': 'SSI Survey'">
                <mat-select [ngClass]="survey && survey.SurveyId > 0 ? 'hide' : ''" placeholder="Select" formControlName="SurveyTypeID">
                      <mat-option *ngFor="let type of surveyType" [value]="type.ServeyTypeId">{{ type.ServeyType }} </mat-option>
                    </mat-select>
                  <mat-error *ngIf="createSurvey.get('SurveyTypeID').hasError('required')" class="matError">
                          Survey Type is required.
                      </mat-error>

              </mat-form-field> 
            </div>


            <div class="col-md-2 colInputHeader verticalEndCenter font-14">
              Survey Title<span style="color: red;">*</span>:
              </div>
              <div class="col-md-4 colInput">
                <mat-form-field appearance="outline" class="borderInput">
                  <!-- [readonly]="survey && survey.SurveyId > 0 ? true : false" -->
                  <input  matInput placeholder="" formControlName="SurveyTitle">
                  <mat-error *ngIf="createSurvey.controls.SurveyTitle.invalid" class="matError">
                    Title is required.
                    </mat-error>
                  </mat-form-field>  
                </div>


          </div>
          <div class="row">
            <div class="col-md-2 colInputHeader verticalEndCenter font-14">
              Assign To<span style="color: red;">*</span>:
              </div>
              <div class="col-md-4 colInput">
                <mat-form-field appearance="outline" class="borderInput">
                  <!-- <input *ngIf="survey && survey.SurveyId > 0" readonly="true" matInput [value]="survey.SurveyId == 1 ? 'My Survey': 'SSI Survey'"> -->
                  <mat-select placeholder="Select" formControlName="SurveyAssignTo" >
                      <mat-option value="1" *ngFor="let assignto of this.assignTo" [value]="assignto.RoleId">{{ assignto.RoleName }} </mat-option>
                    </mat-select>
                    <mat-error *ngIf="createSurvey.controls.SurveyAssignTo.valid == false" class="matError">
                      Assigning is required.
                      </mat-error>
                  </mat-form-field> 
                </div>
                  <div class="col-md-2 colInputHeader verticalEndCenter font-14">
                  Date<span style="color: red;">*</span>:
                  </div>
                  <div class="col-md-2 colInput padding-right-5">
                    <mat-form-field appearance="outline" class="borderInput font-13">
                            <input matInput [min]="minDate" [max]="maxDate ? maxDate : false" [matDatepicker]="picker1" placeholder="From"  formControlName="From_date">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                            <mat-error *ngIf="createSurvey.controls.From_date.invalid" class="matError">
                                Starting Date is required.
                              </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2 colInput padding-left-5">
                      <mat-form-field appearance="outline" class="borderInput font-13">
                              <input matInput [min]="toDateMinDate"[matDatepicker]="picker2" placeholder="To"  formControlName="To_date">
                              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                              <mat-datepicker #picker2></mat-datepicker>
                              <mat-error *ngIf="createSurvey.controls.To_date.invalid" class="matError">
                                  Ending Date is required.
                                </mat-error>
                          </mat-form-field>
                      </div>
            </div>
            <div class="row">
              <div class="col-md-2 colInputHeader verticalEndCenter font-14">
                Description:
                </div>
                <div class="col-md-4 colInput">
                  <mat-form-field appearance="outline" class="borderInput">
                    <!-- [readonly]="survey ? true : false" -->
                          <input  matInput placeholder="" formControlName="SurveyDescription">
                          </mat-form-field>  
                  </div>

                  <!-- <div *ngIf="createSurvey.value && createSurvey.value.SurveyTypeID != 1" class="col-md-2 colInputHeader verticalEndCenter font-14">
                    Plants<span style="color: red;">*</span>:
                    </div>
                  <div class="col-md-4 colInput" *ngIf="createSurvey.value">
                    <mat-form-field *ngIf="createSurvey.value.SurveyTypeID != 1" appearance="outline" class="borderInput padding-top-30px">
                        <mat-select  placeholder="Select A Plant" formControlName="PlantID" class="">
                            <mat-option *ngFor="let plant of plants" [value]="plant.PlantId"> {{ plant.PlantName }} </mat-option>
                          </mat-select>
                          <mat-error *ngIf="createSurvey.controls.PlantID.invalid" class="matError">
                            Plant is required.
                            </mat-error>
                      </mat-form-field> 
                    </div> -->
                     <div *ngIf="createSurvey.value && createSurvey.value.SurveyTypeID != 1" class="col-md-2 colInputHeader verticalEndCenter font-14">
                    Plants<span style="color: red;">*</span>:
                    </div>
                  <div class="col-md-4 colInput" *ngIf="createSurvey.value">
                    <mat-form-field *ngIf="createSurvey.value.SurveyTypeID != 1" appearance="outline" class="borderInput padding-top-30px">
                        <mat-select  placeholder="Select A Plant" formControlName="PlantName" class="">
                            <mat-option  value="AS Chakan"> AS Chakan </mat-option>
                            <mat-option  value="AS Haridwar"> AS Haridwar </mat-option>
                            <mat-option  value="AS Igatpuri"> AS Igatpuri </mat-option>
                            <mat-option  value="AS Kandivali"> AS Kandivali </mat-option>
                            <mat-option  value="AS Nasik"> AS Nasik </mat-option>
                            <mat-option  value="AS Zaheerabad"> AS Zaheerabad </mat-option>
                            <mat-option  value="FD Hub Kolhapur"> FD Hub Kolhapur </mat-option>
                            <mat-option  value="FD Hub Mumbai"> FD Hub Mumbai </mat-option>
                            <mat-option  value="FD Hub Nagpur"> FD Hub Nagpur </mat-option>
                            <mat-option  value="FD Hub Nasik"> FD Hub Nasik </mat-option>
                            <mat-option  value="FD Hub North"> FD Hub North </mat-option>
                            <mat-option  value="FD Hub Pune"> FD Hub Pune </mat-option>
                            <mat-option  value="FD Hub Rajkot"> FD Hub Rajkot </mat-option>
                            <mat-option  value="FD Hub South"> FD Hub South </mat-option>
                          </mat-select>
                          <mat-error *ngIf="createSurvey.controls.PlantName.invalid" class="matError">
                            Plant is required.
                            </mat-error>
                      </mat-form-field> 
                    </div> 
                    
              </div>
       
      </div>
    </form>
       </div>
  <div class="modal-footer text-center">
    <div class="col">
        <!-- <div class="primaryFormBtn disInlineBlock margin-right-10">
                            <button class="" color="theme-gray-button" (click)="closeModal()">Close</button> 
                          </div> -->
                          <div class="primaryFormBtn disInlineBlock" (click)="openServeyList()">
                                <button class="" color="theme-red-button">Save</button> 
                              </div>
          </div>
  </div>
</div>
   