<div class="modal-header">
  <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">
    Users of {{ this.data.module }}
  </h3>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="modal-body mySurveyModal padding">

<!-- FILTER & EXCEL END -->
  <div class="row no-margin mainconatiner">
    <div class="example-container tbl_New_Layout height100">
      <!-- TABLE START -->
      <div class="table-container">
        <table mat-table class="lessons-table" [dataSource]="DataSource">
          <!-- REPORT NAME -->
          <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef>User Name</th>
            <td mat-cell *matCellDef="let element">
              {{ element.USERCLIKED || "N/A" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef>Count</th>
            <td mat-cell *matCellDef="let element">
              {{ element.CNT || "N/A" }}
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <!-- TABLE END -->
    </div>
  </div>
</div>