body{
    margin: 0px;
    background-image: url(/assets/img/backgroundBg.jpg);
}



//   .borderInput{
    
// /deep/.mat-form-field-subscript-wrapper{
//     position: relative;
//     bottom: 30px;
//   }
// }



