<!-- Testing Commit Arul-->
<ngx-loading-bar ref="router" [includeSpinner]='false'></ngx-loading-bar>
<ngx-loading-bar ref="http" [includeSpinner]='false' height="4px"></ngx-loading-bar>
<div class="router-output">
    <app-main-nav [@routeTransition]="getAnimation()">
    </app-main-nav>
</div>

