<div class="container-fluid debitNoteDashboard padding">
  <div class="grid">
    <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
      <div class="row width100 verticalCenter">
        <div class="col-md-6">
          <h4 class="no-margin">Debit Note Dashboard(Approver)</h4>
        </div>
        <div class="col-md-6 no-padding">
          <p class="no-margin font-13 width100 flex verticalEndCenter">
            <span
              class="pointer"
              routerLink="/adminDashboard"
              routerDirection="backward"
              >Home</span
            ><mat-icon>chevron_right</mat-icon>
            <span class="secondaryMenu">Debit Note Dashboard(Approver)</span>
          </p>
        </div>
      </div>
    </div>

    <div
      class="col-md-12 border-radius padding-top no-padding-left no-padding-right"
    >
      <mat-card class="no-padding mainOuterCardContainer">
        <form [formGroup]="filterForm">
          <div class="col-md-12 padding">
            <div class="row no-margin">
              <div class="col-md-4">
                <div class="row">
                  <div
                    class="col-md-5 colInputHeader verticalEndCenter font-13"
                  >
                    Debit Note Number:
                  </div>
                  <div class="col-md-7 colInput">
                    <mat-form-field
                      appearance="outline"
                      class="borderInput font-13"
                    >
                      <input matInput formControlName="debitNoteNumber" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div
                    class="col-md-5 colInputHeader verticalEndCenter font-13"
                  >
                    SAP Debit Note No.:
                  </div>
                  <div class="col-md-7 colInput">
                    <mat-form-field
                      appearance="outline"
                      class="borderInput font-13"
                    >
                      <input formControlName="sapDebitNoteNo" matInput />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div
                    class="col-md-5 colInputHeader verticalEndCenter font-13"
                  >
                    Status:
                  </div>
                  <div class="col-md-7 colInput">
                    <mat-form-field
                      appearance="outline"
                      class="borderInput font-13"
                    >
                      <mat-select formControlName="status">
                        <mat-option
                          [value]="status.statusCode"
                          *ngFor="let status of masterOptions._GetStatusMaster"
                          >{{ status.statusName }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div
                    class="col-md-5 colInputHeader verticalEndCenter font-13"
                  >
                    Supplier Name:
                  </div>
                  <div class="col-md-7 colInput">
                    <mat-form-field
                      appearance="outline"
                      class="borderInput font-13"
                    >
                      <mat-select formControlName="supplierCode">
                        <mat-option
                          [value]="supplier.VendorCode"
                          *ngFor="let supplier of masterOptions._GetSupplierMaster"
                          >{{ supplier.VendorCodeName }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div
                    class="col-md-5 colInputHeader verticalEndCenter font-13"
                  >
                    From Date:
                  </div>
                  
                  <div class="col-md-7 colInput">
                    <mat-form-field
                      appearance="outline"
                      class="borderInput font-13" 
                    >
                      <input
                        formControlName="fromDate"
                        matInput                       
                        [matDatepicker]="picker2" 
                        readonly
                      />
                      <mat-datepicker-toggle matSuffix [for]="picker2">
                      </mat-datepicker-toggle>
                      <mat-datepicker #picker2 ></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                      <button color="theme-gray-button" (click)="resetFilter()">
                        Reset
                      </button>
                    </div>
                  </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div
                    class="col-md-5 colInputHeader verticalEndCenter font-13"
                  >
                    Commodity:
                  </div>
                  <div class="col-md-7 colInput">
                    <mat-form-field
                      appearance="outline"
                      class="borderInput font-13"
                    >
                      <mat-select formControlName="commodity">
                        <mat-option
                          [value]="commodity.commodity"
                          *ngFor="let commodity of masterOptions._GetCommodityMaster"
                          >{{ commodity.commodity }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div
                    class="col-md-5 colInputHeader verticalEndCenter font-13"
                  >
                    To Date:
                  </div>
                  <div class="col-md-7 colInput">
                    <mat-form-field
                      appearance="outline"
                      class="borderInput font-13"
                    >
                      <input
                        formControlName="toDate"
                        matInput
                        [min]="filterForm.controls.fromDate.value"
                        [matDatepicker]="picker1"
                        readonly
                      />
                      <mat-datepicker-toggle matSuffix [for]="picker1">
                      </mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5 colInputHeader no-padding-right">
                    <div class="width100">
                      <button type="submit" (click)="search()" color="theme-red-button">
                        Search
                      </button>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="width100">
                      <button color="theme-green-button" (click)="export(table, 'Debit_Note')">
                        <mat-icon
                          class="flex margin-right-10 disInlineBlock excelCustIcon"
                          svgIcon="excelIcon"
                        ></mat-icon
                        >Export To Excel
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="col-md-12 tblblock">
          <div class="example-container tbl_New_Layout height100">
            <div class="table-container">
              <table
                #table
                mat-table
                class="lessons-table"
                [dataSource]="debiteNoteDataSource"
              >
                <!-- <ng-container matColumnDef="selectCheck">
                            <th mat-header-cell *matHeaderCellDef class="text-center tblColFlex5">
                                <mat-checkbox></mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-center">
                                <mat-checkbox></mat-checkbox>
                            </td>
                          </ng-container> -->
                <ng-container matColumnDef="debitNoteNo">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    class="text-center tblColFlex9"
                  >
                    Debit Note Number
                  </th>
                  <td mat-cell *matCellDef="let element" class="tblLinkBtn text-center"
                  (click)="trackDebitNote(trackDebitNoteElement, element)">
                    {{ element.debitNoteNo || "N/A" }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="supplierName">
                  <th mat-header-cell *matHeaderCellDef class="tblColFlex10">
                    Supplier Name
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.supplierName || "N/A" }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="Commodity">
                  <th mat-header-cell *matHeaderCellDef class="tblColFlex8">
                    Commodity
                  </th>
                  <td mat-cell *matCellDef="let element" text-center>
                    {{ element.Commodity || "N/A" }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="Attachment">
                  <th mat-header-cell *matHeaderCellDef class="tblColFlex8">Attachment</th>
                  <td mat-cell *matCellDef="let element" text-center class="pointerCursor" (click)="openFile(element.path)">
                    {{ element.Attachment || "N/A" }}
                    </td>
                  </ng-container>
                <ng-container matColumnDef="createdOn">
                  <th mat-header-cell *matHeaderCellDef>Created On</th>
                  <td mat-cell *matCellDef="let element" text-center>
                    {{ element.createdOn || "N/A" }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="createdBy">
                  <th mat-header-cell *matHeaderCellDef class="tblColFlex10">
                    Created By
                  </th>
                  <td mat-cell *matCellDef="let element" text-center>
                    {{ element.createdBy || "N/A" }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="Amount">
                  <th mat-header-cell *matHeaderCellDef class="tblColFlex5">
                    Amount
                  </th>
                  <td mat-cell *matCellDef="let element" text-center>
                    {{ element.Amount || "N/A" }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="Comments">
                  <th mat-header-cell *matHeaderCellDef class="tblColFlex30">
                    Comments
                  </th>
                  <td mat-cell *matCellDef="let element" text-center>
                    <mat-form-field
                      appearance="outline"
                      class="borderInput font-13"
                    >
                      <input maxlength="200" [formControl]='element.remarks' matInput>
                    </mat-form-field>
                  </td>
                </ng-container>
                <ng-container matColumnDef="Status">
                  <th mat-header-cell *matHeaderCellDef class="tblColFlex5">
                    Status
                  </th>
                  <td mat-cell *matCellDef="let element" text-center>
                    {{ element.Status || "N/A" }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="action">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    class="text-center"
                    class="tblColFlex5"
                  >
                    Action
                  </th>
                  <td mat-cell *matCellDef="let element" class="text-center">
                    <mat-icon *ngIf="element.Status == 'Pending'"
                      class="viewIcon margin-right-10"
                      svgIcon="tick"
                      matTooltip="Approve"
                        (click)="updateStatus('Approved', element)"
                    ></mat-icon>
                    <mat-icon *ngIf="element.Status == 'Pending'"
                      class="viewIcon"
                      svgIcon="close"
                      matTooltip="Reject"
                      (click)="updateStatus('Rejected', element)"
                    ></mat-icon>
                    <mat-icon class="viewIcon" svgIcon="viewIcon" matTooltip="View History" (click)="openSupplierModal(addSupplierTier, element )"></mat-icon>
                    <p *ngIf="element.Status != 'Pending'">N/A</p>
                  </td>
                </ng-container>
                <tr
                  mat-header-row
                  *matHeaderRowDef="debitNotedisplayedColumns; sticky: true"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: debitNotedisplayedColumns"
                ></tr>
              </table>
            </div>
            <!-- <mat-paginator
              [length]="pageSize"
              [pageSize]="10"
              (page)="search($event.event.pageIndex)"
            >
            </mat-paginator> -->
            <mat-paginator  [length]="pageSize"  [pageSize]="10"  [pageIndex]="pageNo"
            (page)="pageEvent = search($event.pageIndex)">
          </mat-paginator>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>


<ng-template #trackDebitNoteElement let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">Debit Note Track</h3>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body historyContainer">
    <div class="col-md-12 height100 no-padding" style="text-align: center;">
      <table class="width100">
        <thead>
          <tr>
            <th >
                Group
              </th>
            <th >
                Approver
              </th>
            <th >
                Status
              </th>
            <th >
                Updated Date
              </th>
            </tr>
          </thead>

          <tbody>
            <!-- QA DH -->
            <tr *ngIf="tracker.QADHApproverName">
              <td >
                QADH
                </td>
              <td >
                {{tracker.QADHApproverName}}
                </td>
              <td >
                {{tracker.DHQAApprovalStatus || 'Pending'}}
                </td>
              <td >
                {{tracker.QADHApproverDate | date:'dd/MM/yyyy' || ''}}
                </td>
              </tr>
              
              <!-- CDMM GM -->
            <tr *ngIf="tracker.CDMMGMApproverName">
              <td >
                CDMM GM
                </td>
              <td >
                {{tracker.CDMMGMApproverName}}
              </td>
              <td >
                {{tracker.GM_CDMMApprovalStatus || 'Pending'}}
              </td>
              <td >
                {{tracker.CDMMGMApproverDate | date:'dd/MM/yyyy' || ''}}
              </td>
            </tr>
              
              <!-- VPSCPC -->
            <tr *ngIf="tracker.VPSCPCApproverName">
              <td >
                VPSCPC
                </td>
              <td >
                {{tracker.VPSCPCApproverName}}
              </td>
              <td >
                {{tracker.VP_SCPCApprovalStatus || 'Pending'}}
              </td>
              <td >
                {{tracker.VPSCPCApprovalDate | date:'dd/MM/yyyy' || ''}}
              </td>
            </tr>
              
              <!-- VPQA -->
            <tr *ngIf="tracker.VPQAApproverName">
              <td >
                VPQA
                </td>
              <td >
                {{tracker.VPQAApproverName}}
              </td>
              <td >
                {{tracker.VP_QAApprovalStatus || 'Pending'}}
              </td>
              <td >
                {{tracker.VPQAApprovalDate | date:'dd/MM/yyyy' || ''}}
              </td>
            </tr>
              
              <!-- VPCDMM -->
            <tr *ngIf="tracker.VPCDMMApproverName">
              <td >
                VPCDMM
                </td>
              <td >
                {{tracker.VPCDMMApproverName}}
              </td>
              <td >
                {{tracker.VP_CDMMApprovalStatus || 'Pending'}}
              </td>
              <td >
                {{tracker.VPCDMMApprovalDate | date:'dd/MM/yyyy' || ''}}
              </td>
            </tr>
              
              <!-- Accounts -->
            <tr *ngIf="tracker.AccountsApproverName">
              <td >
                Accounts
                </td>
              <td >
                {{tracker.AccountsApproverName}}
              </td>
              <td >
                {{tracker.AccountsApprovalStatus || 'Pending'}}
              </td>
              <td >
                {{tracker.AccountsApprovalDate | date:'dd/MM/yyyy' || ''}}
              </td>
            </tr>
            
          </tbody>

        </table>
    </div>
  </div>
 </ng-template>
 


  <!---Modal Structure start-->
 
  <ng-template #addSupplierTier let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">Debit Note History</h3>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="modal-body historyContainer">
      <div class="col-md-12 height100 no-padding">
          <div class="example-container tbl_New_Layout height100">
              <div class="table-container">
            <table mat-table  class="lessons-table" [dataSource]="debiteNoteHistoryDataSource">
           <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef class="text-center">ID</th>
                <td mat-cell *matCellDef="let element" class="text-center">
                  {{ element.ID || "N/A" }}
                </td>
              </ng-container>
              <ng-container matColumnDef="UpdatedBy">
                  <th mat-header-cell *matHeaderCellDef class="">Updated By</th>
                  <td mat-cell *matCellDef="let element" >
                    {{ element.UpdatedBy || "N/A" }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="UserName">
                  <th mat-header-cell *matHeaderCellDef class="tblColFlex5">User Name</th>
                  <td mat-cell *matCellDef="let element" text-center>
                    {{ element.UserName || "N/A" }}
                    </td>
                  </ng-container>
                <ng-container matColumnDef="Amount">
                  <th mat-header-cell *matHeaderCellDef class="tblColFlex8">Amount</th>
                  <td mat-cell *matCellDef="let element" text-center>
                    {{ element.Amount || "N/A" }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="createdOn">
                      <th mat-header-cell *matHeaderCellDef>Created On</th>
                      <td mat-cell *matCellDef="let element" text-center>
                        {{ element.createdOn || "N/A" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="Status">
                          <th mat-header-cell *matHeaderCellDef class="tblColFlex10">Status</th>
                          <td mat-cell *matCellDef="let element" text-center>
                            {{ element.Status || "N/A" }}
                            </td>
                          </ng-container>
                      <ng-container matColumnDef="Remarks">
                        <th mat-header-cell *matHeaderCellDef class="tblColFlex5">Remarks</th>
                        <td mat-cell *matCellDef="let element" text-center>
                          {{ element.Remarks || "N/A" }}
                          </td>
                        </ng-container>
                  <tr mat-header-row  *matHeaderRowDef="debitNoteHistorydisplayedColumns;sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: debitNoteHistorydisplayedColumns"></tr>
            </table>
            </div>
            <mat-paginator  [length]="pageSize2"  [pageSize]="10"  [pageIndex]="pageNo"
            (page)="pageEvent = getHistory($event.index)">
          </mat-paginator>
        </div>
      </div>
    </div>
   </ng-template>
   
  <!---Modal Structure stop-->
