.parent {
  overflow: scroll;
  height: 100%;
  th {
    min-width: 95px;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    padding: 10px;
  }
  .table-data{
    padding: 10px;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
  }
  
  .mid-width-data{
      width: 125px
    }
    

  .high{ background-color: red; color: white}
  .aboveAverage{ background-color: pink;  color: white }
  .average{ background-color: yellow;  color: white}
  .belowAverage{ background-color: #95C883;  color: white}
  .low{ background-color: #317824;  color: white}
  .red_bg{
    background-color: #e33045;
    color: #fff;
  }
  .orange_bg{
    background-color: #ff9956;
    color: #fff;
  }
  .yellow_bg{
    background-color: #fffc28;
    color: #fff;
  }
  .blue_bg{
    background-color: #3ca1ff;
    color: #fff;
  }
  .green_bg{
    background-color: #01ab5c;
    color: #fff;
  }
  // .red_bg{
  //   background-color: #e33045;
  //   color: #fff;
  // }
  // .orange_bg{
  //   background-color: #ff9956;
  //   color: #fff;
  // }
  // .yellow_bg{
  //   background-color: #fffc28;
  //   color: #fff;
  // }
  // .blue_bg{
  //   background-color: #3ca1ff;
  //   color: #fff;
  // }
  // .green_bg{
  //   background-color: #01ab5c;
  //   color: #fff;
  // }
}
