<div class="container-fluid CMSLanding padding">
  <div class="grid">
    <!-- <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
          <p class="no-margin font-13 width100 flex">
             <span>Home</span> <mat-icon>chevron_right</mat-icon>
            <span class="secondaryMenu">Landing Content Management</span> 
         </p>
      </div> -->
    <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
      <div class="row width100 verticalCenter">
        <div class="col-md-6">
          <h4 class="no-margin">SRM Metric</h4>
        </div>
        <div class="col-md-6 no-padding">
          <p class="no-margin font-13 width100 flex verticalEndCenter">
            <span
              class="pointer"
              routerLink="/adminDashboard"
              routerDirection="backward"
              >Home</span
            ><mat-icon>chevron_right</mat-icon>
            <span class="secondaryMenu">SRM Metric</span>
          </p>
        </div>
      </div>
    </div>

    <div
      class="col-md-12 border-radius padding-top no-padding-left no-padding-right"
    >
      <mat-card class="no-padding mainOuterCardContainer height100">
        <div class="col-md-12">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <mat-form-field
                  appearance="outline"
                  class="borderInput font-13"
                >
                  <mat-select
                    [(ngModel)]="categoryNew"
                    placeholder="Report Type" (selectionChange)="getTable(currentYear)"
                    
                  >
                    <mat-option value="1">Supplier Category Matrix</mat-option>
                    <mat-option value="2">Supplier Category Matrix Yearwise</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field
                  *ngIf="categoryNew != 2"
                  appearance="outline"
                  class="borderInput font-13"
                  
                >
                  <mat-select
                    
                    [(ngModel)]="currentYear" (selectionChange)="getTable(currentYear)"
                    placeholder="Select Year"
                  >
                    <mat-option value="FY 2021">2021</mat-option>
                    <mat-option value="FY 2020">2020</mat-option>
                    <mat-option value="FY 2019">2019</mat-option>
                    <mat-option value="FY 2018">2018</mat-option>
                    <mat-option value="FY 2017">2017</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4 btnBlockConatiner">
                    <button color="theme-green-button" class="verticalMiddleCenter" (click)="exportToExcel(metricTable)"> 
                      <mat-icon
                          svgIcon="excelIcon"
                        ></mat-icon>
                        Export To Excel
                      </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-12">
            <div class="parent">
              <table *ngIf="DataSource.length > 0" #metricTable>
                <thead>
                  <tr class="red_bg">
                    <th                       class="table-head"
                      *ngFor="let head of DataSource[0] | arrayKeys"
                    >
                      <p 
                        [ngClass]="
                          head == 'Vendor code' ? 'mid-width-data' : ''
                        "
                      >
                        {{ trim(head) }}
                      </p>
                      <!-- <p 
                        [ngClass]="
                          head == 'Vendor code' ? 'mid-width-data' : ''
                        "
                      >
                        {{ head }}
                      </p> -->
                    </th>
                  </tr>
                </thead>
                <tbody>    
                  <tr *ngFor="let item of DataSource; let itt = index">
                    <td 
                    *ngFor="let list of item | arrayKeys"
                    [ngClass]="(itt <= 1) ? 'table-data red_bg' :
                              (list != 'Que Id' && list != 'Category' && list != 'Vendor code') ? 
                                  (item[list] <= 1.9) ? 'table-data high' :
                                  (item[list] <= 2.9) ? 'table-data aboveAverage' :
                                  (item[list] <= 3.9) ? 'table-data average' :
                                  (item[list] <= 4.9) ? 'table-data belowAverage' :
                                  'table-data low' :
                              'table-data'"
                    >
                      {{ item[list] }}
                    </td>
                    <!-- <td 
                    [ngClass]="(itt <= 1) ? 'table-data red_bg' :
                              (list != 'Que Id' && list != 'Category' && list != 'Vendor code') ? 
                                  (item[list] <= 1) ? 'table-data green_bg' :
                                  (item[list] <= 2) ? 'table-data blue_bg' :
                                  (item[list] <= 3) ? 'table-data yellow_bg' :
                                  (item[list] <= 4) ? 'table-data orange_bg' :
                                  'table-data red_bg' :
                              'table-data'"
                      *ngFor="let list of item | arrayKeys"
                    >
                      {{ item[list] }}
                    </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
