<div class="loader1" *ngIf="cs.showSwapLoader">
    <img style="padding:250px 50px" src="./assets/img/loader.gif" />
</div>

<div class="container-fluid OESuppliesPage padding mySuggestionPage">
    <div class="grid">
        <!-- <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
            <p class="no-margin font-13 width100 flex">
                <span routerLink="/dashboard">Home</span>
                <mat-icon>chevron_right</mat-icon>
                <span class="secondaryMenu">My Suggestion</span>
            </p>
        </div> -->
        <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
            <div class="row width100 verticalCenter">
                <div class="col-md-6">
                    <h4 class="no-margin">New IMCR/CRE Suggestion</h4>
                </div>
                <div class="col-md-6 no-padding">
                    <p class="no-margin font-13 width100 flex verticalEndCenter">
                        <span class="pointer" (click)="navigate()" routerDirection="backward">Home</span>
                        <mat-icon>chevron_right</mat-icon>
                        <span class="secondaryMenu">My Suggestion</span>
                        <mat-icon>chevron_right</mat-icon>
                        <span class="secondaryMenu">IMCR/CRE Suggestion</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-12 border-radius border-radius padding-top no-padding-left no-padding-right">
            <mat-card class="no-padding border-radius mainOuterCardContainer">
                <div class="form_container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="box_container">
                                <label class="heading_label" *ngIf="!dash_Board_Data.IdeaNumber">New Idea Detail</label>
                                <label class="heading_label" *ngIf="dash_Board_Data.IdeaNumber">Idea Detail - {{ dash_Board_Data.IdeaNumber }}</label>
                                <label *ngIf="(navigation_From_Dashboard=='true')"class="heading_label_left">{{ideano}}</label>
                                <div class="form_box">
                                    <form [formGroup]="newDealForm" #newform="ngForm">
                                        <mat-card class="no-padding no-shadow firstBlockCard">
                                            <mat-card-content>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                                                Supplier Name
                                                                <span style="color: red;">*</span>:
                                                            </div>
                                                            <div class="col-md-7 colInput">
                                                                <mat-form-field appearance="outline" class="borderInput font-13">
                                                                    <input matInput readonly [(ngModel)]="dash_Board_Data.SupplierName" [ngModelOptions]="{standalone: true}">
                                                                    <mat-error *ngIf="newDealForm.get('Supplier_Location').hasError('required')" class="matError">Supplier Location is required</mat-error>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                                                    Supplier Location
                                                                    <span style="color: red;">*</span>:
                                                                </div>
                                                                <div class="col-md-7 colInput">
                                                                    <mat-form-field appearance="outline" class="borderInput font-13">
                                                                        <input matInput formControlName="Supplier_Location" [readonly]="isReadOnly">
                                                                        <mat-error *ngIf="newDealForm.get('Supplier_Location').hasError('required')" class="matError">Supplier Location is required</mat-error>
                                                                    </mat-form-field>
                                                               
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                                                    Name of Idea Generator
                                                                    <span style="color: red;">*</span>:
                                                                </div>
                                                                <div class="col-md-7 colInput">
                                                                    <mat-form-field appearance="outline" class="borderInput font-13">
                                                                        <input matInput formControlName="NameIdeaGenerator" [readonly]="isReadOnly">
                                                                        <mat-error *ngIf="newDealForm.get('NameIdeaGenerator').hasError('required')" class="matError">Name of Idea Generator is required</mat-error>
                                                                    </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                                                    Sector/M&M Division
                                                                    <span style="color: red;">*</span>:
                                                                </div>
                                                                <div class="col-md-7 colInput">
                                                                    <mat-form-field appearance="outline" class="borderInput font-13">
                                                                        <mat-select (selectionChange)="getDivisionId($event)" formControlName="Sector">
                                                                            <!-- <mat-option [value="">Select</mat-option> -->
                                                                            <mat-option *ngFor="let division of sectorDivision" [value]="division.DivisionId">{{division.DivisionName}} </mat-option>
                                                                        </mat-select>
                                                                        <mat-error *ngIf="newDealForm.get('Sector').hasError('required')">Sector/M&M Division is required</mat-error>
                                                                    </mat-form-field>   
                                                                       
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                                                    Proposal Description
                                                                    <span style="color: red;">*</span>:
                                                                </div>
                                                                <div class="col-md-7 colInput">
                                                                    <mat-form-field appearance="outline" class="borderInput font-13">
                                                                        <!-- <mat-label>Textarea</mat-label> -->
                                                                        <textarea maxlength="200" matInput rows="3" [readonly]="isReadOnly" formControlName="Proposal_Description"></textarea>
                                                                        <mat-error *ngIf="newDealForm.get('Proposal_Description').hasError('required')">Proposal description is required</mat-error>
                                                                        <!-- <span *ngIf="newDealForm.get('Proposal_Description').hasError('required')">Proposal description is required</span> -->
                                                                    </mat-form-field>
                                                                   
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                                <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                                                    Idea type:
                                                                </div>
                                                                <div class="col-md-7 colInput">
                                                                    <mat-form-field appearance="outline" class="borderInput font-13">
                                                                        <mat-select [disabled]='isReadOnly' formControlName="Vehicle_System">
                                                                            <mat-option *ngFor="let vehicle of vehicleSystem" [value]="vehicle.VehicleSystemId">{{vehicle.VehicleSystemName}} </mat-option>
                                                                        </mat-select>
                                                                        <mat-error *ngIf="newDealForm.get('Vehicle_System').hasError('required')">Idea type is required</mat-error>
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                    <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                                                        M&M Benchmark:
                                                                    </div>
                                                                    <div class="col-md-7 colInput">
                                                                        <mat-form-field appearance="outline" class="borderInput font-13">
                                                                            <!-- <mat-select [disabled]='isReadOnly' formControlName="Bench_Mark">
                                                                                <mat-option *ngFor="let bench of MMBenchMark" [value]="bench.BenchmarkName">{{bench.BenchmarkName}}</mat-option>
                                                                            </mat-select> -->
                                                                            <input matInput placeholder="" formControlName="Bench_Mark">
                                                                            <mat-error *ngIf="newDealForm.get('Bench_Mark').hasError('required')">M&M bench mark is required</mat-error>
                                                                        </mat-form-field>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                        <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                                                            Approx. Savings Rs. / Veh (As per Supplier)*
                                                                            <span style="color: red;">*</span>:
                                                                        </div>
                                                                        <div class="col-md-7 colInput">
                                                                            <mat-form-field appearance="outline" class="borderInput font-13">
                                                                                <input type="number" matInput autocomplete="off" [readonly]="isReadOnly" placeholder="" formControlName="Savings_As_Supplier"
                                                                                    ng-pattern="^[0-9]{1,4}(\.[0-9][0-9])?$" step="0.01"
                                                                                    required />
                                                                                <!-- <input autocomplete="off" [readonly]="isReadOnly" matInput placeholder="" onPaste="return false" (keypress)="numberOnly($event)" type="text" formControlName="Savings_As_Supplier" > -->
                                                                                <mat-error *ngIf="newDealForm.get('Savings_As_Supplier').hasError('required')">Savings is required</mat-error>
                                                                                <!-- <span *ngIf="newDealForm.get('Savings_As_Supplier').hasError('valid')">Is a valid decimal? </span> -->
                                                                            </mat-form-field>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                            <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                                                                Approx. Investment In Lacs (As Per Supplier)
                                                                                <!-- <span style="color: red;">*</span>: -->
                                                                            </div>
                                                                            <div class="col-md-7 colInput">
                                                                                <mat-form-field appearance="outline" class="borderInput font-13" max="8">
                                                                                    <input autocomplete="off" [readonly]="isReadOnly" max="8" type="text" matInput
                                                                                        placeholder="" formControlName="Investments_In_Lacks_As_Supplier">
                                                                                    <!-- <mat-error *ngIf="newDealForm.get('Investments_In_Lacks_As_Supplier').hasError('required')">Investment is required</mat-error> -->
                                                                                </mat-form-field>
                                                                            </div>
                                                                        </div>
                                                                            
                                                        <div class="row">
                                                            <div class="col-md-5 colInputHeader verticalEndCenter font-13 font-14">
                                                                Upload documents / Idea PPTs
                                                                <!-- <span style="color: red;">*</span>: -->
                                                            </div>
                                                            <div class="col-md-4 colInput no-padding-right">
                                                                    <mat-form-field appearance="outline" class="borderInput font-13">
                                                                        <input *ngIf="isDashboardFile" readonly class="viewImage viewImageFile" (click)="viewFile(newDealForm)" matTooltip="click to view file"
                                                                        matInput placeholder="" formControlName="Add_File">
                                                                        <input *ngIf="!isDashboardFile" readonly matInput placeholder="" formControlName="Add_File">
                                                                        <!-- <mat-error *ngIf="newDealForm.get('Add_File').hasError('required')">Add file is required</mat-error> -->
                                                                    </mat-form-field>
                                                            </div>
                                                            <div class="col-md-3 verticalCenter">
                                                                <label matTooltip="File format should be .png/.jpg/.jpeg/.xlsx"  matTooltipPosition="above"  for="file-input"  class="no-margin text-center"
                                                                    color="theme-gray-button">
                                                                    Upload File
                                                                    <input [disabled]="isReadOnly" #fileInput3 (click)="fileInput3.value = null" id="file-input" (change)="detectFiles($event,0,newDealForm)"
                                                                        multiple type="file" style="display:none;" />
                                                                    <!-- <button color="theme-gray-button" (click)="detectFiles()" class="verticalMiddleCenter">Upload File</button>  -->
                                                                </label>
                                                            </div>
                                                            <!-- <button (click)="DownloadFile()">Download</button> -->
                                                        </div>
                                                        
                                                        <div class="row">
                                                            <div class="col offset-5" *ngIf="fileUrls.length > 0">
                                                                Attached Files:
                                                                <div style="cursor: pointer; white-space: nowrap;" *ngFor="let file of fileUrls; let i = index"><span (click)="viewAttachedFile(file)">{{ i+1 }}. {{ file.name }}</span> &nbsp;&nbsp; <span style="color: red" (click)="removeFile(i)">x</span></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                                                    Supplier Code
                                                                    <span style="color: red;">*</span>:
                                                                </div>
                                                                <div class="col-md-7 colInput">
                                                                    <mat-form-field appearance="outline" class="borderInput font-13">
                                                                        <input matInput readonly [(ngModel)]="dash_Board_Data.SupplierCode" [ngModelOptions]="{standalone: true}">
                                                                        <mat-error *ngIf="newDealForm.get('Supplier_Location').hasError('required')" class="matError">Supplier Location is required</mat-error>
                                                                    </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                                                    Email ID
                                                                    <span style="color: red;">*</span>:
                                                                </div>
                                                                <div class="col-md-7 colInput">
                                                                    <mat-form-field appearance="outline" class="borderInput font-13">
                                                                        <input matInput [(ngModel)]="dash_Board_Data.SupplierEmailId" [ngModelOptions]="{standalone: true}">
                                                                        <!-- <mat-error *ngIf="newDealForm.get('Supplier_Location').hasError('required')" class="matError">Supplier Location is required</mat-error> -->
                                                                    </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                                                    Idea Generator Contact Number
                                                                    <span style="color: red;">*</span>:
                                                                </div>
                                                                <div class="col-md-7 colInput">
                                                                    <mat-form-field appearance="outline" class="borderInput font-13">
                                                                        <input matInput [(ngModel)]="dash_Board_Data.SupplierMobNo" [ngModelOptions]="{standalone: true}">
                                                                        <mat-error *ngIf="newDealForm.get('Supplier_Location').hasError('required')" class="matError">Supplier Location is required</mat-error>
                                                                    </mat-form-field>
                                                               
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="row">
                                                                <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                                                        Date of Idea Punching
                                                                        <span style="color: red;">*</span>:
                                                                    </div>
                                                                    <div class="col-md-7 colInput">
                                                                        <mat-form-field appearance="outline" class="borderInput font-13">
                                                                            <input matInput [max]="maxDate" [matDatepicker]="picker2" placeholder="From" formControlName="Date_of_IdeaPunching" readonly>
                                                                            <mat-datepicker-toggle matSuffix [for]="picker2" [disabled]="isReadOnly">
                                                                            </mat-datepicker-toggle>
                                                                            <mat-datepicker #picker2></mat-datepicker>
                                                                            <mat-error *ngIf="newDealForm.get('Date_of_IdeaPunching').hasError('required')">Date of idea is required</mat-error>
                                                                        </mat-form-field>
                                                                       
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                    <div class="col-md-5 colInputHeader verticalEndCenter font-13 text-right">
                                                                        Basic Function of Component/Assembly:
                                                                    </div>
                                                                    <div class="col-md-7 colInput">
                                                                        <mat-form-field appearance="outline" class="borderInput font-13">
                                                                            <!-- <mat-label>Textarea</mat-label> -->
                                                                            <textarea matInput rows="3" [readonly]="isReadOnly" formControlName="Function_of_Component"></textarea>
                                                                            <mat-error *ngIf="newDealForm.get('Function_of_Component').hasError('required')">Basic function of component is required</mat-error>
                                                                        </mat-form-field>
                                                                    </div>
                                                                </div>
                                                        <div class="row">
                                                            <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                                                Idea Applicable to Platform / Model
                                                                <span style="color: red;">*</span>:
                                                            </div>
                                                            <div class="col-md-7 colInput">
                                                                <mat-form-field appearance="outline" class="borderInput font-13">
                                                                    <mat-select formControlName="Model_Affected">
                                                                        <mat-option [value]="model.PlatformId" *ngFor="let model of modelAffected">{{model.PlatFormName}} </mat-option>
                                                                    </mat-select>
                                                                    <mat-error *ngIf="newDealForm.get('Model_Affected').hasError('required')">Model affected is required</mat-error>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                                <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                                                        Other OEM Benchmark:
                                                                    </div>
                                                                    <div class="col-md-7 colInput">
                                                                        <mat-form-field appearance="outline" class="borderInput font-13">
                                                                            <input [readonly]="isReadOnly" matInput placeholder="" formControlName="Other_Bench_Mark">
                                                                            <mat-error *ngIf="newDealForm.get('Other_Bench_Mark').hasError('required')">Other than M&M benchmark is required</mat-error>
                                                                        </mat-form-field>
                                                                    </div>
                                                            </div>
                                                        <div class="row">
                                                                <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                                                    Approx. Savings Rs. / Veh (As per M&M)
                                                                </div>
                                                                <div class="col-md-7 colInput">
                                                                    <mat-form-field appearance="outline" class="borderInput font-13">
                                                                        <input type="number" autocomplete="off" [readonly]="this.isAdmin != 'true'" matInput placeholder="" onPaste="return false" ng-pattern="^[0-9]{1,4}(\.[0-9][0-9])?$"
                                                                            step="0.01" formControlName="Savings_As_MM">
                                                                        <mat-error *ngIf="newDealForm.get('Savings_As_MM').hasError('required')">Savings is required</mat-error>
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                    <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                                                        Approx. Investment In Lacs (As Per M&M) 
                                                                        <!-- <span style="color: red;">*</span>: -->
                                                                    </div>
                                                                    <div class="col-md-7 colInput">
                                                                        <mat-form-field appearance="outline" class="borderInput font-13" max="8">
                                                                            <input step="0.01" [readonly]="this.isAdmin != 'true'" max="8" onPaste="return false" type="number" matInput
                                                                                placeholder="" formControlName="Investments_In_Lacks_As_MM">
                                                                            <!-- <mat-error *ngIf="newDealForm.get('Investments_In_Lacks_As_MM').hasError('required')">Investment is required</mat-error> -->
                                                                        </mat-form-field>
                                                                    </div>
                                                                </div>
                                                                
                                                                <div class="row">
                                                                        <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                                                            
                                                                                Workshop conducted by IMCR Person / M&M Person
                                                                                <span style="color: red;">*</span>:
                                                                            </div>
                                                                            <div class="col-md-7 colInput">
                                                                                <mat-form-field appearance="outline" class="borderInput font-13">
                                                                                    <input matInput [disabled]='isReadOnly' formControlName="Conducted_By">
                                                                                    <!-- <mat-select [disabled]='isReadOnly' formControlName="Conducted_By">
                                                                                        <mat-option *ngFor="let data of workShopConductedBy" [value]="data.WorkshopConductedBy">{{data.WorkshopConductedBy}}</mat-option>
                                                                                    </mat-select> -->
                                                                                    <mat-error *ngIf="newDealForm.get('Conducted_By').hasError('required')">Workshop conducted by is required</mat-error>
                                                                                </mat-form-field>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                            <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                                                                    Date of Workshop
                                                                                    <!-- <span style="color: red;">*</span>: -->
                                                                                </div>
                                                                                <div class="col-md-7 colInput">
                                                                                    <mat-form-field appearance="outline" class="borderInput font-13">
                                                                                        <input matInput [max]="maxDate" [matDatepicker]="picker1" formControlName="Date_of_Workshop" readonly>
                                                                                        <mat-datepicker-toggle matSuffix [for]="picker1" [disabled]="isReadOnly">
                                                                                        </mat-datepicker-toggle>
                                                                                        <mat-datepicker #picker1></mat-datepicker>
                                                                                        <mat-error *ngIf="newDealForm.get('Date_of_Workshop').hasError('required')">Date of workshop is required</mat-error>
                                                                                    </mat-form-field>
                                                                                    
                                                                            </div>
                                                                        </div>
                                                                       
                                                        <!-- <div class="row">
                                                                <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                                                    Other OEM Benchmark:
                                                                </div>
                                                                <div class="col-md-7 colInput">
                                                                    <mat-form-field appearance="outline" class="borderInput font-13">
                                                                        <input [readonly]="isReadOnly" matInput placeholder="" formControlName="Other_Bench_Mark">
                                                                        <mat-error *ngIf="newDealForm.get('Other_Bench_Mark').hasError('required')">Other than M&M benchmark is required</mat-error>
                                                                    </mat-form-field>
                                                                </div> -->
                                                        <div class="row">
                                                            <!-- <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                                                Monthly Production:
                                                            </div> -->
                                                            <!-- <div class="col-md-7 colInput">
                                                                <mat-form-field appearance="outline" class="borderInput font-13">
                                                                    <input autocomplete="off" ng-pattern="^[0-9]{1,4}(\.[0-9][0-9])?$" step="0.01" [readonly]="isReadOnly" matInput placeholder=""
                                                                        onPaste="return false" (keypress)="numberOnly($event)"
                                                                        type="number" formControlName="Monthly_Production">
                                                                    <mat-error *ngIf="newDealForm.get('Monthly_Production').hasError('required')">Monthly production is required</mat-error>
                                                                </mat-form-field>
                                                            </div> -->
                                                        </div>
                                                        <div class="row">
                                                            <!-- <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                                                Part Suppliers to plant
                                                                <span style="color: red;">*</span>:
                                                            </div>
                                                            <div class="col-md-7 colInput">
                                                                <mat-form-field appearance="outline" class="borderInput font-13">
                                                                    <mat-select [disabled]='isReadOnly' formControlName="Parts_Suppliers_To_Plants">
                                                                        <mat-option value="1">1 </mat-option>
                                                                        <mat-option value="2">2 </mat-option>
                                                                    </mat-select>
                                                                    <mat-error #err *ngIf="newDealForm.get('Parts_Suppliers_To_Plants').hasError('required')">Part supplier is required</mat-error>
                                                                </mat-form-field>
                                                            </div> -->
                                                        </div>
                                                       
                                                        <!-- </div> -->
                                                    </div>
                                                </div>
                                            </mat-card-content>
                                            <!-- <mat-card-footer class="padding verticalMiddleCenter no-margin">
                                                  <div class="col">
                                                      <div class="primaryFormBtn">
                                                          <button class="" (click)="isAdmin=='false'?validateForm(newDealForm,stepper):stepper.next()" color="theme-red-button">Continue</button>
                                                      </div>
                                                  </div>
                                              </mat-card-footer> -->
                                        </mat-card>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="box_container">
                                <label class="heading_label">Current Situation</label>
                                <div class="form_box">
                                    <form [formGroup]="currentSituationForm" #currentform="ngForm">
                                        <mat-card class="no-padding no-shadow secondBlockCard">
                                            <mat-card-content>
                                                <div class="row">
                                                    <div class="col-md-12 margin-auto">
                                                        <div class="row">
                                                            <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                                                M&M Part Number:
                                                            </div>
                                                            <div class="col-md-8 colInput">
                                                                <mat-form-field appearance="outline" class="borderInput font-13">
                                                                    <input [readonly]="isReadOnly" matInput placeholder="" formControlName="Part_Number">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                                                Part Description:
                                                            </div>
                                                            <div class="col-md-8 colInput">
                                                                <mat-form-field appearance="outline" class="borderInput font-13">
                                                                    <input [readonly]="isReadOnly" matInput placeholder="" formControlName="Part_Description">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                                                Qty/Veh:
                                                            </div>
                                                            <div class="col-md-8 colInput">
                                                                <mat-form-field appearance="outline" class="borderInput font-13">
                                                                    <input autocomplete="off" ng-pattern="^[0-9]{1,4}(\.[0-9][0-9])?$" step="0.01" [readonly]="isReadOnly" matInput placeholder=""
                                                                        onPaste="return false" type="number" formControlName="Qty_Veh">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                                                Part Cost (Rs.) / Veh
                                                                <span style="color: red;">*</span>:
                                                            </div>
                                                            <div class="col-md-8 colInput">
                                                                <mat-form-field appearance="outline" class="borderInput font-13">
                                                                    <input autocomplete="off" [readonly]="isReadOnly" matInput placeholder="" onPaste="return false" type="number" ng-pattern="^[0-9]{1,4}(\.[0-9][0-9])?$"
                                                                        step="0.01" formControlName="Part_Cost">
                                                                    <mat-error *ngIf="currentSituationForm.get('Part_Cost').hasError('required')">Part cost is required</mat-error>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                                                Weight(kg):
                                                            </div>
                                                            <div class="col-md-8 colInput">
                                                                <mat-form-field appearance="outline" class="borderInput font-13">
                                                                    <input autocomplete="off" [readonly]="isReadOnly" matInput placeholder="" onPaste="return false" type="number" ng-pattern="^[0-9]{1,4}(\.[0-9][0-9])?$"
                                                                        step="0.01" formControlName="Weight">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                                                RM Grade:
                                                            </div>
                                                            <div class="col-md-8 colInput">
                                                                <mat-form-field appearance="outline" class="borderInput font-13">
                                                                    <input [readonly]="isReadOnly" matInput placeholder="" formControlName="RM_Grade">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-4 colInputHeader verticalEndCenter font-13 font-14">
                                                                Before Image
                                                                <span style="color: red;">*</span>:
                                                            </div>
                                                            <div class="col-md-5 colInput no-padding-right">
                                                                <mat-form-field appearance="outline" class="borderInput font-13 ">
                                                                    <input *ngIf="isDashboardCSIFile" readonly class="viewImage viewImageFile" (click)="viewFile(currentSituationForm)" matTooltip="click to view file"
                                                                        matInput placeholder="" formControlName="Add_File">
                                                                    <input *ngIf="!isDashboardCSIFile" readonly class="viewImage viewImageFile" (click)="view(1)" matInput placeholder="" formControlName="Add_File">
                                                                    <mat-error *ngIf="currentSituationForm.get('Add_File').hasError('required')">Please add file</mat-error>
                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-md-3 verticalCenter">
                                                                <label matTooltip="File format should be .png/.jpg/.jpeg"  matTooltipPosition="above" for="file-input1"  class="no-margin text-center"
                                                                    color="theme-gray-button">
                                                                    Upload File
                                                                    <input [disabled]="isReadOnly" id="file-input1" #fileInput1 (click)="fileInput1.value = null" (change)="detectFiles($event,1,currentSituationForm)"
                                                                        accept=".png, .jpg, .jpeg" type="file" style="display:none;"
                                                                    />
                                                                    <!-- <button color="theme-gray-button" (click)="detectFiles()" class="verticalMiddleCenter">Upload File</button>  -->
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </mat-card-content>
                                            <!-- <mat-card-footer class="padding verticalMiddleCenter no-margin">
                                                <div class="col">
                                                    <div class="disInlineBlock" style="width:10%">
                                                        <div class="backBtn">
                                                            <button color="theme-text-button" matStepperPrevious class="no-shadow"
                                                                class="verticalMiddleCenter no-shadow">
                                                                <mat-icon class="disInlineBlock margin-right-5 rotateBackButton"
                                                                    svgIcon="arrowIcon"></mat-icon> Back
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="disInlineBlock" style="width:90%">
                                                        <div class="primaryFormBtn">
                                                            <button class="" color="theme-red-button"
                                                            (click)="isAdmin=='false'?validateForm(currentSituationForm,stepper):stepper.next()">Continue</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </mat-card-footer> -->
                                        </mat-card>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="box_container">
                                <label class="heading_label">Proposed Situation</label>
                                <div class="form_box">
                                    <form [formGroup]="proposedSituationForm" #proposalform="ngForm">
                                        <!-- <ng-template matStepLabel>Proposed Situation</ng-template> -->
                                        <mat-card class="no-padding no-shadow thirdBlockCard">
                                            <mat-card-content>
                                                <div class="row">
                                                    <div class="col-md-12 margin-auto">
                                                        <div class="row">
                                                            <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                                                M&M Part Number:
                                                            </div>
                                                            <div class="col-md-8 colInput">
                                                                <mat-form-field appearance="outline" class="borderInput font-13">
                                                                    <input [readonly]="isReadOnly" matInput placeholder="" formControlName="Part_Number">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                                                Part Description:
                                                            </div>
                                                            <div class="col-md-8 colInput">
                                                                <mat-form-field appearance="outline" class="borderInput font-13">
                                                                    <input [readonly]="isReadOnly" matInput placeholder="" formControlName="Part_Description">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                                                Qty/Veh:
                                                            </div>
                                                            <div class="col-md-8 colInput">
                                                                <mat-form-field appearance="outline" class="borderInput font-13">
                                                                    <input autocomplete="off" [readonly]="isReadOnly" matInput placeholder="" onPaste="return false" type="number" ng-pattern="^[0-9]{1,4}(\.[0-9][0-9])?$"
                                                                        step="0.01" formControlName="Qty_Veh">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                                                Part Cost(Rs.)
                                                                <span style="color: red;">*</span>:
                                                            </div>
                                                            <div class="col-md-8 colInput">
                                                                <mat-form-field appearance="outline" class="borderInput font-13">
                                                                    <input autocomplete="off" [readonly]="isReadOnly" matInput onPaste="return false" type="number" ng-pattern="^[0-9]{1,4}(\.[0-9][0-9])?$"
                                                                        step="0.01" formControlName="Part_Cost">
                                                                    <mat-error #err *ngIf="proposedSituationForm.get('Part_Cost').hasError('required')">Part cost is required</mat-error>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                                                Weight(kg):
                                                            </div>
                                                            <div class="col-md-8 colInput">
                                                                <mat-form-field appearance="outline" class="borderInput font-13">
                                                                    <input autocomplete="off" [readonly]="isReadOnly" matInput placeholder="" onPaste="return false" ng-pattern="^[0-9]{1,4}(\.[0-9][0-9])?$"
                                                                        step="0.01" type="number" formControlName="Weight">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                                                RM Grade:
                                                            </div>
                                                            <div class="col-md-8 colInput">
                                                                <mat-form-field appearance="outline" class="borderInput font-13">
                                                                    <input [readonly]="isReadOnly" matInput placeholder="" formControlName="RM_Grade">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-4 colInputHeader verticalEndCenter font-13 font-14">
                                                                After Image
                                                                <!-- <span style="color: red;">*</span>: -->
                                                            </div>
                                                            <div class="col-md-5 colInput no-padding-right">
                                                                <mat-form-field appearance="outline" class="borderInput font-13 ">
                                                                    <input *ngIf="isDashboardPSIFile" readonly class="viewImage viewImageFile" (click)="viewFile(proposedSituationForm)" matTooltip="click to view file"
                                                                        matInput placeholder="" formControlName="Add_File">
                                                                    <input *ngIf="!isDashboardPSIFile" readonly class="viewImage viewImageFile" (click)="view(2)" matInput placeholder="" formControlName="Add_File">
                                                                    <mat-error *ngIf="proposedSituationForm.get('Add_File').hasError('required')">Please add file</mat-error>
                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-md-3 verticalCenter">
                                                                <label matTooltip="File format should be .png/.jpg/.jpeg"  matTooltipPosition="above" for="file-input2"  class="no-margin text-center"
                                                                    color="theme-gray-button">
                                                                    Upload File
                                                                    <input [disabled]="isReadOnly" #fileInput2 accept=".png, .jpg, .jpeg" (click)="fileInput2.value = null" id="file-input2"
                                                                        (change)="detectFiles($event,2,proposedSituationForm)"
                                                                        type="file" style="display:none;" />
                                                                    <!-- <button color="theme-gray-button" (click)="detectFiles()" class="verticalMiddleCenter">Upload File</button>  -->
                                                                </label>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </mat-card-content>
                                            <!-- <mat-card-footer class="padding verticalMiddleCenter no-margin">
                                                <div class="col">
                                                    <div class="disInlineBlock" style="width:10%">
                                                        <div class="backBtn">
                                                            <button color="theme-text-button" matStepperPrevious class="no-shadow"
                                                                class="verticalMiddleCenter no-shadow">
                                                                <mat-icon class="disInlineBlock margin-right-5 rotateBackButton"
                                                                    svgIcon="arrowIcon"></mat-icon> Back
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="disInlineBlock" style="width:90%">
                                                        <div class="primaryFormBtn">
                                                            <button class="" color="theme-red-button"
                                                            (click)="isAdmin=='false'?validateForm(proposedSituationForm,stepper):stepper.next()">Continue</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </mat-card-footer> -->
                                        </mat-card>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                    
                    
                    <div class="row" *ngIf="(navigation_From_Dashboard=='true' && formStatus==1)">
                        <div class="col-sm-12">
                            <div class="box_container">
                                <label class="heading_label">Seek Clarification</label>
                                <div class="form_box">
                                    <form [formGroup]="newDealForm" #newform="ngForm">
                                          <mat-card class="no-padding no-shadow firstBlockCard">
                                              <mat-card-content>
                                                  <div class="row">
                                                      <div class="col-md-6">
                                                          <div class="row">
                                                              <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                                                                  Remarks:
                                                              </div>
                                                              <div class="col-md-7 colInput">
                                                                  <mat-form-field appearance="outline" class="borderInput font-13">
                                                                      <input matInput readonly [value]="dash_Board_Data.Admin_Review">
                                                                  </mat-form-field>
                                                              </div>
                                                          </div>
                                                        </div>
                                                        <div class="col-md-6" *ngIf="dash_Board_Data.Admin_Review_Attch">
                                                            <div class="row">
                                                                <div class="col-md-1 colInputHeader verticalEndCenter font-13">
                                                                    File:
                                                                </div>
                                                                <div class="col-md-7 colInput">
                                                                    <mat-form-field appearance="outline" class="borderInput font-13 pointer" (click)="openClarificationFile()">
                                                                        <input matInput readonly [value]="dash_Board_Data.Admin_Review_Attch ? getAdmin_Review_Attch(dash_Board_Data.Admin_Review_Attch) : ''">
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                          </div>
                                                    </div>
                                              </mat-card-content>
                                          </mat-card>
                                      </form>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <div class="box_container">
                                <label class="heading_label">Remarks &amp; Submission</label>
                                <div class="form_box">
                                    <form [formGroup]="submissionForm" #forthform="ngForm">
                                        <!-- <ng-template matStepLabel>Remarks & Submission</ng-template> -->
                                        <mat-card class="no-padding no-shadow forthBlockCard">
                                            <mat-card-content>
                                                <div class="row">
                                                    <div class="col-md-12 margin-auto">
                                                        <div class="row">
                                                            <div class="col-md-2 colInputHeader verticalEndCenter font-13">
                                                                Supplier Remarks:
                                                                <span style="color: red;">*</span>:
                                                            </div>
                                                            <div class="col-md-10 colInput">
                                                                <mat-form-field appearance="outline" class="borderInput font-13">
                                                                    <!-- <mat-label>Textarea</mat-label> -->
                                                                    <textarea [readonly]="isReadOnly" matInput rows="10" formControlName="Remark"></textarea>
                                                                    <mat-error *ngIf="submissionForm.get('Remark').hasError('required')">Supplier Remark is required</mat-error>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="row" *ngIf="isAdmin=='true' || submissionForm.value.eVECP_Number">
                                                            <div class="col-md-2 colInputHeader verticalEndCenter font-13">
                                                                eVECP Number:
                                                            </div>
                                                            <div class="col-md-10 colInput">
                                                                <mat-form-field appearance="outline" class="borderInput font-13">
                                                                    <input matInput placeholder="" [readonly]="isAdmin!='true'" formControlName="eVECP_Number">
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="row" *ngIf="isAdmin=='true' || submissionForm.value.Admin_Status">
                                                            <div class="col-md-2 colInputHeader verticalEndCenter font-13">
                                                                Idea Status by M&M
                                                                <span style="color: red;">*</span>:
                                                            </div>
                                                            <div class="col-md-10 colInput">
                                                                <mat-form-field appearance="outline" class="borderInput font-13">
                                                                    <input *ngIf="isAdmin!='true'" formControlName="Admin_Status" readonly="true" matInput>
                                                                    <mat-select *ngIf="isAdmin=='true'" formControlName="Admin_Status">
                                                                        <mat-option *ngFor="let data of statusData" [value]="data.StatusName">{{data.StatusName}}</mat-option>
                                                                    </mat-select>
                                                                    <mat-error *ngIf="submissionForm.get('Admin_Status').hasError('required')">Admin Status is required</mat-error>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="row" *ngIf="isAdmin=='true' || submissionForm.value.Admin_Remark">
                                                            <div class="col-md-2 colInputHeader verticalEndCenter font-13">
                                                                M&M Remarks
                                                                <span style="color: red;">*</span>:
                                                            </div>
                                                            <div class="col-md-10 colInput">
                                                                <mat-form-field appearance="outline" class="borderInput font-13">
                                                                    <input matInput placeholder="" [readonly]="isAdmin!='true'" formControlName="Admin_Remark">
                                                                    <mat-error *ngIf="submissionForm.get('Admin_Remark').hasError('required')">M&M Remark is required</mat-error>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </mat-card-content>
                                            <mat-card-footer class="padding verticalMiddleCenter no-margin">
                                                <div class="col-12">
                                                    <div class="disInlineBlock firstBtnBlock">
                                                    </div>
                                                    <div class="text-center secondBtnBlock" *ngIf="(navigation_From_Dashboard=='true' && formStatus==0)||navigation_From_Dashboard=='false'||isAdmin=='true'">
                                                        <div *ngIf="isAdmin=='false'" class="primaryFormBtn disInlineBlock margin-right-10">
                                                            <button class="" color="theme-gray-button" (click)="submitSuggestion(2)">Save</button>
                                                        </div>
                                                        <div class="primaryFormBtn disInlineBlock">
                                                            <button (click)="submitSuggestion(1)" type="submit" color="theme-green-button">Submit</button>
                                                        </div>
                                                        <div class="primaryFormBtn disInlineBlock margin-left-10" *ngIf="isAdmin=='true'">
                                                            <button (click)="addClarificatation(content)" type="submit" color="theme-green-button" >Seek Clarification</button>
                                                        </div>
                                                    </div>
                                                    <div class="text-center secondBtnBlock padding-top-5">
                                                        <div class="primaryFormBtn disInlineBlock margin-right-10">
                                                            <button class="" color="theme-red-button" [routerLink]="isAdmin == 'true' ? ['/suggestionDashboard/Admin'] : ['/suggestionDashboard/User']">Go To Dashboard</button>
                                                        </div>
                                                        <div class="primaryFormBtn disInlineBlock">
                                                            <button class="" color="theme-green-button" (click)="exportSingleExcel()">Export Excel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </mat-card-footer>
                                        </mat-card>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>



<ng-template #content>
    <div class="modal-header">
      <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">
        Seek Clarification
      </h3>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="closeModal()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="modal-body">
      <!-- <form [formGroup]="clarificationForm"> -->
            <mat-form-field appearance="outline" class="borderInput font-13">
                <input matInput placeholder="Remark" [formControl]="clarificationRemark">
            </mat-form-field>
            <mat-form-field appearance="outline" class="borderInput font-13">
                <input matInput placeholder="CC Email" [formControl]="clarificationEmail">
            </mat-form-field>
            <div class="row">
                    <div class="col-md-8">
                        <mat-form-field appearance="outline" class="borderInput font-13">
                            <input [value]="clarificationFileName" matInput placeholder="Select File" readonly>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 vertcalAligment">
                        <label matTooltip="File format should be .png/.jpg/.jpeg" matTooltipPosition="above" for="clarificationFile" class="no-margin text-center" color="theme-gray-button">
                            Upload File
                        <input #clarificationFile accept=".png, .jpg, .jpeg"  placeholder="Select File" readonly
                            (click)="clarificationFile.value = null" id="clarificationFile" (change)="getFiles($event)" type="file" style="display:none;"/>
                        </label>
                    </div>
                </div>
                <button (click)="submitClarification()" type="submit" color="theme-red-button" >Seek Clarification</button>

        <!-- </form> -->
    </div>
  </ng-template>