@import '../../variable.scss';
 .mat-form-field-infix{border-top: 0px !important;}
.mySuggestionPage{
  /deep/.mat-horizontal-content-container{
    padding: 0px !important;
    .firstBlockCard,.secondBlockCard,.thirdBlockCard,.forthBlockCard{
      mat-card-content{
        padding: 24px 24px 24px 24px;
      }
      mat-card-footer{
        .firstBtnBlock{width:10%}
        .secondBtnBlock{width:90%}
      }
    }
  }
.borderInput{
        ::ng-deep .mat-form-field-infix{border-top: 0px !important;}
        ::ng-deep .mat-form-field-wrapper{padding-bottom: 0px;}
        }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: rgba(0,0,0,.12); }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{border-width: 1px !important;}
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{border-width: 1px !important;}
        /deep/.mat-select-arrow-wrapper{
          display: flex;
          align-items: center;
          justify-content: center;
        }
         
  /deep/.mat-form-field-subscript-wrapper{
    position: absolute;
    top: 8px;
  }
}


::ng-deep .mat-step-header .mat-step-icon{
  background-color: $color-white-default;
  color: $color-foreground-tertiary;
  border: 1px solid $color-foreground-tertiary;
}
::ng-deep .mat-step-header .mat-step-label-selected {
  color:#e33045 !important;
  border-bottom: 1px solid #e33045;
}
::ng-deep .mat-step-header .mat-step-icon-selected {
    background: #e33045;
    color: #fff;
    border: 1px solid #e33045;
}
::ng-deep .mat-step-header .mat-step-label-selected:after {
  content: '';
  position: absolute;
  bottom: 21px;
  right: 0;
  left: 15%;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: solid 4px #e33045;
  border-left: solid 4px transparent;
  border-right: solid 4px transparent;
}

.rotateBackButton{
  transform: rotate(180deg);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
   margin: 0;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
  color: red!important;
  opacity: 0.8!important;
}


.loader1{
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  // display: none; 
  left: 0px;
  right: 0px;
  position: fixed;
  text-align: center;
  z-index:1000000;
  // background-color: #2b2b2bb0;
  background-color: rgba(0,0,0,0.5);
}

 mat-horizontal-stepper{
   height: 100%;
    .mat-horizontal-content-container{
      height: calc(100% - 72px);
      padding: 0px;
      .mat-horizontal-stepper-content{
        height: 100%;
        form{
          height: 100%;
          mat-card{
            height: 100%;
            mat-card-content{
              height: 80%;
              overflow-y: auto;
              margin-bottom: 0px;
            }
            mat-card-footer{
              height: 20%;
            }
          }
        }
      }
    }
  }
  .mat-horizontal-stepper-content[aria-expanded=false] {
    height: 0 !important;
 }


.viewImage{ color: royalblue; }
.viewImageFile:hover{cursor: pointer !important; text-decoration: underline; color: royalblue;}
.form_container{
  padding: 20px;
  height: 100%;
  overflow: auto;
}
.box_container {
    padding: 20px;
    border: 1px solid #ddd;
    position: relative;
    margin: 15px 0;
    padding-top: 30px;
}

.heading_label {
  box-shadow: 0 4px 12px 0 rgba(32, 33, 36, .28);
  margin: 0;
  padding: 5px 10px;
  position: absolute;
  top: -15px;
  z-index: 1;
  background-color: #fff;
  font-weight: 800;
}  

.heading_label_left {
  box-shadow: 0 4px 12px 0 rgba(32, 33, 36, .28);
  margin: 0;
  padding: 5px 10px;
  position: absolute;
  top: -15px;
  right: 20px;
  z-index: 1;
  background-color: #fff;
  font-weight: 800;
}  

.form_box {}