<div class="modal-header">
    <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">2019 Berlin</h3>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <!-- <div class="modal-body excellenceContainer no-padding">
    <div class="col-md-12 no-padding">
      <div class="col no-padding imgConatiner">
        <div class="height100 width100">
          <img [src]="imageURL" class="height100 width100"> 
        </div>
        <div class="textConatiner padding-horizontal">
          <h1>ALP Nishikawa Co. Pvt. Ltd.</h1>
          <p>Best Product Development Performance - XUV300</p>
        </div>
        <div (click)="move()" class="leftArrow"><mat-icon svgIcon="arrowRight" class="rotate"></mat-icon></div>
        <div class="rightArrow"><mat-icon svgIcon="arrowRight" ></mat-icon></div>
       </div>
        <div class="col no-padding thumbnilConatiner">
        <div class="row no-margin height100">
          <div class="col-md-1 verticalCenter">
            <div><mat-icon svgIcon="arrowRight" class="rotate indicationIcon"></mat-icon></div>
          </div>
          <div class="col-md-10 no-padding">
            <div class="row no-margin height100" >
              <div *ngFor="let data of imageArray" class="col-md-2 padding-5 activeThumbnil thumbnil">
                <div (click)="showImage(data)">
                    <img [src]="data.Link" class="height100 width100"> 
                </div>
              </div>
              <div class="col-md-2 padding-5 thumbnil">
                  <div>
                      <img src="/assets/img/slider/1.jpg" class="height100 width100"> 
                  </div>
                </div>
                <div class="col-md-2 padding-5 thumbnil">
                    <div>
                        <img src="/assets/img/slider/1.jpg" class="height100 width100"> 
                    </div>
                  </div>
                  <div class="col-md-2 padding-5 thumbnil">
                      <div>
                          <img src="/assets/img/slider/1.jpg" class="height100 width100"> 
                      </div>
                    </div>
                    <div class="col-md-2 padding-5 thumbnil">
                        <div>
                            <img src="/assets/img/slider/1.jpg" class="height100 width100"> 
                        </div>
                      </div>
                      <div class="col-md-2 padding-5 thumbnil">
                          <div>
                              <img src="/assets/img/slider/1.jpg" class="height100 width100"> 
                          </div>
                        </div>
              
            </div>
          </div>
          <div class="col-md-1 verticalCenter">
              <div><mat-icon svgIcon="arrowRight" class="indicationIcon"></mat-icon></div>
            </div>
        </div>
         </div> 
     </div>
     </div> -->
 

     <div class="container" style="height: 521px;">
      <div class="row">
        <div class="col-md-12 py-3">
          <ngb-carousel style="height: 300px;">
            <ng-template ngbSlide style="height: 200px;" *ngFor="let event of imageArray">
              <img style="height: 550px;" [src]="event.Link" alt="Random slide">
            </ng-template>
          </ngb-carousel>


          <div class="col-md-10 no-padding">
            <div class="row no-margin height100" >
              <div *ngFor="let data of imageArray|slice:0:5" class="col-md-2 padding-5 activeThumbnil thumbnil">
                <div (click)="showImage(data)">
                    <img [src]="data.Link" class="height100 width100"> 
                </div>
              </div>
              </div>
          </div>

            <!-- <ngb-carousel style="height: 300px;">

              <ng-template ngbSlide class="col-md-2 padding-5 thumbnil" *ngFor="let event of imageArray">
                <img class="height100 width100" [src]="event.Link" alt="Random slide">
              </ng-template>
            </ngb-carousel> -->
        </div>
      </div>
    </div>