.excellenceContainer{
 .imgConatiner{
    
     height: 60vh;
     .textConatiner{
        position: absolute;
        bottom: 0px;
        color: #fff;
        p{
            color: #ffffffb0;
        }
     }
 }   
 .thumbnilConatiner{
    background: #1F1F1F;
    height: auto;
    .thumbnil{
        cursor: pointer;
    }
    .activeThumbnil{
        background: #000000;
    }
    .activeThumbnil:before{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 7px 7px 7px;
        border-color: transparent transparent #000000 transparent;
        content: '';
        position: absolute;
        top: -7px;
       left: 0px;
        right: 0px;
        margin: auto;
    }
    .indicationIcon{
        opacity: 0.4;
    }
 }
 .rotate{
    transform: rotate(180deg);
 }
 .leftArrow{
    position: absolute;
    left: 0;
    top: 0px;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    width: 50px;
    justify-content: center;
    mat-icon{
        cursor: pointer;
    }
 }
 .rightArrow{
    position: absolute;
    right: 0;
    top: 0px;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    width: 50px;
    justify-content: center;
    mat-icon{
        cursor: pointer;
    }
 }
}