@import '../../variable.scss';
.myHelpdeskPage{
    .marginTop{
        margin-top: 5px;
    }
    .tabGrayHdr{
        background:$color-foreground-quaternary;
        color: $color-foreground-default;
       .spacing{
        padding: 16px 30px;
       }
    }
         mat-form-field{
            width: 70%;
          }
      
    
    
    .borderInput{
        ::ng-deep .mat-form-field-infix{border-top: 0px !important;}
        ::ng-deep .mat-form-field-wrapper{padding-bottom: 0px;}
        }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: rgba(0,0,0,.12); }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{border-width: 1px !important;}
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{border-width: 1px !important;}
        /deep/.mat-select-arrow-wrapper{
          display: flex;
          align-items: center;
          justify-content: center;
        }
        mat-tab-body-wrapper{
            .tab-body{
                border: 1px solid;
                height: 100%;
            }
        }

    /deep/.mat-ink-bar {
        background-color: red;
    }

    /deep/.mat-ink-bar:after {
        content: '';
        position: absolute;
        top: 2px;
        right: 0;
        left: 0;
        margin: 0 auto;
        width: 0;
        height: 0;
        border-top: solid 5px #e33045;
        border-left: solid 5px transparent;
        border-right: solid 5px transparent;
    }

    .redCard{ background-color: #e33045; }
    .yellowCard{ background-color: #ffc107; }
    .grayCard{ 
       // background-color: #495057;
       background-color:#009688;
      
     }

    .titleCard{
        padding: 12px;
        color: #fff;
        font-weight: 300;
        border-radius: 3px;

        .lightenIconColor{
            filter: brightness(2.5);
            opacity: 0.6;
        }
        
        .cardIcon{
            mat-icon{
                height: 35px;
                width: 35px;
                margin-top: 10px;
            }
        }
        .cardCount {
            font-size: 35px;
            font-weight: 200;
        }
    }

    
    .flagsDiv{
        position: relative;
        
        .greenFlag{ background: #00ff14; }
        .redFlag{ background: #e33045; }
        .blueFlag{ background: #007bff; }

        .flags{
            width: 10px;
            height: 10px;
            border-radius: 10px;
            position: absolute;
            top: 17px;
            left: 15%;
        }
        
    
        .flagValue{
            margin-left: 30%;
            margin-top: 12px;
        }
    }
    /deep/.mat-tab-body-wrapper{
        height: 100% !important;
        mat-tab-body{
            height: 100% !important;
       }
    }
    .createConsern{
        mat-card-content{
            height: 80%;
        }
        mat-card-footer{
            height: 20%;  
        }
    }
}
