<div class="container-fluid myHelpdeskPage padding">
  <div class="grid">
    <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
        <div class="row width100 verticalCenter">
        <div class="col-md-6">
        <h4 class="no-margin">My Help Desk</h4>
        </div>
        <div class="col-md-6 no-padding">
        <p class="no-margin font-13 width100 flex verticalEndCenter">
          <span class="pointer" [routerLink]="roleId == 7 ? '/adminDashboard' : '/dashboard'" routerDirection="backward">Home</span><mat-icon>chevron_right</mat-icon>
        <span class="secondaryMenu">My Help Desk</span> 
        </p>
        </div>
        </div>
        </div>
    <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
      <mat-card class="no-padding mainOuterCardContainer">
        <mat-tab-group class="height100" (selectedTabChange)="mainTabChange($event)">
          <mat-tab label="CREATE CONCERN" class="createConsernPanel height100">
            <mat-card class="createConsern height100">
              <mat-card-content *ngIf="createConcernForm">
                <form [formGroup]="createConcernForm">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="col-md-12">
                          <div class="row">
                              <div
                                class="col-md-4 colInputHeader verticalEndCenter"
                              >
                                User Name<span style="color: red;">*</span> :
                              </div>
                              <div class="col-md-8 colInput">
                                <mat-form-field
                                  appearance="outline"
                                  class="borderInput"
                                >
                                  <input matInput disabled="true" *ngIf="roleId != 7" [value]="userToken">
                                  <mat-select *ngIf="roleId == 7" formControlName="vendorId" placeholder="Select User">
                                    <mat-option *ngFor="let vendor of vendors" [value]="vendor.VendorCode">{{ vendor.VendorCode }}</mat-option>
                                  </mat-select>
                                  <mat-error *ngIf="createConcernForm.get('vendorId').hasError('required')" class="matError">
                                    User Name is required.
                                </mat-error>
                                </mat-form-field>
                              </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                          <div class="row">
                            <div
                              class="col-md-4 colInputHeader verticalEndCenter"
                            >
                              Issue Type<span style="color: red;">*</span> :
                            </div>
                            <div class="col-md-8 colInput">
                              <mat-form-field
                                appearance="outline"
                                class="borderInput"
                              >
                                <mat-select formControlName="IssueType"
                                  (selectionChange)="selectIssueType($event)"
                                  placeholder="Select Issue Type"
                                >
                                  <mat-option
                                    *ngFor="
                                      let issueType of createConcernOptions._GetIncidentIssueTypeMaster
                                    "
                                    [value]="issueType.IssueTypeID"
                                    >{{ issueType.IssueTypeName }}
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="createConcernForm.get('IssueType').hasError('required')" class="matError">
                                      Issue Type is required.
                                  </mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-12" *ngIf="viewBussinessOptions">
                          <div class="row">
                            <div
                              class="col-md-4 colInputHeader verticalEndCenter"
                            >
                              Sector<span style="color: red;">*</span> :
                            </div>
                            <div class="col-md-8 colInput">
                              <mat-form-field
                                appearance="outline"
                                class="borderInput"
                              >
                                <mat-select
                                formControlName="SectorId"
                                  (selectionChange)="getPlants($event.value)"
                                  placeholder="Select Sector"
                                >
                                  <mat-option
                                    *ngFor="
                                      let sector of createConcernOptions._GetIncidentSectorMaster
                                    "
                                    [value]="sector.SectorID"
                                    >{{ sector.SectorName }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12" *ngIf="viewBussinessOptions">
                          <div class="row">
                            <div
                              class="col-md-4 colInputHeader verticalEndCenter"
                            >
                              Plant<span style="color: red;">*</span> :
                            </div>
                            <div class="col-md-8 colInput">
                              <mat-form-field
                                appearance="outline"
                                class="borderInput"
                              >
                                <mat-select
                                formControlName="PlantId"
                                  (selectionChange)="
                                    getBussinessFunction($event.value)
                                  "
                                  placeholder="Select sector to select a plant"
                                >
                                  <mat-option
                                    *ngFor="
                                      let plant of createConcernOptions._GetIncidentPlantMaster
                                    "
                                    [value]="plant.PlantID"
                                    >{{ plant.PlantName }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12" *ngIf="viewBussinessOptions">
                          <div class="row">
                            <div
                              class="col-md-4 colInputHeader verticalEndCenter"
                            >
                              Bussiness Function<span style="color: red;">*</span> :
                            </div>
                            <div class="col-md-8 colInput">
                              <mat-form-field
                                appearance="outline"
                                class="borderInput"
                              >
                                <mat-select
                                  formControlName="BussinessFunction"
                                  placeholder="Select a Plant to select a bussiness function"
                                >
                                  <mat-option
                                    *ngFor="
                                      let businessFunction of createConcernOptions._GetIncidentBusinessFunctionMaster
                                    "
                                    [value]="businessFunction.BusinessFunID"
                                    >{{ businessFunction.BusniessFunctionName }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="row">
                            <div
                              class="col-md-4 colInputHeader verticalEndCenter"
                            >
                              Issue Category<span style="color: red;">*</span> :
                            </div>
                            <div class="col-md-8 colInput">
                              <mat-form-field
                                appearance="outline"
                                class="borderInput"
                              >
                                <mat-select
                                formControlName="IssueCategory"
                                  placeholder="Select Issue Category"
                                >
                                  <mat-option
                                    *ngFor="
                                      let issueCategory of createConcernOptions._GetIncidentSubCategoryMaster
                                    "
                                    [value]="issueCategory.IncidentSubCategory_Id"
                                    >{{ issueCategory.IncidentCategory_Name }} -
                                    ({{ issueCategory.IncidentSubCategory_Name }})
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="createConcernForm.get('IssueCategory').hasError('required')" class="matError">
                                      Issue Category is required.
                                  </mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12" *ngIf="!viewBussinessOptions">
                          <div class="row">
                            <div
                              class="col-md-4 colInputHeader verticalEndCenter"
                            >
                            Supplier E-mail address:
                            </div>
                            <div class="col-md-8 colInput">
                              <mat-form-field
                              appearance="outline"
                              class="borderInput"
                            >
                              <input type="email" formControlName="supplierEmail" matInput placeholder="" />
                              <!-- <mat-error *ngIf="createConcernForm.get('AssignedEmail').hasError('required')" class="matError">
                                    Email is required.
                                </mat-error>-->
                                <mat-error *ngIf="createConcernForm.get('supplierEmail').hasError('pattern')" class="matError">
                                      Email should be in the format of name@mahindra.com.
                                  </mat-error> 
                                
                            </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12" *ngIf="!viewBussinessOptions">
                          <div class="row">
                            <div
                              class="col-md-4 colInputHeader verticalEndCenter"
                            >
                            Supplier phone no:
                            </div>
                            <div class="col-md-8 colInput">
                              <mat-form-field
                              appearance="outline"
                              class="borderInput"
                            >
                              <input type="email" formControlName="supplierPhone" matInput placeholder="" />
                              <!-- <mat-error *ngIf="createConcernForm.get('AssignedEmail').hasError('required')" class="matError">
                                    Email is required.
                                </mat-error>
                                <mat-error *ngIf="createConcernForm.get('AssignedEmail').hasError('pattern')" class="matError">
                                      Email should be in the format of name@mahindra.com.
                                  </mat-error> -->
                                
                            </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="row" *ngIf="viewBussinessOptions">
                            <div
                              class="col-md-4 colInputHeader verticalEndCenter"
                            >
                              Assigned Email ID<span style="color: red;">*</span> :
                            </div>
                            <div class="col-md-8 colInput">
                              <mat-form-field
                                appearance="outline"
                                class="borderInput"
                              >
                                <input type="email" formControlName="AssignedEmail" matInput placeholder="" />
                                <!-- <mat-error *ngIf="createConcernForm.get('AssignedEmail').hasError('required')" class="matError">
                                      Email is required.
                                  </mat-error>
                                  <mat-error *ngIf="createConcernForm.get('AssignedEmail').hasError('pattern')" class="matError">
                                        Email should be in the format of name@mahindra.com.
                                    </mat-error> -->
                                    <mat-error *ngIf="createConcernForm.get('AssignedEmail').hasError('required')" class="matError">
                                      Email is required.
                                  </mat-error>
                                  <mat-error *ngIf="createConcernForm.get('AssignedEmail').hasError('pattern')" class="matError">
                                        Email should be in the format of name@mahindra.com.
                                    </mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="row" *ngIf="viewBussinessOptions">
                            <div
                              class="col-md-4 colInputHeader verticalEndCenter"
                            >
                              Phone no<span style="color: red;">*</span> :
                            </div>
                            <div class="col-md-8 colInput">
                              <mat-form-field
                                appearance="outline"
                                class="borderInput"
                              >
                                <input appInputListener formControlName="PhoneNo" type="text" maxlength="10" (keypress)="numberOnly($event)" matInput placeholder="" />
                                <mat-error *ngIf="createConcernForm.get('PhoneNo').hasError('required')" class="matError">
                                    Phone number is required.
                                </mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="col-md-12">
                          <div class="row">
                            <div
                              class="col-md-4 colInputHeader verticalEndCenter"
                            >
                              Ticket Req. Date :
                            </div>
                            <div class="col-md-8 colInput">
                              <mat-form-field
                                appearance="outline"
                                class="borderInput"
                              >
                                <input
                                  readonly=true
                                  formControlName="TicketRequestDate"
                                  matInput
                                  [min]="minDate"
                                  [max]="maxDate"
                                  [matDatepicker]="picker2"
                                />
                                <mat-datepicker-toggle
                                  matSuffix
                                  [for]="picker2"
                                ></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="row">
                            <div
                              class="col-md-4 colInputHeader verticalEndCenter"
                            >
                              Ticket Title<span style="color: red;">*</span> :
                            </div>
                            <div class="col-md-8 colInput">
                              <mat-form-field
                                appearance="outline"
                                class="borderInput"
                              >
                                <input formControlName="TicketTitle" matInput placeholder="" />
                                <mat-error *ngIf="createConcernForm.get('TicketTitle').hasError('required')" class="matError">
                                      Title is required.
                                  </mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="row">
                            <div
                              class="col-md-4 colInputHeader verticalEndCenter"
                            >
                              Description<span style="color: red;">*</span> :
                            </div>
                            <div class="col-md-8 colInput">
                              <mat-form-field
                                appearance="outline"
                                class="borderInput"
                              >
                                <textarea
                                maxlength="500"
                                formControlName="Description"
                                  matInput
                                  rows="5"
                                  placeholder="Max Length of 500"
                                ></textarea>
                                <mat-error *ngIf="createConcernForm.get('TicketTitle').hasError('maxlength')" class="matError">
                                      Max Length of 500 
                                  </mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="row">
                                <div
                                  class="col-md-4 colInputHeader verticalEndCenter"
                                >
                                  File :
                                </div>
                                <div
                                  class="col-md-5 colInput no-margin-right no-padding-right"
                                >
                                  <mat-form-field
                                    appearance="outline"
                                    class="borderInput"
                                  >
                                    <input
                                      matInput
                                      disabled="true"
                                      value="{{ displayFileName }}"
                                    />
                                  </mat-form-field>
                                  <div *ngIf="Files.length > 1">{{ Files.length }} Files Attached</div>
                                </div>
                                <div
                                  class="col-md-3 verticalCenter no-padding-left"
                                >
                                  <label
                                    for="file-input1"
                                    class="no-margin text-center"
                                    color="theme-gray-button"
                                    matTooltip="Kindly Upload File of type jpg, jpeg, png, doc, excel, pdf, ppt, pptx. Kindly select multiple files for uploading"
                                  >
                                    Upload File
                                    <input
                                      [disabled]="isReadOnly"
                                      #fileInput
                                      id="file-input1"
                                      accept=".png, .jpg, .jpeg, .xlsx, .doc, .docx, .pdf, .ppt, .pptx, .msg, .eml, .msg"
                                      (click)="fileInput.value = null"
                                      multiple="true"
                                      (change)="detectFiles($event)"
                                      type="file"
                                      style="display:none;"
                                    />
                                  </label>

                                </div>
                              </div>
                              <div class="row" *ngIf="Files.length > 0">
                                <div class="col-md-4 colInputHeader verticalEndCenter">
                                   Attached File:
                                  </div>
                                <div class="col-md-8">
                                  <div *ngFor="let file of Files; let i = index" class="row">
                                    <p style="cursor: pointer"><span (click)="viewFile(file)">{{ i+1 }} {{ file.name}}</span> &nbsp;&nbsp;&nbsp; <span (click)="removeFile(i)" style="color: red">x</span></p>
                                  </div>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </mat-card-content>
              <mat-card-footer class="padding verticalMiddleCenter">
                <div class="col">
                  <div class="primaryFormBtn">
                    <button
                      class=""
                      color="theme-red-button"
                      (click)="createConcern()"
                    >
                      Submit
                    </button>
                  </div>
                </div>
              </mat-card-footer>
            </mat-card>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
                <span (click)="getTableValues()">MY CONCERN</span>
              </ng-template>
            <div class="row no-margin padding">
              <div class="col-md-3 no-padding-left">
                <div class=" titleCard redCard">
                  <div class="row">
                    <div class="col-md-6 cardTitle">
                      New Concern
                    </div>
                    <div class="col-md-6 verticalEndCenter">
                      <!-- <mat-icon
                        class="lightenIconColor"
                        color="white"
                        svgIcon="arrowIcon"
                      ></mat-icon> -->
                    </div>
                    <div class="col-md-6 cardIcon padding-top">
                      <mat-icon color="primary" svgIcon="help1"></mat-icon>
                    </div>
                    <div *ngIf="concernCount"
                      class="col-md-6 cardCount padding-top verticalEndCenter"
                    >
                      {{ concernCount.NewConcern }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-3 no-padding-left">
                <div class="titleCard yellowCard">
                  <div class="row">
                    <div class="col-md-6 cardTitle">
                      Assigned
                    </div>
                    <div class="col-md-6 verticalEndCenter">
                      <!-- <mat-icon
                        class="lightenIconColor"
                        color="white"
                        svgIcon="arrowIcon"
                      ></mat-icon> -->
                    </div>
                    <div class="col-md-6 cardIcon padding-top">
                      <mat-icon color="primary" svgIcon="help2"></mat-icon>
                    </div>
                    <div
                      class="col-md-6 cardCount verticalEndCenter padding-top"
                      *ngIf="concernCount"
                    >
                    {{ concernCount.Approved }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 no-padding-left">
                <div class="titleCard grayCard">
                  <div class="row">
                    <div class="col-md-6 cardTitle">
                      Resolved
                    </div>
                    <div class="col-md-6 verticalEndCenter">
                      <!-- <mat-icon
                        class="lightenIconColor"
                        color="white"
                        svgIcon="arrowIcon"
                      ></mat-icon> -->
                    </div>
                    <div class="col-md-6 cardIcon padding-top">
                      <mat-icon color="primary" svgIcon="help3"></mat-icon>
                    </div>
                    <div
                      class="col-md-6 cardCount verticalEndCenter padding-top"
                      *ngIf="concernCount"
                    >
                    {{ concernCount.Closed }}
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="roleId != 7" class="col-md-3 no-padding-left">
                <img src="assets/img/myHelpDesk/Myhelpdesk_sideimage.png" />
              </div>
              <div  *ngIf="roleId == 7" class="col-md-3 no-padding-left">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field appearance="outline" class="borderInput">
                      <!-- <input matInput placeholder="Start Date" /> -->
                      <input matInput [matDatepicker]="picker1" placeholder="From Date"  [formControl]="startDate">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field appearance="outline" class="borderInput">
                      <!-- <input matInput [max]='endDateMax' placeholder="End Date" /> -->
                      <input matInput [min]="startDate.value" [max]="endDateMax" [matDatepicker]="picker2" placeholder="End Date"  [formControl]="endDate">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                        <button
                            (click)="downloadRoaster()"
                            class="verticalMiddleCenter"
                            color="theme-green-button"
                          >
                            Download Roaster
                        </button>
                        </div>
                      <div class="col-md-6">
                            <label
                            for="excelTo"
                            class="no-margin text-center"
                            color="theme-green-button"
                            matTooltip="Kindly Upload File of type excel"
                          >
                              Upload Roaster
                              <input
                                [disabled]="isReadOnly"
                                #fileInput
                                id="excelTo"
                                accept=".xlsx"
                                (click)="fileInput.value = null"
                                (change)="uploadRoaster($event)"
                                type="file"
                                style="display: none;"
                              />
                            </label>
                        </div>
                  </div>
              </div>
            </div>
            <!-- <div class="row" >
              <div class="col-md-12">
                <div class="row">
                  
                  </div>
                </div>
              </div> -->
            <div class="row no-margin">
              <div class="col-md-2">
                <div class="row">
                  <!-- <div
                    class="col-md-4 colInputHeader verticalEndCenter font-14"
                  >
                    Status :
                  </div> -->
                  <div class="col-md-12 colInput">
                    <mat-form-field appearance="outline" class="borderInput">
                      <mat-select
                        [formControl]="statusControl"
                        placeholder="Select Status"
                      >
                        <mat-option value="0">All </mat-option>
                        <mat-option value="1">New Concern </mat-option>
                        <mat-option value="2">Work in progress</mat-option>
                        <mat-option value="3">More Info Required </mat-option>    
                        <mat-option value="4">Pending with FI Team </mat-option>    
                        <mat-option value="5">Pending with BI team </mat-option>    
                        <mat-option value="6">Pending with GRC team </mat-option>    
                        <mat-option value="7">Pending with Others </mat-option>    
                        <mat-option value="8">Resolved </mat-option>    
                        <mat-option value="9">Closed </mat-option>    
                        <mat-option value="10">Reopen </mat-option>    
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <mat-form-field appearance="outline" class="borderInput">
                  <mat-icon
                    svgIcon="search"
                    matSuffix
                    class="margin-right-10"
                  ></mat-icon>
                  <input [formControl]="searchValue" matInput placeholder="Search" />
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <div class="width100 vertcalAligment">
                  <mat-form-field appearance="outline" class="borderInput">
                    <input matInput [max]="searchToDate.value" (change)="getTableValues()" [matDatepicker]="picker3" placeholder="From Date"  [formControl]="searchFromDate">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-2">
                <div class="width100 vertcalAligment">
                    <mat-form-field appearance="outline" class="borderInput">
                      <input matInput [min]="searchFromDate.value" (change)="getTableValues()" [matDatepicker]="picker4" placeholder="To Date" [formControl]="searchToDate">
                      <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                      <mat-datepicker #picker4></mat-datepicker>
                    </mat-form-field>
                </div>
              </div>
              <div class="col-md-2">
                <div class="width100 vertcalAligment">
                  <button
                    class="verticalMiddleCenter"
                    color="theme-green-button"
                    (click)="exportAsExcelFile(concernTable,'concernList')"
                  >
                    <mat-icon
                      class="flex margin-right-10 disInlineBlock"
                      svgIcon="excelIcon"
                    ></mat-icon
                    >Export To Excel
                  </button>
                </div>
              </div>
              <div class="col-md-2" *ngIf="roleId == 7">
                <div class="width100 vertcalAligment">
                  <button
                    class="verticalMiddleCenter"
                    color="theme-gray-button"
                    (click)="manageMapping(Mapping)"
                  >Manage Mapping
                  </button>
                </div>
              </div>

              <div class="example-container tbl_New_Layout">
                <div class="table-container padding-top">
                  <table
                    #concernTable
                    mat-table
                    class="lessons-table"
                    [dataSource]="dataSource"
                  >
                    <ng-container matColumnDef="ticket_no">
                      <th mat-header-cell *matHeaderCellDef>Ticket No</th>
                      <td mat-cell *matCellDef="let element">
                        {{ (element.unique_ticket_no || element.ticket_no) || "N/A" }}
                      </td>
                      <td mat-footer-cell *matFooterCellDef>Total</td>
                    </ng-container>
                    <ng-container matColumnDef="vendor_code">
                      <th mat-header-cell *matHeaderCellDef>Vendor Code</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.vendor_code || "N/A" }}
                      </td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="ticket_title">
                      <th mat-header-cell *matHeaderCellDef>Ticket Title</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.ticket_title || "N/A" }}
                      </td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="ticket_req_date">
                      <th mat-header-cell *matHeaderCellDef>
                        Ticket Requested Date
                      </th>
                      <td mat-cell *matCellDef="let element" text-center>
                        {{ moment(element.ticket_req_date).format('DD/MM/YYYY') || "N/A" }}
                      </td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="category">
                      <th mat-header-cell *matHeaderCellDef>Category</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.category || "N/A" }}
                      </td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="ticket_username">
                      <th mat-header-cell *matHeaderCellDef>Ticket Username</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.ticket_username || "N/A" }}
                      </td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="ticket_assigned_to">
                      <th mat-header-cell *matHeaderCellDef>
                        Ticket Assigned To
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.ticket_assigned_to || "N/A" }}
                      </td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="ticket_status">
                      <th mat-header-cell *matHeaderCellDef>Ticket Status</th>
                      <td mat-cell *matCellDef="let element" class="flagsDiv">
                        <div>
                          <div class="blueFlag flags"></div>
                          <p class="flagValue">{{ element.ticket_status }}</p>
                        </div>
                        <!-- <div *ngIf="element.ticket_status == 'Work in progress'">
                          <div class="redFlag flags"></div>
                          <p class="flagValue">Work in progress</p>
                        </div>
                        <div *ngIf="element.ticket_status == 'Closed'">
                          <div class="greenFlag flags"></div>
                          <p class="flagValue">Closed</p>
                        </div> -->
                        <!-- {{ element.ticket_status == 1 ? 'New Concern' : element.ticket_status == 1 ? || "N/A" }} -->
                      </td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef>Action</th>
                      <td mat-cell *matCellDef="let element">
                        <!-- <mat-icon
                          matTooltip="View Incedent"
                          color="red"
                          class="default-primary-color"
                          (click)="viewConcern(element.ticket_no)"
                          >remove_red_eye</mat-icon>
                        <mat-icon
                          matTooltip="Reopen Incedent"
                          *ngIf="element.ticket_allow_reopen == true"
                          color="red"
                          class="default-primary-color"
                          (click)="reopen(element.ticket_no)"
                          >open_in_browser</mat-icon> -->
                          <mat-icon
                          matTooltip="View Incedent"
                          color="red"
                          class="default-primary-color"
                          (click)="viewConcern(element.ticket_no,'view',element.ticket_status_id)"
                          >remove_red_eye</mat-icon>
                          <mat-icon
                          matTooltip="Reopen Incedent"
                          *ngIf="element.ticket_allow_reopen == 1"
                          color="red"
                          class="default-primary-color"
                          (click)="viewConcern(element.ticket_no,'reopen',element.ticket_status_id)"
                          >open_in_browser</mat-icon>
                      </td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <tr
                      mat-header-row
                      *matHeaderRowDef="displayedColumns; sticky: true"
                    ></tr>
                    <tr
                      mat-row
                      *matRowDef="let row; columns: displayedColumns"
                    ></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
                  </table>
                </div>
                <mat-paginator
                    #paginator
                    [length]="pageSize"
                    [pageSize] = "10"
                    [pageIndex] = "pageNo"
                    (page)="getTableValues($event.pageIndex)"
                  >
              </mat-paginator>
              </div>
            </div>
          </mat-tab>
          <mat-tab *ngIf="roleId == 7" label="AGEING REPORT" class="createConsernPanel height100">
            <mat-card class="createConsern height100">
              <mat-card-content>
                    <div class="row">
                        <div class="col-md-4">
                          <mat-form-field
                            appearance="outline"
                            class="borderInput"
                          >
                          <mat-select [formControl]="IType"
                                placeholder="Select Issue Type"
                              >
                                <mat-option value="0">All</mat-option>
                                <mat-option
                                  *ngFor="
                                    let issueType of createConcernOptions._GetIncidentIssueTypeMaster
                                  "
                                  [value]="issueType.IssueTypeID"
                                  >{{ issueType.IssueTypeName }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field appearance="outline" class="borderInput">
                              <input matInput [matDatepicker]="picker1" placeholder="From Date"  [formControl]="startDate">
                              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                              <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field appearance="outline" class="borderInput">
                              <input matInput [min]="startDate.value" [max]="endDateMax" [matDatepicker]="picker2" placeholder="End Date"  [formControl]="endDate">
                              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                              <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                            </div>
                        <div class="col-md-4">
                          <mat-form-field
                            appearance="outline"
                            class="borderInput"
                          >
                          <input matInput [formControl]="Green" type="number" (change)="checkOrangeValue()" value="2" placeholder="Upper Limit Of Green Value"/>
                          <mat-hint>Green Value: (Tickets resolved between 0 and 2hrs. Max limit is 2 hrs)</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field
                        appearance="outline"
                        class="borderInput"
                        >
                            <input matInput [formControl]="Orange" [min]="Green.value" value="3" (change)="checkOrangeValue()" type="number" placeholder="Upper Limit Of Orange Value"/>
                            <mat-hint>Orange Value: (Tickets resolved between 2 and given input in hrs)</mat-hint>
                          </mat-form-field>
                          </div>
                        <div class="col-md-4">
                          <button
                          class=""
                          color="theme-red-button"
                          (click)="getAgeingReport()"
                        >
                          Get Report
                        </button>
                          </div>
                      </div>
                      <div class="row" *ngIf="ageingDataSource.length > 0">
                        <table
                          #ageingTable
                          mat-table
                          class="lessons-table width100"
                          [dataSource]="ageingDataSource"
                        >
                          <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef>Incident State</th>
                            <td mat-cell *matCellDef="let element">
                              {{ element.status || "N/A" }}
                            </td>
                            <td mat-footer-cell *matFooterCellDef>Total</td>
                          </ng-container>
                          <ng-container matColumnDef="green">
                            <th mat-header-cell *matHeaderCellDef>Green</th>
                            <td mat-cell *matCellDef="let element">
                              {{ element.green }}
                            </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                          </ng-container>
                          <ng-container matColumnDef="orange">
                            <th mat-header-cell *matHeaderCellDef>Orange</th>
                            <td mat-cell *matCellDef="let element">
                              {{ element.orange  }}
                            </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                          </ng-container>
                          <ng-container matColumnDef="red">
                            <th mat-header-cell *matHeaderCellDef>Red</th>
                            <td mat-cell *matCellDef="let element">
                              {{ element.red }}
                            </td>
                          </ng-container>
                          <ng-container matColumnDef="total">
                            <th mat-header-cell *matHeaderCellDef>Total</th>
                            <td mat-cell *matCellDef="let element">
                              {{ element.total }}
                            </td>
                          </ng-container>

                          <tr
                            mat-header-row
                            *matHeaderRowDef="ageingDisplayedColumns; sticky: true"
                          ></tr>
                          <tr
                            mat-row
                            *matRowDef="let row; columns: ageingDisplayedColumns"
                          ></tr>
                        </table>
                        <button
                          (click)='cs.exportAsExcelFile(ageingTable, "Ageing Report")'
                          class="verticalMiddleCenter"
                          color="theme-green-button"
                        >
                        Export Data
                          </button>
                        </div>
                </mat-card-content>
              </mat-card>
          </mat-tab>
          <mat-tab label="REPORTS">
              <mat-card class="no-padding mainOuterCardContainer">
                <mat-tab-group class="height100" (selectedTabChange)="onTabChang($event)">
                  <mat-tab label="Summary Report">
                    <div class="row margin-left marginTop">
                      
                      <div class="col-md-2">
                        <div class="width100 ">
                          <mat-form-field appearance="outline" class="borderInput">
                            <input matInput   [matDatepicker]="picker8" placeholder="From Date"  [(ngModel)]="fromSummary">
                            <mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
                            <mat-datepicker #picker8></mat-datepicker>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="width100 ">
                            <mat-form-field appearance="outline" class="borderInput">
                              <input matInput [min]="searchFromDate.value"  [matDatepicker]="picker9" placeholder="To Date" [(ngModel)]="toSummary">
                              <mat-datepicker-toggle matSuffix [for]="picker9"></mat-datepicker-toggle>
                              <mat-datepicker #picker9></mat-datepicker>
                            </mat-form-field>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="width100 vertcalAligment">
                          <button matTooltip="Reset"
                            class="verticalMiddleCenter"
                            color="theme-red-button"
                            (click)="SearchSummaryReport()"
                          >  
                          Search
                        
                          </button>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="width100 vertcalAligment">
                          <button matTooltip="Reset"
                            class="verticalMiddleCenter"
                            color="theme-gray-button"
                            (click)="resetSummaryReport()"
                          >  
                          Reset
                        
                          </button>
                        </div>
                      </div>
                      <!-- <div class="col-md-2">
                        <div class="row">
                          <div class="col-md-3 p-l-0">
                            <div class="width100 vertcalAligment">
                              <button matTooltip="Reset"
                                class="verticalMiddleCenter"
                                color="theme-gray-button"
                                (click)="reset()"
                              >  
                              <mat-icon>autorenew</mat-icon>
                            
                              </button>
                            </div>
                          </div>
                          <div class="col-md-3 p-l-0">
                            <div class="width100 vertcalAligment">
                              <button matTooltip="Export to excel"
                                class="verticalMiddleCenter"
                                color="theme-green-button"
                                (click)="exportAsExcelFile(concernTable,'concernList')"
                              >
                                <mat-icon
                                  class="flex disInlineBlock"
                                  svgIcon="excelIcon"
                                ></mat-icon
                                >
                              </button>
                            </div>
                          </div>
                          <div class="col-md-6 p-l-0">
                            <div class="width100 vertcalAligment"  *ngIf="roleId == 7">
                              <button  matTooltip="Manage Mapping"
                                class="verticalMiddleCenter"
                                color="theme-gray-button"
                                (click)="manageMapping(Mapping,'')"
                              >Mapping
                              </button>
                            </div>
                          </div>
                        </div>
                        
              
                        
                      </div> -->
                      </div>
                    <div class="row no-margin">
                      <div class="example-container tbl_New_Layout">
                        <div class="table-container padding-top">
                          <table
                            #concernTable
                            mat-table
                            class="lessons-table"
                            [dataSource]="dataSourceSummary"
                          >
                            
                            <ng-container matColumnDef="no_of_incidents">
                              <th mat-header-cell *matHeaderCellDef>No of incidents</th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.TotalTicket || "N/A" }}
                               
                              </td>
                              <td mat-footer-cell *matFooterCellDef></td>
                            </ng-container>
                            <ng-container matColumnDef="Business_concern">
                              <th mat-header-cell *matHeaderCellDef>Business concern</th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.TotalBusinessConcern || "N/A" }}
                              </td>
                              <td mat-footer-cell *matFooterCellDef></td>
                            </ng-container>
        
                            <ng-container matColumnDef="IT_concern">
                              <th mat-header-cell *matHeaderCellDef>
                                IT concern
                              </th>
                              <td mat-cell *matCellDef="let element" text-center>
                                {{ element.TotalITConcern || "N/A" }}
                              </td>
                              <td mat-footer-cell *matFooterCellDef></td>
                            </ng-container>
                            <ng-container matColumnDef="Resolved">
                              <th mat-header-cell *matHeaderCellDef>Resolved</th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.TotalClosed || "N/A" }}
                              </td>
                              <td mat-footer-cell *matFooterCellDef></td>
                            </ng-container>
                            <ng-container matColumnDef="Pending_with_others">
                              <th mat-header-cell *matHeaderCellDef>Pending with others</th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.TotalPending || "N/A" }}
                              </td>
                              <td mat-footer-cell *matFooterCellDef></td>
                            </ng-container>
                            <ng-container matColumnDef="Ageing">
                              <th mat-header-cell *matHeaderCellDef>
                                InProgress
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.TotalProgress || "N/A" }}
                              </td>
                              <td mat-footer-cell *matFooterCellDef></td>
                            </ng-container>
                       
                            
                            <tr
                              mat-header-row
                              *matHeaderRowDef="reportColumns1; sticky: true"
                            ></tr>
                            <tr
                              mat-row
                              *matRowDef="let row; columns: reportColumns1"
                            ></tr>
                            <tr mat-footer-row *matFooterRowDef="reportColumns1"></tr>
                          </table>
                        </div>
                        <!-- <mat-paginator
                            #paginator
                            [length]="pageSize"
                            [pageSize] = "10"
                            [pageIndex] = "pageNo"
                            (page)="getSummaryReportPagination($event.pageIndex)"
                          >
                      </mat-paginator> -->
                      </div>
                    </div>
                    </mat-tab>
                    <mat-tab label="Summary Detail report ">
                      <div class="row no-margin">
                        <div class="example-container tbl_New_Layout">
                          <div class="table-container padding-top">
                            <table
                              #concernTable
                              mat-table
                              class="lessons-table"
                              [dataSource]="dataSourceSummary"
                            >
                              <ng-container matColumnDef="No_of_calls">
                                <th mat-header-cell *matHeaderCellDef>No of calls</th>
                                <td mat-cell *matCellDef="let element">
                                  <!-- {{ (element.unique_ticket_no || element.ticket_no) || "N/A" }} -->
                                </td>
                                <td mat-footer-cell *matFooterCellDef>Total</td>
                              </ng-container>
                           
                              <ng-container matColumnDef="Assigned_to">
                                <th mat-header-cell *matHeaderCellDef>Assigned_to</th>
                                <td mat-cell *matCellDef="let element">
                                  <!-- {{ element.ticket_title || "N/A" }} -->
                                </td>
                                <td mat-footer-cell *matFooterCellDef></td>
                              </ng-container>
          
                              <ng-container matColumnDef="resolved_by">
                                <th mat-header-cell *matHeaderCellDef>
                                  resolved by
                                </th>
                                <td mat-cell *matCellDef="let element" text-center>
                                  <!-- {{ moment(element.ticket_req_date).format('DD/MM/YYYY') || "N/A" }} -->
                                </td>
                                <td mat-footer-cell *matFooterCellDef></td>
                              </ng-container>
                              <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef>Date</th>
                                <td mat-cell *matCellDef="let element">
                                  <!-- {{ element.category || "N/A" }} -->
                                </td>
                                <td mat-footer-cell *matFooterCellDef></td>
                              </ng-container>
                              <ng-container matColumnDef="call_resolution_time">
                                <th mat-header-cell *matHeaderCellDef>call resolution time</th>
                                <td mat-cell *matCellDef="let element">
                                  <!-- {{ element.ticket_username || "N/A" }} -->
                                </td>
                                <td mat-footer-cell *matFooterCellDef></td>
                              </ng-container>
                            
          
                              <tr
                                mat-header-row
                                *matHeaderRowDef="reportColumns2; sticky: true"
                              ></tr>
                              <tr
                                mat-row
                                *matRowDef="let row; columns: reportColumns2"
                              ></tr>
                              <tr mat-footer-row *matFooterRowDef="reportColumns2"></tr>
                            </table>
                          </div>
                          <mat-paginator
                              #paginator
                              [length]="pageSize"
                              [pageSize] = "10"
                              [pageIndex] = "pageNo"
                              (page)="getTableValues($event.pageIndex)"
                            >
                        </mat-paginator>
                        </div>
                      </div>
                    </mat-tab>
                    <mat-tab label="Consultant wise call ageing">
                      <div class="row no-margin">
                        <div class="example-container tbl_New_Layout">
                          <div class="table-container padding-top">
                            <table
                              #concernTable
                              mat-table
                              class="lessons-table"
                              [dataSource]="dataSourceSummary"
                            >
                              <ng-container matColumnDef="Consultant">
                                <th mat-header-cell *matHeaderCellDef>Consultant</th>
                                <td mat-cell *matCellDef="let element">
                                  <!-- {{ (element.unique_ticket_no || element.ticket_no) || "N/A" }} -->
                                </td>
                                <td mat-footer-cell *matFooterCellDef>Total</td>
                              </ng-container>
                              <!-- <ng-container matColumnDef="vendor_code">
                                <th mat-header-cell *matHeaderCellDef>Vendor Code</th>
                                <td mat-cell *matCellDef="let element">
                                  {{ element.vendor_code || "N/A" }}
                                </td>
                                <td mat-footer-cell *matFooterCellDef></td>
                              </ng-container> -->
                              <ng-container matColumnDef="incident_no">
                                <th mat-header-cell *matHeaderCellDef>Incident No.</th>
                                <td mat-cell *matCellDef="let element">
                                  <!-- {{ element.ticket_title || "N/A" }} -->
                                </td>
                                <td mat-footer-cell *matFooterCellDef></td>
                              </ng-container>
          
                              <ng-container matColumnDef="Ageing">
                                <th mat-header-cell *matHeaderCellDef>
                                  Ageing
                                </th>
                                <td mat-cell *matCellDef="let element" text-center>
                                  <!-- {{ moment(element.ticket_req_date).format('DD/MM/YYYY') || "N/A" }} -->
                                </td>
                                <td mat-footer-cell *matFooterCellDef></td>
                              </ng-container>
                                      
                              <tr
                                mat-header-row
                                *matHeaderRowDef="reportColumns3; sticky: true"
                              ></tr>
                              <tr
                                mat-row
                                *matRowDef="let row; columns: reportColumns3"
                              ></tr>
                              <tr mat-footer-row *matFooterRowDef="reportColumns3"></tr>
                            </table>
                          </div>
                          <mat-paginator
                              #paginator
                              [length]="pageSize"
                              [pageSize] = "10"
                              [pageIndex] = "pageNo"
                              (page)="getTableValues($event.pageIndex)"
                            >
                        </mat-paginator>
                        </div>
                      </div>
                    </mat-tab>
                </mat-tab-group>
              </mat-card>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  </div>
</div>
<ng-template #Mapping let-c="close" let-d="dismiss">
   <div class="modal-header">
    <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">Mapping</h3>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <mat-icon>close</mat-icon>
    </button>
   </div>
   <div class="modal-body modal-height">
     <div class="row">
        <div class="col-md-4 padding">
        <p class="text-center">Sector Master</p>
        <div class="row">
          <mat-form-field appearance="outline" class="borderInput" >
            <mat-select [formControl]="mapping_sector" placeholder="Select Sector">
              <mat-option *ngFor="let sector of sectors" [value]="sector.SectorName">{{ sector.SectorName }}</mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="mapping_sector.value" class="width100">
            <p>Update</p>
            <mat-form-field appearance="outline" class="borderInput" >
              <input matInput [value]="mapping_sector.value" [formControl]='create_mapping_sector'>
            </mat-form-field>
            
            <!-- <div class="row">
              <div class="col-md-6">
              </div>
              </div> -->
            <div class="row">
              <div class="col-md-6">
                <button (click)="updateSector()" class="verticalMiddleCenter" color="theme-red-button">
                  Update
                </button>
              </div>
              <div class="col-md-6">
                <button (click)="mapping_sector.reset()" class="verticalMiddleCenter" color="theme-green-button">
                  Create New Sector
                </button>
                </div>
              </div>
            </div>
          <div *ngIf="!mapping_sector.value" class="width100">
            <p>Create New Sector</p>
            <mat-form-field appearance="outline" class="borderInput" >
              <input matInput [formControl]='create_mapping_sector'>
            </mat-form-field>
            <div class="row">
              <div class="col-md-6">
                <button (click)="createSector()" class="verticalMiddleCenter" color="theme-green-button">
                  Create
                </button>
              </div>
            </div>
            </div>
        </div>
        
        </div>
        <div class="col-md-4 padding">
          <p class="text-center">Plant Master</p>
          <div class="row">
            <mat-form-field appearance="outline" class="borderInput" >
              <mat-select [formControl]="mapping_plant" placeholder="Select Plant" (selectionChange)="getPlantDetails($event.value)">
                <mat-option *ngFor="let plant of plants" [value]="plant.PlantID">{{ plant.PlantName }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="mapping_plant.value" class="width100">
              <p>Update</p>
              <!-- <div class="row">
                  <div class="col-md-6">
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="outline" class="borderInput">
                        <input matInput [formControl]='create_mapping_plant'>
                      </mat-form-field>
                      </div>
                  <div class="col-md-6">
                    <mat-form-field appearance="outline" class="borderInput" >
                      <mat-select placeholder="Select Sector" [formControl]='create_mapping_plant_sector'>
                          <mat-option *ngFor="let sector of sectors" [value]="sector.SectorID">{{ sector.SectorName }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                </div>
              <div class="row">
                <div class="col-md-6">
                  <button
                    (click)="updatePlant()"
                    class="verticalMiddleCenter"
                    color="theme-red-button"
                    >
                      Update
                  </button>
                  </div>
                  <div class="col-md-6">
                    <button
                    (click)="mapping_plant.reset()"
                    class="verticalMiddleCenter"
                    color="theme-green-button"
                    >
                      Create New Plant
                  </button>
                    </div>
                </div>
              </div>
            <div *ngIf="!mapping_plant.value">
              <p>Create New Plant</p>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="outline" class="borderInput" >
                    <input matInput [formControl]='create_mapping_plant'>
                  </mat-form-field>
                  </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline" class="borderInput" >
                    <mat-select placeholder="Select Sector" [formControl]='create_mapping_plant_sector'>
                        <mat-option *ngFor="let sector of sectors" [value]="sector.SectorID">{{ sector.SectorName }}</mat-option>
                      </mat-select>
                    </mat-form-field>
              </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <button
                    (click)="createPlant()"
                    class="verticalMiddleCenter"
                    color="theme-green-button"
                    >
                      Create
                  </button>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="col-md-4 padding">
          <p class="text-center">BussinessFunction Master</p>
          <mat-form-field appearance="outline" class="borderInput">
            <mat-select [formControl]="mapping_bussinessFunction" placeholder="Select Business function" (selectionChange)="getBusinessFunctionDetails($event.value)">
              <mat-option *ngFor="let function of bussinessFuntions" [value]="function.BusinessFunID">{{ function.BusniessFunctionName }}</mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="mapping_bussinessFunction.value">
            <p>Update Bussiness Function</p>
            <div class="row">
              <div class="col-md-6">
                  <mat-form-field appearance="outline" class="borderInput">
                    <input matInput [formControl]='create_mapping_bussinessFunction'>
                  </mat-form-field>
                </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="borderInput" >
                  <mat-select [formControl]="create_mapping_bussinessFunction_plant" placeholder="Select Plant">
                    <mat-option *ngFor="let plant of plants" [value]="plant.PlantID">{{ plant.PlantName }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <button
                  (click)="updateBussinessFunction()"
                  class="verticalMiddleCenter"
                  color="theme-red-button"
                  >
                    Update
                </button>
                </div>
              <div class="col-md-6">
                <button
                  (click)="mapping_bussinessFunction.reset()"
                  class="verticalMiddleCenter"
                  color="theme-green-button"
                  >
                    Create New Business Function
                </button>
                </div>
              </div>
            </div>
          <div *ngIf="!mapping_bussinessFunction.value">
            <p>Create New Bussiness Function</p>
            <div class="row">
              <div class="col-md-6">
                  <mat-form-field appearance="outline" class="borderInput">
                    <input matInput [formControl]='create_mapping_bussinessFunction'>
                  </mat-form-field>
                </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="borderInput" >
                  <mat-select [formControl]="create_mapping_bussinessFunction_plant" placeholder="Select Plant">
                    <mat-option *ngFor="let plant of plants" [value]="plant.PlantID">{{ plant.PlantName }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <button
                  (click)="createBussinessFunction()"
                  class="verticalMiddleCenter"
                  color="theme-green-button"
                  >
                    Create
                </button>
                </div>
              </div>
            </div>
        </div>
     </div>
  </div> 
</ng-template>
