.totatlUsersPage{
  .borderInput{
         ::ng-deep .mat-form-field-infix{border-top: 0px !important;}
         ::ng-deep .mat-form-field-wrapper{padding-bottom: 0px;}
         }
         /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: rgba(0,0,0,.12); }
         /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{border-width: 1px !important;}
         /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{border-width: 1px !important;}
         /deep/.mat-select-arrow-wrapper{
           display: flex;
           align-items: center;
           justify-content: center;
         }
         .mainconatiner{
          height: calc(100% - 59px);
          .example-container.tbl_New_Layout .table-container {
            height: 89%;
           }
         }
         
       
}