.SSISurveyPage{

    mat-card{
        mat-card-content{
            height: 100%;
        }
        mat-card-footer{
            height: 15%;
        }
        /deep/ .mat-tab-body-wrapper{
            height: 100%;
            mat-tab-body{
                max-height: 400px;
            }
        }
    }
    mat-expansion-panel{
        box-shadow: 0 1px 3px rgba(0,16,44,.08), 0 2px 4px rgba(0,16,44,.12);
        border-radius: 3px !important;
        
        mat-radio-button{
            color:#8D8D8D;
            margin-right: 5%;
        }
        .mat-radio-outer-circle{
            border-color: #c3c0c0 !important;
        }
        /deep/.mat-expansion-panel-body {
            padding: 16px !important;
        }
        mat-expansion-panel-header{
            .activeIcon{
                position: absolute;
                right: 2%;
            }
        }
        /deep/.mat-expansion-indicator{
            display: none;
        }
    }
    .mat-expanded{
        mat-expansion-panel-header{
            height: 50px !important;
            background: #efefef;
            border-radius: 0px;
        }
    }
}