<div class="container-fluid JITHistoryPage padding">
  <div class="grid">
    <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
      <div class="row width100 verticalCenter">
        <div class="col-md-6">
          <h4 class="no-margin">Code Of Conduct Dashboard</h4>
        </div>
        <div class="col-md-6 no-padding">
          <p class="no-margin font-13 width100 flex verticalEndCenter">
            <span
              class="pointer"
              [routerLink]="roleId == '7' ? '/adminDashboard' : '/dashboard'"
              routerDirection="backward"
              >Home</span
            ><mat-icon>chevron_right</mat-icon>
            <span class="secondaryMenu">Dashboard</span
            ><mat-icon>chevron_right</mat-icon>
            <span class="secondaryMenu">Code Of Conduct Dashboard</span>
          </p>
        </div>
      </div>
    </div>
    <div
      class="col-md-12 border-radius padding-top no-padding-left no-padding-right"
    >
      <mat-card class="no-padding mainOuterCardContainer tableViewCard">
        <mat-card-content>
          <div class="col-md-12 padding">
            <div class="row">
              <div class="col-md-12">
                <h3 class="themePrimaryColor no-margin">
                  Code Of Conduct Dashboard
                </h3>
              </div>
            </div>
            <hr />
            <div class="row no-margin">
              <div class="col-md-12 no-padding">
                  <div class="row">
                      <div class="col-md-3">
                        <mat-form-field
                        appearance="outline"
                        class="borderInput font-13" 
                      >
                        <input
                          matInput                       
                          [matDatepicker]="picker1" 
                          readonly
                          [formControl]="fromDate"
                          placeholder="From Date"
                          />
                          <mat-datepicker-toggle matSuffix [for]="picker1">
                          </mat-datepicker-toggle>
                          <mat-datepicker #picker1 ></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field
                        appearance="outline"
                        class="borderInput font-13" 
                        >
                        <input
                          matInput                       
                          [matDatepicker]="picker2"
                          readonly
                          [formControl]="toDate"
                          placeholder="To Date"
                        />
                        <mat-datepicker-toggle matSuffix [for]="picker2">
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>
                        </div>
                        <div class="col-md-3 offset-3">
                          <button color="theme-green-button" (click)="download()">Download</button>
                        </div>
                </div>
                <div class="example-container tbl_New_Layout">
                  <!-- TABLE START -->
                  <div class="table-container" style="max-height: 398px; overflow: scroll;">
                    <table mat-table [dataSource]="DataSource">
                      <ng-container
                        *ngFor="let column of displayedColumns"
                        [matColumnDef]="column"
                      >
                        <!-- Header -->
                        <th class="center" mat-header-cell *matHeaderCellDef>
                          {{ column }}
                        </th>

                        <!-- Data -->
                        <td mat-cell *matCellDef="let element" class="center">
                          <ng-container
                            *ngIf="
                              column == 'DocumentUploaded';
                              then action;
                              else data
                            "
                          ></ng-container>

                          <!-- Test Data -->
                          <ng-template #data>
                            {{ element[column] || "N/A" }}
                          </ng-template>

                          <!-- Action Buttons -->
                          <ng-template #action>
                            <button
                              class="responseButton"
                              color="theme-red-button"
                              (click)="view(element.DocumentUploaded)"
                            >
                              View
                            </button>
                          </ng-template>
                        </td>
                      </ng-container>
                      <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumns; sticky: true"
                      ></tr>
                      <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumns"
                      ></tr>
                    </table>
                  </div>
                  <!-- TABLE END -->
                  <div class="d-flex">
                    <mat-paginator
                      [length]="pageSize"
                      [pageSize]="10"
                      [pageIndex]="pageNo"
                      (page)="getData($event.pageIndex + 1)"
                    >
                    </mat-paginator>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
