<div class="container-fluid JITPartSupplierPage padding">
  <div class="grid">
      <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
          <div class="row width100 verticalCenter">
          <div class="col-md-6">
          <h4 class="no-margin">Part Supplier Mapping</h4>
          </div>
          <div class="col-md-6 no-padding">
          <p class="no-margin font-13 width100 flex verticalEndCenter">
            <span class="pointer" [routerLink]="roleId == '7' ? '/adminDashboard' : '/dashboard'" routerDirection="backward">Home</span><mat-icon>chevron_right</mat-icon>
            <span class="secondaryMenu">JIT</span><mat-icon>chevron_right</mat-icon>
          <span class="secondaryMenu">Part Supplier Mapping</span> 
          </p>
          </div>
          </div>
          </div>
      <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
          <mat-card  class="no-padding mainOuterCardContainer filterViewCard">
            <mat-card-content>
              <div class="col-md-12 padding">
                <div class="row no-margin">
                  <div class="col-md-9 margin-bottom verticalCenter no-padding-left">
                    <h3 class="no-margin themePrimaryColor">
                      Part Supplier Mapping Details
                    </h3>
                  </div>
                  <div class="col-md-3 margin-bottom no-padding-right">
                    <div class=" vertcalAligment btnBlocks pull-right">
                        <button class="verticalMiddleCenter" color="theme-green-button" (click)="open(addContent)">
                          <mat-icon  class="flex margin-right-10  addCustIcon" svgIcon="addIcon"></mat-icon> Add</button> 
                          </div>
                          <div class="width100 vertcalAligment btnBlocks">
                            <button class="verticalMiddleCenter" (click)="exportExcel()" color="theme-green-button">
                                    <mat-icon  class="flex margin-right-10 disInlineBlock excelCustIcon" svgIcon="excelIcon"></mat-icon>Export To Excel</button> 
                              </div>
                     </div>
               
                 </div>
                 <div class="row no-margin filterSection">
                  <div class="col-md-1 margin-bottom verticalCenter no-padding-left">
                    <p class="no-margin">
                      Filter
                    </p>
                  </div>
                      <div class="col-md-2 margin-bottom custWidth no-padding-right">
                        <mat-form-field appearance="outline" class="borderInput font-13">
                            <input matInput [formControl]="modelCode" placeholder="Model Code">
                          </mat-form-field> 
                      </div>
                      <div class="col-md-2 margin-bottom custWidth no-padding-right">
                        <mat-form-field appearance="outline" class="borderInput font-13">
                          <input matInput [formControl]="partCode" placeholder="Part Number">
                        </mat-form-field> 
                      </div>
                      <div class="col-md-2 margin-bottom custWidth no-padding-right">
                        <mat-form-field appearance="outline" class="borderInput font-13">
                          <input matInput [formControl]="plantCode" placeholder="Plant Code">
                        </mat-form-field> 
                      </div>
                      <div class="col-md-2 margin-bottom custWidth no-padding-right">
                        <mat-form-field appearance="outline" class="borderInput font-13">
                          <input matInput [formControl]="supplierCode" placeholder="Supplier Code">
                        </mat-form-field> 
                      </div>
                      <div class="col-md-3 margin-bottom no-padding-right">
                        <div class="vertcalAligment btnBlocks m-r-5">
                          <button  color="theme-red-button" (click)="getTableValues(0)">Search</button> 
                        </div>
                        <div class="vertcalAligment btnBlocks">
                            <button class="verticalMiddleCenter" (click)="reset()" color="theme-gray-button">Reset
                              <!-- <button class="verticalMiddleCenter" (click)="exportAsExcelFile(table,'JIT_Supplier_Mapping')" color="theme-green-button"> -->
                                <!-- <mat-icon  class="flex margin-right-10 disInlineBlock excelCustIcon" svgIcon="excelIcon"></mat-icon>Export -->
                              </button> 
                        </div>
                      </div>
                    </div>
                    <div class="row no-margin">
                      <div class="example-container tbl_New_Layout">
                        <div class="table-container">
                          <table mat-table #table class="lessons-table" [dataSource]="DataSource">
                           <ng-container matColumnDef="modelCode">
                            <th mat-header-cell *matHeaderCellDef>Model Code</th>
                            <td mat-cell *matCellDef="let element" >
                              {{ element.modelCode || "N/A" }}
                            </td>
                          </ng-container>
                          <ng-container matColumnDef="partNumber">
                              <th mat-header-cell *matHeaderCellDef>Part Number</th>
                              <td mat-cell *matCellDef="let element" >
                                {{ element.partNumber || "N/A" }}
                                </td>
                            </ng-container>
                           <ng-container matColumnDef="partDescription">
                                  <th mat-header-cell *matHeaderCellDef>Part Description</th>
                                  <td mat-cell *matCellDef="let element" >
                                    {{ element.partDescription || "N/A" }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="aggregate">
                                    <th mat-header-cell *matHeaderCellDef>Aggregates</th>
                                    <td mat-cell *matCellDef="let element" >
                                      {{ element.aggregate || "N/A" }}
                                      </td>
                                  </ng-container>
                                  <ng-container matColumnDef="plantCode">
                                    <th mat-header-cell *matHeaderCellDef>Plant Code</th>
                                    <td mat-cell *matCellDef="let element" >
                                      {{ element.plantCode || "N/A" }}
                                      </td>
                                  </ng-container>
                                  <ng-container matColumnDef="supplierCode">
                                    <th mat-header-cell *matHeaderCellDef>Supplier Code</th>
                                    <td mat-cell *matCellDef="let element" >
                                      {{ element.supplierCode || "N/A" }}
                                      </td>
                                  </ng-container>
                                  <ng-container matColumnDef="isActive">
                                      <th mat-header-cell *matHeaderCellDef>IsActive</th>
                                      <td mat-cell *matCellDef="let element" >
                                        {{ element.isActive || "N/A" }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="action">
                                      <th mat-header-cell *matHeaderCellDef>Action</th>
                                      <td mat-cell *matCellDef="let element" >
                                      <div>
                                        <div class="actionBtnBlock"><mat-icon  class="flex  disInlineBlock" svgIcon="edit" (click)="open(addContent, element)" matTooltip="Edit"></mat-icon></div>
                                        <div class="actionBtnBlock"><mat-icon  class="flex  disInlineBlock" svgIcon="trash" (click)="delete(element)" matTooltip="Delete"></mat-icon></div>
                                      </div>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row  *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                         </table>
                    </div>
                    <div class="d-flex">
                      <mat-paginator [length]="pageSize"  [pageSize]="10" [pageIndex]="pageNo"
                          (page)="getPageChangeData($event)">
                        </mat-paginator>
                        <div class="go-to-container" style="width:90px;margin-bottom:30px">
                          <div class="go-to-label">Go To: </div>
                          <mat-form-field>
                            <mat-select [(ngModel)]="goTo" (selectionChange)="goToChange($event.value)">
                              <mat-option *ngFor="let pageNumber of pageNumbers" [value]="pageNumber">{{pageNumber}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                    </div>
                  </div>
                    </div>
              </div>
            </mat-card-content>
        
            </mat-card>
            </div>
    </div>
    </div>

    
   <!---Modal Structure start-->
   <ng-template #addContent >
    <div class="modal-header">
      <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">
        Add Part Supplier Mapping Details
        </h3>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="PartSupplierForm">
        <div class="row no-margin">
            <div class="col-md-6">
                <div class="row">
                  <div class="col-md-5 colInputHeader verticalEndCenter font-14 required-field">
                    Model Code:
                    </div>
                    <div class="col-md-7 colInput">
                      <mat-form-field appearance="outline" class="borderInput font-13">
                        <input matInput formControlName="ModelCode" placeholder="Model Code">
                      </mat-form-field> 
                        </div>
                    </div>
                  
                          <div class="row">
                              <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                                Part Description:
                                </div>
                                <div class="col-md-7 colInput">
                                  <mat-form-field appearance="outline" class="borderInput font-13" >
                                    <textarea placeholder="Enter A Valid Part Number" formControlName="PartDescription" matInput rows="3" disabled></textarea>
                                  </mat-form-field>  
                                    </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-5 colInputHeader verticalEndCenter font-14 required-field">
                                  Plant Code:
                                    </div>
                                    <div class="col-md-7 colInput">
                                      <mat-form-field appearance="outline" class="borderInput font-13">
                                        <!-- <input matInput formControlName="PlantCode" placeholder="Plant Code"> -->
                                        <mat-select placeholder="Select" formControlName="PlantCode">
                                          <mat-option *ngFor="let plant of plantList" [value]="plant.PlantCodeValue">{{ plant.PlantCodeText }} </mat-option>
                                          </mat-select>
                                      </mat-form-field> 
                                        </div>
                                    </div>
                                  
                  
              </div>
              <div class="col-md-6">
                
                <div class="row">
                  <div class="col-md-5 colInputHeader verticalEndCenter font-14 required-field">
                  Part Number:
                    </div>
                    <div class="col-md-7 colInput">
                      <mat-form-field appearance="outline" class="borderInput font-13">
                        <input matInput formControlName="PartNumber" placeholder="Part Number">
                      </mat-form-field> 
                        </div>
                    </div>
          <div class="row">
                      <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                      Aggregate
                        </div>
                        <div class="col-md-7 colInput">
                          <mat-form-field appearance="outline" class="borderInput font-13">
                            <input matInput formControlName="Aggregates" placeholder="Enter A Valid Part Number" disabled>
                          </mat-form-field> 
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-5 colInputHeader verticalEndCenter font-14 required-field">
                          Supplier Code:
                            </div>
                            <div class="col-md-7 colInput no-padding-right">
                              <mat-form-field appearance="outline" class="borderInput font-13">
                                <input matInput formControlName="SupplierCode" placeholder="Supplier Code">
                              </mat-form-field> 
                                </div>
                              
                            </div>
                </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
        <div class="col text-center">
            <div class="primaryFormBtn margin-right-10 disInlineBlock">
                <button class="" (click)="resetForm()" color="theme-gray-button">Reset</button>
            </div>
            <div class="primaryFormBtn disInlineBlock">
                <button class="" (click)="submitForm()" color="theme-red-button">Add</button>
            </div>
        </div>
       </div>
  </ng-template>
  <ng-template #editContent>
      <div class="modal-header">
        <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">Update Part Supplier Details</h3>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="modal-body">
        <div class="row no-margin">
           <div class="col-md-6">
               <div class="row">
                 <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                   Model Code:
                   </div>
                   <div class="col-md-7 colInput">
                     <mat-form-field appearance="outline" class="borderInput font-13">
                       <input matInput value="AAW3GPEH7TU05WJFNP" disabled>
                     </mat-form-field> 
                       </div>
                   </div>
                  
                         <div class="row">
                             <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                               Part Description:
                               </div>
                               <div class="col-md-7 colInput">
                                 <mat-form-field appearance="outline" class="borderInput font-13">
                                   <input matInput value="FUEL TANK" disabled>
                                 </mat-form-field>  
                                   </div>
                               </div>
                               <div class="row">
                                 <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                                 Plant Code:
                                   </div>
                                   <div class="col-md-7 colInput">
                                     <mat-form-field appearance="outline" class="borderInput font-13">
                                       <input matInput  value="A003">
                                     </mat-form-field> 
                                       </div>
                                   </div>

                                   <div class="row">
                                    <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                                      IsActive:
                                      </div>
                                      <div class="col-md-7 colInput">
                                        <mat-checkbox></mat-checkbox>
                                          </div>
                                      </div>
                                  
                  
             </div>
             <div class="col-md-6">
                
               <div class="row">
                 <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                 Part Number:
                   </div>
                   <div class="col-md-7 colInput">
                     <mat-form-field appearance="outline" class="borderInput font-13">
                       <input matInput  value="1001AAA03780N" disabled>
                     </mat-form-field> 
                       </div>
                   </div>
          <div class="row">
                     <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                     Aggregate
                       </div>
                       <div class="col-md-7 colInput">
                         <mat-form-field appearance="outline" class="borderInput font-13">
                           <input matInput  value="FUEL TANK" disabled>
                         </mat-form-field> 
                           </div>
                       </div>
                       <div class="row">
                         <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                          Supplier Code:
                           </div>
                           <div class="col-md-7 colInput no-padding-right">
                             <mat-form-field appearance="outline" class="borderInput font-13">
                               <input matInput  value="MSETU">
                             </mat-form-field> 
                               </div>
                              
                           </div>
               </div>
       </div>
       </div>
       <div class="modal-footer">
           <div class="col text-center">
              <div class="primaryFormBtn disInlineBlock">
                   <button class=""  color="theme-red-button">Update</button>
               </div>
           </div>
          </div>
    </ng-template>
    <!---Modal Structure stop-->