<div class="container-fluid CMSDashboard padding">
    <div class="grid">
        <!-- <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
            <p class="no-margin font-13 width100 flex">
               <span>Home</span> <mat-icon>chevron_right</mat-icon>
              <span class="secondaryMenu">Dashboard Content Management</span> 
           </p>
        </div> -->
        <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
          <div class="row width100 verticalCenter">
          <div class="col-md-6">
          <h4 class="no-margin">Content Management System - Dashboard</h4>
          </div>
          <div class="col-md-6 no-padding">
          <p class="no-margin font-13 width100 flex verticalEndCenter">
          <span class="pointer" routerLink="/adminDashboard" routerDirection="backward">Home</span> <mat-icon>chevron_right</mat-icon>
          <span class="secondaryMenu">Dashboard Content Management</span> 
          </p>
          </div>
          </div>
          </div>
       
        <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
            <mat-card  class="no-padding mainOuterCardContainer">
                    <mat-tab-group  flex="1" class="customVerticalTab height100" (selectedTabChange)="tabClick($event)">
                        <mat-tab label="Marquee">
                            <form [formGroup]="marqueeForm" #form="ngForm"> 
                              <div class="col-md-12 no-padding">
                                   <div class="row no-margin">
                                            <div class="col-md-12 verticalEndCenter no-padding">
                                              <div class="col-md-10 no-padding-left">
                                                <h3 class="themePrimaryColor">Marquee</h3>
                                              </div>
                                               <div class="col-md-2 btnBlockConatiner no-padding-right">
                                                          <!-- <button color="theme-green-button" (click)="addMarquee()" class="verticalMiddleCenter" [disabled]="marqueeContent==''"><mat-icon class="margin-right-5">add</mat-icon>Add</button>  -->
                                                          <button color="theme-green-button" (click)="open(content)" class="verticalMiddleCenter" [disabled]="marqueeContent==''"><mat-icon class="margin-right-5">add</mat-icon>Add</button> 
                                                          
                                                        </div>
                                             </div>
                                                    <div class="col-md-12 margin-top no-padding">
                                                      <div class="col-md-12">
                                                        <div class="row draggableHdr">
                                                            <div class="col-md-1 custWidthIcon">
                                                              <div><p class="font-13 no-margin">No.</p></div>
                                                            </div>
                                                            <div class="col-md-5">
                                                                <div><p class="font-13 no-margin">Title</p></div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div><p class="font-13 no-margin">Start Date</p></div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div><p class="font-13 no-margin">End Date</p></div>
                                                            </div>
                                                            <div class="col-md-2 no-padding custWidthButton">
                                                                <div><p class="font-13 no-margin">Action</p></div>
                                                            </div>
                                                          </div>
                                                    </div>
                                                        <div class="grid draggableListBlock example-list" cdkDropList  (cdkDropListDropped)="drop($event)" [cdkDropListData]="dragRowData">
                                                            <div class="col-md-12 margin-vertical-10 dragPanelBlock" cdkDrag  *ngFor="let item of dragRowData">
                                                                <div class="row draggableRow  verticalCenter border-radius-3 width100" >
                                                                    <div class="col-md-1 custWidthIcon" cdkDragHandle>
                                                                      <div>
                                                                        <mat-icon svgIcon="dragIcon" matTooltip="Drag"></mat-icon>
                                                                       </div>
                                                                    </div>
                                                                    <div class="col-md-5">
                                                                      <div class="height100 verticalCenter">
                                                                          <!-- <div class="imgBlock"> 
                                                                           </div> -->
                                                                           <div class="font-13 padding-horizontal contentBlock textbreak"> 
                                                                             {{item.ContentName}}
                                                                          </div>
                                                                      </div>
                                                                     </div>
                                                                      <div class="col-md-2">
                                                                          <div><p class="font-13 no-margin padding-horizontal">{{item.StartDate | date: 'dd/MM/yyyy'}}</p></div>
                                                                      </div>
                                                                      <div class="col-md-2">
                                                                        <div><p class="font-13 no-margin padding-horizontal">{{item.EndDate | date: 'dd/MM/yyyy'}}</p></div>
                                                                    </div>
                                                                   <!-- <div class="col-md-1 no-padding custWidthButton">
                                                                    <div *ngIf="item.IsActive">
                                                                      <button color="theme-pink-button" class="verticalMiddleCenter" (click)="updateInactive('4',item.CMSID)">Inactive</button> 
                                                                  </div>
                                                                    </div> -->
                                                                    <div class="col-md-2 no-padding ">
                                                                      <div *ngIf="item.IsActive" class="inactiveButton">
                                                                          <button color="theme-pink-button" class="verticalMiddleCenter" (click)="updateInactive('4',item.CMSID)" >Inactive</button> 
                                                                      </div>
                                                                      <!-- <div *ngIf="!item.IsActive">
                                                                        <button color="theme-pink-button" class="verticalMiddleCenter" (click)="updateInactive(item.CMSID)" >Active</button> 
                                                                    </div> -->
                                                                    <div *ngIf="item.IsActive" class="updateButton">
                                                                      
                                                                      <button color="theme-pink-button" class="verticalMiddleCenter" (click)="update(content,item)" >update</button> 
                                                                  </div>
                                                                  </div>
                                                                  </div>
                                                            </div>
                                                            </div>
                                                     
                                                    </div>   
                                             </div> 
                              </div> 
                             
                              </form>    
                          </mat-tab>
                          <mat-tab label="New Updates"> 
                              <form [formGroup]="NewUpdatesForm" #formNewUpdate="ngForm"> 
                                  <div class="col-md-12 no-padding">
                                          <div class="row no-margin">
                                             
                                            <div class="col-md-12 verticalEndCenter  no-padding">
                                              <div class="col-md-10 no-padding-left">
                                                <h3 class="themePrimaryColor">New Updates</h3>
                                              </div>
                                                  <div class="col-md-2 btnBlockConatiner no-padding-right">
                                                          <!-- <button color="theme-green-button" (click)="addNewUpdates()" class="verticalMiddleCenter"><mat-icon class="margin-right-5">add</mat-icon>Add</button>  -->
                                                          <button color="theme-green-button" (click)="open(content)" class="verticalMiddleCenter"><mat-icon class="margin-right-5">add</mat-icon>Add</button> 
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 margin-top no-padding">
                                                     
                                                        <div class="col-md-12">
                                                            <div class="row draggableHdr">
                                                                <div class="col-md-1 custWidthIcon">
                                                                  <div><p class="font-13 no-margin">No.</p></div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <div><p class="font-13 no-margin">Title</p></div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                  <div><p class="font-13 no-margin">New Updates Link</p></div>
                                                              </div>
                                                                <div class="col-md-2">
                                                                    <div><p class="font-13 no-margin">Start Date</p></div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <div><p class="font-13 no-margin">End Date</p></div>
                                                                </div>
                                                                <div class="col-md-1 no-padding custWidthButton">
                                                                    <div><p class="font-13 no-margin">Action</p></div>
                                                                </div>
                                                              </div>
                                                        </div>
                                                        <div class="grid draggableListBlock example-list" cdkDropList  (cdkDropListDropped)="drop($event)" [cdkDropListData]="dragRowData1">
                                                            <div class="col-md-12 margin-vertical-10 dragPanelBlock" cdkDrag  *ngFor="let item of dragRowData1">
                                                                <div class="row draggableRow  verticalCenter border-radius-3 width100" >
                                                                    <div class="col-md-1 custWidthIcon" cdkDragHandle>
                                                                      <div>
                                                                        <mat-icon svgIcon="dragIcon" matTooltip="Drag"></mat-icon>
                                                                       </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                      <div class="height100 verticalCenter">
                                                                          <!-- <div class="imgBlock"> 
                                                                           </div> -->
                                                                           <div class="font-13 padding-horizontal contentBlock textbreak"> 
                                                                             {{item.ContentName}}
                                                                          </div>
                                                                      </div>
                                                                     </div>
                                                                     <div class="col-md-3">
                                                                      <div class="font-13 padding-horizontal textbreak" *ngIf="item._Get_Img_Video">{{item._Get_Img_Video[0].ImagePath}}</div> 
                                                                     </div>
                                                                    <div class="col-md-2">
                                                                        <div class="font-13 padding-horizontal">{{item.StartDate  | date: 'dd/MM/yyyy'}}</div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="font-13 padding-horizontal">{{item.EndDate  | date: 'dd/MM/yyyy'}}</div>
                                                                    </div>
                                                                    <!-- <div class="col-md-1 no-padding custWidthButton">
                                                                      <div *ngIf="item.IsActive">
                                                                        <button color="theme-pink-button" class="verticalMiddleCenter" (click)="updateInactive('1',item.CMSID)">Inactive</button> 
                                                                    </div>
                                                                    </div> -->
                                                                    <div class="col-md-2 no-padding ">
                                                                      <div *ngIf="item.IsActive" class="inactiveButton">
                                                                          <button color="theme-pink-button" class="verticalMiddleCenter" (click)="updateInactive('1',item.CMSID)" >Inactive</button> 
                                                                      </div>
                                                                    
                                                                    <div *ngIf="item.IsActive" class="updateButton">
                                                                      
                                                                      <button color="theme-pink-button" class="verticalMiddleCenter" (click)="update(content,item)" >update</button> 
                                                                  </div>
                                                                  </div>
                                                                  </div>
                                                            </div>
                                                            </div>
                                                     
                                                    </div>   
                                             </div> 
                                  </div>   
                               </form>     
                          </mat-tab>
                              <mat-tab label="Message Board"> 
                                  <form [formGroup]="whatsNewForm" #formWhatsNew= "ngForm">
                                       <div class="col-md-12 no-padding">
                                              <div class="row no-margin">    
                                                   <div class="col-md-12 verticalEndCenter  no-padding">
                                                    <div class="col-md-8 no-padding-left">
                                                      <h3 class="themePrimaryColor">Message Board</h3>
                                                    </div>
                                                    <div class="col-md-2 btnBlockConatiner no-padding-right">
                                                      <!-- <button color="theme-green-button" (click)="addWhatsNew()" tanvi class="verticalMiddleCenter"><mat-icon class="margin-right-5">add</mat-icon>Add</button>  -->
                                                      <button color="theme-green-button" (click)="openAndDownload(showContent,'messageBoard')" class="verticalMiddleCenter"><mat-icon class="margin-right-5"></mat-icon>View</button> 
                                                    </div>
                                                          <div class="col-md-2 btnBlockConatiner no-padding-right">
                                                                  <!-- <button color="theme-green-button" (click)="addWhatsNew()" class="verticalMiddleCenter"><mat-icon class="margin-right-5">add</mat-icon>Add</button>  -->
                                                                  <button color="theme-green-button" (click)="open(content)" class="verticalMiddleCenter"><mat-icon class="margin-right-5">add</mat-icon>Add</button> 
                                                                </div>
                                                            </div>
                                                        <div class="col-md-12 margin-top no-padding"> 
                                                            <div class="col-md-12">
                                                                <div class="row draggableHdr">
                                                                    <div class="col-md-1 custWidthIcon">
                                                                      <div><p class="font-13 no-margin">No.</p></div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div><p class="font-13 no-margin">Title</p></div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                      <div><p class="font-13 no-margin">Content</p></div>
                                                                  </div>
                                                                    <div class="col-md-2">
                                                                      <div><p class="font-13 no-margin">What's New Link</p></div>
                                                                  </div>
                                                                    <div class="col-md-2">
                                                                        <div><p class="font-13 no-margin ">Start Date</p></div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div><p class="font-13 no-margin">End Date</p></div>
                                                                    </div>
                                                                    <div class="col-md-1 no-padding custWidthButton">
                                                                        <div><p class="font-13 no-margin">Action</p></div>
                                                                    </div>
                                                                  </div>
                                                            </div>
                                                            <div class="grid draggableListBlock example-list" cdkDropList  (cdkDropListDropped)="drop($event)" [cdkDropListData]="dragRowData2">
                                                                <div class="col-md-12 margin-vertical-10 dragPanelBlock" cdkDrag  *ngFor="let item of dragRowData2">
                                                                    <div class="row draggableRow  verticalCenter border-radius-3 width100" >
                                                                        <div class="col-md-1 custWidthIcon" cdkDragHandle>
                                                                          <div>
                                                                            <mat-icon svgIcon="dragIcon" matTooltip="Drag"></mat-icon>
                                                                           </div>
                                                                        </div>
                                                                        <div class="col-md-2">
                                                                          <div class="height100 verticalCenter">
                                                                              <div class="col-md-2 no-padding" *ngIf="item._Get_Img_Video">
                                                                              <div class="imgBlock">
                                                                                <img src="{{item._Get_Img_Video[0].ImagePath}}"  class="height100 width100">  
                                                                               </div>
                                                                              </div>
                                                                              <div class="col-md-10">
                                                                               <div class="font-13 padding-horizontal contentBlock" style="margin-left:9%;" [innerHtml]="item.ContentName | safePipe"> 
                                                                                 <!-- {{item.ContentName}} -->
                                                                              </div>
                                                                              </div>
                                                                          </div>

                                                                         </div>
                                                                         <div class="col-md-2">
                                                                          <div class="font-13 hideSomeContent" [innerHtml]="item.SubContentName | safePipe"></div>
                                                                      </div>
                                                                         <div class="col-md-2">
                                                                          <div class="font-13 padding-horizontal textbreak pdfhover" *ngIf="item._Get_Img_Video[1]" matTooltip="Click to open PDF file" matTooltipPosition="above">{{item._Get_Img_Video[1].ImagePath}}</div>
                                                                      </div>
                                                                        <div class="col-md-2">
                                                                            <div class="font-13 padding-horizontal">{{item.StartDate | date: 'dd/MM/yyyy'}}</div>
                                                                        </div>
                                                                        <div class="col-md-2">
                                                                            <div class="font-13 padding-horizontal">{{item.EndDate | date: 'dd/MM/yyyy'}}</div>
                                                                        </div>
                                                                        <div class="col-md-1 no-padding custWidthButton">
                                                                          <div *ngIf="item.IsActive">
                                                                            <button color="theme-pink-button" class="verticalMiddleCenter" (click)="updateInactive('2',item.CMSID)">Inactive</button> 
                                                                        </div>
                                                                        <div *ngIf="item.IsActive" >
                                            
                                                                          <button style="margin-top: 3%;" color="theme-pink-button" class="verticalMiddleCenter" (click)="update(content,item)" >update</button> 
                                                                      </div>
                                                                        </div>
                                                                      </div>
                                                                </div>
                                                                </div>
                                                         
                                                        </div>   
                                                 </div> 
                                       </div> 
                                  </form>
                              </mat-tab>
                              <mat-tab label="Awards">
                                  <form [formGroup]="awardForm" #formAward="ngForm"> 
                                  <div class="col-md-12 no-padding">
                                      <div class="row no-margin">
                                         
                                         
                                           <div class="col-md-12 verticalEndCenter  no-padding">
                                            <div class="col-md-10 no-padding-left">
                                              <h3 class="themePrimaryColor">Awards</h3>
                                            </div>
                                                  <div class="col-md-2 btnBlockConatiner no-padding-right">
                                                          <!-- <button color="theme-green-button" (click)="addAward()" class="verticalMiddleCenter"><mat-icon class="margin-right-5">add</mat-icon>Add</button>  -->
                                                          <button color="theme-green-button" (click)="open(content)" class="verticalMiddleCenter"><mat-icon class="margin-right-5">add</mat-icon>Add</button> 
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 margin-top no-padding">
                                                 
                                                      <div class="col-md-12">
                                                          <div class="row draggableHdr">
                                                              <div class="col-md-1 custWidthIcon">
                                                                <div><p class="font-13 no-margin">No.</p></div>
                                                              </div>
                                                              <div class="col-md-4">
                                                                  <div><p class="font-13 no-margin">Title</p></div>
                                                              </div>
                                                              <div class="col-md-2">
                                                                <div><p class="font-13 no-margin">Content</p></div>
                                                            </div>
                                                              <div class="col-md-2">
                                                                <div><p class="font-13 no-margin">Event year</p></div>
                                                            </div>
                                                            <div class="col-md-2">
                                                              <div><p class="font-13 no-margin">Event Location</p></div>
                                                          </div>
                                                              <div class="col-md-1 no-padding custWidthButton">
                                                                  <div><p class="font-13 no-margin">Action</p></div>
                                                              </div>
                                                            </div>
                                                      </div>
                                                      <div class="grid draggableListBlock example-list" cdkDropList  (cdkDropListDropped)="drop($event)" [cdkDropListData]="dragRowData3">
                                                          <div class="col-md-12 margin-vertical-10 dragPanelBlock" cdkDrag  *ngFor="let item of dragRowData3">
                                                              <div class="row draggableRow  verticalCenter border-radius-3 width100" >
                                                                  <div class="col-md-1 custWidthIcon" cdkDragHandle>
                                                                    <div>
                                                                      <mat-icon svgIcon="dragIcon" matTooltip="Drag"></mat-icon>
                                                                     </div>
                                                                  </div>
                                                                  <div class="col-md-4">
                                                                    <div class="height100 width100 verticalCenter">
                                                                      <div class="col-md-1 no-padding">
                                                                        
                                                                             <!-- <div class="row"> -->
                                                                               <div *ngIf="!cs.isUndefinedORNull(item._Get_Img_Video) && item._Get_Img_Video.length > 1">
                                                                                <div class="imgBlock" *ngFor="let imgs of item._Get_Img_Video">
                                                                                  <img src="{{imgs.ImagePath}}"  class="height100 width100">  
                                                                               </div>
                                                                               </div>
                                                                               <div *ngIf="!cs.isUndefinedORNull(item._Get_Img_Video) && item._Get_Img_Video.length == 1">
                                                                                <div class="imgBlock">
                                                                                  <img src="{{item._Get_Img_Video[0].ImagePath}}"  class="height100 width100">  
                                                                               </div>
                                                                               </div>
                                                                             
                                                                             <!-- <div class="imgBlock" *ngIf="item._Get_Img_Video[1]">
                                                                              <img src="{{item._Get_Img_Video[1].ImagePath}}"  class="height100 width100">  
                                                                           </div> -->
                                                                             <!-- </div> -->
                                                                           
                                                                           <!-- </div> -->
                                                                          
                                                                      </div>
                                                                      <div class="col-md-11">
                                                                          <div class="font-13 padding-horizontal contentBlock textbreak"> 
                                                                              {{item.ContentName}}
                                                                           </div>
                                                                      </div>
                                                                      </div>
                                                                   </div>
                                                                   <div class="col-md-2">
                                                                    <div class="font-13 padding-horizontal textbreak">{{item.SubContentName}}</div>
                                                                </div>
                                                                   <div class="col-md-2">
                                                                    <div class="font-13 padding-horizontal">{{item.Event_Year}}</div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <div class="font-13 padding-horizontal">{{item.Event_Location}}</div>
                                                                </div>
                                                                   
                                                                  <div class="col-md-1 no-padding custWidthButton">
                                                                    <div *ngIf="item.IsActive">
                                                                      <button color="theme-pink-button" class="verticalMiddleCenter" (click)="updateInactive('3',item.CMSID)">Inactive</button> 
                                                                  </div>
                                                                  </div>
                                                                </div>
                                                          </div>
                                                          </div>
                                                   
                                                  </div>   
                                         </div> 
                                 </div> 
                                 </form>
                         </mat-tab>
                         <mat-tab label="Maintainance">
                          <form [formGroup]="marqueeForm" #form="ngForm"> 
                            <div class="col-md-12 no-padding">
                                 <div class="row no-margin">
                                          <div class="col-md-12 verticalEndCenter no-padding">
                                            <div class="col-md-8 no-padding-left">
                                              <h3 class="themePrimaryColor">Maintainance</h3>
                                            </div>
                                            <div class="col-md-2 btnBlockConatiner no-padding-right">
                                              <button color="theme-green-button" (click)="openAndDownload(showContent,'maintainanceHistory')" class="verticalMiddleCenter"><mat-icon class="margin-right-5"></mat-icon>View</button> 
                                            </div>
                                             <div class="col-md-2 btnBlockConatiner no-padding-right">
                                                        <!-- <button color="theme-green-button" (click)="addMarquee()" class="verticalMiddleCenter" [disabled]="marqueeContent==''"><mat-icon class="margin-right-5">add</mat-icon>Add</button>  -->
                                                        <button color="theme-green-button" (click)="open(content)" class="verticalMiddleCenter" [disabled]="marqueeContent==''"><mat-icon class="margin-right-5">add</mat-icon>Add</button> 
                                                        
                                                      </div>
                                           </div>
                                                  <div class="col-md-12 margin-top no-padding">
                                                    <div class="col-md-12">
                                                      <div class="row draggableHdr">
                                                          <div class="col-md-1 custWidthIcon">
                                                            <div><p class="font-13 no-margin">No.</p></div>
                                                          </div>
                                                          <div class="col-md-5">
                                                              <div><p class="font-13 no-margin">Title</p></div>
                                                          </div>
                                                          <div class="col-md-2">
                                                              <div><p class="font-13 no-margin">Start Date</p></div>
                                                          </div>
                                                          <div class="col-md-2">
                                                              <div><p class="font-13 no-margin">End Date</p></div>
                                                          </div>
                                                          <div class="col-md-2 no-padding custWidthButton">
                                                              <div><p class="font-13 no-margin">Action</p></div>
                                                          </div>
                                                        </div>
                                                  </div>
                                                      <div class="grid draggableListBlock example-list" cdkDropList  (cdkDropListDropped)="drop($event)" [cdkDropListData]="dragRowData">
                                                          <div class="col-md-12 margin-vertical-10 dragPanelBlock" cdkDrag  *ngFor="let item of dragRowData">
                                                              <div class="row draggableRow  verticalCenter border-radius-3 width100" >
                                                                  <div class="col-md-1 custWidthIcon" cdkDragHandle>
                                                                    <div>
                                                                      <mat-icon svgIcon="dragIcon" matTooltip="Drag"></mat-icon>
                                                                     </div>
                                                                  </div>
                                                                  <div class="col-md-5">
                                                                    <div class="height100 verticalCenter">
                                                                        <!-- <div class="imgBlock"> 
                                                                         </div> -->
                                                                         <div class="font-13 padding-horizontal contentBlock textbreak"> 
                                                                           {{item.Message}}
                                                                        </div>
                                                                    </div>
                                                                   </div>
                                                                    <div class="col-md-2">
                                                                        <div><p class="font-13 no-margin padding-horizontal">{{item.FromDate | date: 'dd/MM/yyyy'}}</p></div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                      <div><p class="font-13 no-margin padding-horizontal">{{item.ToDate | date: 'dd/MM/yyyy'}}</p></div>
                                                                  </div>
                                                                  <div class="col-md-2 no-padding ">
                                                                    <div class="inactiveButton">
                                                                        <button color="theme-pink-button" class="verticalMiddleCenter" (click)="update(content,item)" >update</button> 
                                                                    </div>
                                                                    <div class="inactiveButton">
                                                                      <button color="theme-pink-button" class="verticalMiddleCenter" (click)="deleteMaintainance(item)" >delete</button> 
                                                                    </div>
                                                                </div>
                                                                </div>
                                                          </div>
                                                          </div>
                                                   
                                                  </div>   
                                           </div> 
                            </div> 
                           
                            </form>    
                        </mat-tab>
                         
                           <mat-tab label="History">
                            <div class="col-md-12 filterContainer no-padding">
                                <div class="row no-margin">
                                    <div class="col-md-3 filterInput">
                                        <div class="row">
                                            <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                              Category:
                                              </div>
                                              <div class="col-md-8 colInput">
                                                  <mat-form-field appearance="outline" class="borderInput font-13">
                                                      <mat-select   placeholder="Select category" [(ngModel)]="categoryID" (selectionChange)="getChangedData()">
                                                        <mat-option value="1234">All</mat-option>
                                                        <mat-option value="4">Marquee</mat-option>
                                                        <mat-option value="1">New Updates</mat-option>
                                                        <mat-option value="2">Message Board</mat-option>
                                                        <mat-option value="3">Awards</mat-option>
                                                       </mat-select>
                                                      </mat-form-field>
                                                   </div>
                                              </div>
                                     </div>
                                    <div class="col-md-3 filterInput">
                                       <div class="row">
                                                <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                                 From:
                                                  </div>
                                                  <div class="col-md-8 colInput">
                                                      <mat-form-field appearance="outline" class="borderInput font-13">
                                                          <input [(ngModel)]="fromDate" matInput (dateChange)="search(fromDate)"
                                                          [matDatepicker]="fromHistoryDate" placeholder="To">
                                                          <mat-datepicker-toggle matSuffix [for]="fromHistoryDate"></mat-datepicker-toggle>
                                                          <mat-datepicker #fromHistoryDate></mat-datepicker>
                                                        </mat-form-field>
                                                      </div>
                                                  </div>
                                     </div>
                                     <div class="col-md-3 filterInput">
                                        <div class="row">
                                            <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                             To:
                                              </div>
                                              <div class="col-md-8 colInput">
                                                  <mat-form-field appearance="outline" class="borderInput font-13">
                                                      <input matInput [(ngModel)]="toDate" [min]="fromDate" (dateChange)="search1(toDate)"
                                                       [matDatepicker]="toHistoryDate" placeholder="To">
                                                      <mat-datepicker-toggle matSuffix [for]="toHistoryDate"></mat-datepicker-toggle>
                                                      <mat-datepicker #toHistoryDate></mat-datepicker>
                                                    </mat-form-field>
                                               </div>
                                              </div>
                                        </div>
                                    <div class="col-md-1 verticalEndCenter filterBtn">
                                        <div class="width100 vertcalAligment">
                                            <button (click)="ResetDate()" color="theme-red-button" >Clear</button> 
                                          </div>
                                    </div>
                                      </div> 
                             </div> 
                             <div class="col-md-12 margin-vertical no-padding">
                                <div class="example-container tbl_New_Layout">
                                    <div class="table-container">
                                  <table mat-table  class="lessons-table" [dataSource]="historyDataSource">
                                  
                                    <ng-container matColumnDef="title" >
                                      <th mat-header-cell *matHeaderCellDef class="tblColFlex5">Title</th>
                                      <td mat-cell *matCellDef="let element" class="text-center"  >
                                          <div class="col" *ngIf="categoryID =='4'">
                                              <div class="col-md-12 no-padding">
                                                      <div class="imgBlock" > 
                                                    <p class="no-margin">{{element.ContentName}}</p>
                                                     </div>
                                              </div>
                                          </div>
                                          <div class="col"  *ngIf="categoryID =='2'">
                                            <div class="row">
                                              
                                                <div class="col-md-1 no-padding ">
                                                    <div class="imgBlock"> 
                                                        <img *ngIf="element._Get_Img_Video" src="{{element._Get_Img_Video[0].ImagePath}}"  class="height100 width100">
                                                       </div>
                                                </div>
                                                <div class="col-md-11 text-left verticalCenter" *ngIf="categoryID =='2'">
                                                    <p class="no-margin">{{element.ContentName}}</p>
                                                </div>
                                            </div>
                                          </div>
                                          <div class="col" *ngIf="categoryID =='1'">
                                              <div class="col-md-12 text-left verticalCenter">
                                                  <p class="no-margin"> {{element.ContentName}}</p>
                                              </div>
                                          </div>
                                          <div class="col" *ngIf="categoryID =='3'">
                                              <div class="row">
                                                  <div class="col-md-1 no-padding" *ngIf="element._Get_Img_Video">
                                                      <div class="imgBlock"> 
                                                          <img  src="{{element._Get_Img_Video[0].ImagePath}}"  class="height100 width100">
                                                </div>
                                                  </div>
                                                  <div class="col-md-11 text-left verticalCenter">
                                                      <p *ngIf="element.ContentCategoryID =='3'" class="no-margin">{{element.ContentName}}</p>
                                                    </div>
                                              </div>
                                            </div>
                                            <div class="col" *ngIf="categoryID =='1234'">
                                                <div class="row">
                                                    <div class="col-md-1 no-padding" *ngIf="element.ContentCategoryID =='3' || element.ContentCategoryID =='4'">
                                                        <div class="imgBlock" *ngIf="element._Get_Img_Video"> 
                                                            <img  src="{{element._Get_Img_Video[0].ImagePath}}"  class="height100 width100">
                                                  </div>
                                                    </div>
                                                    <div class="col-md-11 text-left verticalCenter" style="word-break: break-all;">
                                                        <p *ngIf="element.ContentCategoryID =='1'" class="no-margin">{{element.ContentName}}</p>
                                                        <p *ngIf="element.ContentCategoryID =='2'" class="no-margin">{{element.ContentName}}</p>
                                                        <p *ngIf="element.ContentCategoryID =='3'" class="no-margin">{{element.ContentName}}</p>
                                                        <p *ngIf="element.ContentCategoryID =='4'" class="no-margin">{{element.ContentName}}</p>
                                                      </div>
                                                </div>
                                              </div>
                                      </td>
                                      
                                    </ng-container>
                                   
                                    <!-- <ng-container matColumnDef="category">
                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex5">category</th>
                                        <td mat-cell *matCellDef="let element" class="text-center">
                                          {{ element.category || "N/A" }}
                                        </td>
                                      </ng-container> -->
                                      <ng-container matColumnDef="NewUpdatesLink">
                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex8" [ngClass]="{'hideColumn':categoryID !== '1'}">New Updates Link</th>
                                        <td mat-cell *matCellDef="let element"  class="textbreak" [ngClass]="{'hideColumn':categoryID !== '1'}">
                                          <p *ngIf="element._Get_Img_Video">{{ element._Get_Img_Video[0].ImagePath }}</p>
                                          </td>
                                      </ng-container>
                                      <ng-container matColumnDef="WhatsNewLink">
                                        <th mat-header-cell *matHeaderCellDef style="min-width: 11rem !important;"  [ngClass]="{'hideColumn2':categoryID !== '2'}">Message Board Link</th>
                                        <td mat-cell *matCellDef="let element" class="textbreak" [ngClass]="{'hideColumn2':categoryID !== '2'}">
                                          <p *ngIf="element._Get_Img_Video && element._Get_Img_Video[1]">{{ element._Get_Img_Video[1].ImagePath}}</p>
                                          </td>
                                      </ng-container>
                                      <ng-container matColumnDef="eventyear">
                                        <th mat-header-cell *matHeaderCellDef style="min-width: 11rem !important;"  [ngClass]="{'hideColumn3':categoryID !== '3'}">Event Year</th>
                                        <td mat-cell *matCellDef="let element" class="text-center" [ngClass]="{'hideColumn3':categoryID !== '3'}">
                                          {{ element.Event_Year}}
                                          </td>
                                      </ng-container>
                                      <ng-container matColumnDef="eventlocation">
                                        <th mat-header-cell *matHeaderCellDef style="min-width: 11rem !important;"  [ngClass]="{'hideColumn3':categoryID !== '3'}">Event Location</th>
                                        <td mat-cell *matCellDef="let element" class="text-center" [ngClass]="{'hideColumn3':categoryID !== '3'}">
                                          {{ element.Event_Location}}
                                          </td>
                                      </ng-container>
                                      <ng-container matColumnDef="startDate">
                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex8" [ngClass]="{'hideColumn3':categoryID == '3'}">Start Date</th>
                                        <td mat-cell *matCellDef="let element" class="text-center" [ngClass]="{'hideColumn3':categoryID == '3'}">
                                          {{ element.StartDate | date: 'dd/MM/yyyy' }}
                                          </td>
                                      </ng-container>                                  
                                      <ng-container matColumnDef="endDate">
                                            <th mat-header-cell *matHeaderCellDef class="tblColFlex5" [ngClass]="{'hideColumn3':categoryID == '3'}">End Date</th>
                                            <td mat-cell *matCellDef="let element" class="text-center" [ngClass]="{'hideColumn3':categoryID == '3'}">
                                              {{ element.EndDate | date: 'dd/MM/yyyy' }}
                                              </td>
                                      </ng-container>
                                      <ng-container matColumnDef="status">
                                                <th mat-header-cell *matHeaderCellDef class="tblColFlex8">Status</th>
                                                <td mat-cell *matCellDef="let element" class="text-center">
                                                  Inactive
                                                  </td>
                                      </ng-container>
                                      <tr mat-header-row  *matHeaderRowDef="displayedHistoryColumns;sticky: true"></tr>
                                      <tr mat-row *matRowDef="let row; columns: displayedHistoryColumns"></tr>
                                  </table>
                                  </div>
                                  <mat-paginator  [length]="pageSize"  [pageSize]="10"  [pageIndex]="pageNo"
                                  (page)="getHistoryData($event)">
                                </mat-paginator>
                              </div>
                             </div>  
                        </mat-tab>
                            </mat-tab-group>
           
            </mat-card>
          </div>
      </div>
  </div>

  <!---Modal Structure Start-->
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title" *ngIf="tabFlag == '0'">Add Marquee</h3>
      <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title" *ngIf="tabFlag == '1'">Add New Updates</h3>
      <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title" *ngIf="tabFlag == '2'">Add Message board</h3>
      <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title" *ngIf="tabFlag == '3'">Add Awards</h3>
      <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title" *ngIf="tabFlag == '4'">Add Maintainance</h3>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="marqueeForm" #form="ngForm" *ngIf="tabFlag == '0'"> 
            <div class="row no-margin">
                <div class="col-md-6">
                   <div class="row">
                            <div class="col-md-4 colInputHeader verticalEndCenter font-14 required-field">
                             Start Date: 
                              </div>
                              <div class="col-md-8 colInput">
                                <mat-form-field appearance="outline" class="borderInput font-13" >
                                  <input matInput [min]="today"  formControlName="fromDate" readonly [matDatepicker]="picker2" placeholder="To">
                                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                  <mat-datepicker #picker2></mat-datepicker>
                                  <!-- <mat-error *ngIf="NewUpdatesForm.get('toDate').hasError('required')" class="matError">
                                      End Date is required.
                                  </mat-error> -->
                                </mat-form-field>
                                
                                  </div>
                              </div>
                            
                                 </div>
                <div class="col-md-6">
                     <div class="row">
                                  <div class="col-md-4 colInputHeader verticalEndCenter font-14 required-field">
                                    End Date:
                                    </div>
                                    <div class="col-md-8 colInput">
                                      <mat-form-field appearance="outline" class="borderInput font-13">
                                        <input matInput [min]="marqueeForm.controls.fromDate.value" readonly  formControlName="toDate"  [matDatepicker]="picker1" placeholder="To">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                        <!-- <mat-error *ngIf="mar.get('toDate').hasError('required')" class="matError">
                                            End Date is required.
                                        </mat-error> -->
                                      </mat-form-field>
                                       
                                        </div>
                                    </div>
                 </div>
                 <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2 colInputHeader verticalEndCenter font-14 required-field">
                          Add Content:
                          </div>
                          <div class="col-md-10 colInput">
                            <mat-form-field appearance="outline" class="borderInput font-13">
                              <!-- <mat-label>Type here</mat-label> -->
                              <textarea matInput rows="3" appInputListener formControlName="marqueeContent" ></textarea>
                              <mat-error *ngIf="checkError('marqueeContent', 'maxlength')" class="matError">
                                Content can be up to 500 characters long.
                            </mat-error>
                            </mat-form-field>
                            <!-- <div *ngIf="marqueeForm.controls['marqueeContent'].hasError('maxLength')">
                              Maximum of 10 characters
                            </div> -->
                              </div>
                          </div>
                 </div>
          </div>
            
          </form>
          <form [formGroup]="NewUpdatesForm" #formNewUpdate="ngForm"  *ngIf="tabFlag == '1'"> 
              <div class="row no-margin">
                  <div class="col-md-6">
                      <div class="row">
                          <div class="col-md-4 colInputHeader verticalEndCenter font-14 required-field">
                            Title:
                            </div>
                            <div class="col-md-8 colInput">
                              <mat-form-field appearance="outline" class="borderInput font-13">
        
                                <input matInput placeholder="" appInputListener required  autocomplete="false" formControlName="title">
                                <!-- <mat-error *ngIf="NewUpdatesForm.get('title').hasError('required')" class="matError">
                                    Title is required.
                                  </mat-error> -->
                              </mat-form-field> 
                                 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 colInputHeader verticalEndCenter font-14 required-field">
                                 Start Date:
                                  </div>
                                  <div class="col-md-8 colInput">
                                    <mat-form-field appearance="outline" class="borderInput font-13">
                                      <input matInput [min]="today" readonly  formControlName="fromDate" [matDatepicker]="newUpdateStartDate" placeholder="Select Start Date">
                                      <mat-datepicker-toggle matSuffix [for]="newUpdateStartDate"></mat-datepicker-toggle>
                                      <mat-datepicker #newUpdateStartDate></mat-datepicker>
                                      <!-- <mat-error *ngIf="NewUpdatesForm.get('fromDate').hasError('required')" class="matError">
                                          Start Date is required.
                                        </mat-error> -->
                                    </mat-form-field>
                                  
                                      </div>
                                  </div>
                              
                                   </div>
                  <div class="col-md-6">
                      <div class="row">
                          <div class="col-md-4 colInputHeader verticalEndCenter font-14 required-field">
                              Link:
                            </div>
                            <!-- <div class="col-md-8 colInput"> -->
                              <!-- <mat-form-field appearance="outline" class="borderInput font-13">
                                <input matInput placeholder="" formControlName="link">
                             
                              </mat-form-field>   -->
                              <div class="col-md-5 colInput no-padding-right">
                                <mat-form-field appearance="outline" class="borderInput font-13 ">
                                  <input matInput placeholder="" formControlName="link" readonly>
                                </mat-form-field> 
                                  </div>
                                  <div class="col-md-3 verticalCenter">
                                    <label for="file-input" class="no-margin text-center" color="theme-gray-button"  matTooltip="accepts all file format" matTooltipPosition="above">
                                        Upload File
                                    <input id="file-input" type="file"  (change)="detectFilespdf($event)" accept=".png, .jpg, .jpeg" style="display: none;"/>
                               </label>
                                </div>
                                <!-- </div> -->
                            </div>
                            <div class="row">
                                <div class="col-md-4 colInputHeader verticalEndCenter font-14 required-field">
                                  End Date:
                                  </div>
                                  <div class="col-md-8 colInput">
                                    <mat-form-field appearance="outline" class="borderInput font-13">
                                      <input matInput [min]="NewUpdatesForm.controls.fromDate.value" readonly formControlName="toDate" [matDatepicker]="newUpdateEndDate" placeholder="To">
                                      <mat-datepicker-toggle matSuffix [for]="newUpdateEndDate"></mat-datepicker-toggle>
                                      <mat-datepicker #newUpdateEndDate></mat-datepicker>
                                      <!-- <mat-error *ngIf="NewUpdatesForm.get('toDate').hasError('required')" class="matError">
                                          End Date is required.
                                      </mat-error> -->
                                    </mat-form-field>
                                   
                                      </div>
                                  </div>
                   </div>
               
            </div>
              
            </form>
            <form [formGroup]="whatsNewForm" #formWhatsNew= "ngForm" *ngIf="tabFlag == '2'">
                <div class="row no-margin">
                  <div class="col-md-12">
                      <div class="row">
                          <div class="col-md-2 colInputHeader verticalEndCenter font-14 required-field">
                            Title:
                            </div>
                            <div class="col-md-10 colInput">
                              <ckeditor appInputListener formControlName="title" [config]="config" debounce="500" [readonly]="false" (paste)="onPaste($event)"
                              (drop)="onDrop($event)"></ckeditor>
                               <!-- <mat-form-field appearance="outline" class="borderInput font-13">
                                 <input matInput placeholder="" formControlName="title">
                               </mat-form-field>  -->
                              </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 colInputHeader verticalEndCenter font-14">
                                  Content:
                                  </div>
                                  <div class="col-md-10 colInput">
                                    <ckeditor appInputListener formControlName="content" [config]="config" debounce="500" ></ckeditor>
                                      <!-- <mat-form-field appearance="outline" class="borderInput font-13">
                                          <textarea matInput  rows="7" placeholder="" formControlName="content"></textarea>
                                        </mat-form-field>  -->
                                      </div>
                                  </div>
                  </div>
                    <div class="col-md-6">
                              <div class="row">
                                  <div class="col-md-4 colInputHeader verticalEndCenter font-14 required-field">
                                      Start Date:
                                      </div>
                                      <div class="col-md-8 colInput">
                                        <mat-form-field appearance="outline" class="borderInput font-13">
                                          <input matInput [min]="today" readonly formControlName="fromDate" [matDatepicker]="whatsNewStartDate" placeholder="From">
                                          <mat-datepicker-toggle matSuffix [for]="whatsNewStartDate"></mat-datepicker-toggle>
                                          <mat-datepicker #whatsNewStartDate></mat-datepicker>
                                        </mat-form-field>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                            Link:
                                            </div>
                                            <!-- <div class="col-md-8 colInput"> -->
                                              <!-- <mat-form-field appearance="outline" class="borderInput font-13">
                                                <input matInput placeholder="" formControlName="link" >
                                                
                                              </mat-form-field>  -->
                                              <div class="col-md-5 colInput no-padding-right">
                                                <mat-form-field appearance="outline" class="borderInput font-13 ">
                                                  <input matInput placeholder="" formControlName="link" readonly>
                                                </mat-form-field> 
                                                  </div>
                                                  <div class="col-md-3 verticalCenter">
                                                    <label for="file-input" class="no-margin text-center" color="theme-gray-button"  matTooltip="accepts all file format" matTooltipPosition="above">
                                                        Upload File
                                                    <input id="file-input" multiple type="file"  (change)="detectFilespdf($event)" accept=".png, .jpg, .jpeg" style="display: none;"/>
                                                    <!-- <input id="file-input" multiple="true" type="file"  (change)="detectFilespdf($event)" accept=".png, .jpg, .jpeg" style="display: none;"/> -->
                                                </label>
                                                </div>
                                                <!-- </div> -->
                                            </div>
                                     </div>
                    <div class="col-md-6">
                       
                            <div class="row">
                              <div class="col-md-4 colInputHeader verticalEndCenter font-14 required-field">
                                End Date:
                                </div>
                                <div class="col-md-8 colInput">
                                  <mat-form-field appearance="outline" class="borderInput font-13">
                                    <input matInput [min]="whatsNewForm.controls.fromDate.value" readonly  formControlName="toDate" [matDatepicker]="whatsNewEndDate" placeholder="To">
                                    <mat-datepicker-toggle matSuffix [for]="whatsNewEndDate"></mat-datepicker-toggle>
                                    <mat-datepicker #whatsNewEndDate></mat-datepicker>
                                    <!-- <mat-error *ngIf="whatsNewForm.get('toDate').hasError('required')" class="matError">
                                        End Date is required.
                                      </mat-error> -->
                                  </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 colInputHeader verticalEndCenter font-14 required-field">
                                      Upload Image:
                                      </div>
                                      <div class="col-md-5 colInput no-padding-right">
                                        <mat-form-field appearance="outline" class="borderInput font-13 ">
                                          <input matInput placeholder="" formControlName="img" readonly>
                                        </mat-form-field> 
                                          </div>
                                          <div class="col-md-3 verticalCenter">
                                            <label for="file-inputs" class="no-margin text-center" color="theme-gray-button"  matTooltip="Image format should be .png/.jpg/.jpeg" matTooltipPosition="above">
                                                Upload File
                                            <input id="file-inputs" type="file"  (change)="detectFiles($event)" accept=".png, .jpg, .jpeg" style="display: none;"/>
                                        </label>
                                        </div>
                                      </div> 
                  
                     </div>
                 
              </div>
                
              </form>
              <form [formGroup]="awardForm" #formAward="ngForm" *ngIf="tabFlag == '3'"> 
                  <div class="row no-margin">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2 colInputHeader verticalEndCenter font-14 required-field">
                              Title:
                              </div>
                              <div class="col-md-10 colInput">
                                <mat-form-field appearance="outline" class="borderInput font-13">
                                  <input matInput placeholder="" appInputListener formControlName="title">
                                  <!-- <mat-error *ngIf="awardForm.get('title').hasError('required')" class="matError">
                                      Title is required.
                                      </mat-error> -->
                                  </mat-form-field> 
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-2 colInputHeader verticalEndCenter font-14 required-field">
                                    Content:
                                    </div>
                                    <div class="col-md-10 colInput">
                                        <mat-form-field appearance="outline" class="borderInput font-13">
                                            <!-- <input matInput placeholder=""  formControlName="content"> -->
                                            <textarea matInput appInputListener rows="7" placeholder="" formControlName="content"></textarea>
                                            <!-- <mat-error *ngIf="awardForm.get('content').hasError('required')" class="matError">
                                              Content is required.
                                            </mat-error> -->

                                          </mat-form-field> 
                                     </div>
                                    </div>
                    </div>
                      <div class="col-md-6">
                          <div class="row">
                              <div class="col-md-4 colInputHeader verticalEndCenter font-14 required-field">
                               Event Year:
                                </div>
                                <div class="col-md-8 colInput">
                                  <!-- <mat-form-field appearance="outline" class="borderInput font-13" >
                                    <input matInput placeholder="" maxlength="4" formControlName="eventYear" (keypress)="numberOnly($event)" >
                                    <mat-error *ngIf="awardForm.get('eventYear').hasError('pattern')" class="matError">
                                      Event Year Accepts Only Numbers.
                                  </mat-error>
                                  </mat-form-field>  -->
                                  <mat-form-field appearance="outline" class="borderInput font-13">
                                    <mat-select   placeholder="Select" formControlName="eventYear" >
                                      <mat-option  [value]="item" *ngFor="let item of noOfYears">{{item}}</mat-option>
                                     </mat-select>
                                    </mat-form-field>
                                      
                                    </div>
                                </div>
                                       </div>
                      <div class="col-md-6">
                          <div class="row">
                              <div class="col-md-4 colInputHeader verticalEndCenter font-14 required-field">
                                Event Location:
                                </div>
                                <div class="col-md-8 colInput">
                                  <mat-form-field appearance="outline" class="borderInput font-13">
                                    <input matInput placeholder="" formControlName="eventLocation" (keypress)="lettersOnly($event)" >
                                    <mat-error *ngIf="awardForm.get('eventLocation').hasError('pattern')" class="matError" style="color:red;">
                                      Event Location Accepts Only Alphabets.
                                  </mat-error>
                                  </mat-form-field> 
                                    </div>
                                </div>
                       </div>
                       <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-2 colInputHeader verticalEndCenter font-14 required-field">
                          Add File:
                            </div>
                            <div class="col-md-8 colInput no-padding-right">
                              <mat-form-field appearance="outline" class="borderInput font-13 ">
                                <input readonly matInput readonly placeholder="" formControlName="file">
                              </mat-form-field> 
                                </div>
                                <div class="col-md-2 verticalCenter">
                                  <label for="file-input" class="no-margin text-center" color="theme-gray-button" style="cursor:pointer;"  matTooltip="Image format should be .png/.jpg/.jpeg" matTooltipPosition="above">
                                      Upload File
                                  <!-- <input id="file-input"  type="file"  (change)="detectFiles($event)" accept=".png, .jpg, .jpeg" style="display: none;"/> -->
                                  <input id="file-input"  type="file"  multiple="" (change)="detectAwardFiles($event)" accept=".png, .jpg, .jpeg" style="display: none;"/>
                             </label>
                        
                                   
                              </div>
                                <!-- <div class="col-md-3 verticalCenter">
                                     
                                      <input id="file-input"  type="file" multiple (change)="detectFiles($event)" accept=".png, .jpg, .jpeg" />
                                    </div> -->
                            </div>
                       </div>
                   
                </div>
                  
                </form>
                <form [formGroup]="MaintainanceForm" #formMaintainance="ngForm" *ngIf="tabFlag == '4'"> 
                  <div class="row no-margin">
                      <div class="col-md-6">
                         <div class="row">
                                  <div class="col-md-4 colInputHeader verticalEndCenter font-14 required-field">
                                   Start Date: 
                                    </div>
                                    <div class="col-md-8 colInput">
                                      <mat-form-field appearance="outline" class="borderInput font-13" >
                                        <input matInput [min]="today"  formControlName="fromDate" readonly [matDatepicker]="picker22" placeholder="To">
                                        <mat-datepicker-toggle matSuffix [for]="picker22"></mat-datepicker-toggle>
                                        <mat-datepicker #picker22></mat-datepicker>
                                        <!-- <mat-error *ngIf="NewUpdatesForm.get('toDate').hasError('required')" class="matError">
                                            End Date is required.
                                        </mat-error> -->
                                      </mat-form-field>
                                      
                                        </div>
                                    </div>
                                  
                                       </div>
                      <div class="col-md-6">
                           <div class="row">
                                        <div class="col-md-4 colInputHeader verticalEndCenter font-14 required-field">
                                          End Date:
                                          </div>
                                          <div class="col-md-8 colInput">
                                            <mat-form-field appearance="outline" class="borderInput font-13">
                                              <input matInput [min]="MaintainanceForm.controls.fromDate.value" readonly  formControlName="toDate"  [matDatepicker]="picker11" placeholder="To">
                                              <mat-datepicker-toggle matSuffix [for]="picker11"></mat-datepicker-toggle>
                                              <mat-datepicker #picker11></mat-datepicker>
                                              <!-- <mat-error *ngIf="mar.get('toDate').hasError('required')" class="matError">
                                                  End Date is required.
                                              </mat-error> -->
                                            </mat-form-field>
                                             
                                              </div>
                                          </div>
                       </div>
                       <div class="col-md-12">
                          <div class="row">
                              <div class="col-md-2 colInputHeader verticalEndCenter font-14 required-field">
                                Add Content:
                                </div>
                                <div class="col-md-10 colInput">
                                  <mat-form-field appearance="outline" class="borderInput font-13">
                                    <!-- <mat-label>Type here</mat-label> -->
                                    <textarea matInput rows="3"  formControlName="content" ></textarea>
                                    <!-- <mat-error *ngIf="checkError('content', 'maxlength')" class="matError">
                                      Content can be up to 500 characters long.
                                  </mat-error> -->
                                  </mat-form-field>
                                  <!-- <div *ngIf="marqueeForm.controls['marqueeContent'].hasError('maxLength')">
                                    Maximum of 10 characters
                                  </div> -->
                                    </div>
                                </div>
                       </div>
                </div>
                  
                </form>
    </div>
    <div class="modal-footer">
      <div class="col text-center" *ngIf="tabFlag == '0'">
          <div class="primaryFormBtn disInlineBlock margin-right-10" *ngIf="actionFlag == 'add'">
              <button class="" color="theme-red-button" (click)="addMarquee('Add')">Save & Add More</button> 
            </div>
          <div class="primaryFormBtn disInlineBlock ">
              <button class="" color="theme-red-button" (click)="addMarquee('Close')" >Save & Close</button> 
          </div>
          </div>
          <div class="col text-center" *ngIf="tabFlag == '1'">
            <div class="primaryFormBtn disInlineBlock margin-right-10" *ngIf="actionFlag == 'add'">
                <button class="" color="theme-red-button" (click)="addNewUpdates('Add')">Save & Add More</button> 
              </div>
            <div class="primaryFormBtn disInlineBlock ">
                <button class="" color="theme-red-button"  (click)="addNewUpdates('Close')">Save & Close</button> 
            </div>
            </div>
            <div class="col text-center" *ngIf="tabFlag == '2'">
              <div class="primaryFormBtn disInlineBlock margin-right-10" *ngIf="actionFlag == 'add'">
                  <button class="" color="theme-red-button" (click)="addWhatsNew('Add')">Save & Add More</button> 
                </div>
              <div class="primaryFormBtn disInlineBlock ">
                  <button class="" color="theme-red-button" (click)="addWhatsNew('Close')">Save & Close</button> 
              </div>
              </div>
              <div class="col text-center" *ngIf="tabFlag == '3'">
                <div class="primaryFormBtn disInlineBlock margin-right-10" >
                    <button class="" color="theme-red-button" (click)="addAward('Add')">Save & Add More</button> 
                  </div>
                <div class="primaryFormBtn disInlineBlock ">
                    <button class="" color="theme-red-button" (click)="addAward('Close')">Save & Close</button> 
                </div>
              </div>
              <div class="col text-center" *ngIf="tabFlag == '4'">
                <div class="primaryFormBtn disInlineBlock margin-right-10" *ngIf="actionFlag == 'add'">
                    <button class="" color="theme-red-button" (click)="addMaintainanceText('add')">Save & Add More</button> 
                  </div>
                <div class="primaryFormBtn disInlineBlock ">
                    <button class="" color="theme-red-button" (click)="addMaintainanceText('Close')" >Save & Close</button> 
                </div>
              </div>
    </div>
  </ng-template>
  <!---Modal Structure Stop-->
  <!---modal structure for message board view and download history data-->
  <ng-template #showContent let-t="close" let-d="dismiss">
    <div class="modal-header">
      <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title" *ngIf="historyFlag =='messageBoard'">Message Board history</h3>
      <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title" *ngIf="historyFlag !='messageBoard'">Maintainance Message history</h3>
      <button type="button" style="    width: 20%;margin-left: 50%;"  class="verticalMiddleCenter" color="theme-green-button" *ngIf="historyFlag =='messageBoard'"  (click)="downloadExcel()">
        <!-- <mat-icon>close</mat-icon> -->
        <mat-icon  class="flex margin-right-10  excelCustIcon" svgIcon="excelIcon"></mat-icon>
        Export To Excel
       
      </button>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <mat-icon>close</mat-icon>
      </button>
    </div> 
    <div class="modal-body">
      <div class="col-md-12 padding height100">
      <div class="row" *ngIf="historyFlag =='maintainanceHistory'">
        <div class="col-md-6"></div>
        <div class="col-md-3 colInput">
          <mat-form-field appearance="outline" class="borderInput font-13">
              <input [(ngModel)]="fromDate" matInput (dateChange)="filterMaintainanceFrom(fromDate)"
              [matDatepicker]="fromHistoryDate22" placeholder="From Date">
              <mat-datepicker-toggle matSuffix [for]="fromHistoryDate22"></mat-datepicker-toggle>
              <mat-datepicker #fromHistoryDate22></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-3 colInput">
            <mat-form-field appearance="outline" class="borderInput font-13">
                <input [(ngModel)]="toDate" matInput (dateChange)="filterMaintainanceTo(toDate)"
                [matDatepicker]="fromHistoryDate11" placeholder="To Date">
                <mat-datepicker-toggle matSuffix [for]="fromHistoryDate11"></mat-datepicker-toggle>
                <mat-datepicker #fromHistoryDate11></mat-datepicker>
              </mat-form-field>
            </div>
      </div>
      <div class="row outerblock">
        <div class="col height100">
          <div class="example-container  tbl_New_Layout height100">
                <div class="table-container">
                  <table mat-table  #updatedEmployeeTable class="lessons-table" [dataSource]="historyDataSource1" *ngIf="historyFlag =='messageBoard'">
                   
                    <ng-container matColumnDef="SearchField">
                      <th mat-header-cell *matHeaderCellDef>Content</th>
                      <td mat-cell *matCellDef="let element">
                        <div class="font-13 padding-horizontal contentBlock" style="margin-left:9%;" [innerHtml]="element.ContentName | safePipe"> 
                        </div>
                        </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="Link">
                        <th mat-header-cell *matHeaderCellDef>User</th>
                        <td mat-cell *matCellDef="let element">
                         {{element.LikeViewUserID}}
                         </td>
                          <td mat-footer-cell *matFooterCellDef>  </td>
                      </ng-container>
                      <ng-container matColumnDef="Likes">
                        <th mat-header-cell *matHeaderCellDef>Likes</th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.Likes }}                      </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                      </ng-container>
                  
                    
                                
                      <tr mat-header-row  *matHeaderRowDef="displayedColumns3;sticky: true"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns3"></tr>
                      <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns2"></tr> -->
                    </table>
                    <table mat-table  #maintainanceTable class="lessons-table" [dataSource]="historyDataSource1" *ngIf="historyFlag =='maintainanceHistory'">
                   
                      <ng-container matColumnDef="SearchField">
                        <th mat-header-cell *matHeaderCellDef>Maintainance Message</th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.Message }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                      </ng-container>
                      <ng-container matColumnDef="Link">
                          <th mat-header-cell *matHeaderCellDef>From Date</th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.FromDate  | date: 'dd/MM/yyyy' || "N/A" }}
                            </td>
                            <td mat-footer-cell *matFooterCellDef>  </td>
                        </ng-container>
                        <ng-container matColumnDef="Link1">
                          <th mat-header-cell *matHeaderCellDef>To Date</th>
                          <td mat-cell *matCellDef="let element">
                            {{ element.ToDate  | date: 'dd/MM/yyyy' || "N/A" }}
                            </td>
                            <td mat-footer-cell *matFooterCellDef>  </td>
                        </ng-container>
                    
                      
                                  
                        <tr mat-header-row  *matHeaderRowDef="maintainanceDisplayedColumns;sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: maintainanceDisplayedColumns"></tr>
                        <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns2"></tr> -->
                      </table>
                    </div>
                    <div *ngIf="updatedEmpDetails">
                      <div *ngIf="updatedEmpDetails.length === 0">No records found</div>
                    </div>
                   
                    <mat-paginator [length]="pageSize" [pageSize]="10" [pageIndex]="pageNo" (page)="viewHistory($event,'messageBoard')"
                    *ngIf="historyFlag =='messageBoard'">
                    </mat-paginator>
                               
                    <mat-paginator [length]="pageSize" [pageSize]="10" [pageIndex]="pageNo" (page)="viewHistory($event,maintainanceHistory)"
                    *ngIf="historyFlag =='maintainanceHistory'">
                    </mat-paginator>
                  
                </div>
          </div>
    </div>
  </div>
    
    </div>
    <div class="modal-footer">
      <!-- <div class="col text-center">
          <div class="primaryFormBtn disInlineBlock margin-right-10">
              <button  color="theme-red-button" (click)="addSearch()">Add</button> 
            </div>
          </div> -->
    </div>
  </ng-template>
  <!--end of message board history-->