@import '../../variable.scss';



.CMSDashboard{
  /deep/ {
    .mat-tab-group.customVerticalTab {
        flex-direction: row;
    
    .mat-tab-header {
      border-bottom: none;
    }
    .mat-tab-header-pagination {
        display: none !important;
    }
    .mat-tab-labels {
        flex-direction: column;
    }
    .mat-ink-bar {
        height: 100%;
        left: 98% !important;
    }
    .mat-tab-body-wrapper {
        flex: 1 1 auto;
    }
  }
  }
  .amcharts-chart-div a {display:none !important;}
  .pdfhover:hover{
    cursor: pointer !important;
    color:green;
    }
  .inactiveButton{
    display: inline-block;
    width: 47%;
    margin-right: 5%;
  }
  .updateButton{
    display: inline-block;
    width: 47%;
    // margin-right: 5%;
  }
  .draggableHdr{
    background: #888888;
    color: $color-white-default;
    padding: 10px;
  }
  .draggableHdr,.draggableRow{
    .custWidthIcon{
      flex: 0 0 5% !important;
      max-width: 5% !important;
      cursor: move;
    }
    .custWidthButton{
      flex: 0 0 11% !important;
      max-width: 11% !important;
    }
  }
  .pointer {cursor: pointer;}
  // .draggableListBlock{
  //   .draggableRow{
  //     background: #EFEFEF;
  //     padding: 5px;
      
  //     .imgBlock{
  //       width:15%;
  //       display: inline-block;
  //      background-repeat: no-repeat;
  //       background-size: 100% 100%;
  //       height: 35px;
  //     }
  //     .contentBlock{
  //       width:85%;display: inline-block;
  //     }
  //   }
  // }
  // .draggableListBlock.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  //   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  // }
  .required-field::after {
    content: "*";
    color: red;
}
.hideColumn{
  display: none !important;
}
.hideColumn2{
  display: none !important;
}
.hideColumn3{
  display: none !important;
}
.textbreak{
  word-break: break-all !important;
}
.hideSomeContent{
 // margin:0; white-space: nowrap !important; 
   overflow: hidden !important;
//   //min-width:
//   display: block;
   text-overflow: ellipsis !important;
//overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 4;
-webkit-box-orient: vertical;
}
.hideSomeContent:hover{
  overflow: visible !important;
  word-break: break-all !important;
  display: -webkit-box;
-webkit-line-clamp:initial;
  // -webkit-line-clamp: 7;
}
//  .cdk-drag-preview {
//     box-sizing: border-box;
//     border-radius: 4px;
//     box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
//                 0 8px 10px 1px rgba(0, 0, 0, 0.14),
//                 0 3px 14px 2px rgba(0, 0, 0, 0.12);
//   }
  
  // .cdk-drag-placeholder {opacity: 0;}
  .borderInput{
        ::ng-deep .mat-form-field-infix{border-top: 0px !important;}
        ::ng-deep .mat-form-field-wrapper{padding-bottom: 0px;}
        }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: rgba(0,0,0,.12); }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{border-width: 1px !important;}
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{border-width: 1px !important;}
        /deep/.mat-select-arrow-wrapper{
          display: flex;
          align-items: center;
          justify-content: center;
        }
        ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
          color: red!important;
          opacity: 0.8!important;
        }
  //  /deep/ .mat-tab-label-active:after{
  //     content: '';
  //     width: 0;
  //     height: 0;
  //     border-style: solid;
  //     border-width: 50px 0 50px 200px;
  //     border-color: transparent transparent transparent #007bff;

  //   }
  /deep/ .mat-tab-label-active{
    border-right: 2px solid $color-primary-default !important;
    opacity: 1 !important;
    background: #f7f6f6;
    mat-tab-label-content{
    color: $color-foreground-default !important;
    font-weight: 600 !important;
    
    }

  }
  /deep/ .mat-ink-bar{
    display: none !important;
  }
  .vertcalAligment{
    margin: .25em 0;
  }



  label.myLabel input[type="file"] {
    position:absolute;
    top: -1000px;
  }
  // .imgBlock{
  //   height: 100%;
  //   border-radius: 3px;
  //   border: 1px solid #e6e6e6;
  //   width: 100%;
  //   padding: 5px;
  //   display: flex;
  //   height: 90px;
  //   align-items: center;
  //   justify-content: center;
  //   .outerImgBlock{
  //       height: 70%;
  //       width: 70%;
  //       img{
  //           height: 100%;
  //           width: 100%;
  //           margin: auto;
  //       }
  //   }
   
    
  // }
  .myLabel {
    border: 1px solid gray;
    border-radius: 3px;
    padding: 10px 9px;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 90px;
    .attachIconBlock{
        height: 100%;
        width: 100%;
        margin: auto;
        padding: 5px 0px;
    }
    ion-icon{
      font-size: 3rem;
      color: #444444;  
    }
    span{
      display: flex;
      justify-content: space-around;
      font-size: 11px;
      color: #777070;
      font-weight: 600;
    }

  } 
  .image-upload>input {
    display: none;
  }
  .filterContainer{
    .filterInput{
      flex: 0 0 30%;
      max-width: 30%;
    }
    .filterBtn{
      flex: 0 0 10%;
      max-width: 10%;
    }
  }
  .example-container.tbl_New_Layout .table-container {
    height: 50vh;
  }
      }