<div class="container-fluid roleBasedAccess padding">
    <div class="grid">
      <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
            <div class="row width100 verticalCenter">
            <div class="col-md-6">
            <h4 class="no-margin">Role Based Access</h4>
            </div>
            <div class="col-md-6 no-padding">
            <p class="no-margin font-13 width100 flex verticalEndCenter">
              <span class="pointer" routerLink="/adminDashboard" routerDirection="backward">Home</span><mat-icon>chevron_right</mat-icon>
            <span class="secondaryMenu">Role Based Access</span> 
            </p>
            </div>
            </div>
            </div>

        <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
            <mat-card class="no-padding mainOuterCardContainer">
                <mat-tab-group flex="1" class="customTab height100" (selectedTabChange)="tabClick($event)">
                    <mat-tab label="Role Master">
                        <mat-card class="no-shadow no-padding">
                            <mat-card-content>
                                <div class="col-md-12 no-padding margin-top">
                                    <div class="row no-margin">
                                        <div class="col-md-12 verticalEndCenter no-padding">
                                            <div class="col-md-2 btnBlockConatiner">
                                                <button color="theme-green-button" (click)="open(content,'')" class="verticalMiddleCenter">
                                                    <mat-icon class="margin-right-5">add</mat-icon>Add
                                                </button>
                                            </div>
                                         </div>
                                    </div>
                                    <hr>
                                    <div class="row no-margin">
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <div class="row draggableHdr">
                                                    <div class="col-md-2 no-padding">
                                                        <div>
                                                            <p class="font-13 no-margin">Role</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 no-padding">
                                                        <div>
                                                            <p class="font-13 no-margin">Role Id</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7 no-padding">
                                                        <div>
                                                            <p class="font-13 no-margin">Role Description</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1 no-padding">
                                                        <div>
                                                            <p class="font-13 no-margin">Action</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid internalPanelCustomScroll">
                                                <div class="col-md-12 no-padding-left padding-right-10">
                                                    <div *ngFor="let data of activeRoles;let i=index"
                                                        class="row questionList  verticalCenter border-radius-3 margin-vertical-10">
                                                        <div class="col-md-2 no-padding">
                                                            <div>
                                                                <p class="font-13 no-margin">{{data.RoleName}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 no-padding">
                                                            <div class="">
                                                                <p class="font-13 no-margin">{{data.RoleId}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-7 no-padding">
                                                            <div class="">
                                                                <p class="font-13 no-margin">{{data.RoleDescription}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1 no-padding custWidthButton">
                                                            <div *ngIf="data.IsActive">
                                                                <button id="btn{{i}}" #btn
                                                                    (click)="ActiveInactiveRole(data,btn)"
                                                                    color="theme-pink-button"
                                                                    class="verticalMiddleCenter">Inactive</button>
                                                            </div>
                                                            <div *ngIf="!data.IsActive">
                                                                <button id="btn{{i}}" #btn
                                                                    (click)="ActiveInactiveRole(data,btn)"
                                                                    color="theme-green-button"
                                                                    class="verticalMiddleCenter">Active</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 no-padding" *ngIf="activeRoles.length==0">
                                                    <div>
                                                        <p class="no-margin">No Record Found</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>

                    </mat-tab>
                    <mat-tab label="Navigation">
                        <mat-card class="no-shadow no-padding">
                            <mat-card-content>
                                <div class="col-md-12 no-padding margin-top">
                                     <div class="row no-margin">
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                                            Select Role:
                                                        </div>
                                                        <div class="col-md-8 colInput">
                                                            <mat-form-field appearance="outline" class="borderInput font-13">
                                                                <mat-select [(ngModel)]="rolebase_access_ddl" placeholder="Select Category" (selectionChange)="getAllNavigationMenuData($event.value)">
                                                                    <mat-option  value="">Select Role</mat-option>                       
                                                                    <mat-option *ngFor="let data of Roles_Navigation" [value]="data.RoleId">{{data.RoleName}}</mat-option>                       
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6"></div>
                                                <div class="col-md-2 verticalEndCenter btnBlockConatiner">
                                                    <button color="theme-green-button" (click)="open(Navigationcontent,'Navigationcontent')" class="verticalMiddleCenter">
                                                        <mat-icon class="margin-right-5">add</mat-icon>Add
                                                    </button>
                                                </div>
                                        </div> 
                                    <hr>
                                    <div class="row no-margin">
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <div class="row draggableHdr">
                                                    <div class="col-md-2 no-padding">
                                                        <div>
                                                            <p class="font-13 no-margin">Role</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 no-padding">
                                                        <div>
                                                            <p class="font-13 no-margin">Sub Menu</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7 no-padding">
                                                        <div>
                                                            <p class="font-13 no-margin">Path</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1 no-padding">
                                                        <div>
                                                            <p class="font-13 no-margin">Action</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid internalPanelCustomScroll">
                                                <div class="col-md-12 no-padding-left padding-right-10">
                                                    <div *ngFor="let data of Navigation_Menu_Data"
                                                        class="row questionList  verticalCenter border-radius-3 margin-vertical-10">
                                                        <div class="col-md-2 no-padding">
                                                            <div>
                                                                <p class="font-13 no-margin">{{data.RoleName}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 no-padding">
                                                            <div class="">
                                                                <p class="font-13 no-margin">{{data.NavigationName}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-7 no-padding">
                                                            <div class="">
                                                                <p class="font-13 no-margin">{{data.NavigationPAth}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1 no-padding custWidthButton">
                                                            <div *ngIf="data.IsActive">
                                                                <button color="theme-pink-button"
                                                                    id="btn{{i}}"
                                                                    (click)="ActiveInActiveNavigationRole(data,false)"
                                                                    class="verticalMiddleCenter">Inactive
                                                                </button>
                                                            </div>
                                                            <div *ngIf="!data.IsActive">
                                                                <button color="theme-green-button"
                                                                    id="btn{{i}}" #btn
                                                                    (click)="ActiveInActiveNavigationRole(data,true)"
                                                                    class="verticalMiddleCenter">Active
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <div class="col-md-3 no-padding" *ngIf="Navigation_Menu_Data.length==0">
                                                    <div>
                                                        <p class="no-margin">No Record Found</p>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </mat-tab>
                    <mat-tab label="Role Based Access">
                        <mat-card class="no-shadow no-padding">
                            <mat-card-content>
                                <div class="col-md-12 no-padding margin-top">
                                    <div class="row no-margin">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                                    Select Role:
                                                </div>
                                                <div class="col-md-8 colInput">
                                                    <mat-form-field appearance="outline" class="borderInput font-13">
                                                        <mat-select [(ngModel)]="rolebase_access_ddl" placeholder="Select Category" (selectionChange)="getAllRoleBaseData($event.value)">
                                                            <mat-option  value="">Select Role</mat-option>                       
                                                            <mat-option *ngFor="let data of Roles_Navigation" [value]="data.RoleId">{{data.RoleName}}</mat-option>                       
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row no-margin">
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <div class="row draggableHdr">
                                                    <div class="col-md-2 no-padding">
                                                        <div>
                                                            <p class="font-13 no-margin">Role</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 no-padding">
                                                        <div>
                                                            <p class="font-13 no-margin">Role Id</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7 no-padding">
                                                        <div>
                                                            <p class="font-13 no-margin">Role Description</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1 no-padding">
                                                        <div >
                                                            <p class="font-13 no-margin">  Action</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid internalPanelCustomScroll">
                                                <div *ngFor="let data of RoleBased_Menu_Data" class="col-md-12 no-padding-left padding-right-10">
                                                    <div
                                                        class="row questionList  verticalCenter border-radius-3 margin-vertical-10">
                                                        
                                                        <div class="col-md-2 no-padding">
                                                            <div>
                                                                <p class="font-13 no-margin">{{data.RoleName}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 no-padding">
                                                            <div class="">
                                                                <p class="font-13 no-margin">{{data.RoleId}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-7 no-padding">
                                                            <div class="">
                                                                <p class="font-13 no-margin">{{data.RoleDescription}}</p>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-1 no-padding custWidthButton text-center">
                                                            <div style="cursor: pointer;margin-right: 40%;" (click)="getRoleByIdDescription(data,RoleDescription)">
                                                                <mat-icon svgIcon="viewIcon" matTooltip="View Description"></mat-icon>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 no-padding" *ngIf="RoleBased_Menu_Data.length==0">
                                                    <div>
                                                        <p class="no-margin">No Record Found</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </mat-tab>
                    <mat-tab label="Main Menu Access">
                        <mat-card class="no-shadow no-padding">
                            <mat-card-content>
                                <div class="col-md-12 no-padding margin-top">
                                     <div class="row no-margin">
                                                <div class="col-md-4">
                                                   
                                                </div>
                                                <div class="col-md-6"></div>
                                                <div class="col-md-2 verticalEndCenter btnBlockConatiner">
                                                    <button color="theme-green-button" (click)="open(Navigationcontent,'mainMenuAccess')" class="verticalMiddleCenter">
                                                        <mat-icon class="margin-right-5">add</mat-icon>Add
                                                    </button>
                                                </div>
                                        </div> 
                                    <hr>
                                    <div class="row no-margin">
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <div class="row draggableHdr">
                                                    <div class="col-md-3 no-padding">
                                                        <div>
                                                            <p class="font-13 no-margin">Navigation Name</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 no-padding">
                                                        <div>
                                                            <p class="font-13 no-margin">Navigation Description</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7 no-padding">
                                                        <div>
                                                            <p class="font-13 no-margin">Path</p>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="col-md-1 no-padding">
                                                        <div>
                                                            <p class="font-13 no-margin">Action</p>
                                                        </div>
                                                    </div> -->
                                                </div>
                                            </div>
                                            <div class="grid internalPanelCustomScroll">
                                                <div class="col-md-12 no-padding-left padding-right-10">
                                                    <div *ngFor="let data of Navigation_Menu_Data1"
                                                        class="row questionList  verticalCenter border-radius-3 margin-vertical-10">
                                                        <div class="col-md-3 no-padding">
                                                            <div>
                                                                <p class="font-13 no-margin">{{data.NavigationName}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 no-padding">
                                                            <div class="">
                                                                <p class="font-13 no-margin">{{data.NavigationDescription}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 no-padding">
                                                            <div class="">
                                                                <p class="font-13 no-margin">{{data.NavigationURL}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 no-padding">
                                                           <div class="flex"><button color="theme-green-button"
                                                            (click)="openUpdateModal(data,updateNavigationcontent)"
                                                            class="verticalMiddleCenter">Update
                                                        </button>
                                                        <button color="theme-gray-button" style="margin-left: 2%;"
                                                            (click)="deleteMenuByID(data.NavigationId,updateNavigationcontent)"
                                                            class="verticalMiddleCenter">Delete
                                                        </button></div>
                                                        </div>
                                                        <!-- <div class="col-md-1 no-padding custWidthButton">
                                                            <div *ngIf="data.IsActive">
                                                                <button color="theme-pink-button"
                                                                    id="btn{{i}}"
                                                                    (click)="ActiveInActiveNavigationRole(data,false)"
                                                                    class="verticalMiddleCenter">Inactive
                                                                </button>
                                                            </div>
                                                            <div *ngIf="!data.IsActive">
                                                                <button color="theme-green-button"
                                                                    id="btn{{i}}" #btn
                                                                    (click)="ActiveInActiveNavigationRole(data,true)"
                                                                    class="verticalMiddleCenter">Active
                                                                </button>
                                                            </div>
                                                        </div> -->
                                                    </div>
                                                <div class="col-md-3 no-padding" *ngIf="Navigation_Menu_Data1.length==0">
                                                    <div>
                                                        <p class="no-margin">No Record Found</p>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </mat-tab>
                </mat-tab-group>
            </mat-card>
        </div>

        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">{{banner_name}}</h3>
                <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                    <mat-icon #closeModalonclick>close</mat-icon>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="Role_Master_Form" #form="ngForm">
                    <div class="row no-margin">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 colInputHeader verticalEndTop font-14">
                                    Add Role<span style="color: red;">*</span>:
                                </div>
                                <div class="col-md-8 colInput">
                                    <mat-form-field appearance="outline" class="borderInput font-13">
                                        <input autocomplete="off" onPaste="return false" (change)="isFormvalid()" (keypress)="lettersOnly($event)" matInput formControlName="Add_Role">
                                        <mat-error *ngIf=" Role_Master_Form.get('Add_Role').hasError('required')">Role is required</mat-error>
                                    </mat-form-field>

                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 colInputHeader verticalEndTop font-14">
                                    Role Description<span style="color: red;">*</span>:
                                </div>
                                <div class="col-md-8 colInput">
                                    <mat-form-field appearance="outline" class="borderInput font-13">
                                        <textarea (change)="isFormvalid()" matInput rows="3" appInputListener formControlName="Role_Description"></textarea>
                                        <mat-error
                                            *ngIf=" Role_Master_Form.get('Role_Description').hasError('required')">Role
                                            Description is required</mat-error>
                                    </mat-form-field>

                                </div>
                            </div>
                        </div>

                        <div class="spacer col-md-12"></div>
                            <div class="col-md-8 offset-md-2 uploadBlock">
                                <div class="col-md-10 offset-md-1">
                                    <div class="row ">
                                        <div class="col-md-2 colInputHeader verticalEndCenter font-14 no-padding">
                                            Bulk Upload:
                                        </div>
                    
                                        <div class="col-md-4 colInput no-padding-right">
                                            <mat-form-field appearance="outline" class="borderInput font-13 ">
                                                <input matInput placeholder="" formControlName="Bulk_Upload">
                                            </mat-form-field>
                                          </div>
                    
                                        <div class="col-md-3 verticalCenter no-padding-left no-padding-right">
                                            <label matTooltip="File format should be .xlsx" matTooltipPosition="above" for="file-input" class="no-margin text-center vertcalAligment"
                                            color="theme-gray-button">
                                            Upload File
                                            <input id="file-input" type="file" #fileInput (click)="fileInput.value = null" 
                                            (change)="detectFiles($event,form,1)"
                                            accept=".xlsx" style="display: none;" />
                                        </label>
                                          </div>
                                              <div class="col-md-3 no-padding-right">
                                                <div class="vertcalAligment">
                                                  <button (click)="DownloadSampleTemplate('Role master')" color="theme-green-button" class="verticalMiddleCenter">
                                                    <mat-icon  class="flex margin-right-10 disInlineBlock" svgIcon="excelIcon"></mat-icon>
                                                    Download</button>
                                                 </div>
                                              </div>
                                        </div>
                                </div>
                               
                              </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <div class="col text-center">
                    <div class="primaryFormBtn disInlineBlock margin-right-10">
                        <button (click)="InsertRoleData(form)" color="theme-red-button">Save & Add More</button>
                    </div>
                    <div class="primaryFormBtn disInlineBlock ">
                        <button class="" (click)="InsertRoleData(form,closeModalonclick)" color="theme-red-button">Save & Close</button>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template #Navigationcontent  let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">{{banner_name}}</h3>
                <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                    <mat-icon #closeNavigation>close</mat-icon>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="Navigation_Form" #Navigationform="ngForm"  *ngIf="mainMenuFlag =='Navigationcontent'">
                    <div class="col-md-12 no-padding margin-top">
                        <div class="row no-margin">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                        Menu<span style="color: red;">*</span>:
                                    </div>
                                    <div class="col-md-8 colInput">
                                        <mat-form-field appValidateFiled appearance="outline" class="borderInput">
                                            <mat-select placeholder="Select Category" formControlName="Menu" (selectionChange)="getSubMenuForNavigation($event)" (change)="isNavigationFormvalid()">
                                                <mat-option *ngFor="let data of Menu_Navigation" [value]="data.NavigationId">{{data.NavigationName}}</mat-option>
                                                <!-- <mat-option value="2">Cost </mat-option> -->
                                            </mat-select>
                                            <mat-error *ngIf=" Navigation_Form.get('Menu').hasError('required')">Menu is
                                                required</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                        Sub Menu:
                                    </div>
                                    <div class="col-md-8 colInput">
                                        <mat-form-field appearance="outline" class="borderInput">
                                            <mat-select placeholder="Select Category" formControlName="Sub_Menu" (selectionChange)="getReportForNavigation($event)" (change)="isNavigationFormvalid()">
                                                <mat-option *ngFor="let data of Sub_Menu_Navigation" [value]="data.NavigationId">{{data.NavigationName}} </mat-option>
                                                <!-- <mat-option value="2">Cost </mat-option> -->
                                            </mat-select>
                                            <mat-error *ngIf=" Navigation_Form.get('Sub_Menu').hasError('required')">Sub
                                                Menu is required</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                        Select:
                                    </div>
                                    <div class="col-md-8 colInput">
                                        <!-- <mat-form-field appearance="outline" class="borderInput">
                                            <mat-select placeholder="Select Category" formControlName="Select" (change)="isNavigationFormvalid()">
                                                <mat-option *ngFor="let data of Select_Navigation" [value]="data.NavigationId">{{data.NavigationName}} </mat-option>
<mat-option value="2">Cost </mat-option>  
                                            </mat-select>
                                            <mat-error *ngIf=" Navigation_Form.get('Select').hasError('required')">Sub
                                                Menu is required</mat-error>
                                        </mat-form-field> -->

                                        <ng-multiselect-dropdown [placeholder]="'Select'" [data]="Select_Navigation" [(ngModel)]="selectedItems" [ngModelOptions]="{standalone: true}"
                                            [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                        </ng-multiselect-dropdown>
                                    </div>
                                </div>
                               

                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                        Select Role<span style="color: red;">*</span>:
                                    </div>
                                    <div class="col-md-8 colInput">
                                        <mat-form-field appearance="outline" class="borderInput">
                                            <mat-select placeholder="Select Category" formControlName="Role" (selectionChange)="isNavigationFormvalid()">
                                                <mat-option *ngFor="let data of Roles_Navigation" [value]="data.RoleId">{{data.RoleName}}</mat-option>
                                                <!-- <mat-option value="2">Cost </mat-option> -->
                                            </mat-select>
                                            <mat-error *ngIf=" Navigation_Form.get('Role').hasError('required')">Role is
                                                required</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                        Select Report:
                                    </div>
                                    <div class="col-md-8 colInput">
                                        <mat-form-field appearance="outline" class="borderInput">
                                            <mat-select placeholder="Select Category" formControlName="Report" (selectionChange)="getSelectMenuForNavigation($event)" (change)="isNavigationFormvalid()">
                                                <mat-option *ngFor="let data of Report_Navigation" [value]="data.NavigationId">{{data.NavigationName}} </mat-option>
                                                <!-- <mat-option value="2">Cost </mat-option> -->
                                            </mat-select>
                                            <mat-error *ngIf=" Navigation_Form.get('Report').hasError('required')">
                                                Report is required</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                           <div class="spacer col-md-12"></div>
                            <div class="col-md-8 offset-md-2 uploadBlock">
                                <div class="col-md-10 offset-md-1">
                                    <div class="row ">
                                        <div class="col-md-2 colInputHeader verticalEndCenter font-14 no-padding">
                                            Bulk Upload:
                                        </div>
                    
                                        <div class="col-md-4 colInput no-padding-right">
                                            <mat-form-field appearance="outline" class="borderInput font-13 ">
                                                <input matInput placeholder="" formControlName="Bulk_Upload">
                                            </mat-form-field>
                                          </div>
                    
                                        <div class="col-md-3 verticalCenter no-padding-left no-padding-right">
                                            <label matTooltip="File format should be .xlsx" matTooltipPosition="above" for="file-input" class="no-margin text-center vertcalAligment"
                                            color="theme-gray-button">
                                            Upload File
                                            <input id="file-input" type="file" #fileInput1 (click)="fileInput1.value = null" (change)="detectFiles($event,Navigationform,2)"
                                                accept=".xlsx" style="display: none;" />
                                        </label>
                                          </div>
                                              <div class="col-md-3 no-padding-right">
                                                <div class="vertcalAligment">
                                                  <button (click)="DownloadSampleTemplate('Navigation Sample')" color="theme-green-button" class="verticalMiddleCenter">
                                                    <mat-icon  class="flex margin-right-10 disInlineBlock" svgIcon="excelIcon"></mat-icon>
                                                    Download</button>
                                                 </div>
                                              </div>
                                        </div>
                                </div>
                               
                              </div>
                        </div>

                    </div>

                </form>
                <form [formGroup]="mainMenuAccess_Form" #mainMenuAccess_Formform="ngForm" *ngIf="mainMenuFlag =='mainMenuAccess'">
                    <div class="col-md-12 no-padding margin-top">
                        <!-- <div class="row" style="margin-left: 10%;">
                         
                                <mat-radio-group
                                [(ngModel)]="menuType">
                                <mat-radio-button class="example-radio-button" *ngFor="let season of typeList" [value]="season"
                                (change)="radioChange(season)">
                                  {{season}}
                                </mat-radio-button>
                              </mat-radio-group>
                                                  
                        </div> -->
          
                        <div class="row no-margin" >
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                        Navigation Name <span style="color: red;">*</span>:
                                    </div>
                                    <div class="col-md-8 colInput">
                                        <mat-form-field appearance="outline" class="borderInput">
                                            <input matInput placeholder="" formControlName="navigationName" (keypress)="lettersOnly($event)" >
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                        Navigation Description:
                                    </div>
                                    <div class="col-md-8 colInput">
                                        <mat-form-field appearance="outline" class="borderInput">
                                            <input matInput placeholder="" formControlName="navigationDesc" (keypress)="lettersOnly($event)" >
                                        </mat-form-field>
                                    </div>
                                </div>                          
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                        Navigation URL <span style="color: red;">*</span>:
                                    </div>
                                    <div class="col-md-8 colInput">
                                        <mat-form-field appearance="outline" class="borderInput">
                                            <input matInput placeholder=""   formControlName="navigationLink"  matTooltip="note : please enter navigation name only" >
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                        Navigation Type:
                                    </div>
                                    <div class="col-md-8 colInput" style="margin-top:2%;">
                                        <mat-radio-group formControlName="menuType">
                                            <!-- [(ngModel)]="menuType"> -->
                                            <mat-radio-button class="example-radio-button" *ngFor="let season of typeList" [value]="season"
                                            (change)="radioChange(season)">
                                              {{season}}
                                            </mat-radio-button>
                                          </mat-radio-group>
                                        <!-- <mat-form-field appearance="outline" class="borderInput">
                                            <input matInput placeholder=""   formControlName="navigationICon" (keypress)="lettersOnly($event)" >
                                        </mat-form-field> -->
                                    </div>
                                 
                                </div>
                            </div>
                          
                        
                        </div>
                        <div class="row no-margin" *ngIf="menuType !=''">
                            <div class="col-md-6">
                                <div class="row" *ngIf="menuType =='Sub menu'">
                                    <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                        Menu :
                                    </div>
                                    <div class="col-md-8 colInput">
                                        <mat-form-field appValidateFiled appearance="outline" class="borderInput">
                                            <mat-select placeholder="Select Category" formControlName="Menu" (selectionChange)="getSubMenuForNavigation1($event)" (change)="isNavigationFormvalid()">
                                                <mat-option *ngFor="let data of Menu_Navigation" [value]="data.NavigationId">{{data.NavigationName}}</mat-option>
                                                <!-- <mat-option value="2">Cost </mat-option> -->
                                            </mat-select>
                                            <!-- <mat-error *ngIf="mainMenuAccess_Form.get('Menu').hasError('required')">Menu is
                                                required</mat-error> -->
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row" *ngIf="menuType =='Sub menu'">
                                    <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                        Select Report:
                                    </div>
                                    <div class="col-md-8 colInput">
                                        <mat-form-field appearance="outline" class="borderInput">
                                            <mat-select placeholder="Select Category" formControlName="Report" (selectionChange)="getSelectMenuForNavigation($event)" (change)="isNavigationFormvalid()">
                                                <mat-option *ngFor="let data of Report_Navigation" [value]="data.NavigationId">{{data.NavigationName}} </mat-option>
                                              
                                            </mat-select>
                                           
                                        </mat-form-field>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                        Select Role<span style="color: red;">*</span>:
                                    </div>
                                    <div class="col-md-8 colInput">
                                        <mat-form-field appearance="outline" class="borderInput">
                                            <mat-select placeholder="Select Category" formControlName="Role" (selectionChange)="isNavigationFormvalid()">
                                                <mat-option *ngFor="let data of Roles_Navigation" [value]="data.RoleId">{{data.RoleName}}</mat-option>
                                               
                                            </mat-select>
                                            <mat-error *ngIf="mainMenuAccess_Form.get('Role').hasError('required')">Role is
                                                required</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div> -->

                             </div>
                            <div class="col-md-6">
                                <div class="row" *ngIf="menuType =='Sub menu'">
                                    <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                        Sub Menu:
                                    </div>
                                    <div class="col-md-8 colInput">
                                        <mat-form-field appearance="outline" class="borderInput">
                                            <mat-select placeholder="Select Category" formControlName="Sub_Menu" (selectionChange)="getReportForNavigation1($event)" (change)="isNavigationFormvalid()">
                                                <mat-option *ngFor="let data of Sub_Menu_Navigation" [value]="data.NavigationId">{{data.NavigationName}} </mat-option>
                                                <!-- <mat-option value="2">Cost </mat-option> -->
                                            </mat-select>
                                            <!-- <mat-error *ngIf="mainMenuAccess_Form.get('Sub_Menu').hasError('required')">Sub
                                                Menu is required</mat-error> -->
                                        </mat-form-field>
                                    </div>
                                </div>
                                <!-- <div class="row" *ngIf="menuType =='Sub menu'">
                                    <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                        Select Report:
                                    </div>
                                    <div class="col-md-8 colInput">
                                        <mat-form-field appearance="outline" class="borderInput">
                                            <mat-select placeholder="Select Category" formControlName="Report" (selectionChange)="getSelectMenuForNavigation($event)" (change)="isNavigationFormvalid()">
                                                <mat-option *ngFor="let data of Report_Navigation" [value]="data.NavigationId">{{data.NavigationName}} </mat-option>
                                              
                                            </mat-select>
                                           
                                        </mat-form-field>
                                    </div>
                                </div> -->
                            </div> 
                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
           
                <div class="col text-center" *ngIf="menuType !=''">
                    <!-- <div class="primaryFormBtn disInlineBlock margin-right-10">
                        <button type="submit" (click)="addNavigation(Navigationform)" color="theme-red-button">Save & Add More11</button>
                    </div> -->
                    <div class="primaryFormBtn disInlineBlock " *ngIf="mainMenuFlag =='mainMenuAccess'">
                        <button (click)="addNavigation(Navigationform,closeNavigation,navigationName,navigationURL)" color="theme-red-button">Save & Close</button>
                    </div>
                    <div class="primaryFormBtn disInlineBlock " *ngIf="mainMenuFlag =='Navigationcontent'">
                        <button (click)="AssigenMenuRoleWise(Navigationform,closeNavigation)" color="theme-red-button">Save & Close</button>
                    </div>  
                </div>
            </div>
        </ng-template>

        <ng-template #RoleDescription let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">{{banner_name}}</h3>
                <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                    <mat-icon #closeModalonclick>close</mat-icon>
                </button>
            </div>
            <div class="modal-body tblBlock">
                <div class="example-container height100 tbl_New_Layout">
                    <div class="table-container height100">
                  <table #table mat-table class="lessons-table" [dataSource]="description_data">
                 <!-- <ng-container matColumnDef="Role">
                      <th mat-header-cell *matHeaderCellDef>Role</th>
                      <td mat-cell *matCellDef="let element" class="text-center" (click)="getDashBoardDataById(element)">
                      {{ element.RoleName || "N/A" }}
                      </td>
                    </ng-container> -->
                    <ng-container matColumnDef="Role ID">
                        <th mat-header-cell *matHeaderCellDef>Role ID</th>
                        <td mat-cell *matCellDef="let element" >
                          {{ element.RoleId || "N/A" }}
                          </td>
                      </ng-container>
                      <ng-container matColumnDef="Role Description">
                            <th mat-header-cell *matHeaderCellDef>Navigation ID</th>
                            <td mat-cell *matCellDef="let element" text-center>
                              {{ element.NavigationId || "N/A" }}
                              </td>
                           </ng-container>
                           <ng-container matColumnDef="IsAdmin">
                            <th mat-header-cell *matHeaderCellDef>Navigation Page Name</th>
                            <td mat-cell *matCellDef="let element" text-center>
                              {{ element.NavigationName }}
                              </td>
                           </ng-container>
                           <ng-container matColumnDef="CreatedBy">
                            <th mat-header-cell *matHeaderCellDef>Navigation Path</th>
                            <td mat-cell *matCellDef="let element" text-center>
                              {{ element.NavigationPAth=="//"?'':element.NavigationPAth }}
                              <!-- {{element.NavigationPAth.includes('//')?element.NavigationPAth.replace('//',''):element.NavigationPAth}} -->
                              </td>
                           </ng-container>
                           <ng-container matColumnDef="IsActive">
                            <th mat-header-cell *matHeaderCellDef>Status</th>
                            <td mat-cell *matCellDef="let element" text-center>
                              {{ element.IsActive?'Active':'Inactive' }}
                              </td>
                           </ng-container>
                          
                          
                                  
                               
                      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                  </table>
                  <div *ngIf="description_data.length === 0">No Record Found</div>
                  </div>
                  <!-- <mat-paginator #paginator [length]="10" [pageSize]="10" [showFirstLastButtons]="true"
                  (page)="pageEvent = getPageChangeData($event)">
                </mat-paginator> -->
              </div>
            </div>
            <!-- <div class="modal-footer">
                <div class="col text-center">
                    <div class="primaryFormBtn disInlineBlock margin-right-10">
                        <button (click)="InsertRoleData(form)" color="theme-red-button">Save & Add More</button>
                    </div>
                    <div class="primaryFormBtn disInlineBlock ">
                        <button class="" (click)="InsertRoleData(form,closeModalonclick)" color="theme-red-button">Save & Close</button>
                    </div>
                </div>
            </div> -->
        </ng-template>
        <ng-template #updateNavigationcontent  let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">Update Menu</h3>
                <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                    <mat-icon #closeNavigation>close</mat-icon>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="updateMenuForm" >
                    <div class="col-md-12 no-padding margin-top">
                        <div class="row no-margin">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                        Menu<span style="color: red;">*</span>:
                                    </div>
                                    <div class="col-md-8 colInput">
                                         <mat-form-field appearance="outline" class="borderInput font-13 ">
                                            <input matInput placeholder="" formControlName="Menu">
                                            <mat-error *ngIf="updateMenuForm.get('Menu').hasError('required')">Menu is
                                                required</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                        Menu Description:
                                    </div>
                                    <div class="col-md-8 colInput">
                                        <mat-form-field appearance="outline" class="borderInput font-13 ">
                                            <input matInput placeholder="" formControlName="Menu_desc">
                                        </mat-form-field>
                                    </div>
                                </div>
                        
                               

                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                        Menu Path<span style="color: red;">*</span>:
                                    </div>
                                    <div class="col-md-8 colInput">
                                        <mat-form-field appearance="outline" class="borderInput font-13 ">
                                            <input matInput placeholder="" formControlName="path">
                                            <mat-error *ngIf="updateMenuForm.get('path').hasError('required')">Menu is
                                                required</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            
                            </div>
                           <div class="spacer col-md-12"></div>
                        </div>

                    </div>

                </form>
              
            </div>
            <div class="modal-footer">
           
                <div class="col text-center" >
                    <div class="primaryFormBtn disInlineBlock margin-right-10">
                        <button type="submit" (click)="updateMenu(updateMenuForm)" color="theme-red-button">Update</button>
                    </div>
                     
                </div>
            </div>
        </ng-template>

    </div>
</div>