@import '../../variable.scss';
.roleBasedAccess{
 
    .draggableHdr{
        background: #888888;
        color: $color-white-default;
        padding: 10px;
      }
     .questionList{
      background: #EFEFEF;
      padding: 10px;
     }
     .custWidthButton{
      mat-icon{
        height: 20px !important;
        width: 20px !important;
        cursor: pointer;
      }
      .custWidth{
        width: 45%;
        button{
          padding: 5px !important;
        }
      }
     }
      
     .internalPanelCustomScroll{
       height: 49vh;
       overflow-y: auto;
     }
    
     
      .borderInput{
        ::ng-deep .mat-form-field-infix{border-top: 0px !important;}
        ::ng-deep .mat-form-field-wrapper{padding-bottom: 0px;}
        }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: rgba(0,0,0,.12); }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{border-width: 1px !important;}
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{border-width: 1px !important;}
        /deep/.mat-select-arrow-wrapper{
          display: flex;
          align-items: center;
          justify-content: center;
        }  
        // ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
        //   color: red!important;
        //   opacity: 0.8!important;
        // }
    
    /deep/.mat-form-field-subscript-wrapper{
      position: absolute!important;;
      top: 20px!important;
    }
    
}
.modal-body.tblBlock{
  height: 60vh;
 }