@import '../../variable.scss';
.quickLinkPage{
   .tabGrayHdr{
            background: #E3E3E3;
            h2{color:$color-primary-default;}
            border: 1px solid #eee;
        }
        .blocks{
            .imgBlock{
                height: 100%;
                border: 1px solid #eee;
               box-shadow: 0 4px 8px rgba(0,30,84,.12), 0 1px 3px rgba(0,30,84,.08);
               cursor: pointer;
            }
            
        }
}