<div class="container-fluid quickLinkPage no-padding height100">
    <div class="grid height100">
    <div class="col-md-12 no-padding height100">
        <mat-card  class="no-padding bottomTabBlock height100">
            <div class="col-md-12 no-padding">
                <div class="padding col tabGrayHdr verticalCenter">
                  <h2 class="no-margin">Quick Links</h2>
                </div>
                <div class="col padding">
                  <div class="row">
                    <div class="col-md-2">
                      <div class="border-radius-3 blocks">
                        <a href="https://www.mahindra.com/about-mahindra-company" target="_blank">
                        <div class="imgBlock">
                          <img src="/assets/img/login/mahindra_rise.jpg" class="height100 width100 border-radius-3">
                        </div>
                      </a>
                       </div>
                    </div>
                    <div class="col-md-2">
                        <div class="border-radius-3 blocks">
                            <a href="https://www.mahindrasourcingsolutions.com/mss/" target="_blank">
                          <div class="imgBlock">
                            <img src="/assets/img/login/mss.jpg" class="height100 width100 border-radius-3">
                          </div>
                        </a>
                         </div>
                      </div>
                      <div class="col-md-2">
                          <div class="border-radius-3 blocks">
                              <a href="https://www.mahindra.com/riseforgood" target="_blank">
                            <div class="imgBlock">
                              <img src="/assets/img/login/rsg.jpg" class="height100 width100 border-radius-3">
                            </div>
                          </a>
                           </div>
                        </div>
                        <div class="col-md-2">
                            <div class="border-radius-3 blocks">
                                <a href="https://www.mahindraadventure.com/" target="_blank">
                              <div class="imgBlock">
                                <img src="/assets/img/login/mahindra-adventure.jpg" class="height100 width100 border-radius-3">
                              </div>
                            </a>
                             </div>
                          </div>
                          <div class="col-md-2">
                              <div class="border-radius-3 blocks">
                                  <a href="https://www.mahindraracing.com/" target="_blank">
                                <div class="imgBlock">
                                  <img src="/assets/img/login/m-racing.jpg" class="height100 width100 border-radius-3">
                                </div>
                              </a>
                               </div>
                            </div>
                  </div>
                 </div>
              </div>
          </mat-card>
  </div>
  </div>
  </div>