@import '../../variable.scss';
.supplierMeetPage{

  /deep/ .mat-list-base .mat-list-item,.mat-expansion-panel-header{
    height: 55px !important;
  }
  :host ::ng-deep #cke_1_contents{ height: 200px !important; }
  :host ::ng-deep .cke_contents{ height: 200px !important; }
  :host ::ng-deep .cke_inner {
    min-height: 250px !important;
  }
    .leftMenuPanel{
        flex: 0 0 18%;
        max-width: 18%;
        border-right: 1px solid #D8D8D8;
        padding: 0px;
        .menuListPanel{
          height: 100%;
          overflow-y: auto;
          padding-top: 0px;
            }
        mat-expansion-panel{
          border-bottom: 1px solid #D8D8D8;
          mat-expansion-panel-header{
            mat-panel-title{
              color: #888888;
            }
            mat-icon{
              height: 14px;
              width: 14px;
              color: #888888;
              font-size: 14PX;
            }
          }
            mat-list-item{
              border-bottom: 0px !important;
              color: #BCBCBC !important;
            }
          .plusMinusBtnBlock{
            margin-right: 0px;
            display: flex;
            align-items: center;
           justify-content: flex-end;
            .mat-icon {
               height: 15px;
              width: 15px;
              font-size: 15PX;
          }
           }
        }
        .disable_ripple:hover{
          color: #000 !important;
          cursor: pointer;
          font-weight: 500;
          }
          .active_class{
            color: skyblue !important;
          }
          
         mat-list-item.noSubmenu{
          border-bottom: 1px solid #D8D8D8;
          color: #888888;
          mat-icon{
            height: 14px;
            width: 14px;
            color: #888888;
            font-size: 14PX;
          }
        }
      }
      .rightContentPanel{
        flex: 0 0 82%;
        max-width: 82%;
        .mat-card{
          .mat-card-content{
            padding: 16px;
            overflow-y: auto;
         
        .uploadPreview{background: #EDEDED;padding: 8px 16px;border-radius: 3px;}
        .trashIcon{height: 19px !important; width: 17px !important;}
        .note{ color:#CCCCCC;}
        
        .backgroundImgBlock{
        .custLabelBtnWidth{ flex: 0 0 12.5% !important;max-width: 12.5% !important;}
        .custLabelBtnWidth .required-field::after {
          content: "*";
          color: red;
      }
        .custInputWidth{flex: 0 0 75% !important;max-width: 75% !important;}
        .uploadPreview{.imgOuter{height: 60px; width: 100%; } }
        }
        .vertcalAligment{margin: .25em 0;}
       
        }
      }
      .locationMenuPanel,.conferenceMenuPanel,.registrationMenuPanel,.historyMenuView{
        mat-card-header{
          padding: 16px 16px 0px 16px !important; 
          /deep/ .mat-card-header-text{
            margin: 0px !important;
          }
        }
        .commonBlock,.hotelBlock{
          mat-card-content{
            height: calc( 100% - 47px);
            .draggableListBlock .draggableRow .imgBlock{
              height: 40px;
            }
          }
        }
        .tipDuringStayBlock,.doDontsBlock,.conferenceMenuPanel,.howToReachBlock,.registrationBlock,.itineraryBlock{
          mat-card-content{
            height: calc( 100% - 115px);
            .uploadPreview{.imgOuter{height: 60px; width: 100%; } }
            .slectDatePanel{
              background: #F0F0F0;
              padding: 10px;
            }
          }
        }
        .registrationUserBlock{
          mat-card-content{
            height: calc( 100% - 143px);
            .uploadPreview{.imgOuter{height: 60px; width: 100%; } }
            .slectDatePanel{
              background: #F0F0F0;
              padding: 10px;
            }
          }
        }
      
      }
      .homeMenuView{
        mat-card-content{
          height: 85%;
          
        }
        mat-card-footer{
          height: 15%;
        }
       }
      .contactMenuView{
        mat-card-header{
          padding: 16px 16px 0px 16px !important; 
          /deep/ .mat-card-header-text{
            margin: 0px !important;
          }
        }
        mat-card-content{
          height: calc( 100% - 115px);
        }
      }
       .historyMenuView{
        .example-container.tbl_New_Layout .table-container {
          height: 60vh !important;
      }
       }
       .imgConatainer{
         height: 35px;
         width: 35px;
       }
    }
       
      
    .borderInput{
            ::ng-deep .mat-form-field-infix{border-top: 0px !important;}
            ::ng-deep .mat-form-field-wrapper{padding-bottom: 0px;}
            }
            /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: rgba(0,0,0,.12); }
            /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{border-width: 1px !important;}
            /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{border-width: 1px !important;}
            /deep/.mat-select-arrow-wrapper{
              display: flex;
              align-items: center;
              justify-content: center;
            }
            
          /deep/.mat-form-field-subscript-wrapper{
              position: relative;
              bottom: 30px;
            }
            /deep/.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline{
              background:#fff;
            }
            /deep/.actionBtnBlock{
              width: 50%;
               display: inline-block;
              height: 4vh;
              text-align: center;
              .mat-icon {
                height: 18px !important;
                width: 17px !important;
                cursor: pointer;
            }
            }
            .example-container.tbl_New_Layout .table-container{
              height: 37vh;
            }

            .active_class{
              color: skyblue !important;
            }
      } 
