<div class="container-fluid supplierMeetPage padding">
  <div class="grid">
    <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
          <div class="row width100 verticalCenter">
          <div class="col-md-6">
          <h4 class="no-margin">Supplier Meet CMS</h4>
          </div>
          <div class="col-md-6 no-padding">
          <p class="no-margin font-13 width100 flex verticalEndCenter">
          <span class="pointer"  [routerLink]="roleId == '7' ? '/adminDashboard' : '/dashboard'" routerDirection="backward">Home</span><mat-icon>chevron_right</mat-icon>
          <span class="secondaryMenu">Supplier Meet CMS</span> 
          </p>
          </div>
          </div>
    </div>
    <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
      <mat-card class="no-padding mainOuterCardContainer">
          <div class="col-md-12 height100">
              <div class="row height100">
                  <div class="col-md-2 leftMenuPanel height100">
                      <mat-nav-list class="menuListPanel">
                          <span *ngFor="let item of menu;let i= index">
                            <span *ngIf="item.children && item.children.length > 0">
                              <mat-accordion>
                                <mat-expansion-panel #panelState  hideToggle="true" class="no-shadow">
                                  <mat-expansion-panel-header class="padding-horizontal" >
                                    <mat-panel-title>
                                      <!-- Cabeceras del submenu -->
                                      <div fxLayout="row" fxLayoutAlign="space-between center" class="verticalCenter font-13 menuRow" > 
                                          <mat-icon #plus class="margin-right-10"> adjust</mat-icon>
                                        {{item.displayName}}
                                      </div>
                                    </mat-panel-title>
                                   <mat-panel-description class="plusMinusBtnBlock">
                                      <mat-icon *ngIf="!panelState.expanded">add</mat-icon>
                                      <mat-icon *ngIf="panelState.expanded">remove</mat-icon>
                                    </mat-panel-description> 
                                  </mat-expansion-panel-header>
                                  <span *ngFor="let child of item.children;let j=index">
                                    <mat-list-item  class="menuItems" (click)="getChildMenuData(child.displayName,item.displayName,item.parentID,child.childID)"
                                    >
                                      <!-- Entradas de cada submenú  -->
                                      <div  fxLayout="row" fxLayoutAlign="space-between center" class="verticalCenter font-13 menuRow" [ngClass]="{'active_class': child.childID == childID && child.displayName == displyMenu}"> 
                                        <mat-icon class="margin-right-10">keyboard_arrow_right</mat-icon>
                                        {{ child.displayName }}
                                      </div>
                                    </mat-list-item>
                                  </span>
                                </mat-expansion-panel>
                              </mat-accordion>
                            </span>
                            <span *ngIf="!item.children || item.children.length === 0">
                              <mat-list-item  class="noSubmenu" (click)="getParentMenuData(item.displayName,item.parentID)">
                                <!-- Entradas principales -->
                                <div  fxLayout="row" fxLayoutAlign="space-between center" class="verticalCenter font-13" [ngClass]="{'active_class': item.parentID == parentID && item.displayName == parentMenu}">
                                    <mat-icon class="margin-right-10"> adjust</mat-icon>
                                  {{item.displayName}}
                                </div>
                              </mat-list-item>
                            </span>
                          </span>
                        </mat-nav-list>
                    </div>
                  <div class="col-md-10 rightContentPanel height100 no-padding">
                   <mat-card class="no-shadow no-padding height100 homeMenuView" *ngIf="parentMenu == 'Home Page'">
                    <form [formGroup]="HomePageForm" class="height100"> 
                    <mat-card-content class="no-margin">
                       <div class="grid">
                       <div class="col-md-12 no-padding">
                        <div class="col no-padding padding-bottom"><h3 class="no-margin themePrimaryColor">Supplier Meet Location and Year</h3></div>
                        <div class="row no-margin">

                          <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3 colInputHeader verticalEndCenter font-14 no-padding-left">
                                          Year:
                                          </div>
                                      <div class="col-md-9 colInput no-padding-right">
                                        <mat-form-field appearance="outline" class="borderInput font-13">
                                            <mat-select formControlName="Supplier_Year" (selectionChange)="getYearWiseData($event)">
                                                <mat-option value=''>Select Year</mat-option>
                                                <mat-option value={{current_year}}>{{current_year}}</mat-option>
                                            </mat-select>
                                        </mat-form-field> 
                                          </div>
                                           </div>
                            <div class="row" *ngIf="HomePageForm.controls.Supplier_Year.value">
                                <div class="col-md-3 colInputHeader verticalCenter font-14 no-padding-left">
                                   </div>
                                      <div class="col-md-9 colInput no-padding-right">
                                       <div class="uploadPreview">
                                         <div class="row">
                                           <div class="col-md-10">
                                             <p class="no-margin">{{HomePageForm.controls.Supplier_Year.value}}</p>
                                           </div>
                                           <div class="col-md-2 verticalEndCenter">
                                              <mat-icon (click)="DeleteLocYear(HomePageForm.controls.Supplier_Year,'Supplier_Year')" svgIcon="trash" class="pointerCursor flex trashIcon" matTooltip="Delete"></mat-icon>
                                           </div>
                                         </div>
                                       </div>
                                          </div>
                             </div>
                        </div>
                          <div class="col-md-6">
                              <div class="row">
                                  <div class="col-md-3 colInputHeader verticalEndCenter font-14 no-padding-left">
                                            Location:
                                            </div>
                                        <div class="col-md-9 colInput no-padding-right">
                                            <mat-form-field appearance="outline" class="borderInput font-13">
                                                <input matInput placeholder="" formControlName="Supplier_Location">
                                            </mat-form-field>
                                            </div>
                              </div>
                              <div class="row" *ngIf="HomePageForm.controls.Supplier_Location.value">
                                  <div class="col-md-3 colInputHeader verticalCenter font-14 no-padding-left">
                                     </div>
                                        <div class="col-md-9 colInput no-padding-right">
                                         <div class="uploadPreview">
                                           <div class="row">
                                             <div class="col-md-10">
                                               <p class="no-margin">{{HomePageForm.controls.Supplier_Location.value}}</p>
                                             </div>
                                             <div class="col-md-2 verticalEndCenter">
                                                <mat-icon (click)="DeleteLocYear(HomePageForm.controls.Supplier_Location,'Supplier_Location')" svgIcon="trash" class="pointerCursor flex trashIcon" matTooltip="Delete"></mat-icon>
                                             </div>
                                           </div>
                                         </div>
                                            </div>
                               </div>
                          </div>
                          
                        </div>
                       </div>
                       <div class="col-md-12 no-padding backgroundImgBlock">
                          <!-- <div class="col padding-vertical"><h3 class="no-margin themePrimaryColor">Home page Backward Images and inner page Header Image</h3></div> -->
                          <div class="row no-margin">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2  verticalCenter font-14 no-padding-left no-padding-right custLabelBtnWidth">
                                              Background Images:
                                              </div>
                                          <div class="col-md-8 no-padding-right custInputWidth">
                                            <mat-form-field appearance="outline" class="borderInput font-13">
                                              <input matInput placeholder="" readonly formControlName="Supplier_bckImage">
                                            </mat-form-field> 
                                              </div>
                                              <div class="col-md-2  theme-gray-button vertcalAligment no-padding custLabelBtnWidth">
                                                  <label for="file-input" class="no-margin text-center vertcalAligment" color="theme-gray-button" matTooltip="Image format should be .png/.jpg/.jpeg" matTooltipPosition="above">
                                                      Upload File
                                                  <input id="file-input" type="file" (change)="detectFiles($event,1)" accept=".png, .jpg, .jpeg" style="display: none;" />
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 colInputHeader verticalCenter font-14 no-padding-left no-padding-right custLabelBtnWidth">
                                             </div>
                                          <div class="col-md-6 colInput no-padding-right ">
                                         <div class="col margin-bottom-10"><p class="no-margin font-12 note">E.g Upload Three Images (1363 * 768)</p></div>
                                         <div class="uploadPreview" *ngIf="new_imgs">
                                            <div class="row no-margin">
                                              <div class="col-md-12 no-padding-left">
                                                  <div class="row">
                                                      <div class="col-md-4 no-padding-right" *ngFor="let img of new_imgs;let i = index">
                                                        <div class="row">
                                                          <div class="col-md-8 no-padding-right">
                                                            <div class="imgOuter">
                                                              <img class="height100 width100" *ngIf="img.ImagePath" [src]="img.ImagePath">
                                                            </div>
                                                          </div>
                                                          <div class="col-md-4 verticalMiddleCenter">
                                                            <mat-icon svgIcon="trash" (click)="DeleteImage(img.SM_MainImageID)" class="pointerCursor flex trashIcon" matTooltip="Delete"></mat-icon>
                                                          </div>
                                                        </div>  
                                                        
                                                        </div>
                                                  </div>
                                              </div>
                                            </div>
                                          </div>       
                                      </div>
                                             
                                </div>
                            </div>
                            <div class="spacer"></div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2 colInputHeader verticalCenter font-14 no-padding-left no-padding-right custLabelBtnWidth">
                                              Header Image:
                                              </div>
                                          <div class="col-md-8 colInput no-padding-right custInputWidth">
                                            <mat-form-field appearance="outline" class="borderInput font-13">
                                              <input matInput placeholder="" readonly formControlName="Supplier_HdrImage">
                                            </mat-form-field> 
                                              </div>
                                              <div class="col-md-2 btnBlockConatiner theme-gray-button vertcalAligment no-padding custLabelBtnWidth">
                                                  <label for="file-input1" class="no-margin text-center vertcalAligment" color="theme-gray-button" matTooltip="Image format should be .png/.jpg/.jpeg" matTooltipPosition="above">
                                                      Upload File
                                                  <input id="file-input1" type="file"  (change)="detectFiles($event,2)" accept=".png, .jpg, .jpeg" style="display: none;" />
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 colInputHeader verticalCenter font-14 no-padding-left no-padding-right custLabelBtnWidth">
                                             </div>
                                          <div class="col-md-6 colInput no-padding-right ">
                                         <div class="col margin-bottom-10"><p class="no-margin font-12 note">E.g Upload One Image (1363 * 350)</p></div>
                                         <div class="uploadPreview" *ngIf="headerImgURL">
                                            <div class="row">
                                              <div class="col-md-10">
                                                  <div class="row">
                                                      <div class="col-md-8 no-padding-right">
                                                          <div class="imgOuter">
                                                            <img *ngIf="headerImgURL" [src]="headerImgURL" class="height100 width100">
                                                          </div>
                                                        </div>
                                                  </div>
                                              </div>
                                             <div class="col-md-2 verticalMiddleCenter">
                                                 <mat-icon svgIcon="trash" (click)="DeleteHomeHeaderImg(headr_images_ID)" class="pointerCursor flex trashIcon" matTooltip="Delete"></mat-icon>
                                              </div>
                                            </div>
                                          </div>       
                                      </div>
                                             
                                </div>
                            </div>
                           </div>
                         </div>
                      </div>
                     </mat-card-content>
                     <mat-card-footer class="padding verticalMiddleCenter no-margin">
                        <div class="col">
                            <div class="primaryFormBtn">
                                <button (click)="saveHomepageData()" color="theme-red-button">{{isUpdate?'Update':'Save'}}</button>
                            </div>
                        </div>
                    </mat-card-footer>
                  </form>
                   </mat-card>
                   <mat-card class="no-shadow no-padding height100 locationMenuPanel" *ngIf="parentMenu == 'Location' || (parentMenu == 'Conference'&& displyMenu == 'Hotel')">
                      <div class="grid commonBlock height100" *ngIf="displyMenu == 'About' || displyMenu == 'Night Life' || displyMenu == 'Place To Eat' || displyMenu == 'Place To Shop' || displyMenu == 'Place To Visit'||displyMenu == 'Hotel'">
                          <mat-card-header>
                              <mat-card-title><h3 class="no-margin themePrimaryColor">{{displyMenu}}</h3></mat-card-title>
                            </mat-card-header>
                            <mat-card-content class="no-margin no-padding">
                              <form [formGroup]="LocationForm" #form="ngForm">
                              <div class="col-md-12">   
                                  <div class="row no-margin">
                                      <div class="col-md-1  verticalCenter font-14 no-padding-left no-padding-right">
                                               Images:
                                                </div>
                                            <div class="col-md-9 no-padding-right custInputWidth">
                                              <mat-form-field appearance="outline" class="borderInput font-13">
                                                <input matInput formControlName="Image">
                                               
                                              </mat-form-field> 
                                              <mat-error *ngIf="LocationForm.get('Image').hasError('required') && (LocationForm.get('Image').touched)">Image is required</mat-error>
                                                </div>
                                                <div class="col-md-2  theme-gray-button vertcalAligment no-padding custLabelBtnWidth">
                                                    <label for="file-input" class="no-margin text-center vertcalAligment" color="theme-gray-button" matTooltip="Image format should be .png/.jpg/.jpeg" matTooltipPosition="above">
                                                        Upload
                                                    <input id="file-input" type="file" multiple="true" (change)="detectFiles($event,3)" accept=".png, .jpg, .jpeg" style="display: none;" />
                                          </label>
                                      </div>
                                  </div>
                                  <div class="row no-margin">
                                      <div class="col-md-6 no-padding-left">
                                          <div class="row no-margin">
                                              <div class="col-md-2  verticalCenter font-14 no-padding-left no-padding-right ">
                                                       Title<span style="color: red;">*</span>:
                                                        </div>
                                                    <div class="col-md-10 no-padding-right ">
                                                      <mat-form-field appearance="outline" class="borderInput font-13">
                                                        <input matInput placeholder="" formControlName="Title">
                                                       
                                                      </mat-form-field> 
                                                      <mat-error *ngIf="LocationForm.get('Title').hasError('required') && (LocationForm.get('Title').touched)">Title is required</mat-error>
                                                        </div>
                                            </div>
                                      </div>
                                      <div class="col-md-6 no-padding-right">
                                          <div class="row no-margin">
                                              <div class="col-md-2  verticalCenter font-14 no-padding-left no-padding-right ">
                                                       Contents<span style="color: red;">*</span>:
                                                        </div>
                                                    <div class="col-md-10 no-padding-right ">
                                                      <mat-form-field appearance="outline" class="borderInput font-13" (click)="open(addContent)">
                                                        <input matInput placeholder="" readonly formControlName="Contents">
                                                      
                                                      </mat-form-field> 
                                                      <mat-error *ngIf="LocationForm.get('Contents').hasError('required') && (LocationForm.get('Contents').touched)">Contents is required</mat-error>
                                                        </div>
                                            </div>
                                      </div>
                                    </div>
                                    <div class="row verticalEndCenter no-margin">
                                        <div class="col-md-2 btnBlockConatiner no-padding-right custLabelBtnWidth no-padding-left">
                                            <button color="theme-green-button" (click)="addData()" class="verticalMiddleCenter"><mat-icon class="margin-right-5">add</mat-icon>Add</button> 
                                          </div>
                                    </div>
                                    <div class class="divider"></div>
                                    <div class="row no-margin">
                                        <div class="col-md-12 no-padding">
                                            <div class="row draggableHdr no-margin">
                                                <div class="col-md-1" style="text-align: center;">
                                                  <div><p class="font-13 no-margin">No.</p></div>
                                                </div>
                                                <div class="col-md-2" style="text-align: center;">
                                                    <div><p class="font-13 no-margin">Title</p></div>
                                                </div>
                                                <div class="col-md-8" style="text-align: center;">
                                                    <div><p class="font-13 no-margin">Content</p></div>
                                                </div>
                                               
                                               <div class="col-md-1" style="text-align: center;">
                                                    <div><p class="font-13 no-margin">Action</p></div>
                                                </div>
                                              </div>
                                              <div class="grid draggableListBlock example-list" cdkDropList  (cdkDropListDropped)="drop($event)" [cdkDropListData]="locationDataSource">
                                                  <div class="col-md-12 margin-vertical-10 dragPanelBlock padding-10" cdkDrag *ngFor="let item of locationDataSource">
                                                      <div class="row width100 draggableRow  verticalCenter border-radius-3 width100 no-margin" >
                                                          <div class="col-md-1 " cdkDragHandle>
                                                            <div>
                                                              <mat-icon svgIcon="dragIcon" matTooltip="Drag"></mat-icon>
                                                             </div>
                                                          </div>
                                                          <div class="col-md-2" style="text-align: center;">
                                                              <div>
                                                              <p class="no-margin">{{item.SMContentTitle}}</p>
                                                               </div>
                                                            </div>
                                                          <div class="col-md-8" style="text-align: center;">
                                                            <div class="height100  padding-horizontal">
                                                              <div class="row verticalMiddleCenter">                                                      
                                                                <div class="col-md-1 no-padding">
                                                              <div class="imgBlock " *ngIf="item.SMDocPath"> 
                                                                  <img onError="this.style='display: none'" [src]="item.SMDocPath" *ngIf="item.SMDocPath" class="height100 width100">
                                                                 </div>
                                                                </div>
                                                                <div class="col-md-11 verticalCenter" style="word-break: break-all !important;">
                                                                 <p class="no-margin font-13" [innerHTML]="item.SMContentDescription | safePipe"></p>
                                                                  </div>
                                                                </div>
          
                                                                 </div>
                                                           </div>
                                                       
                                                        <div class="col-md-1" style="text-align: center;">
                                                              <div class="" >
                                                                  <mat-icon (click)="DeleteTableData(item.SMContentID)" svgIcon="trash" class="pointerCursor  trashIcon no-margin" matTooltip="Delete"></mat-icon>
                                                              </div>
                                                             
                                                          </div>
                                                        </div>
                                                  </div>
                                                  </div>
                                           </div> 
                                    </div>
                              </div>
                            </form>
                            </mat-card-content>
                           </div>
                     <div class="grid tipDuringStayBlock height100" *ngIf="displyMenu == 'Tips During Stay'">
                      <mat-card-header>
                          <mat-card-title><h3 class="no-margin themePrimaryColor">Tips During Stay</h3></mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="no-margin no-padding" >
                          <form [formGroup]="TipsStayForm">
                            <div class="col-md-12">
                              <div class="row">
                                  <div class="col-md-12 font-14">
                                      Documents:
                                  </div>
                                  <div class="col-md-12 colInput">
                                      <!-- <mat-form-field appearance="outline" class="borderInput font-13">
                                          <textarea matInput formControlName="Documents" rows="4" ></textarea>
                                      </mat-form-field> -->
                                      <ckeditor formControlName="Documents" [config]="config" [readonly]="false" (paste)="onPaste($event)"
                                        (drop)="onDrop($event)"></ckeditor>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-12 font-14">
                                      Smoking:
                                  </div>
                                  <div class="col-md-12 colInput">
                                      <!-- <mat-form-field appearance="outline" class="borderInput font-13">
                                          <input formControlName="Smoking" matInput placeholder="">
                                      </mat-form-field> -->
                                      <ckeditor formControlName="Smoking" [config]="config" [readonly]="false" (paste)="onPaste($event)"
                                        (drop)="onDrop($event)"></ckeditor>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-12 font-14">
                                      Precautions:
                                  </div>
                                  <div class="col-md-12 colInput">
                                      <!-- <mat-form-field appearance="outline" class="borderInput font-13">
                                          <textarea formControlName="Precautions" matInput rows="4" ></textarea>
                                      </mat-form-field> -->
                                      <ckeditor formControlName="Precautions" [config]="config" [readonly]="false" (paste)="onPaste($event)"
                                        (drop)="onDrop($event)"></ckeditor>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-12 font-14">
                                      Theft Inside the Hotel Room:
                                  </div>
                                  <div class="col-md-12 colInput">
                                      <!-- <mat-form-field appearance="outline" class="borderInput font-13">
                                          <textarea formControlName="TheftHotel" matInput rows="8" ></textarea>
                                      </mat-form-field> -->
                                      <ckeditor formControlName="TheftHotel" [config]="config" [readonly]="false" (paste)="onPaste($event)"
                                        (drop)="onDrop($event)"></ckeditor>
                                  </div>
                              </div>
                          </div>
                        </form>
                        </mat-card-content>
                        <mat-card-footer class="padding verticalMiddleCenter no-margin">
                            <div class="col">
                                <div class="primaryFormBtn">
                                    <button (click)="saveTipsStay(TipsStayForm)" color="theme-red-button">{{isUpdate?'Update':'Save'}}</button>
                                </div>
                            </div>
                        </mat-card-footer>
                      </div>
                      <div class="grid doDontsBlock height100" *ngIf="displyMenu == 'Dos & Donts'">
                          <mat-card-header>
                              <mat-card-title><h3 class="no-margin themePrimaryColor">Do's & Don'ts</h3></mat-card-title>
                            </mat-card-header>
                            <mat-card-content class="no-margin no-padding">
                              <div class="col-md-12">
                                  <div class="row">
                                      <div class="col-md-12 font-14">
                                          Do's:
                                      </div>
                                      <div class="col-md-12 colInput">
                                          <!-- <mat-form-field appearance="outline" class="borderInput font-13">
                                              <textarea [(ngModel)]="Do" matInput rows="9" ></textarea>
                                          </mat-form-field> -->
                                          <ckeditor [(ngModel)]="Do" [config]="config" [readonly]="false" (paste)="onPaste($event)"
                                        (drop)="onDrop($event)"></ckeditor>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-12 font-14">
                                          Don'ts:
                                      </div>
                                      <div class="col-md-12 colInput">
                                        <ckeditor [(ngModel)]="Dos" [config]="config" [readonly]="false" (paste)="onPaste($event)"
                                        (drop)="onDrop($event)"></ckeditor>
                                          <!-- <mat-form-field appearance="outline" class="borderInput font-13">
                                              <textarea [(ngModel)]="Dos" matInput rows="9" ></textarea>
                                          </mat-form-field> -->
                                      </div>
                                  </div>
                               </div>
                            </mat-card-content>
                            <mat-card-footer class="padding verticalMiddleCenter no-margin">
                                <div class="col">
                                    <div class="primaryFormBtn">
                                        <button (click)="saveDoandDos()" color="theme-red-button">{{isUpdate?'Update':'Save'}}</button>
                                    </div>
                                </div>
                            </mat-card-footer>
                          </div>
                  </mat-card>
                  <mat-card class="no-shadow no-padding height100 conferenceMenuPanel" *ngIf="parentMenu == 'Conference' && displyMenu != 'Hotel'">
                      <div class="grid itineraryBlock height100" *ngIf="displyMenu == 'Itinerary'">
                        <mat-card-header>
                          <mat-card-title><h3 class="no-margin themePrimaryColor">Itinerary</h3></mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="no-margin no-padding">
                          <div class="col-md-12">
                            <div class="row no-margin">
                              <div class="col-md-1  verticalCenter font-14 no-padding-left no-padding-right custLabelBtnWidth required-field">
                                         Image:
                                        </div>
                                    <div class="col-md-9 no-padding-right custInputWidth">
                                      <mat-form-field appearance="outline" class="borderInput font-13">
                                        <input matInput [(ngModel)]="ItineraryFileName" readonly >
                                      </mat-form-field> 
                                        </div>
                                        <div class="col-md-2  theme-gray-button vertcalAligment no-padding custLabelBtnWidth">
                                            <label for="file-input" class="no-margin text-center vertcalAligment" color="theme-gray-button" matTooltip="Image format should be png/jpg/jpeg/pdf/doc/docs/xls/xl" matTooltipPosition="above">
                                                Upload File
                                            <input id="file-input" type="file"  (change)="detectFiles($event,4)" accept=".png, .jpg, .jpeg, ,.pdf, .doc, .docs, .xls, .xl" style="display: none;" />
                                  </label>
                              </div>
                          </div>
                          <div class="row no-margin">
                              <div class="col-md-1 colInputHeader verticalCenter font-14 no-padding-left no-padding-right custLabelBtnWidth">
                                       </div>
                                    <div class="col-md-6 colInput no-padding-right ">
                                   <!-- <div class="col margin-bottom-10"><p class="no-margin font-12 note">E.g Upload One Images</p></div> -->
                                   <div class="uploadPreview" *ngIf="Itinerary.length>0">
                                      <div class="row">
                                        <div class="col-md-10">
                                            <div class="row">
                                                <div class="col-md-8 no-padding-right">
                                                    <div class="imgOuter">
                                                      <img *ngIf="getExt(Itinerary[0].SMDocPath) == 'jpg' || getExt(Itinerary[0].SMDocPath) == 'jpeg' || getExt(Itinerary[0].SMDocPath) == 'png'" [src]="Itinerary[0].SMDocPath" class="height100 width100">
                                                    </div>
                                                    <div class="imgOuter">
                                                      <button color="theme-red-button" (click)="viewFile(Itinerary[0].SMDocPath)" *ngIf="getExt(Itinerary[0].SMDocPath) != 'jpg' && getExt(Itinerary[0].SMDocPath) != 'jpeg' && getExt(Itinerary[0].SMDocPath) != 'png'" >View File</button>

                                                    </div>
                                                  </div>
                                            </div>
                                        </div>
                                       <div class="col-md-2 verticalMiddleCenter">
                                           <mat-icon svgIcon="trash" (click)="DeleteTableData(Itinerary[0].SMContentID)" class="pointerCursor flex trashIcon" matTooltip="Delete"></mat-icon>
                                        </div>
                                      </div>
                                    </div>       
                                </div>
                                       
                          </div>
                      
                          </div>
                        </mat-card-content>
                        <mat-card-footer class="padding verticalMiddleCenter no-margin">
                          <div class="col">
                              <div class="primaryFormBtn">
                                  <button (click)="addData()" color="theme-red-button">{{isUpdate?'Update':'Save'}}</button>
                              </div>
                          </div>
                      </mat-card-footer>
                      </div>
                          
                   <div class="grid howToReachBlock height100" *ngIf="displyMenu == 'How To Reach'">
                              <mat-card-header>
                                  <mat-card-title><h3 class="no-margin themePrimaryColor">How To Reach</h3></mat-card-title>
                                </mat-card-header>
                                <mat-card-content class="no-margin no-padding">
                                  <form [formGroup]="howToReachForm">
                                  <div class="col-md-12">
                                      <div class="row no-margin">
                                          <div class="col-md-2   font-14 no-padding-left no-padding-right required-field">
                                                   How To Reach:
                                                    </div>
                                                <div class="col-md-10 no-padding-right custInputWidth">
                                                  <!-- <mat-form-field appearance="outline" class="borderInput font-13">
                                                      <textarea formControlName="how_to_reach" matInput rows="3" ></textarea>
                                                  </mat-form-field>  -->
                                                  <ckeditor formControlName="how_to_reach" [config]="config" [readonly]="false" (paste)="onPaste($event)"
                                                    (drop)="onDrop($event)"></ckeditor>
                                                    </div>
                                             </div>
                                      <div class="row no-margin">
                                          <div class="col-md-2   font-14 no-padding-left no-padding-right required-field">
                                                  Address:
                                                    </div>
                                                <div class="col-md-10 no-padding-right custInputWidth">
                                                  <mat-form-field appearance="outline" class="borderInput font-13">
                                                      <textarea formControlName="Address" matInput rows="3" ></textarea>
                                                  </mat-form-field> 
                                                    </div>
                                                    
                                      </div>
                                      <div class="row no-margin">
                                          <div class="col-md-2  verticalCenter font-14 no-padding-left no-padding-right required-field">
                                                   Hotel Image:
                                                    </div>
                                                <div class="col-md-8 no-padding-right custInputWidth">
                                                  <mat-form-field appearance="outline" class="borderInput font-13">
                                                    <input formControlName="file" matInput placeholder="" readonly formControlName="file">
                                                  </mat-form-field> 
                                                    </div>
                                                    <div class="col-md-2  theme-gray-button vertcalAligment no-padding custLabelBtnWidth">
                                                        <label for="file-input" class="no-margin text-center vertcalAligment" color="theme-gray-button" matTooltip="Image format should be .png/.jpg/.jpeg" matTooltipPosition="above">
                                                            Upload File
                                                        <input id="file-input" type="file" (change)="detectFiles($event,5)" accept=".png, .jpg, .jpeg" style="display: none;" />
                                              </label>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-2 colInputHeader verticalCenter font-14 no-padding-left no-padding-right custLabelBtnWidth">
                                                   </div>
                                                <div class="col-md-6 colInput no-padding-right ">
                                               <!-- <div class="col margin-bottom-10"><p class="no-margin font-12 note">E.g Upload Three Images (1363 * 768)</p></div> -->
                                               <div class="uploadPreview">
                                                  <div class="row">
                                                    <div class="col-md-10">
                                                        <div class="row">
                                                            <div class="col-md-8 no-padding-right">
                                                                <div class="imgOuter">
                                                                  <img *ngIf="Itinerary[0].SMDocPath" [src]="howToReachImageURL" class="height100 width100">
                                                                </div>
                                                              </div>
                                                        </div>
                                                    </div>
                                                   <!-- <div class="col-md-2 verticalMiddleCenter">
                                                       <mat-icon svgIcon="trash" class="pointerCursor flex trashIcon" matTooltip="Delete"></mat-icon>
                                                    </div> -->
                                                  </div>
                                                </div>       
                                            </div>
                                                   
                                      </div>
                                     
                                  </div>
                                </form>
                                </mat-card-content>
                                <mat-card-footer class="padding verticalMiddleCenter no-margin">
                                    <div class="col">
                                        <div class="primaryFormBtn">
                                            <button (click)="saveHowToReachData(howToReachForm)" color="theme-red-button">{{isUpdate?'Update':'Save'}}</button>
                                        </div>
                                    </div>
                                </mat-card-footer>
                               </div>
                  </mat-card>
                  <mat-card class="no-shadow no-padding height100 registrationMenuPanel"   *ngIf="parentMenu == 'Registration'">
                      <div class="grid registrationBlock height100" *ngIf="displyMenu == 'Registration'">
                          <mat-card-header>
                              <mat-card-title><h3 class="no-margin themePrimaryColor">Registration</h3></mat-card-title>
                            </mat-card-header>
                            <mat-card-content class="no-margin no-padding">
                              <div class="col-md-12">
                              <div class="row slectDatePanel">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4 font-14 verticalCenter">
                                            Start Date:
                                        </div>
                                        <div class="col-md-7 colInput">
                                            <mat-form-field appearance="outline" class="borderInput font-13">
                                                <input matInput [(ngModel)]="maxDate"  [matDatepicker]="picker1">
                                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                <mat-datepicker #picker1></mat-datepicker>
                                             </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4 font-14 verticalCenter">
                                            End Date:
                                        </div>
                                        <div class="col-md-7 colInput">
                                            <mat-form-field appearance="outline" class="borderInput font-13">
                                                <input matInput [min]="maxDate"  [matDatepicker]="picker2">
                                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                                <mat-datepicker #picker2></mat-datepicker>
                                             </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                              </div>
                              </div>
                              <div class="col-md-12">
                                <div class="col no-padding padding-top">
                                  <p class="font-13 no-margin"><b>Dear Sir / Madam,</b></p>
                                  <p class="font-13">Request you to provide us with the personal information, as per fields mentioned below.The information you will provide will be kept strictly confidential & will only be used to serve you better. </p>
                                </div>
                                 <div class="col no-padding">
                                    <mat-horizontal-stepper #stepper>
                                        <mat-step >
                                            <form >
                                                <ng-template matStepLabel>Personal Details</ng-template>
                                              <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                                           Name:
                                                        </div>
                                                        <div class="col-md-8 colInput">
                                                            <mat-form-field appearance="outline" class="borderInput font-13">
                                                                <mat-select>
                                                                    <mat-option>Option 1</mat-option>
                                                                    <mat-option>Option 1</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                                           Designation:
                                                        </div>
                                                        <div class="col-md-8 colInput">
                                                            <mat-form-field appearance="outline" class="borderInput font-13">
                                                                <input matInput placeholder="">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                                           Mobile No.:
                                                        </div>
                                                        <div class="col-md-8 colInput">
                                                            <mat-form-field appearance="outline" class="borderInput font-13">
                                                                <input matInput placeholder="">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4 colInputHeader verticalEndCenter font-13 no-padding">
                                                           Emergency Contact No.:
                                                        </div>
                                                        <div class="col-md-8 colInput">
                                                            <mat-form-field appearance="outline" class="borderInput font-13">
                                                                <input matInput placeholder="">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                                           Health Issues:
                                                        </div>
                                                        <div class="col-md-8 colInput">
                                                            <mat-form-field appearance="outline" class="borderInput font-13">
                                                                <input matInput placeholder="">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                                           Hotel:
                                                        </div>
                                                        <div class="col-md-8 colInput">
                                                            <mat-form-field appearance="outline" class="borderInput font-13">
                                                                <input matInput placeholder="">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                                          Organisation:
                                                        </div>
                                                        <div class="col-md-8 colInput">
                                                            <mat-form-field appearance="outline" class="borderInput font-13">
                                                                <input matInput placeholder="">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                                           Phone No.:
                                                        </div>
                                                        <div class="col-md-8 colInput">
                                                            <mat-form-field appearance="outline" class="borderInput font-13">
                                                                <input matInput placeholder="">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                                          Email:
                                                        </div>
                                                        <div class="col-md-8 colInput">
                                                            <mat-form-field appearance="outline" class="borderInput font-13">
                                                                <input matInput placeholder="">
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                                          Age Group:
                                                        </div>
                                                        <div class="col-md-8 colInput">
                                                            <mat-radio-group aria-label="Select an option">
                                                                <mat-radio-button value="1" class="font-13 margin-right">25-35</mat-radio-button>
                                                                <mat-radio-button value="2" class="font-13 margin-right">36-45</mat-radio-button>
                                                                <mat-radio-button value="3" class="font-13 margin-right">46-55</mat-radio-button>
                                                                <mat-radio-button value="4" class="font-13 margin-right">56-65</mat-radio-button>
                                                                <mat-radio-button value="5" class="font-13 margin-right">Others</mat-radio-button>
                                                              </mat-radio-group>
                                                        </div>
                                                    </div>
                                                </div>
                                              </div>
                                              </form>
                                        </mat-step>
                                        <mat-step >
                                            <form>
                                              <ng-template matStepLabel>Conference Preferences and Details</ng-template>
                                              
                                            
                                            </form>
                                          </mat-step>
                                          <mat-step>
                                            <ng-template matStepLabel>Passport and Visa Details</ng-template>
                                            <p>You are now done.</p>
                                           
                                          </mat-step>
                                      </mat-horizontal-stepper>
                                 </div>
                              </div>
                            </mat-card-content>
                            <mat-card-footer class="padding verticalMiddleCenter no-margin">
                                <div class="col">
                                    <div class="primaryFormBtn">
                                        <button class="" color="theme-red-button">Continue</button>
                                    </div>
                                </div>
                            </mat-card-footer>
                          </div>
                          <div class="grid registrationUserBlock height100" *ngIf="displyMenu == 'Registered Users'">
                              <mat-card-header>
                                <div class="row no-margin width100">
                                  <div class="col-md-10 no-padding-left verticalCenter">
                                      <mat-card-title><h3 class="no-margin themePrimaryColor">Registered Users</h3></mat-card-title>
                                  </div>
                                  <div class="col-md-2 margin-bottom no-padding-right">
                                      <div class="width100 vertcalAligment">
                                          <button class="verticalMiddleCenter" (click)="exportExcel()"  color="theme-green-button">
                                                  <mat-icon  class="flex margin-right-10 disInlineBlock excelCustIcon" svgIcon="excelIcon"></mat-icon>Export To Excel</button> 
                                            </div>
                                      </div>
                                </div>
                                </mat-card-header>
                                <mat-card-content class="no-margin no-padding">
                                <div class="col-md-12">
                                    <div class="row no-margin">
                                        <div class="example-container tbl_New_Layout">
                                          <div class="table-container">
                                            <table mat-table  class="lessons-table" [dataSource]="register_users">
                                                <!-- <ng-container matColumnDef="selectCheck">
                                                    <th mat-header-cell *matHeaderCellDef class="tblColFlex5 text-center">
                                                        <mat-checkbox (change)="checkAll($event)"></mat-checkbox>
                                                    </th>
                                                    <td mat-cell *matCellDef="let element" class="text-center">
                                                        <mat-checkbox [checked]="element.checked"></mat-checkbox>
                                                    </td>
                                                  </ng-container> -->
                                             <ng-container matColumnDef="name">
                                              <th mat-header-cell *matHeaderCellDef class="tblColFlex10">Name</th>
                                              <td mat-cell *matCellDef="let element" >
                                                {{ element.Name || "N/A" }}
                                              </td>
                                            </ng-container>
                                            <ng-container matColumnDef="hotel">
                                                <th mat-header-cell *matHeaderCellDef class="tblColFlex10">Hotel</th>
                                                <td mat-cell *matCellDef="let element" >
                                                  {{ element.Hotel || "N/A" }}
                                                  </td>
                                              </ng-container>
                                             <ng-container matColumnDef="Organisation">
                                                    <th mat-header-cell *matHeaderCellDef class="tblColFlex15">Organisation</th>
                                                    <td mat-cell *matCellDef="let element" >
                                                      {{ element.Organisation || "N/A" }}
                                                      </td>
                                                  </ng-container>
                  
                                                  <ng-container matColumnDef="Designation">
                                                      <th mat-header-cell *matHeaderCellDef class="tblColFlex20">Designation</th>
                                                      <td mat-cell *matCellDef="let element" >
                                                        {{ element.Designation || "N/A" }}
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="PhoneNo">
                                                      <th mat-header-cell *matHeaderCellDef class="tblColFlex10">Phone No</th>
                                                      <td mat-cell *matCellDef="let element" >
                                                        {{ element.PhoneNo || "N/A" }}
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="MobileNo">
                                                      <th mat-header-cell *matHeaderCellDef class="tblColFlex10">Mobile No</th>
                                                      <td mat-cell *matCellDef="let element" >
                                                        {{ element.MobileNo || "N/A" }}
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="emergencyContactNo">
                                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex10">Emergency Contact No</th>
                                                        <td mat-cell *matCellDef="let element" >
                                                          {{ element.EmergencyContactNo || "N/A" }}
                                                          </td>
                                                      </ng-container>
                                                      <ng-container matColumnDef="Email">
                                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex10">Email</th>
                                                        <td mat-cell *matCellDef="let element" >
                                                          {{ element.Email || "N/A" }}
                                                          </td>
                                                      </ng-container>
                                                      <ng-container matColumnDef="ageGroup">
                                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex10">Age Group</th>
                                                        <td mat-cell *matCellDef="let element" >
                                                          {{ element.Age || "N/A" }}
                                                          </td>
                                                      </ng-container>
                                                      <ng-container matColumnDef="healthIssues">
                                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex10">Health Issues</th>
                                                        <td mat-cell *matCellDef="let element" >
                                                          {{ element.HealthIssues || "N/A" }}
                                                          </td>
                                                      </ng-container>
                                                     <ng-container matColumnDef="FoodPreference">
                                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex10">Food Preference</th>
                                                        <td mat-cell *matCellDef="let element" >
                                                          {{ element.Food || "N/A" }}
                                                          </td>
                                                      </ng-container>
                                                      <ng-container matColumnDef="SmokingPreferences">
                                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex10">Smoking Preferences</th>
                                                        <td mat-cell *matCellDef="let element" >
                                                          {{ element.SmokingPreferences || "N/A" }}
                                                          </td>
                                                      </ng-container>
                                                      <ng-container matColumnDef="Liquor">
                                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex10">Liquor</th>
                                                        <td mat-cell *matCellDef="let element" >
                                                          {{ element.Liquor || "N/A" }}
                                                          </td>
                                                      </ng-container>
                                                      <ng-container matColumnDef="RoomRequirement">
                                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex10">RoomRequirement</th>
                                                        <td mat-cell *matCellDef="let element" >
                                                          {{ element.Room || "N/A" }}
                                                          </td>
                                                      </ng-container>
                                                      <ng-container matColumnDef="AirelineName">
                                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex10">AirelineName</th>
                                                        <td mat-cell *matCellDef="let element" >
                                                          {{ element.AirlineName || "N/A" }}
                                                          </td>
                                                      </ng-container>
                                                      <ng-container matColumnDef="FlightNumber">
                                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex10">FlightNumber</th>
                                                        <td mat-cell *matCellDef="let element" >
                                                          {{ element.FlightNumber || "N/A" }}
                                                          </td>
                                                      </ng-container>
                                                      <ng-container matColumnDef="DateofArrival">
                                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex10">DateofArrival</th>
                                                        <td mat-cell *matCellDef="let element" >
                                                          {{ element.DateofArrival| date:'dd-MM-yyyy' || "N/A" }}
                                                          </td>
                                                      </ng-container>
                                                      <ng-container matColumnDef="DateofDeparture">
                                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex10">DateofDeparture</th>
                                                        <td mat-cell *matCellDef="let element" >
                                                          {{ element.DateofDeparture| date:'dd-MM-yyyy' || "N/A" }}
                                                          </td>
                                                      </ng-container>
                                                      <ng-container matColumnDef="TimeofArrival">
                                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex10">TimeofArrival</th>
                                                        <td mat-cell *matCellDef="let element" >
                                                          {{ element.TimeofArrival || "N/A" }}
                                                          </td>
                                                      </ng-container>
                                                      <ng-container matColumnDef="TimeOfDeparture">
                                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex10">TimeOfDeparture</th>
                                                        <td mat-cell *matCellDef="let element" >
                                                          {{ element.TimeofDeparture || "N/A" }}
                                                          </td>
                                                      </ng-container>
                                                      <ng-container matColumnDef="SharingWith">
                                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex10">SharingWith</th>
                                                        <td mat-cell *matCellDef="let element" >
                                                          {{ element.SharingWith || "N/A" }}
                                                          </td>
                                                      </ng-container>
                                                      <ng-container matColumnDef="PreBooking">
                                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex6">PreBooking</th>
                                                        <td mat-cell *matCellDef="let element" >
                                                          {{ element.PreBooking || "N/A" }}
                                                          </td>
                                                      </ng-container>
                                                      <ng-container matColumnDef="Passport">
                                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex10">Passport</th>
                                                        <td mat-cell *matCellDef="let element" >
                                                          {{ element.Passport || "N/A" }}
                                                          </td>
                                                      </ng-container>
                                                      <ng-container matColumnDef="Created">
                                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex10">Created</th>
                                                        <td mat-cell *matCellDef="let element" >
                                                          {{ element.CreatedOn| date:'dd-MM-yyy' || "N/A" }}
                                                          </td>
                                                      </ng-container>
                                                      <ng-container matColumnDef="CreatedBy">
                                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex10">Created By</th>
                                                        <td mat-cell *matCellDef="let element" >
                                                          {{ element.CreatedBy || "N/A" }}
                                                          </td>
                                                      </ng-container>
                                                      <ng-container matColumnDef="Modified">
                                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex10">Modified</th>
                                                        <td mat-cell *matCellDef="let element" >
                                                          {{ element.ModifyOn| date:'dd-MM-yyyy' || "N/A" }}
                                                          </td>
                                                      </ng-container>
                                                      <ng-container matColumnDef="ModifiedBy">
                                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex10">Modified By</th>
                                                        <td mat-cell *matCellDef="let element" >
                                                          {{ element.ModifyBy || "N/A" }}
                                                          </td>
                                                      </ng-container>
                                                      <ng-container matColumnDef="RegisterWF">
                                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex6">RegisterWF</th>
                                                        <td mat-cell *matCellDef="let element" >
                                                          {{ element.RegisterWF || "N/A" }}
                                                          </td>
                                                      </ng-container>
                                                      <ng-container matColumnDef="DateofBirth">
                                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex13">DateofBirth</th>
                                                        <td mat-cell *matCellDef="let element" >
                                                          {{ element.DateofBirth | date:'dd-MM-yyyy' || "N/A" }}
                                                          </td>
                                                      </ng-container>
                                                     <ng-container matColumnDef="action">
                                                        <th mat-header-cell *matHeaderCellDef class="tblColFlex6">Action</th>
                                                        <td mat-cell *matCellDef="let element" >
                                                        <div>
                                                          <div class="actionBtnBlock"><mat-icon  class="flex  disInlineBlock" svgIcon="edit" matTooltip="Edit" (click)="openModal(element)"></mat-icon></div>
                                                          <div class="actionBtnBlock"><mat-icon  class="flex  disInlineBlock" svgIcon="trash" matTooltip="Delete" (click)="deleteUserDetails(element.wid)"></mat-icon></div>
                                                        </div>
                                                          </td>
                                                      </ng-container>
                                                      <tr mat-header-row  *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                                                      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                                           </table>
                                      </div>
                                        <mat-paginator  [length]="pageSize"  [pageSize]="5"  [pageIndex]="pageNo"
                                        (page)="pageEvent = getPageChangeData($event,1)">
                                      </mat-paginator>
                                    </div>
                                      </div>
                              
                                </div>
                                </mat-card-content>
                                <mat-card-footer *ngIf="displayName=='Registration'" class="padding verticalMiddleCenter no-margin">
                                    <div class="col">
                                        <div class="primaryFormBtn">
                                            <button class="" color="theme-red-button">Continue</button>
                                        </div>
                                    </div>
                                </mat-card-footer>
                              </div>
                        <div class="grid registrationUserBlock height100" *ngIf="displyMenu == 'Managed Users'">
                          <app-managed-users></app-managed-users>
                          </div>
                  </mat-card>
                  <mat-card class="no-shadow no-padding height100 historyMenuView" *ngIf="parentMenu == 'History'">
                      <mat-card-header>
                          <mat-card-title><h3 class="no-margin themePrimaryColor">History</h3></mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="no-margin no-padding">
                            <div class="col-md-12">
                                <div class="row no-margin">
                                    <div class="example-container tbl_New_Layout">
                                      <div class="table-container">
                                        <table mat-table  class="lessons-table" [dataSource]="historyDataSource">
                                             <ng-container matColumnDef="Location">
                                          <th mat-header-cell *matHeaderCellDef class="tblColFlex10">Location</th>
                                          <td mat-cell *matCellDef="let element" >
                                            {{ element.Location || "N/A" }}
                                          </td>
                                        </ng-container>
                                        <ng-container matColumnDef="Year">
                                            <th mat-header-cell *matHeaderCellDef class="tblColFlex10">Year</th>
                                            <td mat-cell *matCellDef="let element" >
                                              {{ element.Year || "N/A" }}
                                              </td>
                                          </ng-container>
                                          <ng-container matColumnDef="backgroundImageName">
                                              <th mat-header-cell *matHeaderCellDef class="tblColFlex10">Background Image Name</th>
                                              <td mat-cell *matCellDef="let element" >
                                               <div *ngFor="let data of element.BackgroundIamges" class="imgConatainer margin-right-10 disInlineBlock"><img *ngIf="data.ImagePath" [src]="data.ImagePath" class="height100 width100"></div>
                                               <!-- <div class="imgConatainer margin-right-10 disInlineBlock"><img [src]="data.ImagePath" class="height100 width100"></div>
                                               <div class="imgConatainer disInlineBlock"><img [src]="data.ImagePath" class="height100 width100"></div> -->
                                                </td>
                                            </ng-container>
                                          <ng-container matColumnDef="HeaderImageName">
                                              <th mat-header-cell *matHeaderCellDef class="tblColFlex10">Header Image Name</th>
                                              <td mat-cell *matCellDef="let element">
                                                  <div class="imgConatainer"><img *ngIf="element.HeaderIamges.ImagePath" [src]="element.HeaderIamges.ImagePath" class="height100 width100"></div>
                                                </td>
                                            </ng-container>
                                                  <!-- <ng-container matColumnDef="action">
                                                    <th mat-header-cell *matHeaderCellDef >Action</th>
                                                    <td mat-cell *matCellDef="let element" >
                                                    <div>
                                                      <div class="actionBtnBlock"><mat-icon  class="flex  disInlineBlock" svgIcon="trash" matTooltip="Delete"></mat-icon></div>
                                                    </div>
                                                      </td>
                                                  </ng-container> -->
                                                  <tr mat-header-row  *matHeaderRowDef="historydisplayedColumns;sticky: true"></tr>
                                                  <tr mat-row *matRowDef="let row; columns: historydisplayedColumns"></tr>
                                       </table>
                                  </div>
                                    <mat-paginator  [length]="pageSize1"  [pageSize]="5"  [pageIndex]="pageNo"
                                    (page)="pageEvent = getPageChangeData($event,2)">
                                  </mat-paginator>
                                </div>
                                  </div>
                          
                            </div>
                        </mat-card-content>
                      
                    </mat-card>
                  <mat-card class="no-shadow no-padding height100 contactMenuView" *ngIf="parentMenu == 'Contact Us'">
                      <mat-card-header>
                          <mat-card-title><h3 class="no-margin themePrimaryColor">Contact Us</h3></mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="no-margin no-padding">
                          <form [formGroup]="ContactForm">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12 font-14 required-field">
                                        Email:
                                    </div>
                                    <div class="col-md-12 colInput">
                                        <mat-form-field appearance="outline" class="borderInput font-13">
                                            <input appInputListener autocomplete="off" formControlName="Email" matInput placeholder="" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false">
                                           
                                        </mat-form-field>
                                        <p class="font-12" style="color:gray">Ex: example@email.com </p>
                                        <mat-error class="font-12" *ngIf="ContactForm.get('Email').hasError('required') && (ContactForm.get('Email').touched)">Email is required</mat-error>
                                        <mat-error *ngIf="ContactForm.get('Email').hasError('pattern')&& (ContactForm.get('Email').touched)" class="matError font-13">Enter correct email ID</mat-error>
                                       
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 font-14 required-field">
                                        Contact No:
                                    </div>
                                    <div class="col-md-12 colInput">
                                        <!-- <mat-form-field appearance="outline" class="borderInput font-13">
                                            <input formControlName="Contact_No" matInput placeholder="" >
                                        </mat-form-field> -->
                                        <mat-form-field appearance="outline" class="borderInput font-13" >
                                          <input autocomplete="off" matInput placeholder="" maxlength="12" formControlName="Contact_No" (keypress)="numberOnly($event)"  onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false">
                                          </mat-form-field>
                                          <mat-error class="font-12" *ngIf="ContactForm.get('Contact_No').hasError('required') && (ContactForm.get('Contact_No').touched)">Contact Number is required</mat-error>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 font-14 required-field">
                                        Address:
                                    </div>
                                    <div class="col-md-12 colInput">
                                        <!-- <mat-form-field appearance="outline" class="borderInput font-13">
                                            <textarea formControlName="Address" matInput rows="4" ></textarea>
                                            <mat-error *ngIf="ContactForm.get('Address').hasError('required')">Address is required</mat-error>
                                        </mat-form-field> -->
                                        <ckeditor formControlName="Address" [config]="config" [readonly]="false" (paste)="onPaste($event)"
                                        (drop)="onDrop($event)"></ckeditor>
                                        <!-- <mat-error *ngIf="ContactForm.get('Address').hasError('pattern')&& (ContactForm.get('Address').touched)" class="matError font-13">Please Avoid Unnecessary Spaces</mat-error> -->
                                    </div>
                                </div>
                            </div>
                          </form>
                        </mat-card-content>
                        <mat-card-footer class="padding verticalMiddleCenter no-margin">
                            <div class="col">
                                <div class="primaryFormBtn">
                                    <button (click)="saveContactDetails()" color="theme-red-button">{{isUpdate?'Update':'Save'}}</button>
                                </div>
                            </div>
                        </mat-card-footer>
                    </mat-card>
                    </div>
              </div>
            </div>
      </mat-card>
        </div>

  
          </div>
          </div>

           <!---Modal Structure start-->
   <ng-template #addContent >
      <div class="modal-header">
        <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">
          Add Content
          </h3>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="modal-body">
       <div class="row no-margin">
         
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 colInputHeader font-14">
                     Content:
                      </div>
                      <div class="col-md-12 colInput">
                        <!-- <mat-form-field appearance="outline" class="borderInput font-13" > -->
                        <ckeditor [(ngModel)]="ContentTextArea" [config]="config" [readonly]="false" (paste)="onPaste($event)"
                                      (drop)="onDrop($event)"></ckeditor>
                        <!-- </mat-form-field>   -->
                          </div>
                      </div>
              </div>
      </div>
      </div>
      <div class="modal-footer">
          <div class="col text-center">
              <div class="primaryFormBtn disInlineBlock">
                  <button (click)="AddLocationData()" color="theme-red-button">Add</button>
              </div>
          </div>
         </div>
    </ng-template>
   <!---Modal Structure stop-->