<div mat-dialog-content>
  <p>{{data.messege}}</p>
  <!-- <mat-form-field>
     <mat-label>{{data.messege}}</mat-label>
    <input matInput >
  </mat-form-field> -->
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" *ngIf="flag">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.element" cdkFocusInitial>Ok</button>
</div>