.supplierCodeconductList{
     .borderInput{
            ::ng-deep .mat-form-field-infix{border-top: 0px !important;}
            ::ng-deep .mat-form-field-wrapper{padding-bottom: 0px;}
            }
            /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: rgba(0,0,0,.12); }
            /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{border-width: 1px !important;}
            /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{border-width: 1px !important;}
            /deep/.mat-select-arrow-wrapper{
              display: flex;
              align-items: center;
              justify-content: center;
            }
            // .example-container.tbl_New_Layout .table-container {
            //   height: 45vh;
            // }
            /deep/.actionBtnBlock{
              width: 50%;
               display: inline-block;
              height: 4vh;
              text-align: center;
              .mat-icon {
                height: 18px !important;
                width: 17px !important;
                cursor: pointer;
            }
            }
            .btnBlocks{
              width: 47%;
              display: inline-block;
            
            }
            .m-r-5{
              margin-right: 5% !important;
             } 
             .excelCustIcon {
              height: 19px !important;
              width: 15px !important;
          }
          /deep/ mat-checkbox{
            label{
              margin-bottom: 0px !important;
            }
          }
          .example-container.tbl_New_Layout .table-container{
            height: 75%;
          }
          .tblBlock{
            height: calc(100% - 59px);
          }
}