<div class="container-fluid supplierCodeconductList padding">
    <div class="grid">
        <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
            <div class="row width100 verticalCenter">
            <div class="col-md-6">
            <h4 class="no-margin">Supplier Code of Conduct List</h4>
            </div>
            <div class="col-md-6 no-padding">
            <p class="no-margin font-13 width100 flex verticalEndCenter">
              <span class="pointer" [routerLink]="roleId == 7 ? '/adminDashboard' : '/dashboard'" routerDirection="backward">Home</span><mat-icon>chevron_right</mat-icon>
            <span class="secondaryMenu">Supplier Code of Conduct List</span> 
            </p>
            </div>
            </div>
            </div>
        <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
            <mat-card  class="no-padding mainOuterCardContainer filterViewCard">
              <mat-card-content class="height100">
                <div class="col-md-12 padding height100">
                   <div class="row no-margin filterSection">
                        <div class="col-md-1 margin-bottom verticalCenter no-padding-left">
                          <p class="no-margin">
                            Filter
                          </p>
                        </div>
                            
                            <div class="col-md-2 margin-bottom custWidth no-padding-right">
                              <mat-form-field appearance="outline" class="borderInput font-13">
                                <input matInput [max]="date" [(ngModel)]="startDate" [matDatepicker]="whatsNewStartDate" placeholder="From Date">
                                <mat-datepicker-toggle matSuffix [for]="whatsNewStartDate"></mat-datepicker-toggle>
                                <mat-datepicker #whatsNewStartDate></mat-datepicker>
                              
                              </mat-form-field> 
                          </div>
                          <div class="col-md-2 margin-bottom custWidth no-padding-right">
                            <mat-form-field appearance="outline" class="borderInput font-13">
                              <input matInput [min]="startDate" [(ngModel)]="endDate" [matDatepicker]="whatsNewEndDate" placeholder="To Date">
                              <mat-datepicker-toggle matSuffix [for]="whatsNewEndDate"></mat-datepicker-toggle>
                              <mat-datepicker #whatsNewEndDate></mat-datepicker>
                              <!-- <mat-error *ngIf="whatsNewForm.get('fromDate').hasError('required')" class="matError">
                                  Start Date is required.
                                </mat-error> -->
                            </mat-form-field> 
                        </div>
                            <div class="col-md-2 margin-bottom custWidth no-padding-right">
                              <mat-form-field appearance="outline" class="borderInput font-13">
                                <mat-select placeholder="Select Status" [(ngModel)]="submittedStatus" >
                                  <mat-option value="0">All</mat-option>
                                  <mat-option value="1">Pending</mat-option>
                                  <mat-option value="2">Complete</mat-option>
                                </mat-select>
                                </mat-form-field> 
                            </div>
                            <div class="col-md-3 margin-bottom no-padding-right">
                              <div class="vertcalAligment btnBlocks m-r-5">
                                <button (click)="getPageChangeData({pageIndex:0})" color="theme-red-button" >Search</button> 
                              </div>
                              <div class="vertcalAligment btnBlocks">
                                  <!-- <button  color="theme-green-button">
                                      <mat-icon  class="flex margin-right-10 disInlineBlock excelCustIcon" svgIcon="excelIcon"></mat-icon>Export To Excel</button>  -->
                                      <button (click)="ResetData()" color="theme-red-button" >Reset</button> 
                                    </div>
                            </div>
                            <div class="col-md-2 margin-bottom no-padding-right"> 
                              <button type="button"   class="vertcalAligment" color="theme-green-button"  (click)="downloadExcel()">
                              <!-- <mat-icon  class="flex margin-right-10  excelCustIcon" svgIcon="excelWhiteIcon"></mat-icon> -->
                              Export To Excel
                             
                            </button>
                          </div>
                          </div> 
                          
                 <div class="row no-margin height100 tblBlock">
                        <div class="example-container tbl_New_Layout height100">
                          <div class="table-container">
                            <table mat-table  class="lessons-table" [dataSource]="DataSource">
                              <ng-container matColumnDef="supplierCode">
                                <th mat-header-cell *matHeaderCellDef>Supplier Code</th>
                                <td mat-cell *matCellDef="let element" >
                                  {{ element.VendorCode || "N/A" }}
                                </td>
                              </ng-container>
                             <ng-container matColumnDef="supplierName">
                              <th mat-header-cell *matHeaderCellDef>Supplier Name</th>
                              <td mat-cell *matCellDef="let element" >
                                {{ element.name || "N/A" }}
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="SupplierDesignation">
                                <th mat-header-cell *matHeaderCellDef>Supplier Designation</th>
                                <td mat-cell *matCellDef="let element" >
                                  {{ element.designation || "N/A" }}
                                  </td>
                              </ng-container>
                              <ng-container matColumnDef="year">
                                <th mat-header-cell *matHeaderCellDef>Date</th>
                                <td mat-cell *matCellDef="let element" >
                                  {{ element.createdon | date:'dd/MM/yyyy'|| "N/A" }}
                                  </td>
                              </ng-container>

                              <ng-container matColumnDef="status">
                                  <th mat-header-cell *matHeaderCellDef>Status</th>
                                  <td mat-cell *matCellDef="let element" >
                                    <!-- {{ element.adflag || "N/A" }} -->
                                    <div *ngIf="element.adflag =='1'">Completed</div>
                                    <div *ngIf="element.adflag =='0' || element.adflag==null">Pending</div>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="type">
                                    <th mat-header-cell *matHeaderCellDef>Type</th>
                                    <td mat-cell *matCellDef="let element" >
                                      <div *ngIf="element.dsflag =='D'">Digital signature</div>
                                      <div *ngIf="element.dsflag =='S'">Scanned documents</div>
                                      <div *ngIf="element.dsflag ==null">Not submitted</div>
                                      </td>
                                  </ng-container>

                                    <tr mat-header-row  *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                           </table>
                      </div>
                        <mat-paginator  [length]="pageSize"  [pageSize]="10"  [pageIndex]="pageNo"
                        (page)="getPageChangeData($event)">
                      </mat-paginator>
                    </div>
                      </div>
                </div>
              </mat-card-content>
          
              </mat-card>
              </div>
      </div>
      </div>
  
      
   