.CreateConcern{
    padding: 2em;

    .note{
        font-size: 0.8em;
        opacity: 0.6;
    }
}

// /deep/ .mat-form-field-appearance-outline .mat-form-field-infix {
//     padding: 0.5em 0 0.5em 0;
// }