<div class="modal-header">
  <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">
    Request to Schedule a Meeting
  </h3>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="CreateConcern">
  <form [formGroup]="concernForm">
    <div class="grid">
      <div class="row">
        <div class="col-md-6">
          <!-- title  -->
          <div class="row">
            <div class="col-md-4 colInputHeader verticalEndCenter font-14">
              Title <span style="color: red;">*</span>:
            </div>
            <div class="col-md-8 colInput">
              <mat-form-field appearance="outline" class="borderInput">
                <input matInput placeholder="Title" formControlName="title" />
                <mat-error
                  *ngIf="concernForm.get('title').hasError('required')"
                  class="matError"
                >
                  Title is required.
                </mat-error>
              </mat-form-field>
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <!-- date -->
          <div class="row">
            <div class="col-md-4 colInputHeader verticalEndCenter font-14">
              Date <span style="color: red;">*</span>:
            </div>
            <div class="col-md-8 colInput">
              <mat-form-field appearance="outline" class="borderInput">
                <input
                  matInput
                  placeholder="Date"
                  [min]="today"
                  formControlName="date"
                  [matDatepicker]="picker2"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker2"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                <mat-error
                  *ngIf="concernForm.get('date').hasError('required')"
                  class="matError"
                >
                  Title is required.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
              
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <!--time -->
          <div class="row">
            <div class="col-md-4 colInputHeader verticalEndCenter font-14">
              Time <span style="color: red;">*</span>:
            </div>
            <div class="col-md-8 colInput">
              <ngb-timepicker formControlName="time" meridian="true"></ngb-timepicker>
              </div>
            </div>
        </div>
        <div class="col-md-6">
          <!-- description -->
          <div class="row">
            <div class="col-md-4 colInputHeader verticalEndCenter font-14">
              Description<span style="color: red;">*</span>:
            </div>
            <div class="col-md-8 colInput">
              <mat-form-field appearance="outline" class="borderInput">
                <textarea
                  matInput
                  maxlength="500"
                  rows="5"
                  placeholder="Max Length of 500"
                  formControlName="description"></textarea>
                  <mat-error
                  *ngIf="concernForm.get('description').hasError('required')"
                  class="matError"
                >
                  Description is required.
                </mat-error>
              </mat-form-field>
              <span>Note: Max Limit of characters is 500</span>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- Submit -->
          <button color="theme-red-button" (click)="submit()">
            Create Request
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
