@import '../../variable.scss';
.adminDashboard{
    .dashboardTiles{
        .categoryBlock:nth-child(4n+4){
            padding-right: 0px !important;
        }
        .dashCard{
            background-image: url(/assets/img/Admin_cardbg.png);
            background-size: 100% 100%;
            height: 24vh;
            cursor: pointer;
            mat-card-header{
                /deep/.mat-card-header-text{display: none;}
                .dashIcon{
                    width: 40px;
                    height: 40px;
                    font-size: 40px;
                    line-height: 0 !important;
                }
            }
            mat-card-content{
                margin-top: 11%;
                h1{
                    font-family: 'Lato-Light';
                    color: $color-yellow-default;
                }
                p{
                    font-family: 'Lato-Light';
                   color: #959595;
                    }
            }
        }
    }
   
}
mark .markTooltipClass{
    display:inline-block ;margin:0; white-space: nowrap !important; 
    // min-width: 390px !important;
    // max-width: 390px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
   }
.dashboardTriangle1{
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    border-top: solid 8px #E33045;
    border-left: solid 8px #E33045;
    border-top-left-radius: 4px;
    border-right: solid 8px transparent;
    border-bottom: solid 8px transparent;
    position: absolute;
    top: 0;
    left: 0;
}
 
// mark .markTooltipClass{
//     display:inline-block ;margin:0; white-space: nowrap !important; 
//     min-width: 80px !important;
//     max-width: 150px !important;
//      overflow: hidden !important;
// text-overflow: ellipsis !important;
//    } 

// mark .markTooltipClass{
//     display:inline-block ;margin:0; white-space: nowrap !important; 
//     min-width: 150px !important;
//     max-width: 150px !important;
//      overflow: hidden !important;
// text-overflow: ellipsis !important;
// }

.dashboardTriangle2{
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    border-top: solid 8px #FFA700;
    border-left: solid 8px #FFA700;
    border-top-left-radius: 4px;
    border-right: solid 8px transparent;
    border-bottom: solid 8px transparent;
    position: absolute;
    top: 0;
    left: 0;
    }
.dashboardTriangle3{
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    border-top: solid 8px #FF7600;
    border-left: solid 8px #FF7600;
    border-top-left-radius: 4px;
    border-right: solid 8px transparent;
    border-bottom: solid 8px transparent;
    position: absolute;
    top: 0;
    left: 0;
    }
.dashboardTriangle4{
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    border-top: solid 8px #ACE330;
    border-left: solid 8px #ACE330;
    border-top-left-radius: 4px;
    border-right: solid 8px transparent;
    border-bottom: solid 8px transparent;
    position: absolute;
    top: 0;
    left: 0;
   
}
.dashCard:hover {
    // transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    box-shadow: 0 2px 10px 1px #181818;
    box-shadow: 0 4px 20px #181818;
  }
  .white{
    color: #fff
    }