<div class="container-fluid adminDashboard padding no-padding-bottom">
  <div class="grid">
    <div class="col-md-12 movingUpdates">
      <div class="row">
        <div
          class="col-md-2 verticalMiddleCenter updateBtn top-let-radius bottom-left-radius"
        >
          <p class="no-margin font-12 text-transform-uppercase">
            breaking news
          </p>
        </div>
        <div
          class="col-md-10 verticalCenter movingText top-right-radius bottom-right-radius"
        >
          <div class="updateTriangle"></div>
          <!-- <p class="no-margin font-13 width100">
            <ng-marquee>
<mark *ngFor="let item of updateList"><p class="markTooltipClass"  matTooltip="{{item.ContentName}}"  matTooltipPosition="above">
                  <mat-icon>adjust</mat-icon>
                   {{item.ContentName}}</p>
</mark>&nbsp;&nbsp; 
 
</ng-marquee>
           </p> -->

          <p class="no-margin font-13 width100">
            <marquee onmouseover="this.stop();" onmouseout="this.start();">
              <mark *ngFor="let item of updateList" class="white">
                <p class="markTooltipClass">
                  <mat-icon>adjust</mat-icon>
                  {{ item.ContentName }}
                </p></mark
              >&nbsp;&nbsp;
              <!-- <mark><mat-icon>adjust</mat-icon> Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</mark>&nbsp;&nbsp;
            <mark><mat-icon>adjust</mat-icon> Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</mark>&nbsp;&nbsp; -->
            </marquee>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12 padding-top dashboardTiles">
      <div class="row">
        <div
          class="col-md-3 no-padding-left categoryBlock"
          *ngFor="let item of cardDetails; let i = index"
        >
          <mat-card
            class="example-card dashCard margin-bottom border-radius-3"
            (click)="goToCMSDashboard(item.header)"
          >
            <mat-card-header class="verticalCenter">
              <!-- <div [ngClass]="i=='0' || i=='3' ? 'dashboardTriangle':''"></div>
                    <div [ngClass]="i=='1' ? '':''"></div>
                    <div [ngClass]="i=='2' ? '':''"></div> -->
              <!-- <div class={{item.triangle}}></div>
                    <div matSuffix><mat-icon svgIcon="adminIcon" class="dashIcon"></mat-icon></div>
                    <div class="rightIcon" matPrefix ><mat-icon svgIcon="arrowIcon"></mat-icon></div> -->
              <div class="{{ item.triangle }}"></div>
              <div class="col-md-6 no-padding text-left">
                <div>
                  <mat-icon
                    svgIcon="{{ item.Icon }}"
                    class="dashIcon"
                  ></mat-icon>
                </div>
              </div>
              <div class="col-md-6 no-padding text-right">
                <div><mat-icon svgIcon="arrowIcon"></mat-icon></div>
              </div>
            </mat-card-header>
            <mat-card-content class="headerDetails">
              <h1 class="no-margin">{{ item.header }}</h1>
              <p class="font-16 fontW-600">{{ item.subHeader }}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-t="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">Maintainance alert</h3>
    <button type="button" class="close" aria-label="Close" (click)="closeMaintainanceModal()">
      <mat-icon>close</mat-icon>
    </button>
  </div> 
  <div class="modal-body">
    <div class="col-md-12 padding height100">
    <div class="row outerblock">
      <div class="col height100">
        <div class="example-container  tbl_New_Layout height100">
              <div class="table-container" style="overflow-y:hidden;">
               <div *ngFor="let module of underMaintainanceModuleList"> <mat-icon style="color: #d23030;"  class="flex  disInlineBlock pointerCursor" svgIcon="warningIcon"></mat-icon>
                {{module.Message}}
                  </div>
                </div>
                  <!-- <span style="font-weight: 700; padding-left: 20px;" *ngFor="let module of underMaintainanceModuleList">{{module.ModuleName}}   </span> -->
                  <!-- <div>
                    <div>
                    
                    </div>
                  </div> -->

                
              </div>
        </div>
  </div>
</div>
  
  </div>
  <div class="modal-footer">
    <div class="col text-center">
        <div class="primaryFormBtn disInlineBlock margin-right-10">
            <button  color="theme-red-button" (click)="closeMaintainanceModal()">Proceed </button> 
            <!-- <button  color="theme-red-button" (click)="addSearch()">y</button>  -->
          </div>
        </div>
  </div>
</ng-template>