<div class="container-fluid capabilitybuilding padding">
  <div class="grid">
    <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
      <div class="row width100 verticalCenter">
        <div class="col-md-6">
          <h4 class="no-margin">Capability Building</h4>
        </div>
        <div class="col-md-6 no-padding">
          <p class="no-margin font-13 width100 flex verticalEndCenter">
            <span class="pointer" (click)="navigate()" routerDirection="backward">Home</span>
            <mat-icon>chevron_right</mat-icon>
            <span class="secondaryMenu">Capability Building
            </span>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
      <mat-card class="no-padding mainOuterCardContainer">
        <mat-card-content class="height100">
          <div class="col-md-12 height100 no-padding">
            <div *ngIf="showForm" class="col-md-6 offset-3">
                <form [formGroup]="form">
                  <p class="required-field">Participant Name:<br><span style="font-size: 0.8em">(If you have already started the module in the past, use your same exact participant name entered during last time.) </span></p>
                  <mat-form-field appearance="outline" class="borderInput font-13">
                    <input matInput formControlName="name">
                  </mat-form-field>
                  <p class="required-field">Designation:</p>
                  <mat-form-field appearance="outline" class="borderInput font-13">
                      <input matInput formControlName="designation">
                    </mat-form-field>
                  <p class="required-field">Location:</p>
                  <mat-form-field appearance="outline" class="borderInput font-13">
                      <input matInput formControlName="location">
                    </mat-form-field>
                    <button (click)="submit()" color="theme-red-button">Submit</button>
                  </form>
              </div>
            <iframe *ngIf="!showForm" referrerpolicy='same-origin' width="100%" height="100%" [src]='url | safevideopipe' class="no-border chatbotFrame"></iframe>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>