.capabilitybuilding{
   .mainOuterCardContainer{

mat-card-header{
    padding: 16px;
    border-bottom: 1px solid #eee;
    mat-card-title{
      margin-bottom: 0px !important;
      font-size: 14px;
      color: #cd2b3e;
    }
}
mat-card-content{
   height: calc(100% - 54px);
   }
   
}
   } 

