@import '../../variable.scss';
$newsUpdatesBG: #BFBFBF;
$ticketStatusBG:#5F5F5F;
.dashboardPage{
    // .movingUpdates{
    //     .updateBtn{
    //        border: 1px solid $color-skyblue-default;
    //        background: $color-skyblue-default;
    //        color: $color-white-default;
    //        padding: 4px;
    //     }
    //     .movingText{
    //        color: $color-white-default;
    //        border: 1px solid  $color-foreground-secondary;
    //        background: #383636 ;
    //        padding: 4px;
    //        padding-left: 10px;
    //        .updateTriangle{
    //            width: 0;
    //            height: 0;
    //            border-style: solid;
    //            border-width: 5px 0 5px 10px;
    //            border-color: transparent transparent transparent #0eb1d8;
    //            position: absolute;
    //            left: -5px;
    //        }
    //     }
    //   }
    .centerContainer{
        .businessPanel{
            -webkit-box-flex: 0 !important;
            flex: 0 0 23% !important;
            max-width: 23% !important;
            background-image: url(/assets/img/bg.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            .innerBlock{
                color: $color-white-default;
                height: 80vh;
                padding: 0px 30px;
                // background-image: url(/assets/img/bg.png);
                h2{
                    color: $color-yellow-default;
                }
                mat-list-item{
                    color: $color-white-default;
                    border-bottom: 1px solid #ffffff17;  
                    height: 40px;
                    cursor: pointer;
                    .mat-icon{
                        height: 15px !important;
                        width: 15px !important;
                    }
                }
            }
        }
        .liveInfoPanel{
            -webkit-box-flex: 0 !important;
            flex: 0 0 77% !important;
            max-width: 77% !important;
            .newUpdates{
            //     /deep/ .mat-list .mat-list-item .mat-line{
            //         word-wrap: break-word;
            //        white-space: pre-wrap;
            //    }
            .hideNewupdates{
                overflow-y: auto !important;
            }

                .innerBlock{
                    color: $color-white-default;
                    background: $newsUpdatesBG;
                    height: 240px;
                    margin-bottom: 16px;
                    h2{
                        color: $color-foreground-default;
                    }
                    .contentOverlapClass{
                        min-width: 70px;
                        max-width: 140px;
                        display: inline-block;
                        word-break: break-word;
                    }
                    @media only screen   
                    and (min-device-width : 768px)   
                    and (max-device-width : 1024px) {
                        .contentOverlapClass{
                            min-width: 40px;
                            max-width: 100px !important;
                         }  
                    }
                    mat-list-item{
                        color: #545454;
                        height: 27px;
                      
                        .mat-icon{
                            height: 14px !important;
                            width: 14px !important;
                            font-size: 14px;
                        }
                    }
                   .activeLinkBtn{
                    color: $color-pink-default;
                    cursor: pointer;
                    .mat-icon{
                        width: 16px !important;
                        height: 24px !important;
                    }
                   }
                   .newLinks{
                    border: 1px solid $color-pink-default;
                    font-size: 10px;
                    border-radius: 7px;
                    padding: 2px 6px;
                    position: absolute;
                    top: 5%;
                    right: -4%;
                    font-size: 9px;
                    background: $color-pink-default;
                    color: #fff;
                   }
                }
                
            }
            .ticketStatus{
                .innerBlock{
                    color: $color-white-default;
                    background: $ticketStatusBG;
                    height: 210px;
                    padding-bottom: 25px !important;
                    h2{
                        position: relative;
                        mat-icon{
                            position: absolute;
                            right: 0px;
                            cursor: pointer;
                            height: 17px !important;
                            width: 17px !important;
                        }
                    }
                }
            }
            .imgSliderPanel{
                margin-bottom: 16px;
                .innerBlock{
                   height:240px;
                    border-radius: border-radius;
                    position: relative;
                   
                    .sliderHdr{
                        position: absolute;
                        top: 0%;
                        z-index: 99999;
                        //color:$color-white-default;
                        right: 0%;
                        left: 0%;
                        text-align: center;
                        color: #000;
                       
                    }
                    .carousel-inner{
                        border-radius: 6px;
                    }
                    .likesToggleBtn{
                        position: absolute;
                        right: 2%;
                        z-index: 99999;
                        color: #B3B3B3;
                        width: auto;
                        border-radius: 20px;
                        background: #3E3D3D;
                        padding: 4px 10px;
                        top: 5%;
                        display: flex;
                        align-items: center;
                        .block{
                            width: 50%;
                            text-align: center;
                            font-size: 8px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .mat-icon {
                                height: 14px;
                                width: 14px;
                                font-size: 14px;
                                margin-left: 10px;
                              }
                        }
                    }
                    .carousel-caption{
                        background: #000;
                        opacity: 0.7;
                        text-align: left;
                        padding: 10px 16px;
                        width: 100%;
                        left: 0%;
                        z-index: 1;
                        bottom: 0%;
                        p{
                            color: #717171;
                        }
                        .captionHdr{
                            color: $color-white-default;
                            .captionContent{
                                color:$color-foreground-quaternary;
                            }
                        }
                       
                    }
                    .carousel-indicators li{
                        width: 7px !important;
                        height: 7px !important;
                        border-radius: 50% !important;
                        background-color: $color-white-default !important;
                    }
                    .carousel-indicators .active{
                        background-color: $color-pink-default !important;
                    }
                    // .carousel-inner .carousel-item{
                    //     height: 100%;
                    //     .picsum-img-wrapper{
                    //         height: 100%;
                    //     }
                    // }
                }
            }
            .performanceRating{
                .innerBlock{
                    color: $color-foreground-default;
                    background: $color-background-white;
                    height: 210px;
                    h2{
                        color: $color-foreground-default;
                    }
                    .tp-radio-group {
                        display: inline-flex;
                        flex-direction: column;
                     }
                     .tp-radio-button {
                        margin: 5px;
                     }
                     .tp-selected-value {
                        margin: 15px 0;
                     }
                }
                .hdrIcon{
                    .mat-icon{
                        width: 20px !important;
                        text-align: center;
                        height: 20px !important;
                        margin-right: 12px;
                        color: $color-foreground-tertiary;
                    }
                }
            }
        }
       
        .documentsPanel{
            .innerBlock{
                .documentList{
                    mat-list-item{
                        background-image: url(/assets/img/Button.png);
                        background-size: 100% 100%;
                        color: #fff;
                        height: 35px;
                        margin-bottom: 5px;
                    }
                }
               
                .tweetsCard{
                    background: $color-white-default;
                    color: $color-foreground-default;
                    // padding: 14px;
                    h3{
                        padding: 5px 10px 6px 10px;
                        margin-bottom: 0px !important;
                        font-size: 15px !important;
                    }
                    .txtBlue{
                        color:$color-skyblue-default;
                    }
                    .tweetsContiner{
                        height: 11.8vh;
                        overflow: hidden;
                        overflow-y: scroll;
                        padding: 0px 10px;
                        color: #808080;
                        p{
                            line-height: 1.2 !important;
                        }
                    }
                    /deep/ iframe{
                        height: 100% !important;
                        width: 100% !important;
                        min-height: auto !important;
                        min-width: 100% !important;
                 }
                }
                .awardsCard{
                    background: transparent !important;
                    .card-content{
                        height: 120px;
                        background-image: url(/assets/img/Award.png);
                        background-size: 100% 110%;
                        background-repeat: no-repeat;
                        background-position: bottom;
                    }
                    .margin-top-25{
                        margin-top: 25px;
                    }
                   h2{
                    color: $color-white-default;
                    color: #fff;
                    text-decoration: underline;
                   }
                    mat-list-item {
                       // color: $color-foreground-tertiary;
                       color: #fff;
                       color: #fff;
                       height: auto !important;
                       line-height: 16px;
                       margin-bottom: 10px;
                        .mat-icon {
                            height: 12px !important;
                            width: 12px !important;
                            font-size: 12px;
                        }
                    }
                    button{
                        line-height: 20px;
                        background: #daad70;
                        color: rgba(0,0,0,.87);
                        font-size: 10px;
                        border-radius: 20px;
                    }
                    
                    button{
                        mat-icon{
                            width: 16px !important;
                        }
                    }
                }
            }
            
        }
        .documentsPanel .innerBlock .documentList mat-list-item:hover{
            padding-left: 15px !important;
            transition: .33s all ease;
            font-weight: 600 !important;
        }
        .documentsPanel .innerBlock .documentList mat-list-item .mat-list-item-content:before{
            position: absolute;
            left: -6px;
            font-family: "Material Icons";
            content: "\e5cc";
            font-size: 16px;
            line-height: inherit;
            color: rgb(41,41,41);
            opacity: 0;
            visibility: hidden;
            transition: .33s all ease;
            font-weight: 600 !important;
        }
        .documentsPanel .innerBlock .documentList mat-list-item .mat-list-item-content:hover:before{
            left: 0;
            opacity: 1;
            visibility: visible;
            font-weight: 600 !important;
        }

    }
   
    .actionLink{
        color: $color-pink-default;
       
        position: absolute;
        bottom: 15%;
        left:7%;
    cursor: pointer!important;
        .mat-icon{
           width: 16px !important;
        }
        seemoreptr:hover{
            cursor: pointer !important;
        }
     
      }
    
      .awardsCard .mat-list-base .mat-list-item .mat-list-item-content,.newUpdates .mat-list-base .mat-list-item .mat-list-item-content{
          padding: 0px !important;
      }
      .askCaraBtn{
        // border: 1px solid #fff;
        height: 90px;
        width: 90px;
        position: fixed;
        right: 3%;
        bottom: -4%;
        // border-radius: 50%;
        // background: #fff;
        // box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0,0,0,.12);
        animation: bounce 0.8s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        img{
            height: 100%;
            width: 100%;
            cursor: pointer;
        }
    }
    @keyframes bounce {
        from {
          transform: translateY(0px);
        }
        to {
          transform: translateY(-15px);
        }
      }
      @-webkit-keyframes bounce {
        from {
          transform: translateY(0px);
        }
        to {
          transform: translateY(-15px);
        }
      }
   mark .markTooltipClass{
    display:inline-block ;margin:0; white-space: nowrap !important; 
    // min-width: 390px !important;
    // max-width: 390px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
   }
   .hover-newupdates:hover{
       cursor: pointer;
   }
   mark.markTooltipClass .matTooltip .matTooltip-inner {
    width: 7em;
    font-size:15px;
    white-space: normal;
  }
    //   .askCaraBtn::before {
    //     animation: 2.5s blow 0s linear infinite;
    //     position: absolute;
    //     content: '';
    //     width: 74px;
    //     height: 74px;
    //     top: -1px;
    //     margin: 0 auto;
    //     border-radius: 50%;
    //     z-index: 0;
    //   }
}
.chatbotContainer{
   position: fixed;
    right: 0;
    // height: 70vh;
    // width: 26vw;
    height: 600px;
    width: 600px;
    background: #fff;
    z-index: 99999;
    transform: translateY(100%);
    transition: transform 0.7s;
    bottom: 0;
  
.closeIcon{
    position: absolute;
    right: 2%;
    top: 1%;
     transition: transform 0.4s;
     transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    mat-icon{
        height: 18px;
        width: 18px;
        font-size: 18px;
        cursor: pointer;
    }
   }
//    .closeIcon:hover{
//     transform: rotate(90deg);
//     transition: all 0.4s ease;
//    }
}
.closechatBot{
    transform: translateY(100%);
    transition: transform 0.7s;
    bottom: 0;
    
}
.openchatBot{
    visibility: visible;
     transform: translateY(0);
    transition: transform 0.7s;
    top: 10%;
}
.closeIconbot{
    transform: translateY(100%); 
    transition: transform 0.7s;
}

::ng-deep .chatbotFrame body{
        overflow: hidden !important;
    }

    .activeThumb{
        color: #E31837;
    }
    .whatsNewCursor{
        cursor: pointer !important;
    }

    .red-tooltip{
        background-color:#E33045;
        // color: #E33045 !important;
        //font-weight: 600;
        // border: 1px solid #E33045;
        font-size: 13px;
 }
 .fontStyle{
    font-family: inherit;
    font-size: 13.5px;
 }


 .imgSliderBlock{
    /deep/.carousel-indicators{
      margin-bottom: 0px !important;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right: 5%;
      width: 30%;
      right: 0px !important;
      left: auto !important;
  }
  .actionLink {
    color: #E31837;
    position: absolute;
    bottom: 1% !important;
    left: 3% !important;
    cursor: pointer !important;
}
  }
  .lineClampOne{
    // display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    // overflow: hidden;
  }

  .hyperlink:hover{
      text-decoration: underline;
  }

    .white{
    color: #fff
    }
.tableView{
   height: calc(100% - 27px);
   .overflowScroll{
       overflow-y: scroll;
   }
    .performanceRating{
        font-size: 13px;
        margin-bottom: 0px !important;
        border: 1px solid #eee;
        .middleHdr{
            background-color: #545454;
            background-color: #de2f43;
            color: #fff;
            height: 30px;
            th{
                vertical-align: middle;
                font-weight: 500;
            }

        }
        .normalRow{
            th,td{padding: 5px .75rem !important;font-size: 13px;border-right: 1px solid #dee2e6;font-weight: 500;background: #fff;}
            th{background: #efeaea;}
            .activeCell{background: #77c57a;color: #fff;}
        }
    }
 
}
.bottomText{
    color: #fff;
    position: absolute;
    bottom: 1%;
    cursor: pointer;
}

.businessPanel .innerBlock .mat-list-item-content:hover {
    color: #fff;
    /* font-weight: bold; */
    background-color: rgba(134, 89, 57, 0.38);
}

.hide{
    display: none;
}

.fontBlack{
    color: rgb(41,41,41) !important;
}