<div class="container-fluid dashboardPage padding no-padding-bottom">
  <div class="grid">
    <div class="col-md-12 movingUpdates">
      <div class="row">
    <div class="col-md-2 verticalMiddleCenter updateBtn top-let-radius bottom-left-radius" >
      <p class="no-margin font-12 text-transform-uppercase" >breaking news</p>
    </div>
    <div class="col-md-10 verticalCenter movingText top-right-radius bottom-right-radius" >
        <div class="updateTriangle"></div>
      <p class="no-margin font-13 width100">
          <marquee onmouseover="this.stop();" onmouseout="this.start();">
            <mark *ngFor="let item of updateList">
             <span class="fontStyle"><mat-icon>adjust</mat-icon>{{item.ContentName}}</span> 
            </mark>&nbsp;&nbsp;
           </marquee>
       </p>
    </div>
  </div>
  </div>
  <div class="col-md-12 padding centerContainer no-padding-bottom">
    <div class="row">
      <div class="col-md-2 no-padding-right no-padding-left businessPanel">
        <div  class="innerBlock"> 
        <h2 class="padding-left fontW-300 padding-top">My Business</h2>
        <mat-list role="list" class="no-padding">
          <mat-list-item role="listitem" class="font-14 fontW-300" *ngIf="report_access_name.includes('OE Supplies')" (click)="openPaymentReport(45,'OS')"><mat-icon svgIcon="OE_Supplies" class="margin-right"></mat-icon>OE Supplies</mat-list-item>
          <mat-list-item role="listitem" class="font-14 fontW-300" *ngIf="report_access_name.includes('Spares Supplies')" (click)="openPaymentReport(69,'SS')"><mat-icon svgIcon="spareSupplies" class="margin-right"></mat-icon>Spare Supplies</mat-list-item>
          <mat-list-item role="listitem" class="font-14 fontW-300" *ngIf="report_access_name.includes('Quality')" (click)="openPaymentReport(76,'Q')"><mat-icon svgIcon="quality" class="margin-right"></mat-icon>Quality</mat-list-item>
          <mat-list-item role="listitem" class="font-14 fontW-300" *ngIf="report_access_name.includes('Payments')" (click)="openPaymentReport(95,'P')"><mat-icon svgIcon="payment" class="margin-right"></mat-icon>Payment</mat-list-item>
          <mat-list-item role="listitem" class="font-14 fontW-300" *ngIf="report_access_name.includes('New Part Dev')" (click)="openPaymentReport(111,'NPD')"><mat-icon svgIcon="newPartDevelopment" class="margin-right"></mat-icon>New Part Development</mat-list-item>
          <mat-list-item role="listitem" class="font-14 fontW-300" *ngIf="report_access_name.includes('Performance')" (click)="openPaymentReport(131,'PF')"><mat-icon svgIcon="performance" class="margin-right"></mat-icon>Performance</mat-list-item>
          <mat-list-item role="listitem" class="font-14 fontW-300" *ngIf="report_access_name.includes('Sustainability')" (click)="openPaymentReport(1,'Sustainability')"><mat-icon svgIcon="performance" class="margin-right"></mat-icon>Sustainability</mat-list-item>
          <mat-list-item role="listitem" class="font-14 fontW-300" *ngIf="report_access_name.includes('CordysPDMS')" (click)="openPaymentReport(0,'CordysPDMS')"><mat-icon svgIcon="performance" class="margin-right"></mat-icon>Cordys PDMS</mat-list-item>
          <mat-list-item role="listitem" class="font-14 fontW-300"  (click)="openRPA()"><mat-icon svgIcon="performance" class="margin-right"></mat-icon>RPA</mat-list-item>
        </mat-list>
        </div>
      </div>
      <div class="col-md-9 no-padding-right liveInfoPanel">
        <div class="row">
          <div class="col-md-9 no-padding-right">
            <div class="row">
              <div class="col-md-4 no-padding-right no-padding-left newUpdates">
                  <div  class="innerBlock hideNewupdates padding border-radius"> 
                      <h2 class="fontW-600">New Updates</h2>
                       <mat-list role="list" class="no-padding">
                          <mat-list-item role="listitem" class="font-12 no-padding fontW-600 " style="margin-top: 10px;height:auto" *ngFor="let item of newUpdates"  (click)="openNewUpdate(item.documentPath[0].ImagePath)">
                            <mat-icon mat-list-icon class="margin-right">adjust</mat-icon>
                            <span class="contentOverlapClass hyperlink" style="cursor: pointer;">{{item.ContentName}}</span>
                            <span class="newLinks hover-newupdates">New</span>
                          </mat-list-item>
                         </mat-list>
                      </div>
              </div>
              <div class="col-md-8 imgSliderPanel">
                <div class="innerBlock imgSliderBlock"> 
                  <div class="padding sliderHdr">
                    <!-- <h2 class="fontW-600">Message board</h2>    -->
                  </div>
                  <ngb-carousel #carousel="ngbCarousel"  interval=6000 class="border-radius height100" *ngIf="whatsNewList">
                    <ng-template ngbSlide [id]="'id'+i" *ngFor="let list of whatsNewList; let i = index">
                      <div  class="picsum-img-wrapper" [@simpleFadeAnimation]="carousel &&carousel.activeId=='id'+i">
                        <img src="{{list.ImagePath}}" width="100%" alt="Image Not Available">
                         <div class="carousel-caption" >
                         <h2 class="font-14 no-margin" style="color: #FFCE00;" [innerHtml]="list.ContentName| safePipe"></h2>
                         <div (click)="openModal(list)" class="actionLink font-12 fontW-600 verticalCenter" >
                           <span class="seemoreptr" (click)="openModal(list)">See More</span>
                           <mat-icon (click)="openModal(list)" class="margin-left-5">touch_app</mat-icon>
                          </div>
                      </div>     
                      <div class="likesToggleBtn">
                          <div class="block whatsNewCursor" (click)="likeContent(list.cmsid,list.DocumentID,1,0,0,list.Likes)"><mat-icon class="margin-right-5" [ngClass]="list.Likes=='1' ? 'activeThumb' : ''">thumb_up</mat-icon>{{list.TotalLike}}</div>
                      </div>
                      </div>
                    </ng-template>
                    <!-- <ng-template ngbSlide id="id1" *ngIf="whatsNewList[0]" >
                      <div  class="picsum-img-wrapper" [@simpleFadeAnimation]="carousel &&carousel.activeId=='id1'">
                        <img src="{{whatsNewList[0].ImagePath}}" width="100%" alt="Image Not Available">
                         <div class="carousel-caption" >
                         <h2 class="font-14 no-margin" [innerHtml]="whatsNewList[0].ContentName| safePipe"></h2>
                         <div (click)="openModal(whatsNewList[0])" class="actionLink font-12 fontW-600 verticalCenter" >
                           <span class="seemoreptr" (click)="openModal(whatsNewList[0])">See More</span>
                           <mat-icon (click)="openModal(whatsNewList[0])" class="margin-left-5">touch_app</mat-icon>
                          </div>
                      </div>     
                      <div class="likesToggleBtn">
                          <div class="block whatsNewCursor" (click)="likeContent(whatsNewList[0].cmsid,whatsNewList[0].DocumentID,1,0,0,whatsNewList[0].Likes)"><mat-icon class="margin-right-5" [ngClass]="whatsNewList[0].Likes=='1' ? 'activeThumb' : ''">thumb_up</mat-icon>{{whatsNewList[0].TotalLike}}</div>
                      </div>
                      </div>
                    </ng-template>
                    <ng-template ngbSlide id="id2" *ngIf="whatsNewList[1]">
                      <div class="picsum-img-wrapper" [@simpleFadeAnimation]="carousel &&carousel.activeId=='id2'">
                        <img src="{{whatsNewList[1].ImagePath}}" width="100%" alt="Image Not Available">
                      <div class="carousel-caption" >
                        <h2 class="font-14 no-margin" [innerHtml]="whatsNewList[1].ContentName | safePipe"></h2>
                        <div (click)="openModal(whatsNewList[1])" class="actionLink font-12 fontW-600 verticalCenter"><span class="seemoreptr" (click)="openModal(whatsNewList[1])">See More</span>  <mat-icon (click)="openModal(whatsNewList[1])" class="margin-left-5" (click)="openModal()">touch_app</mat-icon></div>
                      </div>
                      <div class="likesToggleBtn">
                          <div class="block whatsNewCursor" (click)="likeContent(whatsNewList[1].cmsid,whatsNewList[1].DocumentID,1,0,0,whatsNewList[1].Likes)"><mat-icon class="margin-right-5" [ngClass]="whatsNewList[1].Likes=='1' ? 'activeThumb' : ''">thumb_up</mat-icon>{{whatsNewList[1].TotalLike}}</div>
                          </div>
                      </div>
                    </ng-template> 
                    <ng-template ngbSlide id="id3" *ngIf="whatsNewList[2]">
                      <div class="picsum-img-wrapper" [@simpleFadeAnimation]="carousel &&carousel.activeId=='id3'">
                        <img src="{{whatsNewList[2].ImagePath}}" width="100%" alt="Image Not Available">
                      <div class="carousel-caption" >
                        <h2 class="font-14 no-margin" [innerHtml]="whatsNewList[2].ContentName | safePipe"></h2>
                        <div (click)="openModal(whatsNewList[2])" class="actionLink font-12 fontW-600 verticalCenter"><span class="seemoreptr" (click)="openModal(whatsNewList[2])">See More</span> <mat-icon (click)="openModal(whatsNewList[2])" class="margin-left-5" (click)="openModal()">touch_app</mat-icon></div>
                      </div>
                      <div class="likesToggleBtn">
                          <div class="block whatsNewCursor" (click)="likeContent(whatsNewList[2].cmsid,whatsNewList[2].DocumentID,1,0,0,whatsNewList[2].Likes)"><mat-icon class="margin-right-5" [ngClass]="whatsNewList[2].Likes=='1' ? 'activeThumb' : ''">thumb_up</mat-icon>{{whatsNewList[2].TotalLike}}</div> 
                          </div>
                      </div>
                    </ng-template> 
                    <ng-template ngbSlide id="id4" *ngIf="whatsNewList[3]">
                      <div class="picsum-img-wrapper" [@simpleFadeAnimation]="carousel &&carousel.activeId=='id4'">
                        <img src="{{whatsNewList[3].ImagePath}}" width="100%" alt="Image Not Available">
                      <div class="carousel-caption" >
                        <h2 class="font-14 no-margin" [innerHtml]="whatsNewList[3].ContentName |safePipe"></h2>
                        <div (click)="openModal(whatsNewList[3])" class="actionLink font-12 fontW-600 verticalCenter"><span class="seemoreptr" (click)="openModal(whatsNewList[3])">See More</span> <mat-icon class="margin-left-5" (click)="openModal(whatsNewList[3])">touch_app</mat-icon></div>
                      </div>
                      <div class="likesToggleBtn">
                          <div class="block whatsNewCursor" (click)="likeContent(whatsNewList[3].cmsid,whatsNewList[3].DocumentID,1,0,0,whatsNewList[3].Likes)"><mat-icon class="margin-right-5" [ngClass]="whatsNewList[3].Likes=='1' ? 'activeThumb' : ''">thumb_up</mat-icon>{{whatsNewList[3].TotalLike}}</div> 
                          </div>
                      </div>
                    </ng-template> 
                    <ng-template ngbSlide id="id5" *ngIf="whatsNewList[4]">
                      <div class="picsum-img-wrapper" [@simpleFadeAnimation]="carousel &&carousel.activeId=='id5'">
                        <img src="{{whatsNewList[4].ImagePath}}" width="100%" alt="Image Not Available">
                      <div class="carousel-caption" >
                        <h2 class="font-14 no-margin" [innerHtml]="whatsNewList[4].ContentName |safePipe"></h2>
                        <div (click)="openModal(whatsNewList[4])" class="actionLink font-12 fontW-600 verticalCenter"><span class="seemoreptr" (click)="openModal(whatsNewList[4])">See More</span> <mat-icon (click)="openModal(whatsNewList[4])" class="margin-left-5" (click)="openModal()">touch_app</mat-icon></div>
                      </div>
                      <div class="likesToggleBtn">
                          <div class="block whatsNewCursor" (click)="likeContent(whatsNewList[4].cmsid,whatsNewList[4].DocumentID,1,0,0,whatsNewList[4].Likes)"><mat-icon class="margin-right-5"  [ngClass]="whatsNewList[4].Likes=='1' ? 'activeThumb' : ''">thumb_up</mat-icon>{{whatsNewList[4].TotalLike}}</div> 
                          </div>
                      </div>
                    </ng-template>  -->
                  </ngb-carousel>
                  
                    <!-- <button (onload)="carousel.select('id2')" style="display: none;">Select second slide</button> -->
                   </div>

            </div>
            </div>
            <div class="row">
                <div class="col-md-4 no-padding-right no-padding-left ticketStatus">
                    <div  class="innerBlock padding border-radius "> 
                        <h2 class="fontW-400 no-margin-bottom">My Ticket Status <mat-icon svgIcon="arrowIcon" (click)="openMyHelpdesk()"></mat-icon></h2>
                        <div id="chartdiv" class="height100"></div>
                        </div>
                </div>
                <div class="col-md-8 performanceRating">
                    <div class="innerBlock  padding border-radius">
                      <div class="row">
                        <div class="col-md-5"><h2 class="fontW-600 no-margin-bottom">Supplier Rating</h2></div>
                        <!-- <div class="col-md-4 no-padding">
                              <div class="form-group row no-margin-bottom">
                                  <label for="staticEmail" class="col-sm-3 col-form-label no-padding-top">Period </label>
                                  <div class="col-sm-9">
                                      2020 - 2019
                                  </div>
                                </div>
                        </div> -->
                        <div class="col-md-7 no-padding hdrIcon text-right">
                            <mat-icon svgIcon="analytics" (click)='toggleView(true)' class="pointerCursor" matTooltip="Graph View"></mat-icon>
                            <mat-icon svgIcon="spreadsheet" (click)='toggleView(false)' class="pointerCursor" matTooltip="Table View"></mat-icon>
                        </div>
                      </div>
                      

                      <div class="row chartView height100" [ngClass]="chartView ? '': 'hide'">
                        <div class="col-md-8 no-padding">
                          <div id="barchartdiv" class="height100 width100"></div>
                        </div>
                        <div class="col-md-4 verticalCenter  no-padding">
                          <div>
                            <mat-radio-group class = "tp-radio-group font-13" [formControl] = "favoriteSeason">
                              <mat-radio-button class = "tp-radio-button"
                                 *ngFor = "let season of seasons" [value] = "season">
                                 {{season}}
                              </mat-radio-button>
                           </mat-radio-group>
                          </div>
                        </div>
                      </div>
                      <div class="row tableView" [ngClass]="chartView ? 'hide' : ''">
                        <div class="col-md-12 no-padding height100 overflowScroll">
                          <table class="table performanceRating" *ngIf="performanceData">
                           <tbody>
                              <tr class="middleHdr">
                                  <th scope="col" colspan="3" class="text-center no-padding">Performance Rating</th>
                              </tr>
                              <tr class="normalRow">
                                <th scope="row">Sector</th>
                                <td>AD</td>
                                <td>FD</td>
                               </tr>
                               <tr class="normalRow">
                                <th scope="row">Score</th>
                                <td class="activeCell">{{!cs.isUndefinedORNull(performanceData.PADSCORE)?performanceData.PADSCORE:''}}</td>
                                <td>{{!cs.isUndefinedORNull(performanceData.PFDSCORE)?performanceData.PFDSCORE:''}}</td>
                              </tr>
                              <tr class="normalRow">
                                <th scope="row">Period</th>
                                <td>{{!cs.isUndefinedORNull(performanceData.PADPERIOD)?performanceData.PADPERIOD:''}}</td>
                                <td>{{!cs.isUndefinedORNull(performanceData.PFDPERIOD)?performanceData.PFDPERIOD:''}}</td>
                                 </tr>
                                 <tr class="normalRow">
                                  <th scope="row">Details</th>
                                  <td colspan="1" class="text-center" style="cursor: pointer" (click)="getPDF('AD')">View Details</td>
                                  <td colspan="1" class="text-center" style="cursor: pointer" (click)="getPDF('FD')">View Details</td>
                                </tr>
                                <tr class="middleHdr">
                                    <th scope="col" colspan="3" class="text-center no-padding">Risk Meter</th>
                                </tr>
                                <tr class="normalRow">
                                  <th scope="row">Sector</th>
                                  <td>AD</td>
                                  <td>FD</td>
                                 </tr>
                                 <tr class="normalRow">
                                  <th scope="row">Score</th>
                                  <td>{{!cs.isUndefinedORNull(performanceData.RADSCORE)?performanceData.RADSCORE:''}}</td>
                                  <td>{{!cs.isUndefinedORNull(performanceData.RFDSCORE)?performanceData.RFDSCORE:''}}</td>
                                </tr>
                                <tr class="normalRow">
                                  <th scope="row">Period</th>
                                  <td>{{!cs.isUndefinedORNull(performanceData.RADPERIOD)?performanceData.RADPERIOD:''}}</td>
                                  <td>{{!cs.isUndefinedORNull(performanceData.RFDPERIOD)?performanceData.RFDPERIOD:''}}</td>
                                   </tr>
                                   <tr class="middleHdr">
                                      <th scope="col" colspan="3" class="text-center no-padding">SBCB SCORE</th>
                                  </tr>
                                  <tr class="normalRow">
                                    <th scope="row">Sector</th>
                                    <td>AD</td>
                                    <td>FD</td>
                                   </tr>
                                   <tr class="normalRow">
                                      <th scope="row">Zone</th>
                                      <td>{{!cs.isUndefinedORNull(performanceData.SADZONE)?performanceData.SADZONE:''}}</td>
                                      <td>{{!cs.isUndefinedORNull(performanceData.SADZONE)?performanceData.SADZONE:''}}</td>
                                    </tr>
                                   <tr class="normalRow">
                                    <th scope="row">Score</th>
                                    <td>{{!cs.isUndefinedORNull(performanceData.SADSCORE)?performanceData.SADSCORE:''}}</td>
                                    <td>{{!cs.isUndefinedORNull(performanceData.SFDSCORE)?performanceData.SFDSCORE:''}}</td>
                                  </tr>
                                  <tr class="normalRow">
                                    <th scope="row">Period</th>
                                    <td>{{!cs.isUndefinedORNull(performanceData.SADPERIOD)?performanceData.SADPERIOD:''}}</td>
                                    <td>{{!cs.isUndefinedORNull(performanceData.SFDPERIOD)?performanceData.SFDPERIOD:''}}</td>
                                     </tr>
                             </tbody>
                          </table>
                        </div>
                      </div>
                   
                    </div>
                </div>
              </div>
          </div>
          <div class="col-md-3 documentsPanel">
              <div class="innerBlock">
                  <mat-list role="list" class="no-padding documentList">
                      <mat-list-item role="listitem" class="font-13 no-padding fontBlack" style="cursor: pointer;" (click)="myLibrary()">My Library & SOP</mat-list-item>
                      <mat-list-item role="listitem" class="font-13 no-padding fontBlack" style="cursor: pointer;" (click)="openEscalationMatrix()">Escalation Matrix</mat-list-item>
                      <mat-list-item role="listitem" class="font-13 no-padding fontBlack" style="cursor: pointer;" (click)="gstInfo()">GST Info</mat-list-item>
                      <mat-list-item role="listitem" class="font-13 no-padding fontBlack" style="cursor: pointer;" (click)="openMyPolicyGuidelines()">My Policy Guidelines</mat-list-item>
                      <!-- <mat-list-item role="listitem" class="font-13 no-padding fontBlack" style="cursor: pointer;" (click)="openMonsoonUpdates()">Monsoon Updates</mat-list-item> -->
                      <!-- <mat-list-item role="listitem" class="font-13 no-padding" style="cursor: pointer;" (click)="openMonsoonUpdates()">Monsoon Updates</mat-list-item>  -->
                      </mat-list>
                 <div class="card tweetsCard ">
                   <a class="twitter-timeline" href="https://twitter.com/Msetu_EB?ref_src=twsrc%5Etfw" data-width="100%" data-height="100%">Tweets by Msetu_EB</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                 </div>    
                 <div class="card padding-10 awardsCard">
                  <h2 class="fontW-300">{{awardTitle}}</h2>
                  <div class="card-content">
                    <mat-list role="list" class="no-padding">
                      <!-- <mat-list-item role="listitem" class="font-12 no-padding"><mat-icon  class="margin-right-10">adjust</mat-icon>Bigger Challenge</mat-list-item>
                      <mat-list-item role="listitem" class="font-12 no-padding"><mat-icon  class="margin-right-10">adjust</mat-icon>Midas Touch to the sloutions</mat-list-item>
                      <mat-list-item role="listitem" class="font-12 no-padding"><mat-icon class="margin-right-10">adjust</mat-icon>Simplicity in solution</mat-list-item> -->
                     </mat-list>
                     <div class="margin-top-25"> <button mat-raised-button (click)="navigateToAward()">See Details <mat-icon svgIcon="brownArrow" class="margin-left-5"></mat-icon></button></div>
                    </div>
                 </div>    
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="askCaraBtn verticalMiddleCenter">
    <!-- (click)="toastService.openChatbot()" -->
    <!-- <img src=""
    (click)="toastService.error('TEST ERROR')"
    > -->
    <img  src="/assets/img/Cara.gif" (click)="toastService.error('')"
    matTooltip="Coming Soon" matTooltipClass='red-tooltip'
     /> 
     <!-- <img  src="/assets/img/Cara-bot2 (1).gif" />  -->
     <!-- <img  src="/assets/img/bot_icon7-(3)-(1).gif" /> -->
  </div>
  <div class="bottomText">
    <a class="no-margin font-13">Mahindra Supplier Engagement Transactional Universe 2.0</a>
  </div>
 
</div>
<!-- [ngClass]="chatbotvisibility ? 'openchatBot' : 'closechatBot'"  , closeTrasition ? 'closeIconbot': ''"-->
<!-- <div class="closeIcon" (click)="closeModal()">
    <mat-icon svgIcon="chatbotCloseIcon"></mat-icon>
</div> -->
<!-- <div class="chatbotContainer"  [ngClass]="chatbotvisibility ? 'openchatBot' : 'closechatBot'">
  <div class="closeIcon" (click)="closeModal()">
      <mat-icon svgIcon="chatbotCloseIcon"></mat-icon>
  </div>
    <iframe width="100%" height="100%" [src]='toastrService.url' class="no-border chatbotFrame"></iframe>
   </div> -->
   <ng-template #content let-t="close" let-d="dismiss">
    <div class="modal-header">
      <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">Maintainance alert</h3>
      <button type="button" class="close" aria-label="Close" (click)="closeMaintainanceModal()">
        <mat-icon>close</mat-icon>
      </button>
    </div> 
    <div class="modal-body">
      <div class="col-md-12 padding height100">
      <div class="row outerblock">
        <div class="col height100">
          <div class="example-container  tbl_New_Layout height100">
                <div class="table-container" style="overflow-y:hidden;">
                  <div *ngFor="let module of underMaintainanceModuleList"> <mat-icon style="color: #d23030;"  class="flex  disInlineBlock pointerCursor" svgIcon="warningIcon"></mat-icon>
                    {{module.Message}}
                      </div>
                    </div>
                    <span style="font-weight: 700; padding-left: 20px;" *ngFor="let module of underMaintainanceModuleList">{{module.ModuleName}}   </span>
                    <!-- <div>
                      <div>
                      
                      </div>
                    </div> -->

                  
                </div>
          </div>
    </div>
  </div>
    
    </div>
    <div class="modal-footer">
      <div class="col text-center">
          <div class="primaryFormBtn disInlineBlock margin-right-10">
              <button  color="theme-red-button" (click)="closeMaintainanceModal()">Proceed </button> 
              <!-- <button  color="theme-red-button" (click)="addSearch()">y</button>  -->
            </div>
          </div>
    </div>
  </ng-template>