.JITPage{
  
    .borderInput{
        ::ng-deep .mat-form-field-infix{border-top: 0px !important;}
        ::ng-deep .mat-form-field-wrapper{padding-bottom: 0px;}
        }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: rgba(0,0,0,.12); }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{border-width: 1px !important;}
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{border-width: 1px !important;}
        /deep/.mat-select-arrow-wrapper{
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .example-container.tbl_New_Layout .table-container {
          max-height: 50vh;
        }
        .filterViewCard mat-card-content{
          height: 80%;
          overflow-y: auto;
          margin-bottom: 0px;
        }
       .filterViewCard mat-card-footer{
          height: 20%;
        }
        .tableViewCard{
          mat-icon{
            height: 19px !important;
            width: 19px !important;
            cursor: pointer;
          }
        }
        .custIconWidth{
          flex: 0 0 4% !important;
          max-width: 4% !important;
        }
        /deep/.hidden{
          display: none;
        }
        .hidden{
          display: none;
        }
        .borderBottom{
          border-bottom: 1px solid #F4F4F4;
      }
      .barCodeColWidth{
        width:20%;
      }
}