<div class="container-fluid JITPage padding">
  <div class="grid">
    <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
      <div class="row width100 verticalCenter">
        <div class="col-md-6">
          <h4 class="no-margin">PT Live Data</h4>
        </div>
        <div class="col-md-6 no-padding">
          <p class="no-margin font-13 width100 flex verticalEndCenter">
            <span
              class="pointer"
              [routerLink]="roleId == '7' ? '/adminDashboard' : '/dashboard'"
              routerDirection="backward"
              >Home</span
            ><mat-icon>chevron_right</mat-icon>
            <span class="secondaryMenu">JIT</span
            ><mat-icon>chevron_right</mat-icon>
            <span class="secondaryMenu">PT Live Data</span>
          </p>
        </div>
      </div>
    </div>
    <div
      class="col-md-12 border-radius padding-top no-padding-left no-padding-right"
    >
      <mat-card
        class="no-padding mainOuterCardContainer filterViewCard"
        [ngClass]="viewFilter ? '' : 'hidden'"
      >
        <mat-card-content class="no-margin height100">
          <div class="col-md-12">
            <div class="row no-margin">
              <div class="col-md-12 padding-top">
                <h3 class="themePrimaryColor no-margin">PT Live Data</h3>
              </div>
            </div>
            <hr />
            <form [formGroup]="FilterForm">
              <div class="row no-margin">
                <div class="col-md-6">
                  <div class="row">
                    <div
                      class="col-md-4 colInputHeader verticalEndCenter font-14"
                    >
                      Plant Codes<span style="color: red;">*</span>:
                    </div>
                    <div class="col-md-8 colInput">
                      <mat-form-field appearance="outline" class="borderInput">
                        <mat-select
                          formControlName="PlantCode"
                          placeholder="Select Plant"
                          (selectionChange)="
                            getProductionLineAndDataFrom($event.value)
                          "
                        >
                          <mat-option
                            *ngFor="let plant of plantCodes"
                            [value]="plant.PlantCodeValue"
                            >{{ plant.PlantCodeText }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div
                      class="col-md-4 colInputHeader verticalEndCenter font-14"
                    >
                      Production Line:
                    </div>
                    <div class="col-md-8 colInput">
                      <mat-form-field appearance="outline" class="borderInput">
                        <mat-select
                          formControlName="ProductionLine"
                          placeholder="Select A Plant To Set Production Line"
                        >
                          <mat-option
                            *ngFor="let prodLine of productionLineList"
                            [value]="prodLine.ProductionLineValue"
                            >{{ prodLine.ProductionLineText }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div
                      class="col-md-4 colInputHeader verticalEndCenter font-14"
                    >
                      Aggregates:
                    </div>
                    <div class="col-md-8 colInput">
                      <mat-form-field appearance="outline" class="borderInput">
                        <mat-select
                          formControlName="Aggregates"
                          placeholder="Select Category"
                        >
                          <mat-option
                            *ngFor="let aggregate of Aggregates"
                            value="{{ aggregate.AggregatesValue }}"
                            >{{ aggregate.AggregatesText }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div
                      class="col-md-4 colInputHeader verticalEndCenter font-14"
                    >
                      Search By Body Cutoff No.:
                    </div>
                    <div class="col-md-8 colInput">
                      <mat-form-field appearance="outline" class="borderInput">
                        <input
                          formControlName="SearchByCutOff"
                          matInput
                          placeholder=""
                        />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div
                      class="col-md-4 colInputHeader verticalEndCenter font-14"
                    >
                      Shop Name:
                    </div>
                    <div class="col-md-8 colInput">
                      <mat-form-field appearance="outline" class="borderInput">
                        <mat-select
                          formControlName="ShopName"
                          placeholder="Select Category"
                        >
                        
                          <mat-option
                            *ngFor="let shop of shopList"
                            [value]="shop.ShopNameValue"
                            >{{ shop.ShopNameText }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div
                      class="col-md-4 colInputHeader verticalEndCenter font-14"
                    >
                      Data From:
                    </div>
                    <div class="col-md-8 colInput">
                      <mat-form-field appearance="outline" class="borderInput">
                        <mat-select
                          formControlName="DataFrom"
                          placeholder="Select Plant to set data from list"
                        >
                          
                          <mat-option
                            *ngFor="let data of dataFromList"
                            value="{{ data.DataFromValue }}"
                            >{{ data.DataFromText }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div
                      class="col-md-4 colInputHeader verticalEndCenter font-14 no-padding-right"
                    >
                      Search By:
                    </div>
                    <div class="col-md-4 colInput">
                      <mat-form-field appearance="outline" class="borderInput">
                        <mat-select
                          formControlName="SearchBy"
                          placeholder="Select"
                        >
                          <mat-option
                            *ngFor="let option of searchColOptions"
                            [value]="option"
                            >{{ option }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4 colInput">
                      <mat-form-field appearance="outline" class="borderInput">
                        <input
                          formControlName="SearchByValue"
                          matInput
                          placeholder=""
                        />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col text-center" style="padding-top: 60px;">
            <div class="primaryFormBtn margin-right-10 disInlineBlock">
              <button
                class=""
                (click)="clearSearchForm()"
                color="theme-gray-button"
              >
                Clear
              </button>
            </div>
            <div class="primaryFormBtn disInlineBlock">
              <button class="" (click)="search(1)" color="theme-red-button">
                Search
              </button>
            </div>
          </div>
        </mat-card-content>
        <mat-card-footer class="padding verticalMiddleCenter no-margin">
          <!-- <div class="col text-center">
            <div class="primaryFormBtn margin-right-10 disInlineBlock">
              <button
                class=""
                (click)="clearSearchForm()"
                color="theme-gray-button"
              >
                Clear
              </button>
            </div>
            <div class="primaryFormBtn disInlineBlock">
              <button class="" (click)="search()" color="theme-red-button">
                Search
              </button>
            </div>
          </div> -->
        </mat-card-footer>
      </mat-card>
      <mat-card
        class="no-padding mainOuterCardContainer tableViewCard"
        [ngClass]="viewFilter ? 'hidden' : ''">
        <mat-card-content class="no-margin height100">
          <div id="component1" style="display: none"> 
            <div *ngFor="let bcValue of barCodeNumberList; let i = index">
              <div class="row">
                <span >
                  {{ barCodeNumberTransaction[i].dateTime }}
                </span>
              </div>
              <div class="row" >
                <span>
                  {{ barCodeNumberTransaction[i].dateTime }}
                </span>
                <span style="margin-left: 6%;">
                  {{ barCodeNumberTransaction[i].shopName }}
                </span>
                <span style="margin-left:10%;">
                  SPN: {{ barCodeNumberTransaction[i].SPN }}
                </span>
              </div>
              <div class="row" >
                <span>
                  VIN:
                </span>
                <span style="margin-left: 15%;">
                  {{ barCodeNumberTransaction[i].VIN }}
                </span>
              </div>
              <div style="display: flex">
                <div style="width: 150px">
                  <span>
                    Part No:
                  </span>
                </div>
                <div>
                  <!-- <div class="row">
                   <span> {{ barCodeNumberTransaction[i].partNo }}</span>
                  </div> -->
                  <div class="row">
                    <div fxLayout="column">
                      <ngx-barcode
                        [bc-element-type]="elementType"
                        [bc-value]="bcValue"
                        [bc-format]="format"
                        [bc-line-color]="lineColor"
                        [bc-width]="width"
                        [bc-height]="30"
                        [bc-display-value]="displayValue"
                        [bc-font-options]="fontOptions"
                        [bc-font]="font"
                        [bc-text-align]="textAlign"
                        [bc-text-position]="textPosition"
                        [bc-text-margin]="textMargin"
                        [bc-font-size]="fontSize"
                        [bc-background]="background"
                        [bc-margin]="margin"
                        [bc-margin-top]="marginTop"
                        [bc-margin-bottom]="marginBottom"
                        [bc-margin-left]="marginLeft"
                        [bc-margin-right]="marginRight"
                      >
                      </ngx-barcode>
                    </div>
                  </div>
                </div>
              </div>
              <div style="display: flex">
                <div style="width: 150px">
                  Part Desc:
                </div>
                <div>
                  {{ barCodeNumberTransaction[i].partDescription }}
                </div>
              </div>
              <div style="display: flex">
                <div style="width: 150px">
                  Model Code:
                </div>
                <div>
                  {{ barCodeNumberTransaction[i].modelCode }}
                </div>
              </div>
              <div style="display: flex">
                <div style="width: 200px">
                  Model Variant:
                </div>
                <div>
                  {{ barCodeNumberTransaction[i].majorVariant }}
                </div>
              </div>
            </div>
            <!-- <div fxLayout="row" *ngFor="let bcValue of barCodeNumberList"> 
              <span  style="padding:10px; padding-top: 10px;">{{bcValue.PartNumber}}</span><span style="padding:10px; padding-top: 10px;">MPQ :  {{bcValue.MPQ}}</span>
              <div>{{bcValue.Desc}}</div> 
              <ngx-barcode  [bc-element-type]="elementType" [bc-value]="bcValue.PartNumber" [bc-format]="format" [bc-line-color]="lineColor"
                 [bc-width]="width" [bc-height]="height" [bc-display-value]="displayValue" [bc-font-options]="fontOptions" [bc-font]="font"
                 [bc-text-align]="textAlign" [bc-text-position]="textPosition" [bc-text-margin]="textMargin" [bc-font-size]="fontSize" [bc-background]="background"
                 [bc-margin]="margin" [bc-margin-top]="marginTop" [bc-margin-bottom]="marginBottom" [bc-margin-left]="marginLeft" [bc-margin-right]="marginRight"></ngx-barcode>
              </div>  -->
          </div>
          <div class="col-md-12 no-padding height100">
            <div class="row no-margin padding-vertical borderBottom">
              <div class="col-md-8 verticalCenter">
                <h3 class="themePrimaryColor no-margin">PT Live Data</h3>
              </div>
              <div
                class="col-md-1 custIconWidth verticalMiddleCenter"
                (click)="printComponent()"
              >
                <mat-icon
                  svgIcon="printIcon"
                  matTooltip="Print Barcode"
                ></mat-icon>
              </div>

              <div
                class="col-md-1 custIconWidth verticalMiddleCenter"
                (click)="open(contentNew)"
              >
                <mat-icon svgIcon="filter" matTooltip="Filter"></mat-icon>
              </div>
              <div
                class="col-md-1 custIconWidth verticalMiddleCenter"
                (click)="exportAsExcelFile(JitTable, 'JITExcel')"
              >
                <mat-icon
                  svgIcon="excelIcon"
                  matTooltip="Export into Excel"
                ></mat-icon>
              </div>
              <!-- <div class="col-md-1 custIconWidth verticalMiddleCenter">
                <mat-icon
                  svgIcon="wordIcon"
                  matTooltip="Export Summary Report"
                ></mat-icon>
              </div> -->
              <div class="col-md-2">
                <button
                  color="theme-red-button"
                  class=""
                  (click)="open(content)"
                >
                  <mat-icon
                    class="margin-right-5"
                    svgIcon="filter_white"
                  ></mat-icon
                  >More Filter
                </button>
              </div>
            </div>

            <div class="row no-margin">
              <div class="col-md-12 padding">
                <div class="example-container tbl_New_Layout">
                  <div class="table-container">
                    <table
                      #JitTable
                      mat-table
                        class="lessons-table"
                        [dataSource]="DataSource"
                    >
                     
                      <ng-container matColumnDef="productionLine">
                        <th
                          mat-header-cell
                          *matHeaderCellDef
                          class="tblColFlex7"
                        >
                          Production Line
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.productionLine || "N/A" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="shopName">
                        <th
                          mat-header-cell
                          *matHeaderCellDef
                          class="tblColFlex7"
                        >
                          Shop Name
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.shopName || "N/A" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="DSN">
                        <th mat-header-cell *matHeaderCellDef>DSN</th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.DSN || "N/A" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="SPN">
                        <th mat-header-cell *matHeaderCellDef>SPN</th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.SPN || "N/A" }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="BIN">
                        <th mat-header-cell *matHeaderCellDef>BIN</th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.BIN || "N/A" }}
                        </td>
                      </ng-container>
                      <ng-container
                        matColumnDef="modelCode"
                        class="tblColFlex7"
                      >
                        <th mat-header-cell *matHeaderCellDef>Model Code</th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.modelCode || "N/A" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="dateTime">
                        <th
                          mat-header-cell
                          *matHeaderCellDef
                          class="tblColFlex7"
                        >
                          Date & Time
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.dateTime || "N/A" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="colour">
                        <th mat-header-cell *matHeaderCellDef>Colour</th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.colour || "N/A" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="scannedAt">
                        <th mat-header-cell *matHeaderCellDef>Scanned At</th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.scannedAt || "N/A" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="remarks">
                        <th
                          mat-header-cell
                          *matHeaderCellDef
                          class="tblColFlex15"
                        >
                          Remarks
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.remarks || "N/A" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="country">
                        <th mat-header-cell *matHeaderCellDef>Country</th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.country || "N/A" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="paintOutScan">
                        <th
                          mat-header-cell
                          *matHeaderCellDef
                          class="tblColFlex7"
                        >
                          Paint Out Scan
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.paintOutScan || "N/A" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="majorVariant">
                        <th
                          mat-header-cell
                          *matHeaderCellDef
                          class="tblColFlex15"
                        >
                          Major Variant
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.majorVariant || "N/A" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="VIN">
                        <th mat-header-cell *matHeaderCellDef>VIN</th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.VIN || "N/A" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="partNo">
                        <th mat-header-cell *matHeaderCellDef>Part No.</th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.partNo || "N/A" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="partDescription">
                        <th
                          mat-header-cell
                          *matHeaderCellDef
                          class="tblColFlex7"
                        >
                          Part Description
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.partDescription || "N/A" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="dataFrom">
                        <th
                          mat-header-cell
                          *matHeaderCellDef
                          class="tblColFlex7"
                        >
                          Data From
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.dataFrom || "N/A" }}
                        </td>
                      </ng-container>
                      <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumns; sticky: true"
                      ></tr>
                      <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumns"
                      ></tr>
                    </table>
                  </div>
                  
                <div class="d-flex">
                      <mat-paginator
                        [length]="pageSize"
                        [pageSize]="10"
                        (page)="search($event.pageIndex + 1)"
                      >
                      </mat-paginator>
                      <div class="go-to-container" style="width:90px;margin-bottom:30px">
                        <div class="go-to-label">Go To: </div>
                        <mat-form-field>
                          <mat-select [formControl]="goToControl" (selectionChange)="goToChange($event.value)">
                            <mat-option *ngFor="let pageNumber of pageNumbers" [value]="pageNumber">{{pageNumber}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<!---Modal Structure start-->
<ng-template #content>
  <div class="modal-header">
    <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">
      Filter
    </h3>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="closeModal()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="FilterForm">
      <div class="row no-margin">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-5 colInputHeader verticalEndCenter font-14">
              Plant Codes<span style="color: red;">*</span>:
            </div>
            <div class="col-md-7 colInput">
              <mat-form-field appearance="outline" class="borderInput">
                <mat-select
                  formControlName="PlantCode"
                  placeholder="Select Plant"
                  (selectionChange)="getProductionLineAndDataFrom($event.value)"
                >
                  <mat-option
                    *ngFor="let plant of plantCodes"
                    [value]="plant.PlantCodeValue"
                    >{{ plant.PlantCodeText }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-5 colInputHeader verticalEndCenter font-14">
              Production Line:
            </div>
            <div class="col-md-7 colInput">
              <mat-form-field appearance="outline" class="borderInput">
                <mat-select
                  formControlName="ProductionLine"
                  placeholder="Select A Plant To Set Production Line"
                >
                  <mat-option
                    *ngFor="let prodLine of productionLineList"
                    [value]="prodLine.ProductionLineValue"
                    >{{ prodLine.ProductionLineText }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 colInputHeader verticalEndCenter font-14">
              Aggregates:
            </div>
            <div class="col-md-7 colInput">
              <mat-form-field appearance="outline" class="borderInput">
                <mat-select
                  formControlName="Aggregates"
                  placeholder="Select Category"
                >
                  <mat-option
                    *ngFor="let aggregate of Aggregates"
                    value="{{ aggregate.AggregatesValue }}"
                    >{{ aggregate.AggregatesText }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 colInputHeader verticalEndCenter font-14">
              Search By Body Cutoff No.:
            </div>
            <div class="col-md-7 colInput">
              <mat-form-field appearance="outline" class="borderInput">
                <input
                  formControlName="SearchByCutOff"
                  matInput
                  placeholder=""
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-5 colInputHeader verticalEndCenter font-14">
              Shop Name:
            </div>
            <div class="col-md-7 colInput">
              <mat-form-field appearance="outline" class="borderInput">
                <mat-select
                  formControlName="ShopName"
                  placeholder="Select Category"
                >
                  <mat-option
                    *ngFor="let shop of shopList"
                    [value]="shop.ShopNameValue"
                    >{{ shop.ShopNameText }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 colInputHeader verticalEndCenter font-14">
              Data From:
            </div>
            <div class="col-md-7 colInput">
              <mat-form-field appearance="outline" class="borderInput">
                <mat-select
                  formControlName="DataFrom"
                  placeholder="Select Plant to set data from list"
                >
                  <mat-option
                    *ngFor="let data of dataFromList"
                    value="{{ data.DataFromValue }}"
                    >{{ data.DataFromText }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 colInputHeader verticalEndCenter font-14">
              Search By:
            </div>
            <div class="col-md-4 colInput">
              <mat-form-field appearance="outline" class="borderInput">
                <mat-select formControlName="SearchBy" placeholder="Select">
                  <mat-option
                    *ngFor="let option of displayedColumns"
                    [value]="option"
                    >{{ option }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3 colInput no-padding-left">
              <mat-form-field appearance="outline" class="borderInput">
                <input
                  formControlName="SearchByValue"
                  matInput
                  placeholder=""
                />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="col text-center">
      <div class="primaryFormBtn margin-right-10 disInlineBlock">
        <button class="" (click)="clearSearchForm()" color="theme-gray-button">
          Reset
        </button>
      </div>
      <div class="primaryFormBtn disInlineBlock">
        <button class="" (click)="search(1)" color="theme-red-button">
          Search
        </button>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #contentNew>
  <div class="modal-header">
    <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">
      Select Columns To Display
    </h3>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="closeModal()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="FilterAttributeForm">
      <div class="row no-margin">
        <div class="col-md-2">
          <mat-checkbox
            (checked)="(selectAllAttribute.value)"
            (formControl)="(selectAllAttribute)"
            (change)="selectAll()"
            >Select All</mat-checkbox
          >
        </div>
      </div>
      <hr />
      <div class="row no-margin">
        <div class="col-md-2">
          <mat-checkbox
            (checked)="(FilterAttributeForm.productionLine.value)"
            formControlName="productionLine"
            >Production Line</mat-checkbox
          >
        </div>
        <div class="col-md-2">
          <mat-checkbox
            (checked)="(FilterAttributeForm.shopName.value)"
            formControlName="shopName"
            >Shop Name</mat-checkbox
          >
        </div>
        <div class="col-md-2">
          <mat-checkbox
            (checked)="(FilterAttributeForm.modelCode.value)"
            formControlName="modelCode"
            >Model Code</mat-checkbox
          >
        </div>
        <div class="col-md-2">
          <mat-checkbox
            (checked)="(FilterAttributeForm.dateTime.value)"
            formControlName="dateTime"
            >Date & Time</mat-checkbox
          >
        </div>
        <div class="col-md-2">
          <mat-checkbox
            (checked)="(FilterAttributeForm.colour.value)"
            formControlName="colour"
            >Colour</mat-checkbox
          >
        </div>
        <div class="col-md-2">
          <mat-checkbox
            (checked)="(FilterAttributeForm.remarks.value)"
            formControlName="remarks"
            >Remarks</mat-checkbox
          >
        </div>
      </div>
      <div class="row no-margin">
        <div class="col-md-2">
          <mat-checkbox
            (checked)="(FilterAttributeForm.country.value)"
            formControlName="country"
            >Country</mat-checkbox
          >
        </div>
        <div class="col-md-2">
          <mat-checkbox
            (checked)="(FilterAttributeForm.paintOutScan.value)"
            formControlName="paintOutScan"
            >Paint Out Scan</mat-checkbox
          >
        </div>
        <div class="col-md-2">
          <mat-checkbox
            (checked)="(FilterAttributeForm.majorVariant.value)"
            formControlName="majorVariant"
            >Major Variant</mat-checkbox
          >
        </div>
        <div class="col-md-2">
          <mat-checkbox
            (checked)="(FilterAttributeForm.VIN.value)"
            formControlName="VIN"
            >VIN</mat-checkbox
          >
        </div>
        <div class="col-md-2">
          <mat-checkbox
            (checked)="(FilterAttributeForm.partNo.value)"
            formControlName="partNo"
            >Part No.</mat-checkbox
          >
        </div>
        <div class="col-md-2">
          <mat-checkbox
            (checked)="(FilterAttributeForm.partDescription.value)"
            formControlName="partDescription"
            >Part Description</mat-checkbox
          >
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="col text-center">
      <div class="primaryFormBtn margin-right-10 disInlineBlock">
        <button class="" color="theme-gray-button">Cancel</button>
      </div>
      <div class="primaryFormBtn disInlineBlock">
        <button
          class=""
          (click)="closeModal(contentNew)"
          color="theme-red-button"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</ng-template>
<!---Modal Structure stop-->
