<div class="container-fluid">
  <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
    <mat-card class="no-padding mainOuterCardContainer">

      <div class="col-md-12">
        <div class="row no-margin">
          <div class="col-md-9 margin-bottom verticalCenter no-padding-left">
            <h3 class="no-margin themePrimaryColor">
              Stake Holder
            </h3>
          </div>
          <div class="col-md-3 margin-bottom no-padding-right" *ngIf="RoleID =='7'">
            <div class=" vertcalAligment btnBlocks pull-right">
                <button class="verticalMiddleCenter" color="theme-green-button" (click)="open(addContent)">
                  <mat-icon  class="flex margin-right-10  addCustIcon" svgIcon="addIcon"></mat-icon> Add</button> 
                  </div>
            </div>
      
        </div>
      </div>

      <div class="table-container">
        <table mat-table #table class="lessons-table width100" [dataSource]="DataSource">
        <ng-container matColumnDef="ModuleName">
          <th mat-header-cell *matHeaderCellDef>ModuleName</th>
          <td mat-cell *matCellDef="let element" >
            {{ element.ModuleName || "N/A" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Stakeholder">
          <th mat-header-cell *matHeaderCellDef>Stakeholder</th>
          <td mat-cell *matCellDef="let element" >
            {{ element.StackeHolder || "N/A" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="EmailId">
            <th mat-header-cell *matHeaderCellDef>Email Id</th>
            <td mat-cell *matCellDef="let element" >
              {{ element.EmailId || "N/A" }}
              </td>
          </ng-container>
        <ng-container matColumnDef="Mobile">
                <th mat-header-cell *matHeaderCellDef>Mobile</th>
                <td mat-cell *matCellDef="let element" >
                  {{ element.Mobile || "N/A" }}
                  </td>
            </ng-container>
          <ng-container matColumnDef="action" >
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element" >
            <div class="row">
              <div class="actionBtnBlock col-md-2"><mat-icon  class="flex  disInlineBlock" svgIcon="edit" (click)="open(addContent, element)" matTooltip="Edit"></mat-icon></div>
              <div class="actionBtnBlock col-md-2"><mat-icon  class="flex  disInlineBlock" svgIcon="trash" (click)="delete(element)" matTooltip="Delete"></mat-icon></div>
            </div>
              </td>
          </ng-container>
          <tr mat-header-row  *matHeaderRowDef="displayedColumns;sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>

    </mat-card>
  </div>
</div>

   <!---Modal Structure start-->
   <ng-template #addContent>
    <div class="modal-header">
      <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">
        Stake Holder
        </h3>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="StackholderForm">
        <div class="row no-margin">
            <div class="col-md-12">
              <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-5 colInputHeader verticalEndCenter font-14 required-field">
                        Module Name:
                        </div>
                      <div class="col-md-7 colInput">
                          <mat-form-field appearance="outline" class="borderInput font-13">
                              <input matInput [value]='editableStakeHolder?.ModuleName' formControlName="ModuleName" placeholder="Module Name">
                            </mat-form-field>
                        </div>
                      </div>
                    </div>
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-5 colInputHeader verticalEndCenter font-14 required-field">
                        Stake Holder:
                        </div>
                      <div class="col-md-7 colInput">
                        <mat-form-field appearance="outline" class="borderInput font-13">
                          <input matInput [value]='editableStakeHolder?.StackeHolder' formControlName="StackeHolder" placeholder="Stake Holder">
                        </mat-form-field> 
                          </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-5 colInputHeader verticalEndCenter font-14 required-field"> 
                        Email Id:
                        </div>
                        <div class="col-md-7 colInput">
                          <mat-form-field appearance="outline" class="borderInput font-13" >
                              <input placeholder="Email Id" [value]='editableStakeHolder?.EmailId' formControlName="EmailId" matInput>
                            </mat-form-field>  
                          </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-5 colInputHeader verticalEndCenter font-14 required-field">
                          Mobile:
                          </div>
                      <div class="col-md-7 colInput">
                        <mat-form-field appearance="outline" class="borderInput font-13" >
                          <input placeholder="Mobile" [value]='editableStakeHolder?.Mobile' formControlName="Mobile" matInput (keypress)="numberOnly($event)">
                        </mat-form-field>
                      </div>
                        </div>
                      </div>
                  </div>
                  
                          <div class="row">
                             
                                </div>
                                <div class="row">
                                    </div>
                                  
                  
              </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
        <div class="col text-center">
            <div class="primaryFormBtn disInlineBlock">
                <button class="" (click)="editableStakeHolder ? updateStakeHolder() : addStakeHolder()" color="theme-red-button">{{editableStakeHolder ? "Update" : "Add"}}</button>
            </div>
        </div>
       </div>
  </ng-template>
