<div class="modal-header">
    <h3 class="modal-title themePrimaryColor fontW-600">Escalation Matrix</h3>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-body">
      <div class="img-div" *ngIf="imageArrayLength !=0">
          <img  [src]="singleArray" style="height: 450px;" class="width100" />
        </div>
    <!-- <div class="bs-example container" data-example-id="striped-table">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Resolution Time</th>
            <th>Contact</th>
            <th>Remarks</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ticket not responded on same day</td>
            <td>1800-209-4455</td>
            <td>Head, Helpdesk</td>
          </tr>
          <tr>
            <td>Ticket not responded/resolved in 2 days</td>
            <td>91-8130858284</td>
            <td>Mr.Jayant Prajapati<br>Head, MSETU Portal</td>
          </tr>
          <tr>
            <td>Ticket not responded/resolved in >3 Days</td>
            <td>91-9860103185</td>
            <td>MR.ANANTHA SUBRAMANIAN.R<br>Head MSETU Portal</td>
          </tr>
        </tbody>
      </table>
    </div> -->
  </div>