.liquidityContainer{
    // .img-div{
    //     height: 280px;
    // }
    .tblHdr{
        background: #5D5D5D;
        color: #fff;
        font-size: 13px;
       .block{
            padding: 8px 0px;
        }
        .borderRight{
            border-right: 1px solid #C9C9C9;
        }
    }
    .customScroll{
        height: 75vh;
        overflow: hidden;
        overflow-y: auto;
    }
    .internalContainer{
        border: 1px solid #eee;
        font-size: 13px;
        padding: 10px;
        color: #827e7e;
        font-weight: 500;
       border-top: 0px;
       padding: 0px 10px;
        .radioConatiner{
            .mat-radio-button{
                margin: 0px 10px;
            }
            .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
                border-color: #e33045 !important;
            }
        }
    }
}