<div class="container-fluid SRMMMIS padding">
        <div class="grid">
          <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
            <div class="row width100 verticalCenter">
            <div class="col-md-6">
            <h4 class="no-margin">SRMM MIS</h4>
            </div>
            <div class="col-md-6 no-padding">
            <p class="no-margin font-13 width100 flex verticalEndCenter">
              <span class="pointer"  [routerLink]="roleId == '7' ? '/adminDashboard' : '/dashboard'" routerDirection="backward">Home</span><mat-icon>chevron_right</mat-icon>
            <span class="secondaryMenu">SRMM MIS</span> 
            </p>
            </div>
            </div>
            </div>
      
            <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
                <mat-card class="no-padding mainOuterCardContainer">
                    <div class="col-md-12 padding height100">
                      <div class="row no-margin">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5 colInputHeader verticalEndCenter font-13">Select Year:</div>
                                <div class="col-md-7 colInput">
                                    <mat-form-field appearance="outline" class="borderInput font-13">
                                      <mat-select [(ngModel)]="year" (selectionChange)="getAssessor(year)">
                                          <mat-option [value]="year.SchID" *ngFor="let year of master_details.listAllYears">{{year.SchID}}</mat-option>
                                          <!-- <mat-option>Option 1</mat-option> -->
                                      </mat-select>
                                     </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-5 colInputHeader verticalEndCenter font-13">Assessor:</div>
                              <div class="col-md-7 colInput">
                                  <mat-form-field appearance="outline" class="borderInput font-13">
                                    <mat-select [(ngModel)]="Assessor">
                                        <mat-option [value]="assessor.Assessor" *ngFor="let assessor of assessor_data">{{assessor.Assessor}}</mat-option>
                                    </mat-select>
                                   </mat-form-field>
                              </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                              <div class="col-md-5 colInputHeader verticalEndCenter font-13">Commodity:</div>
                              <div class="col-md-7 colInput">
                                  <mat-form-field appearance="outline" class="borderInput font-13">
                                      <mat-select [(ngModel)]="Commodity">
                                          <mat-option *ngFor="let Commodity of master_details.listCommodity" [value]="Commodity.Commodity">{{Commodity.Commodity}}</mat-option>
                                      </mat-select>
                                   </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-5 colInputHeader verticalEndCenter font-13">Status:</div>
                              <div class="col-md-7 colInput">
                                  <mat-form-field appearance="outline" class="borderInput font-13">
                                      <mat-select [(ngModel)]="Status">
                                          <mat-option *ngFor="let status of master_details.listStatus" [value]="status.Status">{{status.Status}}</mat-option>
                                      </mat-select>
                                   </mat-form-field>
                              </div>
                              </div>
                        </div>
                        <div class="col-md-4">
                          <div class="row">
                              <div class="col-md-5 colInputHeader verticalEndCenter font-13">Rating:</div>
                              <div class="col-md-7 colInput">
                                  <mat-form-field appearance="outline" class="borderInput font-13">
                                      <mat-select [(ngModel)]="Rating">
                                          <mat-option *ngFor="let rating of master_details.listRating" [value]="rating.RatingValue">{{rating.Rating}}</mat-option>
                                      </mat-select>
                                   </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12 colInput btnConatiner">
                                 <div class="disInlineBlock  firstBtnBlock">
                                     <button (click)="searchMISReport()" color="theme-red-button">Search</button>
                                 </div> 
                                 <div class="disInlineBlock secondBsecondtnBlock ">
                                     <button (click)="exportExcel()" class="verticalMiddleCenter" color="theme-green-button">
                                         <mat-icon  class="flex margin-right-10 disInlineBlock excelCustIcon" svgIcon="excelIcon"></mat-icon>
                                         Export To Excel
                                       </button> 
                                 </div> 
                             </div>
                           </div>
                        </div>
                      </div>
                     <div class="row no-margin tblConatiner">
                              <div class="example-container tbl_New_Layout height100">
                                <div class="table-container">
                                  <table mat-table  class="lessons-table" [dataSource]="DataSource">
                                     <ng-container matColumnDef="supplierCode">
                                    <th mat-header-cell *matHeaderCellDef class="tblColFlex6">Supplier Code</th>
                                    <td mat-cell *matCellDef="let element" >
                                      {{ element.SupplierCode || "N/A" }}
                                    </td>
                                  </ng-container>
                                  <ng-container matColumnDef="supplierName">
                                      <th mat-header-cell *matHeaderCellDef class="tblColFlex17">Supplier Name</th>
                                      <td mat-cell *matCellDef="let element" >
                                        {{ element.SupplierName || "N/A" }}
                                        </td>
                                    </ng-container>
                                   <ng-container matColumnDef="Email">
                                          <th mat-header-cell *matHeaderCellDef class="tblColFlex10">Email</th>
                                          <td mat-cell *matCellDef="let element" >
                                            {{ element.Email || "N/A" }}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="Rating">
                                          <th mat-header-cell *matHeaderCellDef class="tblColFlex5">Rating</th>
                                          <td mat-cell *matCellDef="let element" >
                                            {{ element.Rating || "N/A" }}
                                            </td>
                                        </ng-container>
        
                                        <ng-container matColumnDef="assessmentOn">
                                            <th mat-header-cell *matHeaderCellDef class="tblColFlex7">Assessment On</th>
                                            <td mat-cell *matCellDef="let element" >
                                              {{ element['Assessment On'] || "N/A" }}
                                              </td>
                                          </ng-container>
                                          <ng-container matColumnDef="Assessor">
                                              <th mat-header-cell *matHeaderCellDef class="tblColFlex10">Assessor</th>
                                              <td mat-cell *matCellDef="let element" >
                                                  {{ element.Assessor || "N/A" }}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="Status">
                                              <th mat-header-cell *matHeaderCellDef class="tblColFlex6"> Status</th>
                                              <td mat-cell *matCellDef="let element">
                                                  {{ element.Status || "Pending from supplier" }}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="AuditSubmitted">
                                                <th mat-header-cell *matHeaderCellDef class="tblColFlex11">Audit Submitted by Supplier</th>
                                                <td mat-cell *matCellDef="let element" >
                                                  {{ element['Audit Submitted by Supplier'] || "N/A" }}
                                                  </td>
                                              </ng-container>
                                              <ng-container matColumnDef="AuditCompleted">
                                                  <th mat-header-cell *matHeaderCellDef class="tblColFlex12"> Audit completed by Assessor</th>
                                                  <td mat-cell *matCellDef="let element" class="text-center">
                                                      {{ element['Audit Submitted by Assessor'] || "N/A" }}
                                                    </td>
                                                </ng-container>
                                                <ng-container matColumnDef="Commodity">
                                                    <th mat-header-cell *matHeaderCellDef class="tblColFlex10"> Commodity</th>
                                                    <td mat-cell *matCellDef="let element">
                                                      {{ element.Commodity || "N/A" }}
                                                      </td>
                                                  </ng-container>
                                                  <ng-container matColumnDef="ViewResponse">
                                                      <th mat-header-cell *matHeaderCellDef class="tblColFlex8">View Response</th>
                                                      <td (click)="navigate(element)" mat-cell *matCellDef="let element" class="text-center">
                                                        <mat-icon  class="flex  disInlineBlock" svgIcon="viewIcon" matTooltip="View Response"></mat-icon>               
                                                        </td>
                                                    </ng-container>
                                                 <tr mat-header-row  *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                                 </table>
                                 <div *ngIf="DataSource.length==0">No records found</div>
                            </div>
                              <!-- <mat-paginator  [length]="pageSize"  [pageSize]="5"  [pageIndex]="pageNo"
                              (page)="pageEvent = getPageChangeData($event,1)">
                            </mat-paginator> -->
                          </div>
                            </div>
                      </div>
                   
                  </mat-card>
            </div>
      
        </div>
      </div>
      
      
      
       <!---Modal Structure start-->
       <ng-template #updateAssessor >
          <div class="modal-header">
            <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">Update Assessor</h3>
            <button type="button" class="close" aria-label="Close" (click)="closeModal()">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <div class="modal-body">
           <div class="row no-margin">
              <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-5 colInputHeader verticalEndCenter font-14 required-field">
                      Supplier Code:
                      </div>
                      <div class="col-md-7 colInput">
                        <mat-form-field appearance="outline" class="borderInput font-13">
                          <input matInput  placeholder="Model Code">
                        </mat-form-field> 
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-5 colInputHeader verticalEndCenter font-14 required-field">
                          
                            </div>
                            <div class="col-md-7 colInput">
                              <div class="">
                                  <button class=""  color="theme-red-button">Get Current Assessor</button>
                              </div>
                                </div>
                            </div>
                      <div class="row">
                          <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                              Current Assessor:
                            </div>
                            <div class="col-md-7 colInput">
                              <mat-form-field appearance="outline" class="borderInput font-13">
                                <input matInput  placeholder="Model Code">
                              </mat-form-field> 
                                </div>
                            </div>
                       <div class="row">
                              <div class="col-md-5 colInputHeader verticalEndCenter font-14 required-field">
                                  New Assessor token ID:
                                </div>
                                <div class="col-md-7 colInput">
                                  <mat-form-field appearance="outline" class="borderInput font-13">
                                    <input matInput  placeholder="Model Code">
                                  </mat-form-field> 
                                    </div>
                                </div>
                                     
                     
                </div>
                
          </div>
          </div>
          <div class="modal-footer">
              <div class="col text-center">
                 <div class=" disInlineBlock">
                      <button class=""  color="theme-red-button">Update Assessor</button>
                  </div>
              </div>
             </div>
        </ng-template>
        <ng-template #editContent>
            <div class="modal-header">
              <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">Update Part Supplier Details</h3>
              <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                <mat-icon>close</mat-icon>
              </button>
            </div>
            <div class="modal-body">
              <div class="row no-margin">
                 <div class="col-md-6">
                     <div class="row">
                       <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                         Model Code:
                         </div>
                         <div class="col-md-7 colInput">
                           <mat-form-field appearance="outline" class="borderInput font-13">
                             <input matInput value="AAW3GPEH7TU05WJFNP" disabled>
                           </mat-form-field> 
                             </div>
                         </div>
                        
                               <div class="row">
                                   <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                                     Part Description:
                                     </div>
                                     <div class="col-md-7 colInput">
                                       <mat-form-field appearance="outline" class="borderInput font-13">
                                         <input matInput value="FUEL TANK" disabled>
                                       </mat-form-field>  
                                         </div>
                                     </div>
                                     <div class="row">
                                       <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                                       Plant Code:
                                         </div>
                                         <div class="col-md-7 colInput">
                                           <mat-form-field appearance="outline" class="borderInput font-13">
                                             <input matInput  value="A003">
                                           </mat-form-field> 
                                             </div>
                                         </div>
      
                                         <div class="row">
                                          <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                                            IsActive:
                                            </div>
                                            <div class="col-md-7 colInput">
                                              <mat-checkbox></mat-checkbox>
                                                </div>
                                            </div>
                                        
                        
                   </div>
                   <div class="col-md-6">
                      
                     <div class="row">
                       <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                       Part Number:
                         </div>
                         <div class="col-md-7 colInput">
                           <mat-form-field appearance="outline" class="borderInput font-13">
                             <input matInput  value="1001AAA03780N" disabled>
                           </mat-form-field> 
                             </div>
                         </div>
                <div class="row">
                           <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                           Aggregate
                             </div>
                             <div class="col-md-7 colInput">
                               <mat-form-field appearance="outline" class="borderInput font-13">
                                 <input matInput  value="FUEL TANK" disabled>
                               </mat-form-field> 
                                 </div>
                             </div>
                             <div class="row">
                               <div class="col-md-5 colInputHeader verticalEndCenter font-14">
                                Supplier Code:
                                 </div>
                                 <div class="col-md-7 colInput no-padding-right">
                                   <mat-form-field appearance="outline" class="borderInput font-13">
                                     <input matInput  value="MSETU">
                                   </mat-form-field> 
                                     </div>
                                    
                                 </div>
                     </div>
             </div>
             </div>
             <div class="modal-footer">
                 <div class="col text-center">
                    <div class="disInlineBlock">
                         <button class=""  color="theme-red-button">Update</button>
                     </div>
                 </div>
                </div>
          </ng-template>
          <!---Modal Structure stop-->