<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Msetu</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <!-- <link href="assets/css/editor/emojione.min.css" rel="stylesheet"> -->
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
</head>
<body>
  <!-- <img *ngIf src="assets/img/backgroundBg.jpg"> -->
  <div class="mloader" #mloader style="display:none"><div class="m-content">Portal can't be seen in the Portrait Mode</div></div>
  <app-root></app-root>
  <script src="assets/js/editor/ckeditor.js"></script>
  <!-- <script src="assets/js/editor/emojione.min.js"></script> -->
  <script src="assets/js/amcharts/core.js"></script>
  <script src="assets/js/amcharts/charts.js"></script>
  <script src="assets/js/amcharts/animated.js"></script>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script src="assets/js/particles.js"></script> 
  <!-- <script src="https://cdn.ckeditor.com/4.7.0//full-all/ckeditor.js"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/emojione/3.0.3/lib/js/emojione.min.js"></script>
  <script src="https://cdn.jsdelivr.net/emojione/3.0.3/extras/css/emojione.min.css"></script> -->
</body>
</html>
