/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'variable.scss';

// blue border issue css
:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}
#toolbarMenu {
    cursor: pointer;
    margin-right: 20px;
}
#mainToolbar .toolbar-spacer {
    flex: 1 1 auto;
}

#mainToolbar .toolbar-icon {
    cursor: pointer;
    margin: 0 8px;
}

.loginContainer#sidenavContainer {
    margin-top: 57px;
}
.supplierMeetContainer#sidenavContainer {
  margin-top: 0px;
}

.dashboardContainer#sidenavContainer {
  margin-top: 55px;
}

#sidenav {
    width: 240px;
}

#sidenav.menu-close {
    width: 80px;
    background-color: $color-foreground-default;
}

#sidenav.menu-open {
    width: 240px
}

#sidenav .avatar {
    background-image: url('http://i.pravatar.cc/300');
    background-size: cover;
}

#sidenav .mat-list-item-content {
    padding: 0;
}
#sidenav{
    // mat-list-item:first-child {
    //   background: $color-primary-default;
    //   }
}

#sidenav .menu-item {
    width: 100%;
    border-radius: 0;
    text-align: left;
    padding: 0px 10px 23px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sidenav .mat-list-item:hover {
  // background: #484747;
  // -ms-transform: scale(1.5); /* IE 9 */
  // -webkit-transform: scale(1.5); /* Safari 3-8 */
  // transform: scale(1.5); 
}
#sidenav .menu-item mat-icon {
    // margin-right: 20px;
    // margin-left: 12px;
}
#sidenav{
    .mat-drawer-inner-container{
        overflow: hidden;
        mat-list{
            mat-card{
                background: $color-primary-default;
                height: 70px !important;
                align-items: center;
                display: flex;
                box-shadow: 0 8px 11px -4px #0a0a0a;


            }
        }
        mat-list-item{
            height: 70px !important;
        }
    }

}
.userEditPostionSetup{
  position: relative;
  left: 30%
}
ckeditor{
  /deep/.cke_inner{
  background: transparent !important;
  padding: 0px !important;
}
}
.dash-list h3 {
    padding: 12px;
}
.smallMenuTitle{
    position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      height: 35%;
      span{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 12px;
        //color: $color-foreground-tertiary;
        color: #cac3c3;
      }
      .menuText{
        color: #fff;
      }
  }

:root {
     /* Margin css */
     .no-margin{margin: 0px !important;}
      .no-margin-left{margin-left: 0px !important;}
     .no-margin-right{margin-right: 0px !important;}
     .no-margin-top{margin-top: 0px !important;}
     .no-margin-bottom{margin-bottom: 0px !important;}

     .margin{margin: 16px !important;}

    .margin-top{margin-top: 16px !important;}
    .margin-right{margin-right: 16px !important;}
    .margin-bottom{margin-bottom: 16px !important;}
    .margin-left{margin-left: 16px !important;}
    .margin-horizontal{margin: 0px 16px !important;}
    .margin-vertical{margin: 16px 0px !important;}

    .margin-top-5{margin-top: 5px !important;}
    .margin-right-5{margin-right: 5px !important;}
    .margin-bottom-5{margin-bottom: 5px !important;}
    .margin-left-5{margin-left: 5px !important;}
    .margin-horizontal-5{margin: 0px 5px !important;}
    .margin-vertical-5{margin: 5px 0px !important;}

    .margin-top-10{margin-top: 10px !important;}
    .margin-right-10{margin-right: 10px !important;}
    .margin-bottom-10{margin-bottom: 10px !important;}
    .margin-left-10{margin-left: 10px !important;}
    .margin-horizontal-10{margin: 0px 10px !important;}
    .margin-vertical-10{margin: 10px 0px !important;}
    .margin-auto{margin: auto !important;}


     /* padding css */
     .no-padding{padding: 0px !important;}
     .no-padding-left{padding-left: 0px !important;}
     .no-padding-right{padding-right: 0px !important;}
     .no-padding-top{padding-top: 0px !important;}
     .no-padding-bottom{padding-bottom: 0px !important;}

     .padding{padding: 16px}
     .padding-10{padding: 10px}

     .padding-top{padding-top: 16px !important;}
     .padding-right{padding-right: 16px !important;}
     .padding-bottom{padding-bottom: 16px !important;}
     .padding-left{padding-left: 16px !important;}
     .padding-horizontal{padding: 0px 16px !important;}
     .padding-vertical{padding: 16px 0px !important;}
    
     .padding-5{padding:5px !important;}
     .padding-top-5{padding-top: 5px !important;}
     .padding-right-5{padding-right: 5px !important;}
     .padding-bottom-5{padding-bottom: 5px !important;}
     .padding-left-5{padding-left: 5px !important;}
     .padding-horizontal-5{padding: 0px 5px !important;}
     .padding-vertical-5{padding: 5px 0px !important;}
     
     .padding-top-10{padding-top: 10px !important;}
     .padding-right-10{padding-right: 10px !important;}
     .padding-bottom-10{padding-bottom: 10px !important;}
     .padding-left-10{padding-left: 10px !important;}
     .padding-horizontal-10{padding: 0px 10px !important;}
     .padding-vertical-10{padding: 10px 0px !important;}
    
    /* font css */
    .font-10{font-size: 10px !important;}
    .font-11{font-size: 11px !important;}
    .font-12{font-size: 12px !important;}
    .font-13{font-size: 13px !important;}
    .font-14{font-size: 14px !important;}
    .font-15{font-size: 15px !important;}
    .font-16{font-size: 16px !important;}
    .font-17{font-size: 17px !important;}
    .font-18{font-size: 18px !important;}
    .font-19{font-size: 19px !important;}
    .font-20{font-size: 20px !important;}

    .fontW-300{font-weight: 300 !important;}
    .fontW-400{font-weight: 400 !important;}
    .fontW-500{font-weight: 500 !important;}
    .fontW-600{font-weight: 600 !important;}
    .fontW-700{font-weight: 700 !important;}
    
   .themePrimaryColor{ color:$color-primary-default;}
    .verticalCenter{
        display: flex;
        align-items: center;
      }
      .verticalMiddleCenter{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .verticalEndCenter{
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      .verticalEndTop{
        display: flex;
        justify-content: flex-end;
      }
  }
body{
    margin: 0px;
    background-image: url(/assets/img/backgroundBg.png);
    font-family: 'Lato-Regular' !important;

}

.mat-expansion-panel-header{
  font-family: 'Lato-Regular' !important;
}
.mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button {
  font-family: 'Lato-Regular';
}
h1{font-size: 22px !important; font-family: 'Lato-Regular';}
h2{font-size: 18px !important; font-family: 'Lato-Regular';}
h3{font-size: 16px !important; font-family: 'Lato-Regular';}
h4{font-size: 14px !important; font-family: 'Lato-Regular';}
h5{font-size: 12px !important; font-family: 'Lato-Regular';}
h6{font-size: 10px !important; font-family: 'Lato-Regular';}

.no-radius{ border-radius: 0% !important;}
.no-border{ border: 0px !important;}
.no-shadow{ box-shadow: none !important;}
.text-transform-uppercase{text-transform: uppercase;}
.text-transform-capitalize{text-transform: capitalize;}
.border-radius{border-radius: 6px;}
.border-radius-3{border-radius: 3px;}
.top-let-radius{border-top-left-radius: 3px;}
.top-right-radius{border-top-right-radius: 3px;}
.bottom-left-radius{border-bottom-left-radius: 3px;}
.bottom-right-radius{border-bottom-right-radius: 3px;}
.width100{width: 100%;}
.width50{width: 50%;}
.tblColSmall{width: 100px;}
.tblColMedium{width: 150px;}
.tblColLarge{width: 200px;}
.height100{height: 100% !important;}
.height25{height: 25%;}
.width50{width: 50%;}
.flex{display: flex !important;}
.disInlineBlock{display: inline-block !important;}
.mat-radio-button.mat-accent .mat-radio-inner-circle{
  background-color: $color-background-default;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  // border-color: #bfbfbf;
  border-color: #e33045 !important;
}
.mat-radio-outer-circle{
  height: 12px !important;
  width: 12px !important;
  border-width: 1px !important;
  color:#8D8D8D !important;

}
.mat-radio-inner-circle{
  height: 12px !important;
  width: 12px !important;
}
.mat-radio-container{
  height: 12px !important;
  width: 12px !important;
}
.mark, mark{
  background: transparent !important;
  color: #ffffffad;
  .mat-icon{
    font-size: 10px !important;
    text-align: center;
    width: 15px !important;
    height: 0px !important;
  }
}
.pull-right{
  float: right;
}

  @font-face {
    font-family: 'Lato-Light';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/Lato-Light/Lato-Light.ttf');
  }
  
  @font-face {
    font-family: 'Lato-Medium';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/Lato-Medium/Lato-Medium.ttf');
  }
  
  @font-face {
    font-family: 'Lato-Bold';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/Lato-Bold/Lato-Bold.ttf');
  }
  
  @font-face {
    font-family: 'Lato-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/Lato-Regular/Lato-Regular.ttf');
  }
  @font-face {
    font-family: 'Playfair-Display1';
    font-style: normal;
    src: url('/assets/fonts/New folder/static/PlayfairDisplay-MediumItalic.ttf');
  }
  @font-face {
    font-family: 'Playfair-Display2';
    font-style: normal;
    src: url('/assets/fonts/New folder/static/PlayfairDisplay-Italic.ttf');
  }
  @font-face {
    font-family: 'Playfair-Display3';
    font-style: normal;
    src: url('/assets/fonts/New folder/static/PlayfairDisplay-BlackItalic.ttf');
  }
  @font-face {
    font-family: 'Playfair-Display4';
    font-style: normal;
    src: url('/assets/fonts/New folder/static/PlayfairDisplay-Black.ttf');
  }


  //Button red outline

[color='theme-red-button'] {
    background-color: $color-primary-default;
    color: $color-white-default;
    border: 1px solid $color-primary-default;
    box-shadow: none;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0px;
    width: 100%;
    border-radius: 3px;
    padding: 7px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
   }
   [color='theme-red-outline-button'] {
    background-color: transparent;
    color: $color-primary-default;
    border: 1px solid $color-primary-default;
    box-shadow: none;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0px;
    width: 100%;
    border-radius: 3px;
    padding: 7px;
   }
   [color='theme-text-button'] {
    background-color: $color-white-default;
    color: $color-foreground-secondary;
    border: 1px solid $color-white-default;
    box-shadow: none;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0px;
    width: 100%;
    border-radius: 3px;
    padding: 7px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
   }
   
   [color='theme-gray-button'] {
    background-color: $color-lightgray-Btn;
    color: $color-white-default;
    border: 1px solid $color-lightgray-Btn;
    box-shadow: none;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0px;
    width: 100%;
    border-radius: 3px;
    padding: 7px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
   }
   [color='theme-mediumgray-button'] {
    background-color: $color-mediumGray-quaternary;
    color: $color-white-default;
    border: 1px solid $color-mediumGray-quaternary;
    box-shadow: none;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0px;
    width: 100%;
    border-radius: 3px;
    padding: 7px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
   }
   [color='theme-darkgray-button'] {
    background-color: $color-foreground-secondary;
    color: $color-white-default;
    border: 1px solid $color-foreground-secondary;
    box-shadow: none;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0px;
    width: 100%;
    border-radius: 3px;
    padding: 7px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
   }
   [color='theme-round-white-button'] {
    background-color: $color-background-white;
    color: $color-pink-default;
    border: 1px solid $color-background-white;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0px;
    width: 100%;
    border-radius: 3px;
    padding: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    font-family: 'Lato-Medium';
   }
   [color='theme-green-button'] {
    background-color: $color-green-default;
    color: $color-white-default;
    border: 1px solid $color-green-default;
    box-shadow: none;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0px;
    width: 100%;
    border-radius: 3px;
    padding: 7px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
   }
   [color='theme-blue-button'] {
    background-color: $color-blue-default;
    color: $color-white-default;
    border: 1px solid $color-blue-default;
    box-shadow: none;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0px;
    width: 100%;
    border-radius: 3px;
    padding: 7px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
   }
   [color='theme-pink-button'] {
    background-color: $color-lightPink-default;
    color: $color-white-default;
    border: 1px solid $color-lightPink-default;
    box-shadow: none;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0px;
    width: 100%;
    border-radius: 3px;
    padding: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
   }
   
  
  .mat-drawer-container{
    background-color: transparent !important;
  }
  .mat-badge-accent .mat-badge-content{
    background: $color-primary-default;
    font-size: 10px;
  }
  .mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content{
    right: -10px !important;
  }
  .mat-badge-medium.mat-badge-above .mat-badge-content {
    top: -6px !important;
}
.carousel-inner{
  height: 100%;
  .carousel-item.active{
    height: 100%;
    .picsum-img-wrapper{
      height: 100%;
      img{
        height: 100%;
        width: 100%;
      }
    }
  }
}
.carousel-control-next, .carousel-control-prev{
  opacity: 1 !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon:hover{
  cursor: pointer;
  }
  
.mat-toolbar-single-row{
  height: 55px !important;
}

// breadcrumb css start
.custBreadcrumb{
  color: $color-white-default;
  border: 1px solid  $color-foreground-secondary;
  background: #383636 ;
  padding: 4px;
  padding-left: 10px;
  .mat-icon{
    width: 30px;
    text-align: center;
    color: $color-foreground-tertiary;
  }
  .secondaryMenu{
    color: $color-foreground-tertiary;
  }
}
// breadcrumb css stop

//tab css start

mat-tab-group.customVerticalTab{
  mat-tab-header{
    .mat-tab-label{
      height: 60px !important;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
      border-right: 1px solid rgba(0, 0, 0, 0.12) !important;
    }
  }
  .mat-tab-body-wrapper{
    padding: 16px;
  }
}
mat-tab-group.customTab{
  mat-tab-header{
    .mat-tab-label{
      // width: 20%;
      border-right: 1px solid rgba(0,0,0,.12);
    }
    .mat-tab-label-active{
      color: $color-primary-default;
    }
  }
 
  .mat-tab-header, .mat-tab-label-container{
    overflow: inherit !important;
  }
.mat-ink-bar:after {
    content: '';
    position: absolute;
    top: 2px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 5px #e33045;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
}
}
.SSISurveyCard{
  mat-tab-group.customTab{
  .mat-tab-header, .mat-tab-label-container{
      overflow: hidden !important;
    }
 }
}
.spacer{
  padding: 10px;
}
.divider{
  border-bottom: 1px solid #e0e0e0;
  margin: 16px 0px !important;
}
.primarySmallBtn{
  width: 10%;
  button{
    .mat-icon{
      font-size: 15px !important;
    height: 15px !important;
    width: 15px !important;
    }
  }
}
.btnBlockConatiner{
  button{
    .mat-icon{
      font-size: 15px !important;
    height: 15px !important;
    width: 15px !important;
    }
  }
}
.primaryBtn{
  width: 15%;
}
.primaryFormBtn{
  width: 18%;
  margin: auto;
}
.mat-card-footer{
  border-top: 1px solid $color-foreground-quaternary;
}
.border-right{
  border-right: 1px solid $color-foreground-quaternary;
}

.mat-form-field{
  width:100% !important;
  font-size: 13px;
}

.playBtn:before{
  -webkit-animation: 2.5s blow 0s linear infinite;
  animation: 2.5s blow 0s linear infinite;
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  top: 0px;
  margin: 0 auto;
  border-radius: 50%;
  z-index: 0;
}
@-webkit-keyframes blow {
  0% {
    -webkit-box-shadow: 0 0 0 0px #ffffff0f;
    box-shadow: 0 0 0 0px #ffffff0f;
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 0.5);
    transform: scale3d(1, 1, 0.5); }
  50% {
    -webkit-box-shadow: 0 0 0 10px #ffffff0f;
    box-shadow: 0 0 0 10px #ffffff0f;
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 0.5);
    transform: scale3d(1, 1, 0.5); }
  100% {
    -webkit-box-shadow: 0 0 0 20px #ffffff0f;
    box-shadow: 0 0 0 20px #ffffff0f;
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 0.5);
    transform: scale3d(1, 1, 0.5); } }

@keyframes blow {
  0% {
    -webkit-box-shadow: 0 0 0 0px #ffffff0f;
    box-shadow: 0 0 0 0px #ffffff0f;
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 0.5);
    transform: scale3d(1, 1, 0.5); }
  50% {
    -webkit-box-shadow: 0 0 0 10px #ffffff0f;
    box-shadow: 0 0 0 10px #ffffff0f;
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 0.5);
    transform: scale3d(1, 1, 0.5); }
  100% {
    -webkit-box-shadow: 0 0 0 20px #ffffff0f;
    box-shadow: 0 0 0 20px #ffffff0f;
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 0.5);
    transform: scale3d(1, 1, 0.5); } }
    @keyframes bounce { 
      0% { transform: translateY(0); }
      100% { transform: translateY(-40px); }
    }
///material table css start

.example-container.tbl_New_Layout {
 width: 100%;
 .table-container{
  overflow-y: auto;
  overflow-x: auto;
 }

 table { 
  width: 100%;
  font-family: 'Lato-Regular' !important;
  font-weight: 500;
}

tr.mat-header-row {
  height: 35px !important;
}
th.mat-header-cell {
  background: #6f6f6f;
  color: #fff;
  padding: 0px 8px !important;
  border-right: 1px solid #DDDDDD !important;
  font-size: 13px;
  font-weight: 500;
  font-family: 'Lato-Light' !important;
  
}
tr.mat-row,tr.mat-footer-row {
  height: 40px !important;
}
td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
   border-left: 1px solid #DDDDDD;
}


th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

td.mat-cell,td.mat-footer-cell{
  background: transparent;
  border-bottom: 1px solid #DDDDDD;
  font-size: 13px;
  padding: 0px 8px !important;
  font-weight: 500;
  color: #6e6e6e;
  border-right: 1px solid #DDDDDD !important;
}
.mat-header-cell {
  font-size: 12px;
  font-weight: 400;
}
.tblColFlex4{flex: 4rem;min-width: 4rem;}
.tblColFlex5{flex: 5rem;min-width: 5rem;}
.tblColFlex6{flex: 6rem;min-width: 6rem;}
.tblColFlex7{flex: 7rem;min-width: 7rem;}
.tblColFlex8{flex: 8rem;min-width: 8rem;}
.tblColFlex9{flex: 9rem;min-width: 9rem;}
.tblColFlex10{flex: 10rem;min-width: 10rem;}
.tblColFlex11{flex: 11rem;min-width: 11rem;}
.tblColFlex12{flex: 12rem;min-width: 12rem;}
.tblColFlex13{flex: 13rem;min-width: 13rem;}
.tblColFlex14{flex: 14rem;min-width: 14rem;}
.tblColFlex15{flex: 15rem;min-width: 15rem;}
.tblColFlex16{flex: 16rem;min-width: 16rem;}
.tblColFlex17{flex: 17rem;min-width: 17rem;}
.tblColFlex20{flex: 20rem;min-width: 20rem;}
.tblLinkBtn{ text-decoration: underline;color: #00BCD4;cursor: pointer;}
tfoot{
  tr{
    td{
      background:#e6e6e6 !important;
    }
  }
}
tr:nth-child(odd)	
	{ background-color:#fff; }
tr:nth-child(even)	
  { background-color:#ebebeb; }
  mat-checkbox{
    label{
      margin-bottom: 0px !important;
    }
  }
}


.excelDownloadBlock{
  color: #4caf50;
  mat-icon{
    font-size: 20px;
    height: 20px;
    width: 20px;
  }
}

@mixin mat-table-columns($columns)
{
    .mat-column-
    {
        @each $colName, $props in $columns {

            $width: map-get($props, 'width');

            &#{$colName} 
            {
                flex: $width;
                min-width: $width;

                @if map-has-key($props, 'color') 
                {
                    color: map-get($props, 'color');
                }
            }  
        }
    }
}



 // scrollbar css start
::-webkit-scrollbar {width: 10px;height: 10px;transition: background-color 0.25s ease-out, color 0.25s ease-out;}

/* Track */

::-webkit-scrollbar-track {-webkit-box-shadow: none;-webkit-border-radius: 20px;border-radius: 20px;transition: background-color 0.25s ease-out, color 0.25s ease-out;background-color: #f1eded;}

/* Handle */

::-webkit-scrollbar-thumb {-webkit-border-radius: 20px;border-radius: 20px;background-color: transparent;transition: background-color 0.25s ease-out, color 0.25s ease-out;}

:hover::-webkit-scrollbar-thumb {-webkit-border-radius: 20px; border-radius: 20px;background-color: #bec2ca;}

::-webkit-scrollbar-thumb:window-inactive { background-color: none;}

// scrollbar css stop

// marque tag start
.movingUpdates{
  .updateBtn{
     border: 1px solid $color-skyblue-default;
     background: $color-skyblue-default;
     color: $color-white-default;
     padding: 4px;
  }
  .movingText{
     color: $color-white-default;
     border: 1px solid #4a4949;
     //background: #1a1a1a;
     background: #000;
     letter-spacing: 1px !important;
     padding: 4px;
     padding-left: 10px;
     .updateTriangle{
         width: 0;
         height: 0;
         border-style: solid;
         border-width: 5px 0 5px 10px;
         border-color: transparent transparent transparent #0eb1d8;
         position: absolute;
         left: -5px;
     }
  }
}
// marque tag stop



//mat-stepper css start
/deep/.mat-step-label-selected{
color:#E33045;
}
// .mat-step-header .mat-step-icon {
//   background-color: #fff;
//   color:rgba(0,0,0,.54);
// }
//mat-stepper css stop

.rotate180{
  transform: rotate(180deg);
}
.pointerCursor{
  cursor: pointer;
}
.vertcalAligment{
  margin: .25em 0 !important;
}
mat-tab-group.customTab{
  mat-tab-header{
    .mat-tab-label{
      width: 20%;
    }
  }
}
mat-tab-group.customTab.largeTab{
  mat-tab-header{
    .mat-tab-label{
      width: auto;
    }
  }
}

:root{

  .plasticWasteManagement{
      padding: 20px;
  
      .heading{
          color: #e33045;
      }
  
      .content-font-opacity{
          opacity: 0.6;
      }
  
      .close-modal{
          float: right;
          opacity: 0.5;
          cursor: pointer;
      }
  
      .tag_links{
          box-sizing: border-box;
          border-radius: 25px;
          border: 1px #e53c50 solid;
          color: #e53c50;
          padding: 5px 15px;
          text-align: center;
          mat-icon{
              width: 18px;
          }
      }
  
  }
  
  .notificationOnPlasticUsage{
      padding: 20px;
  
      .heading{
          color: #e33045;
      }
  
      .content-font-opacity{
          opacity: 0.6;
      }
  
      .close-modal{
          float: right;
          opacity: 0.5;
          cursor: pointer;
      }
  
      .details{
          opacity: 0.8;
      }
  }

    // If frontend breaks or if any error pops up comment this code
    /deep/.cdk-overlay-container{
      // ::ng-deep .cdk-overlay-container{
        z-index:2000;
      // }
    }

}

.required-field::after {
  content: "*";
  color: red;
}
.formModal{
  .modal-content{
     .modal-body{
       /deep/{
        .borderInput{
          .mat-form-field-infix{border-top: 0px !important;}
          .mat-form-field-wrapper{padding-bottom: 0px;}
          }
        }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: rgba(0,0,0,.12); }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{border-width: 1px !important;}
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{border-width: 1px !important;}
        /deep/.mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix {top: 0.40em !important;}
        /deep/.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline{
          background:#fff;
        }
        .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
          color: red!important;
          opacity: 0.8!important;
        } 
        .required-field::after {
          content: "*";
          color: red;
      } 

        /deep/.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline{
          background:#fff;
        }
        /deep/.uploadBlock{
          background: #F2F2F2;
          padding: 10px;
          border-radius: 35px;
          mat-icon{
            height: 19px !important;
            width: 19px !important;
            font-size: 19px !important;
            display: flex !important;
          }
        }
      }
   }
   .highRisk{
    width: 100%;
    height: 18px;
    background-color: red !important;
}
.aboveAverageRisk{
    width: 100%;
    height: 18px;
    background-color:pink !important;  
}
.averageRisk{
  width: 100%;
    height: 18px;
    background-color: yellow !important;
}
.belowAverageRisk{
  width: 100%;
    height: 18px;
    background-color: lightgreen !important;
}
.lowRisk{
  width: 100%;
    height: 18px;
    background-color:green !important;
}
 }
 .modal-backdrop.show {
  opacity: .7 !important;
}
.pointer {cursor: pointer;}
.rating_class{
  font-size: 1.5em;
  color: #e33045;
}
.mainOuterCardContainer{
  //toolbar(55)+Breadcrumb(34)+ConatinerPaddingTOP&Bottom(32)+divTopPadding(16)= 137
  height: calc(100vh - 137px);
}
.draggableListBlock{
  .draggableRow{
    width: 100%;
   .imgBlock{
     display: inline-block;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      border: 1px solid #e0dddd;
      // height: 35px;
      // width: 35px;
    }
    .contentBlock{
      width:85%;display: inline-block;
    }
    .imgContainer{
      height:30px;width:30px;
    }
  }
}
.dragPanelBlock {
 padding: 10px 10px;
 color: rgba(0, 0, 0, 0.87);
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 box-sizing: border-box;
 cursor: move;
 font-size: 14px;
 margin-bottom: 10px;
 background: #EFEFEF;
}

.cdk-drag-preview {
 box-sizing: border-box;
 border-radius: 4px;
 box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
             0 8px 10px 1px rgba(0, 0, 0, 0.14),
             0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
 opacity: 0;
}

.cdk-drag-animating {
 transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
 border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
 transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.excelCustIcon{
  height: 19px !important;
  width: 19px !important;
}
.addCustIcon{
  height: 11px !important;
  width: 11px !important;
}
.vertcalAligment{
  margin: .25em 0;
}
.draggableHdr{
  background: #888888;
  color: $color-white-default;
  padding: 10px;
}
.lineClamp{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.bgTransparent{
  background: transparent !important;
}
.mat-tab-header-pagination-before{border-right: 1px solid #eee;}
.mat-tab-header-pagination-after{border-left: 1px solid #eee;}
.notificationModal{
  .modal-dialog{
    top: 5%;
  }
}



// IE NEW STYLE SCSS START--PANKAJ


.mat-datepicker-popup {
   
  z-index: 99999999 !important;
  
}
 
.cdk-overlay-container {
  position: fixed;
  z-index: 999999;
}
 
.mat-menu-panel {
  min-width: 112px;
  max-width: 280px;
  width: 280px;
  
}
 
.logoAlign
{top:0} 

.msetuLogo {
  
  left: -46px !important; 

}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS */
  .mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix
{top:-12px !important}

.mat-form-field-prefix .mat-icon-button, .mat-form-field-suffix .mat-icon-button
{display: initial !important; height:0px !important}
}

.vertcalAligment
{vertical-align: text-bottom;}

.mat-list-item-content .menuRow
{color:#333}
 
.toast-top-right {
  top: 30px;
  right: 0px;
  left: 0;
  margin: auto;
  
}

.lineClamp
{max-height:30px; overflow: hidden;}
 
.toast-container .ngx-toastr
{margin:auto}
 
.conferenceMargin{
overflow: hidden;
overflow-y: scroll;

 
}

.contentpanel
{height: 700px;}

.rightPanel .mat-form-field-appearance-outline input.mat-input-element
{color: #f6f6f6;}
 
/* registration.componant.scss line5 */
.content-div{
 
  padding-bottom: 50px;
}

/*.w-50
{width:auto !important}*/

.content-div h4{
 padding-top: 30px;
  
} 

.left_arrow
{border:0px !important}

.col-md-8.padding.leftBlock img {
  width: 100%;
}

@media screen and (min-width: 760px) and (max-width: 1260px){
.row.no-margin.filterSection [class*='col-'] {
  padding-left: 10px;
  
}
table.mat-table {
  min-width: 1100px;
}

button.verticalMiddleCenter {
  position: relative;
  min-width: 80px;
}

.listpanel {
 
  width: 1100px;
  min-width: 1100px !important;
  max-width:1400px;
}

.JITPage[_ngcontent-moy-c16] .custIconWidth[_ngcontent-moy-c16] {
  -webkit-box-flex: 0 !important;
  flex: 0 0 4% !important;
  max-width: 4% !important;
}

.filterContainer .mat-form-field-infix {
  min-width: 60px;
  width: auto;
}
.col-md-3.no-padding-left.gridlist {
  max-width: 22%;
}

.col-md-3.no-padding-left.gridbuttons {
  max-width: 35%;
  flex: 0 0 34%;
}

.gridlist .cardTitle {
  font-size: 15px;
}
.formModal .modal-lg, .modal-xl {
  max-width: 980px;
}

.transactionPanel  .primaryBtn {
  width: 24%;
}
.mat-expansion-panel-body {
  padding: 0 0px 16px !important;
}
.dashboardPage .centerContainer .businessPanel .innerBlock {
  
  padding: 0px 20px 5px !important;
}
.dashboardPage .centerContainer .liveInfoPanel .newUpdates .innerBlock {
 
  padding: 15px 10px 10px !important;
}
.dashboardPage .centerContainer .liveInfoPanel .newUpdates .innerBlock mat-list-item .mat-icon {
 
  margin-right: 0px !important;
  /* line-height: 9px; */
}

.OESuppliesPage .sideMenuOpen .subMenuList  {
 
  height: auto !important;
  padding: 10px 0px !important;
}

.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
  
  line-height: 14px;
}
}
@media screen and (min-width: 760px) and (max-width: 960px){
.formModal .modal-dialog {
  max-width: 700px;
  margin: 1.75rem auto;
}

}


/* New Css */

.dashboardPage .centerContainer .liveInfoPanel .imgSliderPanel .innerBlock .carousel-caption {
  background: #292929 !important;
  opacity: 1 !important;
  
}

.dashboardPage .askCaraBtn {
   height: auto !important;
  
}

.mark, mark
{
  color: #fff;
    font-weight: bold;
    font-size: 12px;
}

.imgBlock{width:60px !important}

.formModal .modal-content .modal-body .uploadBlock {
  background: #F2F2F2;
  
}

/*.listpanel {
  background: #EFEFEF;
  width: 1400px;
  min-width: 1400px !important;
}*/
.listpanel .textbreak {
  /* word-break: break-all !important; */
  /* width: 100%; */
  /* display: inline-block; */
  overflow: hidden;
  max-height: 60px;
  word-break: break-word;
  display: block;
}

.listpanel .imgBlock {
  width: 46px !important;
}

.leftformBlockOpen .sideopen
{width:100% !important; margin-left: 0 !important;max-width:  100%;}

.mainMenuPanelOpen .col.col-md-12.no-padding.height100 {
  height: 1400px !important;
  overflow: hidden;
}

.mainMenuPanelOpen .menuListPanel
{height:86vh !important}

.imgSliderPanel .carousel-item
{display:none }


.carousel-item-next, .carousel-item-prev, .carousel-item.active
{display: block;}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  
  line-height: 36px !important;
}

.form-inline .form-control {
  height: auto;
  border: 0px;
}

#exampleFormControlSelect1 {
  text-align: left;
  padding: 0;
  min-width: 85px;
}

.mloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #3d3d3d;
  left: 0;
  top: 0;
  z-index: 999999999;
  color: #fff;
  text-align: center;
  font-size: 33px;
}

.m-content
{    margin-top: 100px;
  font-size: 23px;}

.required{color: #f00;}

.radiogrid .mat-radio-button {
  margin-right: 10px;
}

#overlay-playbutton .start-overlay .cs-button div {
  
  padding-top: 0.3923px !important;
  
  padding-left: 3.7846px !important;

}

#mainToolbar .toolbar-icon path {
  fill: #fff !important;
    stroke: #fff;
    stroke-width: 0.4;
}

.active{
  color:#f00;
}

.leftMenuPanel .mat-list-item.active {
  background: rgba(122, 97, 97, 0.04);
  border-bottom: 2px solid #5fb35f !important;
  color:#f00
}

.leftMenuPanel .mat-list-item.active .menuRow
{
  font-weight: bold;
}