$color-primary-default: #E33045;
$color-primary-dark: #A51223;
$color-primary-light: #FFCED4;


$color-foreground-default: #313030;
$color-foreground-secondary: #525252;
$color-foreground-tertiary: #8B8B8B;
$color-foreground-quaternary: #F4F4F4;
$color-mediumGray-quaternary: #6f6f6f;


$color-background-default: #E33045;
$color-background-secondary: #E33045;
$color-background-tertiary: #E33045;
$color-background-quaternary: #E33045;
$color-background-white: #fff;

$color-yellow-default: #FFCE00;
$color-yellow-dark: #FFB100;
$color-yellow-light: #FFF4C7;
$color-green-default: #7EAA08;
$color-blue-default: #1565C0;
$color-lightPink-default :#FF8181;

$color-skyblue-default: #0EB1D8;
$color-white-default: #fff;
$color-pink-default:#E31837;
$color-lightgray-Btn:#949494;

$color-error-default: #cc0000;

