<div mat-dialog-content>
    <!-- <div #alert class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
        </button> -->
        
        <!-- <hr> -->
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group text-left mr-5 mb-0">
                                <h5 style="color: #F4B1B9;">Disclaimer:</h5>
                                <ul style="font-size: small; color: #B2B2B2;">
                                    <li>
                                        This message is confidential. Please read and fill your information carefully before submitting the registration form.
                                    </li>
                                    <li>
                                        <b style="font-size: small"> Registration closes on {{showdate.ResponseData.EndDate| date: 'dd-MMMM-yyyy'}}, post which changes will be charged as cancellation </b>
                                    </li>
                                    <li>
                                        <b style="font-size: small"> Once Registration respective delegated names will be deleted from the main list and they will not be able to re-register. Therefore, we request everyone to carefully fill in the forms </b>
                                    </li>
                                    <li>
                                        The check-in time is 1500hrs, so deligates reaching before that, we recommend them to pre-book their rooms. This will also show in the registration form under time of arrival.
                                    </li>
                                    <li>
                                        Airport pickups and drops are not available. However, if you wish to book a private transfer for yourself, please click on Contact Us.
                                    </li>
                                    <li>
                                        Till you are not sure for your booking, please do not continue with registration.
                                    </li>
                                    <li>
                                        By using or accessing the website and any of its pages, visitors expressly agrees to the terms and condition set out in this Disclaimer.
                                    </li>
                                    </ul>
                            </div>
                        </div>
                    </div>
                    <!-- <mat-divider></mat-divider> -->
    <!-- </div> -->
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Agree</button>
  <button mat-button (click)="onNoClick()">Disagree</button>
</div>