.content-heading{
  font-size: 40px;
}
.contentpara{
  font-size: 15px;
  /* color: lightgray; */
  /* color: #BCBCBC; */
}
.contentpara1{
  color: lightgray;
}
.commonBulletPoints{
  height: 20px;
  width: 26px;
   font-size: 15px;
   font-weight: 400;
  opacity: 0.7;
}
strong{
     font-size: 20px;
     font-weight: 400;
}

@media (min-width: 1024px) {
  
}
@media (max-width:768px){
}
@media (max-width:576px){
}
@media (max-width:375px){
}