<div class="container-fluid">
    <div class="pt-3 pl-3">
        <h5 class="d-inline-block content-heading" style="color: red; font-size: medium;"><strong>Documents</strong></h5><br>
        <div [innerHtml]="sydney.tipsStayData.Documents"></div>
        <!-- <span class="contentpara">{{sydney.tipsStayData.Documents}}&nbsp;</span> -->
        <p>
        </p>
        
        <h5 class="d-inline-block content-heading" style="color: red; font-size: medium;"><strong>Smoking</strong></h5><br>
        <div [innerHtml]="sydney.tipsStayData.Smoking"></div>
        <!-- <p>
            <span class="contentpara">{{sydney.tipsStayData.Smoking}}</span>
        </p> -->
        
        <h5 class="d-inline-block content-heading" style="color: red; font-size: medium;"><strong>Precautions</strong></h5><br>
        <div [innerHtml]="sydney.tipsStayData.Precautions"></div>
        <!-- <p>
            <span class="contentpara">{{sydney.tipsStayData.Precautions}}</span><br>
        </p> -->
        
        <h5 class="d-inline-block content-heading" style="color: red; font-size: medium;"><strong>Theft Inside the Hotel Room</strong></h5><br>
        <span class="contentpara" style="color: darkgray;">In case of theft or missing items, please follow the following steps:</span><br>
        <div [innerHtml]="sydney.tipsStayData.HotelDetails"></div>
        <p>
            <!-- <span class="contentpara">
                {{sydney.tipsStayData.HotelDetails}}</span><br> -->
        </p>
 
 
    </div>
 
 </div>