<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="border-right" id="sidebar-wrapper">
        <h5 id="rot">Mahindra Annual Supplier Meet, {{supplier_location|titlecase}} 2020</h5>
        <div class="main-logo">
            <a (click)="gotoRoute('Supplier-meet-home')"><img src="../../assets/SupplierImages/SuppPub.png"></a>
        </div>
        <div class="list-group list-group-flush p-custom position-relative">
            <div class="d-inline position-absolute right_0">
                <a routerLinkActive="active-link" (click)="gotoRoute('sydney')"
                    class="list-group-item list-group-item-action bg-transparent d-inline sidetabs mb-1">
                    <img src="../../assets/SupplierImages/LocationIcon.svg"><span class="pl-3">{{supplier_location|titlecase}}</span></a><br>
                <a routerLinkActive="active-link" (click)="gotoRoute('conference')"
                    class="list-group-item list-group-item-action bg-transparent d-inline sidetabs mb-1">
                    <img src="../../assets/SupplierImages/conferenceIcon.svg"><span class="pl-3">Conference</span></a><br>
                <a routerLinkActive="active-link" (click)="gotoRoute('registration')"
                    class="list-group-item list-group-item-action bg-transparent d-inline sidetabs mb-1 active-link">
                    <img src="../../assets/SupplierImages/registrationicon.svg"><span class="pl-3">Registration</span></a><br>
                <a routerLinkActive="active-link" (click)="gotoRoute('contact')"
                    class="list-group-item list-group-item-action bg-transparent d-inline sidetabs mb-1">
                    <img src="../../assets/SupplierImages/contacticon.svg"><span class="pl-3">Contact</span></a><br>
            </div>
        </div>
    </div>
    <!-- /#sidebar-wrapper routerLink="sydney" -->


    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="topnav-img">
            <img src="{{cs.supplier_headr_img}}" class="imgHeader">
            <div class="togglebtn">
                <button class="btn btn-primary" id="menu-toggle">Side Menu</button>
            </div>
            <div class="waves">
                <img src=".../../../../assets/SupplierImages/Innerpagewave.png" class="waveImg">
            </div>
        </div>

        <div *ngIf="!isRegister" class="content-div">
            <nav class="navbar navbar-expand border-bottom fixed_nav p-0 back_white nve-margin">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav d-md-flex justify-content-between ">
                        <li class="nav-item active">
                            <a class="nav-link pr-2 pt-0 pl-2 pb-2 active-link" routerLinkActive="active-link">
                                MC Profile Registration
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="col-md-12 ">
                <div style="z-index: 1;">
                    <h5 style="margin-top: 6px; margin-bottom: 0px;"><strong>Dear Sir / Madam</strong></h5>
                    <p style="font-size: medium; ">Request you to provide us with the personal
                        information, as
                        per fields mentioned below. The
                        information you will provide
                        will be kept strictly confidential & will only be used to serve you better.
                    </p>
                </div>
            </div>
            <mat-horizontal-stepper #stepper>
                <mat-step>
                    <ng-template *ngIf="PersonalDetailForm" matStepLabel>Personal Details</ng-template>
                    <form *ngIf="PersonalDetailForm" [formGroup]="PersonalDetailForm">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                        Name:<span class="required-asterisk">*</span>
                                    </div>
                                    <div class="col-md-8 colInput">
                                        <mat-form-field *ngIf="PersonalDetailForm" appearance="outline" class="borderInput font-13">
                                            <input readonly appInputListener matInput formControlName="name" required>
                                             <mat-error *ngIf="PersonalDetailForm.get('name').hasError('required')">Name is required</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                        Salutation: <span class="required-asterisk">*</span>
                                    </div>
                                    <div class="col-md-8 colInput">
                                        <mat-form-field *ngIf="PersonalDetailForm" appearance="outline" class="borderInput font-13">
                                            <input readonly appInputListener matInput formControlName="designation">
                                            <mat-error *ngIf="PersonalDetailForm.get('designation').hasError('required')">Salutation is required</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                        Mobile No:<span class="required-asterisk">*</span>
                                    </div>
                                    <div class="col-md-8 colInput">
                                        <mat-form-field *ngIf="PersonalDetailForm" appearance="outline" class="borderInput font-13">
                                            <input readonly appInputListener matInput formControlName="mobile" onPaste="return false" (keypress)="numberOnly($event)" type="text">
                                            <mat-error *ngIf="PersonalDetailForm.get('mobile').hasError('required')">Mobile No is required</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 colInputHeader verticalEndCenter font-13 no-padding">
                                        Emergency Contact No:<span class="required-asterisk">*</span>
                                    </div>
                                    <div class="col-md-8 colInput">
                                        <mat-form-field *ngIf="PersonalDetailForm" appearance="outline" class="borderInput font-13">
                                            <input appInputListener matInput formControlName="emergencyNo" >
                                            <mat-error *ngIf="PersonalDetailForm.get('emergencyNo').hasError('required')">Emergency No is required</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                        Health Issues:<span class="required-asterisk">*</span>
                                    </div>
                                    <div class="col-md-8 colInput">
                                        <mat-form-field *ngIf="PersonalDetailForm" appearance="outline" class="borderInput font-13">
                                            <input matInput formControlName="health" >
                                            <mat-error *ngIf="PersonalDetailForm.get('health').hasError('required')">Health is required</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                        Hotel:<span class="required-asterisk">*</span>
                                    </div>
                                    <div class="col-md-8 colInput">
                                        <mat-form-field *ngIf="PersonalDetailForm" appearance="outline" class="borderInput font-13">
                                            <input readonly matInput formControlName="hotel" >
                                            <mat-error *ngIf="PersonalDetailForm.get('hotel').hasError('required')">Hotel is required</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                        Organisation:<span class="required-asterisk">*</span>
                                    </div>
                                    <div class="col-md-8 colInput">
                                        <mat-form-field *ngIf="PersonalDetailForm" appearance="outline" class="borderInput font-13">
                                            <input readonly matInput formControlName="organisation" >
                                            <mat-error *ngIf="PersonalDetailForm.get('organisation').hasError('required')">Organisation is required</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                        Phone No:<span class="required-asterisk">*</span>
                                    </div>
                                    <div class="col-md-8 colInput">
                                        <mat-form-field *ngIf="PersonalDetailForm" appearance="outline" class="borderInput font-13">
                                            <input readonly appInputListener matInput formControlName="phone" onPaste="return false" autocomplete="off" (keypress)="numberOnly($event)" type="text">
                                            <mat-error *ngIf="PersonalDetailForm.get('phone').hasError('required')">Phone No is required</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                        Email:<span class="required-asterisk">*</span>
                                    </div>
                                    <div class="col-md-8 colInput">
                                        <mat-form-field *ngIf="PersonalDetailForm" appearance="outline" class="borderInput font-13">
                                            <input readonly matInput formControlName="email" >
                                            <mat-error *ngIf="PersonalDetailForm.get('email').hasError('required')">Email is required</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                        Age Group:<span class="required-asterisk">*</span>
                                    </div>
                                    <div class="col-md-8 colInput">
                                        <mat-radio-group aria-label="Select an option" formControlName="age">
                                            <mat-radio-button *ngFor="let data of age_data" [value]="data.AgeID" class="font-13 margin-right">{{data.Age}}
                                            </mat-radio-button>&nbsp;
                                            <!-- <mat-error *ngIf="PersonalDetailForm.get('age').hasError('required')&&PersonalDetailForm.get('age').touched">Age is required</mat-error> -->
                                        </mat-radio-group>
                                    </div>
                                </div>
                             </div>
                        </div>
                        <mat-divider></mat-divider>
                        <div class=" pb-3 row one">
                            <button mat-flat-button (click)="submit(PersonalDetailForm,stepper,1)"
                                class="btn next action-button btn-block col-md-3 translatex continue offset-md-3 mt-3"
                                style="left: 450px;"
                                color="warn">Continue
                            </button>
                        </div>
                    </form>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Conference Preferences and Details</ng-template>
                    <div class="row " id="field2">
                        <div class="col-md-3 position-relative ver-line">
                            <h5>  <img src="../../../assets/SupplierImages/room-key.svg">&nbsp;&nbsp;<strong>Room Requirement</strong></h5><br>
                            <div class="row">
                                <div class="col-md-6 col-6 form-check" *ngFor="let data of room_data">
                                    <mat-radio-group aria-label="Select an option" [(ngModel)]="room_req">
                                    <mat-radio-button [value]="data.RoomID" class="font-13 margin-right">{{data.Room}}</mat-radio-button>
                                </mat-radio-group>
                                </div>
                            </div>
                            <div *ngIf="room_req==2" class="pr-2">
                                <mat-form-field appearance="outline" class="borderInput font-13">
                                    <mat-label>Select an option</mat-label>
                                    <mat-select [(ngModel)]="supplier_value">
                                        <mat-option *ngFor="let data of supplier_name" [value]="data.Vendor">{{data.ParticipantName}}</mat-option>
                                    </mat-select> 
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-5 ver-line  position-relative">
                            <h5 >  <img src="../../../assets/SupplierImages/serving-dish.svg">&nbsp;&nbsp;<strong>Food Preference</strong></h5><br>
                            <div class="row">
                                <div class="col-lg-4 col-6 form-check" *ngFor="let food of Food_data">
                                    <mat-radio-group aria-label="Select an option" [(ngModel)]="food_pref">
                                    <mat-radio-button [value]="food.FoodID" class="font-13 margin-right">{{food.Food}}
                                    </mat-radio-button>
                                  </mat-radio-group>
                                </div>
                                <!-- </div> -->
                                <p class="pt-2 pl-2"><span style="color: red; margin-left: 19px; margin-bottom: 10%;">Note:</span>The entire hotel is a Non-smoking premises </p>
                            </div >
                        </div>

                        <div class="col-md-4">
                            <h5> <img src="../../../assets/SupplierImages/liquor.svg">&nbsp;&nbsp;<strong>Liquor</strong></h5>
                            <br>
                            <div class="row">
                                <div *ngFor="let liquore of Liquore_data" class="col-lg-4 col-6 form-check">
                                    <mat-radio-group aria-label="Select an option" [(ngModel)]="liquore_val">
                                        <mat-radio-button [value]="liquore.LiquorID" class="font-13 margin-right">{{liquore.Liquor}}</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>

                        </div>
                    </div>
                    <hr>
                    <form [formGroup]="FlightDetailForm">
                    <div class="row">
                        <div class="col-md-6">
                            <h5> <img src="../../../assets/SupplierImages/airplane.svg">&nbsp;&nbsp;<strong>Flight Details</strong></h5>
                            <div class="form-group text_right mb_cus row">
                                <span class="d-block col-md-4 p-0 my-auto">Airline Name:<span class="required-asterisk">*</span></span>
                                <div class="col-md-8 p-0 pl-2">
                                    <mat-form-field appearance="outline" class="borderInput font-13">
                                        <input appInputListener formControlName="Airline_name" matInput placeholder="">
                                        <mat-error *ngIf="FlightDetailForm.get('Airline_name').hasError('required')">Airline Name is required</mat-error>
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="form-group text_right mb_cus row">
                                <span class="d-block col-md-4 p-0 my-auto">Date Of Arrival:<span class="required-asterisk">*</span></span>
                                <div class="col-md-8 p-0 pl-2">
                                    <mat-form-field appearance="outline" class="borderInput font-13">
                                        <input matInput [min]="date"
                                            [matDatepicker]="picker1" formControlName="Date_Arrival" readonly>
                                        <mat-datepicker-toggle matSuffix [for]="picker1" >
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                        <mat-error *ngIf="FlightDetailForm.get('Date_Arrival').hasError('required')">Date Of Arrival is required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-group text_right mb_cus row">
                                <span class="d-block col-md-4 p-0 my-auto">Time Of Arrival:<span class="required-asterisk">*</span></span>
                                <div class="col-md-8 p-0 pl-2">
                                    <mat-form-field appearance="outline" class="borderInput font-13">
                                        <input type="time" formControlName="Time_Arrival" matInput placeholder="">
                                        <mat-error *ngIf="FlightDetailForm.get('Time_Arrival').hasError('required')">Time Of Arrival is required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group text_right mb_cus row mt-4">
                                <span class="d-block col-md-4 p-0 my-auto">Flight Number:<span class="required-asterisk">*</span></span>
                                <div class="col-md-8 p-0 pl-2 mt-2">
                                    <mat-form-field appearance="outline" class="borderInput font-13">
                                        <input formControlName="Flight_No" matInput placeholder="">
                                        <mat-error *ngIf="FlightDetailForm.get('Flight_No').hasError('required')">Flight Number is required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-group text_right mb_cus row">
                                <span class="d-block col-md-4 p-0 my-auto">Date Of Departure:<span class="required-asterisk">*</span></span>
                                <div class="col-md-8 p-0 pl-2">
                                    <mat-form-field appearance="outline" class="borderInput font-13">
                                        <input matInput [min]="FlightDetailForm.get('Date_Arrival').value"
                                            [matDatepicker]="picker2" formControlName="Date_of_Departure" readonly>
                                        <mat-datepicker-toggle matSuffix [for]="picker2" >
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                        <mat-error *ngIf="FlightDetailForm.get('Date_of_Departure').hasError('required')">Date Of Departure is required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-group text_right mb_cus row">
                                <span class="d-block col-md-4 p-0 my-auto">Time Of Departure:<span class="required-asterisk">*</span></span>
                                <div class="col-md-8 p-0 pl-2 ">
                                    <mat-form-field appearance="outline" class="borderInput font-13">
                                        <input formControlName="Time_of_Departure" type="time" matInput placeholder="">
                                        <mat-error *ngIf="FlightDetailForm.get('Time_of_Departure').hasError('required')">Time Of Departure is required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class=" pb-3 row one">

                        <button mat-raised-button class="previous mt-4 back col-md-2" color="primary"
                            matStepperPrevious>
                            <span><i class='fas fa-arrow-left left_arrow mr-2'></i>Back</span>
                           
                        </button>
                        <!-- <input type="button" name="previous" class="previous action-button" value="Previous" /> -->
                        <button mat-flat-button (click)="submit(FlightDetailForm,stepper,2)"
                            class="btn next action-button btn-block col-md-3 translatex continue offset-md-3 mt-3"
                            style="left: 250px;"
                            color="warn">Continue
                        </button>
                    </div>
                    </form>
                </mat-step>

                <mat-step>

                    <ng-template matStepLabel>Passport and Visa Details</ng-template>
                    <form [formGroup]="PassportDetailForm">
                    <div class="row " id="field3">
                        
                        <div class="col-md-6">
                            <div class="form-group text_right mb_cus row">
                                <span class="d-block col-md-4 p-0 my-auto">Passport No:<span class="required-asterisk">*</span></span>
                                <div class="col-md-8 p-0 pl-2">
                                    <mat-form-field appearance="outline" class="borderInput font-13">
                                        <input formControlName="Passport_no" matInput placeholder="">
                                        <mat-error *ngIf="PassportDetailForm.get('Passport_no').hasError('required')">Passport No is required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-group text_right mb_cus row">
                                <span class="d-block col-md-4 p-0 my-auto">Date Of Birth:<span class="required-asterisk">*</span></span>
                                <div class="col-md-8 p-0 pl-2">
                                    <mat-form-field appearance="outline" class="borderInput font-13">
                                        <input matInput [max]="date"
                                            [matDatepicker]="picker3" formControlName="DOB" readonly>
                                        <mat-datepicker-toggle matSuffix [for]="picker3" >
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker3></mat-datepicker>
                                        <mat-error *ngIf="PassportDetailForm.get('DOB').hasError('required')">Date Of Departure is required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group text_right mb_cus row">
                                <span class="d-block col-md-4 p-0 my-auto">Nationality:<span class="required-asterisk">*</span></span>
                                <div class="col-md-8 p-0 pl-2">
                                    <mat-form-field appearance="outline" class="borderInput font-13">
                                        <input appInputListener formControlName="Nationality" matInput placeholder="">
                                        <mat-error *ngIf="PassportDetailForm.get('Nationality').hasError('required')">Nationality is required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-group text_right mb_cus row">
                                <label for="ageGroup" class="d-block col-md-4 p-0 my-auto">Visa:<span class="required-asterisk">*</span></label>
                                <div class="col-md-8 p-0 pl-2 text-left row">
                                    <div class="col-3 pt-2">
                                        <mat-radio-group aria-label="Select an option" formControlName="Visa">
                                            <mat-radio-button value="YES" class="font-13 margin-right col-6">Yes
                                            </mat-radio-button>
                                            <mat-radio-button value="NO" class="font-13 margin-right col-6">No
                                            </mat-radio-button>
                                         </mat-radio-group>
                                    </div>
                                    <!-- <div class="col-3 pt-2">
                                        <mat-radio-group aria-label="Select an option" formControlName="Visa">
                                           <mat-radio-button value="8" class="font-13 margin-right col-6">No
                                           </mat-radio-button>
                                        </mat-radio-group>
                                    </div> -->
                                    <mat-error *ngIf="PassportDetailForm.get('Visa').hasError('required')&&PassportDetailForm.get('Visa').touched">Visa is required</mat-error>
                                </div>
                            </div>
                            <div  style="margin-left: 35%;">
                                <p>(Do you hold a Valid {{supplier_location|titlecase}} Visa)</p>
                            </div>
                        </div>
                    </div>
                    </form>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group text-left mr-5 mb-0">
                                <h5 style="color: #F4B1B9;">Note:</h5>
                                <p style="font-size: small; color: #B2B2B2;">Please note: One on One session on 30th
                                    May
                                    starts at 0900 hours and the main conference on 31st May starts at 1200hours.
                                    One on One
                                    session on 1st June
                                    starts at 0900 hours untill 1830 hours. The check-in time at the hotel is
                                    1500hours,
                                    rooms will not be available prior to that in case you are arriving before 1500
                                    hours, we would strongly recommend pre-booking your room (Room will be booked
                                    from prior
                                    day).
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- <mat-divider></mat-divider> -->
                    
                    <div class=" pb-3 row one">

                        <button mat-raised-button class="previous mt-4 back col-md-2" color="primary"
                            matStepperPrevious>
                            <span><i class='fas fa-arrow-left left_arrow mr-2'></i>Back</span>
                          
                        </button>
                        <!-- <span type="button" name="previous" class="previous mt-4 back col-md-2" matStepperPrevious><i
                            class='fas fa-arrow-left left_arrow mr-2'></i>back</span> -->
                       
                        <button (click)="saveRegistrationDetails(PassportDetailForm)" mat-flat-button class="btn next action-button btn-block col-md-3 translatex 
                            continue offset-md-3 mt-3"
                            color="warn"  style="left: 250px;" 
                            >Register Now
                        </button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
        <div *ngIf="isRegister" class="content-div2">
            <h2>{{msg}}</h2>
        </div>
    </div>
</div>


<!-- Modal -->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" >
            <div class="modal-body">
                <h3 class="content-heading" style="text-align: center; color: red;">IMPORTANT NOTES</h3><br>
                <span class="contentpara" style="color: #BCBCBC;">All delegates travelling will need to mail scanned copies of their passport - including photograph & address page at
                    info@zotikosindia.com. This will enable easy check-ins for all delegates attending the conference, without the need to show their original passport.
                   </span><br><br>
                  <span class="contentpara" style="color: #BCBCBC;">At the time of booking the tickets, guests will need to buy the requisite travel insurance covering any mishap that may occur
                      during travel.</span><br><br>
                      <span class="contentpara" style="color: #BCBCBC;">For all information and in case of any help required with reference to registration and stay please contact team zotikosindia at
                          0124-4316414.
                       </span><br><br>                      
            </div>
            <div>
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-danger" (click)="gotoRoute('')" style="margin-left: 40%; margin-bottom: 20px;">Register Now</button>
            </div>
        </div>
    </div>
</div> 

