@import '../../variable.scss';
.CMSLanding{
  /deep/ {
    .mat-tab-group.customVerticalTab {
        flex-direction: row;
    
    .mat-tab-header {
      border-bottom: none;
    }
    .mat-tab-header-pagination {
        display: none !important;
    }
    .mat-tab-labels {
        flex-direction: column;
    }
    .mat-ink-bar {
        height: 100%;
        left: 98% !important;
    }
    .mat-tab-body-wrapper {
        flex: 1 1 auto;
    }
  }
  }
  .inactiveButton{
    display: inline-block;
    width: 47%;
    margin-right: 5%;
  }
  .updateButton{
    display: inline-block;
    width: 47%;
    // margin-right: 5%;
  }
  .draggableHdr{
    background: #888888;
    color: $color-white-default;
    padding: 10px;
  }
  .draggableHdr,.draggableRow{
    .custWidthIcon{
      flex: 0 0 5% !important;
      max-width: 5% !important;
      cursor: move;
    }
    .custWidthButton{
      flex: 0 0 11% !important;
      max-width: 11% !important;
    }
  }
  // .draggableListBlock{
  //   .draggableRow{
  //     // background: #EFEFEF;
  //     padding: 5px;
  //    .imgBlock{
  //       width:15%;display: inline-block;
  //      // background-image: url(/assets/img/videoBg.jpg);
  //       background-repeat: no-repeat;
  //       background-size: 100% 100%;
  //       height:100%;
  //       width:100%;
  //     }
  //     .imgContainer{
  //       height: 35px;
  //       width: 35px !important; 
  //     }
  //     .contentBlock{
  //       width:85%;display: inline-block;
  //     }
  //   }
  // }
  .required-field::after {
    content: "*";
    color: red;
}
.clmnshow{
  display: none !important;
}
.clmnshowa{
  display: none !important;
}
.textbreak{
  word-break: break-all !important;
}
.pdfhover:hover{
cursor: pointer !important;
color:green;
}
//   .draggableListBlock.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
//     transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
//   }
//  .cdk-drag-preview {
//     box-sizing: border-box;
//     border-radius: 4px;
//     box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
//                 0 8px 10px 1px rgba(0, 0, 0, 0.14),
//                 0 3px 14px 2px rgba(0, 0, 0, 0.12);
//   }
  
  // .cdk-drag-placeholder {opacity: 0;}
  .borderInput{
        ::ng-deep .mat-form-field-infix{border-top: 0px !important;}
        ::ng-deep .mat-form-field-wrapper{padding-bottom: 0px;}
        }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: rgba(0,0,0,.12); }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{border-width: 1px !important;}
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{border-width: 1px !important;}
        /deep/.mat-select-arrow-wrapper{
          display: flex;
          align-items: center;
          justify-content: center;
        }

  //  /deep/ .mat-tab-label-active:after{
  //     content: '';
  //     background-image: url(/assets/img/CMS/Over.png);
  //     height: 100%;
  //     background-repeat: no-repeat;
  //     position: absolute;
  //     left: 0%;
  //     right: 0%

  //   }
  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: red!important;
    opacity: 0.8!important;
  }
  /deep/ .mat-tab-label-active{
    border-right: 2px solid $color-primary-default !important;
    opacity: 1 !important;
    background: #f7f6f6;
    mat-tab-label-content{
    color: $color-foreground-default !important;
    font-weight: 600 !important;
    
    }

  }
  /deep/ .mat-ink-bar{
    display: none !important;
  }
  .vertcalAligment{
    margin: .25em 0;
  }

  .filterContainer{
    .filterInput{
      flex: 0 0 30%;
      max-width: 30%;
    }
    .filterBtn{
      flex: 0 0 10%;
      max-width: 10%;
    }
  }
  // .imgBlock{
  //   width:15%;display: inline-block;
  //  // background-image: url(/assets/img/videoBg.jpg);
  //   background-repeat: no-repeat;
  //   background-size: 100% 100%;
  //   height: 35px;
  // }
  .pointer {cursor: pointer;}
  .example-container.tbl_New_Layout .table-container {
    height: 50vh;
  }
  
  .hyperlink:hover{
    text-decoration: underline;
}

}

      
      
