<div class="container-fluid CMSLanding padding">
  <div class="grid">
      <!-- <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
          <p class="no-margin font-13 width100 flex">
             <span>Home</span> <mat-icon>chevron_right</mat-icon>
            <span class="secondaryMenu">Landing Content Management</span> 
         </p>
      </div> -->
      <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
        <div class="row width100 verticalCenter">
        <div class="col-md-6">
        <h4 class="no-margin">Content Management System - Landing Page</h4>
        
        </div>
        <div class="col-md-6 no-padding">
        <p class="no-margin font-13 width100 flex verticalEndCenter">
          <span class="pointer" routerLink="/adminDashboard" routerDirection="backward">Home</span><mat-icon>chevron_right</mat-icon>
        <span class="secondaryMenu">Landing Content Management</span> 
        </p>
        </div>
        </div>
        </div>
     
      <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
          <mat-card  class="no-padding mainOuterCardContainer">
                  <mat-tab-group  flex="1" class="customVerticalTab height100" (selectedTabChange)="bannerClicked($event)">
                    
                    <mat-tab label="Banner">
                        <form [formGroup]="bannerForm" #formbanner="ngForm" >   
                                  <div class="col-md-12 no-padding">
                                          <div class="row no-margin">
                                             
                                            <div class="col-md-12 verticalEndCenter no-padding">
                                              <div class="col-md-10 no-padding-left">
                                                <h3 class="themePrimaryColor">Banner</h3>
                                              </div>
                                               <div class="col-md-2 btnBlockConatiner no-padding-right">
                                                          <!-- <button color="theme-green-button"   (click)="addLandingPageImages()" class="verticalMiddleCenter"><mat-icon class="margin-right-5">add</mat-icon>Add</button>  -->
                                                          <button color="theme-green-button"   (click)="open(content)" class="verticalMiddleCenter"><mat-icon class="margin-right-5">add</mat-icon>Add</button> 
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 margin-top no-padding">
                                                      <div class="col-md-12">
                                                            <div class="row draggableHdr">
                                                                <div class="col-md-1 custWidthIcon">
                                                                  <div><p class="font-13 no-margin">No.</p></div>
                                                                </div>
                                                                <div class="col-md-5">
                                                                    <div><p class="font-13 no-margin">Content</p></div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <div><p class="font-13 no-margin">Start Date</p></div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <div><p class="font-13 no-margin">End Date</p></div>
                                                                </div>
                                                                <div class="col-md-2 no-padding custWidthButton">
                                                                    <div><p class="font-13 no-margin">Action</p></div>
                                                                </div>
                                                              
                                                              </div>
                                                        </div>
                                                        <div class="grid draggableListBlock example-list" cdkDropList  (cdkDropListDropped)="drop($event)" [cdkDropListData]="dragRowData">
                                                            <div class="col-md-12 margin-vertical-10 dragPanelBlock" cdkDrag  *ngFor="let item of dragRowData">
                                                                <div class="row width100 draggableRow  verticalCenter border-radius-3 width100" >
                                                                    <div class="col-md-1 custWidthIcon" cdkDragHandle>
                                                                      <div>
                                                                        <mat-icon svgIcon="dragIcon" matTooltip="Drag"></mat-icon>
                                                                       </div>
                                                                    </div>
                                                                   
                                                                    <div class="col-md-5">
                                                                      <div class="height100  padding-horizontal" *ngIf="item._Get_Img_Video">
                                                                          <div class="col-md-1 no-padding ">
                                                                        <div class="imgBlock "> 
                                                                            <img src="{{item._Get_Img_Video[0].ImagePath}}"  class="height100 width100">
                                                                           </div>
                                                                          </div>
                                                                           <!-- <div class="font-13 padding-horizontal contentBlock"> 
                                                                             {{item.description}} 
                                                                          </div> -->
                                                                      </div>
                                                                     </div>
                                                                    <div class="col-md-2">
                                                                        <div class="font-13 padding-horizontal">{{item.StartDate | date: 'dd/MM/yyyy'}}</div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="font-13 padding-horizontal">{{item.EndDate | date: 'dd/MM/yyyy'}}</div>
                                                                    </div>
                                                                    <div class="col-md-2 no-padding ">
                                                                        <div *ngIf="item.IsActive" class="inactiveButton">
                                                                            <button color="theme-pink-button" class="verticalMiddleCenter" (click)="updateInactive('5',item.CMSID)" >Inactive</button> 
                                                                        </div>
                                                                        <!-- <div *ngIf="!item.IsActive">
                                                                          <button color="theme-pink-button" class="verticalMiddleCenter" (click)="updateInactive(item.CMSID)" >Active</button> 
                                                                      </div> -->
                                                                      <div *ngIf="item.IsActive" class="updateButton">
                                                                        
                                                                        <button color="theme-pink-button" class="verticalMiddleCenter" (click)="update(content,item)" >update</button> 
                                                                    </div>
                                                                    </div>
                                                                  
                                                                  </div>
                                                            </div>
                                                            </div>
                                                     
                                                    </div>   
                                             </div> 
                                             </div>  
                                            </form>   
                          </mat-tab>
                          <mat-tab label="Video"> 
                              <form [formGroup]="videoForm" #formVideo="ngForm" >
                                  <div class="col-md-12 no-padding">
                                          <div class="row no-margin">
                                            
                                            <div class="col-md-12 verticalEndCenter  no-padding">
                                              <div class="col-md-10 no-padding-left">
                                                <h3 class="themePrimaryColor">Video</h3>
                                              </div>
                                                  <div class="col-md-2 btnBlockConatiner no-padding-right">
                                                          <!-- <button color="theme-green-button" (click)="addVideo()" class="verticalMiddleCenter"><mat-icon class="margin-right-5">add</mat-icon>Add</button>  -->
                                                          <button color="theme-green-button" (click)="open(content)" class="verticalMiddleCenter"><mat-icon class="margin-right-5">add</mat-icon>Add</button> 
                                                          <!-- (click)="open(content)" -->
                                                        
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 margin-top no-padding">
                                                     
                                                        <div class="col-md-12">
                                                            <div class="row draggableHdr">
                                                                <div class="col-md-1 custWidthIcon">
                                                                  <div><p class="font-13 no-margin">No.</p></div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                  <div><p class="font-13 no-margin">Title</p></div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div><p class="font-13 no-margin">Video Link</p></div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <div><p class="font-13 no-margin">Start Date</p></div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <div><p class="font-13 no-margin">End Date</p></div>
                                                                </div>
                                                                <div class="col-md-2 no-padding custWidthButton">
                                                                    <div><p class="font-13 no-margin">Action</p></div>
                                                                </div>
                                                              </div>
                                                        </div>
                                                        <div class="grid draggableListBlock example-list" cdkDropList  (cdkDropListDropped)="drop($event)" [cdkDropListData]="dragRowData1">
                                                            <div class="col-md-12 margin-vertical-10 dragPanelBlock" cdkDrag  *ngFor="let item of dragRowData1">
                                                                <div class="row width100 draggableRow  verticalCenter border-radius-3 width100" >
                                                          
                                                                    <div class="col-md-1 custWidthIcon" cdkDragHandle>
                                                                      <div>
                                                                        <mat-icon svgIcon="dragIcon" matTooltip="Drag"></mat-icon>
                                                                       </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                      <div class="font-13 padding-horizontal textbreak">{{item.ContentName}}</div>
                                                                  </div>
                                                                    <div class="col-md-3">
                                                                          <div class="font-13 padding-horizontal textbreak"> 
                                                                            {{item.Link}}                                                        
                                                                         </div>
                                                                     </div>
                                                                    <div class="col-md-2">
                                                                        <div class="font-13 padding-horizontal">{{item.StartDate | date: 'dd/MM/yyyy'}}</div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="font-13 padding-horizontal">{{item.EndDate | date: 'dd/MM/yyyy'}}</div>
                                                                    </div>
                                                                    <div class="col-md-2 no-padding ">
                                                                        <div *ngIf="item.IsActive" class="inactiveButton">
                                                                            <button color="theme-pink-button" class="verticalMiddleCenter"  (click)="updateInactive('7',item.CMSID)">Inactive</button> 
                                                                        </div>
                                                                        <div *ngIf="item.IsActive" class="updateButton">
                                                                        
                                                                          <button color="theme-pink-button" class="verticalMiddleCenter" (click)="update(content,item)" >update</button> 
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                            </div>
                                                            </div>
                                                     
                                                    </div>   
                                             </div> 
                                             </div>        
                          </form>
                                            </mat-tab>
                              <mat-tab label="News & Events">
                                  <form [formGroup]="NewsAndEventsForm" #formNewsEvents="ngForm" > 
                                       <div class="col-md-12 no-padding">
                                              <div class="row no-margin">
                                                  
                                                   <div class="col-md-12 verticalEndCenter no-padding">
                                                    <div class="col-md-10 no-padding-left">
                                                      <h3 class="themePrimaryColor">News & Events</h3>
                                                    </div>
                                                          <div class="col-md-2 btnBlockConatiner no-padding-right">
                                                                  <!-- <button color="theme-green-button" class="verticalMiddleCenter" (click)="addNewsAndEvents()"><mat-icon class="margin-right-5">add</mat-icon>Add</button>  -->
                                                                  <button color="theme-green-button" class="verticalMiddleCenter" (click)="open(content)"><mat-icon class="margin-right-5">add</mat-icon>Add</button>
                                                                </div>
                                                            </div>
                                                            <div class="table-responsive">
                                                        <div class="col-md-12 listpanel margin-top no-padding">
                                                         
                                                            <div class="col-md-12">
                                                                <div class="row draggableHdr">
                                                                    <div class="col-md-1 custWidthIcon">
                                                                      <div><p class="font-13 no-margin">No.</p></div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                      <div><p class="font-13 no-margin">Title</p></div>
                                                                  </div>
                                                                    <div class="col-md-2">
                                                                        <div><p class="font-13 no-margin">Content</p></div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                      <div><p class="font-13 no-margin">PDF file</p></div>
                                                                  </div>
                                                                    <div class="col-md-1">
                                                                        <div><p class="font-13 no-margin">Start Date</p></div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div><p class="font-13 no-margin">End Date</p></div>
                                                                    </div>
                                                                    <div class="col-md-2 no-padding custWidthButton">
                                                                        <div><p class="font-13 no-margin">Action</p></div>
                                                                    </div>
                                                                  </div>
                                                            </div>
                                                            <div class="grid draggableListBlock example-list" cdkDropList  (cdkDropListDropped)="drop($event)" [cdkDropListData]="dragRowData2">
                                                                <div class="col-md-12 margin-vertical-10 dragPanelBlock" cdkDrag  *ngFor="let item of dragRowData2">
                                                                    <div class="row width100 draggableRow  verticalCenter border-radius-3 width100" >
                                                                        <div class="col-md-1 custWidthIcon" cdkDragHandle>
                                                                          <div>
                                                                            <mat-icon svgIcon="dragIcon" matTooltip="Drag"></mat-icon>
                                                                           </div>
                                                                        </div>
                                                                        <div class="col-md-2">
                                                                          <div class="height100 verticalCenter">
                                                                          <div class="col-md-2 no-padding">
                                                                            <!-- <div class="col-md-1 "> -->
                                                                              <div class="imgBlock " *ngIf="item._Get_Img_Video"> 
                                                                                <img src="{{item._Get_Img_Video[0].ImagePath}}" class="height100 width100">
                                                                               </div>
                                                                              <!-- </div> -->
                                                                          </div>
                                                                          <div class="col-md-10">
                                                                            <div class="font-13 padding-horizontal textbreak" matTooltip="{{item.ContentName}}" matTooltipPosition="above">{{item.ContentName}}</div>
                                                                          </div>
                                                                          </div>
                                                                        </div>
                                                                       
                                                                        <div class="col-md-2">
                                                                               <div class="font-13 padding-horizontal contentBlock textbreak" [innerHtml]="item.SubContentName | safePipe" > 
                                                                                 <!-- {{item.SubContentName}} -->
                                                                              </div>                                                                          
                                                                         </div>
                                                                         <div class="col-md-2">
                                                                        
                                                                          <div class="font-13 padding-horizontal textbreak pdfhover" *ngIf="item._Get_Img_Video[1]" matTooltip="Click to open PDF file" matTooltipPosition="above"><span class="" (click)="openPDF(item._Get_Img_Video[1].ImagePath)">{{item._Get_Img_Video[1].ImagePath}}</span></div>
                                                                         </div>
                                                                        <div class="col-md-1">
                                                                            <div class="font-13 padding-horizontal">{{item.StartDate | date: 'dd/MM/yyyy'}}</div>
                                                                        </div>
                                                                        <div class="col-md-2">
                                                                            <div class="font-13 padding-horizontal">{{item.EndDate | date: 'dd/MM/yyyy'}}</div>
                                                                        </div>
                                                                        <!-- <div class="col-md-1 no-padding custWidthButton">
                                                                            <div *ngIf="item.IsActive">
                                                                                <button color="theme-pink-button" class="verticalMiddleCenter"  (click)="updateInactive('6',item.CMSID)">Inactive</button> 
                                                                            </div>
                                                                        </div> -->
                                                                         <div class="col-md-2 no-padding ">
                                                                        <div *ngIf="item.IsActive" class="inactiveButton">
                                                                            <button color="theme-pink-button" class="verticalMiddleCenter"  (click)="updateInactive('6',item.CMSID)">Inactive</button> 
                                                                        </div>
                                                                        <div *ngIf="item.IsActive" class="updateButton">
                                                                        
                                                                          <button color="theme-pink-button" class="verticalMiddleCenter" (click)="update(content,item)" >update</button> 
                                                                      </div>
                                                                    </div>
                                                                      </div>
                                                                </div>
                                                                </div>
                                                         
                                                        </div>  
                                                        </div> 
                                                 </div> 
                                                 </div> 
                                                </form>
                                                </mat-tab>
                                                <mat-tab label="History">
                                                  <div class="col-md-12 filterContainer no-padding">
                                                    <div class="row no-margin">
                                                    <div class="form-inline" >
                                                      <div class="form-group">
                                                        <label for="email">Category:</label>
                                                        <div class="form-control">
                                                        <mat-form-field appearance="outline" class="borderInput font-13 ">
                                                          <mat-select   placeholder="Select category" [(ngModel)]="categoryID" (selectionChange)="getChangedData()">
                                                            <mat-option value="567">All</mat-option>
                                                            <mat-option value="5">Banner</mat-option>
                                                            <mat-option value="7">Video</mat-option>
                                                            <mat-option value="6">News and Events</mat-option>
                                                           </mat-select>
                                                          </mat-form-field>
                                                          </div>
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="">From:</label>
                                                        <div class="form-control">
                                                        <mat-form-field style="position:relative" appearance="outline" class="borderInput font-13">
                                                          <input [(ngModel)]="fromDate" matInput (dateChange)="search(fromDate)"
                                                          [matDatepicker]="fromHistoryDate" placeholder="To">
                                                          <mat-datepicker-toggle matSuffix [for]="fromHistoryDate"></mat-datepicker-toggle>
                                                          <mat-datepicker #fromHistoryDate></mat-datepicker>
                                                        </mat-form-field>
                                                        </div>

                                                      </div>
                                                      <div class="form-group">
                                                        <label for="">To:</label>
                                                        <div class="form-control">
                                                          <mat-form-field appearance="outline" class="borderInput font-13">
                                                              <input matInput [(ngModel)]="toDate" (dateChange)="search1(toDate)"
                                                               [matDatepicker]="toHistoryDate" placeholder="To">
                                                              <mat-datepicker-toggle matSuffix [for]="toHistoryDate"></mat-datepicker-toggle>
                                                              <mat-datepicker #toHistoryDate></mat-datepicker>
                                                            </mat-form-field>
                                                       </div>
                                                      </div>
                                                      <div class="form-group">
                                                      <button (click)="ResetDate()" color="theme-red-button" >Clear</button>
                                                      </div>
                                                    </div>
                                                      
                                                          
                                                         
                                                         
                                                        
                                                            </div> 
                                                   </div> 
                                                   <div class="col-md-12 margin-vertical no-padding">
                                                      <div class="example-container tbl_New_Layout">
                                                          <div class="table-container">
                                                        <table mat-table  class="lessons-table" [dataSource]="historyDataSource">
                                                        
                                                          <ng-container matColumnDef="title" >
                                                            <th mat-header-cell *matHeaderCellDef style="min-width: 6rem;max-width: 10rem;">Title</th>
                                                            <td mat-cell *matCellDef="let element" class="text-center" style="min-width: 5rem;max-width: 10rem;">
                                                               <div class="col" *ngIf="categoryID =='5'">
                                                                    <div class="col-md-2 no-padding">
                                                                            <div class="imgBlock" > 
                                                                            <img *ngIf="element._Get_Img_Video" src="{{element._Get_Img_Video[0].ImagePath}}"  class="height100 width100">
                                                                            </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col"  *ngIf="categoryID =='6'">
                                                                  <div class="row">
                                                                      <div class="col-md-2 no-padding ">
                                                                          <div class="imgBlock"> 
                                                                              <img *ngIf="element._Get_Img_Video" src="{{element._Get_Img_Video[0].ImagePath}}"  class="height100 width100">
                                                                             </div>
                                                                      </div>
                                                                      <div class="col-md-10 text-left verticalCenter" *ngIf="categoryID =='6'">
                                                                          <p class="no-margin">{{element.ContentName}}</p>
                                                                      </div>
                                                                  </div>
                                                                </div>
                                                                <div class="col" *ngIf="categoryID =='7'">
                                                                  <div class="row">
                                                                  <div class="col-md-8 text-left verticalCenter">
                                                                    <p class="no-margin"> {{element.ContentName}}</p>
                                                                </div>
                                                                    <!-- <div class="col-md-8 text-left verticalCenter" style="word-break:break-all;">
                                                                        <p class="no-margin" > {{element.Link}}</p>
                                                                    </div> -->
                                                                    </div>
                                                                </div>
                                                                <div class="col" *ngIf="categoryID =='567'">
                                                                    <div class="row">
                                                                        <div class="col-md-1 no-padding" *ngIf="element._Get_Img_Video">
                                                                            <div class="imgBlock"> 
                                                                                <img  src="{{element._Get_Img_Video[0].ImagePath}}"  class="height100 width100">
                                                                      </div>
                                                                        </div>
                                                                        <div class="col-md-11 text-left verticalCenter">
                                                                            <p *ngIf="element.ContentCategoryID =='6'" class="no-margin">{{element.ContentName}}</p>
                                                                            <p *ngIf="element.ContentCategoryID =='7'" class="no-margin">{{element.Link}}</p>
                                                                        </div>
                                                                    </div>
                                                                  </div>
                                                              
                        
                                                            </td>
                                                            
                                                          </ng-container>
                                                          <ng-container matColumnDef="Link" >
                                                            <th mat-header-cell *matHeaderCellDef style="min-width: 5rem;max-width:19rem;word-break: break-all;" [ngClass]="{'clmnshow':categoryID !== '7'}">Video Link</th>
                                                            <td mat-cell *matCellDef="let element" style="min-width: 5rem;max-width:19rem;word-break: break-all;" [ngClass]="{'clmnshow':categoryID !== '7'}">
                                                              {{ element.Link || "N/A"}}
                                                              </td>
                                                          </ng-container>
                                                          <ng-container matColumnDef="Content">
                                                            <th mat-header-cell *matHeaderCellDef style="min-width: 10rem;max-width:19rem;word-break: break-all;" [ngClass]="{'clmnshowa':categoryID !== '6'}">Content</th>
                                                            <td mat-cell *matCellDef="let element" style="min-width: 10rem;max-width:19rem;word-break: break-all;" [ngClass]="{'clmnshowa':categoryID !== '6'}" style="word-break:break-all;">
                                                              {{ element.SubContentName}}
                                                              </td>
                                                          </ng-container>
                                                          <ng-container matColumnDef="PDFfile">
                                                            <th mat-header-cell *matHeaderCellDef  [ngClass]="{'clmnshowa':categoryID !== '6'}">PDF file</th>
                                                            <td (click)="openLink(element._Get_Img_Video[1].ImagePath)"mat-cell *matCellDef="let element" [ngClass]="{'clmnshowa':categoryID !== '6'}"  class="text-center"  style="word-break:break-all;">
                                                             <span class="hyperlink" *ngIf="element._Get_Img_Video[1];else elseblk" style="cursor: pointer;">{{element._Get_Img_Video[1].ImagePath}}</span> 
                                                             <ng-template  #elseblk>NA</ng-template>
                                                              </td>  
                                                          </ng-container>
                                                          <ng-container matColumnDef="document" >
                                                            <th mat-header-cell *matHeaderCellDef style="min-width: 11rem !important;max-width:19rem;word-break: break-all;" [ngClass]="{'clmnshowa1':categoryID !== '6'}">PDF file</th>
                                                            <td mat-cell *matCellDef="let element"  style="min-width: 11rem;max-width:19rem;word-break: break-all;" [ngClass]="{'clmnshowa1':categoryID !== '6'}"  class="text-center"  style="word-break:break-all;">
                                                             <!-- {{element._Get_Img_Video[1].ImagePath || "N/A"}} -->
                                                             <!-- <span *ngIf="(categoryID == '6') && element._Get_Img_Video && (element._Get_Img_Video[1])">{{element._Get_Img_Video[1].ImagePath}}</span> 
                                                             <span *ngIf="(categoryID == '6') && !(element._Get_Img_Video[1] && element._Get_Img_Video)">NA</span> -->
                                                             <!-- abccccccccccccdsfsdfsdfsdfcffcfcffsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfdsfsdfds f.pdf -->
                                                              </td>
                                                          </ng-container>
                                                          <!-- <ng-container matColumnDef="category">
                                                              <th mat-header-cell *matHeaderCellDef class="tblColFlex5">category</th>
                                                              <td mat-cell *matCellDef="let element" class="text-center">
                                                                {{ element.category || "N/A" }}
                                                              </td>
                                                            </ng-container> -->
                                                          <ng-container matColumnDef="startDate">
                                                              <th mat-header-cell *matHeaderCellDef class="tblColFlex8">Start Date</th>
                                                              <td mat-cell *matCellDef="let element" class="text-center">
                                                                {{ element.StartDate | date: 'dd/MM/yyyy' }}
                                                                </td>
                                                            </ng-container>
                                                          
                                                              <ng-container matColumnDef="endDate">
                                                                  <th mat-header-cell *matHeaderCellDef class="tblColFlex5">End Date</th>
                                                                  <td mat-cell *matCellDef="let element" class="text-center">
                                                                    {{ element.EndDate | date: 'dd/MM/yyyy' }}
                                                                    </td>
                                                                </ng-container>
                                                                  <ng-container matColumnDef="status">
                                                                      <th mat-header-cell *matHeaderCellDef class="tblColFlex8">Status</th>
                                                                      <td mat-cell *matCellDef="let element" class="text-center">
                                                                        Inactive
                                                                        </td>
                                                                    </ng-container>
                                                                 <tr mat-header-row  *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                                                                  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                                                        </table>
                                                        </div>
                                                        <mat-paginator  [length]="pageSize"  [pageSize]="10"  [pageIndex]="pageNo"
                                                        (page)="getHistoryData($event)">
                                                      </mat-paginator>
                                                    </div>
                                                   </div>  
                                              </mat-tab>
                                              
                                              
                                              
                                              </mat-tab-group>
         
          </mat-card>
        </div>
    </div>
</div>
  <!---Modal Structure start-->
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title" *ngIf="formID =='0' && actionFlag=='add'" >Add Banner</h3>
      <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title" *ngIf="formID =='0' && actionFlag=='update'" >Update Banner</h3>
  
      <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title" *ngIf="formID =='2'" >News Event</h3>
      <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title" *ngIf="formID =='1' && actionFlag=='add'" >Video</h3>
      <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title" *ngIf="formID =='1' && actionFlag=='update'" >Update Video</h3>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="bannerForm" *ngIf="formID =='0'"> 
      <div class="row no-margin">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2 colInputHeader verticalEndCenter font-14 required-field">
                    Upload Image:
                    </div>
                <div class="col-md-8 colInput no-padding-right">
                  <mat-form-field appearance="outline" class="borderInput font-13">
                    <input matInput placeholder="" readonly formControlName="file">
                  </mat-form-field> 
                    </div>
                    <div class="col-md-2 btnBlockConatiner theme-gray-button verticalCenter">
                        <label for="file-input" class="no-margin text-center vertcalAligment" color="theme-gray-button" matTooltip="Image format should be .png/.jpg/.jpeg" matTooltipPosition="above">
                            Upload File
                        <input id="file-input" type="file"  (change)="detectFiles($event)" accept=".png, .jpg, .jpeg" style="display: none;" [disabled]="actionFlag=='update'"/>
              </label>
              
          </div>
      </div>
    </div>
      <div class="col-md-6">
          <div class="row">
                  <div class="col-md-4 colInputHeader verticalEndCenter font-14 required-field">
                   Start Date:
                    </div>
                    <div class="col-md-8 colInput">
                      <mat-form-field appearance="outline"  class="borderInput font-13">
                        <input matInput [min]="today" [matDatepicker]="bannerStartDate" readonly 
                                       formControlName="fromDate">
                         <!-- <mat-error *ngIf="bannerForm.get('fromDate').hasError('required')" class="matError">
                            Start Date is required.
                          </mat-error> -->
                        <mat-datepicker-toggle matSuffix [for]="bannerStartDate"></mat-datepicker-toggle>
                        <mat-datepicker #bannerStartDate ></mat-datepicker>
                      </mat-form-field>
                        </div>
                    </div>
     </div>
     <div class="col-md-6">
        <div class="row">
                        <div class="col-md-4 colInputHeader verticalEndCenter font-14 required-field">
                          End Date:
                          </div>
                          <div class="col-md-8 colInput">
                            <mat-form-field appearance="outline" class="borderInput font-13">
                              <input matInput  [min]="bannerForm.controls.fromDate.value"
                              formControlName="toDate" readonly 
                               [max]="maxDate" [matDatepicker]="bannerEndDate" placeholder="To">
                               <!-- <mat-error *ngIf="bannerForm.get('toDate').hasError('required')" class="matError">
                                  End Date is required.
                                </mat-error> -->
                              <mat-datepicker-toggle matSuffix [for]="bannerEndDate"></mat-datepicker-toggle>
                              <mat-datepicker #bannerEndDate></mat-datepicker>
                            </mat-form-field>
                              </div>
                          </div>
      </div>
    </div>
      </form>
      <form [formGroup]="videoForm" *ngIf="formID =='1'"> 
      <div class="row no-margin">
          <div class="col-md-6">
              <div class="row">
                  <div class="col-md-4 colInputHeader verticalEndCenter font-14 required-field">
                    Title:
                    </div>
                    <div class="col-md-8 colInput">
                      <mat-form-field appearance="outline" class="borderInput font-13">
                        <input matInput placeholder="" appInputListener formControlName="title" [disabled]="actionFlag=='update'">
                        <!-- <mat-error *ngIf="videoForm.get('title').hasError('required')" class="matError">
                            Title is required.
                          </mat-error> -->
                      </mat-form-field> 
                        </div>
                    </div>
              <div class="row">
                      <div class="col-md-4 colInputHeader verticalEndCenter font-14 required-field">
                       Start Date:
                        </div>
                        <div class="col-md-8 colInput">
                          <mat-form-field appearance="outline" class="borderInput font-13">
                            <input matInput [min]="today" [max]="maxDate" [matDatepicker]="videoStartDate" readonly  placeholder="From" formControlName="fromDate">
                            <!-- <mat-error *ngIf="videoForm.get('fromDate').hasError('required')" class="matError">
                                Start Date is required.
                              </mat-error> -->
                            <mat-datepicker-toggle matSuffix [for]="videoStartDate"></mat-datepicker-toggle>
                            <mat-datepicker #videoStartDate></mat-datepicker>
                          </mat-form-field>
                            </div>
                        </div>
            
                     
         </div>
          <div class="col-md-6">
          
              <div class="row">
                      <div class="col-md-4 colInputHeader verticalEndCenter font-14 required-field">
                         Video Link:
                        </div>
                        <div class="col-md-8 colInput">
                          <mat-form-field appearance="outline" class="borderInput font-13">
                            <input matInput placeholder="" formControlName="videoLink" [disabled]="actionFlag=='update'">
                            <!-- <mat-error *ngIf="videoForm.get('videoLink').hasError('required')" class="matError">
                                Video Link is required.
                              </mat-error> -->
                          </mat-form-field> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 colInputHeader verticalEndCenter font-14 required-field">
                              End Date:
                              </div>
                              <div class="col-md-8 colInput">
                                <mat-form-field appearance="outline" class="borderInput font-13">
                                  <input matInput [min]="videoForm.controls.fromDate.value" [max]="maxDate" readonly  [matDatepicker]="videoEndDate" placeholder="To" formControlName="toDate">
                                  <!-- <mat-error *ngIf="videoForm.get('toDate').hasError('required')" class="matError">
                                      End Date is required.
                                    </mat-error> -->
                                  <mat-datepicker-toggle matSuffix [for]="videoEndDate"></mat-datepicker-toggle>
                                  <mat-datepicker #videoEndDate></mat-datepicker>
                                </mat-form-field>
                                  </div>
                              </div>
           </div>
    </div>
      </form> 
      <form [formGroup]="NewsAndEventsForm" *ngIf="formID =='2'"> 
          <div class="row no-margin">
              <div class="col-md-6">
                  <div class="row">
                      <div class="col-md-4 colInputHeader verticalEndCenter font-14 required-field">
                        Title:
                        </div>
                        <div class="col-md-8 colInput">
                          <mat-form-field appearance="outline" class="borderInput font-13">
                            <input matInput placeholder="" appInputListener formControlName="title">
                            <!-- <mat-error *ngIf="NewsAndEventsForm.get('title').hasError('required')" class="matError">
                                Title is required.
                            </mat-error> -->
                          </mat-form-field> 
                             
                            </div>
                        </div>
                  <div class="row">
                          <div class="col-md-4 colInputHeader verticalEndCenter font-14 required-field">
                           Start Date: 
                            </div>
                            <div class="col-md-8 colInput">
                              <mat-form-field appearance="outline" class="borderInput font-13">
                                <input matInput [min]="today" [max]="maxDate" formControlName="fromDate" readonly  [matDatepicker]="newsEventsStartDate" placeholder="From">
                                <!-- <mat-error>Email Required!</mat-error> -->
                               
                              <!-- <mat-error *ngIf="NewsAndEventsForm.get('fromDate').hasError('required')" class="matError">
                                    Start date is required.
                                </mat-error> -->
                                <mat-datepicker-toggle matSuffix [for]="newsEventsStartDate"></mat-datepicker-toggle>
                                <mat-datepicker #newsEventsStartDate></mat-datepicker>
                              </mat-form-field>
                              
                                </div>
                            </div>
                          
                               </div>
              <div class="col-md-6">
                  <div class="row">
                      <div class="col-md-4 colInputHeader verticalEndCenter font-14 required-field">
                       Image:
                        </div>
                           <div class="col-md-5 colInput no-padding-right">
                            <mat-form-field appearance="outline" class="borderInput font-13 ">
                                <input matInput readonly placeholder="" formControlName="document">
                              </mat-form-field> 
                            </div>
                            <div class="col-md-3 verticalCenter">
                                <label for="file-input" class="no-margin text-center" color="theme-gray-button"  matTooltip="Image format should be .png/.jpg/.jpeg" matTooltipPosition="above">
                                    Upload File
                                <input id="file-input"  type="file" (change)="detectFiles($event)" accept=".png, .jpg, .jpeg" style="display: none;"/>
                              
                           </label>
                         
                           </div>
                         
                        </div>
                       
                            <div class="row">
                                <div class="col-md-4 colInputHeader verticalEndCenter font-14 required-field">
                                  End Date:
                                  </div>
                                  <div class="col-md-8 colInput">
                                    <mat-form-field appearance="outline" class="borderInput font-13">
                                      <input matInput [min]="NewsAndEventsForm.controls.fromDate.value" readonly  formControlName="toDate" [max]="maxDate" [matDatepicker]="newsEventsEndDate" placeholder="To">
                                      <!-- <mat-error *ngIf="NewsAndEventsForm.get('toDate').hasError('required')" class="matError">
                                        Date is required.
                                      </mat-error> -->
                                      <mat-datepicker-toggle matSuffix [for]="newsEventsEndDate"></mat-datepicker-toggle>
                                      <mat-datepicker #newsEventsEndDate></mat-datepicker>
                                    </mat-form-field>
                                     
                                      </div>
                                  </div>
               </div>
               <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2 colInputHeader verticalEndCenter font-14 required-field">
                      PDF:
                      </div>
                      <div class="col-md-8 colInput no-padding-right">
                        <mat-form-field appearance="outline" class="borderInput font-13 ">
                            <input matInput readonly placeholder="" formControlName="pdfFile">
                          </mat-form-field> 
                        </div>
                        <div class="col-md-2 verticalCenter">
                            <label for="file-inputs" class="no-margin text-center" color="theme-gray-button"  matTooltip="This file format should be .pdf" matTooltipPosition="above">
                                Upload File
                            <input id="file-inputs" multiple  type="file" (change)="detectFilespdf($event)" accept=".pdf" style="display: none;"/>
                          
                       </label>
                     
                       </div>
                      </div>
             </div>
               <div class="col-md-12">
                  <div class="row">
                      <div class="col-md-2 colInputHeader verticalEndCenter font-14 required-field">
                        Add Content:
                        </div>
                        <div class="col-md-10 colInput">
                          <ckeditor appInputListener formControlName="content" [config]="config" debounce="500" (change)="onChange($event)"></ckeditor>
                          <!-- <mat-form-field appearance="outline" class="borderInput font-13">
                            <input matInput placeholder="" formControlName="content">
                          </mat-form-field> -->
                             
                            </div>
                        </div>
               </div>
        </div>
          </form>
    </div>
    <div class="modal-footer">
      <div class="col text-center" *ngIf="formID =='0'">
          <div class="primaryFormBtn disInlineBlock margin-right-10" *ngIf="actionFlag == 'add'">
              <button class="" color="theme-red-button" (click)="addLandingPageImages('Add')">Save & Add More</button> 
            </div>
          <div class="primaryFormBtn disInlineBlock ">
              <button class="" color="theme-red-button" (click)="addLandingPageImages('Close')">Save & Close</button> 
          </div>
          </div>
          <div class="col text-center" *ngIf="formID =='1'"> 
            <div class="primaryFormBtn disInlineBlock margin-right-10" *ngIf="actionFlag=='add'">
                <button class="" color="theme-red-button" (click)="addVideo('Add')">Save & Add More</button> 
              </div>
            <div class="primaryFormBtn disInlineBlock ">
                <button class="" color="theme-red-button" (click)="addVideo('Close')">Save & Close</button> 
            </div>
            </div>
            <div class="col text-center" *ngIf="formID =='2'"> 
              <div class="primaryFormBtn disInlineBlock margin-right-10">
                  <button class="" color="theme-red-button" (click)="addNewsAndEvents('Add')">Save & Add More</button> 
                </div>
              <div class="primaryFormBtn disInlineBlock ">
                  <button class="" color="theme-red-button" (click)="addNewsAndEvents('Close')">Save & Close</button> 
              </div>
              </div>
    </div>
  </ng-template>
    <!---Modal Structure stop-->