.pdfBlock{
    border: 1px solid #eee;
    height: 45vh;
    overflow-y: auto;
    width: 100%;
}
.coc_title{
    text-align: center;
    font-size: 1.4em;
}
ul{
    list-style: circle;
    color: #e33045;
    li{
        font-size: 1em;
        padding: 4px;
    }
}
.btnBlock{
    display: inline-block;
    // border: 1px solid #eee;
    height: 5vh;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
}
.linkBlock{
    border:  1px solid #eee;
    font-size: 11px;
    color: black;
}
.link{
    cursor: pointer;
}
.IdeaNumberDraft1{ color: royalblue !important }
.IdeaNumberDraft1:hover{cursor: pointer !important; text-decoration: underline; color: royalblue !important}
.border{
    border: 1px solid #c5c5c5 !important;
}