<div class="container-fluid SupplierCodeofConduct padding">
  <div class="grid" >
    <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
          <div class="row width100 verticalCenter">
          <div class="col-md-6">
          <h4 class="no-margin">Code of Conduct</h4>
          </div>
          <div class="col-md-6 no-padding">
          <p class="no-margin font-13 width100 flex verticalEndCenter">
            <span class="pointer"  [routerLink]="'/login'" routerDirection="backward">Login</span><mat-icon>chevron_right</mat-icon>
          <span class="secondaryMenu">Code of Conduct</span> 
          </p>
          </div>
          </div>
          </div>
      <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
          <mat-card class="no-padding height100 mainOuterCardContainer">
                  <div class="col-md-12 padding height100" >
              <div class="internalConatiner border padding border-radius-3 height100">
              <h3 class="text-center fontW-600 ">M&M SUPPLIER CODE OF CONDUCT </h3>
              <div class="linkBlock border-radius-3 margin-top IdeaNumberDraft IdeaNumberDraft1">
                <ul style="color: black;">
                  <li (click)="openDocument('1')">
                    ABAC-Policy
                    </li>
                  <li (click)="openDocument('2')">
                    Conflict Mineral Policy_Final
                    </li>
                    <li (click)="openDocument('3')">
                      SGSCMP Policy_2016
                      </li>
                    <li (click)="openDocument('4')">
                      F-00-1474_005-COMPREHENSIVE MANDATORY REQUIREMENTS OF ELV AND HAZARDOUS MATERIAL CONTENTS IN M&M VEHICLES
                      </li>
                    </ul>
                
            </div>
                <form [formGroup]="CocForm">
                  <div class="row">
                    <div class="col-md-3">
                        <p class="required-field">M&M Function</p>
                        <mat-form-field appearance="outline" class="borderInput font-13">
                            <mat-select formControlName="sub_category">
                              <mat-option *ngFor="let category of masters.UserSubCategory" [value]="category.SubCategoryName">{{category.SubCategoryName}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="CocForm.get('sub_category').hasError('required')" class="matError">
                              Supplier Type is required.
                            </mat-error>
                          </mat-form-field>
                      </div>
                      <div class="col-md-3">
                          <p class="required-field">Supplier Type</p>
                          <mat-form-field appearance="outline" class="borderInput font-13">
                            <mat-select formControlName="category" (selectionChange)="changeCategory($event)">
                                <mat-option *ngFor="let category of masters.UserCategory" [value]="category.CategoryName">{{category.CategoryName}}</mat-option>
                              </mat-select>
                              <mat-error *ngIf="CocForm.get('category').hasError('required')" class="matError">
                                Category is required.
                              </mat-error>
                            </mat-form-field>
                        </div>
                      <div class="col-md-3">
                        <p class="required-field">Supplier/Dealer Code</p>
                        <mat-form-field appearance="outline" class="borderInput font-13">
                          <input formControlName="suppier_code" required matInput (change)="checkIfsubmitted()">
                          <mat-error *ngIf="CocForm.get('suppier_code').hasError('required')" class="matError">
                            Code is required.
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                          <p class="required-field">Supplier/Dealer Name</p>
                          <mat-form-field appearance="outline" class="borderInput font-13">
                              <input formControlName="supplier_name" required matInput>
                              <mat-error *ngIf="CocForm.get('supplier_name').hasError('required')" class="matError">
                                Name is required.
                              </mat-error>
                            </mat-form-field>
                        </div>
                  </div>
                </form>
                
                <div class="row no-margin margin-top">
                  <div class="col-md-5 border padding border-radius-3">
                  <div class="row">
                      <div class="col-md-1 verticalEndCenter padding-right-5"></div>
                    <div class="col-md-7 flex no-padding-left">
                      <mat-icon svgIcon="pdfIcon" class="margin-right-10 height100"></mat-icon>
                      <div class="disInlineBlock">
                      <h4 class="fontW-600 margin-bottom-5">Supplier Code Of Conduct</h4>
                      <p class="fontW-500 no-margin font-12 lightGary"></p>
                      </div>
                      </div>
                    <div class="col-md-4 verticalCenter"> 

                      <div class="btnBlock margin-right-5" matTooltip="Downlaod" (click)="downloadDS()">
                          <!-- <mat-icon svgIcon="downloadIcon" class="documentIcon"> -->
                            <button color="theme-red-button">
                              <mat-icon class="margin-right" svgIcon="pdfIcon"></mat-icon>
                              Download</button>
                        </div>
                    </div>
                  </div> 
                  <div class="row">
                    <div class="col-md-7"></div>
                    <div class="col-md-5 link IdeaNumberDraft1" style="font-size: 13px;" *ngIf="showSurvey == '1' " (click)="openDoc()">View attachment</div>
                  </div>
                  </div>
                  <div class="col-md-2 verticalMiddleCenter">
                  </div>
                  <div class="col-md-5 border padding border-radius-3">
                      <div class="row">
                        <div class="col-md-1 verticalEndCenter padding-right-5"> </div>
                        <div class="col-md-7 flex no-padding-left">
                        <div class="disInlineBlock">
                          <h4 class="fontW-600 margin-bottom-5"> Declaration of Compliance to M&M Supplier Code</h4>
                        </div>
                        </div>
                        <div class="col-md-4 verticalCenter">
                          <div class="btnBlock" matTooltip="Uplaod" *ngIf="showSurvey != '1'"> 
                          
                            <button (click)="fileInput.click()" color="theme-red-button">
                              <mat-icon class="margin-right" svgIcon="pdfIcon"></mat-icon>Upload
                                <input #fileInput type="file" (change)="detectFiles($event)" style="display:none;" />
                              </button>
                          </div>
                        </div>
                      </div> 
                      <div class="row">
                        <div class="col-md-7"></div>
                        <div class="col-md-5 link IdeaNumberDraft1" style="font-size: 13px;" *ngIf="showSurvey != '1'" (click)="openFile()">{{fileName}}</div>
                      </div>
                    </div>
                </div>
                <div class="row no-margin">
                  <div class="pdfBlock border-radius-3 margin-top">
                    <p class="coc_title"><u>SOP for ‘Declaration of Compliance to M&M Supplier Code’</u></p>
                    <ul>
                      <li>
                        Download the ‘Supplier Code of Conduct’ policy available on LHS
                        </li>
                      <li>
                        Copy -paste the draft of ‘Declaration of Compliance to M&M Supplier Code’ from page 8 to your Company letter Head
                        </li>
                      <li>
                        Sign the letter digitally or on hardcopy ( Authorized person only)
                        </li>
                      <li>
                        Upload the signed document here on RHS
                        </li>
                      <li>
                        Check for correctness of document & ‘Submit’
                        </li>
                      <li>
                        For any clarification on the ‘Code of Conduct’ clauses, please get in touch with your respective M&M Function contacts.
                        </li>
                    </ul>

                  </div>
                </div>
                  <div class="row">
                    <div class="col-md-12 padding text-center">
                        <div class="primaryBtn disInlineBlock">
                            <button class="" color="theme-red-button" *ngIf="showSurvey != '1'" [disabled]="fileName == '' " (click)="submitDocument(1)">Submit</button>
                        </div>
                      </div>
                  </div>
            </div>
          </div>
          </mat-card>
      </div>
 </div>

</div>
