@import '../../../variable.scss';

.OESuppliesPage{
    .pointer {cursor: pointer;}
    .table-data {
        white-space: nowrap;
    }
   .leftformBlockOpen{
    flex: 0 0 80% !important;
    max-width: 80% !important;
    font-family: 'Lato-Regular' !important;
   }
   .leftformBlockClose{
    flex: 0 0 95% !important;
    max-width: 95% !important;
    font-family: 'Lato-Regular' !important;
   }
    .transactionPanel{
        .subHdr{
            h3{
             color: $color-primary-default;
            }
        }
        .noteRed{ color: $color-primary-default;}
        .noteGray{ color: $color-foreground-tertiary;}
    }
    .mailtext{
        font-size: 13px;
    padding-top: 3%;
    }
    /deep/.barcode{
        background: red !important;
        height: 100% !important;
        width: 100% !important;

    }
    .barcode > img {
        width: 200px;
      }
    .required-field::after {
        content: "*";
        color: red;
    }
    .sideMenuOpen{
        position: absolute;
        right: 15px;
        width: 20%;
        height: calc(100% - 49px);
        top: 49px;
        z-index: 9999;
        cursor: pointer;
        background: #F4F4F4;
        .subHdr{
            p{color: $color-primary-default;} 
        }
        .subMenuList{
            mat-list-item{
                color: $color-foreground-secondary;
                height: 40px;
                border-bottom: 1px solid #e1e1e1;
                .mat-icon {
                    height: 14px !important;
                    width: 14px !important;
                    font-size: 14px;
                }
            }
        }
      .subMenuInnerContainer{
          height: calc(100% - 40px);
          overflow-y: auto;
      }
    }
    .sideMenuOpen .mat-list-base .mat-list-item .mat-list-item-content{
        padding: 0px !important;
    }
    .sideMenuOpen .mat-list-base .mat-list-item.active{
        color: red !important;
    }
  
    .subMenuList{
        // border-bottom: 1px solid #e1e1e1;
    }
    // .mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content .highlightcolor:active{
    //     color:green;
    // }
    // .mat-list-item .highlightcolor.active {
    //     color: green!important;
    // }
    // .mat-list .mat-list-item .highlightcolor-active{
    //     color:green;
    // }
    .sideMenuClose{
        position: absolute;
        right: 15px;
        top: 0;
        width: 5%;
        height: calc(100% - 49px);
        top: 49px;
        z-index: 9999;
        cursor: pointer;
        background: #F4F4F4;
        .btnBlock{
            height: 10%;
            #toolbarMenu{
                margin: 0px !important;
            }
        }
        .textBlock{
            height: 90%;  
            p{
                position: absolute;
                -webkit-transform: rotate(90deg);
                transform: rotate(270deg);
                margin-bottom: 0px;
                width: 100px;
                color:$color-foreground-default;
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
    .bulletsClass{
        font-size: 15px;
    }
    .closeSubMenu{
        float: right;
    }
    mat-tab-group.customTab{
        mat-tab-header{
          .mat-tab-label{
            width: 20%;
          }
        }
    }
   
        .transactionBlocks.BSInventoryView,.transactionBlocks.BSInventoryUpload{
         .verticalAlignBtn{ padding-top: 2% !important;} 
        .tblHdr{ color: $color-primary-default;}
        }
        .transactionBlocks,.QualityBlocks{
           h3{
            font-family: 'Lato-Regular' !important;
           } 
        }
        .QualityBlocks{

        }
    
    
    .borderInput{
        
        ::ng-deep .mat-form-field-infix{border-top: 0px !important;}
        ::ng-deep .mat-form-field-wrapper{padding-bottom: 0px;}
        }Â 
        

        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: rgba(0,0,0,.12); }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{border-width: 1px !important;}
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{border-width: 1px !important;}
        /deep/.mat-select-arrow-wrapper{
          display: flex;
          align-items: center;
          justify-content: center;
        }
        ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
            color: red!important;
            opacity: 0.8!important;
          }
      
        mat-tab-body-wrapper{
            height: 100%;
            .tab-body{
                border: 1px solid;
                height: 100%;
            }
        }
        

    .referencePanel{
        .documentList{
            box-shadow: 0 1px 3px rgba(0,16,44,.08), 0 2px 4px rgba(0,16,44,.12);
        }
        .documentHdr{
            background: #DEDEDE;
        }
    }  
    .excelIcon{
    height: 16px !important;
    width: 16px !important;
    }
    .downloadIcon{
        height: 12px !important;
        width: 12px !important;
    }
    .d-flex {
        display: flex;
        justify-content: flex-end;
        padding-right: 50px !important;
      }
    .go-to-container {
        display: flex;
        align-items: baseline;
        background: white;
        mat-form-field {
          width: 56px;
          margin: 6px 4px 0 4px;
          font-size: 12px;
        }
        .go-to-label {
          margin: 0 4px;
          font-size: 12px;
          color: rgba(0,0,0,.54);
          font-family: Roboto, "Helvetica Neue", sans-serif;
        }
      }
    // .example-container.tbl_New_Layout.uploadSummaryDetails .table-container{ height: 50vh;}
    .example-container.tbl_New_Layout.viewSummaryDetails .table-container{ height: 40vh;}
    /deep/.mat-tab-body-wrapper{
        height: 100%;
       .mat-tab-body{
            height: 100%;
           .leftformBlock{
               height: 100%;
                padding: 0px;
                .borderBottom{
                    border-bottom: 1px solid #F4F4F4;
                }
                .grid{
                    height: calc(100% - 52px);
                    overflow-y: scroll;
                   padding-top: 16px;
                }
                .viewgrid{
                    height: calc(100% - 52px);
                    padding-top: 16px;
                }
                .printPartTblContiner{
                    height: calc(100% - 54px); 
                    mat-card-content{
                        height: 80%;
                        .example-container.tbl_New_Layout .table-container{
                            height: 39vh;
                        }
                   }
                   .printPartTblContiner .mat-paginator{
                       width:100%;
                   }
                   .mat-paginator-range-label{
                    margin:0 10px 0 0px !important;
                    width:200px;
                   }
                   
                   mat-card-footer{
                    height: 20%;
                   }
                }
                .uploadCOPCard{
                    mat-card-content{
                       padding-bottom: 16px;
                   }
                }
                .changeManagementCard{
                    height: calc(100% - 54px); 
                    mat-card-content{
                        height: 80%;
                       overflow-y: scroll;
                       padding-top: 16px;
                   }
                   mat-card-footer{ 
                    height: 20%;
                   }
                }
                .CMCard{
                    height: calc(100% - 54px); 
                    mat-card-content{
                        height: 100%;
                        padding-top: 16px;
                        .table-container{
                            height: 86%;
                        }
                   }
               }
            }
        }
    }
    ::ng-deep{
        .borderInput{
            ::ng-deep .mat-form-field-infix{border-top: 0px !important;}
           ::ng-deep .mat-form-field-wrapper{padding-bottom: 0px;}
           } 
           /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: rgba(0,0,0,.12); }
           /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{border-width: 1px !important;}
           /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{border-width: 1px !important;}
           /deep/.mat-select-arrow-wrapper{
             display: flex;
             align-items: center;
             justify-content: center;
           }
           /deep/.mat-form-field-appearance-outline .mat-form-field-outline{
               background:#fff;
             }
    }
    .folderIcon{
        height: 17px !important;
        width: 17px !important;
    }
    .uploadCDMMMAdmin{
        .example-container.tbl_New_Layout .table-container{
            overflow: hidden !important;
        }
    }
    .editIcon{
        height: 17px !important;
        width: 17px !important;
    }
    .IdeaNumberDraft{ color: royalblue !important }
.IdeaNumberDraft1:hover{cursor: pointer !important; text-decoration: underline; color: royalblue !important}
}

.btnColor{
    background-color: #ea6272;
    border-color: #ea6272;
}

.Document:hover{cursor: pointer !important; text-decoration: underline; color: royalblue !important}

.copDisplayCol{
    display: none;
}

.internalTabLayout{
    height: calc(100% - 52px);
   
}

.COPDashCard{
    height: calc(100% - 44px);
    .example-container.tbl_New_Layout .table-container {
        height: 81% !important;
            }
}
// .cdmm_table{
//     width: 95%;
//     overflow-x: scroll !important;
//     margin-left: 3%;
// }

.remove_icon{
    cursor: pointer
}



