<!-- Landing Page -->
<div class="container-fluid backimg p-0 col-12 js-count-particles particles-js">
    <!-- Particles JS -->
    <!-- <div id="particles-js"></div> -->
    <ngb-carousel #loginCarousel interval="5000" wrap="true" pauseOnHover= "false" class="width100" [showNavigationIndicators]="false" style="height:100%;opacity:0.4; position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;">
    <!-- <div id="particles-js"></div> -->
        <ng-template ngbSlide *ngFor="let item of back_grd_imgs;let i= index" [id]="'id'+i"  >
          <div class="picsum-img-wrapper">
            <img [src]="item.ImagePath" class="height100 width100">
          </div>
        </ng-template>
      </ngb-carousel>
    <!-- <div id="particles-js"></div> -->
    <!-- Main Logo -->
  <div class="main-logo pointerCursor">
      <a (click)="navigate()"><img src="../../assets/SupplierImages/SuppPub.png"></a>
  </div> 
  <!-- Heading Content -->
  <div id="particles-js"></div>
  <div class="text-center text-white pt-4">
      <h1 class="landing-heading d-inline">Mahindra Annual Supplier Meet, {{supplier_location|titlecase}} {{fullyear}}</h1>
  </div>
  <!-- Conference -->
  <div class="col-md-6 col-lg-7 col-xl-4 mx-auto text-center reg-div position-relative mt-5">
      <div class="position-absolute conference text-center links">
          <a (click)="gotoRoute('conference', vendorModal)">
          <img src="../../assets/SupplierImages/conferenceIcon.svg">
          <span class="d-block">Conference</span>
      </a>
      </div>
      <!-- Sydeny -->
      <div class="position-absolute sydney text-center links">
          <a (click)="gotoRoute('sydney', vendorModal)">
          <img src="../../assets/SupplierImages/LocationIcon.svg">
              <span class="d-block">{{supplier_location|titlecase}}</span>
      </a>
      </div>
      <!-- Contact -->
      <div class="position-absolute contact text-center links">
          <a (click)="gotoRoute('contact', vendorModal)">
          <img src="../../assets/SupplierImages/contacticon.svg">
          <span class="d-block">Contact</span>
      </a>
      </div>
      <!-- Registration Icon -->
      <a (click)="gotoRoute('registration', vendorModal)">
      <img src="../../assets/SupplierImages/Registration.png" class="img-fluid regimg ">
  </a>
  </div>
</div>
  <!---Modal Structure start-->
 
  <ng-template #vendorModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">Vendor Details</h3>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="modal-body historyContainer">
      <mat-form-field appearance="outline" class="borderInput font-13">
        <input matInput placeholder="Vendor Code" [(ngModel)]="vendorCode">
        <!-- <mat-error *ngIf="submissionForm.get('Admin_Remark').hasError('required')">M&M Remark is required</mat-error> -->
    </mat-form-field>
    <button (click)="submitVendorCode()" color="theme-red-button">Submit</button>
    </div>
   </ng-template>



