<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="border-right" id="sidebar-wrapper">
    <h5 id="rot">Mahindra Annual Supplier Meet, {{supplier_location|titlecase}} 2020</h5>
    <div class="main-logo">
      <a (click)="gotoRoute('Supplier-meet-home')"><img src="../../assets/SupplierImages/SuppPub.png"></a>
    </div>
    <div class="list-group list-group-flush p-custom position-relative">
      <div class="d-inline position-absolute right_0">
        <!-- Sydney -->
        <a   routerLinkActive="active-link" (click)="gotoRoute('sydney')" class="list-group-item list-group-item-action bg-transparent d-inline sidetabs mb-1">
          <img src="../../assets/SupplierImages/LocationIcon.svg"><span class="pl-3">{{supplier_location|titlecase}}</span></a><br>
          <!-- Conference -->
        <a  routerLinkActive="active-link"  (click)="gotoRoute('conference')" class="list-group-item list-group-item-action bg-transparent d-inline sidetabs mb-1">
          <img src="../../assets/SupplierImages/conferenceIcon.svg"><span class="pl-3">Conference</span></a><br>
          <!-- Registration -->
        <a routerLink="registration"(click)="gotoRoute('registration')" class="list-group-item list-group-item-action bg-transparent d-inline sidetabs mb-1">
          <img src="../../assets/SupplierImages/registrationicon.svg"><span class="pl-3">Registration</span></a><br>
          <!-- Contact -->
        <a routerLink="contact" routerLinkActive="active-link" class="list-group-item list-group-item-action bg-transparent d-inline sidetabs mb-1 active-link">
          <img src="../../assets/SupplierImages/contacticon.svg"><span class="pl-3">Contact</span></a><br>
      </div>
    </div>
  </div>
  <!-- /#sidebar-wrapper routerLink="sydney" -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="topnav-img">
           <img src="{{cs.supplier_headr_img}}" class="imgHeader">
      <div class="togglebtn">
        <button class="btn btn-primary" id="menu-toggle">Side Menu</button>
      </div>
      <div class="waves">
        <img src=".../../../../assets/SupplierImages/Innerpagewave.png" class="waveImg">


        <mat-card class="no-shadow no-padding height100 contactMenuView" style="margin-top: -25px;">
          <!-- <mat-card-header>
              <mat-card-title><h3 class="no-margin themePrimaryColor">Contact Us</h3></mat-card-title>
            </mat-card-header> -->
            <mat-card-content class="no-margin no-padding mt-4">
                <div class="col-md-12"  style="margin-top: 10px;">
                    <div class="row">
                        <div class="col-md-12 font-20">
                          <img src="../../../../assets/SupplierImages/checked.svg" class="commonBulletPoints">
                           <label><strong>Email:</strong></label> 
                        </div>
                        <!-- {{contactDetails.Email}} -->
                        <div class="col-md-5 colInput">
                            <mat-form-field appearance="outline" class="borderInput font-13">
                                <input  matInput disabled [(ngModel)]="contactDetails.Email">
                            </mat-form-field>
                        </div>
                    </div>
                  
                    <div class="row">
                        <div class="col-md-12 font-20">
                          <img src="../../../../assets/SupplierImages/checked.svg" class="commonBulletPoints">
                           <label> <strong>Contact No:</strong></label>
                        </div>
                        <div class="col-md-5 colInput">
                          <mat-form-field appearance="outline" class="borderInput font-13">
                            <input appInputListener  matInput disabled [(ngModel)]="contactDetails.ContactNo">
                        </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 font-20">
                          <img src="../../../../assets/SupplierImages/checked.svg" class="commonBulletPoints">
                         <label><strong>Address:</strong></label>
                        </div>
                        <div class="col-md-5 colInput">
                          <div [innerHtml]="contactDetails.Address"></div>                             
                          <!-- <mat-form-field appearance="outline"> 
                            <textarea matInput rows="4" disabled>{{contactDetails.Address}}</textarea>
                          </mat-form-field> -->
                        </div>
                    </div>

                    <!-- <div class="input-row ">
                      <mat-form-field fxFlex  class="col-md-12 font-20">
                        <input matInput  type="text"  placeholder="EMAIL" formControlName="email">
                      </mat-form-field>
                    </div> -->
                    <div class="input-row ">
                      For all queries and information related to bookings and travel please contact on below number. Matchbox ventures Pvt. Ltd :- 91 124 431 6414
                    </div>

                </div>
          
            </mat-card-content>
        </mat-card>
      </div>
    </div>



</div>
</div>