<div class="container-fluid  AddQuestionModal no-padding">
    <div class="modal-header">
        <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">Add Questions </h3>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="modal-body addQuestionContainer no-padding">
          <div class="col-md-12 padding height100">
              <form [formGroup]="questionCreateForm" #newform="ngForm">
                    <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2 colInputHeader verticalEndCenter font-14">
                                      Add Question<span style="color: red;">*</span>:
                                      </div>
                                      <div class="col-md-10 colInput">
                                            <mat-form-field appearance="outline" class="borderInput">
                                                <input matInput placeholder="" formControlName="question">
                                                <mat-error *ngIf="questionCreateForm.get('question').hasError('required')" class="matError">
                                                  Question is required.
                                              </mat-error>
                                            </mat-form-field>  
                                          </div>
                                      </div>
                            </div>
                            <div class="col-md-12">
                              <div class="row">
                                  <div class="col-md-4">
                                      <div class="row">
                                          <div class="col-md-6 colInputHeader verticalEndCenter font-14">
                                            Select Answer Type<span style="color: red;">*</span>:
                                            </div>
                                            <div class="col-md-6 colInput">
                                          <mat-form-field appearance="outline" class="borderInput">
                                              <mat-select  placeholder="Select" formControlName="answertype" (selectionChange)="setNumberOfOption($event)">
                                                  <mat-option *ngFor="let option of answerTypes" [value]="option.AnswerTypeId">{{ option.AnsTypeName }} </mat-option>
                                                  </mat-select>
                                                  <mat-error *ngIf="questionCreateForm.get('answertype').hasError('required')" class="matError">
                                                    Answer Type is required.
                                                </mat-error>
                                              </mat-form-field> 
                                                </div>
                                            </div>
                                        </div>
                                  
                                <div class="col" *ngIf="this.questionCreateForm.value.answertype == 1">
                                  <div class="row">
                                      <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                        Select No of options<span style="color: red;">*</span>:
                                        </div>
                                      <div class="col-md-8 colInput">
                                            <mat-form-field appearance="outline" class="borderInput">
                                                <mat-select placeholder="Select" formControlName="number_of_options" (selectionChange)="setOptionFields($event.value, 'Option')">
                                                    <mat-option value="2">2</mat-option>
                                                    <mat-option value="3">3</mat-option>
                                                    <mat-option value="4">4</mat-option>
                                                    <mat-option value="5">5</mat-option>
                                                    </mat-select>
                                                    <mat-error *ngIf="questionCreateForm.get('number_of_options').hasError('required')" class="matError">
                                                          No Of Options is required.
                                                      </mat-error>
                                              </mat-form-field>
                                        </div>
                                        </div>        
                                  </div>
                                  <div class="col" *ngIf="this.surveyTypeId == 2">
                                          <div class="row">
                                                  <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                                    Select Section<span style="color: red;">*</span>:
                                                    </div>
                                                    <div class="col-md-8 colInput">
                                                  <mat-form-field appearance="outline" class="borderInput">
                                                      <mat-select  placeholder="Select" formControlName="section">
                                                          <mat-option *ngFor="let section of sections" [value]="section.Sec_id">{{ section.Section_Name }} </mat-option>
                                                        </mat-select>
                                                          <mat-error *ngIf="questionCreateForm.get('section').hasError('required')" class="matError">
                                                              Section is required.
                                                            </mat-error>
                                                      </mat-form-field> 
                                                        </div>
                                                    </div>
                                            </div>
                                  <div class="col" *ngIf="this.surveyTypeId == 3">
                                          <div class="row">
                                                  <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                                                    Select Category<span style="color: red;">*</span>:
                                                    </div>
                                                    <div class="col-md-8 colInput">
                                                  <mat-form-field appearance="outline" class="borderInput">
                                                      <mat-select  placeholder="Select" formControlName="category">
                                                          <mat-option *ngFor="let category of categories" [value]="category.Cat_id">{{ category.Category_Name }} </mat-option>
                                                        </mat-select>
                                                          <mat-error *ngIf="questionCreateForm.get('section').hasError('required')" class="matError">
                                                              Section is required.
                                                            </mat-error>
                                                      </mat-form-field> 
                                                        </div>
                                                    </div>
                                            </div>
                                  </div>
                            </div>
                            <div class="col-md-12">
                              <div class="row">
                                <div  class="col-md-2 colInputHeader verticalEndCenter font-14" 
                                              *ngIf="options.controls.length != 0">
                                        Options<span style="color: red;">*</span>:
                                  </div>
                                <div class="col-md-2" *ngFor="let option of this.options.controls">
                                      <div class="row">
                                          <div class="col-md-12 colInput">
                                                <mat-form-field appearance="outline" class="borderInput">
                                                    <input matInput [placeholder]="option.value.placeholder" [formControl] ="option.controls.name" [type]="this.option_type">
                                                    <mat-error *ngIf="option.get('name').hasError('required')" class="matError">
                                                        Option is required.
                                                      </mat-error>
                                                  </mat-form-field>  
                                            </div>
                                        </div>      
                                    </div>
                                    
                                </div>
                              </div>
                        <div class="col-md-12 verticalEndCenter margin-top no-padding">
                                <div class="col-md-2 btnBlockConatiner">
                                            <button color="theme-green-button" (click)="addQuestion()" class="verticalMiddleCenter" ><mat-icon class="margin-right-5">add</mat-icon>Add More</button> 
                                    </div>
                                </div>

                    </div>
                </form>
                <hr>
                <div class="row outerBlock">
                        <div class="col-md-12 height100">
                                <div class="col-md-12">
                                        <div class="row draggableHdr">
                                            <div class="col-md-1 custWidthIcon">
                                              <div><p class="font-13 no-margin">No.</p></div>
                                            </div>
                                            <div class="col-md-10">
                                                    <div><p class="font-13 no-margin">Questions</p></div>
                                                </div>
                                                <div class="col-md-1">
                                                        <div><p class="font-13 no-margin">Action</p></div>
                                                    </div>
                                           
                                          </div>
                                    </div>
                                    <div class="grid innerContainer">
                                            <div class="col-md-12 no-padding">
                                                           <div *ngFor="let question of addedQuestions; let i = index" class="row questionList  verticalCenter border-radius-3 margin-vertical-10" >
                                                                <div class="col-md-1 custWidthIcon">
                                                                  <div>
                                                                  <p class="no-margin">{{ i + 1 }}.</p>
                                                                   </div>
                                                                </div>
                                                                <div class="col-md-10 no-padding">
                                                                  <div class="height100 verticalCenter">
                                                                      <div class="font-13 padding-horizontal contentBlock"> 
                                                                          {{ question.Question }}
                                                                      </div>
                                                                  </div>
                                                                 </div>
                                                                 <div class="col-md-1 no-padding custWidthButton">
                                                                        <div>
                                                                                <!-- <mat-icon svgIcon="edit" (click)="editQuestion(question)" class="margin-right-10"></mat-icon> -->
                                                                                <mat-icon style="margin-left: 18px;" svgIcon="delete" (click)="deleteQuestion(question.QuestionID)"></mat-icon>
                                                                        </div>
                                                                    </div>
                                                               </div>
                                             </div>
                                             <!-- <mat-paginator  [length]="pageSize"  [pageSize]="5"  [pageIndex]="pageNo"
                                                (page)="pageEvent = getStickerData($event)">
                                              </mat-paginator> -->
                                            </div>
                                     
                                 
                            </div>
                                    </div>
          </div>
           </div>
      <div class="modal-footer text-center">
        <div class="col">
            <div class="primaryFormBtn disInlineBlock">
                                    <button class="" color="theme-red-button" (click)='publishQuestion()'>Publish</button> 
                                  </div>
              </div>
      </div>
    </div>
       