@import '../../variable.scss';
.AddQuestionModal{

  .draggableHdr{
    background: #888888;
    color: $color-white-default;
    padding: 10px;
  }
 .questionList{
  background: #EFEFEF;
  padding: 10px;
 }
 .custWidthButton{
  mat-icon{
    height: 20px !important;
    width: 20px !important;
    cursor: pointer;
  }
 }
    .borderInput{
    ::ng-deep .mat-form-field-infix{border-top: 0px !important;}
    ::ng-deep .mat-form-field-wrapper{padding-bottom: 0px;}
    }
    /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: rgba(0,0,0,.12); }
    /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{border-width: 1px !important;}
    /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{border-width: 1px !important;}
    /deep/.mat-select-arrow-wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    /deep/mat-error{
        font-size: 12px;
        white-space: nowrap;
      }
      .addQuestionContainer{
        height: 70vh;
        .outerBlock{
          height: calc(100% - 169px);
          .innerContainer{
            height: calc(100% - 39px);
            overflow-y: auto;
          }
        }
      }
}