<div class="container-fluid JITModelMasterPage padding">
  <div class="grid">
      <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
          <div class="row width100 verticalCenter">
          <div class="col-md-6">
          <h4 class="no-margin">Model Master</h4>
          </div>
          <div class="col-md-6 no-padding">
          <p class="no-margin font-13 width100 flex verticalEndCenter">
            <span class="pointer" [routerLink]="roleId == '7' ? '/adminDashboard' : '/dashboard'" routerDirection="backward">Home</span><mat-icon>chevron_right</mat-icon>
            <span class="secondaryMenu" >JIT</span><mat-icon>chevron_right</mat-icon>
            <span class="secondaryMenu">Model Master</span> 
          </p>
          </div>
          </div>
          </div>
      <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
          <mat-card  class="no-padding mainOuterCardContainer filterViewCard">
            <mat-card-content>
              <div class="col-md-12 padding">
                <div class="row no-margin">
                  <div class="col-md-12 margin-bottom verticalCenter no-padding-left">
                    <h3 class="no-margin themePrimaryColor">
                        Model Master Details
                    </h3>
                  </div>
                  <!-- <div class="col-md-2 margin-bottom no-padding-right">
                    <div class="width100 vertcalAligment">
                        <button class="verticalMiddleCenter" (click)="exportAsExcelFile(table,'JIT_Model_Master')" color="theme-green-button">
                                <mat-icon  class="flex margin-right-10 disInlineBlock excelCustIcon" svgIcon="excelIcon"></mat-icon>Export To Excel</button> 
                          </div>
                    </div> -->
                 </div>
                 <div class="row no-margin filterSection">
                  <div class="col-md-1 margin-bottom verticalCenter no-padding-left">
                    <p class="no-margin">
                      Filter
                    </p>
                  </div>
                      <div class="col-md-4 margin-bottom custWidth no-padding-left">
                          <div class="row">
                              <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                  Model Code:
                              </div>
                              <div class="col-md-8 colInput">
                                  <mat-form-field appearance="outline" class="borderInput font-13">
                                      <input matInput [formControl]="modelCode" placeholder="Model Code">
                                    </mat-form-field> 
                              </div>
                          </div>
                       </div>
                      <div class="col-md-4 margin-bottom custWidth no-padding-left">
                          <div class="row">
                              <div class="col-md-4 colInputHeader verticalEndCenter font-13">
                                  Part Number:
                              </div>
                              <div class="col-md-8 colInput">
                                  <mat-form-field appearance="outline" class="borderInput font-13">
                                      <input matInput [formControl]="partCode" placeholder="Part Number">
                                    </mat-form-field> 
                                   </div>
                          </div>
                       </div>
                      <div class="col-md-3 margin-bottom no-padding-right no-padding-left">
                        <div class="btnBlocks m-r-5 vertcalAligment">
                          <button  color="theme-red-button" (click)="getTableValues(0)">Search</button> 
                        </div>
                        <div class="btnBlocks vertcalAligment">
                            <button class="verticalMiddleCenter" (click)="reset()" color="theme-gray-button">Reset
                                <!-- <mat-icon  class="flex margin-right-10 disInlineBlock excelCustIcon" svgIcon="excelIcon"></mat-icon>Export -->
                                </button> 
                          </div>
                          <div class="width100 vertcalAligment">
                            <button [disabled]="isDisabled" class="verticalMiddleCenter" color="theme-green-button" (click)="exportExcel()">
                                    <mat-icon  class="flex margin-right-10 disInlineBlock" svgIcon="excelIcon"></mat-icon>Export To Excel</button> 
                              </div>
                      </div>
                    </div>
                    <div class="row no-margin">
                      <div class="example-container tbl_New_Layout">
                        <div *ngIf="DataSource.length == 0" class="no-data">
                          No Data Present Yet
                        </div>
                        <div class="table-container">
                          <table mat-table #table class="lessons-table" [dataSource]="DataSource">
                           <ng-container *ngIf="DataSource.length != 0" matColumnDef="modelCode">
                            <th mat-header-cell *matHeaderCellDef>Model Code</th>
                            <td mat-cell *matCellDef="let element" >
                              {{ element.modelCode || "N/A" }}
                            </td>
                          </ng-container>
                          <ng-container *ngIf="DataSource.length != 0" matColumnDef="partNumber">
                              <th mat-header-cell *matHeaderCellDef>Part Number</th>
                              <td mat-cell *matCellDef="let element" >
                                {{ element.partNumber || "N/A" }}
                                </td>
                            </ng-container>
                           <ng-container *ngIf="DataSource.length != 0" matColumnDef="partDescription">
                                  <th mat-header-cell *matHeaderCellDef>Part Description</th>
                                  <td mat-cell *matCellDef="let element" >
                                    {{ element.partDescription || "N/A" }}
                                    </td>
                                </ng-container>

                                <ng-container *ngIf="DataSource.length != 0" matColumnDef="aggregate">
                                    <th mat-header-cell *matHeaderCellDef>Aggregate</th>
                                    <td mat-cell *matCellDef="let element" >
                                      {{ element.aggregate || "N/A" }}
                                      </td>
                                  </ng-container>
                                  <ng-container *ngIf="DataSource.length != 0" matColumnDef="isActive">
                                      <th mat-header-cell *matHeaderCellDef>IsActive</th>
                                      <td mat-cell *matCellDef="let element" >
                                        {{ element.isActive || "N/A" }}
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row  *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                         </table>
                    </div>
                    <div class="d-flex">
                      <mat-paginator [length]="pageSize"  [pageSize]="10"  [pageIndex]="pageNo"
                      (page)="pageEvent = getPageChangeData($event)" *ngIf="DataSource.length != 0">
                        </mat-paginator>
                        <div class="go-to-container" style="width:90px;margin-bottom:30px">
                          <div class="go-to-label">Go To: </div>
                          <mat-form-field>
                            <mat-select [(ngModel)]="goTo" (selectionChange)="goToChange($event.value)">
                              <mat-option *ngFor="let pageNumber of pageNumbers" [value]="pageNumber">{{pageNumber}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                    </div>
                  </div>
                    </div>
              </div>
            </mat-card-content>
        
            </mat-card>
            </div>
    </div>
    </div>
