@import '../../variable.scss';

 .CMSDocument{
.leftMenuPanel{
  flex: 0 0 18%;
  max-width: 18%;
  border-right: 1px solid #D8D8D8;
  padding: 0px;
  .menuCategory{
    background: $color-skyblue-default;
    color: $color-white-default;
    height: 8%;
    display: flex;
    align-items: center;
    padding: 0px 16px;
  }
  .menuListPanel{
    height: 92%;
    overflow-y: auto;
  }

  /deep/.mat-slide-toggle-thumb-container{
    cursor: pointer !important;
  }
  mat-expansion-panel{
    border-bottom: 1px solid #D8D8D8;
    mat-expansion-panel-header{
      mat-panel-title{
        color: #888888;
      }
      mat-icon{
        height: 14px;
        width: 14px;
        color: #888888;
        font-size: 14PX;
      }
    }
      mat-list-item{
        border-bottom: 0px !important;
        color: #BCBCBC !important;
      }
    .plusMinusBtnBlock{
      margin-right: 0px;
      display: flex;
      align-items: center;
     justify-content: flex-end;
      .mat-icon {
         height: 15px;
        width: 15px;
        font-size: 15PX;
    }
     }
  }

   mat-list-item.noSubmenu{
    border-bottom: 1px solid #D8D8D8;
    color: #888888;
    mat-icon{
      height: 14px;
      width: 14px;
      color: #888888;
      font-size: 14PX;
    }
  }
}
.rightContentPanel{
  flex: 0 0 82%;
  max-width: 82%;
  .vertcalAligment{
    margin: .25em 0;
  }

  .borderInput{
          ::ng-deep .mat-form-field-infix{border-top: 0px !important;}
          ::ng-deep .mat-form-field-wrapper{padding-bottom: 0px;}
          }
          /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: rgba(0,0,0,.12); }
          /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{border-width: 1px !important;}
          /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{border-width: 1px !important;}
          /deep/.mat-select-arrow-wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
          }
          
        // /deep/.mat-form-field-subscript-wrapper{
        //     position: relative;
        //     bottom: 30px;
        //   }
          
   }

  //  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid.mat-form-field-outline-thick{
  //   color: red!important;
  //   opacity: 0.8!important;
  // }

  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: red!important;
    opacity: 0.8!important;
}

   .disable_ripple:hover{
    color: #000 !important;
    cursor: pointer;
    font-weight: 500;
    }

    .active_class{
      color: skyblue !important;
    }
.hidesign{
  display: none !important;
}
    .Document:hover{cursor: pointer !important; text-decoration: underline; color: royalblue;}

   .tableBlock{
    height: calc(100% - 160px) !important;
   }
}



 
 
 