<!-- <div class="loader1" *ngIf="cs1.showSwapLoader">
  <img style="padding:250px 550px" src="./assets/img/loader.gif" />
</div> -->

<div class="container-fluid CMSDocument padding">
  <div class="grid">
      <!-- <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
          <p class="no-margin font-13 width100 flex">
             <span>Home</span> <mat-icon>chevron_right</mat-icon>
            <span class="secondaryMenu">Document Management</span> 
         </p>
      </div> -->
      <div class="col-md-12 custBreadcrumb verticalCenter border-radius-3">
        <div class="row width100 verticalCenter">
        <div class="col-md-6">
        <h4 class="no-margin">Document Management</h4>
        </div>
        <div class="col-md-6 no-padding">
        <p class="no-margin font-13 width100 flex verticalEndCenter">
          <span class="pointer" routerLink="/adminDashboard" routerDirection="backward">Home</span><mat-icon>chevron_right</mat-icon>
        <span class="secondaryMenu">Document Management</span> 
        </p>
        </div>
        </div>
        </div>
      <div class="col-md-12 border-radius padding-top no-padding-left no-padding-right">
        <mat-card class="no-padding mainOuterCardContainer">
          <div class="col-md-12 height100">
            <div class="row height100">
              <div class="col-md-2 leftMenuPanel height100">
                <div class="menuCategory">
                  Category
                </div>
                <mat-nav-list class="no-padding menuListPanel">
                  <span *ngFor="let data of menu; let i = index">
                    <span *ngIf="data.MBSC[i]?data.MBSC[i].Error== null:data.MBSC[0].Error== null">
                      <mat-accordion>
                        <mat-expansion-panel [expanded]="isExpanded" #panelState  hideToggle="true" class="no-shadow">
                          <mat-expansion-panel-header (click)="myBusinessMenu(data.MBC)" class="padding-horizontal">
                            <mat-panel-title>
                              <!-- Cabeceras del submenu -->
                              <div fxLayout="row"  fxLayoutAlign="space-between center" [ngClass]="(((i+1)==activeClass && !isChild))?'active_class verticalCenter font-13 menuRow disable_ripple':'verticalCenter font-13 menuRow disable_ripple'" > 
                                <mat-icon #plus class="margin-right-10"> adjust</mat-icon>
                                {{data.MBC[i]?data.MBC[i].BusinessCategoryName:data.MBC[0].BusinessCategoryName}}
                              </div>
                            </mat-panel-title>
                           <mat-panel-description class="plusMinusBtnBlock">
                              <mat-icon *ngIf="!panelState.expanded" (click)="myBusinessMenu(data.MBC)">add</mat-icon>
                              <mat-icon *ngIf="panelState.expanded">remove</mat-icon>
                            </mat-panel-description> 
                          </mat-expansion-panel-header>
                          <span *ngFor="let child of data.MBSC; let j = index">
                            <mat-list-item #subMenu (click)="navigate(child,true)">
                              <div fxLayout="row" fxLayoutAlign="space-between center" [ngClass]="(((j+1)==activeClass && isChild))?'active_class verticalCenter font-13 menuRow disable_ripple':'verticalCenter font-13 menuRow disable_ripple'" > 
                                {{child.BusinessSubCategoryName}}
                              </div>
                            </mat-list-item>
                          </span>
                        </mat-expansion-panel>
                      </mat-accordion>
                    </span>
                    <span *ngIf="data.MBSC[i]?data.MBSC[i].Error != null:data.MBSC[0].Error != null">
                      <mat-list-item class="noSubmenu" (click)="navigate(data.MBC,false)">
                        <div fxLayout="row" fxLayoutAlign="space-between center" [ngClass]="(((i+1)==activeClass && !isChild))?'active_class verticalCenter font-13 menuRow disable_ripple':'verticalCenter font-13 menuRow disable_ripple'">
                          <mat-icon class="margin-right-10"> adjust</mat-icon>
                          {{data.MBC[i]?data.MBC[i].BusinessCategoryName:data.MBC[0].BusinessCategoryName}}
                        </div>
                      </mat-list-item>
                    </span>
                  </span>
                </mat-nav-list>
              </div>
        <div class="col-md-10 rightContentPanel padding height100">
          <form [formGroup]="CommonForm" #form="ngForm">
            <div class='row'>
              <div class="col-md-6">
                <h3>Upload Documents For : <a class="active_class">{{Category_Name}}</a></h3>
              </div>
              <div class="col-md-4 offset-1">
                <button color="theme-red-button" class="verticalMiddleCenter" (click)="openMappingModal(documentRoleModal)">Document Role Mapping</button> 
                </div>
              </div>

              <div class="spacer"></div>
                <div class="row" #div>  

                  <div class="col-md-8">
                    
                   
                  <div class="row" *ngIf="docShow">
                    <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                     Upload Pdf<br>(Digital Signature)<span style="color: red;">*</span>:
                      </div>
                      <div class="col-md-5 colInput no-padding-right">
                          <mat-form-field #input appearance="outline" class="borderInput font-13 ">
                              <input matInput readonly formControlName="Upload_Document_signature">
                              <mat-error *ngIf="showError && CommonForm.get('Upload_Document_signature').hasError('required')">Kindly upload document</mat-error>
                            </mat-form-field> 
                          </div>
                          <div class="col-md-3 verticalCenter">
                              <label matTooltip="scan and upload pdf" for="file-input" class="no-margin text-center " color="theme-gray-button" style="cursor: pointer;">
                                  Upload File
                                  <input id="file-input" #fileInput type="file" (click)="fileInput.value = null" (change)="detectFilesSign($event)" accept=" .pdf" style="display: none;" />
                              </label>
                          </div>
                      </div>

                    <div class="row" *ngIf="titleShow">
                      <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                        Add Title<span style="color: red;">*</span>:
                        </div>
                        <div class="col-md-8 colInput">
                          <mat-form-field id="title" appearance="outline" class="borderInput font-13">
                            <input matInput appInputListener formControlName="Add_Title" placeholder="">
                            <mat-error *ngIf="showError && CommonForm.get('Add_Title').hasError('required')">Title is required</mat-error>
                          </mat-form-field>
                            </div>
                        </div>

                        

                        <div class="row">
                          <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                           Upload Doc<span style="color: red;">*</span>:
                            </div>
                            <div class="col-md-5 colInput no-padding-right">
                                <mat-form-field #input appearance="outline" class="borderInput font-13 ">
                                    <input matInput readonly formControlName="Upload_Document">
                                    <mat-error *ngIf="showError && CommonForm.get('Upload_Document').hasError('required')">Kindly upload document</mat-error>
                                  </mat-form-field> 
                                </div>
                                <div class="col-md-3 verticalCenter">
                                    <label matTooltip="{{tooltipText}}" for="file-input123" class="no-margin text-center " color="theme-gray-button" style="cursor: pointer;">
                                        Upload File
                                        <input id="file-input123" #fileInput type="file" (click)="fileInput.value = null" (change)="detectFiles($event)" accept=".pdf" style="display: none;" />
                                    </label>
                                </div>
                            </div>
                  </div>
                  <div class="col-md-3">
                    <div class="row" *ngIf="show">
                      <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                       Folder:
                        </div>
                        <div class="col-md-8 colInput">
                          <mat-form-field appearance="outline" class="borderInput">
                            <mat-select formControlName="Folder" placeholder="Select">
                              <mat-option value="">Select folder </mat-option>
                              <mat-option [value]="folder.Doc_Id" *ngFor="let folder of folderData">{{folder.Doc_Name}}</mat-option>
                             </mat-select>
                            </mat-form-field>
                            </div>
                        </div>
                        <div class="row verticalEndCenter" *ngIf="Category_Name !='Code of Conduct'">
                            <div class="col-md-6 btnBlockConatiner vertcalAligment">
                                <button color="theme-green-button" (click)="postData(CommonForm,Files)" class="verticalMiddleCenter"><mat-icon class="margin-right-5">add</mat-icon>Add</button> 
                              </div>
                          </div>

                          <div class="row verticalEndCenter" *ngIf="Category_Name =='Code of Conduct'">
                            <div class="col-md-6 btnBlockConatiner vertcalAligment">
                                <button color="theme-green-button" (click)="postCOCData(CommonForm,Files,0)" class="verticalMiddleCenter"><mat-icon class="margin-right-5">add</mat-icon>Add</button> 
                              </div>
                          </div>
                  </div>
                  <div class="spacer"></div>
                    </div>
                    </form>
                  <div class="col margin-vertical-5 col-md-12 no-padding tableBlock">
                      <div class="example-container tbl_New_Layout height100">
                          <div class="table-container height100">
                        <table #table mat-table class="lessons-table" matSort [dataSource]="DataSource">
                          <ng-container matColumnDef="title">
                            <th [hidden]="titleCol" mat-header-cell *matHeaderCellDef>Title</th>
                            <td [hidden]="titleCol" mat-cell *matCellDef="let element" class="text-center">
                              {{ element.Title || "N/A" }}
                            </td>
                          </ng-container>
                          <ng-container  matColumnDef="folder">
                              <th  [hidden]="showCol" mat-header-cell *matHeaderCellDef>Folder</th>
                              <td [hidden]="showCol" mat-cell *matCellDef="let element" class="text-center">
                                {{ element.Folder || "N/A" }}
                                </td>
                            </ng-container>
                            <ng-container  matColumnDef="signDoc">
                              <th mat-header-cell [hidden]="docCol" *matHeaderCellDef>PDF Document(Digital Signature)</th>
                              <td  mat-cell [hidden]="docCol" *matCellDef="let element" class="text-center">
                                {{ element.Doc_Name || "N/A" }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="docname">
                              <th mat-header-cell *matHeaderCellDef>Document Name</th>
                              <td mat-cell *matCellDef="let element" class="text-center Document">
                               <a (click)="showDocuments(element)">{{ element.Doc_Name || "N/A" }}</a>
                                </td>
                            </ng-container>
                           <ng-container matColumnDef="date">
                                  <th mat-header-cell *matHeaderCellDef>Date</th>
                                  <td mat-cell *matCellDef="let element" class="text-center">
                                    {{ element.CreatedDate | date:'dd/MM/yyyy' || "N/A" }}
                                    </td>
                                </ng-container>
                                  <ng-container matColumnDef="action"> 
                                      <th mat-header-cell *matHeaderCellDef>Action</th>
                                      <td mat-cell *matCellDef="let element">  
                                        <div class="row">
                                          <div *ngIf="Category_Name=='My Policy Guidelines'" class="actionBtnBlock col-md-2"><mat-icon  class="flex  disInlineBlock" svgIcon="Edit" (click)="openModal(addContent, element)" matTooltip="Edit"></mat-icon></div>
                                          <div class="actionBtnBlock col-md-2"><mat-icon  class="flex  disInlineBlock" svgIcon="trash" (click)="deleteData(element)" matTooltip="Delete"></mat-icon></div>
                                        </div>
                                        </td>
                                    </ng-container>
                                   <tr mat-header-row  *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                         </table>
                         <div *ngIf="DataSource.length === 0">No records found</div>
                        </div>
                        <!-- <mat-paginator [pageSize]='5' [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
                    </div>
                  </div>
                <!-- </div> -->
              </div>
              <!-- <app-cms-doc-common-modal #common class="col-md-10 rightContentPanel"></app-cms-doc-common-modal> -->
            </div>
          </div>
          </mat-card>
          </div>
      </div>
      <!-- <app-spare-suppliers></app-spare-suppliers> -->
  </div>

  <ng-template #documentRoleModal>
    <div class="modal-header">
      <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">Document - Role Mapping</h3>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
          <div class="col-md-1 vertcalAligment">
             Role
            </div>
          <div class="col-md-2">
            <mat-form-field appearance="outline" class="borderInput font-13 ">
              <!-- <input matInput > -->
              <mat-select [formControl]="Role">
                <!-- <mat-option value="">Select folder </mat-option> -->
                <mat-option [value]="role.RoleId" *ngFor="let role of Roles">{{ role.RoleName }}</mat-option>
               </mat-select>
            </mat-form-field> 
            </div>
          <div class="col-md-1: vertcalAligment">
             Document Name
            </div>
          <div class="col-md-2">
            <mat-form-field appearance="outline" class="borderInput font-13 ">
              <mat-select [formControl]="Document">
                <mat-option [value]="doc.Doc_Id" *ngFor="let doc of Docs">{{ doc.Doc_Name }}</mat-option>
               </mat-select>
            </mat-form-field> 
            </div>
          <div class="col-md-2">
            <mat-form-field appearance="outline" class="borderInput font-13 ">
              <input matInput [formControl]="searchDocuments" placeholder="Filter Documents">
            </mat-form-field> 
          </div>
          <div *ngIf="!editRoleDoc" class="col-md-3">
            <button color="theme-red-button" class="verticalMiddleCenter" (click)="createMapping()">Create New Mapping</button> 
          </div>
          <div *ngIf="editRoleDoc" class="col-md-2">
            <button color="theme-red-button" class="verticalMiddleCenter" (click)="updateForm()">Update</button> 
          </div>
          <div *ngIf="editRoleDoc" class="col-md-1">
            <button color="theme-gray-button" class="verticalMiddleCenter" (click)="resetForm()">Reset</button> 
          </div>
        </div>
      <hr>
      <div>
        <div class="row">
          <div class="col-md-4">
              <b>Role</b>
            </div>
          <div class="col-md-6">
              <b>Document</b>
            </div>
          <div class="col-md-2">
            <b>Active</b>
            </div>
        </div>
        <div class="row" *ngFor="let roledoc of RoleDocs">
          <div class="col-md-4">
              {{ roledoc.RoleName }}
            </div>
          <div class="col-md-6">
              {{ roledoc.DocumentName }}
            </div>
          <div class="col-md-2">
            <mat-slide-toggle color="red" (toggleChange)="updateStatus(roledoc)" [checked]="roledoc.IsActive"></mat-slide-toggle>
            </div>
        </div>
      </div>
    </div>
    <!-- <div class="modal-footer">
    <div class="col text-center">
        <div class="primaryFormBtn disInlineBlock margin-right-10">
            <button (click)="addqualityTierData()" color="theme-red-button">{{btn_name}} Data</button> 
          </div>
      </div>
      </div> -->
    </ng-template>

    <!---Modal Structure start-->
   <ng-template #addContent>
    <div class="modal-header">
      <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">
        My Policy Guidelines
        </h3>
      <button type="button" class="close" aria-label="Close" (click)="closeModalmypolicy()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="MyPolicyform">
        <div class="row no-margin">
            <div class="col-md-12">
              <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-5 colInputHeader verticalEndCenter font-14 required-field">
                        Title:
                        </div>
                      <div class="col-md-7 colInput">
                          <mat-form-field appearance="outline" class="borderInput font-13">
                              <input matInput  formControlName="Add_Title" placeholder="Title">
                            </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4 colInputHeader verticalEndCenter font-14">
                       Upload Doc<span style="color: red;">*</span>:
                        </div>
                        <div class="col-md-7 colInput no-padding-right">
                            <mat-form-field #input appearance="outline" class="borderInput font-13 ">
                                <input matInput readonly formControlName="Uploaded_Document">
                                <mat-error *ngIf="showError && MyPolicyform.get('Upload_Document').hasError('required')">Kindly upload document</mat-error>
                              </mat-form-field> 
                            </div>
                            <div class="col-md-7 verticalCenter">
                                <label matTooltip="{{tooltipText}}" for="file-input123" class="no-margin text-center " color="theme-gray-button" style="cursor: pointer;">
                                    Upload File
                                    <input id="file-input123" #fileInput type="file" (click)="fileInput.value = null" (change)="detectFiles($event)" accept=".pdf" style="display: none;" />
                                </label>
                            </div>
                        </div>
                </div>
                  
                          <div class="row">
                             
                                </div>
                                <div class="row">
                                    </div>
                                  
                  
              </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
        <div class="col text-center">
            <div class="primaryFormBtn disInlineBlock">
                <button class="" (click)="updateMyPloicy()" color="theme-red-button">Update</button>
            </div>
        </div>
       </div>
  </ng-template>
