<div class="col-md-12 no-padding reportsNewLayout height100">
   <mat-card class="no-padding no-shadow height100">
     <div class="col-md-12 no-padding height100">
       <div class="row no-margin headerPanel padding">
         <div class="col-md-6 verticalCenter no-padding-left">
           <h3 class="no-margin themePrimaryColor">{{CategoryName}}</h3>
         </div>
         <div class="col-md-4">
           <div *ngIf="CategoryName == 'Tier II list'"class="verticalEndCenter no-padding-right">
             <mat-form-field appearance="outline" class="borderInput font-13">
                 <input placeholder="Search by vendor name" (keyup)="searchQualityData($event.target.value)" matInput>
             </mat-form-field>
         </div>
         </div>
         <div class="col-md-2 verticalCenter no-padding-right" *ngIf="!showFilter">
           <button matTooltip="Export to Excel" matTooltipPosition="above" (click)="download()"
              color="theme-green-button"  class="text-left">
             <mat-icon class="margin-right-10 excelIcon" svgIcon="excelIcon"  matSuffix></mat-icon>
             Download
             <mat-icon class="pull-right downloadIcon" svgIcon="downloadIcon"></mat-icon>
           </button>
         </div>
       </div>
       <mat-card-content class="padding-horizontal no-margin mainInternalContiner" [ngClass]="CategoryName == 'Change management - Supplier Report'||CategoryName == 'Change management - Admin Report' || CategoryName == 'Change management - Plant wise report' ? 'scrollClass': ''">
         <div *ngIf="!showFilter" class="tableView height100">
           <div
             *ngIf="!showFilter && CategoryName!='Del Sch Adh' &&(CategoryName != 'Change management - Supplier Report' && CategoryName != 'Change management - Admin Report' && CategoryName != 'Change management - Plant wise report'  && CategoryName != 'Tier II list')"
             class="row no-margin margin-bottom-10 filterPanel padding-10">
             <div *ngFor="let data of searchArray|slice:0:4" class="col-md-2 no-padding-right">
               <form [formGroup]="SearchForm">
                 <mat-form-field *ngIf="data.inputType=='Date'" appearance="outline" class="row borderInput font-13"
                   appearance="outline">
                   <input matInput formControlName="{{data.FormFieldName}}" [matDatepicker]="fromDate"
                     placeholder="{{data.FormFieldName}}">
                   <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                   <mat-datepicker #fromDate></mat-datepicker>
                 </mat-form-field>
 
                 <mat-form-field *ngIf="data.inputType=='text'" [ngClass]="CategoryName =='ASN Performance' && data.FormFieldName =='Material' ? 'displayCol':''" appearance="outline" class="row borderInput font-13">
                   <input matInput placeholder="{{data.FormFieldName}}" formControlName="{{data.FormFieldName}}">
                 </mat-form-field>
 
                 <mat-form-field *ngIf="data.inputType=='Select'&& data.FormFieldName=='Reporting Month'"
                   appearance="outline" class="row borderInput font-13">
                   <mat-select placeholder="{{data.FormFieldName}}" formControlName="{{data.FormFieldName}}">
                     <mat-option *ngFor="let data of array1" [value]="data.value">{{data.month}}</mat-option>
                   </mat-select>
                 </mat-form-field>
 
                 <mat-form-field *ngIf="data.inputType=='Select'&& data.FormFieldName=='Reporting Year'"
                   appearance="outline" class="row borderInput font-13">
                   <mat-select placeholder="{{data.FormFieldName}}" formControlName="{{data.FormFieldName}}">
                     <mat-option *ngFor="let data of array2" [value]="data.year">{{data.year}}</mat-option>
                   </mat-select>
                 </mat-form-field>
               </form>
             </div>
             <div class="col-md-3 no-padding-right">
               <div class="vertcalAligment btnBlocks m-r-5">
                 <button color="theme-red-button" (click)="searchReport(0,false,'search')" class="reportSearchBtn">Search</button>
               </div>
               <div class="vertcalAligment btnBlocks">
                 <button (click)="moreFilters()" color="theme-mediumgray-button">More Filter</button>
               </div>
             </div>
           </div>
           <div
             *ngIf="!showFilter && CategoryName!='Del Sch Adh' && (CategoryName != 'Change management - Supplier Report' && CategoryName != 'Change management - Admin Report' && CategoryName != 'Change management - Plant wise report' && CategoryName != 'Tier II list')"
             class="row no-margin tablePanel">
             <div class="example-container tbl_New_Layout">
               <div class="table-container">
                 <table  mat-table class="lessons-table" [dataSource]="DataSource" class="table1">
 
                   <ng-container *ngFor="let disCol of displayedColumns; let colIndex = index" matColumnDef="{{disCol}}">
                     <th mat-header-cell *matHeaderCellDef>{{disCol}}</th>
                     <td mat-cell *matCellDef="let element" class="table-data">
                       {{
                         (disCol.includes('Date')) 
                         ? (CategoryName == 'Short Receipt Quantity')
                           ?  (element[disCol|datasource:colIndex]| date: 'dd/MM/yyyy hh:mm')
                           : (CategoryName != 'Payment Report' && CategoryName != 'Bill Passed-PnP' && CategoryName != 'PO SA Amendments' &&CategoryName != 'R&IR' && CategoryName != 'Retro Credit Note' && CategoryName != 'Retro Debit Note')
                             ?  (element[disCol|datasource:colIndex]| date: 'dd/MM/yyyy')
                             : (element[disCol|datasource:colIndex])
                         : (element[disCol|datasource:colIndex])
                       }}                                       
 
                     </td>
                   </ng-container>
                   <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                   <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                 </table>
             
                 <mat-paginator
                       [length]="pageSize"
                       [pageSize]="10" [pageIndex]="pageNo"
                       (page)="searchReport($event,false,'page')"
                   >
                   </mat-paginator>
                 <div *ngIf="DataSource.length === 0">No records found</div>
               </div>
             </div>
 
           </div>
           <div class="row"
             *ngIf="!showFilter && CategoryName!='Del Sch Adh' && (CategoryName == 'Change management - Supplier Report'||CategoryName == 'Change management - Admin Report' || CategoryName == 'Change management - Plant wise report')">
            
             <div class="col-md-12 ">
               <div class="example-container tbl_New_Layout">
                 <div class="table-container">
                   <table #table mat-table class="lessons-table" [dataSource]="DataSource" class="table2">
 
                     <ng-container *ngFor="let disCol of displayedColumns; let colIndex = index"
                       matColumnDef="{{disCol}}">
                       <th mat-header-cell *matHeaderCellDef><span *ngIf="disCol !='Select'">{{disCol}}</span>
                         <mat-checkbox [(ngModel)]="allChecked" *ngIf="disCol =='Select'" (change)="selectAll($event)">
                         </mat-checkbox>
                       </th>
                       <td mat-cell *matCellDef="let element" class="text-center">
                         <span 
                           *ngIf="disCol !='Select' && disCol !='Action'">{{((disCol.includes('Date')) ? 
                                               (element[disCol|datasource:colIndex]| date: 'dd/MM/yyyy') : 
                                               element[disCol|datasource:colIndex]) ||'NA' }}</span>
                        
                        <div *ngIf="disCol =='Select'" [ngClass]="[element.Flag =='1'? 'approvalStatus':'', element.Flag == '2' ? 'rejectionStatus':'', element.Flag =='' || element.Flag =='null' ? 'actionStatus':'']">   <mat-checkbox *ngIf="disCol =='Select'" [checked]="element.check"
                           (change)="selectData($event, element)"></mat-checkbox></div>
                         <p *ngIf="disCol =='Action'" matTooltip="View" class="no-margin tblLinkBtn"
                           (click)="viewContent(element)">
                           <mat-icon style="width: 18px;" class="margin-right-10 excelIcon" svgIcon="viewIcon" matSuffix>
                           </mat-icon>
                         </p>
                       </td>
                     </ng-container>
                     <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                     <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                   </table>
                   <div *ngIf="DataSource.length === 0">No records found</div>
                 </div>
                 <mat-paginator [length]="pageSize" [pageSize]="10" [pageIndex]="pageNo"
                   (page)="pageEvent = callCMR($event,false)">
                 </mat-paginator>
               </div>
             </div>
           </div>
 
           <div *ngIf="!showFilter && CategoryName=='Del Sch Adh'" class="container-fluid height100 myPolicyGuidelinesPage padding no-padding-bottom">
               <iframe *ngIf="del_sch_adh_url" width="100%" height="100%" [src]="del_sch_adh_url"></iframe>
             </div>
 
 
 
           <div class="row height100" 
             *ngIf="!showFilter && CategoryName == 'Tier II list'">
             
             <div class="col-md-12 height100">
               <div class="example-container tbl_New_Layout height100">
                 <div class="table-container">
                   <table #table mat-table  class="lessons-table" [dataSource]="Tier_II_list_DataSource">
                     <ng-container matColumnDef="ID">
                          <th mat-header-cell *matHeaderCellDef class="text-center">ID</th>
                          <td mat-cell *matCellDef="let element" class="text-center">
                            {{ element.ID || "N/A" }}
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="vendorcode">
                         <th mat-header-cell *matHeaderCellDef class="text-center">Tier I Vendor Code</th>
                         <td mat-cell *matCellDef="let element" class="text-center table-data">
                           {{ element.ParentCode || "N/A" }}
                         </td>
                       </ng-container>
                        <ng-container matColumnDef="VendorName">
                            <th mat-header-cell *matHeaderCellDef>Tier I Vendor Name</th>
                            <td mat-cell *matCellDef="let element" class="text-center table-data">
                              {{ element.VendorName || "N/A" }}
                              </td>
                          </ng-container>
                          <ng-container matColumnDef="comodity">
                           <th mat-header-cell *matHeaderCellDef>Commodity</th>
                           <td mat-cell *matCellDef="let element" class="text-center table-data">
                             {{ element.Commodity || "N/A" }}
                             </td>
                         </ng-container>
                         <ng-container matColumnDef="typofSupplies">
                           <th mat-header-cell *matHeaderCellDef>Type of Supplies</th>
                           <td mat-cell *matCellDef="let element" class="text-center table-data">
                             {{ element.TypeOfSupplies || "N/A" }}
                             </td>
                         </ng-container>
                         <ng-container matColumnDef="vehicleModel">
                           <th mat-header-cell *matHeaderCellDef>Vehicle Model</th>
                           <td mat-cell *matCellDef="let element" class="text-center table-data">
                             {{ element.VehicleModel || "N/A" }}
                             </td>
                         </ng-container>
                         <ng-container matColumnDef="state">
                           <th mat-header-cell *matHeaderCellDef>State</th>
                           <td mat-cell *matCellDef="let element" class="text-center table-data">
                             {{ element.State || "N/A" }}
                             </td>
                         </ng-container>
                         <ng-container matColumnDef="city">
                           <th mat-header-cell *matHeaderCellDef>City</th>
                           <td mat-cell *matCellDef="let element" class="text-center table-data">
                             {{ element.City || "N/A" }}
                             </td>
                         </ng-container>
                         <tr mat-header-row  *matHeaderRowDef="supplierTierdisplayedColumns;sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: supplierTierdisplayedColumns"></tr>
                      </table>
                      <div *ngIf="cs.isUndefinedORNull(Tier_II_list_DataSource)">No records found</div>
                      <!-- </div> -->
                 </div>
                 <mat-paginator [length]="pageSize" [pageSize]="10" [pageIndex]="pageNo"
                   (page)="pageEvent = getqualityTierData($event)">
                 </mat-paginator>
               </div>
             </div>
           </div>
 
 
         </div>
         <div
           *ngIf="showFilter && (CategoryName != 'Change management - Supplier Report' && CategoryName != 'Change management - Admin Report' && CategoryName != 'Change management - Plant wise report' && CategoryName != 'Tier II list')"
           class="filterView height100">
           <div class="row no-margin margin-bottom-10 filterPanel padding-10">
             <div class="col-md-6 offset-md-3">
               <div class="row">
                 <div class="col-md-5 colInputHeader verticalEndCenter font-13">
                   <p class="no-margin">Select Variant :</p>
                 </div>
                 <div class="col-md-7 colInput">
                   <mat-form-field appearance="outline" class="borderInput font-13">
                     <mat-select (selectionChange)="getVarientReportByID()" [(ngModel)]="VarientDropDownValue">
                       <mat-option *ngFor="let data of varientDDLValue" [value]="data.VariantId">{{data.VariantName}}
                       </mat-option>
                       <!-- <mat-option value="8">option 1</mat-option> -->
                     </mat-select>
                   </mat-form-field>
                 </div>
               </div>
             </div>
           </div>
           <div class="row no-margin inputPanel">
             <mat-card class="no-shadow width100 no-padding height100">
               <mat-card-content class="no-margin">
                 <app-report-filter #filterReport></app-report-filter>
               </mat-card-content>
               <mat-card-footer class="padding verticalMiddleCenter no-margin">
                 <div class="col text-center">
                   <div class="primaryBtn disInlineBlock margin-right-10">
                     <button (click)="ResetForm()" color="theme-gray-button">Reset</button>
                   </div>
                   <div *ngIf="VarientDropDownValue" class="primaryBtn disInlineBlock margin-right-10">
                     <button (click)="deleteVarientReport()" color="theme-darkgray-button">Delete</button>
                   </div>
                   <div *ngIf="VarientDropDownValue == ''" class="primaryBtn disInlineBlock margin-right-10">
                     <button class="" color="theme-darkgray-button" (click)="open(addVariant)">Save</button>
                   </div>
                   <div *ngIf="VarientDropDownValue" class="primaryBtn disInlineBlock margin-right-10">
                     <button color="theme-darkgray-button" (click)="updateVarientDeatils()">Update</button>
                   </div>
                   <div (click)="getFilterData()" class="primaryFormBtn disInlineBlock">
                     <button type="submit" color="theme-red-button">Submit</button>
                   </div>
                 </div>
               </mat-card-footer>
             </mat-card>
           </div>
         </div>
       </mat-card-content>
     </div>
   </mat-card>
 </div>
 <!-- </div>
 </div> -->
 <!---Modal Structure start-->
 <ng-template #addVariant>
   <div class="modal-header">
     <h3 class="modal-title themePrimaryColor fontW-600" id="modal-basic-title">
       Add Variant
     </h3>
     <button type="button" class="close" aria-label="Close" (click)="closeModal()">
       <mat-icon>close</mat-icon>
     </button>
   </div>
   <div class="modal-body">
     <div class="row no-margin">
       <div class="col-md-12 no-paddinng">
         <div class="row">
           <div class="col-md-4 colInputHeader verticalEndCenter font-14">
             Variant:
           </div>
           <div class="col-md-8 colInput">
             <mat-form-field appearance="outline" class="borderInput font-13">
               <input matInput [(ngModel)]="VariantName">
             </mat-form-field>
           </div>
         </div>
       </div>
     </div>
   </div>
   <div class="modal-footer">
     <div class="col text-center no-padding">
       <div class="col-md-6 offset-md-3">
         <button (click)="saveVarientReport()" color="theme-red-button">Add</button>
       </div>
     </div>
   </div>
 </ng-template>
 <!---Modal Structure stop-->