@import '../../variable.scss';
.reportsNewLayout{
    .headerPanel{
        button{
            .mat-icon{
                height: 17px !important;
                width: 17px !important;
            }
            .downloadIcon{
                height: 12px !important;
                width: 12px !important;
            }
        }
    }
    .table-data{
        white-space: nowrap;
    }
    .mainInternalContiner{
        height: calc(100% - 51px);
        .tableView{
            .filterPanel{
                background-image: url(/assets/img/report/Report_searchtopbg.jpg);
                background-size: 100% 100%;
                .btnBlocks{
                    width: 47%;
                    display: inline-block;
                  }
                  .m-r-5{ margin-right: 5% !important;} 
                  .reportSearchBtn{
                    background-color: $color-yellow-default !important;
                    border: 1px solid $color-yellow-default !important;
                    color: #827200 !important;
                }
            }
            .tablePanel{
                height: calc(100% - 74px);
                .example-container.tbl_New_Layout .table-container {
                    height: 45vh;
                  }
            }
        }
   .filterView{
    .filterPanel{
        background-image: url(/assets/img/report/Report_innertopbg.jpg);
        background-size: 100% 100%;
    }
    .inputPanel{
        height: calc(100% - 73px); 
        mat-card{
            mat-card-content{
                height: 80%;
                overflow-y: scroll;
            }
            mat-card-footer{
                height: 20%;
            }
        } 
    }
   }
   
    }
 p{color: #fff;}
   .borderInput{
         ::ng-deep .mat-form-field-infix{border-top: 0px !important;}
        ::ng-deep .mat-form-field-wrapper{padding-bottom: 0px;}
        } 
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: rgba(0,0,0,.12); }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end{border-width: 1px !important;}
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start{border-width: 1px !important;}
        /deep/.mat-select-arrow-wrapper{
          display: flex;
          align-items: center;
          justify-content: center;
        }
        /deep/.mat-form-field-appearance-outline .mat-form-field-outline{
            background:#fff;
          }

          .example-container.tbl_New_Layout .table-container{
              height: 95%;
          }
      
          
}
.scrollClass{
    overflow: scroll;
}
.approvalStatus{
    background-color: green;
    height: 20px;
    width: 21px;
    /deep/ .mat-checkbox-frame { 
        border-color:green; 
    }
  }
  .rejectionStatus{
    background-color: red;
    height: 20px;
    width: 21px;
    /deep/ .mat-checkbox-frame { 
        border-color:red; 
    }
  }
  .displayCol
  {
      display: none;
  }
  .actionStatus{
      background-color: #c4c0c0;
      height: 20px;
      width: 21px;
      /deep/ .mat-checkbox-frame { 
        border-color: #c4c0c0; 
    }
  }
  /deep/.example-container.tbl_New_Layout mat-checkbox label{
      background: white !important;
  }

:host /deep/ .mat-checkbox-inner-container{
    height:13px;
    width:15px; 
}